[2019-01-30 01:49] LewisPringle opened #720 "quickstarts/excel-quickstart-vue certificate problem"
I tried following your instructions.

They read: "In a web browser, navigate to https://localhost:8080. If your browser indicates that the site's certificate is not trusted, you will need to configure your computer to trust the certificate."

When I run
   curl -v https://localhost:8080/
I get:
curl: (77) schannel: next InitializeSecurityContext failed: SEC_E_UNTRUSTED_ROOT (0x80090325) - The cert

[2019-01-30 05:45] danjyoung commented on #687
@mscharlock - I believe @AjitHogade was asking specifically for a complete example of a MobileFormFactor manifest snippet. Is the mobile the same as desktop just different namespace to provide different values for the same declarations?

[2019-01-30 21:32] richnew10 opened #721 "Document required CSP values"
"Content Security Policy (CSP) is a computer security standard introduced to prevent cross-site scripting (XSS), clickjacking and other code injection attacks resulting from execution of malicious content in the trusted web page context."

https://en.wikipedia.org/wiki/Content_Security_Policy

A site with a CSP tag — which, ideally, should be every site — should whitelist individual domains that a

[2019-01-30 22:15] AlexJerabek commented on #720
Hi @LewisPringle,

I'm sorry to hear you're having problems with the quick start. Here are the steps for [Adding Self-Signed Certificates as Trusted Root Certificate](https://github.com/OfficeDev/generator-office/blob/master/src/docs/ssl.md). We seem to have links to that article in the [jQuery quick start](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tab

[2019-01-30 23:39] AlexJerabek commented on #720
@LewisPringle, Ignore my previous advice. the certificates are generated differently in the vue quick start. I'm researching the correct guidance now.

[2019-01-31 00:46] AlexJerabek commented on #720
@LewisPringle If you are using Windows, [these steps from an older guide](https://github.com/OfficeDev/generator-office/blob/fd600bbe00747e64aa5efb9846295a3f66d428aa/src/docs/ssl.md#add-certification-file-through-ie) should get the certificates trusted and unblock you.

Please let me know if that solves your problem. Thanks!

[2019-01-31 09:49] OSjoerdWie commented on #674
@yuyueugene84 Could it be that you did not trust the certificate? Without executing the step, I was able to open the add-in. The panel on the left indicated that it couldn't load the page, but after accepting the fact that the certificate was not valid, it proceeded. However, at that stage, the =CONTOSO didn't work for me either. After adding the certificate all went fine.

[2019-01-31 09:56] OSjoerdWie opened #724 "Example functions return #N/A"
Prebuilt custom function does not seem to work.

## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows

## Issue
Following the steps until **Try out a prebuilt custom function** went successful. However, after entering =CONTOSO.ADD(10;200) the result went from "#GETTING DATA"  to "#N/A" instead of 210

[2019-02-01 15:01] marcorocca1973 opened #726 "Custom Functions Already Exist"
Hi All
i try to create custom functions with visual studio code and Office.js
All works… but in my environment after I finish my debug session… when I open Excel i continue to see my custom function (all node batch are closed).
I do not understand what happens…
Where custom functions are locally saved?
Can you help me?
Thanks
Marco

[2019-02-01 16:01] keyur32 commented on #726
Hi there, can you clarify what tool your are using to debug and how? Debugging itself for custom functions won’t be enabled for a few weeks so curious what your are doing today :)

Custom functions are cached for performance and the JavaScript is saved be Microsoft/office/16.0/WEF folder in your %APPDATALOCAL%

[2019-02-02 23:37] marcorocca1973 commented on #726
Hi
I realized that I expressed myself not very clearly :(
 As "debug" I meant... realize add-ins with Visual Studio Code and try it with command "npm run start" that sideloads my custom function into "temp" Excel file.
Thanks for the clarification regarding the cache, works perfectly!

[2019-02-02 23:37] #726 closed

[2019-02-05 10:58] ATrogolo opened #733 "Method set not available in Range APIs"
The example shown in the section **Loading the properties of an object** has a method _set()_ which is not available in Range APIs.
[code]
Could you fix the example?

Andrea

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: 705a8460-d773-7a5d-cfcf-e6e368497631
* Version Independent ID: 8

[2019-02-05 17:02] ElizabethSamuel-MSFT commented on #733
@AlexJerabek: Can you take a look? Thx.

[2019-02-06 01:32] Rick-Kirkham commented on #733
@ATrogolo That method was left out of the reference article for Range, but it is supported on Range. We've fixed the reference and you should see the fix in the next couple of days.

[2019-02-06 01:32] #733 closed

[2019-02-06 17:40] keyur32 commented on #724
Hi there, you may be hitting a known issue here: https://github.com/OfficeDev/Excel-Custom-Functions/issues/101  (we'll update when it is resolved, later this week. Sorry for the inconvenience!)

[2019-02-06 22:29] mscharlock commented on #714
Fixed in a recent PR!

[2019-02-06 22:29] #714 closed

[2019-02-06 22:32] mscharlock commented on #687
@danjyoung thanks for the input on this - definitely helped me get some clarity about the original question.

@AjitHogade it’s by design that XML examples in manifest element reference articles like [MobileFormFactor element]( https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/mobileformfactor) contain only the XML markup to demonstrate the structure of that particular element

[2019-02-07 09:04] piyush18 opened #739 "How to change the Excel web add ins pane width"
How to change the Excel web add ins pane width

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af787b7c-c69c-762b-59c8-53bda7a56024
* Version Independent ID: 805c4596-7aff-f93a-bf35-61c01d570742
* Content: [RequestedWidth element in the manifest file - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/

[2019-02-07 16:19] kbrandl commented on #739
@piyush18 it's not currently possible to specify the width of a task pane. If you haven't already done so, can you please upvote this [feature request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/8892379-adjust-taskpane-width) on UserVoice? (The product team considers UserVoice requests when prioritizing future enhancements to Office JS.) And in the me

[2019-02-07 16:19] #739 closed

[2019-02-07 16:21] kbrandl commented on #724
@OSjoerdWie and @keyur32 FYI, I'm moving this issue to the **OfficeDev/Excel-Custom-Functions** repository (where custom functions issues are tracked).

[2019-02-07 16:24] kbrandl commented on #720
@LewisPringle thanks for the update; glad to hear that you're unblocked. I'm going to close this issue, as we've created an internal work item (2907215) to track the need to update the Vue quick start article with info about how to trust the cert.

[2019-02-07 16:35] kbrandl commented on #687
@AjitHogade I'm going to close this issue, since @mscharlock has provided guidance for you. Please feel free to comment again here if you need further info. Thanks!

[2019-02-07 16:35] #687 closed

[2019-02-07 16:38] kbrandl commented on #674
@yuyueugene84 I'm going to close this issue, since we haven't heard from you in several weeks. If you're still having trouble with this, please comment again here so that we can reopen this issue and assist further. Thanks!

[2019-02-08 07:25] tstojecki commented on #634
@kbrandl is there a roadmap for when this might be coming out of preview? It has been a couple of months and I am wondering if the team can provide an update.

[2019-02-08 15:33] kbrandl commented on #634
@tstojecki I'm unable to provide a timeline for general availability (GA) of SSO; however, I happen to know that the SSO PM will be presenting about this feature at one of the upcoming Office Add-ins Community Calls. I'm not sure if he'll be discussing the timeline for GA, but regardless, if you're interested in this feature you might consider attending the call. You can use this link to download

[2019-02-08 17:11] niteshgolchha85 commented on #634
Thanks @kbrandl. @tstojecki I'm the PM driving SSO efforts. Can you clarify what do you mean by the 'standard SSO dialog'? The only dialog that you will see with SSO is consent. Although not optimal, you can use dialog API and have your own implementation of adal/msal.js to sign-in users and that will also show the consent dialog.

A bit of history: We did go live with SSO earlier and some partner

[2019-02-09 01:31] Rick-Kirkham commented on #709
@user135711
Sorry we didn't get to this earlier. I'm researching but I think this is an error in the article.

UPDATE:
It is an error. All the text about cookies in that section is mistaken or irrelevant. A fixed version will be published in the next few days.

[2019-02-09 02:06] Rick-Kirkham commented on #709
The source text is fixed. Next republish is scheduled for Tues night, Redmond, WA time; but a snow storm now underway in Redmond may delay things next week.

[2019-02-09 02:06] #709 closed

[2019-02-10 01:40] Blacksmoke16 commented on #674
I can confirm it isn't showing up for me either.  However I tried it in Excel Online and it worked there.  The cert is trusted following the directions here:   https://github.com/OfficeDev/generator-office/blob/master/src/docs/ssl.md

Running `npm run start` successfully compiles, sideload task exists with code 0 and starts Excel.  This shows a sidebar saying "Thanks for trying custom functions."

[2019-02-10 19:41] andrewkhramov opened #745 "Parameter eventResult.context is used in Excel.run function, what is the reason behind that?"
Dear Team!

My question is related to the article about removing event handlers, available by link
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-events#remove-an-event-handler

In order to remove event listener in function Excel.run additional parameter eventResult.context is used, where eventResult is a global variable. What is the reason behind that and where I can find

[2019-02-11 14:45] kbrandl commented on #674
@Blacksmoke16 thanks for reaching out. I'm going to re-open this issue and transfer it to the **OfficeDev/Excel-Custom-Functions** repository, where custom functions issues like this are tracked.

[2019-02-11 20:09] AlexJerabek commented on #745
Hi @andrewkhramov,

Thank you for your question. You can find the `Excel.run` reference section [here](https://docs.microsoft.com/javascript/api/excel?view=office-js#run-context--batch-), in our API reference documentation.

The [context parameter](https://docs.microsoft.com/javascript/api/office/officeextension.clientrequestcontext?view=office-js) acts as a intermediary between your add-in and th

[2019-02-11 20:09] #745 closed

[2019-02-11 20:20] Rick-Kirkham commented on #745
@andrewkhramov Our reference for the `Excel.run` method is waaaaaay down at the bottom of this article: [Excel](https://docs.microsoft.com/en-us/javascript/api/excel?view=office-js).

To remove the handler, it is necessary that the `Excel.run` in the removal function is using the same **ClientRequestContext** object that it was using when the handler was registered.

[2019-02-12 07:53] andrewkhramov commented on #745
Thanks @AlexJerabek, for the prompt answer! Could you please, specify what is happening with context if the following signature of the run method is used
run<T>(batch: (context: Excel.RequestContext) => Promise<T>): Promise<T>;
Will it be created from scratch?
Does it make sense to reuse context (by saving context in global variable and passing it to run method) in long running tasks, for example

[2019-02-12 20:07] AlexJerabek commented on #745
Hi @andrewkhramov,

The context is created from scratch in that case. You're providing `run` a function to use with a context. If you pass one in, it'll use that. Otherwise, it creates a new one.

In general, we recommend using a new context each time. You'll rarely have to track objects between calls to `run`. You can make web calls from within `Excel.run`, so you only need to preserve the ranges

[2019-02-12 20:25] sergiubucur commented on #634
@niteshgolchha85 Hi. Did you mean "we have a strict policy to **not** allow any SSO-enabled add-in to the store"? I'm asking because since a week or two ago we've suddenly been unable to deploy our SSO-enabled manifests into Office 365 (via Centralized Deployment). The deployment process continues to work fine for non-SSO manifests. Thank you!

[2019-02-12 20:57] kbrandl commented on #634
@sergiubucur I believe that was a typo in @niteshgolchha85's earlier comment. I've edited that comment to fix that typo (i.e. changing **now allow** to **not allow**).

[2019-02-12 22:13] Rick-Kirkham commented on #745
@andrewkhramov @AlexJerabek I believe that you can only remove a handler like this with the same context object that was used when it was registered. I think that's why it needs to be global relative to both the registration and the removal functions.

[2019-02-15 22:46] CelticCoder opened #753 "Tell developers to join the office dev program"
https://developer.microsoft.com/en-us/office/dev-program stop suggesting getting a 1 month trial for dev, this is not correct. Join the office developer program to get a license to do your development and experiment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e380a7-6e2e-ada8-d297-3fd5018a1958
* Version Independen

[2019-02-15 23:54] lindalu-MSFT commented on #753
@CelticCoder @Reezaali Fixed and merged to live.

[2019-02-15 23:54] #753 closed

[2019-02-15 23:56] lindalu-MSFT commented on #753
Note that this fix was in an include file so it was update in all places! Thanks for catching this, Keith!

[2019-02-17 01:54] logicaloud opened #760 "Documentation says that custom function names should only contain letters but dots work as well"
Dots are useful and are used elsewhere in Excel function names. Should the documentation be updated to indicate that dots may also be used in function names (i.e. 'Increment.ByTwo') or will dots stop working at some point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f56cdefe-9a9e-fb95-51d1-02a8c519b03c
* Version Ind

[2019-02-18 15:51] sancarn commented on #584
[Open office has javascript capability](https://www.openoffice.org/framework/scripting/release-0.2/javascript-devguide.html) Might be possible to build a OfficeJS wrapper for open office. That'd provide a pretty good testing ground for developers at least.

[2019-02-19 04:30] glr0221 opened #762 "In Office365, Addin Icons are also affected by IE settings."
@kbrandl sorry for the mention, but this is another issue we are experiencing right now with Outlook-Office365, with certain settings enabled for IE.

Currently, we are seeing issues with icons in Outlook Office365. Our Outlook office365 is not showing the right icons for any of our command button add-ins. The image below shows the issue we are seeing :
![outlook365missingicons](https://user-image

[2019-02-19 10:45] Motta23 opened #763 "More info about PowerPoint namespace (or examples)"
The example about creating a new presentation by using the PowerPoint namespace (PowerPoint.createPresentation()) comes a bit out of the blue. Is there more info about other cool things you can do with PowerPoint.methodExample()?

A reference to another doc would be really appreciated. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-02-19 17:14] mattcopas commented on #584
+1 - some guidelines/examples on unit testing would be much appreciated :)

[2019-02-19 18:26] AlexJerabek commented on #763
Hi @Motta23,

Thanks for you interest in Office add-ins. Currently, `createPresentation` is the only PowerPoint-specific function in the JavaScript API. You can build add-ins to work with PowerPoint using the "[Common API](https://docs.microsoft.com/javascript/api/office?view=office-js)" ([as shown here](https://docs.microsoft.com/office/dev/add-ins/powerpoint/powerpoint-add-ins?view=office-js).)

[2019-02-19 18:26] #763 closed

[2019-02-20 12:14] tokardaniel opened #768 "Excel is not defined"
I try it, but when I select cells and click "set color" button nothing happens. When i click the button showing the following error message in the console: Excel is not defined.
I use Office 2013.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Version Independent ID: d946ffe6-f29f

[2019-02-20 17:06] 4tti opened #769 "Confusing information about API support"
Hi,
there are incomplete and confusing information on this page.
1. At the top there is 'Note' which is confusing, it appear like that one specific version has that limitation but actually the limitation is for whole Office 2016 (non Office365 subscription)
2. Later the API versions are referencing Office 2016 but again it is incorrect as it actually is for Office365 - at least based on our invest

[2019-02-20 18:26] Rick-Kirkham commented on #769
Thanks for raising this issue @4tti . We are investigating.

[2019-02-20 18:35] kbrandl commented on #768
@tokardaniel sorry to hear that you're having this problem. I'm not able to reproduce the issue that you've described. Typically the error message `Excel is not defined` occurs either when you're trying to call Excel JavaScript APIs before the initialization of Office is complete, or when you're loading the add-in web application outside the context of Excel (e.g., within a web browser). These two

[2019-02-20 19:20] kbrandl commented on #768
@tokardaniel I just re-read your issue description and noticed that you're using Office 2013. The quick start that you're attempting to complete requires that you use Office 2016 or later (as described in the Prerequisites section of that article). The `Excel is not defined` error that you're seeing is caused by the fact that the Excel-specific APIs used by the code in this quick start are not ava

[2019-02-20 19:20] #768 closed

[2019-02-20 21:30] tokardaniel commented on #768
I see. Thank you for the answer.

[2019-02-20 22:04] AlexJerabek commented on #769
Hi @4tti,

Thanks for the feedback. We've updated the documentation with PR #771. That change will be pushed to the live branch soon.

I'll close the issue for now. If there's anything else, please comment on this thread and I'll reopen the issue.

[2019-02-20 22:04] #769 closed

[2019-02-21 19:22] mscharlock commented on #760
Hi @logicaloud: Yes, dots do work as you point out and (good news!) they will continue to work in the future! We will be publishing some updated info on naming very shortly in a separate "naming guidelines" article. I will go ahead and update this conversation with that link once the article publishes. Let me know if there's anything else I can assist with!

[2019-02-21 19:25] logicaloud commented on #760
That's great! Thank you.

[2019-02-21 22:06] adem opened #774 "Content disparity regarding clients and supported API requirements sets"
Hi,

As of today, Outlook on the Web is listed as only supporting up to requirements set 1.6 while the following page (assuming that Outlook on the Web == Outlook Online) lists it as supporting requirements set 1.7 as well: https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability#outlook
Where should I look in order to be up-to-date regarding the supported API requir

[2019-02-22 07:21] vv7v7 opened #776 "Document requires objects' gathering examples"
Dear Developers,

Please, could you add some examples of gathering such objects as charts, shapes(not a text values) etc. i.e. as base64 values of images rendered. For example, we can get them from context.document.body.getHtml(), but this will give us only images(their src attribs), but not their content to show/send/modify.

Thank you very much,
Best regards

[2019-02-22 18:37] mscharlock commented on #760
@logicaloud [Here you go!](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-naming) I am in the process of fixing our custom functions overview article to reflect the changes in this new naming guidelines article - but for now, the naming guidelines article is the source of truth. :) Let me know if you need anything else or have other questions, happy to help.

[2019-02-22 18:38] AlexJerabek commented on #776
Hi @vv7v7,

Thanks for sharing your needs for Office-js examples. Today in Excel, only Charts can be returned as image strings. [Here's the method for charts and a small example](https://docs.microsoft.com/javascript/api/excel/excel.chart?view=office-js#getimage-width--height--fittingmode-).

We're adding [Shape](https://docs.microsoft.com/javascript/api/excel/excel.shape?view=office-js) support i

[2019-02-22 21:06] ElizabethSamuel-MSFT commented on #774
Thanks for the feedback, we will update our documentation to be clearer as well. We are in the process of releasing a [new version](https://support.office.com/article/get-help-with-the-new-outlook-on-the-web-017014cd-2ad0-41ab-8473-6bd8c349d4f8) of Old Outlook for Web (OWA). New OWA is live for Outlook.com accounts and is available to all enterprise customers as beta. As such we are making investm

[2019-02-22 21:15] adem commented on #774
Great, thanks for the feedback as well!

[2019-02-25 18:16] mscharlock commented on #760
Just a heads up, I'm going to close this issue - but happy to re-open it if you need anything else. Thanks!

[2019-02-25 18:16] #760 closed

[2019-02-26 06:38] weird-dreams opened #821 "Office TaskPane Add In: could not be installed in restricted environment"
Our client wants to install our office add-in at a very restricted environment (group policies and network).
The are not able to use the Office Store - so they tried to use a App Source document for installation.
The add in could not be installed - they get this error (german):
![image](https://user-images.githubusercontent.com/11518242/53392204-fc2b0200-3998-11e9-9694-d1ac24cbf6c8.png)
which mean

[2019-02-26 14:24] paulwib opened #781 "Not clear where manifest Requirements element goes or how to specify Word 2016 or above"
In [this article](https://docs.microsoft.com/en-gb/office/dev/add-ins/develop/specify-office-hosts-and-api-requirements) it doesn't mention where the `<Requirements>` element goes in the manifest. The [Requirements element docs](https://docs.microsoft.com/en-gb/office/dev/add-ins/reference/manifest/requirements) say it should be "Contained in" `<OfficeApp>` but when I do that and run it through th

[2019-02-26 15:33] 4tti opened #782 "Request samples missing"
Hi,

I am missing here complete and detailed sample how to use fetch request and xhr request.
There is piece of code for the xhr sample but the context is missing. Maybe it would be sufficient to just reference some GitHub sample.
Fetch request example is missing completely.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-02-26 17:26] Rick-Kirkham commented on #781
@paulwib That error can mean that the element is simply in the wrong order relative to its peers in the parent element. Ideally our reference for manifest elements should specify this. In the meantime, we've provided this article: [Manifest element ordering](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/manifest-element-ordering). Please see if it helps.

[2019-02-26 19:49] mscharlock commented on #782
Hi @4tti - Thanks for alerting me to this! I will go ahead and look into getting a sample updated for this section of our documentation.
In the meantime, I believe there is a fetch example in the [Custom Functions tutorial,](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows) which could be helpful while I update the docs. Additi

[2019-02-26 21:53] gajal123 opened #785 "adding Comment changes formatting"
0

1
I have created a word addin for data annotation. It allows the customer to select a piece of data and enter a comment in the addin input box. It basically uses Javascript to add comments.xml package part, relationship and the comment reference in the word xml. Finally when i do setSelectedDataAsync, the comment adds fine but the numbering of elements changes.

The cause seems to be the pPr nu

[2019-02-27 09:34] paulwib commented on #781
Thanks @Rick-Kirkham, very useful article. Couldn't quite follow the XSD, but figured out the right sequence by trial and error :)

For me the solution was to put the `Requirements` element after the `Hosts` element as a child of `OfficeApp`.

[2019-02-27 10:06] 4tti commented on #782
@mscharlock  Thank you.
Just and idea -  could you please also provide samples for different methods than GET, e.g. POST?

[2019-02-27 15:03] vyasrao22 commented on #446
@kbrandl I am developing an office addin with Excel and using Yo Office. I am able to do npm start but however the webpack prod mode is giving some issues on es2015, regenerator runtime. I solved this by setting preset as es2015 however, still not able to solve the below error.
``E:\ADDIN\bfm\models\dist\app.js:32
function(t){var e,n,r,o,i,s,u,a,c,l,f,p,d,h,v,y,g,m,b,x="sizzle"+1*new Date,w=t.docu

[2019-02-27 15:07] vyasrao22 opened #787 "YO Office plugin, webpack PROD mode"
In the office documentation, there is no proper help on running the ADD IN In prod mode using webpack.

Everything works great in the Dev mode in WEBPACK, but when running using node on the prod mode with webpack, I am facing issues with es2015 regererator runtime and DOM - document reference error.

The YO OFFICE plugin does not work in prod mode.

please help.

[2019-02-27 16:27] #781 closed

[2019-02-27 18:51] davidchesnut opened #788 "Document npx commands for how to enable runtime logging"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest?view=office-js#use-runtime-logging-to-debug-your-add-in

## Issue
This article shows how to edit the registry to enable runtime logging for your addin. But an easier way is to use the npx command as follows.

Display whether runtime logging is enabled:    npx office-addin-dev-settings runtime-log
Enabl

[2019-02-27 18:56] kbrandl commented on #787
@vyasrao22 sorry to hear that you've run into this problem. I'm going to transfer this issue to the **OfficeDev/generator-office** repository, which the folks who build/manage Yo Office monitor for issues like this. I'll watch this issue there and will update the docs if necessary, according to the feedback that's provided by **OfficeDev/generator-office** maintainers.

[2019-02-27 18:59] kbrandl commented on #446
@vyasrao22 sorry to hear that you're running into this problem. I'm going to reopen this issue and transfer it to the **OfficeDev/generator-office** repository, which the folks who build/manage Yo Office monitor for issues like this.

[2019-02-27 19:06] kbrandl commented on #446
@vyasrao22 actually, since you've logged a (new/separate) issue about this problem (https://github.com/OfficeDev/office-js-docs-pr/issues/787) I'm going to close this issue and won't be transferring it to **OfficeDev/generator-office** as I previously indicated. I'll transfer the other issue that repo though, and you should receive feedback from the product team there.

[2019-02-27 19:06] #446 closed

[2019-02-28 09:23] z3r0-on3 opened #789 "Support for JS"
I have a href="javascript:history.back()" callback in our feature, its not working on ppt, works only if I enter with the browser to powerpoint, anything I can do to fix it? All I want is window.history.back() to work, is it possible?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a89144-ac19-b28e-2842-5e2cbdb1cb00

[2019-03-01 00:29] jcjolley opened #791 "Schemas URI wrong"
A GET request to http://schemas.microsoft.com/office/appforoffice/1.1 returns:
"The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

Where are they saved now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06f7f7e8-5b8a-e257-74be-77b47f048503
* Version Independent ID

[2019-03-01 01:44] Rick-Kirkham commented on #791
This is normal. XML namespace names take the form of a URL, but are usually not actual URLs. They function as a structured name. The actual XSD files that define the schemas are found at: https://github.com/OfficeDev/office-js-docs-pr/tree/master/docs/overview/schemas

[2019-03-01 01:44] #791 closed

[2019-03-01 06:26] eldargum opened #793 "sheets.addFromBase64 doesn't work in excel online"
Hi! I like this feature in Excel Desktop, but when  I try to use it in Excel Online, this feature does not work. Also Script Lab example does not achieve the result.
![image](https://user-images.githubusercontent.com/17123278/53620407-ab274200-3c14-11e9-9af6-38e1d4b06764.png)

[2019-03-01 16:55] tejeshm opened #794 "Is Microsoft Office necessary for debugging with Safari Web Inspector"
I am using standalone Excel v-16.22 on High Sierra v-10.13.1.
I enabled OfficeWebAddinDeveloperExtras for excel but still cannot see the option to inspect element on add-in. What am i missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be179784-5839-3e8f-c131-1f4d89808b03
* Version Independent ID: 69bca101-91a2-3a5

[2019-03-01 17:26] jcjolley commented on #791
Well that's embarrassing.  Sorry for the noise.

[2019-03-02 04:05] fitojb opened #798 "The color palette is out of date"
The color palette given in this page doesn’t match the the refreshed one developed for Office 365’s iconography. https://fluentfabric.azurewebsites.net/#/color/shared

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5107ee19-7eee-237c-d18b-324f26cdece4
* Version Independent ID: 19466ab5-cb52-e947-e4a1-0757d6675d51
* Cont

[2019-03-03 00:42] Rick-Kirkham commented on #798
This is actually by design. The icons in Add-in commands are not rendered with Fabric and deliberately use a different palette from the Fabric shared colors palette. I've added a note about this to the article and it should be published next Tuesday evening Pacific (USA) time zone. See [PR 799](https://github.com/OfficeDev/office-js-docs-pr/pull/799)

[2019-03-03 00:42] #798 closed

[2019-03-05 10:25] gidven opened #800 "Dead link in-text"
Under the header Extension points for Excel only, the link labelled "This XML code sample" returns a 404. The GitHub repo seems to have moved/changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e092f1-aa6a-45b5-50ce-a1afca772776
* Version Independent ID: fa9c31b7-b63a-9867-f298-4d579b899c30
* Content: [ExtensionP

[2019-03-05 22:32] kbrandl commented on #800
@gidven thank you for reporting this problem. The link will be fixed in the live docs later this week when PR #802 is merged and the docs are refreshed. In the meantime, here's the correct URL for that link: https://github.com/OfficeDev/Excel-Custom-Functions/blob/master/manifest.xml.

[2019-03-05 23:38] kbrandl commented on #789
@z3r0-on3 thanks for your interest in Office Add-ins development. If you haven't already done so, I'd recommend that you post this question to Stack Overflow, tagged with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag.

Issues here in the **OfficeDev/office-js-docs-pr** GitHub repository are intended for reporting problems with the API *documentation*; how-to questions a

[2019-03-05 23:38] #789 closed

[2019-03-05 23:58] kbrandl commented on #794
@tejeshm seems like [this content](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#debugging-with-safari-web-inspector-on-a-mac) from the article addresses the question that you've posed in the title of this issue: "Is Microsoft Office necessary for debugging with Safari Web Inspector?"

`To be able to debug Office Add-ins on Mac, you must have Mac

[2019-03-07 00:57] davidchesnut commented on #678
Hi @Alex-Mann I created a PR to update the page with simpler steps. Details at https://github.com/OfficeDev/generator-office/pull/423

However I noticed you got this to work without using the keychain. I couldn't find a way to do that. Can you provide more info on how to do that? Thanks!

[2019-03-07 09:57] baoduy opened #807 "Create Add-in for all Excel, Word, PowerPoint and Outlook"
Hello,
How could I create a React Add-in for all Word, Excel, PowerPoint and Outlook?

Thanks and Regards
Duy

[2019-03-07 17:25] Rick-Kirkham commented on #807
@baoday Thanks for your interest in Office add-ins. We use the issues of this repo to track problems with the documentation. Please raise this technical question on StackOverflow. That way the whole community will benefit from the answers that you get.

[2019-03-07 17:25] #807 closed

[2019-03-07 20:38] #774 closed

[2019-03-08 01:45] baoduy commented on #807
Hi @Rick-Kirkham
Thanks for your answer. I have post the question to StackOverflown [here ](https://stackoverflow.com/questions/55055564/create-react-add-ins-for-office-2019-and-365)

[2019-03-09 19:20] tejeshm commented on #794
Rather than downloading the Office i started using office online for debugging the add-in and it is working perfectly for me. Thank you

[2019-03-09 19:42] kbrandl commented on #794
@tejeshm thanks for the update -- happy to hear everything's working well for you now.

[2019-03-09 19:42] #794 closed

[2019-03-10 18:50] DragoCubed commented on #798
Why are they different?

[2019-03-10 21:41] Rick-Kirkham commented on #798
@DragoCubed The icons in Add-in Commands have to conform to the color scheme of the Office host application, which is an older design paradigm from Fabric.

[2019-03-11 08:09] AlvinNiu opened #810 "how to increase the speed of loading office.js"
## Article URL

## Issue

 My customer use Excel Add In  in China,but this is very slowly,because of the office.js.Can I improve the speed of loading office.js

[2019-03-11 23:33] jonaskampe opened #816 "Power pivots and data model"
What is the support for power pivots and their data models?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf942d54-3ee5-2476-e11f-0b658e0bb189
* Version Independent ID: 2a671958-54a3-f477-6624-f2bdc7c133e5
* Content: [Work with PivotTables using the Excel JavaScript API - Office Add-ins](https://docs.microsoft.com/en-

[2019-03-11 23:36] AlexJerabek commented on #816
Hi @jonaskampe,
Thanks for your interest in Excel API support. I'll reach out to the product team and find an answer for you.

[2019-03-13 08:10] 4tti opened #820 "Allow localhost loopback is required also for Custom Functions"
Hi,

recently we had issues with Custom Functions Runtime (CFR), it was not sending xhr/fetch requests and after some research we found out that actually the root cause is that CFR is UWP app like sandbox (at least that is what we think) and as a result the custom functions is not working on the same machine where actual addin service is hosted. Developer must enable the localhost loopback and it

[2019-03-13 17:41] kbrandl commented on #820
@4tti thanks for providing this feedback; we'll look into incorporating this information into the custom functions docs as you've suggested.

(@mscharlock and @davidchesnut FYI, assigning this to you.)

[2019-03-13 18:07] mscharlock commented on #820
Hi @4tti - Thanks for the feedback, as @kbrandl mentioned we will integrate this into our custom functions docs. In the meantime, you might want to look at [this support article](https://support.microsoft.com/en-us/help/4490419/local-loopback-exemption-does-not-work) which addresses this problem.

[2019-03-13 20:05] shirbr510 commented on #584
I tried mocking Office with some sort of an `office-js` wrapper I've written but so far have failed in doing so (had my whole mocks working but my app couldn't work with Officejs properly)

Would also love to see some sort of example or documentation

[2019-03-13 23:07] sancarn commented on #504
100% agree. Having TypeScript and JavaScript documentation would be advantageous although it's probably more important to have JavaScript examples than typescript in general

[2019-03-14 08:27] 4tti commented on #820
Thanks.

[2019-03-17 09:23] shirbr510 commented on #584
I have ended up doing the following @  `setupTests.js` (I'm using jest if it matters):

    import OfficeMock from './__mocks__/Office'

    const Office = global.Office;

    beforeEach(()=>{
        global.Office = OfficeMock
    })

    afterEach(()=>{
        global.Office = Office
    })

the `OfficeMock` is a simple object mapping that fits the properties I need from Office.js

I do believe

[2019-03-18 10:14] eurog33k opened #825 "Multiple version overrides in an yo office generated Outlook add-in is not clear"
This is the start of the generated manifest. It does not contain a seperate VersionOverrides tag, but the versionoverride is part of the OfficeApp declaration as such:

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;OfficeApp
          xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:bt="http://schemas.mi

[2019-03-18 11:19] eurog33k commented on #825
Just to be clear there is of course a versionoverride tag further in the manifest, but what is unclear is what I need to do with the OfficeApp definition is there is more than 1 overrride. Do I ignore that is says 1.0 there and just add an extra tag with 1.1 or?

[2019-03-18 17:08] kbrandl commented on #825
@eurog33k the `VersionOverrides` element with `type="VersionOverridesV1_1"` is a child element of the `VersionOverrides` element with `type="VersionOverridesV1_0"`. This means that the `OfficeApp` element will always contain a child element `VersionOverrides` with `type="VersionOverridesV1_0"`, and that element can contain child element `VersionOverrides` with `type="VersionOverridesV1_1"`.

The X

[2019-03-18 17:08] #825 closed

[2019-03-20 06:03] dinglicoding opened #832 "[excel]office-addins web url"
hi,

i have a question about office-addins in  excel,  when  open a  web url.

i found it is based on ie Kernel。 can i choose chrome Kernel or edge Kernel ?

thanks

![image](https://user-images.githubusercontent.com/3963826/54662429-e680a680-4b18-11e9-9d0e-e72ea5667840.png)

[2019-03-20 15:52] ElizabethSamuel-MSFT commented on #832
@AlexJerabek Can you take a look? Thanks.

[2019-03-20 16:54] AlexJerabek commented on #832
Hi @dinglicoding,

Thank you for your question about Office add-ins. Add-ins run inside an Internet Explorer control for Windows and iOS. This is not configurable. More information can be found at [Privacy and security for Office Add-ins](https://docs.microsoft.com/office/dev/add-ins/concepts/privacy-and-security).

I'll close the issue for now, but please reply to this thread if the information i

[2019-03-20 16:54] #832 closed

[2019-03-21 20:28] #835 closed

[2019-03-21 20:29] Rick-Kirkham commented on #835
The reference topic for `<AppDomain>` has been updated to add a note about not putting "/" on the end.

[2019-03-21 20:45] AlexJerabek commented on #776
Hi @vv7v7,
I've written an article about shapes, which includes information about saving shapes as images. This is part of PR #837. Please let me know if there's more information you'd like in there.

[2019-03-21 20:53] AlexJerabek commented on #816
Hi @jonaskampe,

Power pivots are not currently supported by the Office-js libraries. Please visit [UserVoice](https://officespdev.uservoice.com/) to request that functionality.

I'll leave this issue open until I update the documentation with this support note.

[2019-03-21 20:59] mscharlock commented on #504
Hi folks!
Many thanks for the feedback, it's very helpful for us to hear directly what developers want to see in our documentation. We've taken out the mix of TS/JS samples in the custom functions documentation and are discussing on our team about the possibility of integrating TS. :) I'm going to mark this issue as resolved for now, but wanted to let you know that we've heard your feedback and ar

[2019-03-21 20:59] #504 closed

[2019-03-21 22:07] mscharlock commented on #782
@4tti Thanks for the idea! Yes, I can add that to my backlog of things to do but in the meantime, we have updated the custom functions docs. I'll keep this open to remind myself about the GET/POST sample request.

[2019-03-22 00:33] AlexJerabek commented on #816
The documentation has been updated. The changes should be live within a few days.

Closing the issue. Please leave a comment on this thread if there's more to say.

[2019-03-22 00:33] #816 closed

[2019-03-22 00:34] AlexJerabek commented on #776
The updates to the Chart article are live. The article about shapes will be live within a few days.

I'll close the issue. Please respond to this thread if there is more information needed. Thanks!

[2019-03-22 00:34] #776 closed

[2019-03-22 07:42] dinglicoding opened #844 "[excel] when click cell,can enable or disable my ribbon button"
hi

i have same question below:

1、when focus on F3 ,can it disable or enable the button of my CustomTab.

![image](https://user-images.githubusercontent.com/3963826/54807472-511c1880-4cb8-11e9-840d-9c90bd5950cc.png)

2、in CustomTab,i know a group only support 6 button.but when i add four button in report

group. first button is large size .but other is samll size .can i set the four button are sa

[2019-03-22 16:46] AlexJerabek commented on #821
Hi @weird-dreams,

I've checked in the documentation updates with PR #843. They should be live within a few days.

I'm going to close this issue. Please respond to this thread if there are any concerns or questions. Thanks!

[2019-03-22 16:46] #821 closed

[2019-03-22 17:20] Rick-Kirkham commented on #844
I'm afraid that there isn't a direct way to control the algorithm for button size that Office uses internally. I don't know the details of the algorithm, but it might be that the button label size matters. You might see what happens if you change the group label from "Report" to "Performance" and then remove "Performance" from all the button labels.

Also, it would be great if you could raise this

[2019-03-22 17:20] #844 closed

[2019-03-26 07:02] dinglicoding opened #848 "vs2017 can not create excel add-ins"
hi:

in windows 10,i install vs community 2017. and create an excel addins, then run show me error

![image](https://user-images.githubusercontent.com/3963826/54977370-0a8c2e00-4fd8-11e9-9802-adf31fb3d8da.png)

![image](https://user-images.githubusercontent.com/3963826/54977372-14159600-4fd8-11e9-83ec-6c5cf85049e5.png)

i don't know what's wrong. but if debug with office home and student 2016 is o

[2019-03-26 15:25] Rick-Kirkham commented on #848
Sorry to see that you are having problems. The issues for this repo are used to track errors in the documentation. For technical problems like this one, please raise the issue on StackOverflow where the whole community will benefit from the answers that you get.

[2019-03-26 15:25] #848 closed

[2019-03-26 17:46] wtftc opened #851 "Documentation out of date"
The https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-task-pane-and-content-add-ins-to-an-add-in-catalog#feedback seems out of date for the section "To set up an add-in catalog on Office 365".

SharePoint admin has a classic and a "new" view. The "new" view is very limited and doesn't offer an "add-ins" or "apps" menu item. The classic view offers a menu item called "apps", not "

[2019-03-26 20:37] ElizabethSamuel-MSFT commented on #851
@wtftc: Thanks for pointing this out and sharing your feedback.
@davidchesnut: Is this something you can look into? Thx.

[2019-03-27 08:23] glr0221 opened #854 "Can I change my add-in icon at runtime?"
Hello MS,

First off, my apologies if this is in the wrong category. I have scoured several documents and found no definitive answer to my question. I am currently researching on how to change the icon and texts of my outlook add-in at runtime. I have read some examples which were implemented in C#, but not in javascript add-ins. I also saw a feature request related to this. The URL of that reques

[2019-03-27 11:39] 4tti opened #855 "More details required"
Hello,

please prepare more detailed documentation as I am missing many information here (check for https://github.com/OfficeDev/Office-Add-in-Commands-Samples/blob/master/FAQ.md for some details). What I am currently missing is:
- requirements (see the Icons issue in the above link!)
- how to debug (I am not able to find any useful information).
- tips and tricks or FAQ as in the link above.

Tha

[2019-03-27 15:39] Rick-Kirkham commented on #855
Thanks for pointing this out. I'll merge this request into our existing work item to improve this article. Internal bug number is: 3187058.

[2019-03-28 21:52] kbrandl commented on #854
@glr0221 thanks for reaching out about this. The functionality you've described (changing an Office (web) add-in's icon/text/captions at runtime) is not currently supported. If you haven't already done so, I'd suggest that you upvote the User Voice request that you linked to, to indicate your interest in this feature. In the meantime, I'll leave this issue open for now, to track the need for us to

[2019-03-28 22:01] kbrandl opened #856 "Update docs about clearing cache on Mac"
## Article URLs
At a minimum, the following 4 articles need to be updated:
- [Sideload Office Add-ins on iPad and Mac for testing](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac#sideload-an-add-in-on-office-for-mac)
- [Debug Office Add-ins on iPad and Mac](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad

[2019-03-29 23:20] mscharlock commented on #782
Samples should be uploaded to the site now - although GET/POST are still on our backlog. Closing the issue for now, happy to reopen if you'd like @4tti.

[2019-03-29 23:20] #782 closed

[2019-03-31 03:19] chenxizhang opened #860 "Do you have some complete sample code for this topic"
We need some complete sample code for this topic, not just a concept

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f7a698-efa2-3584-6ea0-85fa3718718f
* Version Independent ID: cef6669b-bfc0-840a-ea4e-ebc2ae5cc58a
* Content: [Get the whole document from an add-in for Word - Office Add-ins](https://docs.microsoft.com/

[2019-03-31 03:23] chenxizhang opened #861 "Let's make the document more clear, Thank you"
Hi there

What does this note exactlly mean : "This code sends a PowerPoint or Word file to the web server in multiple slices. The web server or service must compile each individual slice into a single .pptx file before you can perform any manipulations on it."

Does it mean the service need to save a single .pptx file for each of slice? and how to merge all the slices?

---
#### Document Details

[2019-04-01 01:44] Rick-Kirkham commented on #861
I'll clarify the note. It means that the service appends the slices together in order and saves the resulting file as a pptx or docx file.

[2019-04-01 01:47] Rick-Kirkham commented on #860
This is an interesting suggestion. We will consider creating a complete sample including a web service that reassembles the slices and saves it as a pptx or docx file. In the meantime, you can search the Internet for information about how to do this, depending on the framework and language you want to use on the server-side. For example, I found this article about how to do this with an ASP.NET we

[2019-04-01 01:54] chenxizhang commented on #860
THANK YOU @Rick-Kirkham
actully, I know how to receive the buffer from client, and I've do the slice merge. I found if the ppt don't contains picture, it's work. otherwise, the file can't open .

I suggest you to create a real sample on this topic, and to know what problem will facing by doing.

[2019-04-01 02:09] Rick-Kirkham commented on #860
For internal folks, the item is OC\OPX\Content 3261514

[2019-04-01 07:44] glr0221 commented on #854
Thank you always!! @kbrandl
I already upvoted that feature request.

[2019-04-02 07:47] xHatti opened #863 "SupportsSharedFolders not working / documentation not clear"
I´m developing a addin to use it in shared mailboxes in outlook. Microsoft added the "SupportsSharedFolders" Elements last month. If i try to use it i get following error if i want to debug the plugin in my outlook client:

"Failed to deploy the manifest file to the Exchange server.  This app can't be installed. The manifest file doesn't conform to the schema definition. The element 'DesktopFormFa

[2019-04-02 08:55] bubuhubu9k commented on #863
Same issue here. Would be great if we get any help here.

[2019-04-02 12:55] securityvoid opened #864 "Add Button to Main File List"
In Outlook, is there a way to add a button to the main email view page, rather than only on the opening on a message? I'm not seeing a way to do that clearly here.

Looking for a way to add a button where a user can report suspected Phishing by clicking on a button and having it be sent as an attachment to an email address. I don't want the user to have to open the message in order to do this.

I

[2019-04-02 15:16] securityvoid commented on #863
I am having the same issue here. I've tried deploying via OWA or the Outlook Client "Get Add-ins". In both places utilizing the "My Add-Inns" and "From File". This error is always thrown.

[2019-04-02 15:53] ElizabethSamuel-MSFT commented on #863
Sorry that you're hitting this and we do appreciate that you're trying out this preview configuration (see info on the [preview requirement set](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview)).

Can you confirm the following?

- Are you using an Office 365 subscription?
- You may also need to be in the [Office Insider Pr

[2019-04-02 16:44] securityvoid commented on #863
@ElizabethSamuel-MSFT Yes, we're using O365, no we're not in the Office Insider Program.

However, I believe the issue has been isolated. Essentially, the documentation isn't very complete and where / how this is set is complicated.

The documentation seems to suggest that the attribute can be put anywhere below:
`<DesktopFormFactor>`

In reality, the "SupportsSharedFolders" attribute is only vali

[2019-04-02 17:07] securityvoid commented on #863
For more details, please see:
https://stackoverflow.com/questions/55471281/publishing-outlook-add-in-which-uses-outlook-preview-element-supportssharedfol/55480151#55480151

[2019-04-02 18:25] ElizabethSamuel-MSFT commented on #864
@exextoc: Can you help with this? thanks.

[2019-04-02 18:28] ElizabethSamuel-MSFT commented on #863
Thanks for sharing the Stack Overflow thread. We'll update the manifest element's documtation to reflect the ordering. However, we have no plans to update the schemas yet since the element is still in preview and may not ship as-is. Thanks.

[2019-04-03 10:33] jglodde opened #867 "Sideload doesn't work with content add-ins on mac"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac

## Issue
While sideload for task pane add-ins works without problems, errors occur when using sideload for content add-ins.

PowerPoint isn't listing my sideloaded content add-in in the drop down menu.

Add-in Error:
This add-in is no longer available. If this add-in's manifest was

[2019-04-03 10:39] ivaylomitrev commented on #863
We have faced a similar issue.

We have been trying to develop support for shared mailboxes in our add-in for some time now to no avail. We are using an O365 subscription and Insider builds. The exact desktop Outlook build we are currently testing against is the latest build (as of today) - Version 1904 (Build 11527.20004 Click-to-run).

We have managed to make the manifest file parse successfully

[2019-04-03 11:31] 4tti commented on #855
HI @Rick-Kirkham,

any update please? Could you at least give me some hints how to debug Commands?
I have issue that any function I use for button does not work (or at least I am not able to find out if it works).

What I did:
- manifest seems correct (validation passed)
- reference to the DesktopFunctionFile seems fine, fiddler shows it is retrieved correctly
- Icon for the button shows
- for the

[2019-04-03 13:42] fernandomagrina commented on #315
This is so frustrating!!! This should be simple and consistent, however, apparently a lot of devs can't get the angular to work as explained above. What's really annoying, is that a YouTube video from a random person from 2016 is the "explanation" of one of the key components of the add-in. I've noticed that several devs can't get it to work during my research.

How come Microsoft doesn't offer so

[2019-04-03 16:27] Rick-Kirkham commented on #855
@4tti I've added the request to improve our documentation to our proposed work items. For immediate technical questions, such as this one, please create a question on StackOverflow and tag it `office-js`. This will ensure that the whole community sees the answers that you get.

[2019-04-03 17:36] ElizabethSamuel-MSFT commented on #863
@xHatti, @bubuhubu9k, @securityvoid: I've updated the documentation based on the issues you've raised here (see the various linked PRs for more details). Let me know if you need further clarification.

@ivaylomitrev: Regarding your questions.
- 1: We recommend the first manifest, particularly as v1.2 is not an officially supported manifest version as far as I know.
- 2-3: @exextoc: Can you provide

[2019-04-04 03:28] exextoc commented on #864
Currently the feature you requested, is not a part of the product. We track  feature requests on our user-voice page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins

[2019-04-04 03:57] exextoc commented on #863
@ivaylomitrev

We cannot provide any tentative date but we track Outlook add-in feature requests on our user-voice page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process. https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins

Yes, you can use our graph API to retrieve e-mails from a shared mail bo

[2019-04-04 14:36] ElizabethSamuel-MSFT commented on #864
@exextoc: Thanks for your response.

@securityvoid: Please add your feature request to UserVoice as exextoc recommends. I'll go ahead and close this issue.

Thanks.

[2019-04-04 14:36] #864 closed

[2019-04-04 14:40] 4tti commented on #855
@Rick-Kirkham, see https://stackoverflow.com/questions/55518754/office-addins-how-to-get-commands-button-working
Any help is really appreciated.

[2019-04-04 14:42] ElizabethSamuel-MSFT commented on #863
@exextoc: Thanks for your response.

@ivaylomitrev: exextoc's response should address your concerns. I'm closing this issue but let us know if it should be reopened and we will do so.

Thanks.

[2019-04-04 14:42] #863 closed

[2019-04-04 20:52] jeffkt95 commented on #459
Thank you @kbrandl. It's been almost 6 months since my original query. Any update?

[2019-04-04 21:23] kbrandl commented on #459
@jeffkt95 thanks for reaching out again! The product team's been working diligently on custom functions since your last inquiry, adding new functionality and working to stabilize all features as we continue to move towards general availability (GA). We're getting closer to having information regarding GA, but as of now there's still no info we can share publicly. Please stay tuned, it'll be public

[2019-04-05 22:38] Rick-Kirkham commented on #855
See the Stack Overflow issue for more info. It turns out that you can debug Add-in Commands with Office Online. I'll add a note to that effect to the article.

[2019-04-05 23:04] Rick-Kirkham commented on #855
Note should appear in the article by Tuesday night.

[2019-04-05 23:04] #855 closed

[2019-04-05 23:17] Rick-Kirkham commented on #861
The revised article should be published by Tuesday night.

[2019-04-05 23:17] #861 closed

[2019-04-06 13:31] 4tti commented on #855
@Rick-Kirkham Thank you.
But note that I still need info like:
- how to debug on desktop client
- why it does not work there.

[2019-04-06 13:40] 4tti commented on #855
To be more clear: It did not help me at all to fix my issue with desktop version - it does not work and I don't understand why.

[2019-04-06 17:49] Rick-Kirkham commented on #855
OK. But let's distinguish 3 things:
1. The need for this article about Add-in Commands to say how they can be debugged.
2. The particular issue of your add-in commands working on Online but not working on desktop.
3. How to debug on the desktop.

I think that, thanks to your help, we have solved number 1. Since the issues of this repo are intended to track problems with the documentation, not tech

[2019-04-08 19:46] mwjo opened #878 "Broken link for 5-minute Quick Starts"
## Article URL
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/overview/office-add-ins.md

## Issue
The URL for the "5-minute Quick Starts" in the Next steps section is broken.

URL: https://github.com/OfficeDev/office-js-docs-pr/blob/master/office/dev/add-ins

[2019-04-08 19:59] Reezaali commented on #878
@mwjo sorry to hear that you had an issue with a broken link. It looks like the "5-minute Quick Starts" link works as expected on [this page](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins) on docs.microsoft.com. I hope this solves the issue. Thanks.

[2019-04-08 21:13] mwjo commented on #878
Thanks @Reezaali, yes this link works - https://docs.microsoft.com/en-us/office/dev/add-ins/

Could we update the documentation with this link instead?

[2019-04-08 22:39] MakotoE opened #879 "Schema error when using Requirements element"
I'm getting a XML Schema Violation when I run `validate-office-addin` on my manifest which uses the Requirements tag. Here is a snippet of my manifest:

[code]

The error message:

[code]

The documentation says that the Requirements element is contained in OfficeApp, so I'm not sure why this error says that Requirements is an invalid child of the manifest namespace. The full manifest is here: htt

[2019-04-08 22:55] Rick-Kirkham commented on #879
It might be that the element is simply out-of-order. Please check this article: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/manifest-element-ordering

[2019-04-08 23:19] MakotoE commented on #879
@Rick-Kirkham Ah, that is it! Thanks.

[2019-04-08 23:19] #879 closed

[2019-04-09 06:17] ASundaravelu commented on #860
Hi, i'm struggle on image in .docx files with slice count more than 1 , Please post complete sample which will help us. Thanks

[2019-04-09 19:43] Reezaali commented on #878
@mwjo thanks for the suggestion. I did some investigation. Because these docs are intended to be viewed on docs.microsoft.com, this behavior is "by design". I'll go ahead and close the issue now. Thank you.

[2019-04-09 19:43] #878 closed

[2019-04-10 05:45] fbernhard opened #881 "Missing documentation: install manifest.xml in Office 365 Outlook without Exchange"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish

## Issue

The documentation does not explain how an Office 365 customer who uses Outlook to connect to G Suite or other email servers, not Exchange, can install an Outlook add-in manifest.xml.

Can you please clarify how these type of organizations can leverage Outlook Addins written with OfficeJS? Thanks!

[2019-04-10 15:47] jordandev opened #882 "iPad cross site tracking issue"
We have an add-in we are testing that uses OAuth to login from the add-in to our backend web services. This seems to fail in the Excel for iPad application because the embedded browser panel has a cookie policy that prevents cross site tracking on by default. This cookie policy would have to be changed on the WKWebView. I'm not sure where else to report this.

---
#### Document Details

⚠ *Do not

[2019-04-10 16:04] AlexJerabek commented on #881
Hi @fbernhard,
Thanks for suggesting this documentation enhancement. I'm assigning this to @ElizabethSamuel-MSFT to update the content.

[2019-04-10 16:29] ElizabethSamuel-MSFT commented on #881
@exextoc: Can you provide any details here? Thanks.

[2019-04-10 20:53] jordandev opened #887 "365 vs Office Online"
This page is a bit confusing about how there is a difference in uploading the add-ins to 365 or Office Online. When I go to my 365 account and open Excel by following the steps under the 365 section, it just opens Excel Online.

There is no "MY ORGANIZATION" tab in the add-ins dialog. Just a "MY ADD-INS" tab. Does that workflow where this a "MY ORGANIZATION" step still exist or is this document ou

[2019-04-11 00:25] Rick-Kirkham commented on #887
I also have the same UI for them both, and when I'm signed in with a Microsoft Account, I see what you see; but when I'm signed in with an Office 365 account (Work or School account) I see *both* the "MY ADD-INS" and the "MY ORGANIZATION", and I can use either procedure. But it appears that the Office Online procedure will work for everybody, so I'll take the other one out of the article. Thanks f

[2019-04-11 15:03] jordandev commented on #887
Thanks.

For clarity this is what I get in Excel Online:

![excel365addins](https://user-images.githubusercontent.com/7706784/55968111-3b9f6c00-5c30-11e9-9c9e-b5f368af0329.PNG)

This is on an account on "Office 365 Enterprise E3"

[2019-04-15 17:45] zakhan4 opened #895 "Centralized Deployment for Mac is already available or coming soon?"
In this document it is written in the top that "Deployment to multiple platforms, including Windows and Office Online, with Mac coming soon." While in a related document "Determine if Centralized Deployment of add-ins works for your Office 365 organization" it is mentioned that it is available for Mac.

I'm a bit confused and wanted to know, that Centralized deployment for Mac is available at this

[2019-04-16 14:53] AlekseyPi commented on #584
Test:

`/* eslint-disable @typescript-eslint/no-angle-bracket-type-assertion */
/* eslint-disable @typescript-eslint/no-object-literal-type-assertion */
import ParagraphExtensions from "../office_extensions/ParagraphExtensions";
import {TextRange} from "../models/TextRange";

test("getCustomRange", async() => {
  const expectedRange = <Word.Range>{text: "  "};

  const paragraph: Word.Paragraph =

[2019-04-16 15:58] ElizabethSamuel-MSFT commented on #895
@zakhan4: Thanks for pointing this out. It looks like Mac is supported now. I'll update our docs to reflect that.

[2019-04-16 19:30] TheWass opened #901 "Mac Add-in Cache"
I'm currently developing an Add-in with custom functions, and I see neither of the two cache folders mentioned in the article:
com.Microsoft.OsfWebHost/Data/
com.microsoft.Office365ServiceV2/Data/Caches/com.microsoft.Office365ServiceV2/

How do we clear the cache on a Mac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-04-17 12:01] AlekseyPi commented on #584
[code]

[2019-04-17 17:42] davecra opened #902 "Supertip does not work in OWA"
I am not seeing the Supertip in OWA/EXO. I do see it on the command in full-client Outlook. So either this is an OWA defect or the documentation needs to be updated to specify that the Supertip is for full-client only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b06746f-7a76-abcd-21a8-06340499aab8
* Version Indepen

[2019-04-17 17:44] ElizabethSamuel-MSFT commented on #902
@exextoc: Can you confirm if this is the case? Thanks.

[2019-04-17 21:59] Reezaali commented on #901
Hi @TheWass, does this issue have information that unblocks you? [#856](https://github.com/OfficeDev/office-js-docs-pr/issues/856)

[2019-04-17 22:18] ElizabethSamuel-MSFT commented on #895
@zakhan4: Our documentation update should go live soon. Thanks again for raising this issue and sorry for the confusion.

[2019-04-17 22:18] #895 closed

[2019-04-17 22:57] davidchesnut commented on #678
Hi @Alex-Mann
Closing this issue, however if you have more information to share let me know and I’ll be glad to re-open it. Thanks!

[2019-04-17 22:57] #678 closed

[2019-04-18 00:22] davidchesnut commented on #851
Hi @wtftc yes I see what you are describing. I'm working to update the article so it refers to the UI steps clearly. Thanks!

[2019-04-18 18:42] mscharlock commented on #820
Hi @4tti - our team has included a note about local loopback exceptions into our custom functions docs and it should be up on our site tomorrow. Since the information is the same as the info from the link to the support article, I'm going to close this issue. Happy to reopen if you have other questions though! Thanks.

[2019-04-18 18:42] #820 closed

[2019-04-18 21:45] rocketraman opened #906 "Office 2016 on Windows, Word incorrect"
Add-in Commands are not listed as supported in Office 2016 on Windows (Word, PowerPoint, and Excel). I believe this is an error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c255e4-d0f9-5b35-bec0-fdd690bdeff1
* Version Independent ID: dae8b049-0f53-ea13-9998-cfb4362b7553
* Content: [Office Add-in host and platform

[2019-04-19 00:54] Reezaali commented on #906
Hi @rocketraman, thanks for reaching out with your question. I'm following up with our engineering team and will reply as soon as I have an answer. Thank you.

[2019-04-19 01:07] Reezaali commented on #906
Hi @rocketraman, I've confirmed with our engineering team that the [Add-in Commands Requirement Set topic](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/add-in-commands-requirement-sets) has the support information for the requirement set. Only Outlook in Office 2016 for Windows supports the requirement set, whereas Office 365 for Windows supports the requirement s

[2019-04-19 18:52] TheWass commented on #901
Yes.  Thank you.

[2019-04-19 18:52] #901 closed

[2019-04-19 23:06] Reezaali commented on #906
Hi @rocketraman I'll go ahead and close this issue now. If you need further guidance or clarification, please reopen it. Thank you.

[2019-04-22 14:55] rocketraman commented on #906
@Reezaali Thanks for your responses. Perhaps I am confused, but I have Office 2016 on my desktop and the add-in commands appear to be working fine. Also confusing to me is that Office 365 includes Office 2016 on the desktop as part of its product offering, so why would there be a distinction between add-in commands working for Office 365 but not for 2016?

[2019-04-22 15:53] ElizabethSamuel-MSFT commented on #906
@rocketraman: Sorry for the confusion. There's a distinction between Office 2016 with an Office 365 subscription and Office 2016 without one. When you use Office without Office 365, you primarily have the features that shipped when it was released. With Office 365, you continue to receive new and updated features.

In our documentation, Office 365 for Windows represents the subscription version wh

[2019-04-23 06:37] rocketraman commented on #906
@ElizabethSamuel-MSFT Thanks for the clarification. Here is more information that is potentially confusing -- on this page about add-in commands, https://docs.microsoft.com/en-us/office/dev/add-ins/design/add-in-commands, it says that add-in commands are supported in Office 2016:

If that particular build number is only available with an O365 subscription, then the information you have given me is

[2019-04-23 18:28] yanli0303 opened #915 "Is "SupportUrl" used anywhere?"
The provider name looks like a link but clicks on it nothing happens, I don't think "SupportUrl" is the link for the provider name.
But when and where will "SupportUrl" be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f777e5b5-79de-8e78-1b5c-514594de7e8c
* Version Independent ID: 457662b1-da37-8591-b7d2-0c482719

[2019-04-23 19:15] Rick-Kirkham commented on #915
Yes. It is used by AppSource (formerly the Office Store). When an add-in is accepted in the store a page for it is created in the store. On the left side of that page is some metadata about the add-in. Near the bottom of that is a link to the add-ins support URL. The store is getting this URL from the SupportUrl in the manifest.

[2019-04-23 19:15] #915 closed

[2019-04-24 18:34] exextoc commented on #881
Today Outlook Add-ins are supported for Microsoft exchange accounts only, because require manifest XML file to be installed in the mailbox. Supporting non-exchange mailboxes is not a part of the product right now. We track Outlook add-in feature requests on our user-voice page. Please add your request there. Feature requests on user-voice are considered when we go through our planning process.

Lo

[2019-04-24 20:54] ElizabethSamuel-MSFT commented on #881
@exextoc: Thanks for your response.

@fbernhard: Thanks for raising this issue. It seems like exextoc has responded to your question. Please take a moment to vote for that feature in User Voice. I'll go ahead and close it now but let us know if it should be reopened.

Thanks.

[2019-04-24 20:54] #881 closed

[2019-04-25 05:15] fbernhard commented on #881
Thanks all!

[2019-04-25 16:28] Alex-ray commented on #584
Hello @kbrandl , I also need support for this.

My team is building a word add-in that helps lawyers create templates for their documents. Naturally reliability is our number one priority here. End to end integration tests are critical in our ability to ensure our add-in's reliability.

The actual work this might take from your team feels low in relation to the potential increase in quality and re

[2019-04-25 16:37] kbrandl commented on #584
Thanks for reaching out @Alex-ray and I can certainly appreciate the perspective you've shared. This work item is in the documentation backlog; @davidchesnut is there any update you can provide regarding status of this work item?

[2019-04-25 19:18] ravick4u opened #921 "Ribbon missing"
I am using Word 2016 and when I hit F5 I do not see ribbon as well as "Office.context.requirements.isSetSupported('WordApi', 1.1)" function returns false.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e380a7-6e2e-ada8-d297-3fd5018a1958
* Version Independent ID: f23490e8-6eeb-f2d5-6c94-69e3c9ed83f4
* Content: [Build

[2019-04-25 19:33] ravick4u commented on #921
There is a typo. I am using 2013

[2019-04-25 19:41] AlexJerabek commented on #921
Hi @ravick4u,

Word 2013 only supports the [Common API requirement sets](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/office-add-in-requirement-sets) (see the [Host and platform availability article](https://docs.microsoft.com/office/dev/add-ins/overview/office-add-in-availability)). If you would like your add-in to use the WordApi 1.1 functionality, you'll need to use

[2019-04-25 19:41] #921 closed

[2019-04-25 20:01] akoushke opened #923 "How to turn off ESC on windows 10"
There is a brief note here states about setting a a windows office add-in dev environment:

[code]
but there is not enough information on how to disable this feature, more specifically on **WINDOWS 10 V1803**. I have no access to `Windows server`. any help will be appreciated.

# WHAT IS EXPECTED:
to be able to run my add-in locally in office suite.

# WHAT IS HAPPENING
Office suite crashes and fo

[2019-04-25 20:53] Rick-Kirkham commented on #923
ESC is off by default on Windows client computers. Why do you think there's a connection between the crashing and ESC?

[2019-04-25 20:58] akoushke commented on #923
because of the documentation states that `ESC is on by default` and I thought I was using a windows server computer, but I guess I'm not. We basically can't test our addin on any windows machine office suite nor IE11.  any ideas on why we are only getting this error [`Sorry, we had to restart this application since it was not responding
`] on windows machine when the addin is running locally?

[2019-04-25 21:10] Rick-Kirkham commented on #923
We use the issues of this repo to track problems with the documentation. Please raise this technical issue on Stack Overflow. Tag it `office-js` . Be sure to include your Office version, Windows version, and the exact steps that lead to the error. Also, be sure that you have trusted a certificate for your localhost before you try to run add-in.

[2019-04-25 21:10] #923 closed

[2019-04-26 05:50] vickeybird opened #925 "Issue with sideloading on Wopi hosted document served via on premise Office Online Server"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins#

## Issue
I'm trying to test my add in on a word document hosted on custom WOPI hosted application which is served by an On Premise Office Online Server.
When I click on Insert/Office Add-in, I get an error:

![Annotation 2019-04-26 110314](https://us

[2019-04-26 09:35] brugh opened #926 "Code updates"
The latest version on GitHub is from 2 years ago. The last minor update from 7 months ago. Is this add-in still being developed or are we betting on a dead project if we were to adopt it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521d6700-a497-1dbc-537e-258222a01699
* Version Independent ID: 831dcf77-f019-be54-1ce

[2019-04-26 14:45] f-santos opened #927 "CustomTab example could be enhanced"
Lacks a Control example or a comment indicating that Control is necessary inside the CustomTab

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a1c62c2-4463-cfe3-2ecb-f4565204ab89
* Version Independent ID: a8df560c-8653-f5f9-f2aa-63af7e26eb30
* Content: [CustomTab element in the manifest file - Office Add-ins](https://d

[2019-04-26 15:57] Reezaali commented on #926
Hi @brugh, thanks for your question. We're constantly releasing new updates to our APIs and various other features in Office. For example, [here's ](https://docs.microsoft.com/en-us/javascript/api/excel?view=office-js) a list of all of Excel's released APIs & what's currently in Preview. If there's anything in particular you're looking for and can't find, please let us know. Thanks!

[2019-04-26 15:57] #926 closed

[2019-04-26 19:36] ravick4u commented on #921
I can see the addin on right side but why the Ribbon is missing? Can you please suggest alternet ways to add Ribbon in Office 2013 if this is the not recommended way.

[2019-04-28 15:05] georgiik-welldone opened #929 "Not able to active debug mode for Office 16.24"
Platform: Mac OS (10.14.4)
Office Version: 16.24
Product: PowerPoint

After run in terminal `defaults write com.microsoft.Powerpoint OfficeWebAddinDeveloperExtras -bool true` nothing has been changed, inspector still not available.

[2019-04-29 16:46] kbrandl commented on #906
@rocketraman thanks again for the feedback. We've updated the docs for clarity (PR #914) and you'll see those updates reflected in the live docs as soon as that PR is merged later this week.

[2019-04-29 16:46] #906 closed

[2019-04-29 16:52] rocketraman opened #935 "More clarity required on Office 2016 versions"
This page includes `Office 2016 or later for Windows (build 16.0.6769+)` in the section about supported platforms.

This requires some elaboration, as per my understanding only Office 2016 which comes as part of an Office 365 subscription actually supports this (see https://github.com/OfficeDev/office-js-docs-pr/issues/906).

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-04-29 17:05] kbrandl commented on #935
@rocketraman we've already submitted doc updates for this doc (and another) as part of PR #914, so you should see updated info rendered in the docs later this week. (Doc updates get published twice a week, and these updates are in the queue for the next publication.) I'm going to go ahead and resolve this issue now (since doc updates are already pending publication), but please feel free to commen

[2019-04-29 17:05] #935 closed

[2019-04-29 17:14] rocketraman commented on #935
Thank you, I didn't notice those changes last time I looked at the pull request, but do see them now. Cheers.

[2019-04-29 18:10] Rick-Kirkham commented on #929
We use the issues in this repo to track problems with documentation. For technical issues, please post a question on StackOverflow, and be sure to tag it `office-js`.

[2019-04-29 18:10] #929 closed

[2019-04-29 19:08] kbrandl commented on #927
@f-santos thanks for bringing this to our attention. `Control` is not actually a valid child element of the `CustomTab` element -- the fact that it is listed as such is a mistake in the docs. I've submitted a pull request ([#936](https://github.com/OfficeDev/office-js-docs-pr/pull/936)) to address this issue, and you'll see this change reflected in the live docs later this week.  (This doc update

[2019-04-29 19:08] #927 closed

[2019-04-29 19:20] davidchesnut commented on #584
Hi @kbrandl @LanceEa and folks,
The engineering team is looking into solutions in this space, but of course it needs to be general and scalable for multiple testing frameworks. So that effort will take some time. On the documentation side I believe there are some patterns we can share to make it easier to test. I'm working to get those documented and will provide an update once we have something a

[2019-04-29 20:37] Rick-Kirkham commented on #887
Fixed in source. Should be published Tuesday night.

[2019-04-29 20:37] #887 closed

[2019-04-29 21:08] shweaver-MSFT opened #938 "Content Add-In expected consumption model"
What is the expected consumption model to use content add-ins or get them into the document? If I write for a content Add-In, I can't integrate with TaskPane or Ribbon Commands, correct? Is the expectation that the user goes through the *Insert Tab -&gt; My Add-Ins* for all instances of a Content Add-In?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-30 19:17] kbrandl commented on #938
@shweaver-MSFT thanks for reaching out and for your interest in Office Add-ins development. Currently, users can only insert a Content add-in by going through the _Insert tab -> My Add-ins_ flow as you've described. You're also correct that integration between a Content add-in and the Task Pane and/or Add-in commands (ribbon buttons) is not currently supported. I'm going to go ahead and close this

[2019-04-30 19:17] #938 closed

[2019-04-30 20:58] TheWass commented on #856
In case anyone comes here looking how to clear out the Excel Custom Functions cache on a Mac, it is located here:
~/Library/Containers/com.microsoft.Excel/Data/Library/Application\ Support/Microsoft/Office/16.0/Wef/*

[2019-05-01 14:44] NT-D opened #947 "How can we debug with Google Chrome?"
Hi, thank you for making good document. I'm now debugging with Safari, but would you please tell me how we can debug with Chrome?

My question backgrounds are:
- Chrome have great debug plugins for react, redux and more for front end development
- VS code have great [Debugger for Chrome](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome) extension. It's really useful

[2019-05-01 18:16] Rick-Kirkham commented on #947
The capability of debugging with Chrome is an interesting product enhancement request. Please vote up this suggestion at Office Developer Suggestion Box: [Make a tool for debugging javascript api in chrome](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/37280617-make-a-tool-for-debugging-javascript-api-in-chrome).

[2019-05-01 18:16] #947 closed

[2019-05-02 05:56] kalenikita opened #953 "Outlook Add-in not working in windows 10"
I have created Outlook add-in in visual studio 2013 which is working fine in windows 2007 and office 2016, but plugin is not getting Loaded in windows 2010 and office 2016.

1. Add-in is not available under disabled COM add-in list.
2. Its registry value of load behaviour is 3 i.e loaded.

Is any compatibility issue with windows 10?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-05-02 17:48] Rick-Kirkham commented on #953
Thanks for your interest in Outlook Add-ins. The issues in this repo are intended to track errors in documentation. Please raise technical questions like this on StackOverflow. Be sure to tag it `outlook-web-addins`.

[2019-05-02 17:48] #953 closed

[2019-05-02 17:50] misaunde opened #956 "Sideloaded add-ins on mac have to be re-added after each restart"
Groing through the instructions on a mac to sideload a manifest (that already works as expected on pc), I notice that every time I close and re-open Excel my add-ins disappear. I have to go to the Insert ribbon, click on the my add-ins drop down menu, and re-select my developer add-in. Is this expected behavior?

On pc, if I add my custom ribbon manifest, it stays there for good, across restarts.

[2019-05-02 18:43] misaunde opened #958 "Inspect Element does not appear in right click menu on Mac"
Using Mac OS 10.14.4 and Office 365 Excel version 16.24 (19041201), and after adding:
`defaults write com.microsoft.Excel OfficeWebAddinDeveloperExtras -bool true` in the terminal, and rebooting, "Inspect Element" does not appear in right click menu inside my Office add-in, in Excel.

Is it because I have a newer OS than High Sierra? Any Ideas?

---
#### Document Details

⚠ *Do not edit this secti

[2019-05-03 17:44] mscharlock commented on #956
Hi @misaunde - Thanks for taking the time to read our docs and try out Office Add-ins! Sorry to hear you are having trouble with sideloading on Mac. I am not sure if this is a known issue or not, but I will check with folks over here and get back to you. I'd love to be able to give you an answer right away but as many engineers are very busy due to the upcoming //build conference this may get reso

[2019-05-03 17:48] mscharlock commented on #958
Hi @misaunde - Thanks again for writing in to us! We really appreciate the questions and feedback. I'm happy to check with engineering and get back to you. Due to the upcoming //build conference on Monday, I just want to let you know that our staff is very busy so an answer will likely come after the weekend. Thanks! I will update this issue with more information when I have it.

[2019-05-04 11:33] NT-D commented on #947
Thank you Rick. I'll vote it

[2019-05-06 20:30] 12s opened #978 "vanilla project: Error: The dev server is not running on port 3000."
Hello,

I am following the 'Any Editor' version of the tutorial. I "yo office" with the appropriate settings, cd into dir and 'npm start' but the local webserver does not start with console message:

Starting the dev server... (webpack-dev-server --mode development)
Unable to start the dev server. Error: The dev server is not running on port 3000.

Powerpoint will open with an
'Add-in Error':
This

[2019-05-06 23:02] davidchesnut opened #982 "Mention script lab in custom function overview"
In the [Next steps section of the custom function overview](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-overview#next-steps) we should also mention using script lab. Point out how to find the custom function samples already there, and that you can try out creating your own.

[2019-05-06 23:05] davidchesnut opened #984 "Custom functions state needs correct API name"
The API to use storage is `OfficeRuntime.storage...` It's not Office.storage. Probably should do a search/replace across several articles to catch any other mentions, but primarily the code sample needs an update in this article: [Custom function save state](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-save-state)

[2019-05-06 23:09] mscharlock commented on #984
Thanks - fixed this in the last push to master -> live, should be up to date now.

[2019-05-06 23:09] #984 closed

[2019-05-06 23:21] mscharlock commented on #978
Hi @12s - Thanks for trying out Powerpoint add-ins submitting an issue about this! Our docs team will take a look and get back to you. As the Microsoft //build conference happens this week, we may take a few days to respond as our team is busier than normal.

[2019-05-07 06:12] exextoc commented on #902
@davecra Yes, Supertip description is not working and is not applicable to Outlook Web. We will be updating our documentation to clarify this. Thanks for reporting this issue.

[2019-05-07 16:22] ElizabethSamuel-MSFT commented on #978
@12s I tried this on a Windows 10 machine but it's working. Can you share more details about your setup (e.g. OS, Office version)?

@akrantz @TCourtneyOwen: Any suggestions that may help here?

Thanks.

[2019-05-07 16:23] 12s commented on #978
I am running macOS Mojave 10.14.4
I installed the current version of generator-office

[2019-05-07 16:24] 12s commented on #978
Microsoft PowerPoint for Mac
Version 16.16.9

[2019-05-07 20:13] hdwatts opened #989 "Force Internet Explorer 11 in Office JS Webviewer"
I notice in an upcoming version of Office the viewer will be forced to use the Edge browser.  For now, our product requires the use of Internet Explorer 11 or below and Edge is unsupported.  Is there anyway to configure our Addin to continue to use Internet Explorer 11 for our users on the latest Windows and Excel versions?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-05-07 20:27] ElizabethSamuel-MSFT commented on #902
@davecra Thanks for raising this issue. The documentation update should go live soon. I'll close this issue now. Thanks.

[2019-05-07 20:27] #902 closed

[2019-05-07 20:42] Rick-Kirkham commented on #989
There is no way that you can control which browser is used. On O365 for Windows, the version of Windows 10 and of O365 on the user's computer are going to determine what browser is used. I think that you need to make your add-in compatible with Edge as quickly as you can.

BTW, we use the issues in this repo to track errors in the documentation. Technical questions like this one should normally be

[2019-05-07 20:42] #989 closed

[2019-05-07 20:48] smozgur opened #990 "Range Parameter"
In the[ Range Parameters](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-parameter-options#range-parameters) section:

* @param {[][]} values Multiple ranges of values.
is supposed to be:
* @param {number[][]} values Multiple ranges of values.

Otherwise reader will get stuck in matrix data type if s/he is using Yo to generate metadata with annotations.

---
#### Docume

[2019-05-08 05:26] mscharlock commented on #982
Done!

[2019-05-08 05:26] #982 closed

[2019-05-08 05:31] mscharlock commented on #990
Hi @smozgur - thank you for reading the custom functions docs and pointing this out!
@akrantz / @keyur32 Let me know if we need to change the Definitely Typed repo and I can go ahead and regen the docs. We can also reroute this to the CF repo if you'd like to follow up there as well.

[2019-05-08 05:32] mscharlock commented on #958
@AlexJerabek Just wanted to ask if Excel team has been able to repro this issue?

[2019-05-08 15:23] akrantz commented on #990
@mscharlock This appears to simply be a typo in the docs where "number" was left off.

Also, for clarity, the type `number[][]` represents a single range, e.g. "A1:C3"; a range contains multiple values.

The only reason to mention this is that support is coming for "repeating parameters" which is the Excel form for having a parameter represent multiple values of the same type. Today, a 1-dimension

[2019-05-08 15:41] smozgur commented on #990
@akrantz I used the sample line in the documentation, didn't pay attention on the description of the variable but simply its failure that would cause the reader to give up. Thanks for the clarification.

3-D array for multiple ranges sounds amazing!

[2019-05-08 15:47] keyur32 commented on #990
@smozgur - thanks for report. Curious, what scenario do you think the 3D ranges will work for you? Thanks!

[2019-05-08 15:51] smozgur commented on #990
@keyur32 Like passing multiple ranges to a function in different dimensions? I understand 3-D range for this purpose.

[2019-05-08 17:11] AlexJerabek commented on #958
One of our engineers tried to repro this and could not. I'll circle back with them about the conditions.

[2019-05-08 20:16] mscharlock commented on #958
@Reezaali Can you refile this issue with the office-js repo specifically? I think we might be able to get more eyes on this issue there. Thanks!

[2019-05-08 20:34] mscharlock commented on #990
I've got a PR out with the changes you recommended @smozgur! Thank you again! In the meantime, best way to reach @keyur32 with questions about custom functions and planned upcoming features is either through email (keyur.patel@microsoft.com) or to open an issue on the Excel Custom Functions repo here (https://github.com/OfficeDev/Excel-Custom-Functions/). I'll close this issue when the PR is compl

[2019-05-08 20:41] Rick-Kirkham commented on #958
@mscharlock Can't transfer it now. The beta transfer tool no longer gives `office-js` as an option. I'll try again tomorrow. If you are in a hurry, you might have the OP create a new issue directly in `office-js`

[2019-05-08 20:42] smozgur commented on #990
Thank you!

[2019-05-08 20:44] misaunde commented on #958
Could @kbrandl move it? If not, I can make a new post in office-js.

I initially posted here because I liked the idea of this specific issue being tied to the documentation that others would likely be reading.

[2019-05-08 20:50] misaunde commented on #958
New Issue: https://github.com/OfficeDev/office-js/issues/506

[2019-05-08 20:50] #958 closed

[2019-05-08 20:52] misaunde commented on #956
New Issue in office-js repo: https://github.com/OfficeDev/office-js/issues/507

[2019-05-08 20:52] #956 closed

[2019-05-08 22:21] akoushke commented on #781
@Rick-Kirkham as Paul mentioned, the documentation is not clear on how to set up the *requirement* tag. a simple example would resolve all of these confusions.

[2019-05-08 22:23] akoushke commented on #781
That's what I needed. Thanks!

[2019-05-08 22:49] 12s commented on #978
So, in the mean time I have been developing on my windows machine where everything has been working as expected.
I do have a more pressing issue now.  Basically this stack post:

https://stackoverflow.com/questions/35744466/javascript-interaction-with-powerpoint-documents/35784313#

The post is from 3 years ago so I'm hoping there is a solution, but I too can't get any additional slide information

[2019-05-08 22:54] Rick-Kirkham commented on #781
@akoushke We realize our documentation about the sequence of the elements is not as good as it could be. There is a possibility that the XSD will be changed so that the order doesn't matter. Until that decision is made one way or the other, we don't want to invest time documenting the order.

[2019-05-10 16:55] ElizabethSamuel-MSFT commented on #978
@12s:

- Regarding your initial issue: on the yo office readme, there's a [note](https://github.com/OfficeDev/generator-office#install) for Mac developers to use Node Version Manager. There may be other tips for Mac in that repo so please take a look.
- Per current docs for [getSelectedDataAsync](https://docs.microsoft.com/javascript/api/office/office.document?view=office-js#getselecteddataasync-c

[2019-05-10 16:57] ElizabethSamuel-MSFT commented on #978
I'll go ahead and close this now but let us know to reopen it if you're still facing an issue.

[2019-05-10 21:53] mscharlock commented on #990
Of course, you're very welcome! I'm going to close this now - update is in the docs. Feel free to open a new issue or re-open this one if you have additional questions. Thanks!

[2019-05-10 21:53] #990 closed

[2019-05-11 18:25] ckuetbach opened #997 "Which Edge is meant ?"
EdgeHtml Edge or Chromium Edge?

The Chromium could also be used at older Windows versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d482334-7d96-d9d4-bbfb-9dc70b770c4b
* Version Independent ID: 501af0bc-4192-3cbd-fdb3-7b8b15ba8cce
* Content: [Web viewers used by Office Add-ins - Office Add-ins](https://docs.mic

[2019-05-11 18:48] Rick-Kirkham commented on #997
Office Add-ins are agnostic as to what rendering engine is being used by Edge. They will use whatever Edge is on the user's computer. And Edge's evolution is independent of whether or not it is being used by Office Add-ins. At some point in the future, the Edge on the user's machine will be updated to use the Chromium rendering engine.

[2019-05-11 18:48] #997 closed

[2019-05-12 17:39] charliereese opened #998 "Bug in tutorial"
Hi guys!

I had to run `npm build-dev` before running `npm start` or else I got the following error (and the plugin didn't work for obvious reasons):

[code]

If you are able to reproduce, could you update the tutorial to include the extra step for others?

Loving the tutorial so far; the JS API is a great addition to the Office suite!

Charlie

---
#### Document Details

⚠ *Do not edit this secti

[2019-05-13 19:27] AlexJerabek commented on #998
Hi @charliereese,
Thanks for pointing this out. I just re-ran the quick start and encountered the same issue you did. I had to accept a certificate being installed. I'll work with the yo office group to provide the right guidance to users.

[2019-05-14 02:34] BlazorDashboard opened #1000 "Submit Custom Function to Marketplace"
I have developed a Custom Excel function. May I know where do I submit it to? Or am I missing something. Thanks.

## Article URL

## Issue

[2019-05-14 09:09] brugh commented on #926
Hi @Reezaali, thanks for the response. It's good to know that the Excel add-in is in full development. I'm currently trying to rebuild our templating-application in Office.js for Word. But I'm concerned that updates on the Word add-in seem very slow and there's plenty of features that would be needed (like page and style manipulation) to make the switch to the Office.js. If you can let us know tha

[2019-05-14 15:38] ElizabethSamuel-MSFT commented on #1000
@BlazorDashboard: Thanks for asking.

@mscharlock, @davidchesnut: Could you take a look? Thanks.

[2019-05-14 18:50] mscharlock commented on #1000
Yep, I will check it out and get back to you as soon as I hear from folks. Thanks! Also, it is really awesome that you have been developing custom functions, @BlazorDashboard!

[2019-05-14 18:51] keyur32 commented on #1000
Hi, Custom Functions are apart of an Office Add-ins.  You can find instructions on how to submit add-ins to the Office Store here: https://docs.microsoft.com/en-us/office/dev/store/submit-to-the-office-store

Note: there specific policies you need to adhere to when submitting your add-in to the store if it contains custom functions. This is contained here:
https://docs.microsoft.com/en-us/office/d

[2019-05-14 20:19] mscharlock commented on #1000
@BlazorDashboard did @keyur32's answer adequately answer your question? I'm going to leave this issue open for the moment to give you time to respond, but will likely close it tomorrow. You can always reopen the issue if you need to!

[2019-05-14 22:52] mm90849491 opened #1007 "Unstable behaviour of onSelectionChanged"
I followed this page to register an onSelectionChanged event handler, which mimics the behaviour of cell picker, on current active worksheet in a Taskpane application, but the handler is occasionally triggered.

I tried to debug with F12/IEChooser and found once the tool is open, the event handler is triggered perfectly fine 100% of time. The same behaviour happens even when the handler is registe

[2019-05-15 02:05] BlazorDashboard commented on #1000
@keyur32 Yes! Thanks for your fast and detailed reply. I will be able to get on with the submission now. Please close the issue. Have a great day!

[2019-05-15 02:09] smozgur opened #1008 "Function Names"
Thanks for this great documentation!

In the [Best Practices](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-naming#best-practices) section, GETZIPCODE is recommended against to ZIPCODE function name. However, custom functions / UDFs are not "action" functions, but "calculate/transform and return" functions.  All Excel functions have a return purpose, user simply GETs s

[2019-05-15 10:35] mm90849491 commented on #1007
Update:
I tested the application in Excel on Mac, iPad, and online. It works perfectly fine.
This unstable behaviour only happens in Excel on Windows (I tested Win 7 & 10).

[2019-05-15 15:18] keyur32 commented on #1000
Awesome!  Curious, what is the name of the add-in you are submitting?

[2019-05-15 16:15] JanZelenka commented on #978
Hi!
I'm having the same issue on the same system as 12s. I tried to use Node Version Manager, which on its own went smooth but didn't help regarding this.
I would be grateful for any ideas of how to make this error go away.

[2019-05-15 16:15] TheWass opened #1011 "helpUrl example link is broken"
The helpUrl example link in the functions section (http://contoso.com/help/convertcelsiustofahrenheit.html) goes to a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc9afc49-47bc-c0b4-249f-5c66a9421747
* Version Independent ID: ae89f268-e83d-1a08-babe-3f1c3dc11796
* Content: [Metadata for custom functions in

[2019-05-15 16:18] JanZelenka commented on #978
Well, I seem to have found the solution right now. `sudo npm start` was a success.

[2019-05-15 16:22] ElizabethSamuel-MSFT commented on #1011
@TheWass: Sorry this caused you some confusion but that behavior is by design. Throughout the article, contoso is used to give an example of how your URL might be structured but should be replaced with your own domain. You can also read the [Wikipedia article](https://en.wikipedia.org/wiki/Contoso) about this fictional company/domain.

[2019-05-15 16:22] #1011 closed

[2019-05-15 18:06] mscharlock commented on #1008
Hi @smozgur - thanks for your suggestion! I definitely see your point - all custom functions do technically return something. (And even Excel's built in functions, "SHEET" would return information without saying "GETSHEET"). However, in a lot of cases I think it is helpful to add a verb that says what the function is going to do so your user is clear on what kind of calculation is occurring, parti

[2019-05-15 18:07] mscharlock commented on #1000
Will keep this open if you want to reply to @keyur32 :)

[2019-05-15 18:13] mscharlock commented on #1007
@mm90849491 Hello and thank you for trying out Office Add-ins and writing in to our docs team! I'll go ahead and route your question to our Excel folks and get back to you on this!

[2019-05-15 19:24] smozgur commented on #1008
Thanks for the reply, @mscharlock.

I totally agree about using the descriptive names in any kind of procedure in coding as it is the best practice to use long function names in applications as the first rule of efficient programming.

Actually I am particularly against to GET prefix as I tried to explain. Some other prefixes are indeed very useful, and I agree with you on that.

However, readabil

[2019-05-15 19:57] AlexJerabek commented on #998
It appears the text about accepting the certificate installation is already in the QuickStart, though perhaps it's not obvious enough. I'll assign this to @davidchesnut to investigate better display and the yo office text changes.

[2019-05-16 04:55] SaiKoduri3 opened #1016 "The browser might show an invalid certificate error that you will need to bypass."
It will be better if you could tell how to bypass this. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f544127-c7ed-2cee-c7eb-744dc1ce2675
* Version Independent ID: a6474b7d-1f80-f675-331b-640882bd25c5
* Content: [Debug add-ins in Office Online - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-

[2019-05-16 06:52] BlazorDashboard commented on #1000
We have an existing App for Office add in call ConnectCode Barcode Fonts Encoder that creates barcodes using custom fonts. The Excel custom functions version we plan to submit contains a list of all the available barcode functions. For examples, =ConnectCode.EncodeCode128A(A1) or =ConnectCode.EncodeCode39(A1,1) etc...For all the barcodes that we support.

[2019-05-16 14:58] keyur32 commented on #1000
Thanks! If it is an existing addin you will not want to not add that requirement set listed in the manifest. Instead you will need to offer a graceful experience and make sure your addin works in both versions without custom functions and versions with them.

Good luck on the validation!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: djembe-waka <notifications@g

[2019-05-16 15:12] ElizabethSamuel-MSFT commented on #978
@JanZelenka: It's good that you're unblocked but we don't recommend using sudo as a long-term solution since that would seem to indicate there are still some permission/config issues.

@12s: Did you get a chance to try NVM? If so, can you share your results?

Thanks.

[2019-05-16 15:33] akrantz commented on #978
I know what the problem is. We've updated the Yo Office templates to make it easier to generate and install certificates for https://localhost. When "npm run dev-server" or "npm build" is done, the webpack config has a plugin which will generate the certificates and then prompt for permission to install them. The "npm start" command wll start the dev server as a detached process if it has not alre

[2019-05-16 15:37] ElizabethSamuel-MSFT commented on #978
@akrantz: Thanks for your response. We'll see how we can incorporate this info with the various quick starts and tutorials.

@12s, @JanZelenka: Can you try this and let us know the outcome? Thanks.

[2019-05-16 15:38] akrantz commented on #978
@ElizabethSamuel-MSFT It would help to update the docs with information about this problem on Mac.

It is probably best to have them do `npm run dev-server` first, so there is a visible window showing the dev-server output, then Command+T to open a new tab (since the dev server keeps running), and then `npm start`.

Alternatively, if the instructions are focused on using VS Code, I would recommend

[2019-05-16 19:12] mscharlock commented on #1008
No, definitely not a bother at all, I totally welcome the feedback! We have debated as a team about how long names should be and even whether or not a namespace is necessary (because it adds a lot of length). Also, we have found that some of our partners who are trying out custom functions tend to name things with really short abbreviations (even as short as two letters!) instead of using two or m

[2019-05-16 19:12] #1008 closed

[2019-05-16 19:13] mscharlock commented on #1000
@BlazorDashboard sounds like a very cool add-in, glad that custom functions is helpful in your development of it! I am going to close this issue for now, but feel free to reopen if you need additional help or have other questions. Thanks!

[2019-05-16 19:13] #1000 closed

[2019-05-16 20:55] Rick-Kirkham commented on #1016
I've added some guidance. This will probably appear in the published article by tonight Pacific Time Zone.
The guidance has to be very general because the process is different from one browser to another and there are multiple ways of doing it.

[2019-05-16 20:55] #1016 closed

[2019-05-17 00:03] davidchesnut commented on #998
Hi @charliereese,

If you are running on a Mac you may be seeing the same problem reported in [issue 978](https://github.com/OfficeDev/office-js-docs-pr/issues/978) @akrantz posted a workaround on that issue thread. I recommend giving that a try to see if it works for you.

This is also being tracked as [issue 129](https://github.com/OfficeDev/Office-Addin-Scripts/issues/129) to look into with the

[2019-05-17 00:31] charliereese commented on #998
Thanks David!

As mentioned above I got it working fine; the documentation simply seemed to be missing a step.

I did do the example on a Mac, if you think that had something to do with needing the missing step.

Cheers

[2019-05-17 08:17] Noino opened #1018 "Debugging startup errors"
As far as i can figure out, i have to actually open the add-in pane for it to show up in the F12Chooser window, and starting the debugger then is too late when the error happened on startup.
How do i go about debugging add-ins that fail on startup, or actions that do not open a pane?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-05-17 15:22] JanZelenka commented on #978
Thanks for the quick response!
I have tried `npm run dev-server` and afterwards `npm start` in a new tab, got no errors and the web server is happily running.
Grateful your help!

[2019-05-17 15:24] akrantz commented on #978
@JanZelenka I'm glad to hear it!

[2019-05-17 23:10] kbrandl commented on #1018
@Noino seems like the information in [Use runtime logging to debug your add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#use-runtime-logging-to-debug-your-add-in) may be useful in the scenarios you've described. Please check out those instructions and let me know if they provide the type of information you're needing.

[2019-05-18 17:48] smozgur opened #1020 "XHR example"
In the[ XHR Sample code](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs#xhr-example), setRequestHeader, open and send methods of xhttp are not supposed to be placed in onreadystatechange callback function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 667d1e98-4a95-318f-0df1-182722

[2019-05-20 06:18] Noino commented on #1018
@kbrandl This method did not produce any information related to my add-in. Doubt it is a manifest related issue anyway, since it works fine in the browser.
In outlook the sidebar thingy (Action:ShowTaskPane) opens but remains empty, and popup/modal window (Action:ExecuteFunction->Office.context.ui.displayDialogAsync) fails to open and i'm only getting a infinite "add-in is working on your request"

[2019-05-20 08:09] Noino commented on #1018
with "browser" i was referring to anything other then IE, but it seems that is exactly what outlook is working with and looks like its the root of my problem.. Indeed the choice of compatibility tool to run this functionality on is shocking, seeing that the web app itself has trouble working in IE, but that is beyond the scope of this article and ticket.
I've found a way to debug using developer c

[2019-05-20 08:10] #1018 closed

[2019-05-20 14:54] TheWass commented on #1011
Ah, I understand.  From the wording and the active link, it seemed like that link was directing the reader to view an example of what the contents of the help task pane would look like.

[2019-05-20 16:52] kbrandl commented on #1011
@TheWass I can certainly understand how this fake URL being a clickable link in the article would lead to confusion. I've reformatted the link such that it's no longer clickable (PR #1021). You'll see that change applied to the article later this week (the next time we publish doc updates). Thanks for the feedback!

[2019-05-20 16:59] kbrandl commented on #1018
@Noino thanks for the update; glad to hear that you've figured out the problem.

For future reference, [runtime logging](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#use-runtime-logging-to-debug-your-add-in) can be helpful in debugging various types of add-in issues (not just manifest-related issues). I realize that current placement of the information about ru

[2019-05-20 18:26] kbrandl commented on #854
@glr0221 I've submitted PR #1022 to add clarification that setting `IconUrl` at runtime is not currently supported. This change will become visible in the live docs later this week, after the PR is merged and doc updates are published. Thanks again for the feedback!

[2019-05-20 18:26] #854 closed

[2019-05-21 15:57] 12s commented on #978
Yes, running npm dev-server before npm start shows
"the dev server is already running on port 3000" correctly, followed by "Debugging started".

When powerpoint opens I see the same "Add-in Error" thinking the manifest is missing.

I'll keep trying to debug the issue, but without an API endpoint to get and set text (beyond the slide title from getSlideMetadata) my project won't go far :(

[2019-05-21 18:00] kbrandl commented on #856
Submitted PR #1023 to address this issue. Live docs will reflect those changes sometime later this week, after the PR is merged and doc updates are published live.

[2019-05-21 18:00] #856 closed

[2019-05-21 23:06] davidchesnut opened #1026 "yo office requires git"
Tutorials and quick starts that use Yo Office don't currently list **git** as a required prerequisite-- but Yo Office requires it.

## Article URL
(All quick starts and tutorials that use Yo Office)
e.g., https://docs.microsoft.com/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions

## Issue
Yo Office requires git to operator correctly. You'll see this if you follow the steps on a

[2019-05-21 23:24] jakobpn opened #1027 "Naming streaming functions"
Do you have a recommendation on how to name streaming functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714da1e2-6053-0328-b31e-0bf514ecc774
* Version Independent ID: be1e524c-1198-c288-f71e-f9d7f84abeb7
* Content: [Naming guidelines for custom functions in Excel - Office Add-ins](https://docs.microsoft.com/en-

[2019-05-22 12:24] anomepani opened #1028 "How to add slide in powerpoint using Office.JS ?"
I am not able to find proper documentation related to PowerPoint office js. I need to add a slide using office js in Powerpoint add-in.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5dc847-5ea4-9ec9-e855-224639ed6861
* Version Independent ID: d8c790b3-d886-91d2-8480-f01164a7a3aa
* Content: [Understanding the

[2019-05-22 17:52] mscharlock commented on #1027
Hi @jakobpn! :) What kind of information would you be looking for? Having consulted with our editor and @keyur32 on naming we didn't think guidance around streaming was necessary (I guess I would assume people would add STREAM to the end of a function if necessary), but maybe you are looking for something specific or have an idea in mind? Let me know, happy to update these docs with some guidance

[2019-05-22 17:55] kbrandl commented on #1026
@davidchesnut FYI, I've updated the description of this issue to indicate that this issue applies to any article that contains guidance for Yo Office (not just the Custom Functions tutorial). I'll fix this issue today.

[2019-05-22 17:55] mscharlock commented on #1020
Hi @smozgur - thanks for letting me know, appreciate the feedback! Let me confer with the team on getting an updated sample. :)

[2019-05-22 17:57] mscharlock commented on #1007
Just wanted to check in here for you and let you know that I am still working on getting an answer from the Excel folks! :)

[2019-05-22 18:48] kbrandl commented on #1026
Submitted PR #1029 to address this issue. Changes will be visible in the live docs later this week, after the PR is merged and doc updates are published.

[2019-05-22 18:48] #1026 closed

[2019-05-22 19:54] AlexJerabek commented on #1028
Hi @anomepani

There's no direct JavaScript APIs to add slides to PowerPoint presentations. You can add a slide using the OpenXML SDK. One possible solution is that your add-in could get the XML using the [Office.Document.getFileAsync](https://docs.microsoft.com/javascript/api/office/office.document?view=office-js#getfileasync-filetype--options--callback-), edit the XML, then use the [PowerPoint.c

[2019-05-22 19:54] #1028 closed

[2019-05-22 21:52] smozgur opened #1030 "@customfunction id property"
[Documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json-autogeneration#section-1) says:

The characters allowed are limited to: A-Z, a-z, 0-9, and period (.).

However, I am able to use underscore for the id property, just like the name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-05-24 07:23] jhnd7710 opened #1034 "COM Add-in"
Hello!

Could you please tell if there are any possible options for promoting MS Outlook COM add-in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42faa32c-446b-0209-4a24-9a29b4921ea1
* Version Independent ID: a5f0fc77-a881-df1e-1f49-aa0e555022e0
* Content: [Office Add-ins platform overview - Office Add-ins](https://d

[2019-05-24 16:21] kbrandl commented on #1030
@smozgur thanks for the feedback! We'll look into this and update the docs accordingly.

(@mscharlock can you please look into this when you have a chance? Thanks!)

[2019-05-24 17:44] kbrandl commented on #1034
@jhnd7710 thanks for reaching out! I'd be happy to provide some guidance, but I'm not quite sure what type of information you're seeking. Can you please clarify what you mean by _promoting MS Outlook COM add-in_?

[2019-05-24 17:59] mscharlock commented on #1030
Yep, will do!

[2019-05-24 19:16] mscharlock commented on #1030
@smozgur are you seeing an underscore allowed in Script Lab or on a project that is up and running? Script Lab does not have complete parity with the registration mechanism used by custom functions, so it allows _s while regular custom functions projects do not. I'm working to file a bug (and figure out which one engineering actually wants) but wanted to update you and ask.

[2019-05-24 19:32] 4tti commented on #1007
Hello,
just be aware of this: https://github.com/OfficeDev/office-js/issues/521
The events on Windows seem to have some troubles...

[2019-05-24 20:09] smozgur commented on #1030
@mscharlock, both of them.
As a sample, following function works in custom Office add-in as well as Script Lab:

[code]

Metadata is successfully generated as same for both.

[2019-05-24 20:10] smozgur commented on #1030
Actually I don't know if it is a bug. I would expect underscore is accepted by the id. That's why I tested a custom function with underscore in the first place actually.

[2019-05-25 01:07] mscharlock commented on #1030
Awesome, thanks for letting me know. I'll be able to get back to you once @keyur32 is back in the office (should be Tuesday). :)

[2019-05-26 07:05] VenkatSAP commented on #315
Yo office command throwing an error and unable to generate project template. Any link to working solution highly appreciable.

[2019-05-27 05:39] jhnd7710 commented on #1034
Hi, @kbrandl!! 8) Well, first I came up with an idea to add it to MS Appsource but VSOT/COM add-ins are not supported, damn.. ( Obviously they're not supported at all. Then I thought probably there should be other ways to get listed somewhere related closely to Microsoft. We thought we could enroll their Partners Program but there's no certainty we would have an option to add our software as it is

[2019-05-28 17:44] kbrandl commented on #315
@VenkatSAP sorry to hear that you're having trouble. If you can please create a new issue in the [OfficeDev/generator-office](https://github.com/OfficeDev/generator-office) repository (and include info about repro steps and the error message that you're seeing), someone will assist you there.

[2019-05-28 18:08] ElizabethSamuel-MSFT commented on #978
@12s Glad that the server is up and running now.

Regarding the "Add-in error", can you try [sideloading the add-in](https://docs.microsoft.com/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac#sideload-an-add-in-on-office-for-mac)? Let us know if that helps.

Thanks.

[2019-05-28 18:56] mscharlock commented on #1007
@kbrandl can you refile this on office-js and tag @catchingyu? Thank you!
@4tti Awesome, thanks for the heads up! We'll move this one over so there's record of more than one person hitting this issue, hopefully that can help speed along development. :)

[2019-05-28 19:07] kbrandl commented on #1034
@jhnd7710 thanks for the clarification! As you've indicated, [AppSource](https://appsource.microsoft.com) only accepts [Office (web) Add-ins](https://docs.microsoft.com/office/dev/add-ins/overview/office-add-ins) and unfortunately, there's no longer a Microsoft-owned marketplace for VSTO / COM add-ins. I realize this isn't the answer you were hoping for, but you'll need to promote/market your VSTO

[2019-05-28 19:08] #1034 closed

[2019-05-29 04:51] catchingyu commented on #1007
@mm90849491 , i create an issue https://github.com/OfficeDev/office-js/issues/533 to track it. Is it possible for you to provide us more info on this issue?

[2019-05-29 17:42] kbrandl commented on #1007
I'm going to go ahead and close this issue here in the docs repo (instead of transferring it), since @catchingyu already created a corresponding issue in the OfficeDev/office-js repo ([# 533](https://github.com/OfficeDev/office-js/issues/533)).

[2019-05-29 17:42] #1007 closed

[2019-05-29 18:09] ElizabethSamuel-MSFT commented on #978
We've updated the tutorials and quick start with Mac guidance. Those updates should be go live this week.

[2019-05-29 18:14] ElizabethSamuel-MSFT commented on #998
@charliereese: We updated the certificate note and added Mac guidance (see issue 978 referenced previously). I'll go ahead and close this as you seem to be unblocked. Thanks again for letting us know.

[2019-05-29 18:14] #998 closed

[2019-05-29 20:32] 12s commented on #978
Hey Elizabeth,
Looking forward to the Mac guide. I'll follow along when its up.

[2019-05-29 20:53] jakobpn opened #1043 "Samples desired"
Would be great to have a couple of sample functions on this page that show how the @tags are used together and to what effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be178996-8552-f246-7adf-58cecb58a0f9
* Version Independent ID: cfe4f29e-87ea-6332-8e17-e858392c1961
* Content: [Autogenerate JSON metadata for cus

[2019-05-29 20:55] jakobpn opened #1044 "How to provide a function description"
How do I provide a description to the function using the @tags?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be178996-8552-f246-7adf-58cecb58a0f9
* Version Independent ID: cfe4f29e-87ea-6332-8e17-e858392c1961
* Content: [Autogenerate JSON metadata for custom functions - Office Add-ins](https://docs.microsoft.com/en-u

[2019-05-29 21:19] kbrandl commented on #1044
@jakobpn thanks for reaching out with this question. @mscharlock are you able to provide some feedback here (and update the docs if necessary)? Thanks!

[2019-05-29 21:21] kbrandl commented on #1043
@jakobpn thanks for reaching out with this suggestion. @mscharlock FYI, assigning to you for consideration. Thanks!

[2019-05-29 21:23] mscharlock commented on #1043
Thanks, I can add some :) Thanks for the suggestion, @jakobpn!

[2019-05-30 14:33] ElizabethSamuel-MSFT commented on #978
@12s We look forward to hearing your feedback on that. However, were you able to try sideloading the add-in? Thanks.

[2019-05-30 16:54] esbanarango commented on #978
Waiting for the Mac guides as well here 🙏 ! In the mean time I followed @akrantz suggestion https://github.com/OfficeDev/office-js-docs-pr/issues/978#issuecomment-493118079

[2019-05-30 18:40] mscharlock commented on #1030
Ok, I got some clarity from people. Turns out underscores are supposed to be allowed in both id and name. I'll have a fix out here shortly! Thanks for reporting this issue. :)

[2019-05-30 18:42] mscharlock commented on #1044
Yep, can do. Thanks for pointing that out - just for your reference in the meantime, it is the first sentence you enter in the JSDOC *s that isn't accompanied by a tag, typically right after @customfunction. So, something like:
[code]
I will put a fix in today! :)

[2019-05-31 19:06] phlppnhllngr commented on #584
If anyone is interested, I created a small demo/repository where I wrote down some instructions on how to implement e2e tests for TaskPane apps (in this case the sample Contoso app for Word created by yeoman generator office). I was using Appium and WinAppDriver.
The link is: https://github.com/phlppnhllngr/office-addin-integration-testing

[2019-06-03 20:33] mscharlock commented on #1027
Just wanted to let you know that I've put a note in about this into our naming article! I'm going to go ahead and close this issue but let me know if you need further assistance, happy to reopen this issue for you.

[2019-06-03 20:33] #1027 closed

[2019-06-03 20:35] mscharlock commented on #1030
Going to go ahead and close this issue now that a fix has been implemented in the docs - thanks again for the suggestion @smozgur! Feel free to leave a comment to the issue if you need any further assistance, but I'll close for now!

[2019-06-03 20:35] #1030 closed

[2019-06-04 06:59] Himanshusingh01 opened #1053 "Custom Functions add-in on Excel (Mac platform) - custom functions are not visible."
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows

## Issue
The custom function is not available though the add-in is sideloaded successfully. The problem is observed on Excel (version 16.23) on Mac platform.
<img width="641" alt="Screen Shot 2019-06-04 at 12 26 23 PM" src="https://user-images.githubusercontent.co

[2019-06-04 17:37] ElizabethSamuel-MSFT commented on #978
Closing this as the changes are live. We appreciate all the input on this. If you're still facing issues, let us know. Thanks.

[2019-06-04 17:37] #978 closed

[2019-06-04 20:42] mscharlock commented on #1053
Hi @Himanshusingh01 - thanks for reading the docs about custom functions and trying them out! Have you tried clearing the Office cache? [Instructions here](https://docs.microsoft.com/office/dev/add-ins/testing/troubleshoot-manifest?branch=master#clear-the-office-cache) on how to do that. I would also make sure that your code is [associating functions properly](https://docs.microsoft.com/en-us/offi

[2019-06-05 05:45] Himanshusingh01 commented on #1053
Hi @mscharlock - Thanks for the revert.

Tried the suggestions but the problem is still there.

Folder ~/Library/Containers/com.Microsoft.OsfWebHost/Data/  doesn't exist in my system so as suggested in the post I deleted files from ~/Library/Containers/com.microsoft.Excel/Data/Library/Caches/ and
com.microsoft.Office365ServiceV2/Data/Library/Caches/com.microsoft.Office365ServiceV2 folders.

I have

[2019-06-05 12:31] Himanshusingh01 commented on #1053
Additional Info - I also did a quick check to see if it works on windows platform.

I used network share drive to sideload the add in and test as described in the link https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

The Add-in didn;t appear in the shared folder tab unless I remove following lines from manifest.

[2019-06-05 14:54] c9777777 opened #1056 "Permissions"
What permissions are required to use centralized deployment I.E. this feature here

https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment

Thanks

[2019-06-05 16:38] kbrandl commented on #1056
@c9777777 thanks for your interest in Office Add-ins, and for reaching out with this question. You must be an O365 admin for your organization in order to use centralized deployment to deploy Office Add-ins to users within your organization. Additional information about requirements for using centralized deployment can be found in [Determine if Centralized Deployment of add-ins works for your orga

[2019-06-05 16:38] #1056 closed

[2019-06-05 18:33] HeatherAllemang opened #1057 "Troubleshoot user errors with Office Add-ins"
suggestions
add the location of the debug log for internet explorer.
Can you add anything for when users get 'Access denied'?
Otherwise great article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6cb5f52-dfc5-4fa2-6508-194d6f1c674a
* Version Independent ID: 8f3caf2d-fba3-166f-43bc-1d3e4007abab
* Content: [Troublesho

[2019-06-05 22:25] keyur32 commented on #1053
Hi @Himanshusingh01, you will need update your build of Mac to be at least 16.24 or later.

Here are the requirements to put in Custom Functions: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets#custom-functions

@mscharlock  -  can we put a cross link from the custom functions topic so it is clear?

[2019-06-05 22:29] mscharlock commented on #1053
@keyur32 Yes, can do!

[2019-06-06 00:15] keyur32 opened #1058 "Custom Functions Tutorial needs to be updated"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows

## Issue
- Tutorial talks about calling stock prices.
- We need to update to reflect new stock end point and API key is required so the function calls continue to work as the underlying API changes to reflect new model

[2019-06-06 00:21] keyur32 commented on #1058
We should update:
 var url = "https://api.iextrading.com/1.0/stock/" + ticker + "/price";

with
//Note: you will need to register for an account to get a token on https://iexcloud.io/
 var url = "https://cloud.iexapis.com/stable/stock/" + ticker + "/quote/latestPrice?token=<YOUR_TOKEN_HERE>"

[2019-06-06 04:29] Himanshusingh01 commented on #1053
It worked after upgrading the Excel to 16.25. Thanks @keyur32 @mscharlock

[2019-06-06 04:29] #1053 closed

[2019-06-06 13:51] jolu71679 opened #1060 "cant debug my excell addin"
## Article URL

## Issue

[2019-06-06 13:55] jolu71679 commented on #1060
I developed an add in in excel. and i am sending https requests to a server which get the requests and reply back.
the issue is that i am not able to access the data in the client side when doing https get request.
i want to do debugging , but it doesnt work ,even when using all instructions from the office  official site.
please i need help to debug my app bc of this problem i am facing

[2019-06-06 17:08] Rick-Kirkham commented on #1060
@jolu71679 We use the issues in this repo to track errors in the documentation. For technical, "how to", questions like this, we recommend that you raise the issue on Stack Overflow. That way the entire community will benefit from the answers that you get. Be sure to tag the question `office-js`.

In the meantime, be sure you have installed either the Fiddler tool or the Charles tool. These tools

[2019-06-06 17:08] #1060 closed

[2019-06-09 22:11] PeterBrodersen opened #1064 "Document links to a non-existing .json file in its note"
The document specifies:

However it links to a non-existing .json file:
https://github.com/OfficeDev/Excel-Custom-Functions/blob/master/src/functions/functions.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc9afc49-47bc-c0b4-249f-5c66a9421747
* Version Independent ID: ae89f268-e83d-1a08-babe-3f1c3dc11796
* Conten

[2019-06-10 16:34] kbrandl commented on #1064
@PeterBrodersen thanks for reporting this issue; we'll look into it and update doc as needed.

@mscharlock can you please look into this issue when you have a chance? Looks like the functions.json file is no longer included in the sample project (OfficeDev/Excel-Custom-Functions), presumably since it's being autogenerated from the JSDoc comments. Thanks!

[2019-06-10 17:29] mscharlock commented on #1064
@kbrandl oh right! Yes, sure thing. :) Thanks for pointing this out, @PeterBrodersen. We have switched up the yo office template a couple times, so this is an out of date link. I'll go ahead and update it.

[2019-06-10 18:51] mscharlock commented on #1044
Ok, I've put a fix in (took a while in editing as our team is quite busy). I'm going to close this issue for now, but feel free to comment on this issue again if you need anything else and I can reopen it. Thanks!

[2019-06-10 18:58] #1044 closed

[2019-06-10 19:07] mscharlock commented on #1057
Hi @HeatherAllemang - Thanks for reading our docs and for the suggestions! We will go ahead and take them into consideration and add appropriate work items to our backlog. Are you having an "access denied" error that you need assistance with? If so, to help troubleshoot it would be great if you can give me some more details about the situation in which you get this message (what action are you try

[2019-06-10 19:21] HeatherAllemang commented on #1057
Hello,
I have the fix for this now.  The users need to have the ‘Read/Write’ mailbox permissions role, which is talked about here:
https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/add-ins-for-outlook/specify-who-can-install-and-manage-add-ins
We get a fair amount of tickets where users cannot use add-ins.

thanks
Heather

From: Michelle Scharlock <notifications@githu

[2019-06-10 19:26] kbrandl opened #1065 "Broken (external) links"
The June CATS report flagged the following two broken links. For each of these links, either replace the link with a valid link, or remove the link altogether (and revise article as needed).

**Broken link # 1:**
- Article: [Naming guidelines](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-naming)
- Source file: https://github.com/OfficeDev/office-js-docs-pr/blob/live/d

[2019-06-10 19:28] kbrandl commented on #1065
@mscharlock can you please look into this issue when you have time? I did a quick internet search for new/replacement links but didn't find anything ideal; so probably best for you (as someone who's more familiar with this content) to find replacement links. Thanks!

[2019-06-10 20:02] kbrandl opened #1066 "Invalid bookmark"
The June CATS report flagged the following broken bookmark. Need to either update the bookmark to point to a valid location, or remove the bookmark altogether (and revise surrounding content in article as needed).

**Broken bookmark**
- Article: [Custom functions metadata](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json)
- Source file: https://github.com/OfficeDev/o

[2019-06-10 20:04] kbrandl commented on #1066
@mscharlock can you please look into this issue when you have time? I did a quick search of the docs to see if I could find the correct link/bookmark to use here, but didn't find anything; so probably best for you (as someone who's more familiar with this content) to update with the correct link/bookmark. Thanks!

[2019-06-11 19:17] Rick-Kirkham opened #1074 "Test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42faa32c-446b-0209-4a24-9a29b4921ea1
* Version Independent ID: a5f0fc77-a881-df1e-1f49-aa0e555022e0
* Content: [Office Add-ins platform overview - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins#feedback)
* Content Source: [

[2019-06-11 19:18] #1074 closed

[2019-06-12 07:31] OfficeGlobal opened #1075 "[LOC] Invalid link in an article"
There is an invalid link in an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/add-ins/word/word-add-ins-programming-overview
2. Search for "API open specifications"
3. Click on the link

**Actual results**:
Link is not working
**Expected results**:
Link works or is removed from the topic

**GH article**:
https://github.com/OfficeDev/office-js-docs-pr/blob/live/docs

[2019-06-12 08:03] OfficeGlobal opened #1076 "[LOC] Invalid link in an article"
There is an invalid link in an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-authentication
2. Search for "OfficeRuntime.storage"
3. Click on the link

**Actual results**:
Link is not working
**Expected results**:
Link works or is removed from the topic

**GH article**:
https://github.com/OfficeDev/office-js-docs-pr/blob/live/docs/ex

[2019-06-12 08:09] OfficeGlobal opened #1077 "[LOC] Invalid link in an article"
There is an invalid link in an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs
2. Search for "the custom functions tutorial."
3. Click on the link

**Actual results**:
Link is not working
**Expected results**:
Link works or is removed from the topic

**GH article**:
https://github.com/OfficeDev/office-js-docs-pr/blob/live/docs

[2019-06-12 08:12] OfficeGlobal opened #1078 "[LOC] Invalid link in an article"
There is an invalid link in an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/add-ins/
2. Search for "API open specifications"
3. Click on the link

**Actual results**:
Link is not working
**Expected results**:
Link works or is removed from the topic

**GH article**:
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/index.yml

![image](https://user-im

[2019-06-12 15:29] kbrandl opened #1081 "Broken link"
The link to "Office Add-ins platform overview" in See Also is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1eb88c1-06fc-dfb1-67ee-da88fa7e985a
* Version Independent ID: 8ed13e25-a7bd-25ef-5525-eb1000148578
* Content: [Excel add-ins overview - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-in

[2019-06-12 16:25] kbrandl commented on #1081
Closing, as this issue was created as part of a demo during this morning's Office Add-ins community call.

[2019-06-12 16:25] #1081 closed

[2019-06-12 16:35] kbrandl commented on #1077
This broken link has been fixed (as part of #1067) and the fix will be published to the live docs later today (when **master** gets merged into **live**). Closing this issue since the problem's been addressed.

[2019-06-12 16:35] #1077 closed

[2019-06-12 16:47] kbrandl commented on #1076
This broken link has been fixed (as part of #1082)  and the fix will be published to the live docs later today (when **master** gets merged into **live**). Closing this issue since the problem's been addressed.

[2019-06-12 16:47] #1076 closed

[2019-06-13 07:28] ahmednrana opened #1085 "Addin Unavailable"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-react
## Issue
I am getting this error
**Addin Unavailable**
This add in is no longer unavailable. If this addin's manifest was removed, please restore it to its previous location and try again.

I am Mac OS Mohave 10.14.5
Using Excel 16.26 provided by my office.

I followed the exact steps for Mac OS b

[2019-06-13 16:35] kbrandl commented on #1085
@ahmednrana sorry to hear you're having trouble with the React project that the Yeoman Generator for Office Add-ins (Yo Office) creates. I'm going to transfer this issue to the OfficeDev/generator-office repository, so that you can hopefully get some feedback from the folks who maintain Yo Office.

[2019-06-13 17:00] davidchesnut commented on #851
Hi @wtftc, I updated the article to have correct UI steps for both online and on-premises SharePoint. Please take a look and let us know if you spot anything else. Thanks for letting us know so we could update the article!

[2019-06-13 17:03] 12s commented on #195
I am having the same issues. Not seeing 'inspect element'. not able to console log after:
 defaults write com.microsoft.Word OfficeWebAddinDeveloperExtras -bool true

[2019-06-13 17:04] 12s commented on #195
.. was able to see console log..  please disregard comment above

[2019-06-13 19:08] mscharlock commented on #1057
@HeatherAllemang glad that you were able to find a fix for the issue. Let me know if you need any further assistance - I'm going to close this thread for now, but if you comment on it in the future and ask me to reopen it, I will do! Thanks :)

[2019-06-13 19:08] #1057 closed

[2019-06-13 19:10] mscharlock commented on #1066
Sure, will do. I'll look into it and update. Sorry for the delay. Thanks!

[2019-06-13 19:10] mscharlock commented on #1065
Ok, can do!

[2019-06-13 20:41] HeatherAllemang commented on #1057
thanks. Adding the mailbox role perms of 'read/write' which is needed for some office apps resolves the issue where users get the error 'access denied' when trying to use an office add-in.  At least this is one of the scenarios where it fixes the issue.

[2019-06-13 20:45] AlexJerabek commented on #1075
Fixed with #1080

[2019-06-13 20:45] #1075 closed

[2019-06-13 20:45] AlexJerabek commented on #1078
Fixed with #1079.

[2019-06-13 20:45] #1078 closed

[2019-06-13 22:46] kbrandl opened #1088 "missing TOC entry"
There's no TOC entry for this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2520e2b8-0845-ac29-8de8-4d7f39049802
* Version Independent ID: 3fda6834-a5c1-d45e-51a8-4f61714aaf2b
* Content: [COM add-in and XLL UDF requirements - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/xll-compat

[2019-06-13 22:47] kbrandl commented on #1088
@mscharlock FYI, I noticed today that this article doesn't exist in the TOC. Can you please update the TOC to add an entry for this article in the appropriate location? Thanks!

[2019-06-14 16:41] mscharlock commented on #1088
Sure, can do

[2019-06-17 16:27] keyur32 opened #1092 "Custom Functions Information needs to be more clear about the versions of Office Custom Functions can run in"
## Article URL
https://aka.ms/customfunctions

## Issue

We have many reports from customers who cannot find the correct information to build custom functions.
-  Often they will try on 2019 and hit issues.  We should be clear this does not work on 2019.
- Our documentation still states 1810 or earlier. For production, we should stay 1904 as specified in the [custom functions requirements article

[2019-06-17 19:05] mscharlock commented on #1092
In a PR, thanks for the flag!

[2019-06-17 19:58] RobertFishcake opened #1096 "Sideload Excel Add-in on IPAD for testing locally not working"
I've followed the instructions above (for IPAD), can see my Excel Add-In under "DEVELOPER ADD-INS" but when I select it (on the IPAD) it display "Add-in Error...Sorry we can't load the add-in..." there is a "Retry" button which just regenerates the error.  I've had this working fine when my Manifest points to this Web app (Add-In) on Azure, but when I'm running Localhost (port 3000) from my Window

[2019-06-17 20:51] mscharlock commented on #1066
Closing this issue as I've updated the link! Thanks for the flag :)

[2019-06-17 20:51] #1066 closed

[2019-06-17 20:51] mscharlock commented on #1065
Fixed! Thanks for the flag, appreciate it.

[2019-06-17 20:51] #1065 closed

[2019-06-17 20:52] mscharlock commented on #1064
@PeterBrodersen a fix is in the docs and should go out tomorrow when we do our latest pull in of all our updates. Thank you for reporting this and hope you are enjoying developing with custom functions! I'm going to close this issue but let me know if you would like me to reopen this issue by commenting on it. Thank you again!

[2019-06-17 20:52] #1064 closed

[2019-06-17 20:53] mscharlock commented on #1020
Hi @smozgur, a sample is coming. Team wanted to figure out if more people were using fetch vs. XHR and what would be the best approach in the docs, which is why this has taken a little longer to address than usual. Anyway, wanted to update you so you know that we haven't forgotten about this!

[2019-06-17 20:55] mscharlock commented on #1058
API key fix is in and a PR is being prepped with some samples that use an alternative API. Thank you for reporting this and using the p1 tag - that helps us keep track of what's the most important fix. :) Apologies that this fix went in later than we anticipated.

[2019-06-17 20:55] #1058 closed

[2019-06-17 20:59] mscharlock commented on #1096
Hi @RobertFishcake, thanks for trying office add-ins and reading our documentation! Let me route this question to the right set of folks and get back to you. My hunch is that you should be able to do this in VSCode and Node JS, without using Visual Studio, but I will check with folks over here and see what they say. Just to confirm, are you seeing this error on Excel Online or are you experiencing

[2019-06-17 21:04] kbrandl commented on #1096
@RobertFishcake if you created your add-in with the [Yeoman generator for Office Add-ins](https://www.npmjs.com/package/generator-office), can you please try clearing out any existing manifests:

* In a Terminal window, run: `npx office-toolbox remove`, choose Excel, and then remove any manifests that are listed. If more than one, run it again until there are no manifests.

Please give this a try

[2019-06-18 00:16] mscharlock commented on #1092
Should go up in documentation tomorrow, when the latest changes are pulled in. Going to close this issue for now, but notify me on this thread if you want me to reopen and change things. Happy to help!

[2019-06-18 00:16] #1092 closed

[2019-06-18 00:17] mscharlock commented on #1088
This should be addressed in a recent PR! Thanks for the flag, I appreciate it! :)

[2019-06-18 00:17] #1088 closed

[2019-06-18 12:45] PeterBrodersen opened #1098 "Dead link for complex manifest file"
The text phrase "which you can compare on this Github repository." links to
https://github.com/OfficeDev/Excel-Custom-Functions/blob/generate-metadata/manifest.xml
However this page is not found.

The real link might be:
https://github.com/OfficeDev/Excel-Custom-Functions/blob/master/manifest.xml

(this might be related to #1064 ?)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-06-18 13:51] jakobpn opened #1099 "Incorrect name in XML sample"
We have a partner reporting that the element currently named ProgID should be named ProgId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e01562c5-ae22-8345-83f5-c1159bbb7cf0
* Version Independent ID: 70835436-060e-807f-3cee-a8ca0f7b6959
* Content: [Make your Office Add-in compatible with an existing COM add-in - Offi

[2019-06-18 15:21] 12s opened #1100 "[Warning] [blocked] The page at https://localhost:3000/index.html?_host_Info=Word$Mac$16.01$en-US was not allowed to run insecure content from http://localhost:1234/"
Hello,

I am trying to fetch data from localhost:1234 to localhost:3000 where the add-in is hosted.

I have tried all the conventional ways unsuccessfully before coming across this page and trying the jsonP method.  The script tag gets added the the head node, but no network request is made and I get the blocked warning in seen in the title.

No request is made in the network part of the inspector

[2019-06-18 15:35] 12s commented on #1100
Also, I have added the AppDomain to the manifest. I'm guessing now that the localhost:1234 app needs to be https:// .. I'll try and get that checked too

[2019-06-18 16:52] AlexJerabek commented on #1099
@jakobpn Are you able to verify that information? If so, it's an easy enough documentation change.

[2019-06-18 17:28] mscharlock commented on #1098
Gosh darn it, sorry about that. I will update this for you - I thought I had the right URL. Thanks for keeping me honest! :)

[2019-06-18 20:13] 12s commented on #1100
.. so to answer my own question, I was able to get the correct responses from the https://localhost after creating and trusting my own certs on the server. Looked like this:

var credentials = {key: privateKey, cert: certificate};
var httpsServer = https.createServer(credentials, app);
httpsServer.listen(8443);

[2019-06-18 21:47] kbrandl commented on #1099
@jakobpn thanks for reporting this issue; it's been addressed by PR #1103.

[2019-06-18 21:47] #1099 closed

[2019-06-18 21:49] kbrandl commented on #1100
@12s thanks for updating this issue with your solution; I'll go ahead and close this issue now.

[2019-06-18 21:49] #1100 closed

[2019-06-19 19:42] davidchesnut commented on #851
Hi @wtftc,

Documentation is up-to-date, so I will close this issue now. Please let us know if you find any additional issues.

Thanks!

[2019-06-19 19:42] #851 closed

[2019-06-20 18:37] mscharlock commented on #1098
Should be up to date now! I am going to close this issue but let me know if you need anything else by commenting on this thread.

[2019-06-20 18:37] #1098 closed

[2019-06-21 05:00] nbaolong48 opened #1114 "Link to modified manifest mail app schema is dead"
When following the article to setup SSO in add-in for .net, the link to "Modified MailAppVersionOverrides Schema" is dead.

## Article URL
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/create-sso-office-add-ins-aspnet.md

## Issue

 Workaround for Outlook: Copy this modified version of the file into the folder: <link>Modified MailAppVersionOverrides Schema</link> -> link

[2019-06-21 07:50] Rick-Kirkham commented on #1114
Thanks for catching this. I'll get that fixed. The correct URL is:
https://github.com/OfficeDev/outlook-add-in-attachments-demo/blob/master/manifest-schema-fix/MailAppVersionOverridesV1_1.xsd

[2019-06-21 14:16] BeachAlmanack opened #1115 "IEX Has changed their API the example endpoint for custom functions is longer available"
## Article URL

## Issue

[2019-06-21 17:01] kbrandl commented on #1115
@BeachAlmanack thanks for reporting this issue with the docs.

We recently updated the IEX endpoint in code samples within the [Excel custom functions tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions) but it looks like the same type of update is needed in the [Fetch example](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/cust

[2019-06-21 17:26] #1115 closed

[2019-06-21 17:32] Rick-Kirkham commented on #1114
This is fixed in the source file and the corrected version should publish tonight I the Pacific Time Zone (USA).

[2019-06-21 17:32] #1114 closed

[2019-06-21 18:05] kbrandl commented on #1115
@BeachAlmanack I've updated the IEX URL in the [Fetch example](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs#fetch-example) within the [Receive and handle data with custom functions](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-web-reqs) article. Please let me know if there are any additional changes needed. Thanks!

[2019-06-21 18:51] BeachAlmanack commented on #1115
I've been building a excel add-in for work to speed up our portfolio
analysis. Two quick questions.
1. One of the components is a quick regression analysis for classification
of securities using time series data. The righthand side variables are
generated through a backend where it loads in data does person correlation
coefficients. Etc etc.

This is much faster in the desktop version because back

[2019-06-21 19:24] kbrandl commented on #1115
@BeachAlmanack glad to hear that this morning's update to the IEX URL resolved the issue you reported -- thanks for confirming!

Here's some feedback regarding your questions:
1. See this article for info about storage options within an Office Add-in: [Persisting add-in state and settings](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/persisting-add-in-state-and-settings).
2. There's

[2019-06-21 19:55] mscharlock commented on #1043
Just wanted to let you know @jakobpn that we've pushed in changes to address this, so samples should be in the docs next Tuesday when we do our next update! I'm going to close this issue for now but let me know if you need anything else with a comment on this thread. Thanks!

[2019-06-21 19:55] #1043 closed

[2019-06-23 13:50] RobertFishcake commented on #1096
Hi, Many thanks for the quick responses and sorry for the delay in replying.
I've tried all suggestions you've made and am still facing the same issue.
Dev Platform Win 10 Pro 64 Bit, VS Code, Node JS, I used YO Office to create an Excel  Add-in.  I'm using an IPAD Pro fully updated with Excel Application, not Office 365 etc.  I've tried removing / adding the Manifest from the IPAD via iTunes and

[2019-06-23 14:01] RobertFishcake commented on #1096
In addition, it also works absolutely fine when I'm running it locally (Port 3000) and using Office 365 Excel.  I fire up Excel (O365) upload the same Manifest file as I've been using on the IPAD and it works instantly...so I think its something to do with the IPAD not being able to see my local host?

[2019-06-24 17:33] kbrandl commented on #1096
@RobertFishcake I've never personally tried the scenario you've described, but would recommend that you verify whether or not the iPad can access the web app on localhost (running on your laptop) by opening a web browser on your iPad and trying to navigate to a localhost URL in that web browser. If you can successfully navigate to the localhost URL (i.e., the web page loads in the browser) on your

[2019-06-24 17:35] kbrandl commented on #1096
I'm going to go ahead and close this issue now, since it seems related to your technical setup / configuration between your laptop and iPad (and not specifically related to Office Add-ins).

[2019-06-24 17:35] #1096 closed

[2019-06-24 19:56] oaltun opened #1124 "JQuery related errors in Word Add-in"
On Visual Studio 2019 Community Edition, I started with the C# Word Web Add-in template. The template runs fine directly. Then I followed the steps in this page, except step 13, as step 13 is related to the Excel template.

When I push the Start button on Visual Studio, I get following errors:

Severity	Code	Description	Project	File	Line	Suppression State

Error		Build:Cannot find namespace 'Sizzl

[2019-06-24 20:37] mscharlock commented on #1020
Hi @smozgur, a new sample should be up on the docs tomorrow. (PR has been approved and we're just waiting to merge in batched changes on our usual Tues/Thurs cycle). Thanks! I'm going to close this issue but let me know if you need anything else by commenting on this issue again.

[2019-06-24 20:37] #1020 closed

[2019-06-24 22:12] keyur32 opened #1128 "Troubleshooting guide needs to have a section for "Error loading Add-in" message in the status bar."
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting

## Issue

Customer Report on error that they saw during install. Advice was to re-install and install again.

While I think that is OK, we should ask users to submit feedback so our team can capture telemetry and logs.

[2019-06-24 22:13] keyur32 commented on #1128
Error was "Error loading add-in".  We need to find some additional telemetry so we can make this error more meaningful.

[2019-06-25 01:34] Reezaali commented on #1128
[Internal task.](https://office.visualstudio.com/e853b87d-318c-4879-bedc-5855f3483b54/_workitems/edit/3449304)

[2019-06-25 09:23] rajibprm opened #1132 "Focus Custom tab by default while opening the office 365 excel for 1st time"
I have create a custom tab along with few groups in excel via manifest.xml. Now I want to know, how can I focus to open the custom tab instead of Home by default while opening the excel for 1st time. What I have to write on manifest .xml for that.

I have sent 2 images. default: which is now after opening one excel on office 365
want : This one I want to do

![default](https://user-images.githubus

[2019-06-25 16:50] ElizabethSamuel-MSFT commented on #1124
@oaltun Sorry to hear that you're hitting these errors. We're digging into this and should give you an update soon. Thanks.

[2019-06-25 17:07] Rick-Kirkham commented on #1132
We use the issues in this repo to track errors in the documentation. Please raise technical questions like this on Stack Overflow. That way the whole community will benefit from the answers that you get. Be sure to tag the question `office-js`.

[2019-06-25 17:07] #1132 closed

[2019-06-25 17:30] ElizabethSamuel-MSFT commented on #1124
@oaltun Unfortunately I'm unable to repro the build errors you reported. While I am seeing the TS errors, on F5 Word is opened and the add-in is working. Can you share some more info about your VS configuration? I installed VS Community 2019 version 16.1.3. Thanks.

[2019-06-25 20:39] Wolfthorne commented on #978
I have the same issue and it is because I have a space in my username :(

[2019-06-26 14:50] jasonqsong opened #1137 "There's no way to remove a sideloaded add-in on web or windows"
In office 365 word web app, after manually uploading the manifest.xml file, the button stick on the ribbon menu and the add-in doesn't shown in the my-addins page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab35128-1e97-c6ad-babc-f696f2e7b0fe
* Version Independent ID: cd1bacb1-14d7-a38d-321c-ebc2a526e03b
* Content:

[2019-06-26 14:52] jasonqsong commented on #1137
On Web:

![image](https://user-images.githubusercontent.com/6178947/60190223-e35a2c80-9864-11e9-81f9-0d434e895f6b.png)

![image](https://user-images.githubusercontent.com/6178947/60190294-fec53780-9864-11e9-9e91-0b7c45e68c67.png)

On Windows:

![image](https://user-images.githubusercontent.com/6178947/60190345-113f7100-9865-11e9-8530-84b9f8a087d1.png)

[2019-06-26 18:03] Rick-Kirkham commented on #1137
It is normal for sideloaded add-ins to not appear in the MY ADD-INS tab.
This repo is used to track errors in the documentation. For technical puzzles like this, please raise the issue on Stack Overflow and be sure to tag it `office-js`. This will help the whole community benefit from the answers that you get.

[2019-06-28 21:40] plmayfield opened #1141 "Debugger setpoints won't work, error indicates symbols are not available"
When running this example, my debugger would give me a hollow red circle (in debug mode). It complained about no debug information. I tried VS 2017 and 2019 and nothing worked. After hours of research I worked out this solution. Change the tsconfig.json file to below. I added the "sourceMap" line.

{
  "compilerOptions": {
    "skipLibCheck": true,
    "lib": [ "es5", "dom", "es2015.promise" ],

[2019-06-28 22:00] plmayfield opened #1142 "Two things the article doesn't mention"
For this to work properly I had to add the following ...
1. Debug didn't work. It complained about missing symbols. I added the sourcemap line to the tsconfig.json file.

[code]

2. After converting to .ts, all the Microsoft reference documentation change the calls to something like this ...

[code]

This threw Javascript errors 'promise' is undefined. I found this link ... https://stackoverflow.c

[2019-07-01 07:49] AbhinavMantri opened #1143 "How to return matrix or multiple values with custom function?"
Is there any option or approach which I can use to return table data with custom function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ad7803-d4f7-a700-7c7f-204cd8f34e4a
* Version Independent ID: 9c485bae-cab1-bdad-4c8e-baad2b12b22d
* Content: [Create custom functions in Excel - Office Add-ins](https://docs.micros

[2019-07-01 13:35] RoelVB opened #1144 "Debugging add-in loaded with Edge engine"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10

## Issue
This article only tells how to debug using IE, but what if the add-in is loaded with Edge.
[Browser used by Office Add-ins](https://docs.microsoft.com/nl-nl/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)

It also looks like there is a way to f

[2019-07-01 13:39] RoelVB opened #1145 "Debugging add-in loaded with Edge engine"
This article only tells how to debug using IE, but what if the add-in is loaded with Edge.
[Browser used by Office Add-ins](https://docs.microsoft.com/nl-nl/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)

It also looks like there is a way to force Office to use IE for your add-in, because Microsoft's Insights add-in is still using IE while others don't.

---
#### Document Details

[2019-07-01 13:39] RoelVB commented on #1144
Made issue #1145 with correct article linking

[2019-07-01 13:39] #1144 closed

[2019-07-01 18:01] kbrandl commented on #1143
@AbhinavMantri Thanks for your interest in Office Add-ins development. Feedback here is intended for reporting problems with the API *documentation*. Can you please post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag and the [custom-functions-excel](https://stackoverflow.com/questions/tagged/custom-functions-excel) tag? By posting how

[2019-07-01 18:01] #1143 closed

[2019-07-01 18:07] kbrandl commented on #1141
Closing this issue as a (partial) duplicate of #1142.

[2019-07-01 18:07] #1141 closed

[2019-07-01 18:10] kbrandl commented on #1142
@plmayfield thank you for providing this feedback, and apologies that the article didn't provide all the information you needed. We'll look into updating the article to incorporate this info.

[2019-07-01 18:26] Rick-Kirkham commented on #1145
Thanks for pointing this out. I'll get the article fixed. In the meantime, for Edge debugging, we recommend this tool: [Microsoft Edge Devtools](https://www.microsoft.com/p/microsoft-edge-devtools-preview/9mzbfrmz0mnj?activetab=pivot%3Aoverviewtab).

[2019-07-01 19:44] Rick-Kirkham commented on #1128
Fixed in source. Should be in published version in the next 48 hours.

[2019-07-01 19:44] #1128 closed

[2019-07-01 22:25] #1145 closed

[2019-07-01 22:27] Rick-Kirkham commented on #1145
Fixed in the source. Should be published in the next 48 hours.

[2019-07-02 17:39] ElizabethSamuel-MSFT commented on #1124
@oaltun I'll close this issue now. However, if you're still blocked, let us know and we'll reactivate it. Thanks again for reporting this!

[2019-07-02 17:39] #1124 closed

[2019-07-04 20:50] VashJuan opened #1155 "Can Office Add-ins be used to display an Office document in a web page?"
Hope this is the right place, but after about 45 minutes I don't see the above topic addressed at:

## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/

## Issue
There are many requests for info about how to embed an Office Document (read-only or editable too) on a generic web page on Stack Overflow, but I don't see this issue addressed in your documentation. The info seems all abo

[2019-07-05 00:11] Rick-Kirkham commented on #1155
This cannot be done with an Office add-in.
You might be able to achieve this by adding an iframe to the web page and setting iframe's `src` property to the URL of an Office document on OneDrive or Sharepoint. I haven't tried it, but I *think* the document would open in Office Online.

[2019-07-05 00:11] #1155 closed

[2019-07-05 00:39] VashJuan commented on #1155
Perfect! I'm just happy to know what is in scope, versus out of scope. (Not that I have a route forward, aside from going to One Drive and using an embed code from there: usable, but not ideal for me.)

Thanks for the reply!

[2019-07-08 15:17] kb339 commented on #584
How to integrate Office.js with UFT/Selenium for Excel online (Office 365) automation testing?

[2019-07-09 05:26] david-ps opened #1159 "How to create an installer to Sideload Web Add-ins for external (beta) users"
It is unclear to me how to facilitate a beta program with typical external users (to the organization) if the only way to deploy the Web Add-in for testing is have them Sideload it (via a Network Share) through the complex series of steps described in this article.

It would be valuable to us to have instructions about if/how to create a Windows Installer that automates these steps could be distri

[2019-07-09 18:27] kbrandl opened #1161 "info in 'Get started with Fabric React' is outdated"
Info in this article is outdated (because Yo Office has changed significantly since the article was last updated):  https://docs.microsoft.com/en-us/office/dev/add-ins/design/using-office-ui-fabric-react.

[2019-07-10 15:49] stavidawg opened #1162 "Tutorial Not working"
Hello, I am running Windows 10 and using Visual Studio 2019 (16. and Excel Office 365. Visual Studio Installer shows I have every package under "Office/SharePoint Development" installed except the optional "windows Identity Foundation 33.5". I have run through/re-completed the steps listed now over 3 times. I do not get any errors when I run, but there is no option to "show task pane" in excel and

[2019-07-10 17:38] #1142 closed

[2019-07-10 18:12] GermanEZI opened #1164 "How Long before this is GA?"
This would prove very useful for our group.   Do you have a general idea of when this will be ready?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb06c24b-9d11-9cc5-2e98-561601452638
* Version Independent ID: abda21d9-6e80-8319-c56f-004658014e3c
* Content: [Enable single sign-on for Office Add-ins - Office Add-ins](h

[2019-07-10 18:41] plmayfield commented on #1142
It is impressive that you updated this so quickly. Thanks.

[2019-07-10 20:24] AlexJerabek commented on #1164
Hi @GermanEZI,
We're glad you're eager to use SSO. I don't think we have an official timeline for the GA of this feature. Tagging @Rick-Kirkham to see if he has any insight.

[2019-07-10 20:41] kbrandl commented on #1142
@plmayfield we appreciate you reporting this issue so that we could update the docs -- thank you! FYI, you'll see the updates reflected in the live docs later today (when the next batch of doc updates gets published).

[2019-07-10 22:11] Rick-Kirkham commented on #1164
At one time it was scheduled for the period July - September, 2019, but it has been delayed before and could be again.

[2019-07-10 22:11] #1164 closed

[2019-07-10 23:10] AlexJerabek opened #1167 "Obsolete reference to "relationships""
[This section](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-advanced-concepts#scalar-and-navigation-properties) refers to the reference API docs as having "two categories: properties and relationships", which they don't any more. This should be edited and modernized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-07-10 23:51] mscharlock commented on #1162
Hi @stavidawg- Thanks for trying out Office Add-ins and apologies that you've run into an issue. Thanks for reporting it! I have just tried to reproduce your issue but as of yet haven't been able to. I'll go ahead and flag this for my team though and see if collectively we can repro it and get back to you.

[2019-07-11 16:12] BeachAlmanack opened #1168 "Calling Content addin's from taskpane or custom fuctions"
I cant seem to start the content addin component along with task-panes. Custom function's, dialog box's and task-pane's can all start from the same addin. But adding content to the xml file seems to break it.

[2019-07-12 05:55] #1161 closed

[2019-07-12 20:18] davidchesnut commented on #1162
Hi @stavidawg Is it possible maybe add-ins got disabled? You can check by:
1. Go to File > Options
2. Choose **Trust Center** (left side), then **Trust Center Settings** button.
3. Choose **Trusted Add-in Catalogs** (left side).
There's a checkbox **Don't allow any web add-ins to start.** Be sure it is unchecked.

Cheers,
David

[2019-07-15 19:02] mscharlock opened #1173 "Adjust steps to be congruent with VS19"
Some steps are not the same in VS17 and VS19. Although I cannot repro error in issue #1162, would be good to update to be on the most current version of VS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Version Independent ID: d946ffe6-f29f-1563-b679-121090ba60a1
* Content: [Buil

[2019-07-16 22:25] vamsii6116 commented on #863
I upgraded my outlook to 1904 version and support shared folders worked in month of may and parly in June. Suddenly it stopped working as for delegated calendars add-in is disabled. Any one has information or ideas if it got disabled

        <DesktopFormFactor>
          <SupportsSharedFolders>true</SupportsSharedFolders>

          <FunctionFile resid="functionFile" />

          <ExtensionPoint

[2019-07-16 23:00] ElizabethSamuel-MSFT commented on #863
@vamsii6116 Sorry that you're facing an issue with shared folders. However, feedback on this repo is intended for API *documentation* issues. Could you open a new issue on the [office-js repo](https://github.com/OfficeDev/office-js/issues) where the engineering team is tracking API bugs and issues? Thanks.

[2019-07-17 01:04] acds opened #1177 "Sample Codebase"
Hi, it would be good if the built codebase was available in a git repo such that we can compare if our steps (as followed) match that of the instructions...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea230e95-f483-6d19-8167-2341a03cf396
* Version Independent ID: 3846765f-7587-fec4-711e-84edfce9c30c
* Content: [Buil

[2019-07-17 16:47] kbrandl commented on #1177
@acds thanks for the feedback, I can see how this would be helpful. It's not currently our standard process to create a GitHub repo for each of the Office Add-ins quick starts, but we'll keep this suggestion in mind as we continue to evolve the quick starts in the days ahead.

[2019-07-17 16:47] #1177 closed

[2019-07-17 19:10] AlexJerabek commented on #1167
Addressing with PR #1179.

[2019-07-19 20:56] lisli1 opened #1189 "using-motion-office-addins.md animations link redirects to non-existing page"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/design/using-motion-office-addins

## Issue

The Fabric animations links under `Use expected motions` and `See also` redirect to https://developer.microsoft.com/en-us/fabric#/styles/web/motions, which doesn't exist. However, the page https://developer.microsoft.com/en-us/fabric#/styles/web/motion **does** exist (no 's' after 'moti

[2019-07-19 20:58] ElizabethSamuel-MSFT commented on #1189
@lisli1 Thanks for pointing this out. We'll update this. Thanks!

[2019-07-19 21:49] ElizabethSamuel-MSFT commented on #1189
@lisli1 This issue has been fixed and should be go live soon (likely next week). I'll go ahead and close this now.

Thanks.

[2019-07-19 21:49] #1189 closed

[2019-07-19 22:10] lisli1 commented on #1189
Thanks!

[2019-07-20 13:01] Zoha opened #1193 "Add in does not allow any coercion type other than Text"
I'm Trying to build a `PowerPoint` add-in
But I realize that add-in does not allow me to use any of coercion types other than `Text`
Here is the error message :
`The enumeration isn't supported in the current host application`
I want to insert image in my PowerPoint slide,
So, what should I do ?

[2019-07-20 23:09] rohitrewa opened #1192 "Browser control for Office AddIns"
Any plans for moving to better browser control inside office apps for AddIns. Currently, Office Apps in desktop uses IE and it being less performant degrades the user experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42faa32c-446b-0209-4a24-9a29b4921ea1
* Version Independent ID: a5f0fc77-a881-df1e-1f49-aa0e555

[2019-07-21 00:14] kbrandl commented on #1193
@Zoha the [PowerPoint add-in tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/powerpoint-tutorial) contains sample code that shows how to insert an image into a slide. I realize you're using the Yeoman generator for Office Add-ins to create your add-in, whereas the tutorial provides instructions for using Visual Studio -- but you should still be able to use the same JavaScri

[2019-07-21 00:14] #1193 closed

[2019-07-22 03:13] JingxuanChen opened #1194 "I am just wondering how to debug add-in commands on Mac."
I implemented a add-in commands, clicking ribbon works well on win32 and Wac. However, it does not working on MAC. I am just wondering whether there is a way to debug add-in commands on Mac.

[2019-07-22 11:01] Dalgam commented on #1192
On the current previews on Windows 10/Office, the add-ins are using Edge instead of IE11 so there is work being done there. https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins/

[2019-07-22 18:22] kbrandl commented on #1192
@rohitrewa thanks for your interest in Office Add-ins development, and for providing this feedback. As @Dalgam has pointed out, newer versions of Windows 10/Office are now using Microsoft Edge instead of IE, as described on the [Office Developer blog](https://developer.microsoft.com/en-us/office/blogs/microsoft-edge-webview-for-office-add-ins). You can find more details about the browsers used by

[2019-07-22 18:22] #1192 closed

[2019-07-22 18:30] kbrandl commented on #1194
@JingxuanChen sorry to hear that you're having trouble. Can you please update your original post to provide information about specifics of the environment where you're seeing this issue?  i.e., this information:

## Your Environment
* Platform [PC desktop, Mac, iOS, Office Online]: ______
* Host [Excel, Word, PowerPoint, Outlook, etc.]: ______
* Office version number: ______
* Operating System: __

[2019-07-22 19:50] mscharlock commented on #1162
Hi @stavidawg - just wanted to check to see if you were able to troubleshoot using the steps given by @davidchesnut? Let us know when you get a chance. Thanks!

[2019-07-22 20:55] plmayfield opened #1196 "office-toolbox validation doesn't match sideloading validation for Office Web"
My manifest will pass the office-toolbox validation described on this page. However, when I try to sideload the same manifest using Excel Web, it returns "Your add-in manifest is not valid". Note that my manifest also passes the validator built into Visual Stuido. Additionally, when trying to validate against a schema using xmllint, it returns "Schemas parser error : The XML document 'OfficeAppMan

[2019-07-23 15:43] ElizabethSamuel-MSFT commented on #1196
@plmayfield Sorry to hear that you're facing issues with this. The following are some links that I hope are helpful or point you in the right direction.

[Office Add-ins XML manifest](https://docs.microsoft.com/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-1)
[How to find the proper order of manifest elements](https://docs.microsoft.com/office/dev/add-ins/develop/manifest-element-ordering

[2019-07-23 15:50] ElizabethSamuel-MSFT commented on #1196
For internal folks, the item tracking validation inconsistency is OC\OPX\Content 3508629

[2019-07-23 19:00] plmayfield commented on #1196
Elizabeth,

Thank you for your response, but I believe the problem is more severe than you think. The schema TaskPaneAppVersionOverridesV1_0.xsd from doesn’t appear to be valid. Below are screen shots of both xmllint and W3C XSD Validation. They both fail to validate the schema file. Note that this has nothing to do with the xml, the schema itself is failing.

An example of the problem is in line

[2019-07-24 15:56] ElizabethSamuel-MSFT commented on #1196
@plmayfield Thanks for sharing this additional information about the schemas. However, could you include the errors images directly in GitHub? I think you added them by replying to the email but they don't show in the GitHub issue UI.

Also, could you share your manifest (or some version that you can safely share) so that we can also work on getting you unblocked while we get the larger issues res

[2019-07-24 18:45] plmayfield commented on #1196
I posted it at https://github.com/OfficeDev/office-js/issues/635

I may have found two bugs. See ...
https://stackoverflow.com/questions/57169164/showheaders-false-results-in-unexpected-table-range-using-javascript
https://stackoverflow.com/questions/57172497/setsolidcolor-throwing-unexpected-error-in-excel-javascript-on-chart-series

Best Regards,

Philip Mayfield

From: Elizabeth Samuel <notific

[2019-07-26 00:57] danielgwilson opened #1200 "[Web Requests] Why no "Content-Type": "application/json" header?"
The docs say:

Why can't Custom Functions accept "Content-Type": "application/json" headers? Sending JSON request bodies is the preferred web standards format.

https://stackoverflow.com/questions/477816/what-is-the-correct-json-content-type

[2019-07-26 00:58] danielgwilson commented on #1200
@keyur32

[2019-07-26 01:02] keyur32 commented on #1200
Not yet implemented: https://github.com/OfficeDev/office-js/issues/523

[2019-07-26 01:56] danielgwilson opened #1201 "Office.displayWebDialogOptions(...) should be OfficeRuntime.displayWebDialog(...)"
`Office.displayWebDialogOptions(...)` should be `OfficeRuntime.displayWebDialog(...)`.
https://docs.microsoft.com/en-us/javascript/api/office-runtime?view=office-js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3437fe77-0051-1f7d-2131-770da0486e60
* Version Independent ID: 2221a38e-496e-f042-d5a4-ac6b95af6dff
* Conten

[2019-07-26 10:37] OfficeGlobal opened #1203 "[LOC] There is more than 3k broken links"
There is more than 3k broken links in source topics based on our cats testing [here](https://contentqacats.azurewebsites.net/CheckResults/2019072400063/Report/).
We have exported the links to excel. Could you please go through the attached excel and fix the broken links ?
[ResultFor[2019072400063].2953.xlsx](https://github.com/OfficeDev/office-js-docs-pr/files/3435352/ResultFor.2019072400063.2953.

[2019-07-26 15:18] kbrandl commented on #1203
FYI @AlexJerabek -- all of these 'broken' links (pointing to Excel API reference articles) exist within the various Excel requirement sets articles of **office-js-docs-pr**. The last CATS report I reviewed (a few weeks ago) didn't report any of these broken links, so seems like this is a new issue introduced fairly recently.

[2019-07-26 16:39] Reezaali commented on #1200
@danielgwilson - since this isn't implemented yet, I'm going to go ahead and close this issue. If you'd like me to reopen it, let me know. Thanks!

[2019-07-26 16:39] #1200 closed

[2019-07-26 20:49] AlexJerabek commented on #1201
Fixed with PR #1205. Thanks for the contribution!

The fix will be merged into the live branch soon. I'll close the issue.

[2019-07-26 20:49] #1201 closed

[2019-07-26 20:49] AlexJerabek commented on #1203
This was addressed with #1204. Thanks for reporting the broken links. Closing the issue.

[2019-07-26 20:49] #1203 closed

[2019-07-26 20:50] #1167 closed

[2019-07-30 05:44] david-ps opened #1206 "SSO and Office Versions"
Under Preview in this article it mentions "SSO requires Office 365 (the subscription version of Office)". Is this true only for Preview or will SSO be available to other Office versions in GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb06c24b-9d11-9cc5-2e98-561601452638
* Version Independent ID: abda21d9-6e80-831

[2019-07-30 06:00] david-ps commented on #1206
I have discovered the [Identity Platform Requirement Sets](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/identity-api-requirement-sets) which answers this question.

[2019-07-30 06:00] #1206 closed

[2019-07-30 15:44] ElizabethSamuel-MSFT commented on #1196
@plmayfield Thanks for taking the time to report these bugs and issues. I'll go ahead and close this. Depending on the resolution of the related issues, we'll update the documentation accordingly.

If you have any further questions on this, let us know and we can reopen this issue.

Thanks.

[2019-07-30 15:44] #1196 closed

[2019-07-31 17:29] kbrandl commented on #1194
Closing due to inactivity. If you're still having trouble, please provide the requested information (about environment) and also specifics about what you mean by "not working (on Mac)."

[2019-07-31 17:29] #1194 closed

[2019-07-31 22:57] TheGridLock opened #1211 "error: catch(errorHandlerFunction); not define"
## Article URL

## Issue

[2019-07-31 23:02] TheGridLock commented on #1211
when i test office addin by visual studio 2019 with excel 2019
this my function:
Excel.run(function (context) {
            var sheet = context.workbook.worksheets.getItem("Sheet1");
            var data = [
                ["Potato Chips", 10, 1.80],
            ];
            var range = sheet.getRange("B5:D5");
            range.values = data;
            range.format.autofitColumns();

[2019-07-31 23:14] kbrandl commented on #1211
The code within the `catch()` specifies the code that will run when any error is thrown by the preceding code. In the example code that you copied from the docs, the `errorHandlerFunction` text inside of the `catch()` is simply a placeholder value that's intended to represent the name of the function that contains error handling logic/code -- i.e., the name of the function that should run whenever

[2019-07-31 23:14] #1211 closed

[2019-08-01 00:26] TheGridLock commented on #1211
too clear and detailed
Thanks for your explanation, kbrandl !

[2019-08-01 05:02] bhushanshelke commented on #1164
Delayed again?

[2019-08-01 05:29] TheGridLock opened #1212 "Excel Function not working when contain this symbol "=>""
Sorry if you've bothered you, I've seen some functions that contain this character and when running it returns an error not recognize this character. I think it's possible because the version differences are used. Can you suggest helping me? to improve the code
Thanks again
This is my code!

[code]

[2019-08-01 05:57] CreaQuora opened #1213 "Table co-authoring"
I think there is an error when entering data into the Excel table at the same time (co-authoring). When I add a row to the table on one computer, it appears outside the table on the other. It is likely that the table scope definition will not change when you update the workbook. Sheet is protected … this may be the reason too.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-01 06:54] XYjourney commented on #860
i also need a complete sample, thanks

[2019-08-01 07:17] ironchild78 commented on #860
#860

[2019-08-01 16:32] kbrandl commented on #1212
@TheGridLock thanks for your interest in Office Add-ins development. Issues in this GitHub repository (**OfficeDev/office-js-docs-pr**) are intended for reporting problems with the API *documentation*; therefore I'm closing this GitHub issue. I'd suggest you post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) and [javascript](https://stac

[2019-08-01 16:32] #1212 closed

[2019-08-01 16:56] mscharlock commented on #1162
Hi @stavidawg - let us know if you need any other assistance. I'm going to go ahead and close this issue but feel free to comment on the thread again and then I will reopen it if you need. Thanks!

[2019-08-01 16:56] #1162 closed

[2019-08-02 05:47] TheGridLock commented on #1212
It seems that this language is not complete
I am missing many functions here, so it is pretty inconvenient to expand them. Thank you for replying. I'll be back later.
Best regards!

[2019-08-02 12:58] Ballzer0 opened #1215 "tutorial not working"
followed tutorial step by step. when i ran npm start i got the output
[code]

im running on windows, but i never got a prompt to install certificate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49ccc61e-06b1-fd30-63a0-625301ea0bc8
* Version Independent ID: 1fdff452-de8f-5b97-9f53-389eb9576b25
* Content: [Build an Exc

[2019-08-02 13:49] Ballzer0 commented on #1215
fixed by removing spacing from the path to my project

[2019-08-02 13:49] #1215 closed

[2019-08-02 19:26] danielgwilson opened #1218 "Page is incredibly dense making it hard to find desired info"
This is a very useful primary reference for Dialog API topics. However, it is 4078 words on a single page.

Perhaps there's a better way to break this up into a top level document directing readers to subpages based on what they're looking for?

E.g.

---

Dialog API

The Dialog API allows you to display a popup dialog window in your Add-in. This is especially useful for auth scenarios.

Useful li

[2019-08-02 20:31] ElizabethSamuel-MSFT commented on #1212
@TheGridLock It looks like you based your code on the sample provided for the [removeDuplicates method](https://docs.microsoft.com/javascript/api/excel/excel.range?view=office-js#removeduplicates-columns--includesheader-). This sample is an excerpt of a [snippet written in Typescript](https://github.com/OfficeDev/office-js-snippets/blob/master/samples/excel/42-range/range-remove-duplicates.yaml) t

[2019-08-03 11:32] TheGridLock commented on #1212
Hi ElizabethSamuel, this problem i solved because the custom function is only supported on some versions like office365 ...
I also participated in the forum stack overflow and officedevelope to give my comments because
I want to learn how to create custom functions by vscode and vsto.
Thanks for the helpful information!

[2019-08-03 21:40] adielDev opened #1219 "how to upgrade version"
currently, I own win 10 version 1903 (inside programmer) how can I upgrade to version 1904?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ad7803-d4f7-a700-7c7f-204cd8f34e4a
* Version Independent ID: 9c485bae-cab1-bdad-4c8e-baad2b12b22d
* Content: [Create custom functions in Excel - Office Add-ins](https://docs.micro

[2019-08-04 15:13] Ballzer0 opened #1220 "Status on Preview"
There are videos on youtube from back in summer of 2017 where you guys first showed off the SSO API.
https://www.youtube.com/watch?v=w0VBrpVXPvk

How come the feature is still in preview? and can we expect it to go live soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb06c24b-9d11-9cc5-2e98-561601452638
* Version

[2019-08-05 17:39] AlexJerabek commented on #1219
Hi @adielDev,

If you have an Office 365 subscription, Excel should [update automatically](https://support.office.com/article/how-do-i-upgrade-office-ee68f6cf-422f-464a-82ec-385f65391350). The frequency of updates is determined by your [update channel](https://docs.microsoft.com/DeployOffice/overview-of-update-channels-for-office-365-proplus) (here's the [current version for each channel](https://

[2019-08-05 17:39] #1219 closed

[2019-08-05 21:05] mscharlock commented on #1218
Hi @danielgwilson - Thanks for the feedback - totally agree on the length. We'll have a look as a docs team and see if we can get this on the backlog. Incidentally, are you still the PM who would be the right person to contact should we need to clarify anything RE: Dialog? Thanks. :)

[2019-08-05 21:11] mscharlock commented on #1173
I've captured in the team backlog, so removing from GH.

[2019-08-05 21:11] #1173 closed

[2019-08-05 23:58] lindalu-MSFT commented on #788
@davidchesnut Hi David! Any traction on this issue? Has the document been updated or should I assign this issue to another writer? Thanks, lindalu

[2019-08-06 00:22] Rick-Kirkham commented on #860
@ironchild78 @ASundaravelu @XYjourney
Realistically, we won't get to this for a long time. Please raise this as a possible bug in the slice API on the repo: [office-js](https://github.com/OfficeDev/office-js/issues).

[2019-08-07 01:23] Joel-Intact opened #1226 "Still in preview?"
Greetings, is this still in preview?  Any word on a release date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e9991e-98d3-bf56-ffbd-c2d77bfb0820
* Version Independent ID: e568baab-36e7-293e-5d6d-6d3b02931004
* Content: [Authorize to Microsoft Graph in your Office Add-in - Office Add-ins](https://docs.microsoft.com

[2019-08-08 01:06] TheGridLock opened #1231 "How to creat simple project typescript?"
in fact i think typescript Suitable for custom functions than js but in this page, You give an example of using ts to create functions that are too difficult to understand. It's too long for beginners to do.
Thanks!

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: b83cf91a-6bc9-3adc-67cc-d2c6bd6e6cdd
* Versi

[2019-08-08 11:21] Ballzer0 opened #1232 "how to host excel add-in?"
I have used Yoman generator to generate an excel task pane add-in. I have spent considerable time writing this add-in and i cant seem to find a guide for how to host a project generated by the "yo office" command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a6812c3-fbf6-1a89-6305-8da71f83b5a3
* Version Independent I

[2019-08-08 13:34] Joel-Intact opened #1233 "Still in preview?"
Hi, is this still in preview?  Any word on a official release date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c51a742c-4ddb-dd5e-7f67-3242a158378a
* Version Independent ID: b5d96164-bec6-7732-79ad-8c6beef7e0c4
* Content: [Create a Node.js Office Add-in that uses single sign-on - Office Add-ins](https://docs.micros

[2019-08-08 15:28] Rick-Kirkham commented on #1232
An Office add-in created with Yo Office is just a node.js based web application. It can be hosted like any other node web app. I recommend that you search for "How to host node app on Azure" in your favorite search engine.

[2019-08-08 17:18] wamaina commented on #1231
Thanks @TheGridLock for your feedback!

@mscharlock, we have a request for a smaller example. Could you please follow-up?

[2019-08-08 17:41] mscharlock commented on #1231
Thanks for the request, definitely great to get feedback on what is working or not working for people - I can put this on our backlog for the upcoming quarter. :)

[2019-08-08 21:31] mscharlock commented on #1218
Wanted to let you know that we've put this on our backlog, captured under VSO item 3543685. For now, I'll close this issue but let me know if you would like me to re-open.

[2019-08-08 21:31] #1218 closed

[2019-08-08 21:34] mscharlock commented on #1231
Ok, this is on the backlog under VSO item 3543291. In the meantime, I'm going to close this issue for now while we work on it, but I can also go ahead and update this issue when we publish a new sample if you'd like. If you have other concerns in the meantime, @TheGridLock, go ahead and comment on this issue and I can re-open it. Thanks!

[2019-08-08 21:34] #1231 closed

[2019-08-09 20:25] jaebradley opened #1236 "Guidelines for supporting environment-specific values in an add-in's manifest.xml"
When side-loading an add-in in a local environment, the values in the `manifest.xml` might be specific to that local environment (e.g. the `IconUrl` has a default value that is points to a `localhost` url or the set of `AppDomain`s may change).

Do you have a recommended way of supporting these differences? Is it to support potentially multiple `manifest.xml`s?

[2019-08-09 21:20] wamaina commented on #1236
Hi @jaebradley,

Thank you for reaching out! It would be helpful to gain a little more understanding around your scenario. In the case described above, is the question around the recommendation between using a manifest for developing vs. when the add-in is complete and you want to move to a production version? Or is that not the challenge in your scenario?

[2019-08-09 21:32] jaebradley commented on #1236
@wamaina sorry, I should've been more specific!

I think my question is around if there's a best practice for supporting both local development as well as deploying a production add-in when it comes to the `manifest.xml` file.

It seems to me (and I could definitely be missing something) that in order to support local feature development as well as supporting publishing a production add-in that on

[2019-08-09 23:50] Rick-Kirkham commented on #1236
Yes. You need multiple manifests. Typically, add-ins are developed with a localhost server. When put in production, the URLs in the manifest must change to match the production server. The changed manifest is uploaded to AppSource or a corporate catalog or some other publication point. You can maintain two manifests and keep one for development with a localhost server. Does this answer your questi

[2019-08-10 14:18] Joel-Intact opened #1237 "Section for HTML caching should be added"
Greetings, please add a section for HTML caching, which will help developers keep their sanity.  This stack overflow answer provides a great solution when running the add-in locally and adjusting IE settings allow the add-in to check for new versions of the HTML file:  https://stackoverflow.com/questions/34168603/office-add-ins-caching-my-html-file

---
#### Document Details

⚠ *Do not edit this s

[2019-08-10 20:56] Rick-Kirkham commented on #1237
Interesting idea. I have created an internal work item to add this to the Troubleshooting article. (Internal number: OC 3547393.)

That said, I can't really give it a high priority. The SO question is nearly 4 years old and has only 1 up vote, so it doesn't seem like a common problem. (I've never heard of this happening before.) In the meantime, people who encounter it will likely find the SO answ

[2019-08-10 20:56] #1237 closed

[2019-08-12 12:02] SimonSiefke opened #1239 "Vue example uses the deprecated vue-cli"
It would be great if the Vue example could be updated to use `@vue/cli` instead of the deprecated `vue-cli`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea230e95-f483-6d19-8167-2341a03cf396
* Version Independent ID: 3846765f-7587-fec4-711e-84edfce9c30c
* Content: [Build an Excel task pane add-in using Vue - Office Ad

[2019-08-12 16:21] jaebradley commented on #1236
@Rick-Kirkham thanks for verifying!

And are there any best practices you can share about supporting multiple manifest files?

Do you keep a template for the underlying XML and then dynamically build the relevant `manifest.xml` file depending on the environment / environment variables?

Or generally, are the changes usually infrequent enough / easy enough to diff that it's not worth the time to do

[2019-08-12 16:34] Rick-Kirkham commented on #1239
Good idea. I'll create a work item for this. In the meantime, if it is an easy fix and you know how to do it, you're welcome to submit a pull request with the needed changes.
Internal item number is OC 3550303.

[2019-08-12 16:34] #1239 closed

[2019-08-12 16:44] Rick-Kirkham commented on #1236
To be honest, I think our docs assume that development completes and only then do you go to production, after changing the URLs in the manifest. We further assume that when you're ready to develop Vnext, you make a branch/fork of the project and change the manifest URLs back to localhost. So, you're always working with just one manifest. So, we don't have any best practices for maintaining two man

[2019-08-12 16:46] jaebradley commented on #1236
@Rick-Kirkham thanks for sharing, I'll close this issue!

[2019-08-12 16:46] #1236 closed

[2019-08-13 00:47] niteshgolchha85 commented on #1233
@Joel-Intact Thanks for your patience. We are actively working to GA SSO API. May I know how do you plan to use the SSO API? Do you need it to access Graph? Also, how do your users expect to get your add-in - via store or centralized deployment?

[2019-08-13 04:24] NT-D opened #1620 "Are `msexchuid` and `amurl` immutable even if end user migrate Exchange Server?"
Thank you for writing clear document. Our team understand definition, but let me ask one question.

Are `msexchuid` and `amurl` immutable even if end user migrate Exchange Server? For example, some end users may migrate their on-premises Exchange Server to Office 365. When they start to use Office 365, are `msexchuid` and `amurl` same?

The background is we refer [this document](https://docs.micro

[2019-08-13 17:27] Joel-Intact commented on #1233
Hi @niteshgolchha85, thanks for responding to my inquiry.  It's good to hear that this is being actively worked on!  We're planning on using the SSO API to get an access token for the logged on user, and call our web services to send/receive data.  For Graph, I would just call the "me" endpoint passing the token to get data.  For deployment, both, mostly store and centralized deployment for client

[2019-08-14 16:03] shcyiza commented on #195
@12s can you pleas tell me how you achieved this? cause I'm having this issue aswell right now. I don't have 'inspect element' when i right click and I don't know where to go to see the console.
<img width="401" alt="Screenshot 2019-08-14 at 18 01 51" src="https://user-images.githubusercontent.com/16632589/63036653-c2ee3c00-bebd-11e9-9011-d6308682b094.png">

[2019-08-15 02:28] topkoong opened #1307 "Improving a Custom functions debugging documentation regarding sideloading an add-in when using Visual Studio"
I am writing in reference to the current documentation regarding Custon functions debugging documentation: https://docs.microsoft.com/th-th/office/dev/add-ins/excel/custom-functions-debugging.

I was trying to use the VS Code debugger for Excel in Chrome Devtools. I know that I have to use sideloading to install an Office Add-in for testing without having to first put it in an add-in catalog, but

[2019-08-15 21:38] 12s commented on #195
@shcyiza I believe my correction was a simple error, like a path being wrong. I believe I had to click on that 'i' button in the top right to display the inspect element option too.

[2019-08-16 03:44] gappyp opened #1253 "Any plans to bring custom functions to perpetual licenses?"
Subject says it all :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5456f6c2-991d-a35c-a39e-1613fc0ddbb8
* Version Independent ID: 63b393c1-66d5-4dc5-8010-c8c65d92bd52
* Content: [Custom Functions requirement sets - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-requirement

[2019-08-16 13:15] yanli0303 opened #1254 "How can I change the embedded browser loaded in Outlook desktop?"
Through a terminal command, or registry?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-

[2019-08-16 17:30] kbrandl commented on #1254
@yanli0303 thanks for your interest in Office Add-ins development! It's not possible for you to control which browser an Office client uses to render an Office Add-in; the browser used will always be determined automatically depending on the operating system / platform where the add-in is running (per the information in this article).

[2019-08-16 17:30] #1254 closed

[2019-08-17 12:49] NT-D opened #1611 "Would you please provide information about Unit Test ?"
Hi Outlook team,
Thank you for providing good documents for debugging. We are now enjoying development and debugging, but let me provide feedback about contents.

In general, developers run unit test on the client and CI pipeline on the cloud for keeping app quality. Our team also want to do Unit test, but there are no information about it. If possible, would you please provide how to do Unit test

[2019-08-19 09:11] shcyiza commented on #195
@12s I did all of this... nothing seems to work...

[2019-08-19 11:03] Niko0pl opened #1255 "PowerPointApi set does not pass the validation"
The PowerPoint Api requirement set (`<Set Name="PowerPointApi" MinVersion="1.1"/>`) does not pass the validation of `office-addin-validator`. The response message is:

However, when debugging using Visual Studio, this requirement set works and allows to sideload the add-in.
Is it a known issue? How can i make it pass the validation?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-08-20 08:07] imba-tjd opened #1256 "We can't open this add-in from localhost"
I'm following the node.js version, but I got that message. And I'm not using Fiddler.

![图片](https://user-images.githubusercontent.com/24759802/63329493-a42bf180-c364-11e9-8790-eb1de2229628.png)

<details>
<summary>node.js log</summary>

[code]
</details>

---

Besides, I found when the folder contains white-spaces, the program fails. Although you have pointed out that `What do you want to name yo

[2019-08-20 16:41] AlexJerabek commented on #1256
Hi @imba-tjd,
I'm sorry this problem frustrated you. The project name spacing issue is being tracked by the Yeoman Generator team with issue https://github.com/OfficeDev/generator-office/issues/476. I'll tag @TCourtneyOwen for awareness. Perhaps we can change the default project name if the fix for 476 requires significant investment.

[2019-08-20 16:51] kbrandl commented on #1256
@imba-tjd we're working on a fix for https://github.com/OfficeDev/generator-office/issues/476 and it should be released very soon.

(FYI @TCourtneyOwen, the dev who's fixing this problem with Yo Office not permitting spaces in the project name or folder path)

[2019-08-21 16:55] star1ord opened #1258 "Unexpected Behavior of Context.sync().then() after update of Excel build (16.0.11901.20218)"
Excel web Add-in not executing functions in context.sync().then()
**Context:**
We have built an Excel web add-in using office.js which loads data into the Excel sheet. The ‘then’ statement which has to execute after context.sync() call is not executing after recent update of Excel build (16.0.11901.20218). It is working fine when we reverted to earlier build (16.0.11901.20176) of Excel.
Environmen