[2020-10-19 22:50] #2084 closed

[2020-10-20 10:04] glr0221 commented on #2236
@ElizabethSamuel-MSFT

Seems like @JuaneloJuanelo may not have the time to answer my inquiry. Any chance somebody else can take my question on? Thanks.

[2020-10-20 17:45] julio177 opened #2275 "Updated UI doesn't reflect in the documentation."
[Enter feedback here]
Step 9.
Admin consent title and User consent title have changed to be Admin consent display name and equivalent.

Step 13.
There is no longer a dropdown.
Instructions are also missing click on "Add platform".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79094327-e4d3-da9a-e152-18408c0ffde2
* Ver

[2020-10-20 21:16] scottyak12 commented on #2260
@TCourtneyOwen @ElizabethSamuel-MSFT

Hi Team, anything further here? Thanks!

[2020-10-21 15:52] Mike-tech opened #2279 "Running Office Node JS SSO from host environment"
Hi there

I have installed and setup the Office Node JS SSO typescript using Yo Office. It works fine locally including the SSO. But when I deploy the addin using the deployment documentation [here ](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-add-in-vs-code). When I tried to run the manifest when running from the deployed Azure static website, the SSO doesn't work. I get 4

[2020-10-21 16:42] TCourtneyOwen commented on #2260
Please use these steps:

  1. Go the directory where your project was created:

     cd C:\foo

  2. Configure your SSO taskpane add-in:

     npm run configure-sso

  3. Start the local web server and sideload the add-in:

     **npm start**

  4. Open the project in VS Code:

     code .

     For more information, visit http://code.visualstudio.com.

  Please visit https://docs.microsoft.com/of

[2020-10-21 18:11] AlexJerabek commented on #2275
Thanks @julio177.

@davidchesnut, can you please investigate this and adjust the docs as needed?

[2020-10-22 07:43] Rinzwind opened #2283 "Documentation on Fabric components recommended for use in Office add-ins seems inconsistent w.r.t. MessageBar, Callout and CommandBar"
The [section titled “Use Fabric Components”](https://docs.microsoft.com/en-us/office/dev/add-ins/design/office-ui-fabric#use-fabric-components) in the documentation (quoted below) is a bit confusing: it first gives examples of the kinds of components Fabric provides that can be used to build an add-in, and then gives a bullet list of the components that are recommended for use in add-ins; the firs

[2020-10-22 12:57] jwhite-venacorp commented on #2255
Hi @alison-mk, I made a [ScriptLab gist](https://gist.github.com/jwhite-venacorp/fb6209d18fb3b5124acfc110624ddcbc). This code creates 152 named ranges, then uses the names to get the values. When all the names are passed, an exception is thrown. When either half of the names are passed, the values are returned. I pulled the named ranges' addresses from an actual file we were testing with and rando

[2020-10-22 16:34] keyur32 commented on #2255
Assigning to @lumine2008 to help investigate. Thanks.

[2020-10-22 17:09] AlexJerabek commented on #2279
Thank you for the questions @Mike-tech.

@davidchesnut, can you please investigate?

[2020-10-22 21:09] AlexJerabek commented on #2283
Hi @Rinzwind,
Thanks for raising this issue. Let me do some investigation about the proper guidance here and I will report back to the thread.

[2020-10-23 12:26] lumine2008 commented on #2255
Thanks @jwhite-venacorp for reporting this issue, Yes, there is a limitation for getRange() and getRanges() API, the limitation is 8192 characters. I am asking the content team to document this limitation. therefore you could refer to our document in the future.

[2020-10-23 12:44] chucklay opened #2287 "Manifests targeting ExcelApi > 1.1 still attempt to support Excel for Mac 2016"
Hi, under the "Excel / Office 2016 on Mac (one-time purchase)" section of this page, it's indicated that Excel for Mac 2016 only supports ExcelApi 1.1. I'm currently working on an add-in that requires features from ExcelApi 1.8. Despite changing my manifest to list ExcelApi 1.8 as the minimum version, `npm run validate`, as well as the Partner Center submission page still lists Excel for Mac 2016

[2020-10-23 12:51] chucklay commented on #2238
Hi @davidchesnut,

Your advice has gotten things straightened out, thanks! Yeah, the documentation should definitely make note of this, especially since all of the other typescript examples on that page let the functions.json file generate typings based on what types are defined in the method declaration. Your advice on allowing multiple typings on function args is appreciated too, although in thi

[2020-10-23 16:11] AlexJerabek commented on #2287
Thanks for reporting this @chucklay.

I'll look into the actual API surface that's supported for Excel for Mac 2016 and report back to you.

[2020-10-23 23:47] alison-mk commented on #2238
Hi @chucklay, very glad to hear that David's advice was helpful! I'm still investigating how to best address the documentation problem, and I will leave this issue open until I've made the necessary changes to the docs. Thanks again for taking the time to report the issue, and glad we were able to offer guidance in the interim!

[2020-10-24 01:00] #2269 closed

[2020-10-27 13:34] GMolini opened #2292 "Addin disappeared. Get addins redirects to web"
I have this issue: https://github.com/OfficeDev/outlook-dev-docs/issues/514 but cant comment since it has been closed. I had sideloaded my addin correctly and was trying some things when I accidentally closed outlook. Now, after opening again, the addin is not loaded and whenever i click on the get addins button it opens a tab in the browser and redirects me to: https://appsource.microsoft.com/en-

[2020-10-27 20:51] #2243 closed

[2020-10-28 07:45] Bartolomeus-649 opened #2293 "fix the styles"
fix the styles
![image](https://user-images.githubusercontent.com/7513795/97406677-e3a38580-18f9-11eb-87bf-02288a8c7635.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5942e59a-9e08-d7bc-f170-698882a84936
* Version Independent ID: d8730c4d-bf3f-c92d-9c4a-418ea5848538
* Content: [Localize custom functions - Office A

[2020-10-28 16:26] AlexJerabek commented on #2293
Hi @Bartolomeus-649,

Thank you for the feedback on the docs.microsoft.com platform. I'll pass your feedback along to the right team.

Since this repo is used to track issues specific to the Office Add-ins documentation, I'll go ahead and close the issue. If you have further feedback about the docs.microsoft.com platform, please raise the issues here: https://github.com/MicrosoftDocs/feedback/issu

[2020-10-28 16:26] #2293 closed

[2020-10-28 18:13] ElizabethSamuel-MSFT commented on #2236
@glr0221 Apologies for the wait. We're checking for an appropriate person who can look into this issue. Thx.

[2020-10-28 19:02] Rinzwind commented on #2283
OK, thanks! One other point: it would be helpful if the documentation clarified why other components are *not* recommended for use in add-ins. If this is for example mostly because of the space constraints of the task pane, that would mean it’s still OK to use them within an add-in’s `Office.Dialog` window (which can be made bigger); but it’s hard to tell right now whether that is the case or not.

[2020-10-29 18:28] jeremy-msft commented on #2287
This is a known issue with our version strings; please see additional details in https://github.com/OfficeDev/Office-Addin-Scripts/issues/332.

[2020-10-29 20:20] AlexJerabek commented on #2287
Thanks @jeremy-msft.

@chucklay, we'll continue to track the issue in https://github.com/OfficeDev/Office-Addin-Scripts/issues/332. I'll close this issue, since this repo is for tracking documentation issues. If anything further is needed in the documentation, please reply back to this thread. Thanks!

[2020-10-29 20:20] #2287 closed

[2020-10-30 18:05] octocat1000 opened #2297 "Add-in Error: This add-in is no longer available...."
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial#protect-a-worksheet

## Issue
Completed the tutorial up to the Protect A Worksheet section.  I have followed the instructions to delete caches files (I've deleted all of the files and sub directories from all of the mentioned locations) but am getting an error in Excel which says, "Add-in Error.  This add-i

[2020-10-30 20:52] AlexJerabek commented on #2297
Hi @octocat1000,

Thanks for the feedback. We are looking into this, but I wanted to check in with you about one thing. Your npm start output included "The dev server is already running on port 3000." That leads me to believe the web server is still running, even after the cache clear. Do you encounter the same problem if you give the background process a couple minutes to shutdown (or even restar

[2020-10-30 21:55] octocat1000 commented on #2297
Hi @AlexJerabek,

Thanks for getting back.  Just now, I think I've resolved this.  Here is what seems to have been the issue and the things that I tried:

I think that the root culprit was a typo in my manifest wherein I had transposed a couple letters is one of my resid.  After spotting this, deleting all of the cache files and then reloading the app it worked.

I tried turning on debug logging a

[2020-11-01 21:04] bakerm00 commented on #2261
Any update on this ?

Mike Baker

________________________________
From: Michelle Scharlock <notifications@github.com>
Sent: Wednesday, October 14, 2020 11:29:14 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: Baker, Michael (ELS-OXF) <m.baker.1@elsevier.com>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js-docs-pr] When "Let users access the Of

[2020-11-02 15:30] TomKnibbs opened #2299 "email opened in new browser window on itemsend"
Hi,

This issue is related to when using the following code to open a dialog box on itemsend within outlook.

`<ExtensionPoint xsi:type="Events">
                  <Event Type="ItemSend" FunctionExecution="synchronous" FunctionName="validateSubject" />
 </ExtensionPoint>`

Instead of opening the dialog box the email to be sent is reopened in a new browser window and then the dialog box is opened (

[2020-11-02 22:05] irfancue opened #2302 "How do I run the script on heroku? I am getting an h10 error all the time"
I am trying to deploy the app on heroku and I am getting following error message:

`2020-11-02T21:57:23.551556+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/commands.html?_host_Info=Outlook$Mac$16.00$en-GB$$$$0" host=sm-outlook-plugin.herokuapp.com request_id=fa3897d3-0e73-4a36-b30e-278998b13b62 fwd="51.154.42.87" dyno= connect= service= status=503 bytes= protocol=ht

[2020-11-03 03:32] hello-chenchen opened #2303 "It seams ios also support,please update the support platform and add the support version(such as, system version and outlook version)"
[Enter feedback here]
i found ios > 14.1 and outlook > 4.61.1, have support this feature.

and another question: i want to confirm is ios 14.0.1 support this feature? after my test, it seams not support, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52a55fe4-0fe1-858c-26a4-dddc3ee128ea
* Version Independent ID:

[2020-11-03 07:11] glr0221 commented on #2236
@ElizabethSamuel-MSFT thank you always for your support. This inquiry is a bit critical for us, that is why there is some sense of urgency. Thank you very much for understanding.

[2020-11-03 16:44] ElizabethSamuel-MSFT commented on #2236
@glr0221 Understood. Working on getting you the help you need.

@exextoc Is this something you can help with? Can you take a look?

Thanks.

[2020-11-03 17:04] ElizabethSamuel-MSFT commented on #2303
@hello-chenchen Thanks for your query. However, can you clarify which feature you're referring to?

Thanks.

[2020-11-03 17:05] ElizabethSamuel-MSFT commented on #2303
@hello-chenchen Also, can you include the documentation page that you think should be updated?

Thanks.

[2020-11-03 17:34] ElizabethSamuel-MSFT commented on #2260
@scottyak12 Did @TCourtneyOwen's steps help you resolve your issue?

We'll work on updating the tutorial instructions.

Thanks.

[2020-11-03 22:12] #2260 closed

[2020-11-04 08:33] sshukurov opened #2306 "Description for options.requiresAddress seems outdated"
It reads "To get the address of the cell that invoked your custom function, use context.address in your custom function.", but no `context` object is available in the global scope in the custom functions runtime.

I was able to access the `address` property by defining an additional parameter in my custom function, which according to my finding by debugging - should be placed at the end of the fun

[2020-11-05 07:50] JensMadsen commented on #1611
Bump

[2020-11-05 12:40] jfoclpf opened #2307 "I can't sideload outlook addins for desktop, on office 365"
I can't sideload outlook addins for desktop, on office 365

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddce0bd-5c66-c2cb-0640-ee4d5bd401c5
* Version Independent ID: b5d4bc26-a43e-4a85-e7d5-fe4fc4ec3d0d
* Content: [Sideload Office Add-ins for testing from a network share - Office Add-ins](https://docs.microsoft.com/

[2020-11-05 19:53] AlexJerabek commented on #2297
Let me assign @Rick-Kirkham to investigate the manifest validation issues. @octocat1000, can you please share the issues in your manifest, so we can recreate the problem? Thanks!

[2020-11-05 20:03] AlexJerabek commented on #2302
Hi @irfancue,

I'd recommend asking this question on [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js). Be sure to include both the "office-js" and "heroku" tags. That way, people from both communities can help diagnose the error.

Since the Office Add-ins documentation is agnostic about the cloud service to use, this seems out of scope for this repo. I'll close the issue, but

[2020-11-05 20:03] #2302 closed

[2020-11-05 20:03] AlexJerabek commented on #2306
Thanks for the feedback @sshukurov.

@alison-mk, could you please take a look at this? Thanks!

[2020-11-05 20:06] AlexJerabek commented on #2307
Hi @jfoclpf,
Thanks for reporting this. Can you please share where the process is failing?  Are you able to see your add-in in the "My Add-ins" list? Is the add-in showing an error in the task pane? Any details and screenshots would be appreicated.

[2020-11-05 20:16] jfoclpf commented on #2307
hi @AlexJerabek
When I open Outlook 365 for desktop, I get this greyed out

![image](https://user-images.githubusercontent.com/3984909/98291767-f11cd780-1fab-11eb-9c75-b4c875673b56.png)

The "Enable Optional Connected Experience" option was already selected, but still (after restarting again Outlook) the Get Addin button is greyed out.

![image](https://user-images.githubusercontent.com/3984909/98

[2020-11-05 20:24] AlexJerabek commented on #2307
Thank you @jfoclpf.

@ElizabethSamuel-MSFT, could you please continue the investigation?

[2020-11-05 20:50] exextoc commented on #2236
1. That is correct. From our documentation regarding support of [requirement sets on clients](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets), the only clients that do not support 1.5 is 2016 one-time purchase and 2013 one time purchase (MSI versions). Are you trying your target for the addin to only the clients that use those builds of

[2020-11-05 21:21] ElizabethSamuel-MSFT commented on #2307
@exextoc Can you take a look? Thx.

[2020-11-05 21:53] octocat1000 commented on #2297
Hi @Rick-Kirkham.  I believe that I had just been following the instructions in the tutorial [here](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial#protect-a-worksheet).  I was on the step to add second taskbar items to the manifest and, if I recall correctly, I had transposed the "el" in "ProtectionButtonLabel".

In this section:
`    <Supertip>
        <Title resid="

[2020-11-05 22:41] mscharlock commented on #2261
Thanks for your patience. I heard back from a PM on the expected behavior. Apparently, sideloading may be disabled by the Trust Center or via a group policy, but disabling the store doesn’t explicitly disable sideloading from a network share. Let me know if this helps - I can get more details to clarify if you need. :)

[2020-11-05 22:52] mscharlock commented on #1307
Hi @topkoong, I am going to close this issue for now, but let me know if you need any other assistance by commenting on this thread and I will reopen. Thank you!

[2020-11-05 22:52] #1307 closed

[2020-11-05 22:53] mscharlock commented on #2052
Hi all, I am closing as it appears this issue is solved. If anyone needs more assistance, please comment on this thread and I will reopen. Thank you!

[2020-11-05 22:53] #2052 closed

[2020-11-06 11:02] hello-chenchen commented on #2303
@ElizabethSamuel-MSFT , right now, outlook ios latest version have support this feature, so it should be update for have support ios, not only android. and i hope there is a table for which min version they are supported this feature.

[2020-11-06 16:36] ElizabethSamuel-MSFT commented on #2303
@hello-chenchen Thanks for your response. However, you talk about "this feature" but can you let us know which feature?

Thanks.

[2020-11-06 20:00] #2283 closed

[2020-11-06 22:56] alison-mk commented on #2306
Hi @sshukurov, thanks again for this feedback. I'm working on an update to this article, and I will definitely incorporate your suggestion. Are you blocked, or have you found a solution that allows you to continue working? If you're blocked, can you provide the code sample you're working with (either directly in a comment, or via a link to a Github gist)? I'll be happy to help out here in the inte

[2020-11-07 00:17] Rick-Kirkham opened #2310 "spelling error in title"
The last word of the title should be "runtime" not "runtimes"

![image](https://user-images.githubusercontent.com/9088056/98425891-b79ba900-204b-11eb-8201-88a533cc2830.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc89eff2-1c69-c80f-2cfb-43746309f2b7
* Version Independent ID: af86e11c-93ec-c0d9-bccd-cdd993fce37c

[2020-11-07 02:04] Rick-Kirkham commented on #2297
I'm not clear on the issue. Were you expecting that the manifest would not validate given the typo? I don't think that would prevent the manifest from validating. A `resid` is just a string that you choose. The validator will accept any string.

[2020-11-07 02:08] Rick-Kirkham commented on #2254
It depends on what you mean by "version". You can change the files hosted in the server side, without changing the manifest. The manifest and Office don't know about that kind of version change, so the original approval still applies. However, if by version change, you mean a changed manifest, then that new manifest would have to be deployed and reapproved. Does this answer the question?

[2020-11-07 02:36] sshukurov commented on #2306
Hi @alison-mk, thank you for your response. I'm not blocked, I've already figured out how to get the address property as I wrote above.

[2020-11-07 17:01] exextoc commented on #2307
Could you share the Outlook build number you are testing this on? Also, after booting outlook, select an email so the email shows up in the reading pane, then in the Home tab on the ribbon do you see the Get Add-ins button? Is this enbaled/disabled? Sharing a screenshot of this scenario will help us. Also, it's worth trying a couple of emails in the inbox to confirm if the Get Add-inss button on t

[2020-11-09 02:01] hello-chenchen commented on #2303
@ElizabethSamuel-MSFT ,sorry it seams i delete the most important thing when report this issue.
this feature.
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting

[2020-11-09 05:38] glr0221 commented on #2236
Thank you @exextoc ... you saved me a lot of trouble.

Yes you are correct. I am trying to custom our manifests based on supported mailbox versions. Thank you so very much.

@ElizabethSamuel-MSFT Thank you and I am closing this ticket.

[2020-11-09 05:38] #2236 closed

[2020-11-09 12:28] sempre76 opened #2314 "Outlook Error Code 5010 is not documented"
When using Office.context.mailbox.item.removeAttachmentAsync the following error occurs, but isn't documented:
code: 5010
name: Interner Fehler
message: Ein interner Fehler ist aufgetreten.

Documentation Link:
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes

[2020-11-09 18:10] octocat1000 commented on #2297
Hi Rick, I have no particular expectations of the manifest validation tool.  However, my question at the start of this thread was how should I be able to find such issues.  In my case, there was no error message anywhere that I could find that led me to understand the cause of the add-in not loading.  So, if the validation tool doesn't catch such errors, how does one come to understand when they o

[2020-11-10 10:25] jfoclpf commented on #2307
@exextoc thanks for your reply

![image](https://user-images.githubusercontent.com/3984909/98661115-5d019600-2346-11eb-84c5-77a9b80cb740.png)
![image](https://user-images.githubusercontent.com/3984909/98661212-77d40a80-2346-11eb-9649-80b3a187d587.png)

The Get Add-ins button was not in the Home tab, I had to add it manually to a new tab by manually customizing the Ribbon, though it is also deactiv

[2020-11-10 14:26] glatzert opened #2318 "Screenshots and description do not match actual workflow"
The screenshots seem not to depict the current state of outlook.

I use version "Microsoft Outlook for Microsoft 365 MSO (16.0.13328.20262) 32-Bit", which will open a web-page, when I click on the Add-In button - the webpage is: https://appsource.microsoft.com/de-de/marketplace/apps?product=office%3boutlook&page=1&src=office&corrid=44f1107b-2cdc-4c76-9769-b288c00536c8&omexanonuid=c682f60f-85c5-44f

[2020-11-10 19:09] ElizabethSamuel-MSFT commented on #2310
@Rick-Kirkham Thanks for opening this issue.

@alison-mk Can you address?

Thanks.

[2020-11-10 19:14] ElizabethSamuel-MSFT commented on #2318
@glatzert Thanks for raising this issue. Can you access Outlook on the web and try the related instructions on that same page to sideload in that client?

Let us know if that helped or if we can help further.

Thanks.

[2020-11-10 19:54] alison-mk commented on #2310
@Rick-Kirkham @ElizabethSamuel-MSFT this title is fixed in [PR #2312](https://github.com/OfficeDev/office-js-docs-pr/pull/2312)! :)

[2020-11-10 21:05] exextoc commented on #2307
Are you able to sideload add-ins using [Outlook on the web](https://support.microsoft.com/en-gb/office/using-add-ins-in-outlook-on-the-web-8f2ce816-5df4-44a5-958c-f7f9d6dabdce)? Is the Get Add-ins button also disabled for Outlook on the web?

[2020-11-11 10:21] jfoclpf commented on #2307
No, I am not.

[2020-11-11 10:35] glatzert commented on #2318
Hi there,

my observations so far:
 - Outlook Desktop goes to that Store Page mentioned above, with no way of sideloading
 - outlook.com does not work for the user I tried (it's a corporate login and I seem to have no outlook license for outlook online)
 - mail.domain.com is an on-prem OWA, which has some settings regarding Add-Ins (did not have time to see, if I can load one or not)
 - outlook.co

[2020-11-11 19:49] exextoc commented on #2307
To be able to install/manage/access Outlook add-ins, the My Marketplace Apps role needs to be set for your account. Please see [this](https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/add-ins-for-outlook/specify-who-can-install-and-manage-add-ins) documentation for further details.

[2020-11-12 00:14] Rick-Kirkham commented on #2297
I think that I must be missing something.  No system can read a programmer's mind and know what they intended to type.  If a typo causes an error, the system can't tell you that you typed "le" when you meant to type "el".

Maybe this is why bug forms have sections labelled "Expected" and "Actual". What is your "expected" behavior that you would like to see when you have a typo in a resid?

[2020-11-12 16:52] octocat1000 commented on #2297
Rick, it might be good if you read the whole thread.

Ultimately, it came down to a typo in the manifest.  However, the initial error was, "Add-in Error. This add-in is no longer available."  It happened in the same point in the tutorial that talks about having to clear caches by deleting files in multiple locations.  So, at first, I wasn't sure at all why I was seeing this message (i.e. had I del

[2020-11-12 22:14] Rick-Kirkham commented on #2297
This might make me look worse in your eyes, but I actually have reread the whole thread before writing each of my comments. As far as troubleshooting the error in the issue title, I searched for it in Bing and found a number of causes, mostly connected to `resid`s. I think the best I can do is add a section to this article, [Troubleshoot development errors](https://docs.microsoft.com/en-us/office/

[2020-11-13 01:00] #2261 closed

[2020-11-13 01:12] yowl opened #2322 "Clarity improvement"
In point 8
![image](https://user-images.githubusercontent.com/2720041/99015478-1a48e500-2523-11eb-9646-eb1d7a2e352c.png)
It refers to `HtmlWebpackPlugin`.  There could be 3 of these objects, the picture shows the one for `taskpane.html` but its not clear if that is the only one that needs changing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-11-13 01:35] ElizabethSamuel-MSFT commented on #1412
@adem Can you confirm if this issue is now fixed for you?

Thanks.

[2020-11-13 16:21] lizafurr-leanix opened #2323 "Incorrect file paths for certain Mac folders in these instructions"
In the section "Clear the Office cache on Mac", in the second purple Note box there's a list of folders. The first two folders listed have complete file paths; the second two folders are partial file paths, missing the beginning of the path. (Are they also in ~/Library/Containers/ , or somewhere else?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-11-13 17:57] davidchesnut commented on #2279
Hi @Mike-tech ,

Sorry for the late reply on this. We've reproduced this same behavior, and are looking into how to get an SSO-based add-in to deploy to Azure. I'll reply once we have the answer. Thanks!

[2020-11-13 21:47] ElizabethSamuel-MSFT commented on #2323
@lizafurr-leanix Thanks for pointing this out. They may also be in `~/Library/Containers`. We'll update the docs to note this.

Thanks.

[2020-11-13 22:11] ElizabethSamuel-MSFT commented on #2322
@yowl Thanks for asking about this.

@alison-mk Can you take a look?

Thanks.

[2020-11-13 22:20] ElizabethSamuel-MSFT commented on #2303
@hello-chenchen Thanks for the update. We are working on supporting this feature so it may be available but not officially supported yet. I'll check with the feature crew for the status on iOS then update this thread and the documentation as applicable.

Thanks.

[2020-11-13 22:55] ElizabethSamuel-MSFT commented on #2318
@glatzert Thanks for sharing this info.

@exextoc Can you take a look?

Thanks.

[2020-11-14 00:01] ElizabethSamuel-MSFT commented on #1495
@DennisGaida The [RoamingSettings](https://docs.microsoft.com/en-us/javascript/api/outlook/office.roamingsettings?view=outlook-js-preview) may provide some more information about how it behaves. Can you take a look?

Developers can certainly use plain JS or any framework of their choosing. Our including jQuery or other frameworks is usually meant to show how to incorporate frameworks, simplify the

[2020-11-14 00:02] alison-mk commented on #2322
Hi @yowl, thanks for this feedback! I've looked into your question and I _think_ taskpane.html is the only file in webpack.config.js that needs the `chunks` array updated to include functions, but I'm having trouble debugging to confirm. @davidchesnut can you take a look? We'll update the docs accordingly once we've confirmed.

[2020-11-14 07:00] #2254 closed

[2020-11-14 09:45] adem commented on #1412
@ElizabethSamuel-MSFT The element still seems to be part of the manifest - tested with `generator-office@1.7.6`. However, I'm really not too bothered by it. It doesn't break anything and was just an initial point of confusion in our team. You can go ahead and close the issue.

Thanks!

[2020-11-15 22:16] Rick-Kirkham commented on #1710
Something went wrong with this issue. It should not have been closed as Not Actionable. The fully qualified name of the event should be corrected wherever it appears in the docs.

[2020-11-16 15:47] DennisGaida commented on #1495
@ElizabethSamuel-MSFT  thank you for linking the RoamingSettings documentation, great information!

I'm not sure whether the documentations match because RoamingSettings says "_The RoamingSettings object is initialized from the persisted storage only when the add-in is first loaded_" and the code example does not use jQuery's `$(document).ready`, it actually just uses `Office.context.roamingSettin

[2020-11-16 19:43] nikki9696 opened #2328 "Clarification on "Line Of Business" update"
We can either manually upload an xml file (browse), or we can specify a url. Is the above also true when we specified a url? That is, is selecting a manifest url instead of a file also considered "upload"?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41508035-2045-1706-9917-cd2da1e99cc7
* Version Independent

[2020-11-17 16:27] ElizabethSamuel-MSFT commented on #1495
@DennisGaida Thanks for your response. I'll ask the product team to take a look.

@exextoc Can you take a look here?

Thanks.

[2020-11-17 17:07] #2323 closed

[2020-11-17 17:24] ElizabethSamuel-MSFT commented on #1412
@adem Thanks for letting us know. Closing now.

[2020-11-17 17:24] #1412 closed

[2020-11-17 17:48] ElizabethSamuel-MSFT commented on #2328
@nikki9696 Thanks for asking about this. We'll respond with an answer soon.

Thanks.

[2020-11-17 17:59] ElizabethSamuel-MSFT commented on #2303
@hello-chenchen I checked with the team and we are in the process of rolling out the feature for iOS. Once that process is complete, we'll update the documentation accordingly with supported build info and other details as needed. Unfortunately, I don't have an ETA at this time for when that will be. I'll go ahead and close this but if you have any further questions, let us know and we can reopen

[2020-11-17 17:59] #2303 closed

[2020-11-17 18:04] ElizabethSamuel-MSFT commented on #2328
@nikki9696 I've confirmed with the team that you can also point to the URL of the manifest file to update the add-in. I'll work on clarifying this in the article.

Thanks.

[2020-11-17 19:01] ElizabethSamuel-MSFT commented on #2328
@nikki9696 Do take a look at the linked PR to see if that helps clarify this for you.

Thanks.

[2020-11-17 19:01] #2328 closed

[2020-11-17 23:07] jfoclpf commented on #2307
Thank you, I am contacting the admin but this here is a huge organisation and I need to follow the procedure. But you already pointed in the right direction, so if I understood correctly my user Role has to be within **My Custom Apps**. Is that correct @exextoc ?

Just for the correct assessment, which kind of administrator are we talking about? What is the correct denomination of the person I nee

[2020-11-17 23:18] TCourtneyOwen opened #2332 "Tutorial isn't working as expected"
The tutorial at https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime isn't working as expected.  The taskpane opens but the taskpane is greyed out (see attached image). The custom functions work fine however.

-Courtney

![image](https://user-images.githubusercontent.com/38081557/99462256-200a4600-28e8-11eb-8c47-141ab8267526.png)

---
#### Documen

[2020-11-17 23:23] AlexJerabek commented on #2332
Thanks @TCourtneyOwen,
Can you please work with @davidchesnut to get this issue resolved?

[2020-11-17 23:32] TCourtneyOwen commented on #2332
@davidchesnut is aware of the issue as well.

-Courtney

[2020-11-17 23:47] exextoc commented on #2307
Correct, you need 'My Custom Apps' role in order to be able to sideload an addin.
Just to double check that there are no other issues - is the Get Add-ins button enabled for Outlook on the web?  If it is enabled, and you have My Custom Apps role, you should be able to sideload addins from Outlook on the web, and the sideloaded addins will be available in Outlook desktop.

For the 'Get Add ins' but

[2020-11-18 11:44] ziyaaktas opened #2335 "XSD file link is not working"
https://github.com/OfficeDev/office-js-docs-pr/blob/master/openspecs/office_file_formats/ms-owemxml/c6a06390-34b8-4b42-82eb-b28be12494a8  throws 404

[2020-11-18 18:16] mscharlock commented on #1884
Hi @mdhruv1 - Thanks for reading the docs and writing in. Just wanted to check back in and give an update. We'll keep this on our backlog, but  at this time content add-ins are not the main focus for our team. :) Thank you for contacting us - I am going to close this issue for  now, but if you need anything else please comment on this thread and I can reopen it.

[2020-11-18 18:16] #1884 closed

[2020-11-18 18:18] mscharlock commented on #1369
Hi Nick - let our team know if you still need assistance. If not, we'll go ahead and close this thread. Thanks!

[2020-11-18 18:20] mscharlock commented on #2310
Fixed!

[2020-11-18 18:20] #2310 closed

[2020-11-18 18:22] mscharlock commented on #2335
Hi @ziyaaktas - Thanks for writing in and reading the docs! Can you let me know where this broken link is located in our docs? Happy to change it. Thanks!

[2020-11-18 20:00] Rick-Kirkham commented on #2297
Removing activity status, so the robot won't delete this prematurely.

[2020-11-19 03:42] ken444 opened #2338 "How do remove this add-in?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bac6469-78a6-dae9-e6c4-497c953a1576
* Version Independent ID: d860aff2-60ad-c008-2d10-b046f3198f44
* Content: [Custom functions quick start - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quick

[2020-11-19 15:41] jfoclpf commented on #2307
Yes, correct, I don't see any option to sideload addins on my web platform of Office

I will contact the admin then. Thanks for the support

[2020-11-19 19:45] AlexJerabek commented on #2338
Hi @ken444,

You should be able to remove everything by clearing the Office cache. Instructions on how to do that can be found here: https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache

Please let me know if those instructions help. Thanks!

[2020-11-20 05:50] ziyaaktas commented on #2335
@mscharlock this one here, https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/testing/troubleshoot-manifest.md#validate-your-manifest-against-the-xml-schema

[2020-11-20 21:25] Rick-Kirkham commented on #1710
This is fixed in the source files and should be published in the next few days.

[2020-11-20 21:45] ElizabethSamuel-MSFT commented on #2307
@jfoclpf Thanks for the update. I'll go ahead and close this issue but if you're still facing problems even after working with your admin, you can respond on this thread or create a new issue.

Thanks.

[2020-11-20 21:45] #2307 closed

[2020-11-20 23:39] mscharlock commented on #2335
Hi again - Can you tell me if you can see it on [this docs page](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#validate-your-manifest-against-the-xml-schema)? I believe the reason the link isn't showing up is that the link doesn't work on Github itself, but will work if viewed on docs.microsoft.com. Let me know if that works!

[2020-11-23 04:32] korisan opened #2341 "Getting error "Error processing "attach": No Edge instances found running on local machine" Even though"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 614e6992-f9be-4ce5-1f15-0fc6bf285c43
* Version Independent ID: 1b37e38d-06ec-cd00-16bb-3324b1f0048f
* Content: [Microsoft Office Add-in Debugger Extension for Visual Studio Code - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/tes

[2020-11-23 07:22] vigen-b commented on #2084
Cool, thanks for the explanation

[2020-11-23 11:37] ziyaaktas commented on #2335
That works, but don't we have to fix the one on github somehow as well?

[2020-11-23 14:10] arozwalak opened #2344 "OfficeRuntime.auth.getAccessToken not working on production"
I'm working on outlook addon using SSO. I've generated addon with yeoman. Locally everything works good, but once deployed to production and served built files from /dist SSO is not working anymore.

I found that locally this addon is running express.js server which is getting access token.
How I should handle this on production?

[2020-11-23 17:56] mscharlock commented on #2335
Unfortunately Github does not recognize the relative link, although docs does. Otherwise we would definitely fix, but this is the recommended approach. Let me know if you have other questions. I'm going to close this issue now, but I will go ahead and reopen if you need anything else and comment on this thread :)

[2020-11-23 17:56] #2335 closed

[2020-11-23 21:08] ken444 commented on #2338
That worked!
Thanks

[2020-11-23 23:06] AlexJerabek commented on #2338
Awesome! Glad to hear it. I'll close the issue,, but please feel free to open any others as you continue to learn the platform.

[2020-11-23 23:06] #2338 closed

[2020-11-24 01:31] davidchesnut commented on #2322
Hi @yowl, the documentation is not clear, and you should also remove the HtmlWebpackPlugin section that generates function.html (basically remove the following):
[code]
The original functions.html is no longer needed in the project when using shared runtime.

And then you add the functions chunk to the taskpane.html plugin as specified in the note:
[code]

I'll check in a PR to update the article

[2020-11-24 09:25] arozwalak opened #2343 "Should add info that it's not yet production ready"
I've spent 2 weeks trying to make it work on a production, and yesterday I've got response that yeoman office generator is not yet production ready??? This should be the first information on this page. WTF? But on the other hand, what I've expected from micro soft...

[2020-11-24 17:52] ElizabethSamuel-MSFT commented on #2343
@arozwalak We're sorry to hear you had this experience and thanks for letting us know. We'll look into updating the docs as needed so others may not have this experience.

@mscharlock Can you take a look?

Thanks.

[2020-11-24 18:05] TCourtneyOwen commented on #2344
Perhaps this issue is similar to https://github.com/OfficeDev/office-js-docs-pr/issues/2279.  @davidchesnut is going to post documentation today that may help with this issue.

-Courtney

[2020-11-24 18:20] davidchesnut commented on #2279
Hi @Mike-tech ,

It looks like what is happening is the SSO code is attempting to store and get the app secret in Windows credential manager. This likely won't work on an Azure deployment. The code is in the [Office-Addin-SSO package](https://github.com/OfficeDev/Office-Addin-Scripts/blob/master/packages/office-addin-sso/README.md). See  https://github.com/OfficeDev/Office-Addin-Scripts/blob/4ec80

[2020-11-24 18:26] davidchesnut commented on #2344
Hi @arozwalak,

This issue is also related to https://github.com/OfficeDev/office-js-docs-pr/issues/2279.

Since the code Courtney refers to is in a package, you can't update it to handle the Azure scenario. However you can get the same code from the [Office-Add-in-NodeJS-SSO](https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO) sample. And you find the same code at https://github.com/OfficeDev/

[2020-11-24 21:33] Mike-tech commented on #2279
Hi @davidchesnut

Thanks for the information on alternative method of hosting sso. I have two follow up questions regarding this:

1. Is there a TypeScript version of the sample template Office-Add-in-NodeJS-SSO?

2. To deploy the Office-Add-in-NodeJS-SSO project template - is the target host environment also Azure Storage Static Website? So running npm run build and deploying from the dist folder

[2020-11-25 11:55] exextoc commented on #2318
1. If I understand your description correctly, your Exchange account is on-premise. Is that right?

2. In desktop Outlook, do you see a "Manage Add-ins" option in 'File', under the 'Info' tab? The "Manage Add-ins" button should open "Get-Addins" interface in OWA and the experience should be similar to "Sideload an add-in in classic Outlook on the web" in https://docs.microsoft.com/en-us/office/dev

[2020-11-25 16:03] ElizabethSamuel-MSFT commented on #2318
@exextoc Thanks for your response.

@glatzert Can you try this out and let us know if it helped?

Thanks.

[2020-11-26 00:27] davidchesnut commented on #2279
Hi @Mike-tech,

No, right now that sample is only JavaScript. Although JavaScript should run fine under TypeScript. Or if you are working to mix and match the JS pieces from the sample in a TS project, you could use the office-addin-sso package as a reference. For example, the TypeScript versions of the secret handling functions are [here](https://github.com/OfficeDev/Office-Addin-Scripts/blob/4ec

[2020-11-26 04:42] Mike-tech commented on #2279
Ok @davidchesnut, points noted.

Many thanks

[2020-12-01 14:23] glatzert commented on #2318
@ElizabethSamuel-MSFT and @exextoc thanks - I could sideload it via the OWA of my company.
I think the docs could be improved by mentioning, the "File" > "Manage Add-Ins" for my Outlook Version

[2020-12-01 20:00] ElizabethSamuel-MSFT commented on #2318
@glatzert Thanks for letting us know the outcome. We discuss this option in the [Outlook 2013 section](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing#outlook-2013) of the article. I'll update the 'Outlook 2016 and later' section to indicate the 2013 instructions as an alternative. PR will follow soon.

[2020-12-01 22:32] #2318 closed

[2020-12-02 08:45] JensMadsen commented on #584
We have started building ui tests using Selenium. We currently only test Word online. We plan to use Winium to test Word desktop Windows. The tests run on Github Actions and run headless in incognito mode. Currently, we only have a setup for Chrome (chromedriver). If you plan to create a similar setup please note that:

1. In order for the addin to load and function properly you have to change the

[2020-12-02 18:42] mscharlock commented on #1369
Hi all, I am going to close this issue but if you need any other assistance, please comment on this thread and we can reopen. Thanks!

[2020-12-02 18:42] #1369 closed

[2020-12-03 09:11] shubham0186CS161106 opened #2357 "test cases"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d326775e-3f80-017d-3904-e66bf995795a
* Version Independent ID: f86f6309-132d-bd5f-f655-47189fda0467
* Content: [Test and debug Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/test-debug-office-add-ins)
* Co

[2020-12-03 13:32] chintan-avnio commented on #195
I have the same problem. Not able to see the inspect. Where I'm on Latest BIG SUR

![image](https://user-images.githubusercontent.com/72140171/101024348-fa449880-3599-11eb-8393-9585991ac200.png)

[2020-12-04 13:37] Faiqrana opened #2360 "Unable to get user information when "Get my user profile information" click"
I have followed the documentation of sso addin thoroughly. created the sso, configured the sso, registered the addin on azure portal. but when i click the button. i does not work.

**taskpane.js file**
const ssoAuthHelper = require("./../helpers/ssoauthhelper");

Office.onReady(info => {
  if (info.host === Office.HostType.Outlook) {
    document.getElementById("getGraphDataButton").onclick = ssoA

[2020-12-04 15:58] stevetfiligree opened #2361 "Attaching vscode debugger creates error - ECONNREFUSED 127.0.0.1:9222"
I have followed the instructions from - https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-with-vs-extension
- and I am getting this error:

ECONNREFUSED 127.0.0.1:9222
open launch.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 614e6992-f9be-4ce5-1f15-0fc6bf285c43
* Version Independent ID: 1b37e38d-

[2020-12-04 21:11] ElizabethSamuel-MSFT commented on #2357
@shubham0186CS161106 Can you provide more info on your issue?

Thanks.

[2020-12-04 21:12] ElizabethSamuel-MSFT commented on #2360
@Faiqrana Thanks for raising this issue.

@davidchesnut Can you take a look?

Thanks.

[2020-12-04 21:14] ElizabethSamuel-MSFT commented on #2361
@stevetfiligree Thanks for asking about this.

@mscharlock Can you help direct this?

Thanks.

[2020-12-05 00:52] slabereemsft commented on #2361
Adding Matt and Courtney to take a look as well.

[2020-12-05 17:24] TCourtneyOwen commented on #2361
I responded to this same customer on a different thread, so we can probably close this out:  https://github.com/OfficeDev/vscode-debugger-extension-for-office-addins/issues/18

[2020-12-05 17:26] TCourtneyOwen commented on #2361
Tracking this issue at https://github.com/OfficeDev/vscode-debugger-extension-for-office-addins/issues/18 so closing this one out

[2020-12-07 02:33] tobudim commented on #2344
Hi @arozwalak , did you manage to deploy your add-in?

[2020-12-07 14:56] andrew-lovatt-BHL opened #2364 "Approach doesn't work with modern SharePoint"
Instructions are fine for Classic SharePoint. However for Modern SharePoint pages (which we are being pushed to use) there is no Script Editor, so no way to use the JS APIs, so can't even do something as basic as select which sheet of the Visio file to show when embedded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-12-07 18:43] Rick-Kirkham commented on #2364
I'm trying to get answers internally.

[2020-12-07 21:22] mscharlock commented on #2343
Yes, just to give an update the PM on this area and I are investigating.

[2020-12-07 22:10] #2364 closed

[2020-12-08 10:24] hello-chenchen opened #2368 "Is it possible for developer to publish a template application in app registrations page. In order to let customer use their application directly."
For this document, if we want to integrate Microsoft's sso, our customer need new an application on their own Azure portal. And configure their own office365 add-in manifest.xml.

We want to provide more easily options for our customer.

For example, we can publish an application template on app registrations page(which have a fixed and unique Client ID such as: 3521aa47-c584-473e-ae97-d28ed2c22ec

[2020-12-08 13:03] arozwalak commented on #2344
Hi @tobudim,
Unfortunately I can't help here. My addon is 'partially' developed, meaning that I just need accessToken, to authorize it with my platform. Looks like addon generated with office yeoman generator is not yet production ready. I was able to get around it and I'm able to authenticate user through our platform rather than through addon itself.

[2020-12-08 13:28] tobudim commented on #2344
@arozwalak thanks for your feedback, actually it very well guided me. 🙏

[2020-12-08 14:52] arozwalak commented on #2344
Glad I could help @tobudim  :)

[2020-12-08 18:07] ElizabethSamuel-MSFT commented on #2368
@hello-chenchen Thanks for asking about this.

@davidchesnut Can you take a look?

Thanks.

[2020-12-10 09:57] hello-chenchen commented on #2368
This problem have found solution here: [Azure Active Directory consent framework](https://docs.microsoft.com/en-us/azure/active-directory/develop/consent-framework)
and [Quickstart: Sign in users and get an access token in a Node web app using the auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-nodejs-webapp-msal?WT.mc_id=Portal-Microsoft_AAD_Registere

[2020-12-10 16:12] ElizabethSamuel-MSFT commented on #2368
Reopening so we can take a look at updating the guide. Thx.

[2020-12-10 22:07] alison-mk commented on #2238
Hi @chucklay, I've updated this documentation article to remove the outdated information you identified (thanks!) and clarified the Range parameters subsection in the article. The update should be live soon, so I'll close this issue now. Thanks again for reporting the issue. -Alison

[2020-12-10 22:07] #2238 closed

[2020-12-12 01:00] #2357 closed

[2020-12-14 05:45] tobudim commented on #2344
Hi @davidchesnut,

Update since my last message:

- Azure web app:
  - As we've seen getAccessToken doesn't work as it does not get the secret when built (`/dist`).
- Azure Windows Server VM:
  - As `npm start` works fine (I mirrored and updated the code to get the secret without asking for it locally) and not the build itself (`/dist`), I believed a reverse proxy would do fine.
  - As only Window

[2020-12-14 21:33] brianthemike opened #2376 "Clearer documentation for Enabled manifest tag platform support"
As the title states, I am getting an XML validation error when uploading my manifest that contains the Enabled tag. If I remove the Enabled tag, it loads fine.  Here is my XML for the control:

` <Control xsi:type="Button" id="ActionButton">`
` <Label resid="ActionButton.Label"/>`
`<Supertip>`
`<Title resid="ActionButton.Label"/>`
`<Description resid="ActionButton.Tooltip"/>`
`</Supertip>`
`<Icon>

[2020-12-14 21:51] AlexJerabek commented on #2376
Thanks for reporting this @brianthemike.

@exextoc, could you please investigate?

[2020-12-14 22:57] exextoc commented on #2376
The Enabled manifest element is [only available in Excel](https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands#office-application-and-platform-support-only). Currently the Enabled element, is not supported in Outlook. We track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-in

[2020-12-15 00:13] alison-mk commented on #2255
As of PR #2355, the character limit is now documented. Closing this issue. Thanks again for taking the time to submit the issue, @jwhite-venacorp!

[2020-12-15 00:13] #2255 closed

[2020-12-15 16:01] brianthemike commented on #2376
Thank you for the clarification. I would recommend putting this info on the [manifest reference page](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/enabled) for this element.  It can still be confusing to those who don't necessarily want to enable programmatically and may just want to disable a button, etc. instead of commenting out lines in their manifest or webpack.confi

[2020-12-15 18:53] ElizabethSamuel-MSFT commented on #1495
@exextoc Can you provide your thoughts on this comment? Thx.

[2020-12-15 20:39] AlexJerabek commented on #2376
@brianthemike We will update the docs accordingly. I'll reopen and rename the issue to track the necessary changes.

[2020-12-15 21:58] davidchesnut commented on #2275
Thanks @julio177!

I submitted PR #2378 to fix this.

[2020-12-16 01:08] #2275 closed

[2020-12-18 06:26] glr0221 opened #2382 "Outlook v2.0 REST API deprecation inquiries"
Inquiries on impact of the Outlook REST v2.0 API Deprecation

## Article URL

https://docs.microsoft.com/en-us/previous-versions/office/office-365-api/api/version-2.0/use-outlook-rest-api

## Issue

 Hello Microsoft,

Recently, we found out that the Outlook V2.0 REST APIs will be deprecated and will not be supported anymore. This is according to this documentation : https://docs.microsoft.com/en-u

[2020-12-18 21:08] exextoc commented on #1495
You do not need to wait for the document to be loaded to use Roaming Settings.

The documentation you are referring to (_The RoamingSettings object is initialized from the persisted storage only when the add-in is first loaded_) is meant to specify that the value of the RoamingSettings object is from the first load (not including persisted changes) if the taskpane is reloaded/page change.

[2020-12-18 23:18] ElizabethSamuel-MSFT commented on #2382
@glr0221 Thanks for asking about this. Assigning to @JuaneloJuanelo to take a look.

Thanks.

[2020-12-19 10:16] DennisGaida commented on #1495
Hence the documentation this issue is about should be changed. I would opt for removing any jQuery dependency and document load events - otherwise you will have many apps that use this exact unnecessary code.

[2020-12-22 19:49] ElizabethSamuel-MSFT commented on #1495
@DennisGaida I'm removing the add-in initialization code from the example. If someone is interested in learning more about how to initialize an add-in, they can see [our article on the topic](https://docs.microsoft.com/office/dev/add-ins/develop/initialize-add-in).

Thanks again for raising this issue. The change should be merged and published today.

[2020-12-22 19:51] #1495 closed

[2020-12-23 10:52] PavanaKatta opened #2386 "Comments and Grouping are not loaded into excelusing addFromBase64"
Hi Team,

We are using **addFromBase64** in Office 365. Comments and Grouping in not loading in the excel.

Could you please suggest any other way i can achieve this functionality.

Thanks team in advance!!..

Thanks,
Pavan

[2020-12-28 21:26] alison-mk commented on #2306
Closing this issue as the clarifications and suggestions recommended by @sshukurov have been incorporated into the [Manually create JSON metadata for custom functions](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json#options) and [Custom functions parameter options](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-parameter-options?tabs=java

[2020-12-28 21:26] #2306 closed

[2020-12-29 09:48] david-ps opened #2388 "Where is the documentation for Office.ui.messageChild method?"
Cannot find details about [documentation ](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=excel-js-preview)for Office.ui.messageChild method
Is this still in preview. It appears that Dialog 1.2 is in a GA Requirement Set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f3b62b6-b625-e444-82e3-8f5e

[2020-12-29 17:57] AlexJerabek commented on #2388
Hi @david-ps,

Thanks for pointing out that mistake. I suspect that's either supposed to reference {Office.ui.messageParent)(https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=excel-js-preview#messageParent_message_) or [Office.Dialog.messageChild](https://docs.microsoft.com/en-us/javascript/api/office/office.dialog?view=excel-js-preview#messageChild_message_). Let me tag some p

[2020-12-30 00:18] frasparacio opened #2389 "Identity API still not supported for iOS"
I do understand from [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/identity-api-requirement-sets) that Identity API is still not available on ipad (so I guess on iOS as I'm not able to get an access token in iOS outlook app).

It could be really helpful to update the documentation listing this api as not supported in current mobile outlook support page or ha

[2020-12-30 00:18] david-ps commented on #2388
Thanks @AlexJerabek

I am still unclear about [messageParent(message) ](https://docs.microsoft.com/en-us/javascript/api/office/office.ui?view=excel-js-preview#messageParent_message_ ) which "Delivers a message from the dialog box to its parent/opener page" which I assume the TaskPane in most cases? Other examples?

In **Remarks** the doc mentions **Requirement set: DialogAPI** but does not identif

[2020-12-30 00:20] AlexJerabek commented on #2389
Thanks for the suggestion @frasparacio. @davidchesnut, could you please update this documentation accordingly?

[2020-12-30 00:39] AlexJerabek commented on #2388
Hi @david-ps,

I checked the [version history of the UI API page](https://github.com/OfficeDev/office-js-docs-reference/commits/master/docs/docs-ref-autogen/office/office/office.ui.yml) and the entry for `message Parent`. It looks like that method predates DialogAPI 1.2, so it must be part of 1.1 (or else something's really wrong in the documentation).

I believe the parent is always the task pane

[2020-12-30 01:30] david-ps commented on #2388
Hi @AlexJerabek

The DialogAPI version is important to us. We have assumed it is 1.2, so we look forward to clarifying that dependency and  updated documentation.

Note that [messageChild](https://docs.microsoft.com/en-us/javascript/api/office/office.dialog?view=excel-js-preview#messageChild_message_) Remarks indicate 1.2 so it would be strange if the reverse predates it.

[2021-01-02 10:08] cyril-iselin opened #2391 "Windows Server 2016 still use Internet Explorer (TerminalServer)"
Windows Server 2016 still use Internet Explorer (TerminalServer). You only talk about win10 and win8.1 what's about windows server? How wie force Windows Server 2016 to use Edge instead of Internet Explorer?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independen

[2021-01-02 17:53] ozhanatali opened #2392 "Taskpaneappversionoverrides schema does not have Runtimes child element"
XML manifest file created by Visual Studio 2019 contains the below XSDs

          xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0"
          xmlns:ov="http://schemas.microsoft.com/office/taskpaneappversionoverrides"
          xsi:type="TaskPa

[2021-01-03 01:04] ozhanatali commented on #2392
I solved the issue manually updating the TaskPaneAppVersionOverridesV1_0.xsd
[Here is the gist](https://gist.github.com/ozhanatali/034c244a77c7329b3f108d2d1a754fe0)
thanks

[2021-01-03 01:04] #2392 closed

[2021-01-04 11:16] glr0221 commented on #2382
@ElizabethSamuel-MSFT. before anything else, Happy new year to all of you!!! As for this ticket, it seems that @JuaneloJuanelo is a bit busy. Any chance we can ask somebody else knowledgeable of this? Thank you.

[2021-01-04 17:46] AlexJerabek commented on #2382
@exextoc, could you please investigate?

[2021-01-04 18:13] giterdn opened #2393 "Admin permissions missing?"
[Enter feedback here]
As I don't see Settings > Services & add-ins at the admin console (I can access Settings but Services & add-ins is no longer listed) I don't know if something is wrong with the portal or if I don't have the permissions needed to see this option.  I suggest all articles advise what minimum admin privs are needed to perform the configuration steps.  I am an Office admin but not

[2021-01-04 19:25] Rick-Kirkham commented on #2388
messageParent is part of DialogApi 1.1. For a few years there wasn't any equivalent messageChild, but messageChild was added in DialogApi 1.2.  The parent page of a dialog can be a task pane or a UI-less FunctionFile that is launched from a custom ribbon button (an Add-in Command).

As @AlexJerabek suggested, the DialogApi 1.2 page should link to https://docs.microsoft.com/en-us/javascript/api/off

[2021-01-04 19:42] #2388 closed

[2021-01-04 19:53] AlexJerabek commented on #2391
Thanks for the question @cyril-iselin. @Rick-Kirkham, could you please investigate?

[2021-01-04 20:01] AlexJerabek commented on #2393
Thanks for the question @giterdn. Assigning @exextoc to investigate (or reassign as needed).

Just to clarify, were you seeing the "Services and add-ins" option previously? Is this a recent behavior change?

[2021-01-04 20:20] giterdn commented on #2393
Hi,

I used to see this option previously (Nov 2020) and now cannot see it.  Thanks,
Steve
STEVE KISH | Manager - Desktop, Mobility & Telecom

CITY OF SURREY
Corporate Services, IT Division
13450 104 Ave, Surrey, BC, Canada V3T 1V8
T 604.591.4878 | C 604.345.0288  www.surrey.ca<http://www.surrey.ca/>

From: Alex Jerabek <notifications@github.com>
Sent: January 4, 2021 12:01 PM
To: OfficeDev/office

[2021-01-04 22:58] #2376 closed

[2021-01-05 19:52] AlexJerabek commented on #2393
Including @ElizabethSamuel-MSFT to help drive this investigation from the documentation side.

[2021-01-08 04:44] exextoc commented on #2393
There is a recent change that only Global admins or Exchange admins can see “Services & add-ins” option.
In case you are one of the above and still not seeing this option then possibly you would be seeing "Integrated Apps" under "Settings"  in admin portal which is new Centralized Deployment experience.

[2021-01-08 13:14] DeanGross opened #2405 "Request for missing error codes"
Please add all of the relevant error codes to this documentation. I am seeing 50058 and its not listed on this page
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 554083cc-a1e1-9c9d-da7d-7235b0fff31f
* Version Independent ID: 9923ac3f-0b95-e89f-f4f4-6da8e0a30c36
* Content: [Troubleshoot error messages for single sign-on

[2021-01-08 16:23] giterdn commented on #2393
Thank you for your reply.

Add-ins are for Office, yet an Office Admin role can’t manage these.  I manage Office, not Exchange and certainly not the entire tenant.  Where can I send my feedback that this is a bad design change that needs to be reversed?

Thanks again,

Steve

On Jan 7, 2021, at 8:44 PM, Outlook Add-ins Team - MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

[2021-01-08 17:57] alison-mk commented on #2223
Confirmed with @keyur32 that this issue was resolved in PR #2352, so closing this ticket.

[2021-01-08 17:57] #2223 closed

[2021-01-08 19:09] AlexJerabek commented on #2405
Thanks for reporting this issue @DeanGross. We'll work to get the page updated.

In the meantime, since this does not appear to be an error specific to add-ins, I found this article explaining the error code: https://code2care.org/q/microsoft-sign-in-error-code-50058-request-id-correlation-id-timestamp#:~:text=Error%20Code:%2050058:%20Message:%20Session%20information%20is%20not,is%20unauthenticate

[2021-01-09 09:01] david-ps opened #2412 "Add Rows to a Table - Warning Required"
Please add a critical warning for developers.

The documentation fails to disdplay a Note warning that Adding Rows to a Table when undertaken from a Content Pane Add-in has a fatal memory flaw.

The fix is not yet available and it is yet unclear as to impacts on Requirements Sets.
See comment: "Oldest version we can port back is 16.0.13127.*(semiannual version which is released on July 2020). New

[2021-01-11 17:25] AlexJerabek commented on #2412
Thanks @david-ps. We'll update the documentation to alert developers to the linked issue.

@alison-mk , can you please make the requested changes? Thanks!

[2021-01-11 23:44] JuaneloJuanelo commented on #2382
@glr0221  thanks for your inquiry.
Answer is yes for 1 and 2.  Also:

The recommendation on that page is exactly the same for any client consuming Outlook v2.0 REST API, that included Outlook Add-ins, so basically you need to move to the Graph all such calls using Outlook REST APIs v2.0. Please  check our documents and samples (i.e. script lab)  on how to do this.

In addition to this, we also rec

[2021-01-11 23:45] JuaneloJuanelo commented on #2382
@ElizabethSamuel-MSFT  can you please close the issue?

[2021-01-11 23:49] #2382 closed

[2021-01-12 01:52] alison-mk commented on #2412
Hi @david-ps, thank you for submitting this feedback! We've updated the Table article to mention the memory problem and link to the open office-js issue. Since this documentation update has been merged (and will be pushed live soon), I will close this issue. Please let us know if you have any additional documentation feedback or questions. -Alison

[2021-01-12 01:52] #2412 closed

[2021-01-12 02:36] parilla opened #2414 "Outlook add-in cannot pass the attachments of a selected item directly to the remote service"
What is the rationale behind the statement _'Outlook add-in cannot pass the attachments of a selected item directly to the remote service'_?

e.g. Is this due to a technical limitation, or merely the transfer of attachments directly via the Outlook add-in is not recommended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-01-12 11:30] glr0221 commented on #2382
Thank you very much @JuaneloJuanelo Thank you very much @ElizabethSamuel-MSFT and @AlexJerabek. Your answers have enlightened me and have significant impact to our future plans. Thank you again.

[2021-01-12 17:33] davidchesnut commented on #2322
Hi @yowl,
These steps were updated so should be clear now. Please let us know if you spot any other issues. Thanks!

[2021-01-12 17:33] #2322 closed

[2021-01-12 17:48] ElizabethSamuel-MSFT commented on #2414
@parilla Thanks for asking about this.

@exextoc Can you take a look?

Thanks.

[2021-01-12 19:07] exextoc commented on #2414
To some extent, this is to avoid a situation where you are pushing potentially a large file through the service. If you are going to end up with the file on your backend anyway, you might as well retrieve it directly from there.

However, it is worth nothing that GetAttachmentContentAsync, does allow you to get the Base64 content of some attachments into your add-in directly. (https://docs.microso

[2021-01-12 19:15] ElizabethSamuel-MSFT commented on #2414
@exextoc That's a good point. I'll take a pass through the article and bring it up to date.

[2021-01-12 19:37] davidchesnut commented on #1711
Hi @bilalchraibi and @sturlath

Sorry for the slow delay in response here. We don’t have support for Blazor today as we’re currently focused on JavaScript. Please let us know more about this scenario on our UserVoice page at https://officespdev.uservoice.com/. There’s actually already a [Blazor request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/39203

[2021-01-12 19:41] davidchesnut commented on #1598
This issue looks pretty old, and @xuyingyuan I see the issue is resolved for you. If anyone is still stuck, can you let us know? Otherwise I'll plan to let this issue auto-close in a few days.

Thanks!

[2021-01-12 19:52] davidchesnut commented on #1717
Hi @davvit

For Visual Studio, you need to use the manifest that gets built at *{projectpath}*\*{projectfolder}*\bin\Debug\OfficeAppManifests and copy that version to your shared add-ins folder.

I'll add a note for Visual Studio users to the page.

Thanks!

[2021-01-12 21:27] mscharlock commented on #2343
Hi there! I think this is a dupe issue of https://github.com/OfficeDev/office-js-docs-pr/issues/2344 more or less - if that is correct, let me know and I can close out this one. Thanks!

[2021-01-12 21:58] davidchesnut commented on #2360
Hi @Faiqrana

Can you please provide a link to the documentation page you followed? Also what is the error or behavior you are seeing?

Thanks!
David

[2021-01-12 22:04] davidchesnut commented on #2332
Hi @TCourtneyOwen

This is something caused by the sideload opening the task pane briefly, then closing it. When the shared runtime opens the task pane, it then won't open properly. You can work around this by:
1. ***File > Close** (to close the workbook with the non-functioning task pane).
2. **File > New > Blank Workbook**.
3. Then use the drop down in the ribbon for **My Add-ins** to find the *

[2021-01-12 22:04] #2332 closed

[2021-01-12 22:29] TCourtneyOwen commented on #2332
@davidchesnut interesting, let me give that a shot.  I wonder why the taskpane tries to open

[2021-01-12 22:32] TCourtneyOwen commented on #2332
That's bizarre! It works for me too when following your steps

[2021-01-12 22:40] TCourtneyOwen commented on #2332
@davidchesnut are you updating the tutorial to include this workaround?  Seems like we wouldn't want to have a tutorial the requires a workaround

[2021-01-12 23:11] #1711 closed

[2021-01-13 00:41] Rick-Kirkham commented on #2405
@DeanGross Please clarify when you are seeing the error. Is it when you try to login to Office? When getAccessToken runs?

[2021-01-13 05:57] prakashravi1234 commented on #1193
The getSelectedDataAsync doesn't work on Office.CoercionType.XmlSvg, Office.CoercionType.Image types. Is that expected? I get the error : "The specified coercion type is not supported."

Office.context.document.getSelectedDataAsync(Office.CoercionType.XmlSvg, function (asyncResult) {
    if (asyncResult.status === Office.AsyncResultStatus.Failed) {
      console.error(asyncResult.error.message);

[2021-01-13 11:59] nikhilism15 opened #2419 "Unable to run Excel JS Add-In in Windows Server 2016"
I am unable to enable the add-in properly in Windows Server 2016 with Office 2016 installed. It works fine in Windows 10 systems, but in Windows Server 2016, the dialogs don't work (there are some backticks in the JS code of dialogs that are shown as invalid characters) and the custom tab doesn't show at all. Any ideas why this is the case? We need to remedy this urgently as there is a use case wh

[2021-01-13 11:59] nikhilism15 opened #2421 "Unable to run Excel JS Add-In in Windows Server 2016"
I am unable to enable the add-in properly in Windows Server 2016 with Office 2016 installed. It works fine in Windows 10 systems, but in Windows Server 2016, the dialogs don't work (there are some backticks in the JS code of dialogs that are shown as invalid characters) and the custom tab doesn't show at all. Any ideas why this is the case? We need to remedy this urgently as there is a use case wh

[2021-01-13 13:28] DeanGross commented on #2405
@Rick-Kirkham  i am seeing this error in the Sign In Report in Azure AD

[2021-01-13 18:13] Rick-Kirkham commented on #2405
I didn't know about that report, so I've never used it. What user event correlates with the error entry in the report? Is it when you try to login to Office? Or when getAccessToken runs? Or ... something else?

Also, I don't think we (Microsoft) wants to document errors that aren't returned by the Office JavaScript library itself in it's documentation for add-ins. What is happening in the add-in w

[2021-01-13 18:59] Rick-Kirkham commented on #1193
@prakashravi1234 I think your error is a little different from this old closed issue. Please create a new issue. Thanks.

[2021-01-13 21:41] AlexJerabek commented on #2419
Hi @nikhilism15,
I'm going to transfer this issue to the office-js product repo. Just to clarify, is your version of Office the same between your Windows 10 and Windows Server environments?

[2021-01-14 12:44] DeanGross commented on #2405
This is the [report](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-reporting#:~:text=To%20review%20and%20understand%20Azure%20AD%20Multi-Factor%20Authentication,overview%20of%20sign-in%20activity%20reports%20in%20Azure%20AD.),  This occurred when an external user who had been invited to a Team attempted to respond to the invitation and login, the status showed as

[2021-01-14 17:07] AlexJerabek commented on #2421
I'm glad that fixed your issue. Here is the page that describes the version build numbers for Excel requirement sets: https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets

Is that what you were looking for?

[2021-01-14 22:28] Rick-Kirkham commented on #2405
Thanks. This error doesn't have any connection with Office Add-ins. The article you found is only about errors reported when an Office Add-in calls an API function named `getAccesstoken`. That's not what was happening when you got the user got the error.

I suggest that you have your network add-in and/or Azure help troubleshoot the cause of the error.

I will close this.

[2021-01-14 22:28] #2405 closed

[2021-01-14 23:39] #2414 closed

[2021-01-15 07:43] nikhilism15 commented on #2421
This is perfect, thank you. I have added this xml as well in the manifest so that we make sure the add-in will only work in those conditions:
`<Requirements>
    <Sets DefaultMinVersion="1.3">
      <Set Name="ExcelApi" MinVersion="1.3"/>
    </Sets>
  </Requirements>`

[2021-01-15 11:02] ATrogolo opened #2425 "v1.12 Supported platforms"
Hi,
why the Office.js v1.12 isn't supported by:

- Office on the web
- Office on Windows (via Office 365)

If it's supported I can create a PR to update the [page](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability#excel)

Let me know

Best regards,
Andrea

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-15 16:22] ElizabethSamuel-MSFT commented on #2425
@ATrogolo Thanks for raising this issue. Yes, Excel v.12 is supported in those and other platforms - see [Excel JavaScript API requirement sets - Requirement set availability](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/excel-api-requirement-sets#requirement-set-availability).

We welcome your contribution to the docs so feel free to create a PR to address this issue.

[2021-01-16 00:13] paodecode opened #2429 "Webview2 is not used to host Addin on Outlook 365 desktop ver. 16.0.13530.20368"
According to page "Browsers used by Office Add-ins"(https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins)
Webview2 (Edge Chromium) should be used to render our Addin but is using Webview.(legacy Edge)
Is this expected or a bug?

My environment details:
- Windows 10 64 bit ver. 1909 build 18363.1256
- Microsoft 365 MSO (16.0.13530.20368) 64-bit
- Microsof

[2021-01-16 00:50] Rick-Kirkham commented on #2429
I've been advised that WebView2 has not been turned on in non-Insider channels yet. That should happen very soon. In the meantime, can you try using moving your Microsoft 365 subscription to be on the [Current Channel (Preview)](https://insider.office.com/join/windows) [formerly called "Monthly Channel (Targeted)" or "Insider Slow"]?

[2021-01-16 01:36] paodecode commented on #2429
Thanks for the quick turnaround. I can't easily try preview channel at the moment.
My feedback is that switching to WebView2 cannot come too soon. Any Addin authored with modern tooling needs it now (polyfill
 backward compatibility is never quite right and very costly to maintain).
Could you provide a time frame for "should happen very soon"? Thanks!

[2021-01-17 21:06] lousilver opened #2430 "unclear instruction"
For someone either completely new or returning after several years (decades?) there was a step that was unclear on this page, namely how to access the manifest. The prior steps clearly identified which files to modify, but for the final code change there was no file with "manifest" in the name, there were many xml files in the project folder, and there was no readily apparent dropdown in the devel

[2021-01-17 21:07] lousilver commented on #2430
also googling about manifests talked about adding a new (manifest) file, but nothing about identifying an existing project file (a single clue about project.manifest, but no such file existed in the folder)

[2021-01-19 17:19] ElizabethSamuel-MSFT commented on #2430
@lousilver Thanks for bringing this to our attention!

@alison-mk Can you take a look?

Thanks.

[2021-01-19 17:23] ElizabethSamuel-MSFT commented on #2393
@exextoc Can you provide guidance re: giving feedback on this design change?

Thanks.

[2021-01-19 18:28] Rick-Kirkham commented on #2429
I think this was connected to a serious bug we discovered only after the WebView2 enabling was released to non-Insider channels. The release had to be pulled back. It has now been fixed and rereleased. Please wait a couple of days and see if it starts working in non-insider channels. In the meantime, I'm checking with the engineers.

[2021-01-19 22:00] #1598 closed

[2021-01-19 23:37] mscharlock commented on #2430
I think you can tag me on this, I believe I was the last to touch these files.

[2021-01-20 01:00] #2360 closed

[2021-01-20 01:02] alison-mk commented on #2430
Hi @lousilver, thank you for taking the time to submit feedback! With PR #2432, I updated this article based on your suggestion and clarified how to access the manifest XML file in Visual Studio 2019.

If you used the default name for your add-in project, then your manifest file can be found in Solution Explorer, in the **ExcelWebAddIn1** > **ExcelWebAddIn1Manifest** directory, and the manifest wi

[2021-01-20 01:02] #2430 closed

[2021-01-20 06:26] Didierma92 opened #2434 "Excellent idea"
Giving Project a task Pane is a great idea

Didier
Project and Power BI certified consultant
+33682465535

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52c1541-5247-c530-c627-2789f5792719
* Version Independent ID: 5bab04a0-b84e-0f0c-01e1-5d8bb69029ef
* Content: [Build your first Project task pane add-in - Office Add-

[2021-01-20 17:31] AlexJerabek commented on #2434
Thanks @Didierma92! We're glad you like the feature.

Just so you know, Project uses the [Common API model](https://docs.microsoft.com/office/dev/add-ins/develop/office-javascript-api-object-model) and has fewer APIs than Excel or Outlook. If you need more functionality for your add-in, please request new features on [UserVoice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-

[2021-01-20 17:31] #2434 closed

[2021-01-20 17:37] exextoc commented on #2393
Please share your feedback via User Voice https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=20890

[2021-01-20 18:15] giterdn commented on #2393
Thank you for addressing this

From: Outlook Add-ins Team - MSFT <notifications@github.com>
Sent: January 20, 2021 9:38 AM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: Kish, Steve <SKish@surrey.ca>; Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js-docs-pr] Admin permissions missing? (#2393)

Please share your feedback via User Voice https://offic

[2021-01-20 23:59] Rick-Kirkham commented on #2429
@paodecode It turns out that there was some internal miscommunication here. The build that you need for WebView2 is actually 16.0.13530.20**424**, not 16.0.13530.20316 . I will fix the documentation page tonight.

[2021-01-21 00:56] #2429 closed

[2021-01-23 01:28] mscharlock commented on #2343
Hello again, Just wanted to let you know that I am closing this issue due to inactivity. But if you would like me to reopen, just comment on this thread and I will do! Thanks.

[2021-01-23 01:28] #2343 closed

[2021-01-24 20:49] andre-visma opened #2446 "Wrong unit"
I'm pretty sure it should say milliseconds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193780ba-aa43-dc5c-fc28-adc96a0fdeda
* Version Independent ID: da41da2b-207e-e976-3491-61672d1e3493
* Content: [Configure your Outlook add-in for event-based activation (preview) - Office Add-ins](https://docs.microsoft.com/en-us

[2021-01-25 17:25] AlexJerabek commented on #2446
Thanks for catching this @andre-visma.

@ElizabethSamuel-MSFT, can you please confirm and implement the correction?

[2021-01-25 18:53] ElizabethSamuel-MSFT commented on #2446
@andre-visma I confirmed that the unit (seconds) is correct. This represents all the time available to the add-in to do all its processing. If your add-in only needs milliseconds to do what it needs to, then the add-in stops at that point.

Hope that helps. Let us know if you need more info or clarification about this.

Note that in the article, we're adjusting the actual length of time from 330 s

[2021-01-25 18:53] #2446 closed

[2021-01-26 07:30] GeorgeBalat commented on #195
Have a look here:
https://github.com/OfficeDev/office-js/issues/506

It says "don't use App store Microsoft"

[2021-01-26 17:25] ElizabethSamuel-MSFT commented on #2393
@giterdn Thanks again for your interest in Outlook add-ins! If you have any further questions, concerns, or feedback, let us know.

I'll go ahead and close this issue now.

Thanks.

[2021-01-26 17:25] #2393 closed

[2021-01-26 19:36] ElizabethSamuel-MSFT commented on #2389
@frasparacio We're updating the requirement set support page to include IdentityAPI 1.3 where available (see linked PR).

Let us know if you have any other concerns/feedback.

Thx.

[2021-01-26 23:23] #2389 closed

[2021-01-27 12:42] bgausden opened #2453 "Docs Applicable only to Edge Legacy?"
1. I appear to have a launch config out of the box after installing the office addin debugging extension in VS Code. Adding another appears unnecessary
2. It might add value to make it clear that the proposed launch config is for Edge Legacy and to provide a launch config for Edge Chromium (where a user has installed webview2.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-01-27 15:36] binhnguyen1984 opened #2454 "cannot open popups in Excel Addin"
Hello,
I am working on an Excel Addin project using asp.net core 3.1. I want to open a popup to enable users to log in to the system. I use window.open("url") but this always returns null regardless of the fact that I already disable popups blocker in IE.
I am using Excel 365, Window 10 enterprise version 1809, Internet explorer version 11.1577.17763.0
Can anyone provide me some hints on this issu

[2021-01-27 15:39] binhnguyen1984 opened #2455 "Cannot open popups in Excel Web Addin project"
Hello,
I am working on an Excel Addin project using asp.net core 3.1. I want to open a popup to enable users to log in to the system. I use window.open("url") but this always returns null regardless of the fact that I already disable popups blocker in IE.
I am using Excel 365, Window 10 enterprise version 1809, Internet explorer version 11.1577.17763.0
Can anyone provide me some hints on this issu

[2021-01-27 18:17] AlexJerabek commented on #2421
I'm glad things are resolved and working. We're going to look into making the information you needed more discoverable. In the meantime, I'm going to close this issue. If you have any other questions, please feel free to open a new issue.
Thanks!

[2021-01-27 18:17] #2421 closed

[2021-01-27 19:12] smaremanda commented on #2391
@cyril-iselin - you should be able to download the new Edge browser to Windows Server 2016. See here for Microsoft Edge supported OSs: https://docs.microsoft.com/en-us/deployedge/microsoft-edge-supported-operating-systems
If you are referring to the Webview2 runtime, please see here https://docs.microsoft.com/en-us/microsoft-edge/webview2/ for supported OSs [Windows Server 2016 is included].
Could

[2021-01-27 19:14] cyril-iselin commented on #2391
We installed webview2 and edge but Outlook  is still loading IE11... 😭

[2021-01-27 19:58] elthombre opened #2457 "Updates?"
The samples referenced in this article point to .sln projects. It would be nice if these samples were updated to the newer OfficeJS / Office web add-in project type(s).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a714626a-058a-789e-6add-5e9dfb21fd1f
* Version Independent ID: 1b88a28c-fc36-4518-2808-7246f08d9753
* Co

[2021-01-27 22:00] #2455 closed

[2021-01-27 22:01] Rick-Kirkham commented on #2455
We use the issues of this repo to track errors in the documentation. For technical programming questions, like this, please ask on Stack Overflow and be sure you tag your question with `office-js`. In this case, we recommend that you use our [Dialog API](https://docs.microsoft.com/office/dev/add-ins/develop/dialog-api-in-office-add-ins) for log in.

[2021-01-27 22:12] binhnguyen1984 commented on #2455
Thank you for the instruction. I will post the question in Stack Overflow.

[2021-01-28 00:32] AlexJerabek commented on #2454
Hi @binhnguyen1984,

I believe this is a duplicate of #2455, which @Rick-Kirkham already responded to. I'm going to close this issue, but please let me know if I'm mistaken.

Thanks!

[2021-01-28 00:32] #2454 closed

[2021-01-28 00:38] AlexJerabek commented on #2453
Thanks for raising this issue @bgausden.

@mscharlock, could you please investigate?

[2021-01-28 00:41] AlexJerabek commented on #2457
Thanks for raising this issue @elthombre. I assume you're referring to the links to [this sample](https://github.com/OfficeDev/Office-Add-in-Dialog-API-Simple-Example), right?

@Rick-Kirkham, can you please take a look at improving this and advise if there are other relevant samples. Thanks!

[2021-01-28 01:22] elthombre commented on #2457
Yes:

https://github.com/OfficeDev/Excel-Add-in-JavaScript-SalesTracker

https://github.com/OfficeDev/Office-Add-in-Dialog-API-Simple-Example

both are .sln projects vs. something created with with Yeoman Generator, for example.

[2021-01-28 16:39] piemart commented on #584
Hi @JensMadsen,
Thanks for the info.
I would like to setup UI testing with Selenium on an Outlook Desktop add-in with edge chromium, but I'm struggling.
The add-in starts the localhost:3000/taskpane.html and after some user inputs, the taskpane window opens an external appdomain (listed in the manifext.xml file). Here I would like Selenium to take over, so I can select the desired elements by thei

[2021-01-28 17:26] elthombre opened #2460 "Working Sample?"
In the following article:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

there is an image of a dialog that uses an external sign-in process. A secondary article:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/auth-with-office-dialog-api

discusses the technology.

Why is there no fully working sample? I would assume a couple of things:

-

[2021-01-28 18:36] elthombre opened #2461 "Sample Does Not Use displayDialogAsync"
This article:

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

references this sample in the context of displayDialogAsync but when I open the sample, I am not able to find use of that method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a714626a-058a-789e-6add-5e9dfb21fd1f
*

[2021-01-28 20:07] JensMadsen commented on #584
Hi @piemart

No quite sure what you wnat to achieve, but it sounds similar to what I do. In metasteps:
1. start in incognito mode (I use Chrome). Incognito more stable
2. login to office.com (make sure you have a test user). you have to pass username and password
3. I open an existing test document (I test Word)-> office  opens in a new tab
4. go to new tab
5. Do your tests (I test a taskpane addi

[2021-01-28 22:15] Rick-Kirkham commented on #2457
I will add a list of samples to the article. But please note that the logic of the `displayDialogAsync` method is the same regardless of whether the add-in is created with Yo Office or Visual Studio or some other way. Similarly, whether the server side is NodeJS or IIS or Apache, or whatever, doesn't matter. The code that calls `displayDialogAsync` is entirely client side. Whether the client side

[2021-01-28 22:27] Rick-Kirkham commented on #2461
If you mean the Excel-Add-in-JavaScript-SalesTracker sample, that is intended to be a sample of a tabbed task pane, not a sample that uses the dialog. I'll clarify this in the text.

[2021-01-28 22:31] elthombre commented on #2461
Hi, ideally, an add-in that runs within OWA (Outlook web app), that pushes a dialog whereby an external website is used for auth and, if successful, redirects to the add-in taskpane.

[2021-01-28 22:44] Rick-Kirkham commented on #2461
I think you should add that comment to your other Issue: the one where you requested a new sample.

[2021-01-28 22:45] #2457 closed

[2021-01-28 22:45] #2461 closed

[2021-01-28 22:55] elthombre commented on #2460
Hi, ideally, an add-in that runs within OWA (Outlook web app), that pushes a dialog whereby an external website is used for auth and, if successful, redirects to the add-in taskpane.

[2021-01-30 02:16] paodecode opened #2464 "I did update to Outlook for Microsoft 365 MSO Version 2101 (16.0.13628.20274) 64bit (current channel). WebView2 is not used to open Add-in."
I did update to Microsoft 365 MSO Version 2101 (16.0.13628.20274) 64bit (current channel). WebView2 is not used by the host (Outlook) to open Add-in. WebView (legacy Edge) is used.
According to documentation (https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) WebView2  should be used.
When will WebView2 be enabled?

---
#### Document Details

⚠ *Do no

[2021-02-01 04:51] exextoc commented on #2464
Bug 1931069<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1931069>: [OfficeDev/office-js-docs-pr] I did update to Outlook for Microsoft 365 MSO Version 2101 (16.0.13628.20274) 64bit (current channel). WebView2 is not used to open Add-in. (#2464)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>
From: Rick Kirkham <not

[2021-02-01 18:12] mscharlock commented on #2453
Yes, thanks for the suggestion @bgausden. I am working on a doc about how to specifically add configs for webView2, so will let folks know that this one is just for legacy.

[2021-02-01 20:31] xstos opened #2467 "The documentation appears stale."
I just ran the latest yeoman generator for SSO. Your tutorial has drifted from the scripts available

[code]
  Not only that but i get errors right out of the box after npm install.
[code]
_You may want to put some FAQ stuff in the guide to deal with these issues._
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52c1541

[2021-02-02 00:56] parilla opened #2468 "Start of 5 second initiation timer"
For the statement _'Office applications require that add-ins initialize within 5 seconds of activation'_ I would like to know precisely when this time starts?

Reason being is our Add-in is hosted on a SiteMinder protected web server, and performs an authentication process which takes approx 3.5 seconds to execute. This process performs a series of HTTP 302 redirects to facilitate authentication.

[2021-02-02 17:20] ElizabethSamuel-MSFT commented on #2467
@xstos Thanks for raising this issue. We'll take a look. However, I noticed that you created this issue from the Project quick start. Are you trying to use SSO with Project? If so, that is not supported as SSO is currently supported only in Excel, Outlook, PowerPoint, and Word. See the [SSO quick start](https://docs.microsoft.com/office/dev/add-ins/quickstarts/sso-quickstart) for more.

@mscharloc

[2021-02-02 17:25] xstos commented on #2467
@ElizabethSamuel-MSFT I was actually trying the SSO demo for word. I may have been on the wrong page though, my bad if that was the case...

I actually opened an issue for the errors. https://github.com/OfficeDev/generator-office/issues/599

It would still be helpful if there were more docs concerning the types of errors that might occur when doing the yeoman stuff.

[2021-02-02 17:30] ElizabethSamuel-MSFT commented on #2467
@xstos Thanks for this info and for opening the other issue. We'll take a look at these issues.

 We appreciate your sharing your thoughts and feedback.

@mscharlock Is this request something that we can put on the backlog if it's not already there?
"It would still be helpful if there were more docs concerning the types of errors that might occur when doing the yeoman stuff."

Thanks.

[2021-02-02 17:31] ElizabethSamuel-MSFT commented on #2467
+ @davidchesnut re: SSO aspect

[2021-02-02 17:37] xstos commented on #2467
Forgot to mention. The reason I'm using yeoman is we sell an Office 365 addin that was built over a year and a half ago and has drifted/gone stale concerning SSO and office-js, so I was trying to reconcile our package environment with the yeoman package. I'm trying to test an empty addin out against our company azure AAD infrastructure and also verify OWIN stuff in ASP.net. Most of that is motivat

[2021-02-03 11:01] inderjitkr opened #2471 "ExtendedPermissions tag not appending"
Hi, I am trying to add the <ExtendedPermissions></ExtendedPermissions> tag in my manifest but it is not working. can you pls help me out in this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b4fe445-986c-45b4-8c1e-18c67b6806d9
* Version Independent ID: 59ba3ad4-6dd7-20a0-00c6-a5facb7dc08b
* Content: [ExtendedPermiss

[2021-02-03 17:05] jslatane commented on #1802
I know this issue is closed so if I need to submit another issue for this I'd be happy to. But I just wanted to comment to echo @vikasm1720 's point. The documentation on this page does not mention anything about the Office Add-in Debugger that is referenced in the link https://github.com/OfficeDev/vscode-debugger-extension-for-office-addins so if you don't know to come look at the issues page for

[2021-02-03 20:39] chucklay opened #2472 "Warning that "parameterAddresses property of CustomFunction Invocation object requires manually created metadata" appears to no longer apply"
In the "Detect the address of a parameter" section of this page, there's a blue warning box that states that "The parameterAddresses property currently only works with manually-created JSON metadata." However, it appears that the default build script successfully handles this metadata, and creates a valid JSON metadata file, provided the JSDOC decorators for the function are correct.

It's probabl

[2021-02-03 20:40] mscharlock commented on #1802
No need to submit another issue - I can have a look at this page, it's possible that UI-less just needs links at this point to some of the other articles that have been added over time. Thanks for pointing this out, I will go ahead and re-open so that it is on my radar.

[2021-02-03 21:44] AlexJerabek commented on #2472
Thanks for bringing this potentially obsolete note to our attention. @alison-mk, can you please verify this?

[2021-02-03 22:01] AlexJerabek commented on #2471
Hi @inderjitkr,

Can you please provide some more information for us? Are you getting a schema validation error when adding the tag? Is `AppendOnSend` not working properly in the associated add-in?

[2021-02-04 02:11] exextoc commented on #2464
Instructions for getting onto WebView2 can be found [here](https://developer.microsoft.com/en-us/office/blogs/announcing-webview2-for-office-add-ins-platform/).

One step you might be missing is installing the Edge WebView2 runtime (step 3).

[2021-02-05 02:32] beyphy opened #2477 ""A range is a group of contiguous cells in the workbook.""
[Enter feedback here]

I was reading [this article](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-core-concepts) when I ran into the quote "A range is a group of contiguous cells in the workbook." I thought that this was an odd statement considering that ranges don't need to be contiguous. As an example, the following VBA code for a non-contiguous range is valid:

`Range(

[2021-02-05 02:48] alison-mk commented on #2472
Hi @chucklay, thank you! You're right, the issue that inspired this manually-created JSON note was very recently resolved. I've updated the article to incorporate your feedback.
-Alison

[2021-02-05 18:05] ElizabethSamuel-MSFT commented on #2477
@beyphy Thank you for asking about this.

@alison-mk Can you take a look?

Thanks.

[2021-02-05 20:05] Rick-Kirkham commented on #2477
This might be relevant: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-multiple-ranges

[2021-02-05 23:02] alison-mk commented on #2477
Hi @beyphy, thanks for submitting.

You're correct, VBA accepts a set of non-contiguous cells as a "range" while the Excel JavaScript API does not. This difference is by design in the Excel JavaScript API. Instead, with the Excel JavaScript API you can use the [RangeAreas object](https://docs.microsoft.com/javascript/api/excel/excel.rangeareas?view=excel-js-preview) (explained in the [Work with mu

[2021-02-05 23:02] #2477 closed

[2021-02-06 00:49] beyphy commented on #2477
Okay great. Thanks for your assistance. I wasn't aware of the distinction in the Javascript API for contiguous and non-contiguous ranges. In the Basic API call (TypeScript) example that I used in ScriptLab, it looks like the error can be avoided by updating the `getSelectedRange()` method to the `getSelectedRanges()` method.

[2021-02-08 21:25] itishnitsa opened #2484 "Update navigation steps to add-ins deployment"
Settings > Services & add-ins has been removed awhile back. There is a shortuct to 'Integrated Apps', but add-in deployment has to be accessed by the special URL. Please update documentation. Deploying add-ins through 'Integrated Apps' is not ideal because some options, like make add-in available, are missing from that interface.
---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-02-08 23:54] AlexJerabek commented on #2484
Thanks for reporting this @itishnitsa.

@ElizabethSamuel-MSFT, can you please investigate?

[2021-02-09 17:20] ElizabethSamuel-MSFT commented on #2484
@exextoc Bhavin et al, can you provide guidance here?

Thanks.

[2021-02-09 18:07] sgperlman opened #2486 "First Outlook Add-In fail"
[Enter feedback here]
I'm not able to get past the step where we "start" the solution for local testing. I have entered my outlook credentials (it's an Office 365 account) and have also enabled MFA (as per the initial error message).

I'm stuck at this error:

I tried to register the application [here](https://aad.portal.azure.com/) but I still can't get past this error.

---
#### Document Details

[2021-02-09 18:12] ElizabethSamuel-MSFT commented on #2486
@sgperlman Thanks for letting us know about this. Did you try this in Visual Studio or Yeoman Generator (yo office)?

Thanks.

[2021-02-09 18:13] sgperlman commented on #2486
@ElizabethSamuel-MSFT I was using Visual Studio.

[2021-02-11 01:00] #2471 closed

[2021-02-11 07:00] #2464 closed

[2021-02-11 23:47] NickDarvey commented on #1717
We're also seeing this for a user we're trying to test our Add-in with, but not with others. Same manifest. Manifest passes a `office-addin-manifest validate`.
Our `SourceLocation` is a publicly addressable site, https. We can sideload it into the web version on their computer so the site is definitely accessible for them.

Are there any means of debugging so we can investigate why it might not sh

[2021-02-12 18:28] ElizabethSamuel-MSFT commented on #2486
@sgperlman Can you try creating a [Microsoft account](https://account.microsoft.com/account) and using it to test your add-in?

Also, the error you're hitting is external to Office Add-ins. Can you search online for "AADSTS50011" and see if there are existing solutions for your particular situation? If there aren't, consider asking a question about this AAD error on [Microsoft Q&A](https://docs.mi

[2021-02-13 01:06] alison-mk commented on #2225
Closing this issue as it is tracked internally. [Internal work item link](https://office.visualstudio.com/OC/_workitems/edit/4106715/).

[2021-02-13 01:06] #2225 closed

[2021-02-13 18:19] Roleofm opened #2503 "npm run configure-sso fails with error: Unable to determine if user is tenant admin"
I'm following the tutorial on https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart#configure-sso
I have generated a Office add in for word with the SSO template in typescript. I'm using node version 14.15.5 and windows 10

At the step when I run npm run configure-sso the script fails.
I was logged in as a tenant admin

this is the log with the error:
[code]

[2021-02-14 15:42] stewa11 opened #2504 "Doesnt provide a linkt to a tutorial showing how to publish the various add-ins to MS Store"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2677af5b-e9b8-f962-25ce-8aa285977c90
* Version Independent ID: c31c7ed9-0a0a-7a65-0d1b-70d6a8b33994
* Content: [Deploy and publish Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish)
* Content Source:

[2021-02-15 12:17] foofaraw opened #2505 "Outlook automatic sideloading doesn't work"
When running `npm start` on a freshly scaffolded Outlook project:

[code]

According to StackOverflow posts linked below, Outlook sideloading is not supported. Is this page simply wrong?

https://stackoverflow.com/questions/57743701/unable-to-sideload-the-office-add-in-when-running-npm-start
https://stackoverflow.com/questions/58501403/debugging-outlook-add-in-desktop

---
#### Document Details

⚠

[2021-02-16 17:06] AlexJerabek commented on #2504
Thanks for raising this issue @stewa11.

@mscharlock, could you please investigate the discoverability of the Store publishing docs?

[2021-02-16 17:07] AlexJerabek commented on #2505
Thanks for reporting this @foofaraw.

@ElizabethSamuel-MSFT, can you please investigate?

[2021-02-16 17:08] ElizabethSamuel-MSFT commented on #2505
@mscharlock Can you take a look? Thx.

[2021-02-16 17:23] ElizabethSamuel-MSFT commented on #2505
@foofaraw While we dig into this, can you try the following?

1. Run `npm i office-addin-debugging` then try `run start`
2. If that doesn't help, then do `npm run dev-server` and [manually sideload the add-in](https://docs.microsoft.com/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing#sideload-manually)

Let us know if any of this helped.

Thx.

[2021-02-16 17:26] stewa11 commented on #2504
Hi Alex,
I am particularly interested in how to publish MS-Project Add-In.
A tutorial could cover a very basic Visual Studio project template, publish. Visible in MS store.

Please note that I have successfully published UWP Windows 10 App to MS Store.

When in MS Project, you can see other published add-in in MS-Store. That is the end result I am looking for.

Happy to support this action.

Stew

[2021-02-16 18:02] AlexJerabek commented on #2504
@stewa11 Is this the information you're looking for? [Make your solutions available in Microsoft AppSource and within Office](https://docs.microsoft.com/en-us/office/dev/store/submit-to-appsource-via-partner-center). I don't think there's anything different between Project and the other Office applications in terms of store submissions, but @mscharlock can help verify.

[2021-02-16 20:00] nkkinariwala commented on #2503
@Roleofm - Thank you for posting a question. Can you please provide these additional details?

Your Environment
Platform: ______
Host: Word
Office version number:______
Operating System: ______
Browser (if using Office on the web): ______

[2021-02-16 21:46] stewa11 commented on #2504
In UWP, it’s right click publish to get your App into Windows Store. But there is no MS Store option in Project Add-in project to publish to MS Store.
Hence my suggestion for a clear tutorial please.

From: Alex Jerabek <notifications@github.com>
Sent: 16 February 2021 18:03
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: stewa11 <stewa11@hotmail.com>; Mention <mention@n

[2021-02-17 07:22] foofaraw commented on #2505
@ElizabethSamuel-MSFT Installing `office-addin-debugging` package doesn't help. Sideloading manually works fine.

[2021-02-17 17:54] AlexJerabek commented on #2504
You can find a step-by-step guide to publishing an Office Add-in here: https://docs.microsoft.com/en-us/office/dev/store/add-in-submission-guide

The earlier link I provided gives instructions for getting a developer account and handling settings in Partner Center. Here's the starting instructions:

Is that the information you're looking for?

[2021-02-17 20:23] Roleofm commented on #2503
Hi Nisarg,

Sorry, you can close this issue. I just created a new project and the command "npm run configure-sso" went successful! Was there an update in the script?

Anyway the this is my environment
Platform: Windows 10 pro
Host: Word
Office version number:18.2008.12711.0______
Operating System: Microsoft Windows version 10.0.18363.1379___
Browser (if using Office on the web): ______

Many thank

[2021-02-17 20:59] #2503 closed

[2021-02-19 08:59] clavx opened #2514 "Usage scenario questions for the removeAttachmentAsync function"
About the following sentence

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-and-remove-attachments-to-an-item-in-a-compose-form#remove-an-attachment

Is this linked to the description below?

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-and-remove-attachments-to-an-item-in-a-compose-form#attach-a-file-or-outlook-item

It's in the section about how to remove and

[2021-02-19 10:57] theboyknowsclass opened #2515 "Word on the Web does not seem to support Svg as indicated"
[Enter feedback here]

i receive an error -> Action failed with error: The enumeration isn't supported in the current host application.

https://gist.github.com/7fccdcd27f776d8a5468877b5b544d5d

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e311eed-7b47-ea60-6698-87193a50beef
* Version Independent ID: 1e0f5de4-d4e3-cc

[2021-02-19 17:09] AlexJerabek commented on #2515
Hi @theboyknowsclass,

I tried out your gist in ScriptLab and successfully inserted the SVG. Could you please share which build of Word you are using? You can find that information under **File** > **Account**.

![image](https://user-images.githubusercontent.com/38896772/108536975-e9025280-7291-11eb-9799-976e9bf728ba.png)

[2021-02-19 17:13] AlexJerabek commented on #2514
Hi @clavx,

Thank you for raising this issue with the documentation. @ElizabethSamuel-MSFT and @exextoc, could you please help confirm if this information is correct and help update the documentation?

[2021-02-19 17:14] theboyknowsclass commented on #2515
Hi Alex, thanks for the quick response this is for Word on the Web as below ->

[cid:image001.png@01D706E2.68B9EDB0]

Returns -> Action failed with error: The enumeration isn't supported in the current host application.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Alex Jerabek<mailto:notifications@github.com>
Sent: 19 February 2021 17:10
To: OfficeDev/offic

[2021-02-19 17:15] theboyknowsclass commented on #2515
![image](https://user-images.githubusercontent.com/2139941/108537910-11ac3b80-72d6-11eb-8bd8-a270f076e1a9.png)

[2021-02-19 17:27] AlexJerabek commented on #2515
Thanks for the information @theboyknowsclass. It looks like `ImageCoercion 1.2` is not supported by Word on the web. If you change the `getApiSupport` method to the following, you'll get conformation:

[code]

[2021-02-19 17:30] theboyknowsclass commented on #2515
many thanks!  we'd love to know the timeline (and if this support is also coming to Excel Web)

is there a forum for these types of questions?

[2021-02-19 17:39] AlexJerabek commented on #2515
[UserVoice](https://officespdev.uservoice.com/) is the best place to post feature requests. There, the community can upvote needed features and we prioritize based on those needs. We also have a [monthly community call for Office Add-ins](https://aka.ms/officeaddinscommunitycall) on the second Wednesday of every month. That's a great forum for chatting with the product team. Finally, I believe @Ab

[2021-02-19 18:47] theboyknowsclass commented on #2515
thanks @AbidRahman-MSFT would love to liaise with you to talk about my company's requirements going forward!

[2021-02-19 18:58] theboyknowsclass commented on #2515
@AlexJerabek it would also be amazing to have the contacts for Excel and Powerpoint, as we are targetting integrations with all these products going forward (moving from our existing C# Addins)

[2021-02-19 19:02] AlexJerabek commented on #2515
@theboyknowsclass, @keyur32 would be the person to talk to about your overall add-ins story. That community call will also be a great resource to connect with the product team.

[2021-02-19 19:03] theboyknowsclass commented on #2515
thanks, this has been very helpful!

[2021-02-19 21:23] ElizabethSamuel-MSFT commented on #2505
@foofaraw Thanks for letting us know. We'll investigate and make any necessary updates.

[2021-02-19 22:00] #2486 closed

[2021-02-19 22:06] AbidRahman-MSFT commented on #2515
Hey @theboyknowsclass , I would love to learn more about your experience creating a Word add-in and blockers/challenges you've been facing, can you please fill out the following survery: https://aka.ms/WordExtensibilitySurvey and we can follow up through email. Thanks.

[2021-02-20 00:33] alison-mk commented on #2472
Hi @chucklay, I'm following up on the "Detect the address of a parameter" documentation issue you submitted a few weeks ago. I have received varying reports of the JSON building properly with the @requiresParameterAddresses JSDoc tag. To help with my research, could you provide the versions of both node and npm that you're using to successfully build this JSON? Many thanks! -Alison

[2021-02-22 14:27] chucklay commented on #2472
Hi @alison-mk - Sure thing
Node: `v12.16.2`
NPM: `6.14.4`

I'm using this in a pair of functions that mimic H/VLOOKUP, with an optional default parameter that's returned in the event of the lookup failing. The metadata for these functions winds up looking like this:

[code]

And this is the result of the standard build process - no modifications.

[2021-02-22 16:49] ravi-bharadwaj opened #2517 "Do we have reference example for meetings api"
Do we have any reference document available for developing addin for meetings in O365 account, we are looking for developing support for
- intrinsically when a user opens a meeting
- explicitly when user clicks on the addin to perform special operations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930ce4fc-c8b8-f756-

[2021-02-23 19:37] ElizabethSamuel-MSFT commented on #2517
@ravi-bharadwaj Thanks for asking about this.

We have a preview feature that activates an add-in on composing a appointment/meeting. For details, see [Configure your Outlook add-in for event-based activation](https://docs.microsoft.com/office/dev/add-ins/outlook/autolaunch).

Add-in commands (ribbon buttons) are available for your customers to click to run add-in operations. For details, see [Add

[2021-02-23 21:30] ravi-bharadwaj commented on #2517
I created a test account under Microsoft 365 developer program with my subscription.

Do you know on how I can view org settings for the account I created so that I can run event based activation of add-in.

https://docs.microsoft.com/en-us/microsoft-365/admin/manage/release-options-in-office-365?view=o365-worldwide&preserve-view=true#set-up-the-release-option-in-the-admin-center
[https://docs.mic

[2021-02-23 21:40] ElizabethSamuel-MSFT commented on #2517
@ravi-bharadwaj If you haven't already come across it, can you take a look at the [developer program documentation](https://docs.microsoft.com/office/developer-program/microsoft-365-developer-program-get-started)?

[2021-02-24 05:01] ravi-bharadwaj commented on #2517
Hi Elizabeth

Thanks for the help. Your guidance was very helpful in getting the POC completed for us.

Regards!
Ravi

________________________________
From: Elizabeth Samuel <notifications@github.com>
Sent: Tuesday, February 23, 2021 4:40 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: ravi-bharadwaj <ravi_bharadwaj@hotmail.com>; Mention <mention@noreply.github.com>

[2021-02-24 17:00] ElizabethSamuel-MSFT commented on #2517
Thanks for letting us know! Glad to help :)

[2021-02-24 17:16] ravi-bharadwaj commented on #2517
Do we have any plans to support more events, for example OnLoad or OnEdit? We have a use-case where we populate extra fields for few appointments on the view/edit mode of the meeting for few privileged users.

________________________________
From: Elizabeth Samuel <notifications@github.com>
Sent: Wednesday, February 24, 2021 12:01 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.gith

[2021-02-24 17:23] ElizabethSamuel-MSFT commented on #2517
We do plan to support more events but unfortunately I can't say what or when yet :(

If there are specific events you're looking for, feel free to share and I'll make sure the team is aware.

Thanks.

[2021-02-24 17:37] ravi-bharadwaj commented on #2517
We are looking to have the following:

LoadEvent(In View and edit mode for organizer and attendees) - To populate another pane/widget alongside the main event where we can show the custom fields.
SaveEvent(when organizer/attendee updates the event) - To send any updates made by user in the view/edit screen in the custom pane/widget

________________________________
From: Elizabeth Samuel <notifica

[2021-02-24 17:41] ElizabethSamuel-MSFT commented on #2517
Thanks for sharing! I've passed along this info to the crew.

We appreciate your working with Outlook add-ins. If you have any feedback or further questions, let us know.

Thanks.

[2021-02-24 18:10] ElizabethSamuel-MSFT commented on #2514
@clavx Thanks for asking about this. We're working on updating the article so expect a PR on this soon.

Thanks.

[2021-02-25 00:38] neville-jones opened #2521 "WebView2 not being used in Outlook add-in despite requirements of table being satisfied"
This document does not seem to contain accurate information, based on our testing.

Our test environment is:
- Windows 10 Enterprise version 10.0.18363 (from System Information)
- Microsoft 365 Apps for enterprise Version 2101 (Build 13628.20448 Click-to-Run); Current Channel
- Edge WebView2 is installed from https://aka.ms/webview2installer (using Evergreen Bootstrapper); control panel listing "M

[2021-02-25 03:05] neville-jones commented on #2464
seems similar to my issue #2521

[2021-02-25 19:20] exextoc commented on #2464
@neville-jones thanks for linking. Yes, this is the same issue as https://github.com/OfficeDev/office-js/issues/1670

[2021-02-25 23:43] ElizabethSamuel-MSFT commented on #2514
@clavx We've updated the article to provide clarification on the points you've raised. We expect to publish soon but in the meantime do take a look at the pull request and let us know if there are still areas of confusion.

Thanks.

[2021-02-25 23:43] #2514 closed

[2021-02-28 08:56] JerryXBear opened #2526 "I tried to test code sample from the page."
[Enter feedback here]
I tried to test code sample from the page, but it doesn't work that  "BASICCUSTOMFUNCTION.GETRANGEVALUE threw an error: ReferenceError: 'Excel' is not defined"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe047a0-5f60-f407-2ad0-7f4cc8e52082
* Version Independent ID: f2ebc9bd-25f6-cfc2-dbbe-d009

[2021-03-01 05:37] mwchan opened #2527 "Debugging not working and getting stuck when trying to attach to Excel Desktop"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-with-vs-extension

## Issue
Hi,

I cannot get debugging to work when following the example from https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-with-vs-extension.

- I have VS Code running as admin.
- I have the Office Debugger extension installed.
![image](https://user-images.githubusercontent.com/1

[2021-03-01 17:09] AlexJerabek commented on #2526
Thanks for reporting this @JerryXBear.

@alison-mk, can you please take a look?

[2021-03-01 17:11] AlexJerabek commented on #2527
Thanks for reporting this @mwchan.

@mscharlock, can you please investigate?

[2021-03-01 20:27] ravi-bharadwaj commented on #2517
Hi Elizabeth

I came to know about other events as well in

https://docs.microsoft.com/en-us/javascript/api/office/office.eventtype?view=excel-js-preview

Can you confirm if these events are supported in O365 as well?
[https://docs.microsoft.com/en-us/media/logos/logo-ms-social.png]<https://docs.microsoft.com/en-us/javascript/api/office/office.eventtype?view=excel-js-preview>
Office.EventType enum

[2021-03-02 18:24] ElizabethSamuel-MSFT commented on #2517
@ravi-bharadwaj Yes, these events are supported in Microsoft 365. See also [server/client support for requirement sets](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#requirement-sets-supported-by-exchange-servers-and-outlook-clients).

Note that the event types in this enum that are tagged for the Mailbox api/requirement set are only applicab

[2021-03-02 21:11] ravi-bharadwaj commented on #2517
How can I have the task pane for events.

For example, can we have a task pane shown for:

When user is in new event screen
When user is in view event screen
When user is in edit event screen
________________________________
From: Elizabeth Samuel <notifications@github.com>
Sent: Tuesday, March 2, 2021 1:25 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: ravi-bharadwa

[2021-03-02 22:00] ElizabethSamuel-MSFT commented on #2517
When the user is in an event (appointment/meeting) screen, you can use [Add-in commands to have the user launch a task pane](https://docs.microsoft.com/office/dev/add-ins/outlook/add-in-commands-for-outlook#launching-a-task-pane) in those scenarios.

[2021-03-02 22:14] pap0135 opened #2528 "<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type= ["ContentApp" |"MailApp"| "TaskPaneApp"]> ... </OfficeApp>"
[Geri bildiriminizi buraya girin]

---
#### Belge Ayrıntıları

⚠ *Bu bölümü düzenlemeyin. docs.microsoft.com ➟ GitHub sorunu bağlantısı için gereklidir.*

* ID: ec89556a-6d87-c17e-4f68-33e1b2abe7f6
* Version Independent ID: 846a32b7-5194-f71e-3efc-0dc2594d2700
* Content: [OfficeApp element in the manifest file - Office Add-ins](https://docs.microsoft.com/tr-tr/office/dev/add-ins/reference/manifest

[2021-03-02 22:16] #2528 closed

[2021-03-02 22:55] ravi-bharadwaj commented on #2517
Sorry to bother you again, the addins I have for poc are working on mailbox items and not showing up for appointment item apart from OnNewAppointmentOrganizer

is there any section that I need to populate in manifest.xml to populate "Show Taskpane/Perform an action"?
________________________________
From: Elizabeth Samuel <notifications@github.com>
Sent: Tuesday, March 2, 2021 5:00 PM
To: OfficeDe

[2021-03-02 23:05] ElizabethSamuel-MSFT commented on #2517
@ravi-bharadwaj Sure, np! Here are all the available [extension points for Outlook](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/extensionpoint#extension-points-for-outlook). In the manifest from the quick start and event-based activation walkthrough, you may notice this statement: `<ExtensionPoint xsi:type="MessageReadCommandSurface">`. For your scenarios, you'll need to confi

[2021-03-03 03:01] ravi-bharadwaj commented on #2517
Thank you!

Do we have any document showing on how to debug add-in for outlook.

I have outlook 2016 locally installed on my machine and also have my add-in loaded in https://outlook.office.com/mail/inbox

I see the following debug configurations in vscode, outlook is missing from there...

[cid:98aee5dc-eacc-4498-8b26-0a712e1b5dd8]

Regards!
Ravi

________________________________
From: Elizabeth

[2021-03-03 04:24] ravi-bharadwaj commented on #2517
Tried to follow
https://www.youtube.com/watch?v=qD6eTKjg4fE&ab_channel=Microsoft365Developer

I don't see sideload as available

Also tried put following configuration in launch.json

{
      "type": "office-addin",
      "request": "attach",
      "name": "Attach to Office Add-ins",
      "port": 9222,
      "trace": "verbose",
      "url": "https://localhost:3000/taskpaneAppointmentOrganizer.htm

[2021-03-03 05:39] elthombre opened #2529 "Add-In Sample Failing"
I have an outlook.office.com account and I created a developer ID per the instructions. It fails to properly launch giving me a 401 "unauthorized" error.

It's so frustrating when your samples don't work. As a developer... it just makes you wanna pull your hair out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930ce4

[2021-03-03 17:21] AlexJerabek commented on #2529
Hi @elthombre,

I'm sorry to hear about your frustration. Can you please tell us where in the quick start you're encountering the error? Also, are you using the [yeoman generator](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) or [Visual Studio](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=visualst

[2021-03-03 17:36] elthombre commented on #2529
Presently, I'm using the Visual Studio version. It launches the new window in Chrome where I receive this error:

"Something went wrong and we couldn't start this add-in..."

When I bring up the 'Developer Tools' -> Console, there's a bunch of 404 errors.

I will ad that I had to change the "~remoteAppUrl" in the source to point to the localhost in order to get it to run.

Also, if I do not close

[2021-03-03 18:35] ravi-bharadwaj commented on #2517
No worries, I am able to figure it out.

________________________________
From: ravi bharadwaj <ravi_bharadwaj@hotmail.com>
Sent: Tuesday, March 2, 2021 11:24 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>; OfficeDev/office-js-docs-pr <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js-docs-pr] Do we have reference example

[2021-03-03 19:12] ravi-bharadwaj commented on #2517
I am able to do the following now:

  1.  Run actions
  2.  Open task pane
  3.  handle event
  4.  debug js/html scripts

Is there any way we load a task pane when appointment is in view mode?

When using outlook 2016, I can't get appointment to open in view mode and in edit mode I can't access the subject and other attributes of the appointment. Is there any way we can load appointment in view m

[2021-03-03 21:31] AlexJerabek commented on #2529
Thank you for sharing those details. Are you encountering the same issues when following the yeoman generator path?

@ElizabethSamuel-MSFT. are you able to repo the issue in Visual Studio?

[2021-03-03 22:10] ElizabethSamuel-MSFT commented on #2517
Glad that you're making progress.

Did you add "AppointmentAttendeeCommandSurface" in your manifest?

Here's what's available for item in requirement set 1.9: [Office.context.mailbox.item](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/requirement-set-1.9/office.context.mailbox.item)

[2021-03-03 22:52] ravi-bharadwaj commented on #2517
I was able to add "AppointmentAttendeeCommandSurface" and debug it in chrome as well.

trying to see if we can open the task pane along with appointment.

I came across https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document

but its not available for outlook.

For our POC it will be an important progress if we can open task pane when appointment

[2021-03-03 23:00] ElizabethSamuel-MSFT commented on #2517
Okay, I see. I didn't understand that you were trying to open it automatically in read mode. No, we only have on compose available at this time, and it's still in preview. Supported events for this scenario are listed at the beginning of the [Event-based activation](https://docs.microsoft.com/office/dev/add-ins/outlook/autolaunch) article.

[2021-03-04 01:02] ravi-bharadwaj commented on #2517
We have integrations currently build with appointment and many of our subsystems using EWS API that would need the taskpanel to be visible.

This POC is to determine whether to continue in our integrated system or use Addins.

We cannot expose some confidential information to external attendee of the appointment but should be visible to anybody who is part of our firm.

Sent from Samsung Galaxy sm

[2021-03-04 02:00] ElizabethSamuel-MSFT commented on #2529
@elthombre You should be able to keep ~remoteAppUrl in the manifest. We'll investigate the issues you're facing.

It's great that you joined the developer program! If you haven't already read them, can you also see if the [developer program docs](https://docs.microsoft.com/office/developer-program/microsoft-365-developer-program) are helpful with configuring your tenant/account?

[2021-03-04 02:40] glr0221 opened #2530 "Office 2013 not showing Office Add-ins"
Hello Microsoft,

Thank you always for your support and quick responses.

Your [document](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets) shows that Office/Outlook 2013 supports Mailbox 1.4. Mailbox 1.1 at the very least without any updates. Is my understanding correct?

However, recently, two instances of our Outlook 2013 are not showin

[2021-03-04 04:19] elthombre commented on #2529
The problem with the Yeoman version of the tutorial is that its functionality is not the same.

[2021-03-04 13:19] mikehearn commented on #1137
The article is helpful for the desktop apps, but doesn't say what to do about the web. I've installed an add-in into Excel via the upload path, and now there seems to be no way to get rid of it. Every new document now has my add-in, and because at some point I had to alter the manifest I re-uploaded it, and now it's there twice!

Can you please document how to clear the uploaded add-ins for Excel

[2021-03-04 13:26] mikehearn commented on #1137
For anyone else who finds this, it turns out that it actually is documented, but not in the "clear office caches" section of the site. On the web the office cache is just the browser cache.

*NB:* Clearing "cached files" is not sufficient. I tried that at first and it didn't work. In Chrome, there doesn't seem to be any way to clear individual sites anymore, so you'll have to clear out everything

[2021-03-04 16:11] ElizabethSamuel-MSFT commented on #2517
@ravi-bharadwaj Thanks for this additional information. I'm adding the team so see if they have some ideas on how you might be able to do this with the current API set.

[2021-03-04 16:37] ravi-bharadwaj commented on #2517
Thank you!

When reviewing https://www.youtube.com/watch?v=wRrg75FbaVw&feature=emb_logo, I see that condeco is able get access to meeting time, attendee information when appointment is in edit mode. Plus they are able to get access to events when meeting time is changed and deleted.

From AppointmentOrganizerCommandSurface, I don't get access to the attributes of the appointment as we can see in t

[2021-03-04 17:18] AlexJerabek commented on #1137
Thanks for sharing your experience @mikehearn. We'll use your comments to improve the documentation and make the information about clearing the browser cache more clear.
@alison-mk, can you please create a follow-up item and look into these improvements?

[2021-03-04 17:27] AlexJerabek commented on #2530
Hi @glr0221,
Thank you for the questions. Let me tag @ElizabethSamuel-MSFT to answer the version support question and @exextoc to address the missing Get Add-ins experience (and possibly answer that [linked answers.microsoft question](https://answers.microsoft.com/en-us/msoffice/forum/msoffice_o365admin-mso_security-mso_o365b/get-add-ins-button-is-missing-from-my-outlook-365/16569cdd-69a1-4601-bd0

[2021-03-04 17:30] glr0221 commented on #2530
Thank you @AlexJerabek. Your support and the dev teams are really awesome. I know you have a lot on your plates but you always take time to read and try your best effort to resolve an issue. Thank you again.

[2021-03-04 18:10] ElizabethSamuel-MSFT commented on #2517
@ravi-bharadwaj Are you able to copy the image directly in the GitHub UI? We're not able to see the screenshot from your previous comment.

Available APIs:
- [Office.context.mailbox.item](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/requirement-set-1.9/office.context.mailbox.item)
- [AppointmentCompose (organizer)](https://docs.microsoft.com/javascript/api/outlook/office.app

[2021-03-04 19:24] ElizabethSamuel-MSFT commented on #2529
@elthombre I haven't been able to repro your situation.

What I did:
- Created a dev program subscription and [set it up](https://docs.microsoft.com/office/developer-program/microsoft-365-developer-program-get-started#set-up-your-subscription)
- In VS 2019, created a new projects and made updates per the quick start instructions (Note: I did NOT replace ~remoteAppUrl in the manifest)
- In VS, set

[2021-03-04 20:33] alison-mk commented on #2526
Hi @JerryXBear, thank you for submitting an issue! I did some testing, and the sample on this page doesn't work with Script Lab (with Script Lab, I encountered the same ReferenceError as you). The Excel.RequestContext API described on this page only works when you have a shared JavaScript runtime set up. See [Configure your Office Add-in to use a shared JavaScript runtime](https://docs.microsoft.c

[2021-03-04 20:33] #2526 closed

[2021-03-04 21:41] exextoc commented on #2517
Some comments:

The condeco add-in video you show appears to be using a COM Add-in to accomplish what they are doing. Some of those features they are doing, are not possible in Web Add-ins.

The Web Add-in Taskpane cannot Auto Open on every Appointment. On mails a taskpane can be "pinned" by the user and it will open with every mail. (but it has to be an explicit action taken by the user)

Attribu

[2021-03-04 22:06] ravi-bharadwaj commented on #2517
Thank you, I was able to use setAsync and getAsync apis to integrate with most of the attributes of appointment in organizer pane.

When we open outlook 2016, and open room finder. Is room finder an addin or something inbuilt into outlook.

It remains pinned and when we open another appointment room finder still persists in the view and gets closed only when explicitly closed.
____________________

[2021-03-04 22:10] ravi-bharadwaj commented on #2517
Do we have any reference on how to create a nested button group instead of having multiple buttons on msgReadGroup?

________________________________
From: ravi bharadwaj <ravi_bharadwaj@hotmail.com>
Sent: Thursday, March 4, 2021 5:06 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>; OfficeDev/office-js-docs-pr <reply@reply.github.com>
Cc: Mention <mention@noreply.github.c

[2021-03-04 22:53] ravi-bharadwaj commented on #2517
I am able to create a button group. Thank you!

________________________________
From: ravi bharadwaj <ravi_bharadwaj@hotmail.com>
Sent: Thursday, March 4, 2021 5:10 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>; OfficeDev/office-js-docs-pr <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [OfficeDev/office-js-docs-pr] Do we have reference e

[2021-03-04 23:00] exextoc commented on #2530
Outlook 2013 Only supports App Commands (Add-in's whose buttons are in the Ribbons. If both Outlook.exe, Mso.dll and Osf.dll have been updated to Version 15.0.4805.XXXX or later) From your screenshot it looks like you are updated...but you have to check OSF.dll manually. Automatic updates *should* take care of this, but it would be good to verify. (note that if these aren't update, then Outlook do

[2021-03-04 23:20] alison-mk commented on #1137
@AlexJerabek Sure thing. I've created an internal work item to track these improvement suggestions: [Link to internal work item](https://office.visualstudio.com/OC/_workitems/edit/4924870).

[2021-03-05 06:19] taylorjtatro opened #2534 "Developer Window Pop Up"
## Article URL

https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/tutorials/excel-tutorial.md
## Issue

Hello!

 I have completed the Protect Worksheet section of the documentation. Whenever I use the newly created add-in I get a blank "Developer window - My Office Add-in" that pops up. The add-in works but I get this pop up every time.

I have double checked all the code and cannot

[2021-03-05 12:21] lafe opened #2535 "Is sessionStorage still supported?"
The page states that state can also be stored through browser techniques like localStorage or sessionStorage. It also links to [an example](https://github.com/OfficeDev/Excel-Add-in-JavaScript-PersistCustomSettings) that demonstrates this approach. However, the example is now archived without giving a reason for this and a [previous issue on GitHub](https://github.com/OfficeDev/office-js-docs-pr/i

[2021-03-05 13:50] glr0221 commented on #2530
Hello @exextoc,

First off, thank you again for taking time to investigate the issue. Please note, that for the add-ins, button button-based office addins and non-button office add-ins do not show in my Outlook 2013. It is as if it does not support Mailbox 1.1.

`Outlook 2013 Only supports App Commands (Add-in's whose buttons are in the Ribbons. If both Outlook.exe, Mso.dll and Osf.dll have been u

[2021-03-05 17:40] AlexJerabek commented on #2535
Hi @lafe,

Thanks for the question. Let me tag @davidchesnut and @jeremy-msft to help out.

In the meantime, can you tell us what application you're developing an add-in for (Excel, Word, etc)?

[2021-03-05 19:15] ravi-bharadwaj commented on #2517
Thank you guys! our POC was a great success due to your help.

We have one clarification after the POC, is it possible for to capture save/send event just like we do for oncompose event, so that we can commit our changes as well.

Assume its like a room that the user is trying to book through our task pane, if the user clicks save, we would like to commit to the room at that time otherwise we will

[2021-03-05 22:41] exextoc commented on #2517
There is no Send API. There is a Save Item API though.

https://docs.microsoft.com/en-us/javascript/api/outlook/office.messagecompose?view=outlook-js-preview#saveAsync_options__callback_

[2021-03-06 06:39] mwchan commented on #2527
Just wondering if there are any updates.

[2021-03-06 07:59] lafe commented on #2535
The Add-In would be for Word, Excel and PowerPoint.

[2021-03-08 10:43] puripats opened #2538 "Is linkedDataTypes api working?"
[Enter feedback here]
Deat Support Team,

I run this on Excel web with beta setup in the guide.
I try to learn linkDataTypes api. I try to use simple code for example, I run

Excel.run(function (context) {
var linkedCount = context.workbook.linkedDataTypes
linkedCount.getCount()
}
return context.sync().then(function(){
console.log(linkedCount)
  });
})

After that the result showed.
Uncaught (in p

[2021-03-08 19:19] exextoc commented on #2530
Can you check your Windows Event Log (Event Viewer -> Windows Log -> Application) And filter on Outlook and Event #63?

![image](https://user-images.githubusercontent.com/28549921/110369239-f7c16700-7ffe-11eb-8174-941d6fa663ea.png)

This should report that GetAppManifests are succeeding or not.

[2021-03-08 21:01] binhnguyen1984 opened #2539 "Authentication error: "Authorization has been denied for this request.""
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-aspnet
## Issue

 I follow the instruction in the above link, but I got the error: "Authorization has been denied for this request." when trying to make a call to the api "api/values".
When I removed the [Authorize] attribute from the corresponding controller, I saw that ClaimsPrincipal.Current wa

[2021-03-08 22:59] AlexJerabek commented on #2539
Hi @binhnguyen1984,

Thanks for raising this issue. @davidchesnut, can you please investigate?

[2021-03-09 14:23] nikhilism15 opened #2543 "Excel Add-In with Dialog API stops execution until F12 is opened"
When an Excel is opened for the first time, if it has a dialog included (for example, login dialog), the code that has to execute after message is passed back to the taskpane doesn't execute until I open F12Chooser or IEChooser from C:\Windows\SysWOW64\F12 folder. Once I open it, it starts working fine even after closing it. I need an immediate solution for this as a production-deployed app is cau

[2021-03-09 18:27] ElizabethSamuel-MSFT commented on #2484
@itishnitsa We're investigating how best update this and hope to fix in the docs soon.

Thanks.

[2021-03-09 23:03] alison-mk commented on #2472
Hi @chucklay, thank you for providing this information! Much appreciated. We've resolved the issue that caused the varying success reports I mentioned.

I made one update to the code sample in the [Detect the address of a parameter](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-parameter-options?tabs=javascript#detect-the-address-of-a-parameter) article section to help

[2021-03-09 23:03] #2472 closed

[2021-03-10 15:06] LiamSolDev opened #2546 "Issue making multiple calls"
Hi,

I have been working through the tutorials and have reached a dead end when it comes to expanding the solution to make multiple calls.

I followed the following tutorials to produce the add-in and connect to Graph and edit it.
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart-customize

[2021-03-11 17:41] gullbyrd opened #2550 "What changes are needed for deployment to a server?"
This page and project are very helpful. However, there needs to be a section detailing what, if anything, needs to change when moving the app from Localhost to a server. I assume any reference to "Localhost:44355" needs to be changed to reflect the name of the server URI, but the registration process requires me to use "localhost:44355" in the Application ID URI. Even the server side code in the V

[2021-03-12 04:00] #2529 closed

[2021-03-12 04:03] Rick-Kirkham commented on #2550
You are correct that the domain needs to be changed in the manifest and the AAD registration portal. I've added a section to the end of the article, it should be published in a few days. Also, I moved the hardcoded `localhost:44355` from the executable code to the web.config. The same change was made in the "Complete" version of the sample.

[2021-03-12 11:48] glr0221 commented on #2530
Hello @exextoc,

Sorry for the delayed response. Before I did the Event Viewer task, one of my colleagues used another 0365 account in the same outlook 2013 client. And lo and behold, the addins on that particular account loaded successfully.  But when I access emails in the other account, the add-ins are still not showing. So I was thinking "is this something with how the other account was setup?

[2021-03-12 15:28] gullbyrd commented on #2550
Thanks again for your help. Now I'm having an issue with the accessToken
that is received after login. Here's the message I get:

{"type":"dialogMessageReceived","message":"{\"status\":\"
success\",\"accessToken\":\"EwBwA8l6BAAU6k7+XVQzkGyMv7VHB/
h4cHbJYRAAAS3hSSfQjbyNCWl8Ud18E6uc9pxIXg5r260rdbpN+
GfUTXqSlcWCbRYV7zeaPqV1wKHdg6+HQ7Mo1whjFo35hroCQ/+
Ic9UbQ7tjRyxr05fx2moMhsXerMi+NOMNw4JdRLrBi6oJWEpda

[2021-03-12 17:53] Rick-Kirkham commented on #2550
Since your new issue isn't with the documentation, it should be asked on the [office-js](https://github.com/OfficeDev/office-js/issues) repo. You'll get faster action that way.

[2021-03-12 20:37] exextoc commented on #2530
To clarify, did your colleague test on the same machine as the account with the issue?

Can you try recreating the profile of the account with the issue?

[2021-03-14 08:02] heebinho opened #2555 "Custom XML in article description"
_"WordApi 1.3 added more support for content controls, **custom XML**, and document-level settings."_

For me it looks like the mentioned support for custom XML is not part of 1.3 and still in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bee018a-98f8-befd-4a0f-c9211045af05
* Version Independent ID: 59c3007a

[2021-03-15 16:58] AlexJerabek commented on #2555
Hi @heebinho,

Thanks for pointing out this discrepancy. Custom XML for Word-specific APIs is still in preview. We'll update the documentation accordingly.

If you need to use Custom XML in your Word solution, you can use the Common APIs. You can learn more about that and see a sample [here](Working with custom XML parts using the CustomXmlParts and CustomXmlPart objects). If that functionality is

[2021-03-16 07:08] clavx opened #2557 "Questions about compliance details for On-send feature"
I have the following questions about the documentation for the On-send feature.

1. About compliance standards
    - the OnSendAddinsEnabled flag
    - the group policy Disable send when web extensions can't load
2. Unclear points in the description

-----

1. This is a confirmation of what compliance standards is.

In Outlook on the web, it is stated that enabling the OnSendAddinsEnabled flag wil

[2021-03-16 07:48] glr0221 commented on #2530
Hello @exextoc,

Great news. I think I was able to find out the root cause of the issue.

When you requested me to nuke the profile, I also nuked all the accounts. Basically I had Outlook but no email accounts added. Then what I did was :

1. Added the account where all add-ins were shown, using POP/SMTP.
2. Added the account where all add-ins were missing using, Control Panel-> Mail -> Add Accoun

[2021-03-16 08:40] gspagoni opened #2558 "example doesn't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fde53b2d-39f8-5b6d-5e37-068b4d93f049
* Version Independent ID: 9c7ff3ef-a188-bd28-65bb-1d620d4a8842
* Content: [Use the Outlook REST APIs from an Outlook add-in - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api

[2021-03-16 16:17] elthombre commented on #2529
Yes, right-click context menu

[2021-03-16 21:04] exextoc commented on #2530
Glad to hear your issue is resolved!

There is documentation about the client requirements for using Outlook add-ins [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-in-requirements#client-requirements). Below is the relevant part:

I am closing this issue now. Please re-open if you have any more questions.

[2021-03-16 21:04] #2530 closed

[2021-03-16 22:00] #2517 closed

[2021-03-17 13:36] heebinho commented on #2555
Hi @AlexJerabek,

Thanks for mentioning the Common APIs. Pretty happy that we already have access to the Custom XML parts there.

[2021-03-17 16:42] AlexJerabek commented on #2558
Hi @gspagoni,

Thanks for reporting this access token issue. @ElizabethSamuel-MSFT, can you please investigate?

[2021-03-17 16:45] AlexJerabek commented on #2557
Hi @clavx,

Thanks for asking about this. Tagging @ElizabethSamuel-MSFT to clarify the compliance details for OnSend.

[2021-03-17 21:00] AlexJerabek commented on #2515
The docs have been updated to properly reflect SVG support as part of #2516. I'll close the issue now.

[2021-03-17 21:00] #2515 closed

[2021-03-18 13:30] andypeng2015 opened #2561 "How to place outlook add-in in read email form"
## Article URL

https://github.com/OfficeDev/outlook-add-in-command-demo#read-mail-form

## Issue

 Hi, as shown below, when I follow the demo and **my add-in shows up in ribbon**, how to place **my add-in in email read form** itself for all outlook client? Thanks

expected UI:
**my add-in in email read form**
![outlook-btn-in-email](https://user-images.githubusercontent.com/24508594/111633777-d35

[2021-03-18 17:18] AlexJerabek commented on #2561
Hi @andypeng2015,

Thanks for your interest in Office Add-ins for Outlook. Have you read the article [Create Outlook add-ins for read forms](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/read-scenario)? I think you'll find the answers you're looking for there.

I'm going to close the issue now, but if this does not address your question, please leave a comment and I'll reopen it. Als

[2021-03-18 20:19] DiegoSalazar commented on #860
+ on the suggestion that the docs could use clarification or code samples. I too am having trouble merging the slices together. I follow these docs, using btoa() to encode each slice, the server then decodes and concatenates the slices together but, like @nguruprasanna above, I get large string starting with:
[code]
It's unclear from the docs what should be done in the server to decode/merge these

[2021-03-18 22:05] DiegoSalazar opened #2562 "Backend question for: Get the whole document from an add-in for Word or PowerPoint"
## Issue
I am having trouble merging Slices together. I follow [these docs](https://docs.microsoft.com/en-us/office/dev/add-ins/word/get-the-whole-document-from-an-add-in-for-word), using btoa() to encode each slice, the server then b64 decodes and concatenates the slices together but, like @nguruprasanna in [this issue](https://github.com/OfficeDev/office-js-docs-pr/issues/860), I get a large str

[2021-03-19 05:42] andypeng2015 commented on #2561
Hi @AlexJerabek,

Thanks for providing the link, I went through the docs but not seem to find the way to place add-in in email read form, it always display in the ribbon.

In this docs repo, some of the screenshots show Outlook add-in in email itself and some show in Ribbon, personally I think it should be a configuration and it's not mentioned in the doc so I post the question here.

Please help

[2021-03-19 16:39] AlexJerabek commented on #2561
Reopening and assigning to @ElizabethSamuel-MSFT. She should be able to point you in the right direction (or update the docs if needed).

[2021-03-19 21:13] ElizabethSamuel-MSFT commented on #2562
@DiegoSalazar Thanks for raising this issue. As you may have seen in the related issue, we have an internal item tracking this work. However, we don't have any timeline yet for when this request may be created and published.

Thanks.

[2021-03-19 21:23] DiegoSalazar commented on #2562
I figured out the issue on my end. I was incorrectly packing/unpacking the byte array.

In Ruby, I was doing `bytes = Base64.decode64(slice.data).split(?,).map(&:to_i)` and then writing those `bytes` directly to a file. But I was missing this step: `bytes.pack('C*')`

[2021-03-19 21:23] #2562 closed

[2021-03-19 21:38] #2555 closed

[2021-03-19 22:43] ElizabethSamuel-MSFT commented on #2561
@andypeng2015 Thanks for asking about this. We no longer support add-ins appearing in that form (what was called custom pane) - see the final section of [this blog post announcing the deprecation](https://developer.microsoft.com/outlook/blogs/make-your-add-ins-available-in-the-office-ribbon/). The only [supported appearances](https://docs.microsoft.com/office/dev/add-ins/outlook/read-scenario#type

[2021-03-19 22:55] #2561 closed

[2021-03-21 14:50] andypeng2015 commented on #2561
Hi @ElizabethSamuel-MSFT, thanks for pointing to the right doc, I believe the image in this page https://github.com/OfficeDev/outlook-add-in-command-demo#read-mail-form also need to be updated for the add-in, it's shown in custom pane as well

[2021-03-22 07:46] lafe opened #2568 "How to access the Microsoft Graph without server-side Code"
We have implemented an add-in that only communicates with the Outlook REST API and have to migrate it to Graph, so that it works after deprecation of the endpoint. The main reason we choose the Outlook REST API in the first place was, so that we could access the REST API with Single Sign On (at the time SSO for Graph was not available). The add-in currently does not have any server-side code, as e

[2021-03-22 08:03] #2568 closed

[2021-03-22 17:09] ElizabethSamuel-MSFT commented on #2484
@itishnitsa The updated deployment steps in the document should be published soon.

We're still investigating how best to address your comments re: missing options, etc.

Thanks.

[2021-03-22 19:05] ravi-bharadwaj commented on #2517
Hi

Provide taskpane is already opened by the user in outlook client or web, is there any way for us to know in taskpane, on what is the active field(like location, subject, notes etc.,) at the moment?

Regards!
Ravi

________________________________
From: msftbot[bot] ***@***.***>
Sent: Tuesday, March 16, 2021 6:00 PM
To: OfficeDev/office-js-docs-pr ***@***.***>
Cc: ravi-bharadwaj ***@***.***>; M

[2021-03-23 04:26] splinter opened #2570 "Link to install webview2 does not work"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

## Issue

 The `Microsoft Edge WebView2 / Embed web content ... with Microsoft Edge WebView2` link is broken:

The page which is linked using the above text does not load:

https://developer.microsoft.com/en-us/microsoft-edge/webview2

I am receiving a 431  HTTP error code when accessin

[2021-03-23 13:10] cody-lettau opened #2571 "Support for 'on send' hook in Desktop Outlook (Mac) New UI"
The documentation states that the new UI for Mac does not support the 'on send' feature, where we can run an add-in on each message send. This is pretty basic functionality that a lot of add-ins require, so I am curious when this will be supported and ready for use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f55801

[2021-03-23 14:40] lucalytton opened #2572 "64 px required, not just recommended"
We tried to upload a manifest file and it was rejected because it stated that the 64 px icon was missing – please indicate on this page that it is required, and not just recommended – thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60534f1a-0d99-62cf-08d5-ff7770ee1b86
* Version Independent ID: 537fe362-b29a-28a8

[2021-03-23 17:30] ElizabethSamuel-MSFT commented on #2570
@splinter Thanks for raising this issue about the webview2 page.

@lindalu-MSFT Can take a look at this issue with the developer.microsoft.com page referenced here? Or assign to an appropriate person who can investigate?

Thanks.

[2021-03-23 17:32] ElizabethSamuel-MSFT commented on #2572
@lucalytton Thanks for pointing out this issue. We'll take a look and update the documentation as needed.

Thanks.

[2021-03-23 17:36] ElizabethSamuel-MSFT commented on #2571
@cody-lettau Thanks for asking about this.

@macOutlookExtensibility Can you take a look?

Thanks.

[2021-03-23 18:06] lindalu-MSFT commented on #2570
I've tried this link on multiple browsers and cannot repro. The link opens fine for me. Perhaps it was a temporary outage or somethng.

[2021-03-23 18:06] #2570 closed

[2021-03-23 18:52] ElizabethSamuel-MSFT commented on #2558
@gspagoni Sorry that you're facing issues with this. However, can you provide some more details to help us repro? For example, what error are you getting re: the access token? Can you share your sample code and manifest? Which client/platform are you testing with (Windows, Mac, browser, etc)? Which Exchange version are you pointing to (Exchange Online, on-premises)?

Thanks.

[2021-03-23 18:53] ElizabethSamuel-MSFT commented on #2558
@gspagoni As for an API to set "out of office", I also believe we don't have such an API. I've also tagged this issue as feature request so we can track. @JuaneloJuanelo FYI

[2021-03-23 19:04] ElizabethSamuel-MSFT commented on #2557
+ @exextoc To help confirm behaviors described here. Thx.

[2021-03-23 19:15] lindalu-MSFT commented on #2558
@ElizabethSamuel-MSFT We should move this feature request to office-js so we can track it with the Feature Request tag there.

[2021-03-23 19:20] ElizabethSamuel-MSFT commented on #2558
@lindalu-MSFT I'll move to office-js to track the feature request portion after we resolve the issue with REST API example, if possible.

[2021-03-24 09:06] Yan-corps opened #2575 "Command listed in this page seems to be wrong when create add in project with parameters"
[Enter feedback here]
When create add in project with yo office, the command should be
`yo office --projectType excel-functions --name 'Excel shared runtime add-in' --host excel --js true`
your codes in this page seems to lose a "true" in the end, which cannot apply these parameters in this command, and create an empty project.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-03-24 09:11] gspagoni commented on #2558
[My Office Add-in.zip](https://github.com/OfficeDev/office-js-docs-pr/files/6195382/My.Office.Add-in.zip)
thank you for your answer. I have attached my project created with yo generator
my goal as I said is to create an addon which set OOO for outlook and for another external application at the same time. ofc for outlook i don't want to authenticate with oauth2 because I'm already logged in, so I

[2021-03-24 15:54] ElizabethSamuel-MSFT commented on #2558
@gspagoni Thanks for sharing this info.

@exextoc Can you take a look?

Thanks.

[2021-03-24 21:34] ElizabethSamuel-MSFT commented on #2575
@Yan-corps Thanks for pointing out this issue.

@davidchesnut Can you take a look?

Thanks.

[2021-03-25 18:17] #2550 closed

[2021-03-25 21:22] exextoc commented on #2557
Answering some questions about Win32 Outlook first. (other answers for other platforms will be answered as we get the answers)

Your comments about "Disable send when web extensions can't load" are pretty much correct. The confusion about this GPO, is that it doesn't really do what most developers want. It's meant for a very niche amount of users.

In Win32 Outlook, there is a small time between B

[2021-03-26 06:31] sarthak625 opened #2580 "Outlook Add-In built using Angular showing blank taskpane on Windows Outlook App pre 1903 build"
We are developing an Outlook add-in using angular. The add-in works on IE11, Edge, Chrome and Safari, but on Windows Outlook desktop app versions (< 1903) which use IE11, it shows an empty taskpane.
Following workarounds I have tried and still the issue persists, so would like to know if it is a compatibility issue. Attaching the code below this:

1. Ensured that the document mode is set to edge u

[2021-03-26 16:53] Geraint87 opened #2581 ""Runtimes" section in TaskPaneApp section within VersionOverrides incorrect"
Either it's not wholly accurate, or there is an old schema definition, but what I observe is:
The documentation says that the Runtimes section comes immediately inside the `Host` and before `AllFormFactors`:
![image](https://user-images.githubusercontent.com/5928208/112665454-fdb6a500-8e52-11eb-8b05-cb30da824812.png)
[TaskPane VersionOverrides](https://docs.microsoft.com/en-us/office/dev/add-ins/d

[2021-03-26 16:57] exextoc commented on #2558
@gspagoni - Currently there isn't an Office JS API that allows you to set a OOO message or get a token that can be used against Graph. The getCallbackToken API with isRest set to true that you use in your code only returns a token that can be used against a REST API endpoint, hence the error when using that token against a Graph API. That said, the REST token returned only has item and calendar le

[2021-03-28 03:55] elthombre opened #2583 "generator-office does not support your version of node"
Getting the exception when trying to run:

yo office

Then, when I go here for the latest LTS version:

https://nodejs.org/download/release/latest-v14.x/

I am told during installation that the latest version of Node is already installed.

[2021-03-28 04:10] elthombre commented on #2583
v15.12.0

[2021-03-28 06:12] Rick-Kirkham commented on #2583
Closing as a duplicate.

[2021-03-28 06:12] #2583 closed

[2021-03-28 07:23] wynntee opened #2584 "Shared Runtime for Desktop now runs on Webview2?"
Hi, I noticed today that the Shared Runtime on Windows desktop now runs on Webview2 instead of IE11. This is great news. When did this happen? And what are the system requirements (e.g. Office version)? The documentation should be updated accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cf67b-951d-7bae-55

[2021-03-29 00:15] Rick-Kirkham commented on #2584
@davidchesnut Could you take a look at this?

[2021-03-29 04:07] exextoc commented on #2571
@cody-lettau Thanks for asking this. We are planning release 'on-send' feature on New UI to Insiders beta by April end. You can get more details on Office Insiders from [here](https://insider.office.com/en-in/join/mac)

[2021-03-29 08:45] mathiasnielsen0 opened #2585 "Office volume versions"
Hello!

I'm currently developing a outlook add-in, for our customers, but they are currently using volume versions of Office, which apparently doesn't yet use Microsoft Edge.

https://docs.microsoft.com/en-us/officeupdates/update-history-office-2019

As i see on the link above, the latest version for volume versions are: 16.0.10371.20060, which is what I can see is installed on my customers pc as

[2021-03-29 12:53] cody-lettau commented on #2571
@exextoc thanks for the update and pointing me to the Office Insiders page! I will keep an eye on this and am looking forward to being able to have our add-in work in the new UI!

[2021-03-29 15:42] gspagoni commented on #2558
Hello and thank you for your answer, I tried a piece of code that I read into the the page of the SSO token link

export async function run() {
  /**
   * Insert your Outlook code here
   */

   try {
    let bootstrapToken = await OfficeRuntime.auth.getAccessToken();
    document.getElementById("token").innerHTML = bootstrapToken

    // The /api/DoSomething controller will make the token exchang

[2021-03-29 20:16] Rick-Kirkham commented on #2585
That is correct. Your customers will be using IE11. Office 2021 is expected later this year: [Microsoft Office 2021, Office LTSC 2021 announced, to be available for Windows and Mac later this year](https://www.msn.com/en-in/money/news/microsoft-office-2021-office-ltsc-2021-announced-to-be-available-for-windows-and-mac-later-this-year/ar-BB1dPzfc). If your users get a volume license for it, then th

[2021-03-29 20:16] #2585 closed

[2021-03-30 21:47] exextoc commented on #2558
Could you share the exception.code that you are running into? Here's a link for reference to troubleshoot and identify the exception.code and what they mean: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins

[2021-03-31 13:27] gspagoni commented on #2558
the error code is 13000

Modify the source files, then click Run.
Run

13000

[2021-03-31 16:27] Max1992 commented on #2539
Hello all,

Works for me with this configuration
var authConfig = {
    clientId: "...",
    scopes: "**openid**",
    redirectUrl: ".."
};

[2021-03-31 20:59] binhnguyen1984 commented on #2539
@Max1992 : This does not work my case study. But anyway, I have found a simple fix in the meantime.

[2021-03-31 21:29] Rick-Kirkham commented on #2539
@Max1992 Where do you see an `authConfig` variable in this project? It is not in the article nor in the Complete version of the sample on GitHub.

[2021-04-01 00:31] exextoc commented on #2558
Based on it being the 13000 error code, it's possible that:
- The version of Office does not support SSO. The required version is Microsoft 365 subscription, in any monthly channel.
- The add-in manifest is missing the proper WebApplicationInfo section.

Could you share your Outlook build number and subscription channel? And make sure that WebApplicationInfo in the manifest.
Please also make sure

[2021-04-01 08:50] gspagoni commented on #2558
![2021-04-01 10_47_01-Posta in arrivo - Giampaolo Spagoni@infor com - Outlook](https://user-images.githubusercontent.com/22134155/113268747-01757c00-92d8-11eb-9e33-2811d26b08fc.png)
attached the version of outlook

below the manifest file

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/200

[2021-04-01 08:51] gspagoni commented on #2558
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0" xmlns:mailappor="http://schemas.microsoft.com/office/mailappversionoverrides/1.0" xsi:type="MailApp">
  <Id>92379c22-6ffc-4880-bd8a-dcb373bd09f9</I

[2021-04-01 12:04] Max1992 commented on #2539
Hello all,
sorry, was my fault. I was working on [this](https://github.com/OfficeDev/Outlook-Add-in-SSO) project and i had the similar problem.
Maybe your project might have the same problem

[2021-04-01 16:06] ElizabethSamuel-MSFT commented on #2572
@lucalytton The 64 px size is only required if the image represents the add-in's icon (in manifest elements [IconUrl](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/iconurl) or [HighResolutionIconUrl](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/highresolutioniconurl)) depending on if it's a mail/Outlook add-in or a content or task pane add-in. We're in the pr

[2021-04-01 22:52] exextoc commented on #2558
Based on your build number, it should support SSO. Just as a sanity check can you try calling isSetSupported('IdentityAPI', '1.3') and make sure it returns true.
You seemed to have pasted only a portion of the manifest, can you relink/upload the manifest?
Also again, please make sure that the prerequisite steps (e.g. Enable modern authentication, Register your add-in etc.) listed before the "Get S

[2021-04-02 20:45] ElizabethSamuel-MSFT commented on #2505
@TCourtneyOwen Can you take a look? Thx.

[2021-04-03 08:48] gspagoni commented on #2558
attached the manifest
[manifest.zip](https://github.com/OfficeDev/office-js-docs-pr/files/6252181/manifest.zip)
thank you

[2021-04-03 09:58] exextoc commented on #2557
Answers to your questions,
About the "On-send feature scenarios" section
User mailbox has the on-send add-in feature enabled but no add-ins are installed
User mailbox has the on-send add-in feature enabled and add-ins that supports on-send are installed and enabled

Do these "the on-send add-in feature enabled" mean that the OnSendAddinsEnabled flag is True?"
 => Yes, it means that the OnSendAddin

[2021-04-04 00:48] brad302 opened #2597 "Custom Functions debugging not working"
Put simply, this process does not appear to work.

I can successfully debug the taskpane using both VS Code and the Edge DevTools application but a break point in any custom function never fires.

I have no other information other than I stripped it all back to the default install from the YO generator (selected custom functions as the option) and still no good.

Happy to provide whatever informat

[2021-04-04 12:42] brad302 opened #2598 "Visual Studio approach add in does not load"
I followed the steps and created a project in VS 2019 which resulted in an Excel add in that simply wouldn’t load. It errors telling me it failed to install.

I tried the project as vanilla and didn’t follow the steps to change the contents of the JS files and still no love.

I’d try and provide more details but it’s a black box and I get no output telling me why it fails.

Very keen to get some g

[2021-04-04 18:30] lucalytton commented on #2572
Hi @ElizabethSamuel-MSFT : thanks for this. We didn't actually specify this as the IconUrl or HighResolutionIconUrl (we specified 80 px). Should we have?

Cheers

[2021-04-05 05:01] clavx commented on #2557
Thank you for your answer.

Thank you for the detailed explanation. It became very clear.

I understand as follows:
- The installation order is divided into user-installed and administrator-installed.
- If there is more than one of them, they will be in the order in which they were loaded. There is no way to control this order at the moment.

It became clear. Thank you very much.

[2021-04-05 05:20] clavx commented on #2557
Do you mean that the description is for OWA and not for Windows Outlook?
I understand that the OnSendAddinsEnabled flag does not affect the Windows Outlook, is that correct?

There is an addition related to this.

Do you mean this description is for OWA and not for Windows Outlook?

---

Could you answer if my understanding of the behavior of the OnSendAddinsEnabled flag below is correct?

- About

[2021-04-05 15:58] gspagoni commented on #2558
Hi, i read the article you suggested above. i don't have the rights to register the add-in to the Azure AD, I'm not an IT admin, I'm a solution architect creating Demo. I'm aware of the security stack which is very important, but at the same time I thought once I'm logged in to use a SAML bearer token for my user to setup properties to my account, which seems to be very hard. as I said I'm looking

[2021-04-05 16:15] AlexJerabek commented on #2598
Hi @brad302,

Sorry to hear you're unable to get the quick start working. I have a few questions to help us debug the situation:

1) What version of Excel do you have? You can find this under **File** > **Account** (please give us the version and build number).
2) Is an Excel workbook launching when you run the Visual Studio project? Does the workbook open, but the add-in taskpane not display anyt

[2021-04-05 16:20] AlexJerabek commented on #2597
Hi Brad,

Thanks for raising this issue. I have a couple of questions for you to help us debug the debugging issue.

1) What version of Excel do you have? You can find this under **File** > **Account** (please give us the version and build number).
2) Is the custom function successfully running? I just want to verify everything is working as expected before working on the breakpoint issue.

[2021-04-06 00:46] exextoc commented on #2558
To unblock your development and demo, you can create a development tenant through the [Microsoft 365 Developer Program](https://developer.microsoft.com/en-us/microsoft-365/dev-program). This will allow you to grant administrator consent to the add-in.

Does this unblock your scenario?

[2021-04-06 02:21] brad302 commented on #2597
@AlexJerabek, thanks for the reply.

Excel version 2103 (Build 13901.20230 Click-to-run)

Yes, the functionality is running, there's no doubt about it.  I can run one of the functions and it returns a value.  If I put a breakpoint in the taskpane JS, it breaks as expected.

Happy to provide anything else you need.

[2021-04-06 02:47] brad302 commented on #2598
@AlexJerabek, all good, I'm sure it's something I'm doing and I'm sure we'll work it out.

To answer your questions ...

1. Excel version 2103 (Build 13901.20230 Click-to-run)
2. Yes, it launches Excel, shows the button in the ribbon to display the taskpane but fails after that.
3. Yes and just tried again but no luck.  When in the Edge DevTools, it doesn't give me anything as such.  The local pro

[2021-04-06 06:43] exextoc commented on #2557
This reply is for win32 :

This is for OWA :

[2021-04-06 07:24] clavx commented on #2557
Thank you for your reply.
So all the descriptions below are for OWA.

[2021-04-06 07:25] clavx commented on #2557
I have a question.
Is it expected behavior for the on-send function to work when the `OnSendAddinsEnabled` flag is False?

[2021-04-06 08:25] gspagoni commented on #2558
Hi , i read the MS 365 Developer Program and i tried to create an account using my company account, but I'm denied to switch to the admin center. see the attached snapshot, I think I can create a developer program with my own account but then how can I use it to authenticate add in for my company account?
![2021-04-06 10_22_49-](https://user-images.githubusercontent.com/22134155/113681613-73780780

[2021-04-06 15:12] AlexJerabek commented on #2598
Thanks for all that information @brad302.

It's possible the VS workload is out of date. Let me assign this to @mattgeim to investigate.

[2021-04-06 15:14] AlexJerabek commented on #2597
Thanks @brad302.

Let me assign @alison-mk to dig deeper into the custom functions debugging issue.

[2021-04-06 16:22] #2572 closed

[2021-04-06 16:36] ElizabethSamuel-MSFT commented on #2572
@lucalytton IconUrl and HighResolutionIconUrl have specific and different size requirements and depends on if the add-in is Mail/Outlook or content/task pane. For sure, the IconUrl or the HighResolutionIconUrl should reference a 64 px image. I think the changes in [this pull request](https://github.com/OfficeDev/office-store-docs/pull/352) give a good summary of the requirements. See the "Create a

[2021-04-07 03:16] brad302 commented on #2598
Thanks @AlexJerabek.  @mattgeim, I'm here when you're ready.  Hopefully sooner rather than later.  Pretty keen to solve this one.

[2021-04-07 03:18] brad302 commented on #2597
Thanks @AlexJerabek.

@alison-mk, looking forward to getting your views.  Thanks!

[2021-04-07 04:47] brad302 commented on #2597
Does this help?

<img width="553" alt="Breakpoint Error" src="https://user-images.githubusercontent.com/14899088/113811794-30945d80-97b0-11eb-8f48-c12ecb478c4b.png">

[2021-04-07 05:02] alison-mk commented on #2597
Hi @brad302, thanks for reporting this issue! I just tested the UI-less custom functions debugging process, and I encounter an issue, but it looks like a different issue than the one you encounter. In my testing, the final step of the debugging process doesn't seem to work. My tests don't yield the "Breakpoint ignored..." error in your screenshot.

The process works for me up until "Use the VS Cod

[2021-04-07 05:05] brad302 commented on #2597
Thanks @alison-mk, yes, found the same link but it's a lot deeper than I was hoping to go and that file is something I'll need to read up on I'd say.  It appears in multiple places within the project directory and therefore, wanted to get your counsel first.  Time to dig deeper I guess.

[2021-04-07 05:23] brad302 commented on #2597
@alison-mk, I should also point out, if I follow the UI-less procedure (https://docs.microsoft.com/en-gb/office/dev/add-ins/excel/custom-functions-debugging#use-the-vs-code-debugger-for-excel-desktop) then the breakpoint sticks but doesn't fire.

It's when I follow the UI based procedure (https://docs.microsoft.com/en-gb/office/dev/add-ins/testing/debug-with-vs-extension) that I get message above.

[2021-04-07 09:54] exextoc commented on #2557
Yes, onSend should work.

[2021-04-07 16:42] #2575 closed

[2021-04-07 16:43] davidchesnut commented on #2575
@Yan-corps thanks for noting this! I submitted a PR that fixes the command line options.

[2021-04-08 00:51] exextoc commented on #2558
You would log into this developer account [profile page](https://developer.microsoft.com/en-us/microsoft-365/profile) with the account you used to register for the program. And from there, you can setup a tenant (ending in onmicrosoft.com) with its own administrator account (also listed on that page) that can be used to access your developer tenant's admin page.

Typically a website will prompt yo

[2021-04-08 07:10] gspagoni commented on #2558
can i add the account i used to register for the program in outlook client? in this case can I use it with the adding I'm trying to develop for setting OOO. thank you

[2021-04-08 07:46] clavx commented on #2557
Thanks! My main question has been solved.

I hope that the documentation will be improved in the future to make it easier to understand.

[2021-04-08 08:30] exextoc commented on #2557
Sure, we'll take a note of it.

[2021-04-08 19:19] exextoc commented on #2558
This program allows you to create a new email account to test with (you could use the automatically-created admin account, or use the admin account to create a test user within the developer tenant). Either of those accounts, you can add to Outlook. It's a fully-functioning M365 account. It can be used to develop add-ins for any application including Outlook.

For example, you can add the test use

[2021-04-08 19:53] alison-mk commented on #2597
Hi @brad302,

I've investigated this issue and have additional information for you.

The [UI-less custom functions debugging](https://docs.microsoft.com/office/dev/add-ins/excel/custom-functions-debugging) article is only for "UI-less" custom functions, and the Yo Office generator no longer automatically creates a UI-less custom function. I will correct the article to clarify that point. Thanks fo

[2021-04-10 08:37] lucalytton commented on #2572
Understood, I think we managed to sort it out now! Thank you for your help.

On Tue, 6 Apr 2021 at 17:37, Elizabeth Samuel ***@***.***>
wrote:

[2021-04-11 23:29] dvshkn opened #2615 "Issue with Sideloading Instructions for Outlook Add-In on iPad"
Content: [sideload-an-office-add-in-on-ipad-and-mac.md](https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/testing/sideload-an-office-add-in-on-ipad-and-mac.md)

I have a development build of an Outlook add-in that I'm trying to sideload onto an iPad for testing. I've followed the macOS Catalina instructions in the docs listed above, but the Outlook app does not show up in the Files s

[2021-04-12 17:41] AlexJerabek commented on #2615
Hi @dvshkn,

Thank you for raising this issue. @macOutlookExtensibility, can you please provide assistance?

[2021-04-12 17:58] mscharlock commented on #2527
Hi @mwchan - I am coordinating with our engineers to figure out why this is not working (we are able to repro). Thanks for being patient during the delay. :)

[2021-04-12 18:04] mscharlock commented on #2505
Hi there - just an update, we do have engineers working on fixing this but we are able to repro your issue and it is indeed not working right now. Apologies for the frustration and delay in getting back to you. I'll keep you updated as things change. Thanks!

[2021-04-12 19:11] #2597 closed

[2021-04-13 14:02] heebinho opened #2618 "No link to mentioned "Phone dialer sample Outlook Add-In""
The article mentions the "Vanilla JavaScript" approach and refers to the "Phone Dialer Sample Outlook add-in".

_"The phone dialer sample Outlook add-in shows a slightly different approach using only JavaScript to check these same conditions."_

Where can we find the mentioned example?

Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-04-13 20:50] AlexJerabek commented on #2618
Thanks for reporting this @heebinho. That document is referring to an unlinked sample. I suspect this sample has been removed from OfficeDev.

@davidchesnut Do you have any insights on the sample being referenced here?

[2021-04-14 03:56] mwchan commented on #2527
Thanks for the info.

On Tue, Apr 13, 2021 at 1:58 AM Michelle Scharlock ***@***.***>
wrote:

[2021-04-14 06:46] pi3k14 opened #2620 "Documentation seems limited (browser used for internal plugins)"
I am doing som investigation of MS-OFBA handling in Office, and can't see this documentation correlate to my findings.

When Office (Excel) access a web resource it utilizes a browser with user agent string "Microsoft+Office+Excel+2014".
When Office performs the MS-OFBA login it utilizes a browser with user agent string "Mozilla/4.0+(compatible;+MSIE+7.0;+Windows+NT+10.0;+Win64;+x64;+Trident/7.0;+

[2021-04-14 20:21] AlexJerabek commented on #2620
Hi @pi3k14,

I'm a little unclear what you're asking. Are you using Excel for desktop or through a web browser in your scenario? In either case the second string you provide contains "Trident", which indicates Edge (with the original WebView) is being used. What are you observing

[2021-04-15 05:20] pi3k14 commented on #2620
@AlexJerabek - I am using Excel for desktop.

[MS-OFBA](https://docs.microsoft.com/en-us/openspecs/sharepoint_protocols/ms-ofba/30c7bbe9-b284-421f-b866-4e7ed4866027) is a (Microsoft) standard for performing web based sign in from Office applications.
To me it seems like an internal web handler is used in the first step, and some sort of IE handler used in second step as deleting cookies from IE ch

[2021-04-15 11:21] perjerz opened #2623 "[Documentation] Wrong "document" property in "script", it must be in "config" instead"
The document states that the document must be in **"scripts"** which is wrong.
![image](https://user-images.githubusercontent.com/5865946/114861036-ef86f380-9e16-11eb-955f-f09e2d32489f.png)

It must be in **"config"** instead of **"scripts"**
![image](https://user-images.githubusercontent.com/5865946/114861364-5dcbb600-9e17-11eb-9e4c-3fa0c269cb7b.png)

From the source code, it shows that it accept

[2021-04-15 15:44] AlexJerabek commented on #2623
Hi @perjerz,

Thanks for reporting this. This issue appears to be addressed in PR #2621, which is pending review. @mscharlock, can you monitor that PR and this issue?

[2021-04-15 15:53] AlexJerabek commented on #2620
Thanks for the further details @pi3k14.

@Rick-Kirkham, can you please look into this?

[2021-04-15 22:13] Rick-Kirkham commented on #2620
This article is _only_ about the browser used in Office Web Add-ins. It does not apply to any other Office interaction with the web. I don't think MS-OFBA has any connection to Office Web Add-ins. If you are creating an Office Web Add-in can you tell use what Office application (Excel, Word, etc.) you are extending, and what you are trying to do that involves MS-OFBA?

[2021-04-16 09:49] brad302 commented on #2598
@mattgeim, sorry mate but any update by chance?

[2021-04-16 09:50] heebinho opened #2624 "Runtime Environment Informations"
That first Note "When running in Office on Windows, your add-in uses the Internet Explorer 11 browser." means, that as soon as you have specified it, an Add-In will use IE11 **regardless** of the Office version documented in [Browsers used by Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins), right?

So in my case IE11 is used instead

[2021-04-16 14:13] baconbum commented on #2623
Just piggybacking on what @perjerz mentioned. He's correct, I was running into the error message

`Error: For sideload to web, you need to specify a document url.`

After putting the document property in config instead of scripts, I no longer received the error.

[2021-04-16 17:27] AlexJerabek commented on #2598
I'll also tag @TCourtneyOwen and @akrantz to help investigate. Could either of you please take a look at this issue today?

[2021-04-16 17:30] TCourtneyOwen commented on #2598
Adding @millerds @igor-ribeiiro

[2021-04-16 17:37] AlexJerabek commented on #2624
Thanks for reporting this @heebinho.

@Rick-Kirkham, can you please take a look at the [Runtimes manifest article](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/runtimes)? That note does seem out of date.

[2021-04-16 22:10] Rick-Kirkham commented on #2624
@heebinho  You are correct. The note is out-of-date. A Shared Runtime will now use Edge (Chromium) on the same Windows and Office version combinations that would support Edge (Chromium) in a task pane. I will get this article updated.

[2021-04-17 20:26] sandeep007bonds opened #2629 "Unable to get Token using MSAL"
I am unable to get access token using
**"await OfficeRuntime.auth.getAccessToken({ allowSignInPrompt: true, allowConsentPrompt: true })"** getting below mentioned error if I am using online excel hosted in sharepoint.com domain but working fine with online excel with OneDrive domain.

Error message :
Unsafe attempt to initiate navigation for frame with origin authorize:85
Unsafe attempt to initiat

[2021-04-18 07:20] matthias-glubrecht opened #2630 "The "document" property needs to go into the "config" section"
In order to enable debugging on the web, the "document" property needs to go into the "config" section, not into the "scripts" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab35128-1e97-c6ad-babc-f696f2e7b0fe
* Version Independent ID: cd1bacb1-14d7-a38d-321c-ebc2a526e03b
* Content: [Sideload Office Add-ins i

[2021-04-18 17:19] gspagoni commented on #2558
i cannot progress further with my company account
please close the issue
thank you
GS

[2021-04-19 18:48] igor-ribeiiro commented on #2598
@brad302 I just tried the Visual Studio tutorial following the tutorial: [https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=visualstudio](url) and it worked. I tested both changing the files as requested and just running the project as it it. Both of those worked here.

I think that the problem might be that you didn't accept the certificate that appears

[2021-04-19 21:33] #2624 closed

[2021-04-19 22:02] brad302 commented on #2598
@igor-ribeiiro that may very well be the case but it's not prompting me to accept anything. The doco says "IF" you are asked, but I am not. I actually don't recall it ever asking me. Are there any manual workarounds or alternative procedures you know of?

[2021-04-19 23:49] #2558 closed

[2021-04-20 05:34] pi3k14 commented on #2620
For me, external to Microsoft, it is impossible to know what components are used internal to any Office applications.
If you, Microsoft, know that other parts of Office are using other incarnations of a web browser it would be nice to provide pointers to such.

[2021-04-20 15:10] yanli0303 opened #2631 "Can a manifest file be loaded in both Excel and Outlook?"
It is mentioned on [this page](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/specify-office-hosts-and-api-requirements#set-the-hosts-element) that:

But it seems a manifest file can't be shared by Excel and Outlook:

1. The `xsi:type` attribute of `OfficeApp` element accepts either, `ContentApp`, `TaskPaneApp `, or `MailApp`. It sounds like we have to make a choice between Outlook an

[2021-04-20 17:59] davidchesnut commented on #2618
Hi @heebinho,

I just submitted PR #2632 to fix this. I don't know that this sample ever existed. This same subject is better covered in [Initialize your Office Add-in](https://docs.microsoft.com/office/dev/add-ins/develop/initialize-add-in). so I removed the duplicate content from the article. Let us know if you still need more information about onReady or initialize. Thanks!

[2021-04-20 18:17] igor-ribeiiro commented on #2598
@brad302 maybe you set-up it in the past to not accept the certificate and ask for the prompt to not ask again, but I guess this is not the problem, as you would be getting a security warning if that was the case

A search on the error that appears for you "this add-in could not be started" made me find the following link that you can also test: [https://support.cloudextend.io/en/articles/1689593-

[2021-04-20 19:52] Rick-Kirkham commented on #2620
I don't know whether Office uses other incarnations of browsers for other purposes. The issues in this repo are for tracking problems with the documentation for Office add-ins, which is where the expertise of the people that monitor this repo lies. As I understand it, you aren't actually making an Office add-in, so I think we should close this issue. But you might be able to get  an answer to your

[2021-04-20 19:52] #2620 closed

[2021-04-20 21:27] ElizabethSamuel-MSFT commented on #2630
@matthias-glubrecht Thanks for raising this issue. I'm closing this as a duplicate of https://github.com/OfficeDev/office-js-docs-pr/issues/2623.

[2021-04-20 21:27] #2630 closed

[2021-04-20 21:32] ElizabethSamuel-MSFT commented on #2631
@yanli0303 Yes, you're right, the manifest allows you to support Outlook (MailApp) or other Office applications but not both. We'll take a look at updating the documentation.

Thanks.

[2021-04-20 22:36] davidchesnut commented on #2344
Hi @dimitri-bourreau,

Just a quick update to let you know that I did get the [NodeJS SSO](https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO) sample to deploy on Azure. In case this helps, here are [my notes]( https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/issues/61#issuecomment-821517972)

Cheers,
David

[2021-04-21 05:08] pi3k14 commented on #2620
You ever heard the joke "it's not my table"?

[2021-04-21 10:13] brad302 commented on #2598
@igor-ribeiiro will check that out, in the meantime, can you attach a compressed zip file of the project that works for so I can see how it behaves on my machine?

[2021-04-21 14:48] jpickardsqr opened #2635 "Function name is wrong in documentation"
In the _Register an event handler_ section, the text refers to a `handleDataChange` function:

But the code in the following example actually uses a function called `handleChange`:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52542c44-015a-746d-5d6f-c43f6e4e6774
* Version Independent ID: dfe8c9fb-4107-e19b-972

[2021-04-21 15:49] #2631 closed

[2021-04-21 15:50] ElizabethSamuel-MSFT commented on #2631
@yanli0303 The doc updates should be published by the end of this week. Thanks.

[2021-04-21 16:27] igor-ribeiiro commented on #2598
@brad302 The compressed file is too big to be sent here (max 10MB and the file is 60MB). So it is not easy for me to send it.
But as I said, I just created the project normally, you should have the same project as me.

[2021-04-21 17:30] #2618 closed

[2021-04-21 23:08] brad302 commented on #2598
@igor-ribeiiro that may be the case but for me to run your project eliminates VS from the equation, standard troubleshooting approach.  It then squarely puts it back to something to do with my environment.  Either way, that suggestion in the link didn't work for me.

[2021-04-22 16:51] igor-ribeiiro commented on #2598
@brad302 sure, thanks for trying the suggestion I sent. Could you try running with `runtime logging`?
This would provide better error messages and would help us both debug this: [runtime logging](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/runtime-logging)

[2021-04-22 17:10] davidchesnut commented on #1717
Hi @NickDarvey,

You might try [using runtime logging to debug the loading issues.](https://docs.microsoft.com/office/dev/add-ins/testing/runtime-logging).
Also check the version of Office (between the one that works, and the one that doesn't) to see if maybe it is related to the version.
Finally, clearing the Office cache often resolves sideloading issues. See [Clear the Office cache](https://doc

[2021-04-22 20:17] jordandev commented on #2584
I see this as well.

Also because of this, docs about how to debug don't seem to be up to date as I cannot find a way to debug custom functions in desktop Excel with WebView2

[2021-04-23 21:29] #2623 closed

[2021-04-23 21:30] ElizabethSamuel-MSFT commented on #2623
@perjerz Thanks for raising this issue! The update should be published next week.

[2021-04-23 22:34] #2635 closed

[2021-04-23 22:34] ElizabethSamuel-MSFT commented on #2635
@jpickardsqr Thanks for raising this issue! The fix should be published next week.

[2021-04-25 19:03] VashJuan opened #2640 "Where's the page on debugging Excel with VS Code?"
I want to debug a local Excel add-in with MS VS Code.

Why does this article assume/imply I have to get a browser involved, adding to the complexity? Please provide a link to the page I need. I suspect others are getting led here errantly. Thx!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 614e69

[2021-04-26 04:52] RStadlmair opened #2641 "Excel only ?"
A valuable feature. Is this going to be available for Outlook also in a defined timeframe ?
R.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c7b653d-1bd6-a032-2046-6d6a2ad2b203
* Version Independent ID: 7165a66d-bc9a-dce9-91c4-7c1209d1324e
* Content: [Enable and Disable Add-in Commands - Office Add-ins](https://docs.

[2021-04-26 14:12] VSlobolinskyi opened #2642 "OfficeGropus and OfficeControls"
Could you please add support in manifest.xml for OfficeGroups and OfficeControls for PowerPoint on Windows? Currently those are only supported for PowerPoint on the Web.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540ad65e-a396-ce57-34fa-00e490028f0d
* Version Independent ID: d7807a56-e4d6-aa64-0dd8-3af677b9849d
* C

[2021-04-26 17:14] ElizabethSamuel-MSFT commented on #2641
@RStadlmair Thanks for your interest in Office Add-ins! At present, this feature has not been implemented. It would be great if you could submit this request on [Microsoft 365 Developer Platform Ideas](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). The feature crew considers these suggestions when they plan for upcoming work.

Thanks.

[2021-04-26 17:14] #2641 closed

[2021-04-26 21:11] #2642 closed

[2021-04-26 23:38] millerds commented on #2505
I was not able to repro this.  I followed the getting started guide at https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator and the add-in side loaded just fine.

Note that we recently made some changes to fix and issue that was related to updates in npm v7 that were giving us trouble with the dev server starting.  It should be working for both v6

[2021-04-27 16:34] ElizabethSamuel-MSFT commented on #2640
@VashJuan Thanks for asking about this.

@mscharlock Is there existing guidance for this?

Thanks.

[2021-04-27 16:42] VashJuan commented on #2640
I may have misunderstood. I guess that Excel may be using Edge internally to display the pop-up/control panel? That might be made more clear or even explicitly stated?!

[2021-04-27 20:20] puentesdiaz opened #2645 "Project Addin & UserLogon"
I'm develop a Office Project Addin with Node.JS

First to all, when execute my MSProject, i need log in with my ActiveDirectory Credentials....

How can i know which user i use (whoiam) since JAVASCRIPT?

[2021-04-28 09:26] theboyknowsclass opened #2646 "Removing Side-Loaded Addins from Desktop Office"
[Enter feedback here]

Is this page correct?  i've cleared the wef folder as stated, but the addins keep re-appearing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e273e29-10ac-440e-634e-588b5208e484
* Version Independent ID: a5a6dc8a-b504-686e-80ce-45aabd6f832b
* Content: [Clear the Office cache - Office Add-ins](ht

[2021-04-28 23:16] millerds commented on #2527
In the launch.json can you change "office-addin" to "edge" and see if that works?

[2021-04-28 23:46] AlexJerabek commented on #2646
Hi @theboyknowsclass,

Thanks for reporting this. I just tried to reproduce your issue and couldn't. Which application are you using (Word, Excel, PowerPoint, etc)? Also, are you additionally deleting the AppData found under `%userprofile%\AppData\Local\Packages\Microsoft.Win32WebViewHost_cw5n1h2txyewy\AC\#!123\INetCache\` ?

[2021-04-29 22:00] #1717 closed

[2021-04-30 14:44] ElizabethSamuel-MSFT commented on #2645
@puentesdiaz Thanks for asking about this.

@BeReasonable Can you help here?

Thanks.

[2021-04-30 18:07] ElizabethSamuel-MSFT commented on #2645
@BeReasonable Thanks for the offline update.

@NadinMerali Can you take a look at this?

Thanks.

[2021-05-03 08:19] mwchan commented on #2527
Hi Darren,

Edge does work. For some reason, both Edge and the original "office-addin"
now works. Is this issue intermittent? Any ideas what could have caused it
to stop working?

Thanks!

On Thu, Apr 29, 2021 at 7:16 AM Darren Miller ***@***.***>
wrote:

[2021-05-03 13:33] vicw87 opened #2653 "None of this works on Excel for Web"
I guess it's a different API, but I think there should be an update to the page explaining this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf942d54-3ee5-2476-e11f-0b658e0bb189
* Version Independent ID: 2a671958-54a3-f477-6624-f2bdc7c133e5
* Content: [Work with PivotTables using the Excel JavaScript API - Office Ad

[2021-05-03 16:33] AlexJerabek commented on #2653
Hi @vicw87,

I'm sorry to hear you're having issues with the PivotTable APIs. I just tried out a few [Script Lab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab) samples for the PivotTable APIs on Excel for the web. They seemed to be working okay. Could you please specify which PivotTable APIs or which pieces of sample code aren't working for you?

Thanks!

[2021-05-03 21:37] millerds commented on #2527
I can't say what happened.  I'm guessing something in the templates got corrected from when you first logged this issue (which was before I was on the project).  Let us know if you run into something like this again.

[2021-05-03 22:00] aafvstam commented on #2527
There is a lot going on (moving parts) ... I have been looking into this a lot lately. Much of it depends on the WebView used and other context related things like the version of the debug package (office-addin-debugging) version used in your package.json.

What is your output of:
npx office-addin-dev-settings webview .\manifest.xml
in your terminal?

When you set it to "edge" these days with the

[2021-05-04 14:51] tihomir4 opened #2656 "The Office Add-in manifest does not support Excel"
I am following the steps in this article - https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator but when I run "npm start" i get
Error: Unable to start debugging
- unable to sideload the Office Add-in
- The Office Add-in manifest does not support Excel

I thought that by accident I created Excel project, but then tried few more times - making sure

[2021-05-04 15:24] barclayadam opened #2657 "Event based activation - Are listed events correct / enabled?"
I'm trying to get some event based add-in working but cannot seem to get anything other than `OnNewMessageCompose` working for email-based events. Neither `OnMessageAttachmentsChanged` nor `OnMessageRecipientsChanged` ever seem to be fired, but based on the table at the top of this document the events seem to be supported.

To eliminate possible problems with my implementation I have a simple HTML

[2021-05-04 16:03] ElizabethSamuel-MSFT commented on #2656
@tihomir4 Thanks for let us know. We'll take a look.

Thanks.

[2021-05-04 16:05] ElizabethSamuel-MSFT commented on #2657
@barclayadam Thanks for raising this issue. We're in the process of updating the documentation for the additional events (i.e., besides OnNewMessageCompose and OnNewAppointmentOrganizer).

Thanks.

[2021-05-04 16:08] barclayadam commented on #2657
@ElizabethSamuel-MSFT Thank you for your response. Does this mean those additional events _are_ supported, but they will be registered in a different manner? Do you have any time scale for the updates?

[2021-05-04 16:10] ElizabethSamuel-MSFT commented on #2657
I'm actively working on updating the docs this week and hope to be done by the end of this week or early next week. They should be registered the same way. However, the new events may only be available in the Windows client at present.

[2021-05-04 16:17] barclayadam commented on #2657
OK, great news (well, except it only being available in the desktop clients :))

Is there a known workaround for getting them working in OWA, or is that scenario going to be implemented before go-live with these additional events?

Is there a reason that `addHandler` does not work in commands? i.e. `Office.context.mailbox.item.addHandlerAsync(        Office.EventType.RecipientsChanged, ...` shows

[2021-05-04 16:52] ElizabethSamuel-MSFT commented on #2657
We definitely appreciate your interest in this feature and your feedback! While this feature is in preview is the perfect time for feedback so we can tweak the design if needed before we ship. We expect the additional events to be available in the web client soon and so should be available in both clients before go-live in an official requirement set. There's no workaround for the not-yet-implemen

[2021-05-04 17:51] ElizabethSamuel-MSFT commented on #2656
@tihomir4 I created a new project by following the steps in the quick start but I didn't get this error (e.g., debugging started successfully). Can you share more details about your setup? For example, Node.js version, Outlook version, etc.

@millerds Any thoughts on what may be leading to this error?

Thanks.

[2021-05-04 17:59] barclayadam commented on #2657
Thanks for the heads-up on events section. It would be great if calling the functions in an unsupported environment would throw an error and not be marked as successful.

I look forward to seeing the updated documentation. Would it be possible to be notified here with your updates so I can check them out? Particularly keen on some answers to things like how timeouts will be handled, what actually

[2021-05-04 18:03] ElizabethSamuel-MSFT commented on #2657
I'll pass along that suggestion to the team (re: unsupported behavior). I'll also make sure to link the pull request to this issue. Any feedback you have on the PR is welcome too.

[2021-05-04 18:25] millerds commented on #2656
Can you share your package.json contents?

[2021-05-05 03:45] avisheknand opened #2662 "Hi Everyone,"
## Article URL

## Issue

[2021-05-05 03:50] avisheknand commented on #2662
Hi Everyone,

I am facing issue in our OnSend office addin in OWA. When we use send later option in OWA there is an error in the office. js for Office.context.mailbox.item.SaveAync Method. The error states " Connection error occurred while trying to save the item on the serve".  If send later option is not used then SaveAync works fine. Anyone has faced this issue before?

Please let me know your

[2021-05-06 04:00] #2646 closed

[2021-05-06 04:03] tvkien commented on #2006
Hi @AlexJerabek,

var comments = workbook.comments;
"This operation is not implemented."

I still facing this issue when trying to add comments in Excel using Excel Javascript Api. You can see the error attachment image below for more detail. I'm getting the error for all comment-related API. Please help me to resolve this issue. Thanks

![image](https://user-images.githubusercontent.com/63444197/

[2021-05-06 18:07] ElizabethSamuel-MSFT commented on #2657
@barclayadam We recently updated the article to note which clients support which events, how to preview on Windows, etc. There are more updates coming.

Thanks.

[2021-05-06 23:13] JuaneloJuanelo commented on #2657
@barclayadam  thanks for your proactiveness on testing this, FYI all this is in **preview** right now. As Elizabeth mentioned we only support Windows at this moment, Outlook on the Web will be supported in preview in the near future, and of course will be supported in both when we launch the feature to production. thanks for your patience in the meantime please try it in windows and send us feedba