[2020-04-18 08:23] LokiMidgard opened #1763 "Is Note about avalibility on Outlook connected to Exchange correct?"
The note says

I understand it that way, that the `on-send` will not work, in Outlook 2016 connected to an Exchange 2016. Because it must be connected to Office 365.

However I have an Outlook addIn written and it uses the `on-send` feature and it works on an Outlook 2016 connected to Exchange 2016 CU 6.

Did I missinterprete the note?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-04-18 08:25] LokiMidgard commented on #1758
@exextoc Thank you.

I added my votes to this request.

[2020-04-18 08:25] #1758 closed

[2020-04-19 13:20] Rednas83 commented on #720
Is anyone able to run the quickstart without the HTTP403/HTTP404 error?

[2020-04-19 19:23] sumurthy opened #1764 "Possible typo in the document"
Is this a mistake. See one the bullet points in the document.
&gt; A PivotTable contains a PivotTableCollections that has multiple PivotHierarchies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf942d54-3ee5-2476-e11f-0b658e0bb189
* Version Independent ID: 2a671958-54a3-f477-6624-f2bdc7c133e5
* Content: [Work with Pi

[2020-04-20 06:59] aagamdoshi commented on #1486
Is there a way where we can create Office.js with Angular in Visual studio

[2020-04-20 15:36] sumurthy opened #1765 "Picture description is wrong"
"... and Classification as a filter hierarchy (with Organic selected)." In the picture, organic is not selected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf942d54-3ee5-2476-e11f-0b658e0bb189
* Version Independent ID: 2a671958-54a3-f477-6624-f2bdc7c133e5
* Content: [Work with PivotTables using the Excel JavaScript

[2020-04-20 15:37] #1765 closed

[2020-04-20 15:54] AlexJerabek commented on #1764
Hi @sumurthy,
That does sound like a mistake. I'll make the correction soon.

[2020-04-20 16:06] AlexJerabek commented on #720
@Rednas83 I'll reopen the issue and start investigating this. Tagging @akrantz for additional guidance on the latest issue in this thread.

[2020-04-20 16:14] akrantz commented on #720
Adding @TCourtneyOwen to the thread. @AlexJerabek, it is difficult to understand what is the issue now from this re-opened thread. It would help if you can reproduce the issue and summarize what you're seeing.

[2020-04-20 16:22] AlexJerabek commented on #1762
Hi @naterush,

I'll reach out to the product team and start looking into this issue.

Off the top of my head, it seems like Excel is linking the references based on sheet ID (not name) and doing something to try to protect the references it thinks you want. Those reference adjustments might be treated as separate operations from the calculation engine. You can probably check this manually by going

[2020-04-20 17:11] mscharlock commented on #1486
There is no automatic template for an Office Add-in with Angular using Visual Studio, although I would suggest you read [our documentation about creating an add-in using Angular. ](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/add-ins-with-angular2) Let me know if that helps! Thanks. :)

[2020-04-20 17:12] mscharlock commented on #1763
@ElizabethSamuel-MSFT can you route this to right person? Thanks!

[2020-04-20 17:16] xstos opened #1768 "Mapping to graph url"
How does one map the itemId to a microsoft graph URL?
Found, this, not sure if there's a better way... https://blog.mastykarz.nl/office-365-unified-api-mail/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb2ef5c-e278-6aba-6fe8-7a4cc0e357d5
* Version Independent ID: ebc95637-b567-86b8-4f6d-ee9c6afee19e
* Content: [Off

[2020-04-20 17:17] AlexJerabek commented on #1764
Fixed with https://github.com/OfficeDev/office-js-docs-pr/pull/1766

[2020-04-20 17:17] #1764 closed

[2020-04-20 18:01] paulghodgson opened #1769 "Sideloading Installation Failed"
Attempting to side load using the manifest file example results in an "Installation Failed" message of "An internal server error occurred. The operation failed., Object reference not set to an instance of and obect. "  I this my fault or is there an omission in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-20 21:32] AlexJerabek commented on #720
Hi @Rednas83,
I just re-ran the vue quick start and tested the add-in. I also checked accessing `https://localhost:3000` through both Edge and Chrome. Everything seems to be working fine. I did not encounter the 403/404 error.
Check you double check you're using the updated quick start (patched with https://github.com/OfficeDev/office-js-docs-pr/pull/1737)? Also, be sure that the `vue.config.js` f

[2020-04-21 08:10] stukey opened #1772 "Please provide details for Office 365 Pro Plus SAC and SAC-T releases"
Please provide details of Office 365 Pro Plus version support for other channels. The example version number above - 16.0.11.629 - is the monthly Channel release from May 2019. Please advise when the change from IE11 to Edge was rolled-out to the Semi Annual Channel (SAC) and Semi Annual Channel Targeted (SAC-T) releases of Office 365 Pro Plus.

---
#### Document Details

⚠ *Do not edit this secti

[2020-04-21 16:04] ElizabethSamuel-MSFT commented on #1768
@exextoc Can you take a look?

Thanks.

[2020-04-21 16:23] ElizabethSamuel-MSFT commented on #1772
@stukey Thanks for asking about this. You should be able to determine this information from the [ProPlus update history page](https://docs.microsoft.com/officeupdates/update-history-office365-proplus-by-date).

Let us know if this helped or if you need any further clarification.

Thanks.

[2020-04-21 16:26] ElizabethSamuel-MSFT commented on #1768
@xstos Thanks for your interest in Office Add-ins. We use the issues in this repo to track problems with the documentation. Consider raising this technical question on Stack Overflow and be sure to tag it office-js. That way the whole community will benefit from the answers that you get.

Thanks.

[2020-04-21 16:34] ElizabethSamuel-MSFT commented on #1769
@paulghodgson Thanks for trying out this feature but sorry you hit this issue. However, the manifest example is actually an excerpt of a section of the manifest instead of a full manifest. We'll clarify that in the docs.

For more about manifests for Outlook, see [Outlook add-in manifests](https://docs.microsoft.com/office/dev/add-ins/outlook/manifests) and [Add support for add-in commands for Out

[2020-04-21 16:51] #1769 closed

[2020-04-21 17:00] #1768 closed

[2020-04-21 19:36] rjpruitt16 opened #1778 "The documentation should explicitly state makeEwsRequestAsync require an on premise exchange server."
I want to start by saying how disappoint I am in the documentation. This has been long process to discover something that should be explicitly stated at the beginning.

If I am wrong, please let me know.

In my attempt to create an outlook add-in, I became stuck with using the function makeEwsRequestAsync [.](https://github.com/OfficeDev/generator-office/issues/527). After many unanswered git issu

[2020-04-21 20:02] exextoc commented on #1763
Outlook for Office 365 supports `on-send` add-ins when connected to Exchange 2016 CU6. Could you provide the version of Outlook you are using?

[2020-04-21 22:00] #1537 closed

[2020-04-22 05:56] naterush commented on #1762
Hi Alex, thanks so much for getting back to me. Yes, I assumed that it was linked based on ID rather than name as well - it'd be great to know if you could turn this off programmatically and temporarily have references to invalid sheet names.

Thanks for the suggestion. We'll use those functions to find all formulas, save them, and then reapply them at the end. We're not sure that will scalable en

[2020-04-22 08:41] paulghodgson commented on #1769
I have a full add-in manifest that works fine for desktop, the issue here is that replacing the <DesktopFormFactor> element with a<MobileFormFactor> always results in a "An internal server error occurred. The operation failed., Object reference not set to an instance of and object. ".  According to the Yeoman generator the schema is valid, what seems to be lacking is away to debug this error, any

[2020-04-22 08:43] paulghodgson commented on #1769
I have a full add-in manifest that works fine for desktop, the issue here is that replacing the DesktopFormFactor element with a MobileFormFactor element always results in a "An internal server error occurred. The operation failed., Object reference not set to an instance of and object. ". According to the Yeoman generator the schema is valid, what seems to be lacking is away to debug this error,

[2020-04-22 13:41] aagamdoshi commented on #611
@foxjazz even i am facing the same issue with VS2019, can you share how to resolve this issue?

[2020-04-22 14:22] aagamdoshi commented on #1486
@mscharlock thanks for reverting
i am using [https://github.com/OfficeDev/Office-Addin-TaskPane-Angular](url) as a sample reference
After building a Word Addin and using angular ,Yo generator following issue occurs
1. Not able to view the hosted addin on web browser
2. Need to run the solution with higher admin rights
3. Also in VS2019
No symbols are loaded. even after starting and then setting br

[2020-04-22 16:33] AlexJerabek commented on #1762
Hi @naterush,

I'm glad this unblocks you for now. I saw your [StackOverflow post](https://stackoverflow.com/questions/61285393/delete-and-replace-sheet-without-destroying-references-to-it-in-excel-javascript/61299766#61299766) as well. The person responding, Raymond, is a member of product team.

I'll adjust the documentation to clarify what "calculations" imply and tag this thread in the resulti

[2020-04-22 17:25] AlexJerabek commented on #1762
@naterush I've created PR #1777 to clarify this behavior. I'd also recommend heading to [User Voice](https://officespdev.uservoice.com/) to request the exact functionality you're looking for. That helps us track and prioritize feature requests.

[2020-04-22 17:33] #1762 closed

[2020-04-22 17:52] mscharlock commented on #1486
@aagamdoshi - I see you have opened an issue in the sample repo (https://github.com/OfficeDev/Office-Addin-TaskPane-Angular) - I believe our engineers will be able to help you there! Let me know if they do not respond in a few days - we do want to get you an answer and they are usually good about replying. Thanks!

[2020-04-22 19:04] lindalu-MSFT commented on #1778
@AlexJerabek Issue transferred!

[2020-04-22 19:39] stukey commented on #1772
Thanks @ElizabethSamuel-MSFT unfortunately there’s nothing in the Office update history or release notes that indicates if or when the change of browser rendering from IE to Edge was added to the SAC or SAC-T releases. It’s not even mentioned in the referenced 16.0.11.629 monthly release notes either. So I’m not sure how anybody outside Microsoft is supposed to tell. Therefore I think this page st

[2020-04-22 20:51] ElizabethSamuel-MSFT commented on #1772
@stukey Thanks for responding. On the update history page, the build is truncated from 16.0.11629 to 11629.**** and all the channels use the same build series. As such, if the version for your channel uses a more recent build than the build you're interested in, then it should be available for you to download/use and the feature should be present. My team can't tell when the channels will be relea

[2020-04-22 20:56] ElizabethSamuel-MSFT commented on #1772
@stukey In this case and as of April 22, all the channels except the oldest SAC should include this feature.

[2020-04-23 06:31] LokiMidgard commented on #1763
I use Outlook 2016 (Build 12228.20332) Connected to Exchange 2016 CU6 and it works (which I find great).

[2020-04-23 08:41] paulghodgson opened #1783 "Typo in the Manifest example"
Scale of 2 is used twice for size 32, expect it should be scale 2 and 3

`&lt;bt:Image resid="UiLessIcon" size="32" scale="2" /&gt;
&lt; bt:Image resid="UiLessIcon" size="32" scale="2" /&gt;`

Should be
`&lt;bt:Image resid="UiLessIcon" size="32" scale="2" /&gt;
&lt; bt:Image resid="UiLessIcon" size="32" scale="3" /&gt;`

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-04-23 08:45] emindeniz99 opened #1784 "comma causes problem at custom function parameters at excel"
It gives this error https://support.office.com/en-us/article/how-to-avoid-broken-formulas-8309381d-33e8-42f6-b889-84ef6df1d586

"CONTOSO.GETSTARCOUNT("OfficeDev"**,** "Excel-Custom-Functions")"
When using semi colon instead of comma, this problem is solved.
"CONTOSO.GETSTARCOUNT("OfficeDev"   **;**   "Excel-Custom-Functions")"

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-04-23 15:16] stukey commented on #1772
@ElizabethSamuel-MSFT Thanks again. So, if I understand you correctly, if the change of browser support was added in version 11629 (Version 1905) of the monthly channel, then it should also be in the next available SAC release? So Version 1808 (Build 10730.20348) for SAC and Version 1902 (Build 11328.20318) for SAC-T? Or does the build no. actually have to be higher? E.g. Version 1908 (Build 11929

[2020-04-23 15:52] ElizabethSamuel-MSFT commented on #1772
@stukey The build number has to be the same or higher. So version 1908 (with build 11929.20562) or a more recent version should include this feature.

[2020-04-23 16:23] ElizabethSamuel-MSFT commented on #1783
@paulghodgson Thanks for raising this issue. The fix should be published soon.

[2020-04-23 16:23] #1783 closed

[2020-04-23 16:30] exextoc commented on #1763
It appears that version of Outlook is part of Office 365. We will update our documentation to make sure this is reflected

[2020-04-23 16:38] AlexJerabek commented on #1784
Thanks for reporting this @emindeniz99.

@mscharlock, could you please investigate?

[2020-04-23 17:14] mscharlock commented on #1784
Hi @emindeniz99 - Thanks for writing in with this issue. I can't reproduce it.
Can I ask what version of Excel you are using and on what platform (web, mac, windows) and if you are part of the Office Insider program?
Thanks!

[2020-04-23 18:42] emindeniz99 commented on #1784
![image](https://user-images.githubusercontent.com/44745432/80135657-28481000-85a9-11ea-995c-72dc5066937f.png)
![image](https://user-images.githubusercontent.com/44745432/80135789-68a78e00-85a9-11ea-9b89-3f9c1e1f1afe.png)
![image](https://user-images.githubusercontent.com/44745432/80135840-807f1200-85a9-11ea-94fe-837c977bd7e6.png)

I tested on those platforms
Excel Online 16.0.12821.35900
Office 3

[2020-04-23 18:42] #1784 closed

[2020-04-23 20:39] MrMichaelJKelly opened #1786 "Some guidance on reporting errors?"
Above, you say "End users will not see those error messages in the add-in task pane or anywhere in the host application."  OK - so what is the best practice here?  Is this just left to every person to figure out on their own?  Give some examples of what options are available for reporting errors that aren't software bugs (e.g. a server is not reachable, content is not in the correct format) to end

[2020-04-23 21:35] stukey commented on #1772
Ok! Thank you! That makes sense.

[2020-04-23 21:35] #1772 closed

[2020-04-23 21:37] ElizabethSamuel-MSFT commented on #1772
@stukey No problem, glad that helped! Thanks again for asking about this.

[2020-04-24 21:55] ElizabethSamuel-MSFT commented on #1786
@MrMichaelJKelly Thanks for asking about this.

@AlexJerabek Can you take a look and assign as appropriate?

Thanks.

[2020-04-25 00:14] oberoiankush commented on #1778
@rjpruitt16 Could you please elaborate on the issues you faced when you say you were stuck with using the makeEwsRequest function? Were there any errors being returned? What client were you testing the add-in on (outlook for Windows/MAC/OutlookWebApp)?

Exchange server is a requirement for Outlook add-ins to work. Here's a link to the document that outlines the pre-requisites for Outlook add-ins:

[2020-04-25 08:58] Roei-Bracha opened #1788 "OneNote is undefined"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/onenote-quickstart

## Issue
I tried to run the code from the demo but I got  the following error in console:
`Error: TypeError: Cannot read property 'run' of undefined`
 I tried to console log OneNote and it returned undefined

I used Mac and OneNote online

[2020-04-25 19:37] swimhiking opened #1789 "How to install JavaScript Add In"
This is a very cool project; I am very interested in develop Excel Add In using javascript; I have a very beginning question about how to install? I try to follow the instruction, not sure how to manually install the Add In, and which file should to install. Document mention "Mail Add-ins", but if I develop one for myself, no need to mail, don't know  where and which file is for installation. Than

[2020-04-27 04:51] rjpruitt16 commented on #1778
If you want to read more about my issue, you can find [https://stackoverflow.com/questions/61451273/do-you-need-an-on-premise-exchange-server-to-call-makeewsrequestasync](url) on stackoverflow. The problem I have with documentation is that it does not mention explicitly any where that you need a on premise exchange server to use almost every api useful for building an add in. It something that is

[2020-04-27 11:21] Rednas83 commented on #720
After opening https://localhost:3000/ in Edge I get
![image](https://user-images.githubusercontent.com/25219229/80363781-01c5f580-8885-11ea-9930-3aef2a8b1b72.png)
After opening https://localhost:3000/taskpane.html in Edge I get the same
![image](https://user-images.githubusercontent.com/25219229/80364040-7e58d400-8885-11ea-8405-1ea44d4477c4.png)
After opening in Excel everything works
![image](htt

[2020-04-27 13:00] alurirajani opened #1790 "Restoring Excel Web addin"
Hi I have created an excel web addin

which contains few drop downs in the task pane.

when i save the excel and reopen it ..then i would like to see the dropdown selection as it is after opening the excel.

Can any one please suggest how can i do it?

Thanks.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-04-27 16:27] AlexJerabek commented on #720
@Rednas83,

Thanks for the additional information. Based on your reporting, the issue is not just in the vue quickstart, but in the JQuery one as well, correct?

I'm going to open a new issue tracking that problem, since it is possibility unrelated to this older issue.

[2020-04-27 16:30] AlexJerabek opened #1791 "Connection issues with Excel quick starts"
After opening https://localhost:3000/ in Edge I get
![image](https://user-images.githubusercontent.com/25219229/80363781-01c5f580-8885-11ea-9930-3aef2a8b1b72.png)
After opening https://localhost:3000/taskpane.html in Edge I get the same
![image](https://user-images.githubusercontent.com/25219229/80364040-7e58d400-8885-11ea-8405-1ea44d4477c4.png)
After opening in Excel everything works
![image](htt

[2020-04-27 16:37] #720 closed

[2020-04-27 16:43] AlexJerabek commented on #1790
@Rick-Kirkham Could you please investigate this? Thank you.

[2020-04-27 16:49] AlexJerabek commented on #1789
Hi @swimhiking,

Thank you for your interest in Office Add-ins. You won't install an Office Add-in in the traditional sense. You'll need to deploy and publish the add-in by hosting the web service somewhere. More information can be found [in this article](https://docs.microsoft.com/office/dev/add-ins/publish/publish).

I'd also recommend starting your learning journey on [this page](https://docs.m

[2020-04-27 16:49] #1789 closed

[2020-04-27 17:02] AlexJerabek commented on #1790
Sorry for letting this bot close this. I want to make sure we don't have a sample or need for a sample relating to this scenario.

[2020-04-27 17:09] alurirajani commented on #1790
How to get solution then

[2020-04-27 17:28] AlexJerabek commented on #1786
Hi @MrMichaelJKelly,

A believe the section you're referencing is about `console.log`, which is not displayed in the task pane an end-user would see. You can still display messages to users through dialogs or your add-in's taskpane. This logic should be in the `errorHandlerFunction` shown in the code snippet under [Best practices](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-e

[2020-04-27 19:26] MrMichaelJKelly commented on #1786
Thanks a lot for the quick response!

Right, I know console.log is more for debugging than users – so that’s the gist of my question, your sample code on this page shows the right way to report errors for debugging but not the right way to do it for production, i.e. errors that I would want to show to a user.

Your answer below is “You should alert the user to the failure and recommend they retry

[2020-04-27 22:20] Rick-Kirkham commented on #1786
@MrMichaelJKelly How you report errors to users depends on the UI system you are using. It's good that you want the UI to be compatible with Office. If you are using React as the UI system, you can use the [Fabric React](https://docs.microsoft.com/office/dev/add-ins/design/using-office-ui-fabric-react) (in the process of being renamed "Fluent UI") components and design elements.  Pick out an appro

[2020-04-27 22:22] AlexJerabek commented on #1786
@Rick-Kirkham We should definitely add that section. Please create the appropriate internal work item.

[2020-04-28 09:25] moshikonachmias opened #1792 "Authentication options in Outlook add-ins"
In this article: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/authentication
you mention a number of options on how to do authentication.
But as what I understood from deep dive in your doc the first option SSO is not supported in AppSource add-ins and not recommended for production env.
If it's true I think you MUST put it in bold in this article.
It will save a lot of time for fin

[2020-04-28 17:21] ElizabethSamuel-MSFT commented on #1792
@moshikonachmias Thanks for raising this issue. We're updating the docs to indicate that preview/beta APIs shouldn't be used in production add-ins (see PR #1794).

Thanks.

[2020-04-28 17:31] #1792 closed

[2020-04-28 20:16] chowcl opened #1796 "Supported applications"
Hi there,
Based on the below line:
"The same add-in and business logic works across desktop (Outlook on Windows and Mac), web (Office 365 and Outlook.com), and mobile."

Does it mean that the Outlook Web App (OWA) is not supported for Exchange 2013 & 2016 mailboxes ?
I do see the Add-In button in the OWA, but it does not behaviour as the manifest dictates.  It seems to always look for a functions.

[2020-04-29 04:24] chowcl commented on #1796
My mistake.  Looks like OWA is part of Office on the web.

[2020-04-29 04:24] #1796 closed

[2020-04-30 06:09] alurirajani commented on #1790
Hi any update I have created in stackoverflow too...
https://stackoverflow.com/questions/37714464/how-to-activate-taskpane-plugin-addin-for-office-online-when-i-open-a-excel-file
 pls I need solution asap. Thanks in advance.

[2020-04-30 18:27] Rick-Kirkham commented on #1790
I have given a new answer to that Stack Question. It is now possible to set a task pane to autoopen when the document opens.

[2020-04-30 18:32] Rick-Kirkham commented on #1486
Thanks to everyone who provided feedback on this question. We have recently published our first learning path. It is for beginners to add-in development. The next learning path in the works is for helping VSTO/VBA developers transition to either Office Scripts or add-ins. I'm closing this issue, but anyone can still add suggestions and we will be alerted when you do.

[2020-04-30 18:32] #1486 closed

[2020-04-30 19:41] anantjs11 opened #1801 "WorksheetCollection.addFromBase64() api not available in latest version of office.js"
We are in a desperate need of an excel office javascript api to Insert the specified worksheets of a workbook into the current workbook.

I found below api in the preview version
WorksheetCollection.addFromBase64()
[Details here](https://docs.microsoft.com/en-us/javascript/api/excel/excel.worksheetcollection#addfrombase64-base64file--sheetnamestoinsert--positiontype--relativeto-)

Please include t

[2020-04-30 20:23] tuyoyexcel commented on #1486
Could you provide us with the link where it has been published?
Thank you!!!!!

[2020-04-30 20:44] AlexJerabek commented on #1801
Hi @anantjs11,

We are working on releasing this API into general availability. It is presently in preview because it is not supported across all platforms. We understand the customer need and are trying to add this feature to an upcoming requirement set.

We'll be talking about this API on the upcoming Office Add-ins Community Call. There, we'll be answering customer questions and surveying devel

[2020-04-30 20:44] #1801 closed

[2020-05-01 05:32] anantjs11 commented on #1801
Thanks @AlexJerabek for quick and helpful response.
I Hope, we can get this feature included in the upcoming release of office.js.

[2020-05-01 19:23] Rick-Kirkham commented on #1486
@tuyoyexcel
It's here: [Start Here! A guide for beginners making Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/learning-path-beginner)

[2020-05-01 20:10] tuyoyexcel commented on #1486
@Rick-Kirkham Thanks!!! I found yesterday this link https://docs.microsoft.com/es-es/learn/paths/m365-office-add-in-associate/
I guess both are the same, I have checked it last night and it is really very good documentation for starting.
Regards.

[2020-05-04 01:52] rjpruitt16 commented on #1778
From my understanding, the code should work with an cloud exchange server, but there seems to be an bug that does not allow for it right now. So a better solution would be to write in makeEwsRequestAsync that it should work with online exchange servers by default. However, there is a bug currently.

[2020-05-04 07:11] vikasm1720 opened #1802 "Misleading information about using VS Code debugger for Excel Desktop"
Steps mentioned in [code debugger for Excel desktop](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-debugging#use-the-vs-code-debugger-for-excel-desktop) is incorrect. we do not have an option to choose **Excel Desktop** from the debug options. The VS code [document](https://code.visualstudio.com/docs/other/office#_debugging-your-office-addin) states VS Code does not cu

[2020-05-04 13:48] aagamdoshi commented on #315
Is there a way where we can run Angular solution on Visual Studio and not go by Yeomen generator

[2020-05-04 16:51] mscharlock commented on #1802
Hi @vikasm1720 - Thanks for reading the custom functions documentation and letting us know about this oversight. I will have a look at it and update. Thanks!

[2020-05-05 01:00] #1786 closed

[2020-05-05 05:14] Faisalalmosi opened #1806 "sh"
## Article URL

## Issue

[2020-05-05 05:15] #1806 closed

[2020-05-05 13:38] vikasm1720 commented on #1802
Please check the documentation for VS Code debugger for Excel in Microsoft Edge, I was unable to find Office Online (Microsoft Edge), mentioned in step 5, Thank you

[2020-05-05 13:58] PavanaKatta opened #1807 "Need to save working excel into database."
I need to save opened excel file into my database. I tried to Office.Document.getFileAsync(). But, that also not working.

 Office.context.document.getFileAsync(Office.FileType.Compressed, { sliceSize: 65536 /*64 KB*/ },
       (result) => {
        console.log("callback start");

         if (result.status == "succeeded") {
           var sliceIndex = 0;
          var myFile = result.value;

[2020-05-05 19:50] Kindyr opened #1808 "HELP! remove - Build your first Word task pane add-in"
I used https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=visualstudio to create my first add-in.  Now, I can't seem to make it stop.  Every time I open up a Word Doc, I have "This text was added by using code.This text was added by using code.This text was added by using code." across the page.

The add-in is not on my add-in list in the Developer tab.  Microsoft

[2020-05-06 12:42] thunter05 opened #1809 "PLEASE Add Support to Connect Pivot Tables to External Database"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-pivottables

## Issue
Excited about the new JS Excel API, BUT can we PLEASE add support to connect Pivot Tables to External Database Datasources? This is available in the VBA Excel Object Model and is something we use a lot at my organization. It's a key feature. We refreash our pivot tables when the database da

[2020-05-06 14:34] Slidemagic opened #1810 "Persistent settings across documents?"
Is there a way to save a user token across documents, so the user can stay signed in when using the add-in of an Office app (PowerPoint in my case) across more than one file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b683480b-a4fe-97ba-64f9-45ecfe829bf4
* Version Independent ID: a0993174-18dd-9594-9c3c-102d078e221

[2020-05-06 16:33] AlexJerabek commented on #1809
Hi @thunter05,

Glad to hear you're excited about the new Excel APIs. The new requirement set, ExcelAPI 1.11, is releasing to general availability this week, so you'll have a few more features for your add-ins.

If you'd like to request external connection support for PivotTables, please head over to the [Office Developer UserVoice](https://officespdev.uservoice.com/). There, you can request featu

[2020-05-06 16:33] #1809 closed

[2020-05-06 19:36] deeagar opened #1814 "Access Office.context.document.settings on server"
Hi,
I am using office.js and saving some settings as key-value pairs described in your article using Office.context.document.settings API.
Now, the complete fileBytes are transferred to the server and I need to read this settings in C# .net to take further actions. However, I am not able to find those custom settings. I am using WordprocessingDocument class of  DocumentFormat.OpenXml.Packaging to

[2020-05-06 20:11] mscharlock commented on #1810
@Rick-Kirkham do you happen to know on this one? Thanks!

[2020-05-06 20:22] Rick-Kirkham commented on #1810
For the most part, an add-in lives in a universe where there's only one Office document: the one that's open. So, I'm not sure what you mean by using an add-in "across more than one file". If a user opens your add-in in a document, then closes the document and opens another one, (s)he has to relaunch the add-in.

There is a preview [Single Sign-on system](https://docs.microsoft.com/office/dev/add-

[2020-05-06 20:22] #1810 closed

[2020-05-06 20:35] AlexJerabek commented on #1807
Hi @PavanaKatta,

Have you looked at this sample [Get file using slicing](https://github.com/OfficeDev/office-js-snippets/blob/master/samples/excel/26-document/get-file-in-slices-async.yaml). That should help you load the file into memory and create a new workbook with it. You can then use the new [Workbook.save](https://docs.microsoft.com/javascript/api/excel/excel.workbook?view=excel-js-preview#

[2020-05-07 00:50] redcirkle opened #1816 "Refreshing conditional formatting"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/excel/excel.application?view=excel-js-preview

## Issue
We are building an Excel add-in that applies conditional formatting to some columns. Depending on input data, we shade the cells green. However, we notice that, if we copy-and-paste data into the sheet, the conditional formatting doesn't calculate right away. Here's an example art

[2020-05-07 03:13] thunter05 opened #1817 "Excel JS API - Support for CSS Grid?"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator

## Issue
It appears that CSS Grid is not supported in the Excel add-in task pane window. It looks like flex-box is supported and is part of the base templates provided by the npm office generator project. Is that the case? If so then I hope CSS Grid can be added.

[2020-05-07 09:18] Teemuer commented on #1598
I have the exact same issue with Word add-in. Everything stopped working after windows and office updates... certificate install/uninstall did not work.

[2020-05-07 16:04] AlexJerabek commented on #1817
Hi @thunter05,

Thanks for the question. @Rick-Kirkham, can you confirm the CSS support? Do we have any documentation around what is or is not supported by the task pane?

[2020-05-07 17:09] thunter05 opened #1820 "Excel JS API - Attach Debugger Not Working (VSCode)"
I'm trying to debug my Excel JS API add-in using VSCode. I am able to debug the UI using the browswer on localhost but I cannot figure out how to debug the Excel context interactions. I cannot find the documentation on how this works. Only see sideloading examples with the UI items in the browser. Nothing on debugging Excel context interactions.

Debugging Link: https://docs.microsoft.com/en-us/of

[2020-05-07 17:29] Rick-Kirkham commented on #1817
@thunter05 Can you provide a simple example that I can use to try to reproduce? Also, what platform are you using to develop? Desktop Windows? Desktop Mac? Excel on the web?

[2020-05-07 20:07] thunter05 commented on #1820
Thanks mscharlock! I saw these documents as well. So I guess my main question is can I debug my Excel JS API add-in using VSCode? It looks like I can only debug using Visual Studio. I’m pretty bummed about that if so. Thanks again!

[2020-05-07 20:16] yowl opened #1821 "Improve documentation for working with existing .Net web project"
If you want to create custom functions that connect to a web project you have in asp.net (core or otherwise), the Yeoman approach is a pain as you end up with 2 web servers and then you have preflight/CORS issues to deal with.  It would be good to have a github repro, or section about how to integrate with an existing .Net web project.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-07 20:44] thunter05 commented on #1817
Hello Rick-Kirkham!

Thanks for getting back to me. My use case is simple in that I have the code below. The `display: grid` does not work in the Excel panel window. `display: flex` does work.

[code]

I’m running a ReactJs Excel API add-in project for the Windows desktop. Using this npm project generator: https://developer.microsoft.com/en-us/office/blogs/creating-office-add-ins-with-any-editor-i

[2020-05-07 20:48] Rick-Kirkham commented on #1817
Thanks. I'm more a flexbox person than a grid person. What would you normally expect to see from `grid-template-columns: 2% 1fr;`?

[2020-05-07 20:59] thunter05 commented on #1817
Grid is nice for page layout. It’s a much easier way to center content and place components with more control without using positioning and floats. Flex-box can do the same stuff but it’s more suited for laying out lists of items along an vertical/horizontal axis.

The css I wrote is a simple way to create a header where my img and h1 tags can be placed next to each other on the same line. Then I

[2020-05-07 21:19] Rick-Kirkham commented on #1817
OK. So you expect to see the img and h1 side-by-side and you're actually seeing the H1 below the img. Is that right?

[2020-05-07 21:46] ElizabethSamuel-MSFT commented on #1778
@rjpruitt16 It seems like you've opened issue https://github.com/OfficeDev/office-js/issues/1139 to report this possible bug. Since there doesn't appear to be a doc need here, I'll close this issue.

If you hit any other issue, as appropriate do comment in this issue thread, or open a new issue in the [office-js](https://github.com/OfficeDev/office-js/issues) product repo or here in the docs repo.

[2020-05-07 21:46] #1778 closed

[2020-05-07 22:30] thunter05 commented on #1817
Yes that’s right. I ended up working around it by using flex box but ideally css grid is supported for more complex layout use cases

[2020-05-07 23:01] Rick-Kirkham commented on #1817
Thanks. One last (I hope) question: If you open the url of the add-in directly in a browser window, does it render as expected? (The add-in won't work, but the page should render.)

[2020-05-07 23:55] thunter05 commented on #1817
That’s right.

It renders correctly in the browser. Does not render correctly in the excel add-in panel.

[2020-05-08 03:45] thunter05 commented on #1820
Hello @mscharlock,

So I found this link below talking about debugging the Excel addin in VSCode. This is saying it’s not supported. I guess I have no idea how someone can test/debug their add-in without having the ability to set breakpoints and see what is going on with the program. I’m nervous that I won’t be able to figure out issues if I can debug the program. Seems like a deal breaker.

https

[2020-05-08 06:57] PavanaKatta commented on #1807
@AlexJerabek , Thanks a lot for your quick response. I have been trying this from last couple of days, but with the help of your response, i could able to achieve my implementation.

Thanks a lot once again Alex..

[2020-05-08 06:57] #1807 closed

[2020-05-08 08:01] PavanaKatta opened #1823 "Load worksheet into working excel."
Hi Team,

I have a scenario where i need to load existing workbook into working(opened) workbook.

I have tried to use **addFromBase64**, but, still this is in beta version and can not implement for Office365.

Could you please suggest any other way i can achieve this functionality and let me know  when addFromBase64 functionality is available in the production.

We are eagerly waiting for above f

[2020-05-08 13:49] wh1t3cAt1k opened #1824 "Clarifications about avaialbility"
I am currently working on a product that desperately needs the presence of IndexedDB storage APIs in Excel custom functions (I need to cache quite a bit of data for smooth calculation experience).

AFAIU it is currently not possible inside the custom functions' runtime.

I encountered this: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-shared-overview

Since the life o

[2020-05-08 16:24] AlexJerabek commented on #1823
Hi @PavanaKatta,

The `addFromBase64` functionality is being worked on as a high priority feature. If you can, I'd recommend joining the [Office Add-ins Community Call](https://aka.ms/officeaddinscommunitycall) this Wednesday, May 13th, at 8am PDT. The PM for the feature will be talking about its rollout and surveying developers about their use cases. This should help us deliver the feature faster

[2020-05-08 16:24] #1823 closed

[2020-05-08 19:59] Rick-Kirkham commented on #1486
We now have a learning path for people transitioning from VSTO add-ins to web add-ins: [Transition Here! A guide for VSTO add-in creators making Office Web Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/learning-path-transition)

[2020-05-11 09:32] wh1t3cAt1k opened #1830 "Is there a way to have multiple custom functions with different namespaces?"
As I understand it would require setting up several extension points with type CustomFunctions, each of which would have a separate namespace.

Is it supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ad7803-d4f7-a700-7c7f-204cd8f34e4a
* Version Independent ID: 9c485bae-cab1-bdad-4c8e-baad2b12b22d
* Content: [

[2020-05-11 13:29] celownick commented on #584
Hi @davidchesnut , @kbrandl and folks,
can I kindly ask for any updates on this ? We are preparing strategy for add-in testing and answering questions mentioned by @LanceEa wound have a crucial meaning for our team.
Thank you

[2020-05-11 17:55] mscharlock commented on #1820
@thunter05 - I am working on documenting a VSCode Extension which will allow for debugging of add-ins with dynamic debugging capabilities. It should roll out very soon, so I will keep you posted!

[2020-05-11 17:57] mscharlock commented on #1821
Hi @yowl, Thanks for this feedback! I will take it to our PM team and see what we can do about updating the documentation here. Given we have a full team devoted to developing Yeoman tooling, it will probably continue to get more attention (just as an FYI) but you bring up a good point about integration with an existing .Net project.

[2020-05-11 17:59] mscharlock commented on #1830
Hi @wh1t3cAt1k - I am going to transfer this to the Excel-Custom-Functions repository, where we can check with an engineer (I am just not sure on the answer on this one). Thanks!

[2020-05-11 20:25] sshukurov opened #1834 "Do multiple user profiles have different storage instances in Excel on Windows"
`localStorage` in browsers is implemented so that it is unique for each browser user profile. Can I expect the same from `storage` in Excel on Windows? If I have multiple user profiles on my PC, does each user have their own storage instance in Excel on Windows?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8364ff6-e

[2020-05-12 10:24] Slidemagic commented on #1810
Thank you @Rick-Kirkham. I brought this issue up, because my draft PowerPoint add-in was rejected because of this SSO issue. My add-in gives access to a slide template database, but the PowerPoint Javascript API has only 1 function at the moment: create a new presentation. So whenever a user picks a slide for download, I need to serve it as a new presentation in a new Window or browser tab. I will

[2020-05-12 14:27] jimbarrett33 opened #1838 "Preview status and will anything change with the new SaaS monetization model?"
This has been in preview for a while and since then there is a new SaaS monetization model for selling apps via App Source. This document indicates "In addition, add-ins that use SSO are not accepted in AppSource." Will this still be the case under the new SaaS monetization model? Forcing the user to sign-in again inside the add-in is not the best user experience. Thanks.

---
#### Document Detail

[2020-05-13 05:44] flutable opened #1840 "Capability comparison between Office Add-ins (web technology) and VBA"
Could you please point to a comparison of the Office Add-ins API and VBA. Is there anything that VBA can do that Office Add-ins cannot do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42faa32c-446b-0209-4a24-9a29b4921ea1
* Version Independent ID: a5f0fc77-a881-df1e-1f49-aa0e555022e0
* Content: [Office Add-ins platfor

[2020-05-13 08:51] hariharan605 opened #1841 "Visual Studio for Mac"
Can we develop this Office add-in using Visual Studio for mac ?
If possible kindly share me the document link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930ce4fc-c8b8-f756-f03f-a716f1ef7883
* Version Independent ID: 753a2e38-9430-25bb-5409-b7eed9c88e47
* Content: [Build your first Outlook add-in - Office Add-ins](

[2020-05-13 15:59] ElizabethSamuel-MSFT commented on #1841
@exextoc Can you confirm about using Visual Studio for Mac?

Thanks.

[2020-05-13 19:10] thunter05 commented on #1820
Thanks so much mscharlock! Do you have any sense of when that might happen? I'm kind of flying blind right now when I run into Excel issues.

[2020-05-13 20:26] AlexJerabek commented on #1840
Hi @flutable,

Unfortunately, the document you're looking for doesn't exist. There's no side-by-side comparisons of the two platforms. There is [a top-level overview comparing VBA to Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/resources/vba-differences) (which have similar benefits and limitations to add-ins except that add-ins are cross-platform and scripts are web client-

[2020-05-13 20:26] #1840 closed

[2020-05-14 12:34] bindhyeswari commented on #1028
@turchinc it would have been hilarious if not irritating. Though to be fair, the office addin docs on msdn clearly state what addins can do. It is a **sandboxed environment** Now, I understand the difference between `addins` and `plugins` :)

Could've saved myself 6 hours of Fluent UI, webpack customizations and layout work had I read the docs carefully. Even without the docs, it makes sense becau

[2020-05-15 05:16] exextoc commented on #1841
Visual Studio for Mac does not support Office Workload yet. Here is the [list of supported workloads](https://docs.microsoft.com/en-us/visualstudio/mac/workloads?view=vsmac-2019)

You can follow [Build your first Outlook add-in using Yeoman generator](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) and use Visual Studio as editor.

[2020-05-15 05:16] #1841 closed

[2020-05-15 07:17] aagamdoshi opened #1854 "Add-in dialog box cannot be displayed error in displayInFrame"
The fix provided in the [Solution](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting#add-in-dialog-box-cannot-be-displayed)

## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting#add-in-dialog-box-cannot-be-displayed

## Issue
The solution of code should be
`Office.context.ui.displayDialogAsync(startAddress, {di

[2020-05-15 09:22] stephane0007 opened #1855 "issue with step2"
Follow the instructions in Sideload Outlook add-ins for testing to sideload the add-in in Outlook. is not working for me ...the File&gt;Manage Addins button opens web Outlook but neither shows anything allowing me to add the manifest plugin created in previous steps..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930c

[2020-05-15 16:11] Rick-Kirkham commented on #1854
Good catch. I'll try to fix this right away.

[2020-05-15 16:14] Rick-Kirkham commented on #1854
This has been fixed in the source and the fixed version will be public in the next few days.

[2020-05-15 16:14] #1854 closed

[2020-05-15 21:01] ElizabethSamuel-MSFT commented on #1855
@stephane0007 Sorry you're getting this behavior. Can you look through the [sideloading article](https://docs.microsoft.com/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing) to see if this helps your situation?

Thanks.

[2020-05-18 17:02] Rick-Kirkham commented on #1790
Closing since this is being tracked with the Stack question.

[2020-05-18 17:02] #1790 closed

[2020-05-19 09:11] modestfake opened #1869 ""App error" should be changed to "add-in error" in "Common errors and troubleshooting steps" section"
I've noticed that the actual error is "Add-in error", not "App error".
Here's one of error messages:
![image](https://user-images.githubusercontent.com/16977959/82308089-f8cecc80-99c9-11ea-9bea-51116dbae8f8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6cb5f52-dfc5-4fa2-6508-194d6f1c674a
* Version Independent ID

[2020-05-19 17:05] ElizabethSamuel-MSFT commented on #1855
@stephane0007 Does that mean you're seeing the classic UI when you open Outlook in a browser and you're following the instructions in the [Sideload an add-in in classic Outlook on the web](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing#sideload-an-add-in-in-classic-outlook-on-the-web) section? Can you share a screenshot of what you're seeing?

Than

[2020-05-19 17:09] stephane0007 commented on #1855
Hello Elizabeth, i have actually solved this issue we can close this.

[2020-05-19 17:09] #1855 closed

[2020-05-19 17:12] ElizabethSamuel-MSFT commented on #1855
@stephane0007 Glad to hear that. Do let us know if there's any we can make clearer in the docs.

Thanks.

[2020-05-19 18:58] #1763 closed

[2020-05-19 18:59] ElizabethSamuel-MSFT commented on #1763
@LokiMidgard We've updated the docs to clarify this. The changes should be published soon.

Let us know if you need further clarification or face some other issue.

Thanks!

[2020-05-19 20:09] mscharlock commented on #1834
Hi @sshukurov, Apologies for the delay in getting back to you. Let me look into this. In the meantime, you might think about moving from `storage` to a shared runtime scenario, which allows you to use `localStorage` and eliminates some of the hassles of passing things back and forth through `storage`. We recently updated all the custom functions docs to discuss the shared runtime, and there's a go

[2020-05-19 20:25] sshukurov commented on #1834
Hi @mscharlock, I appreciate your reply. We have already been using the shared runtime in our project, we still have the need to store some state which must survive page refreshes or browser restarts.

[2020-05-20 17:39] mscharlock commented on #1802
Will do. Also, I wanted to let you know that there is a new option for debugging in VS Code which runs against the Edge runtime (this just came out on Monday). You can find details here: https://github.com/OfficeDev/vscode-debugger-extension-for-office-addins

[2020-05-20 17:42] mscharlock commented on #1834
Ok super. Let me check with our team and get back to you :)

[2020-05-20 21:50] Rick-Kirkham commented on #1707
This was fixed as a side effect of this commit: https://github.com/OfficeDev/office-js-docs-pr/commit/499f1417aae79173437e894f82f301cbc1c1ad5c#diff-5a8cac22d242af2f0179e0f7adf07d15

[2020-05-20 21:50] #1707 closed

[2020-05-20 23:23] Rick-Kirkham commented on #1817
I tried to reproduce this in the [Script Lab](https://appsource.microsoft.com/product/office/wa104380862) tool. But it renders as expected. The elements are side-by-side. Do you find that it works in Script Lab?

[2020-05-21 13:13] simpjack89 commented on #1802
i also check the documentation for VS code debugger but it always run me to https://Joker123gaming.co what should i do?

[2020-05-21 15:11] rgwood opened #1878 "Is there any support for running the back-end locally?"
This document discusses calling a .NET back-end hosted on Azure. Do you provide any support for shipping a _local_ .NET back-end with an Office add-in?

We need to keep data on the user's machine for confidentiality reasons, we can't send user data to a cloud back-end for processing. My understanding is that Office Add-ins do not provide any support for deploying local back-ends, so we'd need to h

[2020-05-21 15:56] FiddlersCode commented on #195
I'm running Catalina and the latest version of Word, can't get `inspect` to show up either. Any help much appreciated.

[2020-05-21 21:45] thunter05 opened #1880 "Custom Function JSON Autogenerate - Breaking with Non-Custom Functions?"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-json-autogeneration

## Issue
I'm able to create custom functions using the Excel JS API, BUT I can't generate the functions.json configuration file when I include functions that are not tagged with @customfunction. I'm trying this with the batch function example in the docs, but the file won't build. How can

[2020-05-22 01:26] mdhruv1 opened #1884 "Content addin"
It would be great if we can get a simple hello world example for excel word and PowerPoint as a content addin. I see you have great examples for task panes but for content addin I do not see it. Would appreciate that since I can then socialize this in my department.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39d237

[2020-05-22 11:12] NT-D commented on #1707
thank you!

[2020-05-22 17:17] #1720 closed

[2020-05-22 18:53] mscharlock commented on #1880
I am going to move this issue to the custom functions repo, where our engineers can help. Thanks!

[2020-05-22 18:58] mscharlock commented on #1820
Hi @thunter05 - Ok, this extension information is up! Docs are here: https://github.com/OfficeDev/vscode-debugger-extension-for-office-addins
Let me know if you have questions, happy to put you in touch with the engineers on this extension project if you have questions.

[2020-05-22 19:01] mscharlock commented on #1869
Hi @modestfake - I will go ahead and look into this to repo and then update the docs as necessary. Thanks for writing in and letting us know, we appreciate it!

[2020-05-22 20:40] thunter05 commented on #1820
This is awesome! I’m going. To try it out. Can I use these to trouble shoot custom functions?

[2020-05-22 23:01] mscharlock commented on #1820
It definitely works with Excel and I believe if your custom functions are using the new shared runtime, then this debugger also works with that. (More on shared runtime & adapting your functions to use it here: https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime).

[2020-05-22 23:13] thunter05 commented on #1820
That is so clutch! I will let try this out tonight and give feedback. I’m currently stuck on trying to fetch from an api using custom functions. I’m trying to post json data and fetch the response. If this helps me figure out the issue I will be thrilled!

[2020-05-23 00:32] thunter05 commented on #1820
Hello again @mscharlock,

See screenshot below. I went through the steps listed on the VSCode debugger plug-in. It wouldn't run for me. I changed my "taskpane.html" file to "index.html" when I first created my project. I'm wondering if that is messing with your plug-in? I changed the debugger config to make my html file name but that didn't work. Any thoughts?

<img width="927" alt="office-addin-d

[2020-05-24 21:09] adem opened #1887 "Possibility for Exchange admin to provide pre-defined Roaming Settings"
This is just a question related to API functionality described on this page.

Is there a possibility for an Exchange Administrator to "prefill" Roaming Settings for a certain add-in ID? Suppose you have an add-in that works in conjunction with an on-premise server. Ideally, you would want to offer this add-in via App Source to a broader audience, but allow individual organizations to pre-define th

[2020-05-25 09:59] NT-D commented on #1611
@kbrandl Which issue can I see for progress in OfficeDev/office-js-docs-pr?

[2020-05-25 14:49] kbrandl commented on #1611
@NT-D I'm no longer a Microsoft employee, so cannot answer your question. @ElizabethSamuel-MSFT are you able to provide input here?

[2020-05-26 16:30] ElizabethSamuel-MSFT commented on #1611
Thanks, @kbrandl.

@NT-D For now, there's no further update. You can keep track with this same issue as it's now in the office-js-docs-pr repo.

Thanks.

[2020-05-26 17:56] ElizabethSamuel-MSFT commented on #1887
@adem Thanks for inquiring about this.

@exextoc Can you provide any guidance here?

Thanks.

[2020-05-26 18:18] ElizabethSamuel-MSFT commented on #1884
@mdhruv1 Thanks for requesting quick starts for content add-ins. We have added this request to our backlog and will get to it as soon as we can.

[Internal item](https://office.visualstudio.com/OC/_workitems/edit/4186300)

[2020-05-27 12:30] rboen opened #1889 "Please provide sample add in / explanation how the join meeting UI is realized"
Hi there,

the article  gives  extracts of code samples of a larger add in. A reference to the complete project / source would be very helpful. The screenshot of the "Join Meeting UI" shows the Join-Button for a Contoso Meeting but there is no explanation how this Join-Button has been realized.

Regards,

Ralf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-05-27 15:32] ElizabethSamuel-MSFT commented on #1889
@rboen Thanks for asking about this. We've started creating walkthroughs using the quick start as the base (see the [event-based activation article](https://docs.microsoft.com/office/dev/add-ins/outlook/autolaunch) for an example). Would that help you in this case?

About the attendee's join meeting behavior, that should happen automatically for an online meeting.

Thanks.

[2020-05-27 15:39] mscharlock commented on #1820
Let me tag @TCourtneyOwen - any idea why the above might be happening?

[2020-05-27 15:54] TCourtneyOwen commented on #1820
@thunter05 and I already discussed this [here](https://github.com/OfficeDev/vscode-debugger-extension-for-office-addins/issues/14).  The problem is that they are running Windows 1809, which uses IE as the webview host.  They were unable to upgrade their OS to Windows 1903 so that the add-ins would use the Edge webview host. However, I did provide an alternative for debugging custom functions

[2020-05-27 16:08] timothyhoffmann opened #1890 "What is the release scheduler for 1.8?"
[Enter feedback here]
What are the planned dates for when 1.8 will be released on the various platforms?  I see it's available in OWA today but the May 2020 version of Windows Outlook 365 Semi-Annual channel  is still only supporting 1.7 with build 11929.20776 V 1908.  I ask for an Outlook update and nothing new was available.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-27 16:31] ElizabethSamuel-MSFT commented on #1890
@timothyhoffmann On the [requirement sets page](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#outlook-client-support), we note that 1.8 is available from version 1910 (build 12130.20272). Based on the [Microsoft 365 update history page](https://docs.microsoft.com/officeupdates/update-history-microsoft365-apps-by-date), it seems like your chan

[2020-05-27 16:31] #1890 closed

[2020-05-27 23:55] mscharlock commented on #1820
Oh super. In that case, I will close this and the other issue can stay open. @thunter05 if you need anything else, feel free to reach out on this thread again and I will reopen it.

[2020-05-27 23:55] #1820 closed

[2020-05-28 04:00] #1817 closed

[2020-05-28 12:14] felixjiang opened #1894 "Word taskpane add-in loaded but scripts don't run"
I created my Word add-in using Yeoman generator and VS Code. The add-in works well on my local computer. Then I published the add-in to an Azure app service.

Now I need to load the add-in on a different computer. So on that computer, I set up a network share, put the manifest.xml in, update the resource URLs in the manifest.xml to use the app service URL, configure the network share as a trusted

[2020-05-28 18:20] Rick-Kirkham commented on #1894
Thanks for your interest in Office add-ins and sorry to find that you're having a difficulty. We use the issues of this repo to track problems with the documentation. For a technical problem like this, we recommend that you raise it on Stack Overflow and tag the question `office-js`.

[2020-05-28 18:20] #1894 closed

[2020-05-29 15:34] vikasm1720 commented on #1802
Thank you, for pointing me to this extension. I am able to debug with vscode debugger

[2020-05-29 20:17] mscharlock commented on #1802
Excellent! I am going to close this issue given that, but if you need anything else feel free to comment on this thread and I will re-open it.

[2020-06-01 18:59] exextoc commented on #1887
This isn't possible with the Roaming Settings API today, since the API stores settings only on a per-user basis.

If you would like to suggest a feature, please add an idea to the Outlook add-ins [UserVoice](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=131778).

[2020-06-02 16:08] ElizabethSamuel-MSFT commented on #1889
@rboen This item has been added to our backlog so we'll work on converting the article into a walkthrough, at the end of which you should have a complete sample add-in. I can't say when the work will be done but we'll get to it as soon as possible.

Thanks.

[2020-06-02 16:57] SunRift opened #1906 "Local storage in Outlook"
Local storage example using OfficeRuntime.Storage (as shown in Excel sample code) is not working in Outlook.
If this is because the Outlook API doesn't support promises, how would you access local storage instead?

[2020-06-02 17:06] ElizabethSamuel-MSFT commented on #1906
@SunRift Thanks for your question.

@jasonjoh Thanks for transferring.

@exextoc Can you take a look?

Thanks.

[2020-06-02 17:31] arbelpeled opened #1907 "Unclear browser support / suppression"
We're developing an add-in that cannot run on IE11, only Edge.

The text in the documentation regarding how to set a requirement so as to be sure the browser our add-in will run in will be Edge is really hard to follow.

IIUC, stating ExcelApi 1.9 and above would cause only Office 365 of a suitable version to be supported, which should give us Edge.
However, this is not really explicit, and also t

[2020-06-02 18:39] Rick-Kirkham commented on #1907
The reason its not quite explicit is that we don't want developers to think in terms of supporting or not supporting _browsers_.  Occasionally, we do back port a new API to an old office, like Office 2016. Although, its extremely unlikely, we could someday back port recent ExcelApi Requirement Sets to Office 2016. You should think in terms of _requirement sets_ and let Office and Windows determine

[2020-06-03 14:11] LokiMidgard opened #1910 "Difference to OnSend"
What exactly is the difference to the On-Send Feature. For me it looks like this is a subset of the On-Send feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28320183-499e-5a19-2925-31f73227766f
* Version Independent ID: e998c64b-dc57-fb8d-9959-c4095e32411a
* Content: [Implement append on send in your Outlook add

[2020-06-03 16:51] Rick-Kirkham opened #1911 "Test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e78ee91-a35c-c982-aa31-11b9743c6373
* Version Independent ID: 7ab7a2af-d1de-2b97-8bd4-cda3783891a0
* Content: [Office Common API requirement sets - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/office-

[2020-06-03 19:02] jreed5 opened #1913 "Incorrect path on page?"
On the note it says to go to:
  com.microsoft.Office365ServiceV2/Data/Caches/com.microsoft.Office365ServiceV2/

However, we don't see that, we see:
  com.microsoft.Office365ServiceV2/Data/Library/Caches/com.microsoft.Office365ServiceV2/

Not sure if the path has changed or if it's different.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-06-03 19:10] thunter05 opened #1914 "Excel JS Add-In Shared Runtime Work with IE11?"
It looks like the shared runtime example on the page below is focused on situations where the Add-In browser is using edge (as opposed to IE11). I am not able to update the window.sharedState data and see the updates in my Task Pane. I can see the updates if I troubleshoot the add-in by hitting localhost with my Chrome browser. Any thoughts on how to make this work? I believe my browser is IE11 be

[2020-06-03 19:12] thunter05 opened #1915 "Documentation Not Working for IE11 Add-In Browser"
## Article URL

## Issue
This documentation is not working when the add-in browser is ie11. See my issue post here.
https://github.com/OfficeDev/office-js-docs-pr/issues/1914

[2020-06-04 00:32] exextoc commented on #1906
[OfficeRuntime.Storage](https://docs.microsoft.com/en-us/javascript/api/office-runtime/officeruntime.storage?view=word-js-preview) is not currently supported in Outlook. It is in an API set that is not supported in Outlook. You can check if a method is supported by using the isSetSupported method with the name of the requirement set. This method determines, at runtime, whether the Office host runn

[2020-06-04 07:31] wh1t3cAt1k commented on #1834
Hey @mscharlock , just to ping you, was the team able to answer your inquiry?

[2020-06-04 15:23] vikasm1720 opened #1920 "Cors issue with shared runtime"
The documentation says custom functions will have full cors support with shared runtime, but I still see an issue for functions.json file. functions.json is referenced under metadata tag in the manifest.xml. Can you please update the documentation for configuring functions.json metadata.

Access to XMLHttpRequest at 'https://{domain}.com/office_apps/functions.json' from origin 'https://inc-excel.o

[2020-06-04 23:44] mscharlock commented on #1834
Hi @wh1t3cAt1k - Unfortunately no but let me transfer this to a repo where we might get an answer (in lieu of email).

[2020-06-05 12:48] adem commented on #1887
Will do - thanks for the information!

[2020-06-05 12:48] #1887 closed

[2020-06-05 20:55] ElizabethSamuel-MSFT commented on #1906
@exextoc Thanks for your response.

@SunRift It seems like your question has been answered so I'll close this issue. If you have further questions, let us know by creating a new issue, or commenting on this one so we can reopen it.

Thanks.

[2020-06-05 20:55] #1906 closed

[2020-06-05 21:03] ElizabethSamuel-MSFT commented on #1915
Closing as a duplicate of #1914.

[2020-06-05 21:03] #1915 closed

[2020-06-05 21:06] ElizabethSamuel-MSFT commented on #1914
@thunter05 Thanks for asking about this.

@mscharlock Can you take a look?

Thanks.

[2020-06-05 21:08] ElizabethSamuel-MSFT commented on #1920
@vikasm1720 Thanks for asking about this.

@mscharlock Can you take a look?

Thanks.

[2020-06-05 21:27] ElizabethSamuel-MSFT commented on #1913
@jreed5 Thanks for asking about this. We'll investigate and update the docs as needed.

Thanks.

[2020-06-05 21:47] ElizabethSamuel-MSFT commented on #1913
@jreed5 For now, I'm adding the location you reported instead of replacing the previous location. I'll continue investigating and remove the previous location if it's no longer valid.

Thanks.

[2020-06-05 22:16] ElizabethSamuel-MSFT commented on #1913
@jreed5 Was your cache location under `~/Library/Containers`? Thanks.

[2020-06-08 18:39] mscharlock commented on #1914
Hi @thunter05 - I have consulted with some engineers on this one and we are not totally sure why this would be happening. Can you please post this issue on Stack Overflow?

[2020-06-08 18:40] mscharlock commented on #1914
I will also tag @TCourtneyOwen just in case there is a chance he has an idea on this.

[2020-06-08 18:43] mscharlock commented on #1920
Hi @vikasm1720 - I am going to transfer this issue to the Excel-Custom-Functions repo. If you do not receive a response in a timely manner, I suggest posting on Stack Overflow. Thanks!

[2020-06-08 18:49] mscharlock commented on #1869
Hi @modestfake - just wanted to let you know that as this is on our backlog I am closing this issue. :) Thanks! You are welcome to re-comment on this thread at any time should you need anything else.

[2020-06-08 18:49] #1869 closed

[2020-06-09 20:29] rblackin opened #1946 "Getting access to the content of an attachment when in a compose window doesnt work"
I have been trying to get this to work for 2 days.  I am able to get the content of an attachment in read mode for an email I receive.
However, OnSend, I can get the name and size of the attachments but cannot get the content.
The sample code returns ids of 0 or 1 and the callback never fires.
Is the sample code still accurate?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-06-09 20:43] #1946 closed

[2020-06-09 20:43] rblackin commented on #1946
works on outlook, not on web. get blank content on web

[2020-06-09 22:49] ElizabethSamuel-MSFT commented on #1910
@LokiMidgard Thanks for asking about this.

@JuaneloJuanelo Can you respond?

Thanks.

[2020-06-10 07:01] JensMadsen commented on #584
Any updates? We need to know the timeline for this "feature". If you know that this will happen in 2025 let us know. In that case, we will invest time in developing e.g. Selenium click e2e tests. If you, on the other hand, are actually working on this an expect a release in 2020 we will probably wait for it :-) But without an update, it is difficult to make a strategic decision on what to do (we m

[2020-06-11 18:11] thunter05 commented on #1914
Hello guys! Sorry for the late response. I'm back on trying to solve this. I can post the question on stack overflow.

[2020-06-11 19:21] BradyDonovan opened #1952 "What is 'Office 2016 on Windows, Build 77xx.xxxx or later'?"
Hi all,

I'm trying to debug an Office Add-In right now in a Windows Outlook client and I'm not certain what the documents mean by that build major. The Office 2016 suite I have has a major rev of '16.0', so I'm a bit confused as to what this points to.

Per the docs:
`In Office 2016 on Windows, Build 77xx.xxxx or later, you can attach the debugger from the task pane.`

Thanks in advance!

---
###

[2020-06-11 21:43] ElizabethSamuel-MSFT commented on #1952
@BradyDonovan Thanks for your question! From Office 2016, the major version is truncated from the build notation so instead of 16.0.6326.1010, you may see 6326.1010. This is reflected in the product. You can check your current build version (see this article: https://docs.microsoft.com/office/dev/add-ins/develop/office-versions-and-requirement-sets#how-to-check-your-office-version). The documentat

[2020-06-12 18:14] naterush opened #1954 "Unclear documentation on shared runtimes and mulitple taskpanes"
The documentation for [shared runtimes](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime#multiple-task-panes) notes:
[code]
The wording a bit unclear. Does this mean I can't have multiple show taskpane actions? What if I use the same taskpane id for both of them, like:
[code]
When I try the above, it seems like both of these end up as differen

[2020-06-12 18:55] naterush opened #1956 "AppDomain not opening in taskpane for ExecuteFunction"
The [AppDomain Documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/appdomain) says that "Specifies additional domains that load pages in the add-in window."

However, if I set the app domains in my manifest as:
[code]
And further set my function file as
[code]
(where `<bt:Url id="Taskpane.Url" DefaultValue="https://localhost:3000/taskpane.html"/>`)

And finally de

[2020-06-12 19:52] Rick-Kirkham commented on #1956
The description in the article is misleading. `<AppDomains>` is about listing what domains, in addition to the main domain of the add-in; that is, the domain listed in SourceLocation, are also _trusted_.  It really doesn't have much to do with what pages can be opened in the task pane. Also, since localhost is the main domain when you are developing, it does not ever need to be listed in  `<AppDom

[2020-06-12 20:00] #1956 closed

[2020-06-12 20:03] naterush commented on #1956
@Rick-Kirkham thanks for the feedback. That new description makes a lot more sense than what is currently listed in the documentation.

I'll edit the stack overflow post per your feedback. Thanks a ton!

[2020-06-12 20:40] #1952 closed

[2020-06-12 20:41] ElizabethSamuel-MSFT commented on #1954
@naterush Thanks for asking about this.

@mscharlock Can you take a look?

Thanks.

[2020-06-12 20:42] Rick-Kirkham commented on #1956
I may have "overcorrected" in my original response. AppDomains is not entirely irrelevant to what you can open. If you want a domain to open in **the root of the task pane** (as distinct from an IFrame, and as distinct from opening in a separate browser window) **AND** your add-in will run on **desktop Office** as well as Office on the web; then you do need to list the domain with an AppDomain. I'

[2020-06-12 22:35] JuaneloJuanelo commented on #1910
There are quite different.

- AppendOnSend - with this one you can ONLY appends text or html to the message been sent. That's it. There is nothing else you can do with it.
- ItemSend, on the other hand, its basically an event. You can handle that event to do any logic your scenario requires, and more importantly you could cancel the send of the email if you need to.

Hopefully that makes sense.

[2020-06-12 22:40] ElizabethSamuel-MSFT commented on #1910
@JuaneloJuanelo Thanks for your response, Juan.

@LokiMidgard Let us know if this helps or you need further clarification.

Thanks.

[2020-06-12 23:33] naterush commented on #1956
Got it. So: if I want to open the taskpane to a specific domain, it needs to be trusted (aka, an App Domain).

Are you sure that's not the problem I'm having? Specifically, I've read documentation that says the "open new iframe" is a response to a domain not being trusted. I read it [here](https://github.com/keyur32/add-in-docs-new/blob/master/docs/overview/add-in-manifests.md#specify-domains-you-

[2020-06-12 23:40] Rick-Kirkham commented on #1956
I thought that the domain you are trying to open in the task pane is the same domain as in SourceLocation. If that's the case, then should not need to put it in AppDomains.

[2020-06-13 08:46] LokiMidgard commented on #1910
Ok, I think I understand.

And since it can do less it requires less privileges (If I remember correctly OnSend is not allowed in the store).

[2020-06-13 08:46] #1910 closed

[2020-06-14 01:28] naterush commented on #1956
@Rick-Kirkham ah, you're right, it is the same domain. Thanks for clarifying.

[2020-06-15 07:29] ArashMotamedi opened #1958 "Provide timeline for switching to Chromium Edge in Windows Desktop Outlook"
[Enter feedback here]
What's the timeline for switching to Chromium Edge in Outlook Desktop for Windows for Taskpane addins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Of

[2020-06-15 18:37] JuaneloJuanelo commented on #1910
@LokiMidgard  yes the item-send event is not allowed in the store.

[2020-06-15 19:00] #1913 closed

[2020-06-16 08:38] ludmilanesvitiy commented on #584
Hey team! We also waiting for some updates with examples for e2e testing of word add-in. Please, post some updates - when do you plan to create this documentation? Is it possible at all to make this type of automated testing to work with word add-in. If I can help you with something relative to it to speed up the issue resolving - just let me know.

[2020-06-16 17:25] mscharlock commented on #1954
Let me look into this and get back to you. Thanks!

[2020-06-16 17:28] naterush commented on #1954
@mscharlock awesome, thank you! Very much appreciated :)

Let me know if any other information or a minimal code sample would be helpful - I can get it to you ASAP if it's a bottle neck.

[2020-06-16 17:58] mscharlock commented on #1954
So, I checked with our PM team and as I suspected, what you are trying to do is not currently possible with shared runtime. If you open different URLs, you'll lose state. However, I've passed your scenario off to our PMs so they are aware of it and you might consider going to UserVoice to request this as a feature if you feel significantly passionate about it. :) Hope that helps answer your questi

[2020-06-16 19:39] thatusernamenotavailable opened #2892 "Put a warning in the docs that individual developers will get rejected from publishing"
The only way to actually `publish` an Add-in using this repo is to be part of a larger company. Individuals and sole proprietors will get rejected from opening up a developer account at `https://partner.microsoft.com` even after submitting endless documentation. I feel like the README should warn individual developers BEFORE they start developing.

![verification](https://user-images.githubusercon

[2020-06-17 02:29] davyarris opened #1960 "Using Exchange User Identity Token to authenticate against MS Graph API"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/authentication#exchange-user-identity-token

## Issue
Under the Exchange User Identity Token (EUIT) section of the above article, it clearly states:

This gives the impression that the EUIT can be used to authenticate against Microsoft Graph API. Yet I can find no example of where this is done (and as SSO support for Add-in

[2020-06-17 12:10] ZIRaja opened #1961 "SSO Example fails with UnhandledPromiseRejection"
Hello.

I used the following [tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/sso-quickstart) to create a Outlook-Addin with SSO and Microsoft Graph support enabled.

However, like it is also mentioned on the page, I configured the Addin using [this tutorial](https://docs.microsoft.com/de-de/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs#register-the-add-in-w

[2020-06-17 16:14] TheWass opened #1962 "IE11 Tooling requirements"
I tried the command to use the IE11 tooling, but it appears that it is still using Edge when viewed through Microsoft Edge DevTools.

Are there any additional steps to do in order to make command to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47b7b417-12e6-193f-6b89-37e088b31dbc
* Version Independent ID: df705

[2020-06-17 16:17] kbrandl opened #1963 "Article link missing from the TOC"
Hi team! FYI, this article isn't currently included in the TOC.  (David Craig linked to it in a [blog post](https://theofficecontext.com/2020/06/17/office-web-add-in-debugging-in-vs-code) today, else I wouldn't have known it existed.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 614e6992-f9be-4ce5-1f15-0fc6bf285c43
*

[2020-06-17 16:24] naterush commented on #1954
@mscharlock Thanks for the info! Good to know - I'll raise this on UserVoice ASAP - so it's possible to develop an add-in just like a standard react web app :)

[2020-06-17 17:04] naterush commented on #1954
Ah -- a quick follow up on a related question.

Per the above discussion, I have a shared runtime and a single ShowTaskpane action. I have other ExecuteFunction operations, that call `Office.addin.showAsTaskpane`, which in the documentation [here](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/show-hide-add-in#show-and-hide-the-task-pane) says will open the Taskpane when called.

Howeve

[2020-06-17 17:18] jdonohueAdemero opened #1964 "Excel 2013 Does Not Support CompressedFile API"
This page indicates that all versions of "Excel on Windows" support the CompressedFile API, which is incorrect.  Excel 2013 does not support this API, as confirmed both by testing and the add-in manifest validation performed by the AppSource Partner Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e78ee91-a35c-c

[2020-06-17 17:26] AlexJerabek commented on #1964
Hi @jdonohueAdemero,
Thanks for reporting this. It looks like all the Excel versions are ambiguous on that page. I'll investigate and update the supported requirement sets accordingly.

[2020-06-17 19:01] mscharlock commented on #1962
Hi @TheWass, I'll look into this! Thanks for your patience

[2020-06-17 19:06] mscharlock commented on #1963
Fixing! Thank you so much for pointing this out!! Also, hope you are well :)

[2020-06-17 19:13] mscharlock commented on #1960
@ElizabethSamuel-MSFT or @Rick-Kirkham can you have a look at this one? Also, this could be something Laura might have insight into. Thanks!

[2020-06-17 19:22] Rick-Kirkham commented on #1960
I think this sample, which is linked to in the Single Sign-on section of the same article (above the section that you quoted from), is supposed to illustrate how to do this: [Attachements Demo](https://github.com/OfficeDev/outlook-add-in-attachments-demo)

Please check it out.

[2020-06-18 16:16] glr0221 opened #1968 "Request for Official list of Supported Langauage-IDs for Locale"
Hello Microsoft,

We are about to build a multilingual addon for our company.  I intend to use the API : Office.context.displayLanguage to get the locale of the host machine.

Currently, all I know is that locale is written in BCP-47 format by reading the following article :
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/defaultlocale

But I really don't have a list of all

[2020-06-19 01:26] TCourtneyOwen opened #1971 "Do centrally deployed add-ins work in Office Online"
I followed these instructions to centrally deploy an add-in to my tenant:  https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment.  However, when I log into Office Online using my tenant admin account, open a Word or Excel document, which the add-targets, I don't see the add-in show up in the ribbon.

Are centrally deployed add-ins supported in Office Online?

Thanks,

[2020-06-19 11:47] sandeep007bonds opened #1972 "Unable to get token"
Hi,
I have done all the steps but unable to get token.
I am developing Excel add in, I got the login popup only after login a got error "missing grant for this add-in : pre authorization missing "

![image](https://user-images.githubusercontent.com/48192725/85129431-b9a5cc80-b250-11ea-9ab6-3c5583f400d1.png)

Below is the API permission screenshot

![image](https://user-images.githubusercontent.com

[2020-06-19 14:55] glr0221 commented on #1968
@kbrandl any help please? thank you.

[2020-06-19 17:22] kbrandl commented on #1968
@glr0221 I'm no longer working at Microsoft, so unfortunately can't help with this. @Rick-Kirkham can you perhaps route this issue to the appropriate person? Thanks!

[2020-06-19 19:24] Rick-Kirkham commented on #1968
@glr0221 Thanks for your interest in Office Add-ins. You are correct that the article, https://docs.microsoft.com/en-us/deployoffice/office2016/language-identifiers-and-optionstate-id-values-in-office-2016, specifies the possible values for `displayLanguage` and `<DefaultLocale>` (and `<Override>`). I will create a work item to clarify this in all the related articles.

[2020-06-20 19:17] naterush opened #1973 "Mislabeled API requirement set info for ExcelApi 1.7 on Office on Mac"
Requirement Set 1.7, on Office on Mac, says that this is supported on build 16.9 or later. I think this should be 16.09 -- as I don't think build 16.9 has even been released yet! See here:

<img width="678" alt="Screen Shot 2020-06-20 at 1 50 59 PM" src="https://user-images.githubusercontent.com/21002431/85208294-13fc6700-b2fd-11ea-9873-8a1d64d8a7a1.png">

---
#### Document Details

⚠ *Do not edit

[2020-06-22 02:17] glr0221 commented on #1968
Thanks @kbrandl. I hope things are awesome for you. Kinda sad to hear you are not with MS anymore. Thank you @Rick-Kirkham for your responses.

[2020-06-22 03:30] glr0221 commented on #1968
@Rick-Kirkham

I have checked the Microsoft list of supported languages against our planned list of supported languages and it seems to be missing some key language ids. The missing language ids are :

English   (Australia) --------- en-au
English (Canada) ----------- en-ca
English (Great Britain) ------ en-gb
Spanish   (Mexico) --------- es-mx
French (Canada) ----------- fr-ca
Chinese Traditional

[2020-06-22 13:31] jpro71 opened #1974 "Step 4 = incorrect for Office 2013"
The Custom add-ins section at the bottom of the dialog and "Add a custom add-in" option does not appear in Outlook 2013 when hitting the Store button then "My add-ins"  as mentioned on this page for step 4.

_Locate the Custom add-ins section at the bottom of the dialog. Select the Add a custom add-in link, and then select Add from file._

![image](https://user-images.githubusercontent.com/6727508

[2020-06-22 16:13] glr0221 commented on #1968
@Rick-Kirkham

Sorry another observation came up during my investigations today. So again in the discussion of supported locale, I checked OWA and stand alone Outlook client in windows. And here are what i found  :

For OWA, using a browser, I found that there are over 220+ supported locales. These are the first 120 languages i saw :

![OWA-Langugage-First8Pages](https://user-images.githubusercont

[2020-06-22 17:35] AlexJerabek commented on #1973
Hi @naterush,
Thanks for bringing this to our attention. I'll confirm the officially supported builds against the official "[source of truth](https://github.com/OfficeDev/Office-Js-Requirement-Sets)" and update this page.

[2020-06-22 19:35] AlexJerabek commented on #1973
Hi @naterush,

I spoke with the product team about this issue. Excel on Mac version numbers use semantic versioning. This means the version number isn't a decimal, but rather two numbers concatenated with a dot. You read the version as <major_version>.<minor_version>. So, version 16.9 comes before 16.10.

I hope this clears things up for you. I'm going to close the issue, but feel free to raise mo

[2020-06-22 19:35] #1973 closed

[2020-06-22 21:47] Rick-Kirkham commented on #1968
The list you found in our OpenSpec docs ([https://docs.microsoft.com/en-us/openspecs/office_standards/ms-oe376/6c085406-a698-4e12-9d4d-c3b0ee3dbc4a](https://docs.microsoft.com/en-us/openspecs/office_standards/ms-oe376/6c085406-a698-4e12-9d4d-c3b0ee3dbc4a)) is for Word, Excel, and PowerPoint (not Outlook), and it is a list of IDs that are "used" by Office; but that doesn't necessarily mean that the

[2020-06-23 02:37] glr0221 commented on #1968
@Rick-Kirkham thank you very much for taking time to dive deeper into the matter. I understand the advice and it makes a ton of sense. The only issue i have though, is how do i check if our language-id's (i.e. en-gb, en-usa) matches those that are used by Microsoft Products.

I see no problems with the matchings in OWA because they support over 220+ languages and is easy to test.

But the standalo

[2020-06-23 17:58] Rick-Kirkham commented on #1968
A product manager has also endorsed the advice of the engineer.

I think the idea is that you have a `switch` statement that reads the user's displayLanguage and branches depending on whether or not you support it. Something like this:

[code]

[2020-06-23 19:26] #1964 closed

[2020-06-23 19:27] AlexJerabek commented on #1964
Hi @jdonohueAdemero,
Thanks again for reporting this documentation error. It has been addressed and will be merge to the live site soon. Please let me know if you have any more questions or concerns.
Thanks!

[2020-06-23 19:55] nokafor commented on #1962
Are you on Office Insiders? You need to be in the beta level of Office for the runtime to switch. See this link for more details: https://insider.office.com/en-us/join

[2020-06-23 21:20] lindalu-MSFT commented on #1960
@davyarris Closing issue, please reopen if you need additional info! Thanks, linda

[2020-06-23 21:28] ChrisRomp opened #1979 "Fix command-line documentation for IE debugging"
The command `office-add-dev-settings webview manifest.xml ie` should probably use `npx` and isn't calling the right package.  Suggest: `npx office-addin-dev-settings webview manifest.xml ie`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47b7b417-12e6-193f-6b89-37e088b31dbc
* Version Independent ID: df705bd2-5f2f-2c84

[2020-06-24 01:01] aldvintumbelaka opened #1981 "Published Add-Ins not Showing on Edge if Profile Sync is Turned On"
I'm having issue with Edge Chromium.
It works fine with local manifest, but once it gets deployed in the Office 365, I can't see the Add Ins.
What I notice is, I can only see the add-ins if sync profile is turned off.
But when sync profile is turned on (using same user credential), I cannot see the add ins.
![image](https://user-images.githubusercontent.com/33532350/85484099-5620f380-b5f0-11ea-9ac

[2020-06-25 04:01] davyarris commented on #1960
As stated in my original post, the SSO technique mentioned is currently in beta. This is stated here also:
https://github.com/OfficeDev/outlook-add-in-attachments-demo
"Note: The SSO token feature is in preview in Outlook 2016 for Windows only at this time.".

My query pertains to the document specifying that it is possible to authenticate against MS Graph API using an Exchange User Identity Token

[2020-06-25 08:16] exextoc commented on #1974
Hi @jpro71 we are investigating this. Is it possible for you to provide a network trace of the full URL that is hit when opening Store? URL is of the form https://appsource.microsoft.com/...

You can use an app like Fiddler to trace HTTP requests (https://www.telerik.com/fiddler).

[2020-06-25 10:50] sshukurov opened #1983 "Shared runtime availability information seems outdated"
The documentation reads _Shared runtime is currently only available in Excel on Windows._, but as far as I understand it is already available in Excel on the web and Mac. Moreover, there is no mention of this limitation in https://docs.microsoft.com/en-us/office/dev/add-ins/excel/configure-your-add-in-to-use-a-shared-runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-25 17:55] Rick-Kirkham commented on #1960
@davyarris You indicated that you couldn't find an example of how this was done. I provided a link to a sample that is supposed to show how it is done. Have you examined that sample?

[2020-06-25 18:59] mscharlock commented on #1963
Fixed! I'm going to close this issue. :)

[2020-06-25 18:59] #1963 closed

[2020-06-26 07:13] exextoc commented on #1974
Hi @jpro71 , this seems to be an error in our documentation. Outlook 2013 does not support custom add-ins. Thanks for bringing this to our attention, we will go ahead and fix it.

[2020-06-26 12:33] PrashanthReddy7 opened #1987 "Extend CustomTab in office add-ins with multiple add-ins"
Issue:
I have created a custom tab called "MyAddIns" in outlook, this was created with first add-in called "A" and its working fine.
Now, I have another outlook add-in called "B", I wants to add "B" add-in to exist/already created custom tab "MyAddIns".
How can I do that? Do I needs to use Office Tab or Custom Tab tag in manifest.xml ? If yes, how can we add exist tab reference?

I have also reque

[2020-06-26 21:35] ElizabethSamuel-MSFT commented on #1987
@PrashanthReddy7 Thanks for asking about this and adding to UserVoice.

@exextoc Any workaround you're aware of?

Thanks.

[2020-06-26 21:41] nokafor commented on #1962
@TheWass were you able to resolve?

[2020-06-26 23:10] ElizabethSamuel-MSFT commented on #1974
@jpro71 We're updating the instructions Outlook 2013 (see linked PR #1989). Can you give them a try and let us know if they helped? Thanks.

[2020-06-27 00:09] exextoc commented on #1987
No, we are not aware of workarounds to do this. UserVoice is the right place for this request. Thank you for adding!

[2020-06-27 14:37] TheWass commented on #1962
I misread the office insider requirement on the page.

At the moment, I am on the monthly to support clients, and I cannot readily switch over to Insiders.  If I have the opportunity, I'll reply and let you know.  For now, I'll close this issue, and open a new one if I do have an issue while I'm actually on Insiders.
Thanks for your help!

[2020-06-27 14:37] #1962 closed

[2020-06-29 16:20] #1979 closed

[2020-06-29 16:21] mscharlock commented on #1914
@thunter05, checking that you got help with this on StackOverflow - I'm closing this issue for now with that assumption. If not, let me know and I will reopen this issue. Thanks!

[2020-06-29 16:21] #1914 closed

[2020-06-29 16:29] ElizabethSamuel-MSFT commented on #1889
@rboen The conversion update should be published soon. Thanks.

[2020-06-29 16:29] #1889 closed

[2020-06-29 18:33] #1974 closed

[2020-06-29 18:34] ElizabethSamuel-MSFT commented on #1974
@jpro71 We've added sideload instructions for Outlook 2013. Those changes should be published soon. Thanks.

[2020-06-29 19:12] jpro71 commented on #1974
Excellent looking forward to it.

On Mon, Jun 29, 2020 at 2:34 PM Elizabeth Samuel <notifications@github.com>
wrote:

[2020-06-29 19:18] lliu113 commented on #1954
@naterush  - thanks for the clarifying question! Launching in a new iFrame is not the expected behaviour, it should display the taskpane.

Which version of Office are you on? Does clicking the ShowTaskpane button to show the taskpane, closing out and then clicking the ExecuteFunction button get the same result?

[2020-06-29 19:45] mscharlock commented on #1983
Thanks for catching this - you are right that is not limited to Windows. :)

[2020-06-29 22:45] #1987 closed

[2020-06-30 08:55] 4tti commented on #1914
[Link to stackoverflow](https://stackoverflow.com/questions/62330960/excel-js-add-in-shared-runtime-work-with-ie11)

[2020-06-30 22:00] #1968 closed

[2020-07-01 03:47] glr0221 commented on #1968
@Rick-Kirkham

Sorry I was unable to track this for a bit. But thank you so very much for your help. Your team and Microsoft as a whole are really better in communicating and answering issues. We really appreciate it.

Again, thank you very much,
GovZ

[2020-07-02 15:35] Murugananths commented on #1954
@mscharlock ...Hi am also facing some issues while implementing this feature....below are the scenario....

I have Login command (ExecuteFunciton) and logout command(Execute function)

1) Initially when I am clicking Login Command  i was able to enable the commands which are disabled and open the taskpane with respective commands's event id using Office.addin.showAsTaskpane.
2) But if i am trying

[2020-07-02 20:19] ElizabethSamuel-MSFT commented on #584
Related issue: https://github.com/OfficeDev/office-js-docs-pr/issues/1611

[2020-07-02 22:00] #1960 closed

[2020-07-03 07:44] JensMadsen commented on #1611
It has been almost three years since https://github.com/OfficeDev/office-js-docs-pr/issues/584, so to me it seems that supporting testing, CI/CD is not a priority for Microsoft. If that's so then fine I find other means to test my addin. But right now Microsoft does not clearly state that they are not going to provide these features in the near future. This situation is difficult for us because we

[2020-07-03 17:45] geary commented on #1403
@nitro-marky You were asking about the code formatting. You probably have figured this out by now, but use three backticks above and below the code block, and you can also add a language specifier at the beginning.

Alternatively, you can indent the entire code block four spaces, but that doesn't let you specify the language, so the triple backticks are more recommended.

Here's an example of usin

[2020-07-04 02:06] MarkBQE opened #1996 "Example of OAuth2 with dialog API"
It would be awesome if you add an example showcasing how to pass oauth tokens from an office dialog api back to the host component for an addin app developed in angular. I am sure this will really help people who are developing Addins in angular. This seems to be the most complicated part and seems to have been ignored.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-07-06 12:31] vikasm1720 opened #1997 "Issue with custom functions compatible with existing com Add-in"
I have existing custom function created in Com Add-in. To support MAC and online I am creating a web Add-in. I have included the equivalent add-in in the manifest. but the web add-in does not recognize the custom function created in com add-in when the same workbook opened on browser/mac instead, it throws #Name? and displays the namespace used in com add-in.

  <EquivalentAddins>
    <EquivalentA

[2020-07-06 17:31] mscharlock commented on #1997
Hi @vikasm1720 - I'm going to transfer this to the custom functions repo. I don't know why this would happen off the top of my head but our engineers might have an idea. Thanks!

[2020-07-08 14:03] ishitadatta opened #2002 "document.write feature"
## Article URL

## Issue

I cannot find any information regarding how to increment document.write feature or to display any content to the taskpane of the add-in using create element. The documentation for all JavaScript elements is not available.

[2020-07-08 14:03] ishitadatta commented on #2002
![Screenshot (369)](https://user-images.githubusercontent.com/48859631/86928234-eebb8580-c151-11ea-955e-a0ef07b7a605.png)

[2020-07-08 14:40] turchinc commented on #1028
@bindhyeswari just saw your comment ;)  I am still not really convinced - I can insert images to existing documents, IIRC I can even open/create new word documents from an addin, why shouldn't I be able to add a slide to a ppt?

[2020-07-08 18:51] lindalu-MSFT commented on #1996
Thank you @MarkBQE for this request.

@Rick-Kirkham , this is a doc request. Can you help me assign to the correct writer?

[2020-07-08 18:53] lindalu-MSFT commented on #2002
Hey @AlexJerabek, this is a doc request. Can you help me triage this and assign to the correct Excel/JS writer? THANKS in advance.

[2020-07-08 21:07] Rick-Kirkham commented on #2002
Please provide more details of what you are trying to do and what is going wrong. Also, what is the `list.child()` method you are using and what kind of object does it return? I can't find any info on it. Finally, `Microsoft.Office.WebExtension.EventType` is an enum. It is not a value itself that can be passed as a parameter.

[2020-07-08 21:21] Rick-Kirkham commented on #1028
@turchinc @bindhyeswari There's no security concern in adding a slide to the currently open PowerPoint deck. Microsoft just hasn't created an Office.js API to do that yet.

[2020-07-09 00:32] lindalu-MSFT commented on #2002
@Rick-Kirkham Thanks for your reply! Also, since this appears to be more of a programming question than a doc request, I suggest that @ishitadatta posts this on [Stack Overflow tagged [office-js] and [excel]](https://stackoverflow.com/questions/tagged/excel+office-js). I'm sure the developer community there can help with this! Thanks,

[2020-07-09 01:00] #2002 closed

[2020-07-09 06:25] ishitadatta opened #2003 "Excel add-in documentation for creating Javascript elements and displaying them"
## Article URL

https://stackoverflow.com/questions/62808652/what-is-the-syntax-in-office-add-ins-to-display-a-child-javascript-element

## Issue

 On clicking the Show options button, a list needs to be displayed on the taskpane but it is not working since my code is in JavaScript not office-add in . What will be the syntax to do so?
Here is my code :
[code]

[2020-07-09 17:10] Rick-Kirkham commented on #2003
This is a programming question that should be tracked in the Stack question. It should not be tracked in two places.

[2020-07-09 17:10] #2003 closed

[2020-07-09 21:18] ElizabethSamuel-MSFT commented on #1403
Related issue: https://github.com/OfficeDev/Outlook-Add-in-On-Send/issues/16

[2020-07-10 00:44] dsonet opened #2006 "Comments API doesn't work on Excel version 2006"
I tried this API on Excel, but got "This operation is not implemented." I use the latest beta API.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 992f7232-6aa0-b170-ff3b-009a273e7586
* Version Independent ID: 0fd9c00f-91d6-5036-48c9-e0e2e0690e78
* Content: [Work with comments using the Excel JavaScript API - Office Add-

[2020-07-10 05:01] ishitadatta opened #2007 "On clicking the Show options button, a list needs to be displayed but it is not working"
[Enter feedback here]
On clicking the Show options button, a list needs to be displayed but it is not working. This is for the user interaction aspect for what the user will click or type into the free form text field, that should have an event listener to perform an action. To perform this action, the Javascript code is very direct and it works when you run the html file on the browser - it is si

[2020-07-10 16:12] AlexJerabek commented on #2006
Hi @dsonet,

Thank you for reporting this issue. Are you getting the error for all comment-related APIs? Or is it only happening for specific API calls, like when working with mentions?

If you have a [Script Lab](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/explore-with-script-lab) snippet to share, that would also help us figure out what's happening.

[2020-07-10 22:01] ElizabethSamuel-MSFT commented on #2007
@ishitadatta Thanks for reporting this issue. However, it seems to be the same as the one reported in https://github.com/OfficeDev/office-js-docs-pr/issues/2003.

Therefore, we'll close this issue and all responses can be tracked through the [Stack Overflow thread](https://stackoverflow.com/questions/62808652/what-is-the-syntax-in-office-add-ins-to-display-a-child-javascript-element).

Thanks agai

[2020-07-10 22:01] #2007 closed

[2020-07-10 23:39] Rick-Kirkham commented on #1996
Thanks for your interest in Office Add-ins. I will make a note of this request for an Angular sample. But to be honest, this will be a very low priority. We don't have enough staff to create samples for all the various web development frameworks. We concentrate mostly on React and ASP.NET. This article, [Authenticate and authorize with the Office dialog API](https://docs.microsoft.com/en-us/office

[2020-07-10 23:39] #1996 closed

[2020-07-11 00:54] lindalu-MSFT commented on #1996
@MarkBQE You can also try Stack Overflow for samples from the[ Angular developer community](https://stackoverflow.com/questions/tagged/angular).

[2020-07-11 01:16] MarkBQE commented on #1996
I have all this sorted out. I can post a repo on github for people who would like to use this library with Angular 10. FYI your yo generator uses Angular 5 and is not CLI based. I was able to incorporate Office JS library in the latest angular version where people can take advantage of all the great tooling support. @Rick K I was not asking for help, just giving my suggestion to create a sample fo

[2020-07-11 21:54] choiway opened #2013 "Error in Update All Cells... example"
There is an error in the Update All Cells In Range section:

The following two lines need to be wrapped in a 2d array.
[code]

It works as follows:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 819bf53b-d792-85b3-e616-7b5e2f087a4f
* Version Independent ID: 0611031f-6d92-c508-9680-179d5832722a
* Content: [Fundam

[2020-07-13 18:20] AlexJerabek commented on #2013
Thanks for reporting this @choiway. I'll look into fixing the sample code and report back.

[2020-07-13 18:31] AlexJerabek commented on #2013
Hi @choiway,

So that sample code actually works as is. It won't compile with TypeScript definitions, but setting those properties (`formulas`, `numberFormat`, and `values`) with a single value (not in an array) does populate the entire range.

I'm working with the product team to figure out how to reconcile the behavior with the definitions.  I just wanted to keep you updated so you're not blocke

[2020-07-13 21:28] mscharlock commented on #1983
I have a bug fix in a pr so will close this issue - thanks! :)

[2020-07-13 21:28] #1983 closed

[2020-07-13 23:58] choiway commented on #2013
Got it. I should have mentioned that I am using Typescript React.

[2020-07-14 00:03] Umair-Munir opened #2019 "Outlook Add-in not showing on web version menu with sideload"
Hi,

I am developing outlook add-in on Mac and using visual code. I am following [https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator](this) tutorial to create Taskpane App using Yeoman generator. I am able to build and run dev-server. I uploaded the manifest file on the web version of outlook to run and test the add-in. Everything works fine to

[2020-07-14 03:10] antonGritsenko opened #2020 "Missing one more location for cache"
Since Office now using the Microsoft.Win32WebViewHost to show the web content, to clear cache you must also clear %userprofile%\AppData\Local\Packages\Microsoft.Win32WebViewHost_cw5n1h2txyewy\AC\#!123\INetCache\

Applies to https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting#changes-to-add-in-commands-including-ribbon-buttons-and-menu-items-do-not-take-effect al

[2020-07-14 15:17] #2013 closed

[2020-07-14 16:56] AlexJerabek commented on #2013
Hi @choiway,

Thanks again for pointing this out. We decided that while the sample code originally in the article does work, the convenience is mitigated by the confusing TypeScript narrative. Rather than explaining the workaround (#2021), we'll just follow our own type definitions.

The corrected articles have been checked into the master branch and will be live soon. Please let me know if you ha

[2020-07-15 21:36] lindalu-MSFT commented on #2020
@antonGritsenko Thanks for reporting this issue! In order for us to triage, can you please provide us with the steps to repro, or include a live example? We also need you to provide the details about your environment: platform, host or client, OS, browser. If you have any other useful information, such as console errors, test or sample files, and screenshots, please provide those as well. You can

[2020-07-15 22:32] antonGritsenko commented on #2020
Repro:
1. Create any office add-in using yo
2. Export it to Office app
3. Open once in the Office
4. Change anything in the HTML or CSS, publish again
5. Open Office, you will see old HTML and CSS because they are cached.

You must remove cached files from %userprofile%\AppData\Local\Packages\Microsoft.Win32WebViewHost_cw5n1h2txyewy\AC#!123\INetCache\ to see changes

[2020-07-16 00:38] lindalu-MSFT commented on #2020
Is this happening in every Office client? Word, Excel, PPT, Outlook? Which browser are you using?

Here's another topic that might have some info:
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10

Have you checked Stack Overflow? I see lots of questions about clearing cached files. I asked our dev team and they told me it's a known i

[2020-07-16 01:16] lindalu-MSFT commented on #2020
@mscharlock Can you have a quick look at this and see if there's any place in the docs we can improve steps to clear cache? Thanks, lindalu

[2020-07-17 19:00] #2006 closed

[2020-07-17 19:20] aman3011 opened #2028 "I want to add my custom add-in into the create new event page, and it looks like it isn't possible."
## Article URL

## Issue

[2020-07-17 19:25] aman3011 commented on #2028
![Annotation 2020-07-17 142449](https://user-images.githubusercontent.com/40612714/87823627-5b610f00-c839-11ea-9755-f2ee06dc643f.png)

That's where I want my add in to show up as well. There's no supporting documentation on doing that.

[2020-07-19 02:08] oscarcosta opened #2030 "Oulook 2016 strange behaviour regarding Office APIs"
Hi,

I'm a little confused by the set of requirements supported for the 'Mailbox' API, especially for the Outlook 2016 client for Windows. I had the publish of an AddIn denied on the Partner Center marketplace due to an issue with Office 2016.

The page https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets says that the Outlook 2016 for Windows

[2020-07-19 20:56] antonGritsenko commented on #2020
@lindalu-MSFT sorry, just saw what the wrong link was added in this ticket (not sure why, actually). The actual link to doc is https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache

This article describe how to clear office's cache, but it must also describe how to clear cache of the Web View Hot (it used to show web content in any office app). Clear cache using DevTools doesn't

[2020-07-20 11:43] vlgiugal opened #2031 ""Mailbox items available to add-ins section" not being up to date."
Under the "Mailbox items available to add-ins" section, there is this statement which is not partially correct - not applying to all Outlook / Office versions.

_**Outlook does not activate add-ins if the current message item, in a compose or read form, is one of the following:

Protected by Information Rights Management (IRM) or encrypted in other ways for protection. A digitally signed message i

[2020-07-21 02:49] chamih opened #2032 "Cannot view the sample fonts in dark mode theme."
[Enter feedback here]
Cannot view the sample fonts in dark mode theme.
![image](https://user-images.githubusercontent.com/46550766/88007147-6b426100-cb61-11ea-90ea-837a71b2baff.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9434ad18-1448-89e9-059d-04a5fed2ac4d
* Version Independent ID: 470f0cff-6870-1499-94b9-a372

[2020-07-21 13:29] mscharlock commented on #2028
@ElizabethSamuel-MSFT tagging you in case you might know

[2020-07-21 13:30] mscharlock commented on #2030
@ElizabethSamuel-MSFT tagging you :)

[2020-07-21 16:39] ElizabethSamuel-MSFT commented on #2030
@oscarcosta Thanks for letting us know about this. Can you respond with your Office version and build number? See [About Office: What version of Office am I using?](https://support.microsoft.com/en-us/office/about-office-what-version-of-office-am-i-using-932788b8-a3ce-44bf-bb09-e334518b8b19?ui=en-us&rs=en-us&ad=us) on how to find this information.

Thanks.

[2020-07-21 16:44] ElizabethSamuel-MSFT commented on #2031
@vlgiugal Thanks for asking about this. We'll take a look and update accordingly.

Thanks.

[2020-07-21 16:48] ElizabethSamuel-MSFT commented on #2032
@chamih Thanks for raising this issue. We'll investigate.

@Rick-Kirkham Can you take a look at this?

Thanks.

[2020-07-21 16:56] ElizabethSamuel-MSFT commented on #2028
@aman3011 Thanks for asking about this.

For an add-in to be available in a new event, you must define the [AppointmentOrganizerCommandSurface](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/extensionpoint#appointmentorganizercommandsurface) in your add-in manifest. Also see [Add-in commands for Outlook](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/add-in-commands-

[2020-07-21 17:47] oscarcosta commented on #2030
Hi @ElizabethSamuel-MSFT, I am using the Microsoft Office Professional Plus 2016, Version 2002 (Build 12527.20880).

The Office.context.mailbox.diagnostics in the AddIn returns hostName = Outlook and hostVersion = 16.0.12527.20880

Thanks

[2020-07-21 18:12] ElizabethSamuel-MSFT commented on #2030
@oscarcosta Thanks for sharing this info. You're actually using a version that supports up to requirement set 1.8 (see the following note on the requirement sets page).

- "Support for 1.8 in Outlook on Windows with a Microsoft 365 subscription or a retail one-time purchase is available from version 1910 (build 12130.20272)."

@exextoc Any guidance regarding validation for this scenario?

Thanks.

[2020-07-21 18:41] aman3011 commented on #2028
Thank you so much Elizabeth, I was able to make it show up on the new event page. But it isn't behaving the way it is when It fires in the Inbox. Do you know why it is doing so?

[2020-07-21 18:46] ElizabethSamuel-MSFT commented on #2028
@aman3011 Sure, no problem.

It seems that you maybe replaced the original command surface you had defined in your manifest? Note that you can define multiple command surfaces to support some combination (or all combinations) of Compose and Read modes for messages and appointments/meetings/events. See the available [Outlook extension points](https://docs.microsoft.com/en-us/office/dev/add-ins/refe

[2020-07-21 18:49] oscarcosta commented on #2030
@ElizabethSamuel-MSFT, thank you so much for your help!

[2020-07-21 18:49] aman3011 commented on #2028
No, I defined it as another extension point and basically copied and pasted whatever I had for my inbox and compose message extension point. It fires up but nothing shows up.

[2020-07-21 18:56] ElizabethSamuel-MSFT commented on #2028
@aman3011 We'll need some more info to help debug. Can you share some version of your manifest and a code sample (e.g., GitHub gist)? What is your add-in trying to do in each mode you're supporting?

Thanks.

[2020-07-21 19:15] aman3011 commented on #2028
<ExtensionPoint xsi:type="AppointmentOrganizerCommandSurface">
            <OfficeTab id="TabDefault">
              <Group id ="apptOrganizerCmdGroup">
                <Label resid ="GroupLabel"/>
                <Control xsi:type="Button" id ="apptOrganizerInsertGist">
                  <Label resid ="TaskpaneButton.Label"/>
                  <Supertip>
                    <Title resid="Taskpane

[2020-07-22 20:05] exextoc commented on #2030
What validation errors do you receive when trying to submit your add-in to the Partner Center? Or do you have a screenshot of why the validation failed?

[2020-07-23 10:20] rajha-apttus opened #2036 "How to run word add-in using internet explorer 11 after update (Windows 10 ver. >= 1903 / Office 365 ver >= 16.0.116291)"
Hi,

My system got updated to below version of windows OS and Office 365.
**Windows 10 ver. >= 1903 / Office 365 ver >= 16.0.116291**
I want to open the word add-in using **internet explorer 11** (the way it was loading before) due to some xyz reason. I can see document is talking about **runtime**, but when I used inside manifest it is showing below error.
![image](https://user-images.githubuserc

[2020-07-23 14:32] oscarcosta commented on #2030
The reported error is:

_Predictable Behavior
1100.4.4.2 O365 Perpetual
Your offer is not working in Office 2016.
The add-in loads indefinitely after selecting language._

I think this perpetual loading happens because the **Office.context.mailbox.item.categories.getAsync(asyncResult => {** is never returning a result on Office 2016. It is working fine for all other platforms that suport Mailbox A

[2020-07-23 15:19] u983101 opened #2038 "Error when trying to npm start"
[Enter feedback here]
Error when trying to npm start

'office-addin-debugging' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! office-addin-taskpane-js@0.0.1 start: `office-addin-debugging start manifest.xml`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the office-addin-taskpane-js@0.0.1 start script.
np

[2020-07-23 18:40] mscharlock commented on #2038
Hi @u983101 - Thanks for writing in. Can you let me know what the error log from that C drive file says? I am unable to reproduce this problem at the moment but will look into it with that info.
Also, just curious when the last time you updated your copy of the yo office package? I wonder if this might have something to do with it.
@TCourtneyOwen and @nokafor for FYI

[2020-07-23 21:49] TCourtneyOwen commented on #2038
We had a problem with our publishing process a couple days again and office-addin-debugging and other packages were broken by the publishing.  We published again yesterday and things should be working now.  If you update your office-addin-debugging package version to 3.0.33 in your project, I am betting this will fix things.

-Courtney

[2020-07-23 22:36] ps-git commented on #1716
### Context:
I recently built a JS Add-In for Excel, and am facing a similar to that noted by @Magnielcz where manifest.xml files uploaded to the iPad are not picked up in the My-Add ins section on the insert tab. Saving the manifest file directly on the ipad, by sending it to the Files app --> Excel. Also failed. I don't know whether this is due to corporate management setting on my device or som

[2020-07-24 20:22] #2020 closed

[2020-07-27 18:39] jeremy-msft commented on #2031
@vlgiugal, thanks for your feedback. Could you please re-confirm for us the build number and version where you are seeing this issue?

[2020-07-28 07:12] vikasm1720 opened #2047 "UI-less Custom functions does not trigger when a workbook is opened"
I have a custom function, which fetches data from stock API and display data in cells. When a workbook with this function is opened it fails to refreshes automatically. The user has to forcefully click on the refresh button to force recalculate. Is there a way to force recalculate when a spreadsheet is opened.

/**
 * Gets stock values.
 * @customfunction
 * @param {string[][]} identifier Identifi

[2020-07-28 19:06] exextoc commented on #2030
To clarify there are multiple versions of Outlook 2016. The MSI version only supports up to API Set 1.4. The Subscription Version (which is updated monthly, or semi-annually depending on desires of the customer), supports up to 1.8 (and will support future API sets as they come out). The validation team is most likely stating that the Outlook 2016 MSI version is not working correctly. However, you

[2020-07-28 20:46] AlexJerabek commented on #2047
Hi @vikasm1720,

Thanks for the question. Have you tried making this a streaming function? Since you're fetching stock prices, I assume you want everything to update with the market. There's a tutorial on making this type of custom function here: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?view=excel-js-preview&tabs=excel-windows#create-a-st

[2020-07-29 01:11] oscarcosta commented on #2030
@exextoc thanks for the clarification. The AddIn is already configured with API Requirement set to 1.5. Therefore, I guess the validation team is not using the Outlook 2016 MSI.

I am afraid I won't be able to download the Outlook 2016 MSI for testing/debugging, because I don't have a valid license available for this version, and it seems it is not possible to download it for a trial period, as st

[2020-07-29 10:55] vlgiugal commented on #2031
Hi @jeremy-msft, we've tested on Office 365 Build 11929.20776 - https://docs.microsoft.com/en-us/officeupdates/semi-annual-enterprise-channel#version-1908-may-12 and **it worked here.**  This is in contrast with what the article states.

We've also tested on Outlook 2016 random builds - but there we couldn't reproduce the behavior - **as confirmed in the article.**  Here was no issue, as it compli

[2020-07-30 03:41] oscarcosta commented on #2030
I think I found the problem. When an email does not have categories, the method `Office.context.mailbox.item.categories.getAsync` is returning an empty array for most of the cases _Object { value: [], status: "succeeded" }_, but for Office 2016 it is returning null _Object { status: "succeeded", value: null }_.

The worse part is that it does not show anything in the console and just stop the prog

[2020-07-30 15:03] andrew-j-roberts opened #2052 "Question for Microsoft teammembers about Office Add-In architecture & deployment strategy"
I didn't know where else to ask this question and hope this issue isn't unwelcome here—if it is let me know and I'll repost wherever is appropriate.

[Enter feedback here]

My team and I are attempting to build a plugin for Solace PubSub+ Event Broker that customers will be able to use to get live data feeds in their Excel sheets. The problem we're running into is that the payload schemas aren't u

[2020-07-30 15:29] exextoc commented on #2030
Oscar, yes it looks like we have a minor inconsistency in categories.getAsync API where OWA returns an empty array and Office 2016 returns null when no categories are set on the item. This can be easily worked around by checking the result both for null and for empty array.

Glad to hear you found the issue. Does it work as expected now if you add the null check?

[2020-07-30 15:41] oscarcosta commented on #2030
Yes, it is working as expected now. Thanks.

*Oscar Costa*

On Thu, Jul 30, 2020 at 8:30 AM Outlook Add-ins Team - MSFT <
notifications@github.com> wrote:

[2020-07-30 15:43] #2030 closed

[2020-07-30 16:16] ElizabethSamuel-MSFT commented on #2030
@oscarcosta Thanks for letting us know the outcome. We'll update the docs to mention this discrepancy.

[2020-07-30 18:20] mscharlock commented on #2052
Hi @andrew-j-roberts - Thanks for writing in! We can definitely help connect you with some folks on this issue. Let me ask our team of PMs who might be the right contact and get back to you. Thanks!

[2020-07-30 18:50] keyur32 commented on #2052
Hi @andrew-j-roberts , interesting scenario.

Please give us a way to contact you, as we'd love to chat offline. An easy way you can give us your contact information securely is by sending feedback from within office.

If you can, please send a smile from within the Office application, as detailed here: https://support.microsoft.com/en-us/office/how-do-i-give-feedback-on-microsoft-office-2b102d44-

[2020-07-30 20:14] andrew-j-roberts commented on #2052
Thank you @mscharlock!

Hi @keyur32, thank you for getting back to me so quickly. I've gone ahead and sent a smile from my Office application and will be waiting to hear from you on the email address I provided. If you have a hard time accessing my feedback let me know and I'm happy to get you my email however you'd like.

[2020-07-30 21:49] csharp-reader opened #2054 "Web link issue https://developer.microsoft.com/en-us/word --> https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-office-add-ins-in-visual-studio"
1. https://developer.microsoft.com/en-us/office
2. click on word icon:   https://developer.microsoft.com/en-us/word
3. click on Create Word add-ins with Visual Studio -- Learn more
4. result: We're sorry, we can't find the page you requested.  --- https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-office-add-ins-in-visual-studio
5. Of the links provided on the page, one goes back t

[2020-07-30 22:18] AlexJerabek commented on #2054
Thanks for reporting this @csharp-reader. I'm assigning @lindalu-MSFT to fix the broken link, which should probably go here: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/develop-add-ins-visual-studio

I'll reach out to our PM team about your question for Excel/Word interactions. I think @keyur32 could provide some suggestions based on the scenario you're describing.

[2020-07-31 01:00] #2038 closed

[2020-07-31 16:05] dubeg opened #2056 "Confused about requirement of a Sharepoint App Catalog"
Concerning this paragraph:

I think this should be clarified to say that you either need an App Catalog on Sharepoint (for an on-premise SharePoint server), or use Centralized Deployment with Microsoft 365. What do you think?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3fde38-9149-0403-bd89-e2bf0269749a
* Version

[2020-07-31 21:29] ElizabethSamuel-MSFT commented on #2052
@keyur32 Can this be closed now?

Thanks.

[2020-07-31 21:31] ElizabethSamuel-MSFT commented on #2056
@dubeg Thanks for asking about this.

@Rick-Kirkham Is this something you can help with?

Thanks.

[2020-07-31 21:57] ElizabethSamuel-MSFT commented on #2028
@aman3011 Thanks for sharing that portion of the manifest. Can you share how you've defined the "ShowTaskpane" action in your code/script?

Thanks.

[2020-08-03 10:16] vikasm1720 commented on #2047
@AlexJerabek , thank you for pointing me to streaming functions, that actually solved half my problem.
With streaming function is there a way to return dynamic array as results. I am pulling historical data sets, so previously I was using dynamic arrays to return data but with streaming function, i am unable setresults for dynamic array.
@returns {any[][]} A dynamic array with multiple historical

[2020-08-03 10:46] ysachin7 opened #2059 "Need Workbook On Save Event"
I have a requirement to do some functionality on workbook on save event.
I am using office.js and blocked right now because of this.

Can anyone please help or suggest anything

[2020-08-03 13:14] vikasm1720 commented on #2047
I tried the solution given in https://github.com/OfficeDev/office-js/issues/1220 for the dynamic array, it worked closing this issue

[2020-08-03 15:53] ChemMitch opened #2060 "Tutorial gives error upon pressing F5"
Hello,

I followed the steps in the tutorial and pressed F5 to run the add-in.
A message box appears.
"Value cannot be null.
Parameter name: input"

Can you provide some information on how to deal with this?

I'm using Visual Studio 2019 Community on Windows 10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f

[2020-08-03 23:02] AlexJerabek commented on #2059
Hi @ysachin7,

Thanks for using Office Add-ins. I'm sorry to hear you're blocked needing a save-related event. There was [a Stack Overflow thread](https://stackoverflow.com/questions/62066379/save-functionality-in-excel-addin-using-officejs-and-reactjs) about this, but it seems like we determined an onSave event would be noisy due to the number of times Excel autosaves.

I'd recommend creating a r

[2020-08-03 23:02] #2059 closed

[2020-08-04 00:27] alison-mk commented on #2060
Hi ChemMitch, thanks for reaching out! I’ve tested the steps in this quick start and don’t encounter the error you mentioned. Can you confirm that you’ve saved each of the files edited (Home.html, Home.js, Home.css, and the XML manifest file) before pressing F5 and launching Excel?

If this isn’t the issue, could you respond with:
1. Your version of Excel
2. A copy of your Home.html and XML manife

[2020-08-04 02:46] ChemMitch commented on #2060
Hi Alison,
Thanks for responding!
Yes; I've saved all the edited files. Just reopened the solution and ran again and got the same error.
1. Microsoft 365 32 bit

[Home.zip](https://github.com/OfficeDev/office-js-docs-pr/files/5019795/Home.zip)
Attached is a zip with Home.html and the XML manifest file.

Regards,
Mitch

[2020-08-04 20:33] ps-git commented on #1716
Please note that this **ticket is awaiting reassignment since April 3rd**

@Rick-Kirkham , @keyur32 , @JuaneloJuanelo, @ElizabethSamuel-MSFT, @alison-mk

Adding to my comment from two weeks ago.

**Could someone on the MS Office Dev team please have a look and confirm that side-loading on iPad (newest OS) still works.**

I cannot get it to work despite loading the manifest.xml file from Windows (i

[2020-08-04 20:52] alison-mk commented on #2060
Hi Mitch,

Thank you for the additional info! I'm still not able to reproduce this issue, even when testing with your files. Could you check your Office version and build number and pass it along? That will help us narrow down potential causes. Here are directions for how to look up your version and build: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/office-versions-and-requirement-

[2020-08-04 21:51] ChemMitch commented on #2060
Hi Alison,

Here’s the version info – hoping this screenshot gets transmitted back to github.

Kind regards,

Mitch Miller, Scientific Thinking LLC

_________________

mitch.miller@thinkscience.us

From: Alison McKay <notifications@github.com>
Sent: Tuesday, August 4, 2020 4:53 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: ChemMitch <mitch.miller@thinkscience.us>; A

[2020-08-04 23:02] alison-mk commented on #2060
Hi Mitch,

Heads up: the screenshot didn't make it through! Would you mind typing up the version + build info?

Thanks!
Alison

[2020-08-04 23:22] ChemMitch commented on #2060
Sure.

Version:  2006 (Build 13001.20384)

Kind regards,

Mitch Miller, Scientific Thinking LLC

_________________

mitch.miller@thinkscience.us

From: Alison McKay <notifications@github.com>
Sent: Tuesday, August 4, 2020 7:03 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: ChemMitch <mitch.miller@thinkscience.us>; Author <author@noreply.github.com>
Subject: Re: [Offi

[2020-08-05 00:23] alison-mk commented on #2060
Hey Mitch, thanks for passing this along. Looks like your build meets the minimum requirements. A couple more questions for you: When you press F5 in Visual Studio, does it launch Excel? Where is the error message displayed (in Excel, in Visual Studio, etc)?

Thanks,
Alison

[2020-08-05 00:30] ChemMitch commented on #2060
Hi Alison,

No, Excel is not launched.

The message is displayed in VS.

Thanks for working on this.

Kind regards,

Mitch Miller, Scientific Thinking LLC

_________________

mitch.miller@thinkscience.us

From: Alison McKay <notifications@github.com>
Sent: Tuesday, August 4, 2020 8:24 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: ChemMitch <mitch.miller@thinkscience

[2020-08-05 16:01] vikasm1720 opened #2064 "Dialog API: Office.context.ui.displayDialogAsync opens in new tab instead of new window on browsers MAC"
I am developing a custom functions add-in and using Dialog API for authentication. When the add-in is opened on safari browser in MAC, the Dialog API window behaves differently when opened from excel online. As shown in the attached video, when the parent window is maximized, the Dialog API opens the non-modal window in a new tab instead of new window, but when the parent window is shrunk, the Dia

[2020-08-05 18:07] alison-mk commented on #2060
Hi Mitch,

It seems like you may not have the Office/SharePoint development workload installed in Visual Studio (referenced in this tutorial's prerequisites). Can you confirm you have this workload installed? Here's an article you can use to check if it's installed, and install it if not: https://docs.microsoft.com/en-us/visualstudio/install/modify-visual-studio?view=vs-2019. In the installer Work

[2020-08-05 19:12] ChemMitch commented on #2060
Hi Alison,

Good idea to check.

Yes; the Office/SharePoint development workload installed – the box is checked on the installer.

Kind regards,

Mitch Miller, Scientific Thinking LLC

_________________

mitch.miller@thinkscience.us

From: Alison McKay <notifications@github.com>
Sent: Wednesday, August 5, 2020 2:08 PM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: ChemM

[2020-08-05 23:10] alison-mk commented on #2060
Hi Mitch,

Thanks for reporting back! We've checked nearly everything I can think of, and I'm still not able to reproduce the error you've reported. One more idea on my side: Can you send along your JS file, so I can test with that, as well?

In addition to sending along your JS, at this point my main recommendations are that:
- You go through the Visual Studio tutorial steps again carefully, to s

[2020-08-06 00:04] exextoc commented on #2031
We tried build 11929 and we cannot repro so far. Could you share more information about the repro steps? (for example, whether the addin is pinned, whether this as in read or compose, message or calendar?). Screenshots or a video can also be helpful for us to get a repro.

[2020-08-06 02:43] ChemMitch commented on #2060
Hi Alison,
Home.js is attached.  I did go through the tutorial twice to make sure.

[Home.js.zip](https://github.com/OfficeDev/office-js-docs-pr/files/5031700/Home.js.zip)

The Yeoman path works.

Thank you!
Mitch

[2020-08-06 07:11] KapilGeorge opened #2066 "Pass parameter from host to the addin"
I am opening my excel workbook from command prompt and passing some arguments to it as shown in the below example.
I am able to load my addin when the document is opened but how do i pass the parameter to the addin or is there a way to read the parameter in Office.initialize function?

example:
excel.exe xyz.xlsx parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-08-06 10:28] thulium3 opened #2067 "Custom Document Properties not persisted in Excel Online"
I am using Excel Online Version 16.0.13129.31875.
I am adding document properties to my document and later read them again.

Following pattern was observed:
When working locally in Excel on Mac I can set properties, close document, reopen it and read them again.
Also adding properties in local Excel and reading them later in Excel Online does work.

But when I add the properties in Excel Online I

[2020-08-06 18:01] AlexJerabek commented on #2066
Hi @KapilGeorge,

Today, you can't pass parameters from the command line into `Office.initialize`. I'd recommend you create a request on [UserVoice](https://officespdev.uservoice.com/). We use UserVoice to prioritize community requests for addition to the product. If the community also needs the feature and upvotes your request, it'll be more likely to be added to the add-ins platform.

Since ther

[2020-08-06 18:01] #2066 closed

[2020-08-07 15:38] aman3011 opened #2074 "Url querying in the Manifest - Outlook Add In"
So, we are designing an add in for outlook for our product. The add in fires from different locales in the outlook interface, namely compose, read, new events parts of the outlook web interface. Now what I want is the ability to open the taskpane url with a query so that it renders different things from different areas it's fired from.

All I found remotely similar to what I want is this :-
https:

[2020-08-07 16:21] ElizabethSamuel-MSFT commented on #2074
@aman3011 Thanks for your interest in Outlook add-ins! If I understand correctly, I think what you need is to know more about extension points. In the manifest, you can have a button displayed in the ribbon for each mode. For example, AppointmentAttendeeCommandSurface where a ribbon button (or add-in command) is displayed on the appointment/meeting form for an attendee or in Read mode. Some other

[2020-08-07 16:25] aman3011 commented on #2074
Thank you for your reply Elizabeth, I understand Extension points and have used almost all of them for my add in, maybe a better question is how can I make the add in behave/render differently at these extension points. how do I make sure that in taskpane.js that I want to show the Calendar tab of my add in when I'm in the new event page, and the Mail tab of my add in, when I'm in the compose or r

[2020-08-07 16:45] ElizabethSamuel-MSFT commented on #2074
In that case, it may be that you define different URLs in the resources section of the manifest. Each extension point you've defined can have its own URL and maybe that's where you can try using the query param on the task pane URL.

- [Resources manifest element](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/resources)

[2020-08-07 16:46] aman3011 commented on #2074
So there is nothing I can do from my render function in my taskpane.js file, where I can tell it what to fire based on where the taskpane is being accessed from? going back to query params or something close to that?

[2020-08-07 16:51] ElizabethSamuel-MSFT commented on #2074
I'll add the product team to see if they have some guidance on this.

@JuaneloJuanelo @exextoc Any thoughts on what @aman3011 can do in this case?

Thanks.

[2020-08-07 16:53] aman3011 commented on #2074
Thank you so much Elizabeth, really appreciate it.

[2020-08-07 19:04] exextoc commented on #2074
Using query parameters is what we suggest on similar situations. There is not an API that tells the addin which extension point the addin is launched from. As you hinted at already, you can use different source url, which could be different html, or just different query parameters, for each extension point. If parameters don't work well in your scenario, please do tell us more.

[2020-08-07 19:19] aman3011 commented on #2074
So I get the point where I can set different source URL's at the manifest side but now for my taskpane.js how I do access these url's in my individual components. Is there a way I can access url's from the manifest

[2020-08-07 20:48] exextoc commented on #2074
I assume taskpane.js is referenced by resource the source URL is pointing to? Would document.location https://developer.mozilla.org/en-US/docs/Web/API/Document/location be sufficient to get the current source URL that is currently loaded?

[2020-08-07 21:51] aman3011 commented on #2074
Thanks, I'll keep probing into this and will holler at you guys for more. But thank you again!!

[2020-08-07 21:51] #2074 closed

[2020-08-08 01:00] #2028 closed

[2020-08-10 13:18] MartinKarak commented on #2031
Outlook Add-im Send to OneNote works with signed and also not signed e-mails
![O365-sig01](https://user-images.githubusercontent.com/69466226/89786758-bf1ae700-db1c-11ea-9016-b76d187bdab3.JPG)
![O365-sig02](https://user-images.githubusercontent.com/69466226/89786762-c0e4aa80-db1c-11ea-822c-098fc2d1720e.JPG)
![O365-sig03](https://user-images.githubusercontent.com/69466226/89786768-c215d780-db1c-11e

[2020-08-11 03:37] glr0221 opened #2078 "Can we use wildcards in manifests?"
Hello Microsoft,

A good day to you all.

Currently, referring to this documentation https://docs.microsoft.com/en-us/office/dev/add-ins/develop/localization, there seems to be no way to use wildcards for manifests. Or am i mistaken?

Just to give an example, outlook (OWA) supports over 100++ english locales(codes). And assuming our addin's manifest default locale is not english, then this means i

[2020-08-11 19:37] #2056 closed

[2020-08-11 22:39] alison-mk commented on #2060
Hi Mitch,

Thank you for providing this additional file and information! I'm glad to hear that the Yeoman path does work for you.

You've given me all the information I can think of, yet I still can't reproduce the error you reported on my machine, so at this point we are unable to move forward with a resolution. We'll keep track of this issue though, and we'll use the information you've provided

[2020-08-11 22:39] #2060 closed

[2020-08-12 03:48] glr0221 commented on #2078
@Rick-Kirkham sorry to mention you on this ticket but is there any way to do this right now? If none, is there any possibility we can mark this as a feature request for MS developers? thank you very much, we really appreciate it.

[2020-08-12 05:19] glr0221 commented on #2078
Hi everyone, so today, I found out that using 2 character (language only) locale-code will actually act like a wildcard in overrides.

So for example, if i wanted to support all spanish regardless of where they are then all i do in the override is as follows :
`    <Override Locale="es" Value="My Spanish AddIn" />`

For french :
`<Override Locale="fr" Value="My French AddIn" />`

And if i want an

[2020-08-13 11:49] vikasm1720 commented on #2047
Reopening this issue. In my current workflow, I am using the requiresAddress parameter to assign data in the cell. The requiresAddress is used for offsetting data. Is there a way to offset data with dynamic arrays. the offset should be cell-1(row, column) and should not override the formula while displaying values.
For example: If I insert a formula in B2, then I want to show Company Name in B1 an

[2020-08-13 14:14] sshukurov opened #2083 "Closing tag for <EquivalentAddins> element in the example provided misses a slash"
There is a typo in the xml example provided. Closing tag for `<EquivalentAddins>` must look like:
`</EquivalentAddins>`
instead of:
`<EquivalentAddins>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e6816e9-a82d-012d-de66-5f802b02dba5
* Version Independent ID: 87992af8-d49e-337a-253c-922d56e1281b
* Content: [Extend c

[2020-08-13 15:26] vigen-b opened #2084 "How Safe to Use Identity Token for Authentication?"
Generally this is question!
The page describes how to use identity token for the authentication. Basically it suggests to keep associate user identity context with internal user and later use identity token as a proof for authentication. But other documentation related to identity token, also tests shows that identity token is the same for all add-ins (if they provide the same `appurl`). Feels lik

[2020-08-13 15:58] AlexJerabek commented on #2083
Thanks for catching this @sshukurov. I'll get a PR going for this fix right now.

[2020-08-13 16:00] AlexJerabek commented on #2047
Assigning @mscharlock to investigate.

[2020-08-13 18:14] exextoc commented on #2031
Thanks for providing the screenshots. I see you have insights add-in as well, do you see a similar behavior with Insights as well or is that different? Does this behavior happen for other addins as well or only for OneNote?

[2020-08-13 22:16] AlexJerabek commented on #2084
Tagging @ElizabethSamuel-MSFT and @exextoc to investigate.

[2020-08-13 22:34] #2083 closed

[2020-08-14 07:04] MartinKarak commented on #2031
Hi,
I see the same behaviour.

[2020-08-15 09:26] uangyydev opened #2092 "The shared javascript runtime does't work"
[Enter feedback here]

I followed the instructions in the page of "Configure your Excel add-in to use a shared JavaScript runtime".
But the function CONTOSO.ADD(1,1) returns #N/A. I have tried the instructions both on macos and online version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1bb1ec-f7c0-61c7-bd50-4018a

[2020-08-16 07:35] kcchien commented on #195
I have same problem, too.
Follow the document but still can't see the inspect shows up :(
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac

environment:
macOS: catalina 10.15.6
excel: 16.40 build 20081021

[2020-08-17 16:48] AlexJerabek commented on #2092
Hi @uangyydev,

Thanks for reporting this issue. I'm assigning @mscharlock to follow-up and investigate.

[2020-08-17 19:44] ConwayMagee opened #2095 "I need instructions to attach the DevTool Console to the Office Word Add-in Task Panel to observe JavaScript console.log output."
Instructions are needed to attach the Edge and/or Chrome DevTools  to the Office Word Add-in Task Panel to observe JavaScript console.log output.

At issue is that the Visual Studio JavaScript console was  removed  some time ago. The only tool which works is an older Microsoft Edge DevTools Preview product. All steps in the MS doc will not connect to my Word Add-in Task Pane. Cleare document would

[2020-08-17 20:19] aman3011 opened #2097 "How to scope the add in to only the event clicked on from the ApptOrganizer Extension Point"
I want to get calendar event details of only a particular event on the add in, I have been only been able to retrieve all the calendar events at once, but I want my add in to have the capability of just displaying the details of the event it is scoped on.

![Annotation 2020-08-17 151703](https://user-images.githubusercontent.com/40612714/90440462-e2a1dc80-e09c-11ea-80c6-8e3f27c58377.png)

As you s

[2020-08-18 00:54] exextoc commented on #2031
Sorry, there had been some confusion here, that I verified with the rest of the team. For Outlook 2013, and Outlook 2016, both IRM Encrypted and Digitally Signed Messages were excluded from Outlook Web Add-ins. Due to customer feedback, we relaxed this restriction for the C2R Outlook 365 versions, so that only Digitally SIGNED messages are allowed. IRM Encrypted messages are still currently not al

[2020-08-18 02:20] nkkinariwala commented on #2097
Hi @aman3011 , In order for us to triage this issue, we need more information like environment details as per the Template. Can you please complete and then I can assign to our product team to investigate?

[2020-08-18 07:16] MartinKarak commented on #2031
yes, it does.
Thank you.

[2020-08-18 14:02] aman3011 commented on #2097
Hi @nkkinariwala, what kind of environment details are you asking for, I'm developing this using React and currently running the app on our dev server if that answers your question.

[2020-08-18 18:47] exextoc commented on #2097
Properties of the current item in focus are on Office.context.mailbox.item. For example if you want the subject in an AppointmentRead object, you can access Office.context.mailbox.item.subject

https://docs.microsoft.com/en-us/javascript/api/outlook/office.appointmentread?view=outlook-js-preview

Appointment Compose functions and properties:

https://docs.microsoft.com/en-us/javascript/api/outlook

[2020-08-18 18:56] aman3011 commented on #2097
Thank you so much, I was able to use Office.context.mailbox.item in my rest API and retrieve my information

[2020-08-18 19:36] #2097 closed

[2020-08-18 20:30] AlexJerabek commented on #2095
Hi @ConwayMagee

Thanks for raising this issue. Have you checked out these documents about debugging:
- [Debug add-ins using developer tools on Windows 10](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10)
- [Microsoft Office Add-in Debugger Extension for Visual Studio Code](https://docs.microsoft.com/en-us/office/dev/add-ins/testing

[2020-08-18 22:05] #2031 closed

[2020-08-20 08:00] hthjthtrh opened #2103 "Level of access to file system / system resources in Outlook add-in"
Hi there, just want to check if, under the "isolated javascript run-time provided by browsers", I am able to access files on the host system, for example Keychain on the MacOS and use the SubtleCrypto interface of the Web Crypto API to perform cryptographic functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c968

[2020-08-20 10:01] sshukurov opened #2104 "Loading Office add-in which has equivalent COM add-in, custom functions names appear without namespace"
I am loading an add-in's manifest to Excel on Windows, the manifest has an equivalent COM add-in specified. I notice a call-out that points out the COM add-in ribbon button, as documented.

Now when I try to write a formula using custom functions from the add-in, I am not being able to find the functions under the namespace specified in the manifest, although I am able to find them without the nam

[2020-08-20 14:58] turchinc commented on #1028
@Rick-Kirkham  thanks for the clarification - I see you are with MSFT can you +1 this in the backlog for us?

[2020-08-20 16:08] AlexJerabek commented on #1028
@turchinc, The ability to add a slide to a presentation is in the backlog. We should have news on that soon. Stay tuned to the [Office Developer Blog](https://developer.microsoft.com/en-us/office/blogs/) for updates.

[2020-08-20 16:13] AlexJerabek commented on #2104
Hi @sshukurov,

Thanks for reporting this. @mscharlock, can you please take a look at this issue?

[2020-08-20 17:57] mscharlock commented on #2104
Transferring to CFs repo, as I just want to verify the behavior expectations. I don't think this is expected, but @RuoyingLiang would you know?

[2020-08-20 18:04] mscharlock commented on #1954
@lliu113, can you have a look at this? Thanks

[2020-08-20 18:06] mscharlock commented on #1821
I'm going to close this issue for now, but wanted to let you know that your feedback has passed on! Thank you.

[2020-08-20 18:06] #1821 closed

[2020-08-20 18:12] mscharlock commented on #2047
@vikasm1720 I'll look into this with our engineers and let you know. Thanks!

[2020-08-20 18:17] mscharlock commented on #1307
Hi there @topkoong - to follow up on this, wanted to let you know about some [new documentation on our add-in debugger for VSC](https://docs.microsoft.com/office/dev/add-ins/testing/debug-with-vs-extension). Let me know if that helps. Thanks!

[2020-08-20 21:07] ElizabethSamuel-MSFT commented on #2103
@hthjthtrh Thanks for your question.

@exextoc Can you take a look?

Thanks.

[2020-08-21 17:41] massonj opened #2109 "The documentation should mention all manditory scopes"
I got an error message validatign my addin which says that I don't have all the manditory scopes defined. THe documentation mentions "profile" at the only alwasy required scope, but the validation tool also says that I need openid.

[code]

The documentation and the validation tool should agree :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-08-24 03:39] hthjthtrh opened #2113 "Inconsistency between documentation and actual site"
I am trying out the add-in tutorial for Outlook on Mac.
The actual add-in page is completely different from documentation and side-load functionality is nowhere to be found.
![image](https://user-images.githubusercontent.com/28558363/91001464-58a6c600-e5fe-11ea-821a-28bd0b7ce89a.png)
Documentation
![image](https://user-images.githubusercontent.com/28558363/91001507-75db9480-e5fe-11ea-8e46-47d9dbc2

[2020-08-24 04:52] mug-cat opened #2114 "Sideload is not supported."
I am following the tutorial tagged below on a Mac.

I am getting this error message with npm start:

\> office-addin-taskpane@0.0.1 start /Users/dean/Outlook add-in tutorial
\> office-addin-debugging start manifest.xml

Debugging is being started...
App type: desktop
The dev server is already running on port 3000.
Sideloading the Office Add-in...
Error: Unable to start debugging.
office-addin-debu

[2020-08-24 06:33] glr0221 commented on #2078
@erayc-msft @smaremanda no update on this? thank you

[2020-08-24 07:20] hthjthtrh commented on #2113
I am closing this issue because even though the inconsistency still exists, you can circumvent the problem by first sideloading the add-in through the web-application and it will automatically update the desktop application.

[2020-08-24 07:20] #2113 closed

[2020-08-24 15:31] ElizabethSamuel-MSFT commented on #2114
@hthjthtrh Thanks for asking about this.

@TCourtneyOwen Can you take a look?

Here are the links to the tutorial and quick start for your convenience.
- [Outlook tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/outlook-tutorial#test-the-generated-add-in)
- [Outlook quick start](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangen

[2020-08-24 16:12] TCourtneyOwen commented on #2114
Sideloading is not supported for Outlook. To sideload for Outlook, you need to follow these steps:  https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing.  I think we should update the tutorial instructions to say "npm run dev-server" instead, as this will skip sideloading for unsupported hosts.

[2020-08-25 02:30] hthjthtrh commented on #2114
That page honestly needs a complete revision. There are too many redundant and confusing steps and erroneous codes that makes it a less frustrating learning journey to just learn everything by yourself than to follow this tutorial.

[2020-08-25 15:27] ElizabethSamuel-MSFT commented on #2114
@hthjthtrh Thanks for sharing your feedback! We're always open to hearing how we can improve the user experience.

Also, I'm curious if you had tried the [Outlook quick start](https://docs.microsoft.com/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator)? If so, how was that experience for you?

Thanks.

[2020-08-25 15:33] aman3011 opened #2120 "Programmatically Update Calendar Events from User from taskpane in React"
So, I have an events component which is scoped to a single event by using the event id. I am able to retrieve the details of that event by using the REST API.

Now what I want to do with that is, update the calendar event on Outlook by taking user input from the taskpane. I am at a loss on what to use to achieve that since there is no clear documentation that specifies the resources I need to do t

[2020-08-25 16:20] ElizabethSamuel-MSFT commented on #2120
@aman3011 Thanks for asking about this. From the screenshot, it seems like the user is an attendee on this meeting? If that's the case, then, for the most part, the user can't edit the appointment. For properties and methods available on an appointment in read/attendee mode, see [AppointmentRead](https://docs.microsoft.com//javascript/api/outlook/office.appointmentread?view=outlook-js-1.8).

For p

[2020-08-25 16:48] aman3011 commented on #2120
Thanks for your response, so I can't have a user whether attendee or not change calendar event details from the taskpane?

[2020-08-25 17:02] ElizabethSamuel-MSFT commented on #2120
How the user can interact with an event in the Outlook UI is usually replicated by the available API. So if the user is the organizer/creator of an event, they can usually change details, similar to the UI behavior in Outlook. You can see available members on the AppointmentCompose page.

[2020-08-25 22:02] Rick-Kirkham commented on #2109
@mattgeim Is it correct that openid is now mandatory? Or is this a bug in the validation tool?

[2020-08-26 01:00] #2095 closed

[2020-08-26 02:06] ConwayMagee commented on #2095
Sorry but family matters interviened. I truly feel lack of interest to support Office Add-ins using JavaScript. It seems the push is with c# and React

[2020-08-26 11:15] mattgeim commented on #2109
Mandatory @Rick-Kirkham - I'm updating the overview docs and will have a PR shortly.

[2020-08-26 15:25] ramalva92 opened #2124 "Office Addin Vue js quickstart TYPO"
[Enter feedback here]
in reference to: https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-vue

There is a TYPO in part 3 in the HTML code is presented.
SHOULD not be id="content-main", it should be class="content-main"
since it is defined as a class in the styles.

 .content-main {
    background: #fff;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;

[2020-08-26 17:37] lindalu-MSFT commented on #2124
Fixed, submitted PR to merge fix to live. Check back tomorrow!

[2020-08-26 17:37] #2124 closed

[2020-08-26 17:38] lindalu-MSFT commented on #2124
@ramalva92 P.S. THANK YOU very much!

[2020-08-27 04:42] astak15 opened #2127 "The ContextMenuCell option doesn't show up for cells that are part of a table. Is this by design or a bug?"
The `ContextMenuCell` option, if used, shows custom menu options for normal cells but if the cell is part of a table, it doesn't show up. Is this by design or a bug? If it's by design, how do I make the menu show up for a table cell? My add-in works exclusively on tables so this is very important.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-08-27 07:22] glr0221 commented on #2078
anyone here? @erayc-msft @smaremanda

[2020-08-27 07:48] glr0221 opened #2128 "DefaultLocale values in manifest are not honored in some cases."
Values in DefaultLocale do not take precedence in some cases.

## Article URL

 https://docs.microsoft.com/en-us/office/dev/add-ins/develop/localization

## Issue

1. Let us setup the manifest first.  To reproduce this issue please use the following snippet in your manifest :
[code]
In the above manifest "en-AU" is the default locale of the addin. But the encompassing "en" locale is also given an

[2020-08-27 09:12] vigen-b commented on #2084
`appctx` identifies user. Which field identifies my add-in? As I understand `appctx` will have the same value for different add-ins. How I can make sure that token send from my add-in?

[2020-08-27 18:13] AlexJerabek commented on #2078
@glr0221, I'll ping some people internally and try to get you a response.

[2020-08-27 23:09] mscharlock commented on #2047
Hi @vikasm1720 It's my understanding that this doesn't work with dynamic arrays. Reason being, our dependency model is such that formulas can only impact the cells that they live in. Otherwise, you run into weird side effects when a spreadsheet recalculates. Hope that helps answer your question. Let me know if you need anything else.

[2020-08-28 12:23] glr0221 commented on #2078
thank you @AlexJerabek  .. really appreciated.

[2020-08-28 18:41] AlexJerabek commented on #2078
Hi @glr0221,

Here's the answer from our product team:

Please create a request for this feature on [UserVoice](https://officespdev.uservoice.com/). There, we can prioritize new feature requests based on community demand.

I'm going to close the issue now, as there's nothing actionable we can do in the docs. Feel free to create a new issue in the https://github.com/OfficeDev/office-js repo if the

[2020-08-28 18:41] #2078 closed

[2020-08-31 06:55] astak15 opened #2133 "When is the shared runtime environment changing to use Edge instead of IE11?"
Now that Microsoft is discontinuing IE support, can you tell me when the shared runtime feature be migrated to use Edge instead of IE11? It will also improve the usability of the application.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc89eff2-1c69-c80f-2cfb-43746309f2b7
* Version Independent ID: af86e11c-93ec-c0d9-

[2020-08-31 19:27] mscharlock commented on #2133
Hi @astak15 - I can't share any timelines with you at this point, but if we develop new things with shared runtime (such as the change you suggest), I will be updating the docs and an update would go into our developer newsletter! Sorry I cannot provide any more information for you. Thanks!

[2020-08-31 19:29] astak15 commented on #2133
I guess my followup question would be whether the add-in would work with Mac OS as well even if using the IE11 engine? My add-in works in MacOS without shared runtime as of now

[2020-08-31 19:31] mscharlock commented on #1954
@Murugananths - do you still need assistance with this? If so, can I ask you to open a separate issue? That will help me funnel this to the right people. Thank you!

[2020-09-01 10:30] BROOSWAJNE opened #2134 "URL to Office JS API is inconsistent with the actual API"
The linked documentation page says to add a `script` tag linking to the following CDN url:

[code]

This URL does correctly serve the current office js API, however the telemetry code included in said js API seems to expect the url to be ending with either `office.debug.js` or `office.js` (lowercased), not `Office.js`:

![image](https://user-images.githubusercontent.com/9310798/91838523-8cf53480-e

[2020-09-01 10:30] BROOSWAJNE opened #2146 "URL to Office JS API is inconsistent with the actual API"
The linked documentation page says to add a `script` tag linking to the following CDN url:

[code]

This URL does correctly serve the current office js API, however the telemetry code included in said js API seems to expect the url to be ending with either `office.debug.js` or `office.js` (lowercased), not `Office.js`:

![image](https://user-images.githubusercontent.com/9310798/91838523-8cf53480-e

[2020-09-01 19:20] mscharlock commented on #2133
So long as the version of Office is up to date on Mac (16.35 or later), shared runtime will work. The IE11 engine is only used on Windows 32-bit. Let me know if you have any other questions!

[2020-09-01 22:00] #2120 closed

[2020-09-02 10:07] vigen-b commented on #2084
@exextoc can you please look to the above comment?

[2020-09-02 15:41] lliu113 opened #2142 "Validating with office-add-in-manifest missing a step"
Step 1 is to install Node.js, and step 2 jumps straight to running the npm run validate command.
There's a missing step for installing office-addin-manifest (npm -g office-addin-manifest).

Running the commands as stated throws an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89c40a2-3e90-a295-7375-6d52ba59780

[2020-09-02 17:29] genderapp commented on #454
But we obv need a custom ribbon button. What's the workaround for Word 2016?

[2020-09-02 20:24] #2142 closed

[2020-09-02 20:31] mattgeim commented on #2109
We've updated the documentation with PR 2110, I will close the issue with the merge that happened today.  Please feel free to reopen if you have any questions.

[2020-09-02 20:31] #2109 closed

[2020-09-03 00:19] #2146 closed

[2020-09-03 00:22] Rick-Kirkham commented on #2146
@BROOSWAJNE It is fixed in the source file for that article. The new version should become public tomorrow evening, Pacific US time zone.

[2020-09-03 07:44] PrashanthReddy7 commented on #1987
Added into Uservoice 👍

https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/40742086-extend-customtab-in-office-add-ins-with-multiple-a

[2020-09-03 17:26] ElizabethSamuel-MSFT commented on #1716
@Magnielcz and @ps-git, thanks for raising this issue and giving us tons of feedback on it.

@ps-git, thanks for creating a PR to help address the issue.

[2020-09-03 17:28] #1716 closed

[2020-09-03 23:26] #2032 closed

[2020-09-04 04:00] #2047 closed

[2020-09-04 15:29] BROOSWAJNE commented on #2146
Thanks!

[2020-09-04 20:30] massonj opened #2155 "Reference to "this ID" is ambigious in callout"
There is a purple callout which says:

"This ID is the "audience" value when other applications, such as the Office client application (e.g., PowerPoint, Word, Excel), seek authorized access to the application. It is also the "client ID" of the application when it, in turn, seeks authorized access to Microsoft Graph."

The sentance immediately above it refers to 2 different IDs (AppID and TenantID

[2020-09-05 20:52] exextoc commented on #2084
The audience of the Exchange identity token is the SourceLocation URL in the base section of the manifest.

Validation is described here:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/validate-an-identity-token

And the structure of the token is described here:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/inside-the-identity-token

In this way, the token is add-in spec

[2020-09-07 07:33] glr0221 commented on #2078
Thank you @AlexJerabek. Sorry for the late reply.

[2020-09-07 22:00] #2092 closed

[2020-09-08 22:00] #2133 closed

[2020-09-09 20:44] brianthemike opened #2166 "CORS errors calling Outlook API from Outlook add-in"
This appears to be good info, however I can't get Outlook API calls to work properly due to CORS errors.  Is there a way to set CORS for Outlook 365 to allow other origins? The API calls I have in place work fine in Postman, after I get the item ID and bearer token, as it is not a browser implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-09-09 21:03] AlexJerabek commented on #2166
Thanks for the question @brianthemike.

@exextoc and @ElizabethSamuel-MSFT, can you please provide some guidance here?

[2020-09-10 09:19] vigen-b commented on #2084
@exextoc thank you, that make sense.
Also one question. In the [Inside the Exchange identity token](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/inside-the-identity-token) page `aud` field described as
[code]
What if we have both `ItemRead` and `ItemEdit` and first one with my url, and generate token in the second mode? I checked, in that case token `aud` field will contain first (w

[2020-09-10 20:56] exextoc commented on #2084
The audience claim returned in the token payload will be the url specified in the first SourceLocation element under ItemRead or ItemEdit (whichever is specified first in the manifest). So, if you have both ItemRead and ItemEdit, and ItemRead is specified first, the audience claim returned by `getUserIdentityTokenAsync` will be the url of the SourceLocation under ItemRead.

[2020-09-10 23:39] exextoc commented on #2166
Which client are you seeing this issue on (win-32, OWA, mac)?

Have you added all domains you are calling in the [AppDomains ](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/appdomain) element the manifest?

[2020-09-11 08:09] vigen-b commented on #2084
yes, I mean if `ItemRead` defined first and we generate token in edit mode it will contain url defined for `ItemRead`, which is not always equal to the url defined for `ItemEdit`. So what we will have in this case, if in attacker add-in for `IteamRead` specified my add-in url, and for `ItemEdit` his valid url. He can generate token for my url in edit mode?

[2020-09-11 12:44] brianthemike commented on #2166
This is occurring on win-32 and OWA.  Domains were added in the AppDomains element in the manifest, as:
`<AppDomains>`
   `<AppDomain>https://mymail.mycompany.com</AppDomain>`
`</AppDomains>`
I am getting the itemId (converted to RestId) and the Office.context.mailbox.restUrl value is `https://mymail.mycompany.com/api` to which I am appending `/v2.0/me/messages/myItemIdVariable`
This is also occur

[2020-09-11 16:58] #2155 closed

[2020-09-12 00:32] exextoc commented on #2166
What version of Exchange are you using? Calling REST APIs from add-ins are only supported in Exchange Online or in [hybrid environments](https://docs.microsoft.com/en-us/graph/hybrid-rest-support).

[2020-09-14 13:07] brianthemike commented on #2166
Currently on 15.1.2044.4 of Exchange for my mailbox, another test account I am using is on whatever version the 365 tenant is running which I believe is the latest since none of the regular user's mailboxes are not in 365 yet.  I will have to verify that version.

[2020-09-15 18:13] dxs-dbest opened #2179 "Incorrect instructions for updating webpack.config.js causes error"
The instructions in section 'Update webpack config settings' need to be updated.  When I updated the plugins array and ran 'npm run build' I encountered an error.  I resolved the error by entering the dialog.css pattern in the patterns array.

The final resulting plugins array was:

`    plugins: [
      new CleanWebpackPlugin(),
      new HtmlWebpackPlugin({
        filename: "taskpane.html",

[2020-09-15 18:21] ElizabethSamuel-MSFT commented on #2179
@dxs-dbest Thanks for letting us know about this issue.

@TCourtneyOwen Can you take a look?

Thanks.

[2020-09-16 09:11] MrChe opened #2182 "Incorrect type in library `office-js`, `interface RemoveHandlerOptions`"
![image](https://user-images.githubusercontent.com/9495532/93316770-4bec4b00-f815-11ea-91c3-2758b946a35e.png)
I guess it's a huge mistake, need change to `any` because need added a link to the handler
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/bind-to-regions-in-a-document-or-spreadsheet.md#remove-an-event-handler - in this example correct way, but an interface to libr

[2020-09-16 12:00] PrashanthReddy7 opened #2183 "Selection of Email Message or Calendar appointment is mandatory to see Outlook Add-In"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-add-ins-overview#mailbox-items-available-to-add-ins

## Issue
Selection of Email Message or Calendar appointment is mandatory to see Outlook Add-In ?

1. We have created a Add-In called "ABC"
2. To view or perform some action on add-in, selection of email or appoutnment is mandatory.
3. Without selection of meesages

[2020-09-17 00:49] exextoc commented on #2166
Adding some more information about using [REST in an on-premise Exchange deployment](https://techcommunity.microsoft.com/t5/exchange-team-blog/on-premises-architectural-requirements-for-the-rest-api/ba-p/605609): The REST token can be used from an add-in backend but not from the client since CORS is not supported in that scenario (as you noticed here).

For a mailbox in O365, CORS should work in t

[2020-09-17 09:36] JensMadsen commented on #584
Any news? @ElizabethSamuel-MSFT

[2020-09-17 21:00] AlexJerabek commented on #2183
@ElizabethSamuel-MSFT, could you please investigate?

[2020-09-17 21:12] Rick-Kirkham commented on #2182
@MrChe Thanks for catching this. I think instead of `any`, maybe it should be narrowed to a function. I think something like `handler?: () => {}` has that effect, but I'll research it.

[2020-09-18 05:27] davyarris opened #2193 "npm install missing install"
The  command to install office-addin-manifest in missing the install flag:

[code]

should be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89c40a2-3e90-a295-7375-6d52ba597808
* Version Independent ID: 8cd2f086-5c18-ee17-9ced-ffeba1de0b78
* Content: [Validate an Office Add-in's manifest - Office Add-ins](http

[2020-09-18 15:56] ElizabethSamuel-MSFT commented on #2193
@davyarris Thanks for pointing this out. We're fixing this issue and the update should be published soon.

Thanks.

[2020-09-18 15:58] #2193 closed

[2020-09-18 20:19] aman3011 opened #2195 "Outlook Calendar REST API issue"
I have been trying to update a calendar event using the Calendar REST API, and I am getting a 403 The api you are trying to access does not support item scoped OAuth."

I have given the read/write permission in calendar. I'm posting my request as well. The officeREST config has been working for getting the events.

Please let me know what's going wrong . The documentation doesn't explain scoping m

[2020-09-18 20:25] #2182 closed

[2020-09-18 21:26] ElizabethSamuel-MSFT commented on #2183
@PrashanthReddy7 Thanks for asking about this. Yes, a message or appointment should be open/selected for the add-in to activate. We're clarifying this in the documentation.

If you would like to see features like add-in activation at the mailbox/calendar level, please go to [UserVoice](https://officespdev.uservoice.com/) to find and upvote an existing feature request (e.g., [Outlook add-in command

[2020-09-18 21:27] #2183 closed

[2020-09-19 01:28] exextoc commented on #2195
Thanks for posting the error and sample code.

@aman3011 Can you check the value of the `<Permissions>` element in your add-in's manifest?

Since the error message mentions 'item scoped OAuth', this likely indicates that the Permissions in the manifest is either `ReadItem` or `ReadWriteItem`. Changing this to `ReadWriteMailbox` will allow the server to issue a REST token with additional scope.

I

[2020-09-19 13:52] lmccord opened #2199 "Step 4 -- should add that the reading pane needs to be enabled in outlook"
I spent hours trying to figure out what was wrong because my taskpane buttons were there but greyed-out.  I didn't realize my reading pane was not enabled, and didn't know to look for that. I did find that information in a separate help document (but now I can't find it again, sorry...)
Anyway, now that I've enabled my reading pane, everything works as documented.

---
#### Document Details

⚠ *Do

[2020-09-20 00:21] Starscade opened #2200 "Deprecated Edge Functionality Reference?"
In the section describing how to "Allow localhost loopback" on the "about:flags" page in Edge, _about:flags_ is redirected to _edge://flags_ which doesn't contain a reference to "Allow localhost loopback." As it stands, I'm unable to figure out how to sideload Add-ins for office apps in Edge without this functionality by reading the dev docs.

---
#### Document Details

⚠ *Do not edit this section

[2020-09-20 17:31] adem opened #2201 "Availability of `Office.context.mailbox.displayNewMessageForm` is inconsistent in the docs"
The [method overview page for `Office.context.mailbox`](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.8/office.context.mailbox#methods) states that `displayNewMessageForm` is available in both `Read` and `Compose` mode.

This, however, is not consistent with the [method documentation](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailb

[2020-09-21 14:06] aman3011 commented on #2195
Thank you, I was able to configure it correctly.

[2020-09-21 14:06] #2195 closed

[2020-09-21 18:48] AlexJerabek commented on #2201
Thanks for pointing this out @adem.

@ElizabethSamuel-MSFT, could you please take a look at this issue? Thanks!

[2020-09-21 18:51] AlexJerabek commented on #2200
Thanks for reporting this @Starscade.

@Rick-Kirkham, could you please take a look at this issue? Thank you!

[2020-09-21 18:52] AlexJerabek commented on #2199
Thanks for reporting this @lmccord.

@ElizabethSamuel-MSFT, can you please take a look at this issue and update the quick start accordingly? Thank you!

[2020-09-21 19:30] Rick-Kirkham commented on #2200
@Starscade If you just skip that bullet, can you sideload in Office on the web anyway?

[2020-09-21 20:42] Rick-Kirkham commented on #2200
@Starscade The product team reports to me that both bullets in that note should be replaced with a note saying that you should run the following command at a command prompt:

**npx office-addin-dev-settings appcontainer EdgeWebView --loopback --yes**

I'll update the documentation.

[2020-09-21 21:12] #2200 closed

[2020-09-21 22:52] AlexJerabek commented on #1658
Hi @benj-spectory,

@alison-mk just checked in #2203, which adds information about the current error handling story for Custom Functions in Excel. I'm going to close this issue, but please open a new issue if you need more assistance.

Thanks!

[2020-09-21 22:52] #1658 closed

[2020-09-21 23:58] AlexJerabek commented on #2054
Hi @csharp-reader,

I went back and checked the broken link you reported. It appears to have been fixed, so I'll be closing this issue.

As for your larger questions about platform choice, add-ins are probably the best choice for any user wanting to stay within Excel, but I'd have to know more specifics about your scenario. I'd recommend reaching out during the monthly community call. You can find

[2020-09-21 23:58] #2054 closed

[2020-09-22 06:03] jpalo opened #2208 "Availability on-prem"
"Supported clients and platforms" table says on-send is supported also on on-prem Exchanges, yet below that chapter it is NOTE saying it requires API requirement set 1.8, which isn't available on-prem. Please clarify/correct the "Supported clients and platforms" if 1.8 requirement set is not available in on-prem, thus on-send too isn't available on-prem.

---
#### Document Details

⚠ *Do not edit

[2020-09-22 16:03] #2208 closed

[2020-09-22 16:35] ElizabethSamuel-MSFT commented on #2201
@adem  Thanks again for letting us know. We're correcting the supported modes and the changes should be published this week.

If you'd like this API to be available in Compose mode, you can upvote an existing Outlook feature request on [UserVoice](https://officespdev.uservoice.com/) (or create a request).

Thanks.

[2020-09-22 16:42] #2201 closed

[2020-09-22 17:14] ElizabethSamuel-MSFT commented on #2199
@lmccord We're clarifying this and the change should be published this week.

If you need further clarification or have other questions, let us know.

Thanks.

[2020-09-22 17:15] #2199 closed

[2020-09-23 22:52] #2166 closed

[2020-09-24 07:47] ssoni2074 opened #2218 "Can't see my centralized deployed addin in incognito chrome"
I have deployed an add-in via centralized deployment and can see it in office on web and desktop ,also in incognito mode in all browsers except chrome .What could be the possible issue ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41508035-2045-1706-9917-cd2da1e99cc7
* Version Independent ID: ea51ce32-18e2-68ed-ddc5

[2020-09-25 17:40] keyur32 opened #2222 "Formatting is off on this the Custom Functions JSON metadata page"
Formatting is off on this the Custom Functions JSON metadata page. Scroll to bottom and everything seems like one big hyperlink. Markdown issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be178996-8552-f246-7adf-58cecb58a0f9
* Version Independent ID: cfe4f29e-87ea-6332-8e17-e858392c1961
* Content: [Autogenerate JSO

[2020-09-25 17:42] ElizabethSamuel-MSFT commented on #2222
@keyur32 Thanks for letting us know about this. We'll take a look.

Thanks.

[2020-09-25 17:43] keyur32 opened #2223 "Invocation Parameter address code sample improvement suggestion"
The parameter address / invocation sample doesn't seem super useful.  I was hoping to use it to provide an example of the caller.address (I think we had one), but it doesn't exist.

Currently we're not showing what you could do in the snippet. Suggest that we show an example function that users the @requiresAddress parameter, and returns the invocation.address back to as a return value (vs the gen

[2020-09-25 18:04] keyur32 opened #2224 "[!Note] appears in plain text"
Some invalid markdown on this page below

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db285f50-5770-e426-47f6-a9f78536cab3
* Version Independent ID: 55778f17-2bdd-898b-41fc-e3f4e5517197
* Content: [Runtime for UI-less Excel custom functions - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/c

[2020-09-25 18:04] keyur32 opened #2225 "Custom Functions / Call Office.js article should be more specific on pattern"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function

## Issue
The article is correct in that we should not write to the grid, but there are a set of scenarios and a pattern folks can follow here that I think would be worth calling out.

By using the 'onCalculate' event, combined with the invocation.address property, developers can perform w

[2020-09-25 18:06] ElizabethSamuel-MSFT commented on #2224
@keyur32 Thanks for pointing this out. We'll take a look.

Thanks.

[2020-09-25 18:12] #2222 closed

[2020-09-25 18:20] #2224 closed

[2020-09-28 08:30] clavx opened #2231 "Attachment API with blocked attachments"
I have a question about Attachment API specification when attaching a file that is [blocked by Outlook](https://support.microsoft.com/en-us/office/blocked-attachments-in-outlook-434752e1-02d3-4e90-9124-8b81e49a8519).

The behavior differs as described below.
What is the expected behavior?

**Windows Outlook:**
You can retrieve content with `getAttachmentContentAsync()` API after attaching a file w

[2020-09-28 12:51] nikhilism15 opened #2232 "context.workbook.getSelectedRange() throws an error if called from Custom Tab, but works fine from task pane"
I have a method in my commands.ts file, which is called from two places: from a button in the taskpane and from a button in the custom tab. Although both buttons call the exact same method, I get this error while calling from the tab:
`{"name":"RichApi.Error","code":"InvalidArgument","traceMessages":[],"innerError":null,"debugInfo":{"code":"InvalidArgument","message":"The argument is invalid or mi

[2020-09-28 20:33] mscharlock commented on #2225
An fyi to @alison-mk - I believe a previous version of the params article has some copy on invocation.address that might be helpful on this.

[2020-09-28 21:17] ElizabethSamuel-MSFT commented on #2179
@TCourtneyOwen Any update here? Thx.

[2020-09-28 21:25] ElizabethSamuel-MSFT commented on #1438
@Pher0ah Did you consider the "Enable debugging for add-in commands and UI-less code" section of the article (https://docs.microsoft.com/office/dev/add-ins/develop/debug-office-add-ins-in-visual-studio#enable-debugging-for-add-in-commands-and-ui-less-code)?

Thanks.

[2020-09-28 21:29] ElizabethSamuel-MSFT commented on #1598
@TCourtneyOwen Any update on this? Thx.

[2020-09-28 21:35] ElizabethSamuel-MSFT commented on #1698
@smrtRock Seems like your cert issues have been resolved and, as AlexJerabek noted, OneNote add-ins are only supported in browser. As such, closing this out.

Thanks.

[2020-09-28 21:35] #1698 closed

[2020-09-28 21:40] ElizabethSamuel-MSFT commented on #1717
@TCourtneyOwen Any update on this? Thx.

[2020-09-28 22:06] TCourtneyOwen commented on #2179
I can look into this tomorrow. Deciphering webpack issues is never simple and requires focused attention. Not something I can just quickly determine without setting aside some time to look at this.

-Courtney

[2020-09-29 00:21] alison-mk commented on #2232
Hi @nikhilism15, thank you for submitting an issue! Can you provide the complete add-in code you're using, so that we can reproduce the issue? If we can reproduce the problem and it's a product bug, I'll transfer this issue over to the office-js repository so our engineers can help resolve it. We can't debug product issues here in the office-js-docs-pr repository, but I can help by assigning your

[2020-09-29 10:59] nikhilism15 commented on #2232
The code goes something like this:
`
let sheet: Excel.Worksheet = context.workbook.worksheets.getActiveWorksheet();
        let tables = sheet.tables.load("name");
        context.runtime.load("enableEvents");
        await syncContext(context);
        if (tables.items.length == 1 && tables.items[0].name.startsWith("companyTable")) {
            let table = tables.items[0];
            let select

[2020-09-29 12:58] mehmetkaradeniz opened #2234 "npm run build error and solution"
In [this](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/outlook-tutorial#update-webpack-config-settings) section on step 4 "npm run build" command might give this error depending on the webpack version user have installed.
![image](https://user-images.githubusercontent.com/24903574/94561028-22e3a580-026c-11eb-93a1-1a30f14eca6e.png)

In this case applying the solution [here](https:/

[2020-09-29 12:59] mehmetkaradeniz commented on #2179
Might be related to this #2234

[2020-09-29 23:28] TCourtneyOwen commented on #2179
Indeed I hit an error too when following the tutorial and then trying "npm run build":

ValidationError: Invalid options object. Copy Plugin has been initialized using an options object that does not match the API schema.
 - options[0] misses the property 'patterns'. Should be:
   [non-empty string | object { from, to?, context?, globOptions?, filter?, toType?, force?, flatten?, transform?, cacheT

[2020-09-29 23:45] TCourtneyOwen commented on #2179
I am not having luck completing the tutorial however.  When I click on the Done button in this dialog to configure my GitHub user name nothing happens and I believe that prevents me from proceeding further on with the scenario:

![image](https://user-images.githubusercontent.com/38081557/94627721-229ad880-0273-11eb-97a1-e3e0a56ee541.png)

[2020-09-30 05:14] glr0221 opened #2236 "Is an Empty VersionOverrides1_0 acceptable?"
This document talks about the VersionOverrides element. However in the scheme of things, even before VersionOverrides1_0 is defined in the manifest, a default mode of operation/behavior is already defined. Something like this :

[code]

So in effect, we do have three modes of operation correct? 1_1, 1_0 and the default operation. So in my understanding if the "Requirements" are not met. for overri

[2020-09-30 11:29] LokiMidgard opened #2237 "Icon of Button not displayed in Outlook web"
I defined the icon element as described with 3 images in the size 16, 32 80. However on the website only the IconUrl is used for the button scaled down.

I don't think I missed something, here is my manifest:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d8e5f40-63fe-f71c-a021-4842a26ef9ec
* Version Independen

[2020-09-30 14:08] chucklay opened #2238 "Excel.CustomFunctionDimensionality.matrix is not a valid type"
Hi,

It seems like this page is outdated. In the "Range Parameters" section, it notes that if a range is passed as a parameter, its type will be `Excel.CustomFunctionDimensionality.matrix`. While using this type, a function file written in TypeScript will fail to compile, due to `Excel` not having an exported `CustomFunctionDimensionality` member. In addition, attempting to set the type of the par

[2020-09-30 15:14] ramnaresh opened #2239 "Excel online add-in deploy only to thin client - Configuration"
Hello,  Is there any configuration in central deployment or in the manifest to target the excel add-in appears only for thin client (excel online), not for the desktop excel ?

Thank you!

## Article URL

## Issue

[2020-09-30 16:43] ElizabethSamuel-MSFT commented on #2236
@glr0221 Thanks for asking about this.

@Rick-Kirkham Can you take a look and direct as appropriate?

Thanks.

[2020-09-30 16:59] ElizabethSamuel-MSFT commented on #2239
@ramnaresh Thanks for your question. I believe that's not available right now. You likely need to use the [DesktopFormFactor](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/desktopformfactor) which configures online, Windows, and Mac all together.

If that is a feature you'd like to see, please upvote or create a feature in [UserVoice](https://officespdev.uservoice.com/). Our pro

[2020-09-30 16:59] #2239 closed

[2020-10-01 05:16] vikasm1720 opened #2240 "Cookies do no persist on Excel for MAC"
I have Excel add-in which uses shared runtime and UI less custom function. I am using dialog API for authentication. When a user closes a workbook and opens a new one or reopens a saved workbook, cookies do not persist and user needs to re-login. I am facing this issue only on Excel for MAC platform. it is working as expected on windows and online.

---
#### Document Details

⚠ *Do not edit this s

[2020-10-01 14:16] sturlath commented on #1711
So @sumurthy and @nokafor! Any chance you can give us something on this topic?

[2020-10-01 20:43] CypherX opened #2243 "Question regarding a phrase in the documentation"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/privacy-and-security

## Issue
Apologies if this is the wrong place to ask this. In the "Add-in integrity in AppSource" section of the article at the above link is the line:

- Ensures that the source of add-ins is accessible in read-only mode.

I'm having trouble understanding what this requirement means. Is it referring

[2020-10-02 06:34] Poopooracoocoo opened #2242 "Why doesn't Windows 10's File Explorer use these monoline icons?"
Why doesn't Windows 10's File Explorer use these monoline icons?

in b4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 476d0e20-d8e8-4d38-ac46-39a117adcd02
* Version Independent ID: b68f0dee-0635-ecfe-c5a1-1fae4c6406a1
* Content: [Monoline style icon guidelines for Office Add-ins - Office Add-ins](https://docs.microsof

[2020-10-02 16:44] ElizabethSamuel-MSFT commented on #2243
@mikeald Can you help clarify this statement?

I can update the documentation after that if needed.

Thanks.

[2020-10-02 18:34] Rick-Kirkham commented on #2242
The monoline style was developed for Microsoft 365. It is not used across all Microsoft products, such as the Windows File Explorer. Please check with Windows Help to see if they have any information about the icon style used by File Explorer.

[2020-10-02 18:34] #2242 closed

[2020-10-02 19:43] alison-mk commented on #2232
Hi @nikhilism15, thank you for providing some code. I'm not able to test with this code and reproduce the bug, however, because it's incomplete. Please provide everything within your add-in's src directory (all files within the commands and taskpane directories), plus the manifest.xml. No need to include business logic, as long as we can reproduce the `context.workbook.getSelectedRange()` tab issu

[2020-10-02 22:13] eskoviak opened #2244 "webserver started and created a cert. I deleted them and it recreated them in ~/.office_addin_dev_certs. Even so, I keep getting unsigned cert error in both local excel and web excel. That doesn't appear to be addressed anywhere."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Version Independent ID: d946ffe6-f29f-1563-b679-121090ba60a1
* Content: [Build your first Excel task pane add-in - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-

[2020-10-03 00:01] ElizabethSamuel-MSFT commented on #2179
@dxs-dbest Thanks again for sharing these updates.

@TCourtneyOwen Thanks for taking the time to verify these changes.

I'm making these webpack config revisions to the tutorial's instructions and the changes should be published soon.

@TCourtneyOwen Also, I'm not able to repro your issues with the tutorial so it seems independent of the build changes. Feel free to follow up with me if you'd like

[2020-10-03 00:01] #2179 closed

[2020-10-03 22:46] Rick-Kirkham commented on #2244
@eskoviak Please rewrite your issue so that the details are in the text, not the title. It appears that only the last part of the problem description is here.

[2020-10-04 05:07] nergal1986 commented on #1438
I'm having the exact same issue. Can someone please provide a solution for this? I'm using VS 2019 .Thanks!

[2020-10-05 08:07] glr0221 commented on #2236
@JuaneloJuanelo any updates on this? thank you so very much!

[2020-10-05 09:01] inderjitkr opened #2248 "Loading of the bing map when clicking on the Address"
I have appended the code for regular expression. when hovering on the address then the dialogue box is appearing. Can you please guide me how to activate the Bing map?

The map is not getting loaded with the map images.

Sample Code:
 <ExtensionPoint xsi:type="DetectedEntity">
              <Label resid="contextLabel" />

              <SourceLocation resid="detectedEntityURL" />
              <Ru

[2020-10-05 10:01] nenebale commented on #454
This would be helpful for me as well. How can we work with Add-ins in Word 2016 ProPlus?

[2020-10-05 12:03] nikhilism15 commented on #2232
Thank you Alison for responding. I am not sure but I myself am not able to reproduce the issue anymore. We can close this issue for now. If it reappears I will raise a separate ticket.

Thank you for your help!

[2020-10-05 12:03] #2232 closed

[2020-10-05 20:42] ElizabethSamuel-MSFT commented on #2234
Looks like this issue should be resolved with the fixing of issue https://github.com/OfficeDev/office-js-docs-pr/issues/2179 so closing.

@mehmetkaradeniz Let us know if that's not the case and we can reopen this issue.

Thanks.

[2020-10-05 20:42] #2234 closed

[2020-10-06 01:00] #1708 closed

[2020-10-06 23:58] alison-mk commented on #2238
Hi @chucklay, thank you for taking the time to submit this issue! I will investigate and update the documentation, and then report back here.

Cheers,
Alison

[2020-10-07 10:15] bakerels opened #2254 "when i authorise an App addin am i approving the app or just a specific version?"
[Enter feedback here]

If I authorise an app to specific group of users - am i authorising the app as a whole or a specific version.
thus does each app version need approval or is the app ever green.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41508035-2045-1706-9917-cd2da1e99cc7
* Version Independent ID: ea51ce32-1

[2020-10-07 14:23] jwhite-venacorp opened #2255 "Limitations of working with multiple ranges"
Could we have some additional details about what the limitations of working with multiple ranges are? I've noticed that some of the longer comma-delimited address strings I pass to `Worksheet.getRangeAreas()` fail, while others with the same argument length or same/greater number of addresses within the string will pass. It would be helpful to know what address strings will work and when they will

[2020-10-08 06:38] gabey9 opened #2257 "Custom Function Streaming Websocket Data"
Can someone help me creating a custom function streaming websocket data to Excel?
I have the following code but it only shows #BUSY!

/**
 * @customfunction
 * @streaming
 */
function ws() {
  const pricesWs = new WebSocket("wss://ws.coincap.io/prices?assets=bitcoin");

  pricesWs.onmessage = function(msg) {
    var jobj = JSON.parse(msg.data);
    var price = jobj.bitcoin;
    return price;
  };

[2020-10-08 09:18] moshikonachmias opened #2258 "On-send for The new Outlook"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins

## Issue
Hello, I'm trying to understand if the on-send add-in is supported in the new outlook for mac.
According to both articles, I can not find any reference to this.
https://support.microsoft.com/en-us/office/the-new-outlook-for-mac-6283be54-e74d-434e-babb-b70cefc77439
https://docs.microsoft.com/

[2020-10-08 15:58] ElizabethSamuel-MSFT commented on #2258
@moshikonachmias Thanks for your question. The on-send feature is not supported on the new Mac UI yet (see the section [New Outlook on Mac](https://docs.microsoft.com/office/dev/add-ins/outlook/compare-outlook-add-in-support-in-outlook-for-mac#new-outlook-on-mac-preview)). As we add support, we'll continue updating this section.

I'll go ahead and close this issue. However, if you have any further

[2020-10-08 15:58] #2258 closed

[2020-10-08 16:18] xuyingyuan commented on #1598
I got the same error today.
I delete all files from %\users<user>.office-addin-dev-cert folder, then run npx office-addin-dev-certs install, it fixed issue for me.

[2020-10-08 18:06] Rick-Kirkham commented on #2257
Please raise this question on Stack Overflow. We use the Issues of this repo to report errors in the documentation.

[2020-10-08 18:06] #2257 closed

[2020-10-09 17:44] scottyak12 opened #2260 "Outlook Issue"
Trying to create an Outlook SSO add-in based on this. The article says after running yo office prompts, to run "npm run dev-server", but this command does not get added to package.json by the CLI tool. I added manually ("dev-server" : "webpack-dev-server --mode development"), and while this works and I am able to see the add-in when composing a new email, I get "Add-In Error: We can't open this ad

[2020-10-09 20:22] ElizabethSamuel-MSFT commented on #2260
@scottyak12 Thanks for asking about this.

@davidchesnut @Rick-Kirkham Can you help with this issue?

Thanks.

[2020-10-09 20:33] ElizabethSamuel-MSFT commented on #2084
@exextoc Any further comment here? Thx.

[2020-10-09 22:03] Rick-Kirkham commented on #2260
If there's no `dev-server` command in the package.json, then this is likely a bug in the Yo Office tool.

[2020-10-09 22:30] TCourtneyOwen commented on #2260
This must be a documentation error. The Yo Office tells the correct steps to perform after creating the project. This is the yo office output:

      1. Go the directory where your project was created:

         cd C:\foo

      2. Configure your SSO taskpane add-in:

         npm run configure-sso

      3. Start the local web server and sideload the add-in:

         npm start

      4. Open the

[2020-10-09 22:54] ElizabethSamuel-MSFT commented on #2260
@TCourtneyOwen The user is referring to the SSO quick start page and I'm supposing using the Outlook steps in the **Try it out** section:
https://docs.microsoft.com/office/dev/add-ins/quickstarts/sso-quickstart#outlook

As I understand, for Outlook `npm start` is not recommended and `npm run dev-server` should be used instead, which is what the docs show.

[2020-10-10 09:21] sturlath commented on #1711
@ElizabethSamuel-MSFT any change to get some feedback on this? The issue was first raised in March (more than a half a year ago)... you surely must have a roadmap with Blazor either on or off it. It would be really helpful to have some idea where this is heading.

The silence makes me want to believe that there is going to be some big (?)  reveal where Blazor as a plugin will be allowed.

[2020-10-11 01:00] #2244 closed

[2020-10-11 10:00] #1438 closed

[2020-10-12 07:26] glr0221 commented on #2236
@JuaneloJuanelo any updates for this item? thanks again.

[2020-10-12 08:48] bakerm00 opened #2261 "When "Let users access the Office Store is disabled" sideload is prevented"
please make clear in documentation
When "Let users access the Office Store" is disabled;   developers report that sideload is prevented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddce0bd-5c66-c2cb-0640-ee4d5bd401c5
* Version Independent ID: b5d4bc26-a43e-4a85-e7d5-fe4fc4ec3d0d
* Content: [Sideload Office Add-ins f

[2020-10-12 10:27] hyoshioka0128 opened #2262 "Broken Table (ja-jp)"
・ja-jp: https://docs.microsoft.com/ja-jp/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins
![browsers-used-by-office-web-add-ins_j](https://user-images.githubusercontent.com/40815708/95736235-eaf34e00-0cc0-11eb-9670-e22decdc3fd8.png)

・en-us:https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins
![browsers-used-by-office-web-add-ins_e](https:

[2020-10-12 12:29] scottyak12 commented on #2260
@ElizabethSamuel-MSFT Yes, that's correct, I'm attempting to follow the Outlook specific instructions, which say to use npm run dev-server, rather than npm start, but the yo office CLI output does not include a npm run dev-server script in the package.json. I was able to successfully follow the steps for an Excel add-in, but something must be missing for the Outlook version. Any advice would be ap

[2020-10-12 16:11] AlexJerabek commented on #2262
Thank you for reporting this @hyoshioka0128. I'll pass this along to our localization team and see if we can get this fixed soon.

[2020-10-12 16:49] Rick-Kirkham commented on #2262
@AlexJerabek The upper left most cell of the table also looks like it has been mistranslated. The English has "OS" (short for operating system), but the Japanese has "HP-UX".

[2020-10-12 19:31] AlexJerabek commented on #2262
Hi @hyoshioka0128,
Our localization team will investigate and fix the issue soon. In the meantime, are you able to get the necessary information from the "en-us" table?

_Internal tracking [here](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/44647)_

[2020-10-13 03:59] hyoshioka0128 commented on #2262
Q(@AlexJerabek)   ＜Are you able to get the necessary information from the "en-us" table?＞
A(@hyoshioka0128)  None. Thanks.

[2020-10-13 17:19] ElizabethSamuel-MSFT commented on #2261
@bakerm00 Thanks for asking about this.

@mscharlock Can you help with this?

Thanks.

[2020-10-14 22:28] mscharlock commented on #2261
@ElizabethSamuel-MSFT let me check that this is expected and then will doc. Thanks!

[2020-10-15 17:34] AlexJerabek commented on #2262
The table appears to be properly rendered for the "ja-jp" version.  @hyoshioka0128, can you please confirm that everything looks as expected? Thank you.

[2020-10-15 17:35] AlexJerabek commented on #2262
Also, since the issue appears to be fixed, I'll close the issue. Please comment on the thread if that is not the case. Thanks!

[2020-10-15 17:35] #2262 closed

[2020-10-15 18:47] Geradav opened #2269 "Needs update of npm code (deprecated)"
Hello,

Please update that page as the npm request code is deprecated.
See https://github.com/request/request/issues/3142

Thanks

David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30fb645-c853-a93a-4137-1e2bf7398a11
* Version Independent ID: 75fb99ac-72e8-7bdc-ff1b-85e7ed930d50
* Content: [Excel custom functions t

[2020-10-16 15:14] chucklay commented on #2238
Hi, any news on this? This has officially prevented us from publishing, as our workaround (pass the range in as a string) was ignored by Microsoft's testers, who passed the range in as a range, and failed our add-in due to the "unliftable array" issue.

[2020-10-16 18:10] alison-mk commented on #2255
Hi @jwhite-venacorp, sorry for the delay, and thank you for taking the time to submit this issue. The issue you describe may be a bug. Can you provide the code you're using, so I can reproduce it? A copy of 2-3 address strings that fail, and 1 or more that do not fail would be very helpful. If you can provide code as a link to a Github gist that works in Script Lab, that will help me continue rese

[2020-10-16 20:56] alison-mk commented on #2238
Oh no, @chucklay! I'm sorry to hear this is blocking you from publishing. Thank you for letting me know. I'm consulting @mscharlock internally so our team can get you an answer as quickly as possible.

[2020-10-16 22:49] ElizabethSamuel-MSFT commented on #2269
@Geradav Thanks for pointing out this issue. However, can you clarify where this `request` module is being used by this tutorial?

Thanks.

[2020-10-16 23:24] exextoc commented on #2084
The situation described above is mitigated for AppSource add-ins because we validate that there are no duplicate Source Location metadata. Thereby, add-ins deployed via AppSource do not have this issue.

[2020-10-18 22:20] davidchesnut commented on #2238
Hi @chucklay

I did some investigation into this to see if I could get you unstuck.

1. Thanks for reporting the doc issue. I don't believe the article is correct so we'll work to fix that.
2. To get this working, you need to configure the functions.json file to use the **dimensionality** property. Excel doesn't understand TypeScript. It figures out what to pass your custom function based on the f