[2021-05-07 20:11] ElizabethSamuel-MSFT commented on #2657
@barclayadam Let us know if you have any feedback on the prospective changes in [this pull request](https://github.com/OfficeDev/office-js-docs-pr/pull/2666). Thanks.

[2021-05-08 18:38] deividfoggi opened #2668 "No matching version found for office-addin-lint@1.1.6"
After I run yo office, a lot off warnings with the message "no such file or directory" and few errors at the end:

PS C:\Users\User\GitHub\AddInExamples> yo office

     _-----_     ╭──────────────────────────╮
    |       |    │   Welcome to the Office  │
    |--(o)--|    │   Add-in generator, by   │
   `---------´   │ @OfficeDev! Let's create │
    ( _´U`_ )    │    a project together!   │
    /

[2021-05-10 16:05] AlexJerabek commented on #2668
Hi @deividfoggi,

Thanks for reporting this. I'm sorry to hear you're having issues with yo office. I just tried to reproduce this issue and could not.

Could you please confirm that you have installed the latest version of yo office? You can ensure this by running `npm install -g yo generator-office`

Also, are you on Windows or Mac?

[2021-05-10 16:30] deividfoggi commented on #2668
Hi @AlexJerabek, I am using the yo 3.1.1, just ran the npm install once again and it seems to be the latest release available. I'm on Windows.

[2021-05-10 17:24] deividfoggi commented on #2668
I tried to uninstall then install yo but it sticks on 3.1.1: Here it is:

`PS C:\Users\dfoggi\GitHub\AddInExamples> npm install --global yo
C:\Users\dfoggi\AppData\Roaming\npm\yo -> C:\Users\dfoggi\AppData\Roaming\npm\node_modules\yo\lib\cli.js
C:\Users\dfoggi\AppData\Roaming\npm\yo-complete -> C:\Users\dfoggi\AppData\Roaming\npm\node_modules\yo\lib\completion\index.js

Yeoman Doctor
Running sanit

[2021-05-10 17:29] hariharan605 opened #2671 "Get attachment using REST API"
How to get the attachment using rest api. Could you give some sample snippet in js or in java ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dda6b13f-f452-8f7a-bd89-63ad43d06511
* Version Independent ID: b60f95f2-ac6b-88dd-ac5e-35c5197b2528
* Content: [Get attachments in an Outlook add-in - Office Add-ins](https://do

[2021-05-10 17:33] AlexJerabek commented on #2668
That's interesting that it's reverting back to the 3.1.1 version. Two more things to try:
- Run `npm install -g yo@latest` to force the latest version of `yo` to install.
- Run `npm install -g yo@4.1.0` to force install the version we've observed working.

If neither of those work, the problem may be that you're on an old version of [node.js](https://nodejs.org/en/). For what it's worth, I'm on `n

[2021-05-11 01:00] #2653 closed

[2021-05-11 02:51] wynntee commented on #2584
The documentation appears to be updated now. Closing.

[2021-05-11 02:51] #2584 closed

[2021-05-12 08:18] Issac-Nguyen commented on #1301
Hi @Rick-Kirkham ,
I'm facing same issue when create custom tab in excel add-in. Below is my manifest.xml. This issue should be re-opened.
[code]

[2021-05-12 08:22] barclayadam commented on #2657
@JuaneloJuanelo I understand completely this is a preview, just want to get a head start :) We have been testing this out in various builds of Outlook desktop and OWA. Have found that OWA is seemingly much more reliable, but not sure exactly why. Current hunch is we are seeing caching problems but continuing to investigate.

I can confirm that addHandler when in an event-activated flow (i.e. if I

[2021-05-12 08:23] barclayadam commented on #2657
@ElizabethSamuel-MSFT I'll take a look at that PR now to see if I have any feedback. Where would be the best place to direct all feedback I've been gathering regarding these previews? I presume this is not an ideal place unless it relates to confusion caused by the docs vs functionality?

[2021-05-12 08:27] barclayadam commented on #2657
@ElizabethSamuel-MSFT There is nothing specific with the changes on that PR I have comments on. It looks to clarify the eventing which is the confusion of this issue.

Again, as above, I do have a few other pieces of feedback for both documentation and product. Should I open some more specific issues in this repo for the doc-related questions? Or can I put together a single list and somebody decid

[2021-05-12 10:30] Hourglasser23 commented on #1598
Still got issue after today Windows update. I have run `npx office-addin-dev-certs install` but did not help

[2021-05-12 11:13] KorzunAV opened #2674 "Add-in was removed because it made Outlook crash"
[Enter feedback here]
'Just had a partner report that she installed Huddle on to her Outlook desktop application on Friday via outlook add-ins. This morning (Monday, April 12th, 2021) she logged in and received an error message that said it was removed because it made Outlook crash. Any ideas on what to look at/troubleshoot on this?'

*"Microsoft 365 Version 2103."

---
#### Document Details

⚠ *D

[2021-05-12 16:45] ElizabethSamuel-MSFT commented on #2657
@barclayadam For now, let's continue to track your feedback here, whether for product or documentation. A single list is fine so we can track what's been addressed and what's still pending.

[2021-05-13 11:21] barclayadam commented on #2657
Current feedback, in rough priority order for us:

1. The ability to track down _why_ a problem happens trying to launch an add-in using auto-launch seems to be lacking error handling and / or more informative errors / logs on issues when trying to even launch the code for an event. See issue @ https://github.com/OfficeDev/office-js/issues/1861. Note that this is NOT debugging the action once run,

[2021-05-13 16:46] ElizabethSamuel-MSFT commented on #2657
@barclayadam Thanks for taking the time to pull this together. We appreciate your feedback so keep it coming! We will make updates where needed.

@JuaneloJuanelo

Thanks.

[2021-05-13 20:49] iCGSE opened #2682 "QR"
[Drive]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42faa32c-446b-0209-4a24-9a29b4921ea1
* Version Independent ID: a5f0fc77-a881-df1e-1f49-aa0e555022e0
* Content: [Office Add-ins platform overview - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins)
* Content Source: [docs/o

[2021-05-14 02:34] iCGSE opened #2685 "Triage for Microsoft"
## Article URL

## Issue

[2021-05-14 09:36] barclayadam commented on #2657
I wanted to expand a little on what we are looking for in terms of guidance and (perhaps?) changes for the caching behaviour we are seeing. At the moment I observe:

 - OWA will *always* load taskpane.html and commands.html (commands.html for auto-launch event). If we do not cache those then every load will see a fresh load every time task pane is opened, or message compose is opened

 - Desktop w

[2021-05-14 10:48] iCGSE commented on #2685
@yinaa

[2021-05-14 10:48] #2685 closed

[2021-05-15 01:00] #2656 closed

[2021-05-16 01:03] slabereemsft commented on #2682
It looks like more information about this bug got lost in posting it.  Can you provide more details?

[2021-05-17 16:43] AlexJerabek commented on #2682
Hi @iCGSE,

I'm going to close this issue, as there's the issue description is mostly empty. Please comment on the thread with your intended issue and I'll reopen this.

Thanks!

[2021-05-17 16:43] #2682 closed

[2021-05-17 22:00] #2668 closed

[2021-05-17 22:02] kausarp opened #2693 "Nothing working as per the instructions on the page"
I was not able to create Word AddIn project. Stuck for a month. We have Zscalar and I disabled the Zscalar in my test environment. I was able to create a project with lots of errors and warnings. Well, then I tried to run npm start, nothing happens.
Please guide and updates the instructions on this page. So, other developers doesn;t face same issue that I am. I am uploading all the screen shots. i

[2021-05-18 16:55] ElizabethSamuel-MSFT commented on #2693
@kausarp Thanks for raising this issue and for sharing your environment details.

Can you try updating Node.js to at least version 8? This is the minimum version required by yo office per [their readme](https://github.com/OfficeDev/generator-office#install). The active [Node.js LTS version](https://nodejs.org/en/about/releases/) is 14.

Can you specify which tool you're referring to here?

@miller

[2021-05-18 19:54] spoman007 commented on #863
I was facing issue while trying to add plugin to shared mailbox. Even when I used **SupportsSharedFolders**

![image](https://user-images.githubusercontent.com/8514338/118714812-1fb12000-b823-11eb-828a-02e64a7bbe89.png)

**_Logging in with shared mailbox email and installing it from there helped!_**

Every user who has access to shared mailbox can see the plugin now.

This article helped
https://s

[2021-05-18 20:24] kausarp commented on #2693
@ElizabethSamuel-MSFT  I updated node to v10.23.0 and it stills same.
Good Point @millerds

[2021-05-18 22:00] #2671 closed

[2021-05-19 00:51] elegault commented on #2527
I'm having some many issues with VS Code and WebStorm - on multiple machines - trying to debug add-ins on multiple projects (including basic yo-office generated add-ins to test from scratch) that I'm not even sure where to start.  This isn't even counting the new issues with Edge WebView2 crashing within five seconds - which wasn't happening _last month_...  I'll get back here at some point or pos

[2021-05-19 11:11] paulnearney opened #2695 "Register the online-meeting template for PGiConnect"
Can you register the online-meeting template for our PGiConnect service?

                let tableString = "";
                for (let number of numbers) {
                    tableString = "<tr>" +
                        "<td style=\"width:112.5pt;padding:0in 5.4pt 0in 5.4pt;\" valign=\"top\" width=\"145\">" +
                        "<span style=\"font-size:10.5pt;font-family:'Segoe UI',sans-

[2021-05-19 16:12] ElizabethSamuel-MSFT commented on #2695
@paulnearney Thanks for trying the online-meeting feature! We'll get this info to the team and let you know once the registration is complete.

Thanks.

[2021-05-19 19:16] akrantz opened #2696 "Add a note that this only applies if using Legacy Edge."
Many Office users now have webview2 and may be confused if F12 doesn't work. Consider linking to the article that shows how to check the Security Info in the taskpane personality menu to see the Runtime Version.  Or perhaps the main add-in debugging doc page needs tweaks to how it represents the debugging options,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-05-20 15:56] jmayermsi commented on #2527
Can you update the status on this @mwchan? This would be highly appreciated

[2021-05-20 16:53] ElizabethSamuel-MSFT commented on #2695
@paulnearney The team has requested the following information/updates:

- Your text should say something like "PGiConnect meeting" instead of "Microsoft Teams meeting"
- We will need complete HTML content. You can share HTML content from any meeting which you created using your add-in.
The HTML you have shared doesn’t have your meeting URL and phone number, etc. That is, we need the actual info in

[2021-05-20 17:26] paulnearney commented on #2695
Thanks @ElizabethSamuel-MSFT

Our service augments a standard Teams meeting with additional dial-in details - hence wanting to leave the text as "Microsoft Teams meetings".

I can provide a sample of complete HTML content, but in real-world usage, the list of telephone numbers will vary in length and detail from customer to customer.

Is there any issue with either of the above?

[2021-05-21 03:28] mwchan commented on #2527
Hi jmayermsi,

I am sorry, I thought I have updated that

*Edge does work. For some reason, both Edge and the original "office-addin"
now works. Is this issue intermittent? Any ideas what could have caused it
to stop working?*

I can't get it to "not" work at this point. It's as if the issue fixed
itself. Is there anything else that I have missed or you would like to do?

On Thu, May 20, 2021 at 1

[2021-05-21 10:46] tharshada opened #2706 "<Runtimes> order sequence matters"
[Enter feedback here]

As per [TaskPaneAppVersionOverridesV1_0.xsd](https://dev.azure.com/office/Office/_git/Office?path=%2Fotools%2Finc%2Fosfclient%2Fappschema%2FTaskPaneAppVersionOverridesV1_0.xsd&version=GBmaster&line=543&lineEnd=554&lineStartColumn=1&lineEndColumn=19&lineStyle=plain&_a=contents)
sequence order of `<Runtimes>` matters which is not mentioned in the documentation. `2` has incorre

[2021-05-21 15:43] ElizabethSamuel-MSFT commented on #2695
Thanks for your response, @paulnearney. The team asked the following:

Thanks.

[2021-05-21 16:15] AlexJerabek commented on #2706
Thanks for reporting this @tharshada.

@davidchesnut, can you please investigate the runtime manifest documentation?

[2021-05-21 18:49] paulnearney commented on #2695
Thanks @ElizabethSamuel-MSFT

I'm not seeing the join button light up on iOS or Android. I've pasted the full HTML of the meeting invite body (generated on iOS) below.

[code]

[2021-05-21 19:09] ElizabethSamuel-MSFT commented on #2695
@paulnearney Thanks for this info. I'll pass along to the team and we'll update you soon.

Thanks.

[2021-05-21 19:09] paulnearney commented on #2695
@ElizabethSamuel-MSFT , here's some more detail, in case it comes in useful.

When we toggle the online meeting slider to On, I'm fetching the Exchange Identity, prompting for auth (if needed), and calling Graph as the user (delegated permissions) to generate a new Teams meeting. I'm then returning this URL to the client.

I then grab the current message body, and append my meeting details section

[2021-05-21 19:10] ElizabethSamuel-MSFT commented on #2695
@paulnearney Thanks for the additional details. Will pass along to the team as well.

Thanks.

[2021-05-21 22:05] ElizabethSamuel-MSFT commented on #2693
@kausarp I was able to create and run the quick start add-in. Here are my details:
- node: v14.16.1
- yo: 4.2.0
- generator-office (i.e. yo office): 1.7.9

Maybe you can try running the node.js window as administrator? The error seems to be complaining about your security policy, unable to download the certificate, etc.

Also, can you share more about your Office version/build/channel? For how to

[2021-05-23 11:49] ugarbe opened #2707 "Remote Server Error (unauthorised)"
Hello,
when testing the code, one needs to authenticate to 'Connect to the Exchange email account:
        [ ] In the "Connect to Exchange email account" dialog box, entered user name (e.g. username@domain*.onmicrosoft.com) and password of the account I created in dev program subscription setup

When I do this, I get a remote server error, (401), unauthorised.

I tried the test with Visual Studio,

[2021-05-24 13:26] paulnearney commented on #2695
Hi @ElizabethSamuel-MSFT

I've been experimenting with different HTML to see if I can get the Join link to light up but not managed to make it work. Is it possible to get an overview from the team as to what exactly they are looking for in the HTML?

[2021-05-24 16:35] AlexJerabek commented on #2707
Thanks for reporting this @ugarbe.

@ElizabethSamuel-MSFT, can you please investigate?

[2021-05-25 17:10] ElizabethSamuel-MSFT commented on #2695
@paulnearney Thanks for this update. I'll make sure they're aware of this.

Thanks.

[2021-05-25 19:03] ElizabethSamuel-MSFT commented on #2707
@ugarbe Thanks for asking about this. I hit the same issue and, per the [Start the project section of the Debug Office Add-ins in Visual Studio article](https://docs.microsoft.com/office/dev/add-ins/develop/debug-office-add-ins-in-visual-studio#start-the-project), you have a couple of options.

1. Use a Microsoft account instead (e.g., outlook.com).
2. Set "Use multi-factor auth" to True on the ad

[2021-05-26 11:54] brad302 commented on #2598
@igor-ribeiiro, apologies for not having done what you requested, I've been incapacitated but will try in the coming days.

[2021-05-26 14:01] paulnearney commented on #2695
@ElizabethSamuel-MSFT, another update.

I've tried replacing the meeting body with the full HTML that is returned from creating the OnlineMeeting via graph. I'm accessing the meeting body this way:

`HttpUtility.UrlDecode(meeting.JoinInformation.Content.Split(",")[1]);`

This still doesn't enable the Join button etc.

[2021-05-28 09:55] paulnearney commented on #2695
Hi @ElizabethSamuel-MSFT , is there any update on this? We have a number of customers waiting for this feature and it would be good to be able to give them an update. Thanks

[2021-05-29 01:00] #2693 closed

[2021-05-29 10:55] felixjiang opened #2719 "Will the browser used by office 2019 to run add-ins be replaced by Edge as IE 11 is being retired?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-

[2021-05-30 09:08] georgesfarah4 opened #2720 "updateStatus function typo"
[code]

should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5f7a698-efa2-3584-6ea0-85fa3718718f
* Version Independent ID: cef6669b-bfc0-840a-ea4e-ebc2ae5cc58a
* Content: [Get the whole document from an add-in for Word - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/word/get-the-whol

[2021-05-31 05:00] exextoc commented on #2695
Thanks for providing the HTML, we tried the HTML snippet and the join button did not appear for us as well. We will identity the changes and do the needful to show join button.

[2021-05-31 07:40] paulnearney commented on #2695
OK, thanks @exextoc. Do you have an ETA of when our customers could expect to see this functionality?

Will the appearance of the join button just be driven from the existence of a Teams URL? It would be good to know what rules to follow if we need to change the content of our meeting template in the future.

[2021-05-31 18:22] singhbrijraj opened #2721 "Missing details in tip section"
After step 1 there's mention of tip as "If you aren't using a Yeoman generator based add-in, you need to adjust a registry key. " Please add more details regarding which regkey are we referring here. So that, it would be a lot easier to follow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5e92a7f-e42d-68ba-cc21-15df

[2021-06-01 19:46] AlexJerabek commented on #2721
Thanks for reporting this @singhbrijraj.

@mscharlock, can you please investigate and update the documentation accordingly?

[2021-06-01 19:49] AlexJerabek commented on #2720
Thanks for reporting this @georgesfarah4.

@ElizabethSamuel-MSFT, can you please investigate and update the documentation as needed? Thanks!

[2021-06-01 21:51] AlexJerabek commented on #2719
Hi @felixjiang,
IE11 will continue to be the browser control for Office 2019. Unless the plan of record changes, the versions listed in the [Browsers article](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins) will remain the same. To avoid using IE11, you'll need to upgrade to a M365 subscription.

I'm going to close this issue, as there's no actiona

[2021-06-01 21:51] #2719 closed

[2021-06-01 22:00] #2707 closed

[2021-06-02 07:28] amahmadnia opened #2723 "add method doesnt exists in presentation class"
[Enter feedback here]

async function addSlide() {
  await PowerPoint.run(async function(context) {
    context.presentation.slides.add();

    await context.sync();
  });
}

this code doesnt work
error: Property 'add' does not exist on type 'SlideCollection'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0c7511-1f0

[2021-06-02 16:01] AlexJerabek commented on #2723
Hello @amahmadnia,

Thank you for raising this issue. `SlideCollection.add` is currently is preview. To use that API, you'll need to follow the steps listed [here](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/powerpoint-preview-apis). That will enable preview APIs in your add-in. Please let me know if that fixes your issue.

I'm also going to add the preview-enabl

[2021-06-02 18:33] #2723 closed

[2021-06-03 09:36] ralphtheninja commented on #2297
I have the same issue. Trying to start the add-in on Mac but getting the following error:

![image](https://user-images.githubusercontent.com/308049/120623150-c28eae80-c45f-11eb-977d-43956af670cf.png)

I'm running the command `office-addin-debugging start manifests/office-dev.xml desktop`. It used to work but stopped working for no apparent reason.

[2021-06-03 10:47] mikewalker74 opened #2727 "Appsource not supporting SendEvent note needs more clarity and reasoning"
[Enter feedback here]

The note on the Send Event on AppSource is not supported is quite an issue for ISV's wishing to be good Microsoft partners, is this due to the AppSource team limiting the manifest sets and is going to be fixed in time?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e12d688-9620-e8f2-871d-922ec980

[2021-06-03 11:33] sudgarre opened #2728 "Automation Testing of Outlook Add-ins"
Hi Team - Is there any way of automation testing the add-ins developed under Outlook app ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b2e062e-1a7a-1861-bf20-c23ac64d0d37
* Version Independent ID: ae2d1395-2a87-1bda-00fb-1b30f8e27b66
* Content: [Outlook add-ins overview - Office Add-ins](https://docs.microsoft.com/

[2021-06-03 18:11] AlexJerabek commented on #2297
Hi @ralphtheninja,
Thanks for reporting this. Can you please create a new issue on the https://github.com/OfficeDev/Office-Addin-Scripts repo to track this? That'll ensure the right people from yo office are looking into the problem.

[2021-06-05 09:04] exextoc commented on #2695
On digging futher we realised the join button should not be already appearing for meetings created with PGiConect addin. We will have to add rules based on the HTML you provided. Yes, the rule will check for existance of Teams URL.
We have added this task to our backlog but we cannot share any timelines at the moment.

[2021-06-05 17:18] paulnearney commented on #2695
Thanks @exextoc. Is there any way for me to get a notification when timelines are available?

[2021-06-05 18:00] exextoc commented on #2695
Yes definitely we will keep you posted here.

[2021-06-06 15:17] Gowthambabug opened #2734 "Custom Function - TypeError: Network request failed (working fine in online , failing only in desktop verison)"
async function getStarCount(userName = "OfficeDev", repoName = "office-js") {
  //You can change this URL to any web request you want to work with.
 // const url = "https://api.github.com/repos/OfficeDev/office-js";
  const url = "https://localhost:44355/api/values/5";
  const response = await fetch(url);
  //Expect that status code is in 200-299 range
  if (!response.ok) {

    throw new Error(re

[2021-06-08 15:23] balazserdeszlogmein opened #2737 "Adding <Icon> element as a child of <Group> raises exception when trying to install the manifest"
The documentation says, `<Icon>` is a required element under `<Group>`.
But when adding an ``<Icon> element, the manifest cannot be installed, because it says "only Tooltip and Control are acceptable elements in a Group".

The same is true for `<Title>` under `<Action>` by the way. I suspect these are not available in Outlook add-ins, but the documentation do not mention this information.

---
###

[2021-06-08 16:18] AlexJerabek commented on #2737
Thanks for raising this issue @balazserdeszlogmein.

@Rick-Kirkham, could you please investigate?

[2021-06-08 16:31] AlexJerabek commented on #2734
Thanks for reporting this @Gowthambabug.

@alison-mk, can you please investigate?

[2021-06-08 20:48] Rick-Kirkham commented on #2737
You are correct. I will update the docs.

[2021-06-08 23:17] #2737 closed

[2021-06-09 22:39] davidchesnut commented on #2734
Hi @Gowthambabug,

It looks like you are trying to fetch from an API server? That URL looks a lot like an ASP.NET localhost URL. Be sure you added that URL to the [AppDomain](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/appdomain) list in your manifest otherwise you could be blocked from calling it.

[code]

It's also possible the defaults for fetch in the context of running on

[2021-06-09 22:39] #2734 closed

[2021-06-10 16:12] ElizabethSamuel-MSFT commented on #2720
@georgesfarah4 Thanks for letting us know about this. The fix should be published soon.

Thanks.

[2021-06-10 16:13] #2720 closed

[2021-06-11 03:20] pnguyenRCUS opened #2746 "How to deploy add-in to Azure App Service? Getting error 'npm ERR! Exit status 2' or 'You do not have permission to view this directory or page.'"
Hello,
How to go about deploying a yeoman generated Office Add-in to Azure App Service?
Need some links for guidance on how to run Add-in from Azure App Service not from localhost under **Next steps** section of https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator

I followed this guide https://docs.microsoft.com/en-us/azure/app-service/quickstart

[2021-06-11 13:01] jozefizso opened #2747 "Outlook for Mac - Mailbox 1.10 API support"
Hi, when will the **Microsoft Outlook for Mac** support the **Mailbox 1.10** API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c255e4-d0f9-5b35-bec0-fdd690bdeff1
* Version Independent ID: dae8b049-0f53-ea13-9998-cfb4362b7553
* Content: [Office client application and platform availability for Office Add-ins - Office

[2021-06-11 16:28] yowl opened #2748 "Visual Studio step"
I know that yeoman is your preferred development option.  But VS is good too, so if you are using VS you need to put the 'Requirements' section after 'Hosts' and before 'DefaultSettings'  in the manifest. You could mention that somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1bb1ec-f7c0-61c7-bd50-4018a2726e

[2021-06-11 16:37] AlexJerabek commented on #2748
Thanks for reporting this @yowl.

@davidchesnut, can you please investigate?

[2021-06-11 20:54] AlexJerabek commented on #2747
Hi @jozefizso,

We are working to bring API parity to Outlook on Mac. However, we do not have a concrete timeline. I would encourage you to tune in to the next [Office Add-ins Community Call ](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins-community-call). There, you can hear the latest information about the platform and ask the product teams for the latest release tim

[2021-06-11 20:54] #2747 closed

[2021-06-11 22:58] ElizabethSamuel-MSFT commented on #2746
@pnguyenRCUS Thanks for your question. Can you take a look at [Publish an add-in developed with Visual Studio Code](https://docs.microsoft.com/office/dev/add-ins/publish/publish-add-in-vs-code) and let us know whether or not it helps?

Thanks.

[2021-06-12 00:02] pnguyenRCUS commented on #2746
Thanks @ElizabethSamuel-MSFT for the link. The new link is useful and should be added under Next steps section of https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator

While your new link helps provide information needed to deploy outside of localhost.
Add-in still failed to install or run outside of localhost.
There are few steps that are not sam

[2021-06-14 06:26] jdson opened #2751 "Compatibility Vue3"
In reference to: https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-vue

Is there any plan to make it working with Vue3?

[2021-06-14 14:12] exextoc commented on #2728
Unfortunately we do not support test toolkit for addin development.We track Outlook add-in feature requests on our Tech Community Page (https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) .You can also use ScriptLab Add-in to test outlook Add-in APIs.

[2021-06-14 14:13] exextoc commented on #2727
As of now, we have blocked the on-send add-ins on store due to Security reasons. However, We are working on an enhancement that will unblock it. Its in our backlog

[2021-06-14 16:45] AlexJerabek commented on #2748
Hi @yowl,

https://github.com/OfficeDev/office-js-docs-pr/pull/2749 will update the docs to address getting the proper manifest in VS.

[2021-06-14 18:27] AlexJerabek commented on #2751
Hi @jdson,

I just went through the quick start using the `Default (Vue 3) ([Vue 3] babel, eslint)` option for the vue CLI. That seemed to work fine. Was there a particular issue that you encountered?

Thanks!

[2021-06-15 13:18] jdson commented on #2751
Hi @AlexJerabek,

The taskpane appears in Excel but remains empty, I can just click on Reload and Security Info.
I get these errors when I load or reload the add-in (Edge DevTools Preview):

HTML1300: Navigation occurred.
taskpane.html (1,1)

[HMR] Waiting for update signal from WDS...

SCRIPT5007: SCRIPT5007: Unable to get property 'config' of undefined or null reference
taskpane.html (18,1)

XML

[2021-06-15 16:25] AlexJerabek commented on #2748
Hi @yowl,

#2749 has been checked in and should be live soon. Please let me know if you need anything else. Thanks!

[2021-06-15 16:25] #2748 closed

[2021-06-15 18:37] ElizabethSamuel-MSFT commented on #2746
@pnguyenRCUS Perhaps the following link can help you get unblocked (thanks for sharing this, @davidchesnut):

https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/issues/61

@davidchesnut is also planning to refine the deployment article so do let us know any other feedback you have about your experience.

Thanks.

[2021-06-15 18:47] AlexJerabek commented on #2751
Thanks @jdson.

Could you also let me know the following information:
- Platform? (Desktop, Mac, Web)
- Office [version and build](https://support.microsoft.com/en-us/office/about-office-what-version-of-office-am-i-using-932788b8-a3ce-44bf-bb09-e334518b8b19)?

[2021-06-16 15:44] jdson commented on #2751
Hi @AlexJerabek,

Windows 10 20H2 (OS Build 19042.1052)
Excel 2016 MSO (16.0.14026.20202) 32-bit

Thank you

[2021-06-16 16:59] AlexJerabek commented on #2751
Hi @jdson,

Thanks for the information. In testing this on Excel for the web, I think I found the issue. Could you please try the quickstart again, but this time ignore step 2 of "Update the app"? That means your **src/main.js** will not be changed and should look like this:

[code]

Please let me know if that works and I'll update the documentation. Otherwise, I have this whole theory that this i

[2021-06-16 20:25] jdson commented on #2751
Hi @AlexJerabek,

This is way better now, I can see the Welcome message and I can color cells in green.
However there is still some error messages:

XML5632: Only one root element is allowed.
taskpane.html (1,1)

[WDS] Disconnected!

0: Office.js has not fully loaded. Your app must call "Office.onReady()" as part of it's loading sequence (or set the "Office.initialize" function). If your app has t

[2021-06-16 20:56] AlexJerabek commented on #2751
Oh right, we still need to call `Office.onReady()`. My apologies. Use this **src/main.js**:

[code]

Here's the article that details why that step is important: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in

As for the "one root element" error, based on [this thread](https://www.outsystems.com/forums/discussion/20753/xml5632-only-one-root-element-is-allowed-error-on

[2021-06-16 21:05] jdson commented on #2751
Thanks a lot for you help with this

[2021-06-16 21:06] AlexJerabek commented on #2751
@jdson Of course, happy to help. Thank you for raising the issue and letting us know about the problem.

[2021-06-16 21:28] rh78 opened #2756 "IE11 / Win7 End of Support"
Hello it would be good to state how the end to IE11 support by Microsoft affects the requirements for Addin certification. Will we still have to support Win7 and IE11 or is this also expiring?

It is honestly a nightmare to keep that support up and running, even if just considering security issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-06-16 22:02] #2751 closed

[2021-06-16 22:06] Rick-Kirkham commented on #2756
I'm seeking more information internally. In the meantime, I believe the end of support for IE does not change much for Office Add-ins. There is still a large installed base of one-time purchase (not subscription Office 365) Office customers and add-ins are still required to support them, which means continuing to support IE since that is the browser webview that add-ins use on non-subscription Off

[2021-06-18 12:13] piyumi25 opened #2759 "Cache busting in react add-ins"
Can I know any cache busting is possible when deploy the add-in. In angular we can use "npm run build --output-hashing=bundles"  command for cache busting. Is there any way for react add-ins?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ba07460-1e7e-7272-8a36-670a818ef61a
* Version Independent ID: 842eb2f1-4c97-df76

[2021-06-18 14:55] alison-mk commented on #2759
Hi @piyumi25, thanks for submitting a question. @Rick-Kirkham can you take a look at this Fluent UI React question?

Cheers,
Alison

[2021-06-18 18:58] Rick-Kirkham commented on #2759
An add-in is just a web app. For the most part, you do things in an add-in exactly the way you would in a web app. So, if cache-busting can be done in a React web app, then it can be done in a React add-in. If not, then not.

If I search `how to cache bust with react?` in Microsoft Bing, I get a lot of helpful results. It looks like there are multiple ways of doing it in a React web app.

[2021-06-18 18:58] #2759 closed

[2021-06-18 21:05] mikewalker74 commented on #2727
Thanks for the feedback is there a specific reason from a security standpoint as surely if side loading is possible defeats and or creates an observational concern for our clients if deemed a security reason..

[2021-06-18 21:16] Rick-Kirkham commented on #2756
I have confirmed internally what I said in my previous comment. I will try to make this clearer in the documentation.

[2021-06-18 23:25] #2756 closed

[2021-06-19 20:48] pnguyenRCUS commented on #2746
Thanks for the info but I am still unable to host Add-in outside of development environment.

Without success hosting with App Service and VS Code deployment tool, I attempted to host Add-In on node-js on linux and nginx as reverse proxy server but Add-In does failed to startup on linux:

![image](https://user-images.githubusercontent.com/26148445/122655080-adbf4580-d104-11eb-9d0a-803b482a1902.png

[2021-06-19 21:28] #2746 closed

[2021-06-21 19:00] #2728 closed

[2021-06-22 14:05] JackTheDane opened #2763 "EquivalentAddIns tag support for Outlook Web Add-ins"
Hi Team!

We're currently developing a Web Add-in for Outlook to compliment our existing VSTO solution, and are really excited about the possibility of using `EquivalentAddIns` in the Web Add-in manifest to only show the Web Add-in when the VSTO is not present.

However, we have some confusion, as your documentation says that this feature will be available soon, but according to [a recent blog pos

[2021-06-22 16:03] AlexJerabek commented on #2763
Thanks for reporting this discrepancy @JackTheDane.

@ElizabethSamuel-MSFT, can you please investigate?

[2021-06-22 20:07] mscharlock commented on #2504
I'm going to assume that this issue can be closed, but @stewa11 let us know if it should be reopened with a comment. Thanks!

[2021-06-22 20:11] mscharlock commented on #2505
Given @millerds answer, I'm going to close this issue, but @foofaraw let me know if you need other assistance. Thanks!

[2021-06-22 20:11] #2505 closed

[2021-06-22 20:18] mscharlock commented on #2467
@davidchesnut - Just pinging you on this one. I'll discuss internally with the DevX folks about a yeoman errors article. Thanks!

[2021-06-22 21:02] stewa11 commented on #2504
michelle, i could only publish my add in if i have a none public email. my add in is free and it helps all small businesses around the world.

please help me publsih my add in

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Michelle Scharlock ***@***.***>
Sent: Tuesday, June 22, 2021 9:07:27 PM
To: OfficeDev/office-js-docs-pr ***@***.***>
Cc: stewa11 ***@**

[2021-06-22 22:23] andrewgay opened #2765 "Clarification on Support for IE11"
Should new Add-ins continue to support IE11 even with the pending deprecation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us

[2021-06-22 23:24] AlexJerabek commented on #2765
Hi @andrewgay,

Here's the official statement on IE11's deprecation with regards to Office Add-ins:

I think this note was added to the linked document between you creating the issue and me responding. I'm going to close this issue, but I'll tag @Rick-Kirkham in case there's more to say here.

[2021-06-22 23:24] #2765 closed

[2021-06-23 19:56] mscharlock commented on #2640
Hi @VashJuan - The task pane for Office Add-ins is rendered in a browser. The browser depends on the computer's OS and whether the add-in is running in Office on the web, Microsoft 365, or non-subscription Office 2013 or later. For a table that provides a reference to all the possible configurations, see: https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-

[2021-06-23 19:58] mscharlock commented on #2721
Hi @singhbrijraj - happy to look into this and get back to you. I think if memory serves if you are creating in other systems you are typically prompted to change the registry key via a dialog box but let me confirm at get back to you.

[2021-06-23 20:06] mscharlock commented on #2527
Hi @mwchan - Yeah, I think the latest updates have solved this issue - but let me know if you need anything else by commenting on this thread. I'll close for now but if you leave a comment I can reopen and investigate. Thanks!

[2021-06-23 20:06] #2527 closed

[2021-06-23 20:08] mscharlock commented on #2453
Hi @bgausden - just wanted to let you know that the webView2 docs are out here: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-desktop-using-edge-chromium. I'm going to close this thread for now, but let me know if you have any other comments or issues by commenting and I will reopen this thread. Thanks!

[2021-06-23 20:08] #2453 closed

[2021-06-24 17:51] ElizabethSamuel-MSFT commented on #2763
@JackTheDane We're still in the process of getting the updated manifest schema out to on-prem Exchange. As such, while it may work for Exchange Online, it may not pass validation as we don't officially support this element in the manifest yet. Also, any users of your add-in may hit errors if their mailbox is on on-prem Exchange. Once the rollout is complete, we'll update the article. Unfortunately

[2021-06-24 17:51] #2763 closed

[2021-06-24 17:56] ElizabethSamuel-MSFT commented on #2484
@itishnitsa We're still looking into your unaddressed comment and hope to have an update for you soon.

Thanks.

[2021-06-24 17:58] ElizabethSamuel-MSFT commented on #2557
@clavx This is on our backlog to further clarify this documentation. We'll update once we've made further progress. Thanks.

[2021-06-24 18:00] ElizabethSamuel-MSFT commented on #2657
@barclayadam It is on our backlog to continue clarifying this and to add more details about the new events. Coming soon. Thanks.

[2021-06-25 04:26] VashJuan commented on #2640
Sure that helps! Maybe just explain that on the original page, so folks know the situation?

[2021-06-25 04:26] #2640 closed

[2021-06-25 07:49] Rinzwind opened #2769 "Example for `Range.getCell` in the Excel API reference uses `cell` instead of `getCell`"
## Article URL
https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#getCell_row__column_

## Issue
The example code for [`Range.getCell` in the Excel API reference](https://docs.microsoft.com/en-us/javascript/api/excel/excel.range?view=excel-js-preview#getCell_row__column_) has the following line:

[code]

That should probably be:

[code]

## Screenshot

<img wid

[2021-06-25 15:50] AlexJerabek commented on #2769
Thanks for reporting this @Rinzwind.

I'll fix the sample momentarily.

[2021-06-28 18:00] mscharlock commented on #2504
Hi @stewa11 - Unfortunately we require a business email for the publishing of add-ins, it is just part of the rules. I know it is a sore point for people, so I will pass along the feedback that this is a problem to our program managers. Again, sorry I am unable to help.

[2021-06-29 02:05] wynntee opened #2771 "Domains for Access-Control-Allow-Origin header"
Hi, when serving an Office Add-in for Office Online, I currently set the "Access-Control-Allow-Origin" header to a "wildcard" value.

I would like to restrict the header to only the required domains, but I cannot find this information in the docs. For example, is it "officeapps.live.com"? Any other domains?

[2021-06-29 14:13] abdulkareemnalband commented on #584
We would like to use https://github.com/microsoft/playwright to automate the testing of desktop addins.
If word addin will expose WebView2 instance over Chrome DevTools Protocol , then we could use
https://playwright.dev/docs/api/class-browsertype#browser-type-connect-over-cdp to attach to that and use playwright to write tests

[2021-06-29 14:35] mitoihs commented on #584
My coworker has recently set up Selenium for desktop Excel add-in. That's what he said:

[2021-06-29 16:57] ElizabethSamuel-MSFT commented on #2771
@wynntee Thanks for asking about this.

@Rick-Kirkham Is this something you can help with?

Thanks.

[2021-06-29 18:44] Rick-Kirkham commented on #2771
I'm seeking information internally about this.

[2021-06-29 23:17] Rick-Kirkham commented on #2771
If you want to try to implement this, here are a couple of articles that might help. But note that new URLs could be added at any time and old ones deprecated.

[Office 365 URLs and IP address ranges](https://docs.microsoft.com/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide#microsoft-365-common-and-office-online)
[Content Delivery Networks (CDNs)](https://docs.microsoft.co

[2021-06-29 23:17] #2771 closed

[2021-06-30 01:31] markdon opened #2774 "UI for meeting providers"
In desktop/web clients our online meeting provider add-in can show a task pane for the user to choose/edit one of their existing meeting rooms or choose settings for a newly created meeting room.

It would seem that this would be possible on mobile by opening a dialog when the user enables the online meeting.
- Are there any rules relating to what the add-in can do when the enabling the toggle?

I

[2021-07-01 07:43] zhangxj19 opened #2777 "invocation code doesn't work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30fb645-c853-a93a-4137-1e2bf7398a11
* Version Independent ID: 75fb99ac-72e8-7bdc-ff1b-85e7ed930d50
* Content: [Excel custom functions tutorial - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custo

[2021-07-01 09:15] exextoc commented on #2727
Store listing of add-ins allows end users to find and install the add-ins. Currently our security policies don’t allow wide distribution of add-in’s that are invoked automatically from store. On-Sends is one example of that. We currently do not have provisions/control to inform end users about such add-in capabilities at the time of add-in installation or updates.

With admin installed, side-loadi

[2021-07-01 15:20] abhishek1234321 opened #2778 "Recommended Framework7 doesn't support IE 11 anymore"
The framework mentioned to use for mobile add-ins is Framework7 whose latest version doesn't work on IE 11 anymore.

Is there any other framework that is recommended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3014aa1e-e619-e5cd-ede4-d39179bf5807
* Version Independent ID: 8dd3212a-43f4-5627-8305-56feebd06835
* Cont

[2021-07-02 21:08] ElizabethSamuel-MSFT commented on #2774
@markdon Thanks for asking about this.

@exextoc Can you respond to these questions?

We can update the docs as appropriate after that.

Thanks.

[2021-07-02 21:11] ElizabethSamuel-MSFT commented on #2777
@zhangxj19 Thanks for letting us know about this. Can you share any additional details about what behavior you're seeing? Also, can you let us know where you're trying this (browser, Windows)?

@alison-mk Can you take a look?

Thanks.

[2021-07-02 21:13] ElizabethSamuel-MSFT commented on #2778
@abhishek1234321 Thanks for pointing this out.

@Rick-Kirkham Is this something you can investigate?

Thanks.

[2021-07-05 01:20] TheTimKiely opened #2787 "Examples and links to docs please!"
Hi,
It would be very helpful to have an example of implementing a tab bar on a task pane.
Thanks,
Tim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38551b6a-d42b-c142-cda6-57550492fa65
* Version Independent ID: ee054a87-d61e-a706-08a7-e49c9d26f2a1
* Content: [Navigation patterns for Office Add-ins - Office Add-ins](ht

[2021-07-05 09:23] abdulkareemnalband opened #2788 "How can I disable my addin for word online"
As RichApi is only available on native word application. We want to disable our addin for Word Online
How can we do that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b7148f0-0384-00d9-16f4-99cdab9c8ecc
* Version Independent ID: 9a7623fd-dd24-267f-a17f-dfcbd496ee0e
* Content: [Specify Office hosts and API requirement

[2021-07-05 21:02] Rick-Kirkham commented on #2778
@abhishek1234321 I have changed the documentation. We now recommend [Fluent UI](https://developer.microsoft.com/fluentui#/). You should see the change in the article in the next couple of days.

[2021-07-06 04:56] abhishek1234321 commented on #2778
Does Fluent UI support changing styles based on Android or iOS, because this is one of the requirements for Outlook mobile add-ins as per this [https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-addin-design](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-addin-design)

I couldn't find any documentation around changing the UI elements based on whether it is be

[2021-07-06 04:57] abhishek1234321 commented on #2778
I have also raised a question on Stack overflow https://stackoverflow.com/questions/68038227/what-ui-framework-to-use-for-outlook-add-in-for-web-ios-and-android/68126511?noredirect=1#comment120547780_68126511

[2021-07-06 15:54] ElizabethSamuel-MSFT commented on #2787
@TheTimKiely Thanks for asking about this.

@Rick-Kirkham Is this something you can help with?

Thanks.

[2021-07-06 16:19] jadjare opened #2790 "Manifest file's default Taskpane.Url is incorrect for the example Vue project (Fix issue with Add-in not side loading)"
Having spent sometime attempting to side-load the basic Vue based Excel Office Addin created by following tutorial steps and not being able to figure out why it won't load, I have discovered that the Taskpane.Url is pointing to a .html file that doesn't exist.

To fix the issue it is necessary to update the `manifest.xml` file and find the entry
[code]
This entry refers to a non-existant taskpane.

[2021-07-06 16:27] AlexJerabek commented on #2790
Thanks for reporting this @jadjare.

@alison-mk, could you please take a look?

[2021-07-06 17:58] Rick-Kirkham commented on #2778
I'm inquiring internally for more information.

[2021-07-06 18:30] Rick-Kirkham commented on #2787
How you implement a tab bar depends on what UI framework you are using (e.g., React, vanilla JS, Vue, etc.). We can't produce implementations for all of them, but we have example implementations in this repo:  [Office Add-in Ux Design Patterns Code](https://github.com/OfficeDev/Office-Add-in-UX-Design-Patterns-Code).

In particular, see [tab-bar](https://github.com/OfficeDev/Office-Add-in-UX-Desig

[2021-07-06 18:30] #2787 closed

[2021-07-07 12:03] TheTimKiely commented on #2787
Thanks @ElizabethSamuel-MSFT  and @Rick-Kirkham
-Tim

[2021-07-08 01:20] alison-mk commented on #2790
Hi @jadjare, thank you for reporting this issue and providing feedback. I've updated the article to incorporate your suggestions, and those changes are now in PR #2795. Once the PR is merged, this issue will automatically close. Let us know if you have any additional questions or concerns.

Cheers,
Alison

[2021-07-08 02:34] alison-mk commented on #2777
Hi @zhangxj19, thanks for submitting an issue. I've tested this custom functions tutorial and added a fix for a bug in the *Create a streaming asynchronous custom function* section. It's in PR #2796 now. Once that PR is merged, this issue will automatically close. Let us know if you have any additional questions or concerns.

Cheers,
Alison

[2021-07-08 03:58] exextoc commented on #2774
Hi @markdon, there is a limited set of APIs available for the online meeting scenarios. You can refer to https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting for the set of available APIs.
There is a timeout of 1 min for the Add-in to populate the required information. This excludes any time spent on a dialog box launched by Add-in, e.g. authentication dialog box. We will upd

[2021-07-08 19:02] mscharlock commented on #2504
I'm going to close this issue but let me know if you encounter any other issues. Thank you!

[2021-07-08 19:02] #2504 closed

[2021-07-08 19:16] #2790 closed

[2021-07-09 21:10] #2777 closed

[2021-07-11 13:20] sohilbhalla opened #2806 "Update Backend database when any user in the organization edits an appointment in his/her calendar"
I have a business requirement where when any user edits an already created appointment in outlook, the event needs to be captured and an backend web api needs to be called to update the database based on the change done in the outlook appointment.

Will the event based outlook add-ins  best suited for this case and can it be used in production apps ?

---
#### Document Details

⚠ *Do not edit this

[2021-07-12 07:00] #2727 closed

[2021-07-13 08:26] ndeeH opened #2807 "Switching to IE is not working for none Yo Neoman generated projects 😒"
Is there a chance to switch to IE for tests for other type of SPA add ins?

[2021-07-13 10:58] clavx opened #2808 "Access to OData is disabled in Outlook REST API"
We have created an add-in that sends requests to the Outlook REST API based on the following document.

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/use-rest-api

An error occurred when an external server sent a request using the retrieved token.

[code]

Based on the error message, we searched and found the following information.

https://blogs.msdn.microsoft.com/wushuai/2017/04/01

[2021-07-13 17:27] ElizabethSamuel-MSFT commented on #2807
@ndeeH Thanks for asking about this. However, can you clarify if you're working with SharePoint Add-ins - or what you mean by SPA?

Your response can help us point you in the right direction. This repo is related to Office Add-ins but doesn't include SharePoint Add-ins.

Thanks.

[2021-07-13 18:24] ElizabethSamuel-MSFT commented on #2808
@clavx Thanks for asking about this.

@exextoc Can you take a look?

Thanks.

[2021-07-13 18:58] ndeeH commented on #2807
Hi @ElizabethSamuel-MSFT ,
no SPA means Single Page Application - our add in is a AngularJS SPA.
The provided information in the documentation does not work for all kind of projects which are not created by the Yo Neoman tooling.
(I cant find the help page to this issue - I simply clicked on a button below to add a feedback - where is the documentation linked=

[2021-07-13 19:02] ElizabethSamuel-MSFT commented on #2807
@ndeeH Thanks for your response. Can you share more details about your situation? E.g., Office application you're using, the doc page you're looking at, etc.

Thanks.

[2021-07-13 20:21] exextoc commented on #2806
@sohilbhalla - Are you looking for events on changes to some specific fields on the appointment (like recipient added/deleted) or an event for **any** change to the item, say when the body changed? We may be able to help you better or provide alternatives, if available, once we have more details about the use case you're trying to achieve. If you're expecting an event for any generic change to the

[2021-07-14 06:39] #2807 closed

[2021-07-14 12:35] HiranPeri opened #2812 "Control xsi:type="Menu" does not work in Excel."
We used the documentation as reference to create a menu (Dropdown buttons) in excel sheet. If we comment out menu control then the add-in loads fine. But if we don't comment out and expect the menu to load then entire add-in fails.

[Menu (dropdown button) controls](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/control#menu-dropdown-button-controls)

## Issue
Here is sampl

[2021-07-14 16:57] #2774 closed

[2021-07-14 17:05] ElizabethSamuel-MSFT commented on #2774
@markdon Thanks again for raising this. The updated article should be published soon.

Let us know if we can provide any further help.

Thanks.

[2021-07-15 00:23] exextoc commented on #2808
@clavx Do you hit this error when the add-in is making the REST request or are you using the token provided by the addin (by calling getCallbackTokenAsync with isRest true) and making a REST request through an external server using this token?

[2021-07-15 13:58] sundariragavan commented on #1511
@mscharlock Office.context.ui.displayDialogAsync('https://myAddinDomain/myDialog.html');
In this display dialog , i want to open the salesforce login . How to achieve this.
Because i'm implementing outlook add in. In this add-in we have salesforce sign up.

[2021-07-15 18:58] ElizabethSamuel-MSFT commented on #2657
@barclayadam We've created a [PnP](https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/outlook-tag-external) that uses the OnMessageRecipientsChanged event (currently in preview).

Thanks.

[2021-07-15 19:11] ElizabethSamuel-MSFT commented on #2657
@barclayadam Are you able to access the events that are currently in preview? If you're still not able to access them, can you make sure to follow the instructions in the [How to preview](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch#how-to-preview) section of the feature article?

Thanks.

[2021-07-16 12:58] clavx commented on #2808
Thank you for your response.

We tested only this way.

We didn't check the behavior when the add-in made a REST request.

We would like to confirm this, but the tenant experiencing the issue is a customer environment, so it is expected to take some time.

[2021-07-16 22:55] mscharlock commented on #1511
@ElizabethSamuel-MSFT Tagging you if you happen to know, I also am looking into it. Thanks!

[2021-07-19 17:17] barclayadam commented on #2657
@ElizabethSamuel-MSFT I have been able to successfully use recipient changed and new mail (now in production). Is it possible to request other events? Would love to see an event when the `From` field is modified

[2021-07-22 02:09] exextoc commented on #2808
Just a follow-up here, this documentation page has some useful information that might help with configuring your customer's ApplicationAccessPolicy:
https://docs.microsoft.com/en-us/graph/auth-limit-mailbox-access

[2021-07-24 09:59] edwardforgacs commented on #2657
You did better than me, I am about to give up as I have been unable to get OnNewMessageCompose to work with either of the MS samples. To be frank the Outlook JS add-ins are just mind-blowingly unstable, even for the most trivial operations.

[2021-07-26 14:37] sohilbhalla commented on #2806
Hi, first of all sorry for the late response. We had a long holiday here :) .

So here is a brief description about the business case we have.

We are syncing the specific outlook appointments with a custom application and are thinking of using outlook add ins to capture the events of changes happening in the appointments from outlook and update the application back. I can understand making a gene

[2021-07-26 17:54] ElizabethSamuel-MSFT commented on #2657
@edwardforgacs Thanks for your feedback about using Office.js. Tagging the feature team @exextoc for awareness about the beta performance issues.

Note that you shouldn't need to set anything in order to use the OnNewMessageCompose event since it is now in production and is generally available (GA) from requirement set 1.10 using a Microsoft 365 subscription. For Outlook on Windows, the minimum re

[2021-07-26 18:00] ElizabethSamuel-MSFT commented on #2657
@barclayadam So glad you're able to use the events! Regarding the new event request and any other feature suggestions, you can post new ideas or upvote existing ones at the [Microsoft 365 Developer Platform Tech Community site](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform).

Tagging @JuaneloJuanelo @hitmanwar for awareness re: request

[2021-07-27 18:16] VashJuan opened #2826 "npm start results in "'office-addin-debugging' is not recognized""
Walked through the Excel Add-in Quickstart and get the above error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Version Independent ID: d946ffe6-f29f-1563-b679-121090ba60a1
* Content: [Build your first Excel task pane add-in - Office Add-ins](https://docs.microsoft.com/en-us/of

[2021-07-27 18:26] VashJuan commented on #2826
Tutorial neglects this step:
**npm i office-addin-debugging**

[2021-07-28 16:38] AlexJerabek commented on #2826
Thanks for raising this @VashJuan.

@millerds, Can you please take a look? Was this change to the yo office flow intentional?

[2021-07-28 21:15] Rick-Kirkham opened #2829 "Outdated statement about shared runtime"
This sentence,

is no longer always true. For Office on Windows, the shared runtime uses Microsoft Edge with WebView2 (Chromium-based) if the conditions for using it are met as explained in the article Browsers used by Office Add-ins. Else, it uses IE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ad7803-d4f7-a700-7

[2021-07-28 21:23] millerds commented on #2826
The output from yo office I see says “No change to package.json was detected. No package manager install will be executed.” which means 'npm install' was not run like was expected.  I'm not sure why that is yet, but you'll need to run 'npm install' before 'npm start' when this happens.

[2021-07-28 21:42] Rick-Kirkham opened #2830 "ambiguous "you""
The term "you" in this article refers to the developer, but in the **Coauthoring** section, it refers to what end users do. Please rewrite that section so that it talks about users, not "you".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ad7803-d4f7-a700-7c7f-204cd8f34e4a
* Version Independent ID: 9c485bae-cab1-bda

[2021-07-28 23:21] Rick-Kirkham opened #2831 "Custom function quickstart not compatible with actual Yo Office behavior"
The article says

This is no longer correct. the generator completes without error, but it does not run `npm intall`. The sentence should be deleted and an additional step to run `npm install` should be added to the article just before the step to run `npm run build`.

I'm using
node 14.17.3
npm 6.17.13
Yo 4.2.0
office-generator 1.7.9

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-07-28 23:27] AlexJerabek commented on #2831
@Rick-Kirkham This seems to be a problem across all our quick starts, as discovered in #2826. @millerds is investigating why the yo office flow changed.

[2021-07-28 23:32] Rick-Kirkham opened #2832 "Note is in the wrong place in custom functions quick start"
The article has a note about installing certificate after the step to run `npm run build`, but the prompt doesn't actually come until after the NEXT step to run `npm run start:desktop`.

![image](https://user-images.githubusercontent.com/9088056/127409296-dfa08fae-a17c-4a0d-89b6-cd8e0f711caf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-07-29 00:38] Rick-Kirkham commented on #2831
Closing as a dup of 2826.

[2021-07-29 00:38] #2831 closed

[2021-07-29 05:32] eldargum opened #2833 "batching custom functions example doesn't work in excel"
When I tried to run a batching custom function in excel I get an error

Verbose	Runtime	[Console] [Log] error message:Host may not have set any promise continuation callback. Promises may not be executed.

In Office Web app it's working normally. Will this work in excel?

[2021-07-29 07:00] #2808 closed

[2021-07-30 03:02] Rick-Kirkham opened #2837 "Need to orient the reader and spell out "XLL" and correct support note"
This article is confusing because:

1. It never spells out what "XLL" means.
2. It assumes distinction between XLL user-defined functions, XLL compatible custom functions, and Excel add-in custom functions; but it never spells out what these are or how they are distinct from each other.
3. The note near the top says that COM add-ins and UDFs are supported on web, Mac, and Windows. This is not true

[2021-07-30 03:26] Rick-Kirkham opened #2838 "Erroneous note and confusing terminology"
The note near the top says that IE is always used for custom functions. This is no longer true. If the conditions for using Edge WebView2 are met, as described in the "Browsers used by Office Add-ins" article, then WebView2 is used for custom functions. Else, IE is used.

The phrase "UI-less custom function" is confusing because it implies that there are custom functions that DO have a UI, but tha

[2021-07-30 05:06] Rick-Kirkham opened #2839 "Puzzles about the code sample"
The code sample on this page:

1. Why does the sample use `Excel.RequestContext` instead of `Excel.run`? This conflicts with the normal best practice. If there's a reason for not using Excel.run in an custom function, the article should explain what it is.
2. The sample has an empty load, `range.load()`, which is a bad practice. I think it should be `range.load("values")`.
3. The sample does exact

[2021-07-30 05:15] Rick-Kirkham opened #2840 "Inconsistent and imprecise guidance"
Near the top of the article, "set the cell's number format" is mentioned as an appropriate scenario for calling Excel.js in a custom function, but near the end of article "set properties" is listed as one of the things that should _not_ be done in a custom function.

"execute most methods" is listed at the end as one of things that should not be done in a custom function. That "most" is not very h

[2021-07-30 21:27] Rick-Kirkham opened #2841 "WebSocket code sample for custom functions lacks context"
The **WebSockets** section does not provide enough context for the code sample to be of any use.

Should this code be global in the functions.js file or should it be inside a custom function?

If the former, then how is this code connected to a custom function?

If the later, then where in the custom function does it go?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-07-30 21:58] ElizabethSamuel-MSFT commented on #2829
@Rick-Kirkham Thanks for raising this!

@alison-mk Can you take a look?

Thanks.

[2021-07-30 21:59] ElizabethSamuel-MSFT commented on #2830
@Rick-Kirkham Thanks for pointing this out.

@alison-mk Can you take a look?

Thanks.

[2021-07-30 22:00] ElizabethSamuel-MSFT commented on #2832
@Rick-Kirkham Thanks for taking the time.

@alison-mk Can you take a look?

Thanks.

[2021-07-30 22:01] ElizabethSamuel-MSFT commented on #2837
@Rick-Kirkham Thanks for noting this.

@alison-mk Can you take a look?

Thanks.

[2021-07-30 22:02] ElizabethSamuel-MSFT commented on #2838
@Rick-Kirkham Thanks for this update.

@alison-mk Can you take a look?

Thanks.

[2021-07-30 22:03] ElizabethSamuel-MSFT commented on #2839
@Rick-Kirkham Thanks for clarifying this.

@alison-mk Can you take a look?

Thanks.

[2021-07-30 22:04] ElizabethSamuel-MSFT commented on #2840
@Rick-Kirkham Thanks for asking about this.

@alison-mk Can you take a look?

Thanks.

[2021-07-30 22:05] ElizabethSamuel-MSFT commented on #2841
@Rick-Kirkham Thanks for giving custom functions a try and asking about this.

@alison-mk Can you take a look?

Thanks.

[2021-07-31 01:25] Rick-Kirkham opened #2842 "Debugging config not available"
The section **Use the VS Code debugger for Excel Desktop** says the following for step 5:

But there is no such option.
![image](https://user-images.githubusercontent.com/9088056/127723943-5451d2a2-51c9-490d-9c29-bd1c2116118b.png)

Choosing **Add configuration** brings a list of options, but none of them is *Excel Desktop (Custom Functions)**.

Also, the dropdown is not called "Run". It is called

[2021-08-01 23:33] Rick-Kirkham opened #2843 "typo in instruction"
In the section **Create task pane controls to work with global data**,
step 4 says:

This should be the end `</body>` element, not the start `<body>` element.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 056e0311-c24e-6342-a3f0-36120930107d
* Version Independent ID: dd406dd4-8384-190a-2385-01324cf1ba3a
* Content: [Tu

[2021-08-02 15:48] AlexJerabek commented on #2842
@mscharlock, could you please investigate?

[2021-08-02 21:47] exextoc commented on #2806
Since you want to receive notifications on your backend when a calendar event changes, you may consider using the Graph API from your backend to subscribe to [change notifications](https://docs.microsoft.com/en-us/graph/api/resources/webhooks?view=graph-rest-1.0) on [events](https://docs.microsoft.com/en-us/graph/api/resources/event?view=graph-rest-1.0) (calendar appointments). This would allow yo

[2021-08-03 00:05] millerds commented on #2826
Looks like the new version of yeoman-generator we took a dependency on (fixing vulnerabilities) changed the way it handled calling 'npm install'.  There is a workaround fix coming.  In the mean time, run 'npm install' before running 'npm start'

[2021-08-03 06:11] sohilbhalla commented on #2806
Yes I did think of this solution, but the change notifications for the events are user based `/users/{id}/events` , so we have to create change subscriptions for every user in the organization and keep it alive to capture the changes made by any user. If we are talking about an organization with 10,000 plus employees, we might end up creating 10,000 change subscription and maintaining it.

I am no

[2021-08-03 16:51] mscharlock commented on #2842
Yep, likely just VS changes since last time we updated this. This was written pre-webview2, so good catch. Thanks for the heads up @Rick-Kirkham and I will add it to my list of things to update.

[2021-08-03 16:59] mscharlock commented on #2841
@alison-mk hit me up if you need some context on this article. The web sockets stuff is from way way back in the day.

[2021-08-03 20:22] exextoc commented on #2806
Maintaining a huge number of subscriptions doesn't seem like a good idea.
Also, a maximum of 1000 active subscriptions per mailbox for all applications is allowed, so that limit could easily be hit after a while if you have a subscription to every appointment changed on a single user's mailbox, unless the subscriptions are deleted after the events have taken place.

Event-Based Add-ins also have s

[2021-08-03 23:04] ElizabethSamuel-MSFT commented on #2557
@clavx Thanks again for taking the time to use this feature and give us tons of feedback - we really appreciate it! We've updated the article over the past few months and this latest PR includes a Windows policy rename. Do take a look and let us know your thoughts. Thanks.

[2021-08-04 20:16] #2826 closed

[2021-08-05 01:18] #2843 closed

[2021-08-05 09:17] jean-wujingyi opened #2857 "Outlook mobile icon size"
Hello, a question about icon configuration.
From Office articles, it says Mobile add-ins minimally must support 25x25, 32x32 and 48x48 pixel icons. But from example code, this Image element for 25px is actually provided by 16px-icon.
Is it a typo or something?
![image](https://user-images.githubusercontent.com/66811843/128325455-e0c7fd0c-8775-42e3-b1e9-c539c5f73d19.png)
![image](https://user-image

[2021-08-05 09:21] amitlivnat opened #2858 "these instructions are not working on out-of-the-box windows machine.... tons of dependencies are missing... please check."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930ce4fc-c8b8-f756-f03f-a716f1ef7883
* Version Independent ID: 753a2e38-9430-25bb-5409-b7eed9c88e47
* Content: [Build your first Outlook add-in - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=y

[2021-08-05 15:43] AlexJerabek commented on #2858
Hi @amitlivnat,
Thanks for raising this issue. Could you please tell us what step in the quick start is failing for you? Is there any console output you could provide?

[2021-08-05 15:45] AlexJerabek commented on #2857
Hi @jean-wujingyi,
Thanks for raising this issue. @ElizabethSamuel-MSFT, could you please investigate?

[2021-08-05 18:33] justingden opened #2859 "Nuget Package no longer available from package manager"
The reference typescript Nuget Package no longer available from package manager. It would be good to get an updated way to acquire the typescript definitions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b888399c-fe96-0934-00ce-86db8fa8cf5b
* Version Independent ID: 2c5d24e8-5639-42b1-4d12-119f89591550
* Content: [Co

[2021-08-05 18:42] AlexJerabek commented on #2859
Thanks for reporting this @justingden.

@Rick-Kirkham, could you please investigate?

[2021-08-05 19:00] #2829 closed

[2021-08-05 19:00] #2830 closed

[2021-08-05 19:28] Gielovic opened #2861 "confusion about amurl domain verification"
I find this section rather confusing:
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/validate-an-identity-token#verify-the-domain

The goal of using the token is authenticating the user in the back-end application in SSO fashion (without having to enter username & password). The documentation however mentions that the `amurl` should be validated. The domain should match the Autodiscov

[2021-08-05 19:34] justingden commented on #2859
The solution I found is not easy for .NET framework projects as it looks
like TS has moved to npm. (.NET core now has native npm project support)

Here is an example:
https://stackoverflow.com/questions/32050645/how-to-use-jquery-with-typescript

I am just manually added package.json to the project and then using npm
from command line.

On Thu, Aug 5, 2021 at 12:42 PM Alex Jerabek ***@***.***>
wro

[2021-08-05 22:09] AlexJerabek commented on #2861
Thanks for raising this issue @Gielovic.

@ElizabethSamuel-MSFT, can you please take a look?

[2021-08-06 20:59] #2832 closed

[2021-08-08 19:08] ralphtheninja commented on #2297
@AlexJerabek How about re-opening the issue and transferring it to the other repository?

[2021-08-08 19:19] ralphtheninja commented on #2297
Quick re-cap and background

I have the following scripts in my `package.json`:

[code]

Currently Word is working great, `npm run start:word` and boom word shows up with the add-in.

But when I try to start the addin for Excel or PowerPoint I get the error that the add-in is no longer available. If there's some old stuff laying around that should be cleaned up I could simply just try to wipe that

[2021-08-08 19:49] ralphtheninja commented on #2297
Also see https://github.com/OfficeDev/office-js/issues/256

[2021-08-08 20:18] ralphtheninja commented on #2297
Following the troubleshooting section here https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-development-errors, I couldn't get any of the paths to fix my problem.

But I found a quick and dirty solution. On Mac I removed the complete `~/Library/Containers/com.microsoft.Excel` folder and it started working again. Doing this is like starting Excel for the first time, since yo

[2021-08-09 15:34] AlexJerabek commented on #2297
Sure thing @ralphtheninja.

@millerds, can you please take a look at this issue, paying particular attention to the information from @ralphtheninja starting on June 3rd? Thank you!

[2021-08-09 22:53] montygimpel commented on #2297
@ralphtheninja deleting files in that folder is not working for me either. While creating Office add-in task pane project using react framework works fine, every time I try create excel custom functions add-in project I get the same error.. add-in no longer available, manifest removed...

I am a mac user. Whats strange is that I can swap in the manifest of the task pane react framework for the man

[2021-08-10 01:48] jean-wujingyi commented on #2857
any updates?

[2021-08-10 16:56] Rick-Kirkham commented on #2859
Strange. My comment from a few days ago is gone. I wrote that I cannot reproduce. The jquery.TypeScript.DefinitelyTyped is available for installation in Visual Studio.

[2021-08-10 18:01] justingden commented on #2859
Hi Rick,

I apologize for wasting your time. I think there was a package source
filter that somehow got applied. I see it now as well.

TypeScript has moved to npm packages for definition, so it might be worth a
note in the article, but there is no problem with what you have.

Thank you,

Justin

On Tue, Aug 10, 2021 at 10:57 AM Rick Kirkham ***@***.***>
wrote:

[2021-08-10 18:55] ElizabethSamuel-MSFT commented on #2861
+ @exextoc to take a look. Thanks.

[2021-08-10 19:03] ElizabethSamuel-MSFT commented on #2857
@jean-wujingyi From my initial investigation, a couple of the required sizes for mobile are not supported by the Icon manifest element. As such, I believe that the current guidance is correct, that you'll need to scale a supported size icon for mobile purposes.

Are you hitting errors or other issues with the current guidance?

Thanks.

[2021-08-10 19:58] Rick-Kirkham commented on #2859
Thanks. I'll close this for now.

[2021-08-10 19:58] #2859 closed

[2021-08-10 20:57] davidchesnut commented on #2539
Hi @Max1992,

We updated the Outlook SSO sample recently and moved it here: https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO. Can you let use know if you are still seeing any issues with this sample, or the documentation?

Thanks!

[2021-08-11 01:06] jean-wujingyi commented on #2857
Thanks for your help. No isuues for current stage, just curious about this.

[2021-08-11 01:28] jean-wujingyi commented on #2857
You mean that 25px icon is not supoorted by Icon manifest element, so we replace it as 16px icon, am I right?
<img width="541" alt="Screen Shot 2021-08-11 at 9 27 50 AM" src="https://user-images.githubusercontent.com/66811843/128955800-8042c9e2-f077-4f36-9223-f865b13f3669.png">

[2021-08-11 04:00] #2557 closed

[2021-08-11 17:48] ElizabethSamuel-MSFT commented on #2857
@jean-wujingyi Thanks for asking. I've dug into this a bit more and I need to clarify. As you noted, the MobileFormFactor has different requirements for image definitions. The examples we provide show your options when referencing a size that's the same as the resource image (e.g. size="32") and referencing a size that's different (e.g. size="25"). Given the mobile context, I should have said that

[2021-08-11 21:16] ElizabethSamuel-MSFT commented on #1511
+ @exextoc for any input here

[2021-08-11 21:44] exextoc commented on #1511
After the dialog opens, have you tried to redirect to the salesforce login page? There is info on redirecting and appdomains discussion here https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

[2021-08-12 16:50] mscharlock commented on #2391
@ElizabethSamuel-MSFT just a heads up, may need to reassign this issue?

[2021-08-12 16:57] mscharlock commented on #2842
@Rick-Kirkham I'm going to temporarily reassign to you, since we do not immediately know the fix.

[2021-08-12 17:11] mscharlock commented on #2721
Closing this issue as PR with tip adjustment is in. If you need anything else, please notify @AlexJerabek and he can reopen this issue for you. Thank you!

[2021-08-12 17:11] #2721 closed

[2021-08-12 17:15] mscharlock commented on #1802
@alison-mk I am going to transition this to you given it requires changes to the CF debugging. Thanks!

[2021-08-12 17:19] mscharlock commented on #2696
@Rick-Kirkham I am going to reassign to you, as you're collecting the info about debugging. Thanks!

[2021-08-12 19:00] #2858 closed

[2021-08-12 19:12] Rick-Kirkham commented on #2778
The Outlook engineering team has decided not to recommend any particular design framework. So, I will be removing it from the article and closing this issue.

[2021-08-12 21:35] #2778 closed

[2021-08-13 11:42] mohamadAtlassian opened #2876 "UI libraries are not supporting IE 11 anymore - Outlook Office Add-ins"
Hello there,

I am working on outlook office addin product. The product must be installed and supported on all Outlook Desktop version (2013 >). However, most of UI libraries won't support IE 11 anymore. What we should do in this case ? our product is not work on outlook desktop 2013, 2016 and 2019. Is there a way to open another WebView like webview2 instead of IE 11 ?

Specs :

- Windows 10
- Ou

[2021-08-13 22:00] #2806 closed

[2021-08-13 23:27] ElizabethSamuel-MSFT commented on #2657
PR adding links to JSON that may also be returned in the handler's `event` arg, if applicable: https://github.com/OfficeDev/office-js-docs-pr/pull/2879

[2021-08-14 09:48] sundariragavan opened #2880 "How to get the OnAppointmentAttendeesChanged LaunchEvent"
Hello,
  I want to get the Appointment Attendee change, Time change event.
 https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/outlook/autolaunch.md I have referred this document.
I'm able to get the OnNewMessageCompose, OnNewAppointmentOrganizer event. But unable to get the Preview events.

Is this possible to get the OnAppointmentAttendeesChanged, OnAppointmentTimeChanged event ?

[2021-08-14 13:10] sundariragavan commented on #2657
@barclayadam
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/outlook/autolaunch.md I have referred this document.
I'm able to get the **OnNewMessageCompose**, **OnNewAppointmentOrganizer** event. But unable to get the Preview events.
For example **OnAppointmentAttendeesChanged**, **OnAppointmentTimeChanged**
are you able to get the events.

[2021-08-17 05:15] jean-wujingyi opened #2881 "Question for mobile meeting add-in"
<img width="571" alt="Screen Shot 2021-08-17 at 1 22 41 PM" src="https://user-images.githubusercontent.com/66811843/129668125-49db64c6-7967-4195-9ede-af1ef1d00811.png">
<img width="563" alt="Screen Shot 2021-08-17 at 1 22 53 PM" src="https://user-images.githubusercontent.com/66811843/129668136-f73b62b3-86ac-4329-b380-3ef363ef4b77.png">

If I installed several custom add-in, just like the screensho

[2021-08-17 17:21] ElizabethSamuel-MSFT commented on #2657
Related issue: https://github.com/OfficeDev/office-js/issues/2049

[2021-08-17 19:49] Rick-Kirkham commented on #2881
@ElizabethSamuel-MSFT Can you take a look. Might not be a doc issue.

[2021-08-18 00:40] e7ChatsApp opened #2883 "OfficeDev"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1283b42-b8f1-9c79-f0f6-d06b65d399a0
* Version Independent ID: f2cfd523-78dc-6507-d8b7-017f9be15f6b
* Content: [Develop Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/develop-overview)
* Content Source: [d

[2021-08-18 01:00] #2539 closed

[2021-08-18 03:09] #2883 closed

[2021-08-18 08:12] Gielovic commented on #2861
Thanks for escalating! Really looking forward to having this clarified.

[2021-08-18 13:26] PlayPratz opened #2885 "EquivalentAddIns tag support for Outlook Web Add-ins"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/make-office-add-in-compatible-with-existing-com-add-in#specify-an-equivalent-com-add-in

## Issue

 The document mentions:

<img width="910" alt="image" src="https://user-images.githubusercontent.com/37703928/129904824-0570558b-4252-4ee0-8e49-ce99a8b18f55.png">

However, uploading a manifest with the <EquivalentAddins> tag

[2021-08-19 01:00] #2857 closed

[2021-08-19 17:45] timothyhoffmann opened #2888 "Need TypeScript examples"
Please consider adding TypeScript examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a714626a-058a-789e-6add-5e9dfb21fd1f
* Version Independent ID: 1b88a28c-fc36-4518-2808-7246f08d9753
* Content: [Use the Office dialog API in your Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-in

[2021-08-19 19:07] Rick-Kirkham commented on #2888
Thanks for the suggestion. We periodically review whether to use more TypeScript code snippets. In the past, the conclusion we've always reached is that we don't have sufficient staff to create both JavaScript and TypeScript versions of most snippets and, between the two, it is more important for our audience to provide JavaScript snippets. However, we will review this again soon and I will note y

[2021-08-19 19:07] #2888 closed

[2021-08-20 01:15] jean-wujingyi commented on #2881
any updates?

[2021-08-20 08:29] abhishek1234321 opened #2890 "Outlook add-ins for Gmail accounts"
This page says Outlook add-ins will be supported on Gmail soon, is there any update on this? I think this coming soon message has been there for years now :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 564bc140-d31e-f042-bd30-b8140b7db416
* Version Independent ID: 9953764b-39ca-d5c0-c1f8-5ca44ec2f472
* Content: [Out

[2021-08-20 09:09] jean-wujingyi opened #2891 "Exchange Server 2013 addin install error"
<img width="638" alt="Screen Shot 2021-08-20 at 5 04 19 PM" src="https://user-images.githubusercontent.com/66811843/130209300-5e438823-f535-4af1-92d0-2109ee8860ea.png">

<img width="1017" alt="Screen Shot 2021-08-20 at 5 05 13 PM" src="https://user-images.githubusercontent.com/66811843/130209426-bcda61eb-3c3d-4dd3-a299-676b5e2d59fe.png">
I'm try to install addins through Exchange Admin Center by f

[2021-08-20 20:41] ElizabethSamuel-MSFT commented on #2891
@jean-wujingyi Thanks for asking about this. Your manifest seems to include add-in commands and I believe that feature is not supported in Exchange Server 2013.

Adding feature crew to take a look. @exextoc, can you confirm/deny and provide any other input?

We can clarify in the docs if needed.

Thanks.

[2021-08-20 20:47] ElizabethSamuel-MSFT commented on #2890
@abhishek1234321 Thanks for asking. I believe Gmail accounts are still not supported.

@exextoc Can you confirm if Gmail is currently supported for mobile?

We can remove the "coming soon" text in that article and instead note whether or not Gmail is currently supported. If/When Gmail is supported in the future, we can update as appropriate.

Thanks.

[2021-08-20 20:57] ElizabethSamuel-MSFT commented on #2881
@jean-wujingyi Thanks for asking about this. At present, we don't have any Office.js API that allows you to set the default provider. As such, the behavior depends on Outlook itself. It's possible that Microsoft Graph has an option you can use but you'd need to check if that's the case.

Adding @exextoc in case they have any idea of Outlook behavior for this feature.

Thanks.

[2021-08-20 21:13] Rick-Kirkham commented on #2892
@thatusernamenotavailable Please specify which article needs the warning. Thanks.

[2021-08-20 21:50] exextoc commented on #2891
App Commands are indeed not supported on Exchange 2013. It should ignore the VersionOverrides section and load the older "gray bar" extension.

Do you have the latest Updates for Exchange 2013?

https://docs.microsoft.com/en-us/exchange/updates-for-exchange-2013-exchange-2013-help

[2021-08-23 01:26] jean-wujingyi commented on #2891
Thanks for tell about this.
You mean if I wans to make this Add-in worked, I need to make sure I has installed the latest Updates for Exchange 2013?

[2021-08-23 01:27] jean-wujingyi commented on #2881
Thank you~

[2021-08-23 02:05] #2881 closed

[2021-08-23 18:22] exextoc commented on #2891
The Giant Caveat here is that Exchange 2013 is lacking a lot of features that more recent versions of Exchange/Outlook support. It is possible, that if you connect the current version of Outlook Win32, to Exchange 2013 that your add-in may work, depending on the functions that your add-in calls. In your manifest you are supposed to define the Minimum API Set that your add-in needs. and Exchange wi

[2021-08-23 21:52] alison-mk commented on #2841
Moved to internally-tracked [work item](https://office.visualstudio.com/OC/_workitems/edit/5365817).

[2021-08-23 21:52] #2841 closed

[2021-08-24 23:45] rocketedaway opened #2897 "More specific information regarding internet header quotas in Outlook Add-ins"
We are currently have an Outlook Add-in in development and are looking to set headers on outgoing emails. We have scoured the internet and are not able to find out any more specific information about the Internet Header quotas outlined [here](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/internet-headers#recommended-practices).

If the documentation mentions that internet headers on

[2021-08-25 00:04] alison-mk commented on #2837
Some issues noted here are resolved by PR #2895. The remaining unresolved issues will be tracked in an [internal work item](https://office.visualstudio.com/OC/_workitems/edit/5368630).

[2021-08-25 00:04] #2837 closed

[2021-08-26 05:44] PlayPratz opened #2899 "<SupportsSharedFolders> tag is not honoured by Outlook on the Web"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/delegate-access

## Issue

The `<SupportsSharedFolders>` tag is not honoured when accessing an add-in in a Shared Mailbox environment on Outlook on the Web. An add-in deployed at tenant level is accessible in a Shared Mailbox irrespective of whether that add-in's manifest contains the <SupportsSharedFolders> tag or not.

#

[2021-08-27 08:26] pauljereb opened #2902 "XML Schema Validation Error - Outlook add-in"
When following the steps described for an Outlook add-in generated using `yo office` the manifest validation produces the following error:

Error # 1:
XML Schema Validation Error: Error found during XML Schema validation.
  - Details: The element 'Host' in namespace 'http://schemas.microsoft.com/office/mailappversionoverrides' has invalid child element 'Runtimes' in namespace 'http://schemas.micro

[2021-08-27 08:31] PrashanthReddy7 opened #2903 "Extend CustomTab in office add-ins with multiple add-ins"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/customtab

## Issue
I have created a custom tab called "MyAddIns" in outlook, this was created with first add-in called "A" and its working fine.
Now, I have another outlook add-in called "B", I wants to add "B" add-in to exist/already created custom tab "MyAddIns".
How can I do that? Do I needs to use Office Tab

[2021-08-27 14:38] gummybuns opened #2904 "How to open the Office on the web in Internet Explorer"
Opening outlook.com (or going through Office365 to get to the Outlook Web Application) immediately opens up an Edge browser instead and redirects IE11 to https://support.microsoft.com/en-us/topic/this-website-works-better-in-microsoft-edge-160fa918-d581-4932-9e4e-1075c4713595?ui=en-us&rs=en-us&ad=us

Is there a way to actually use the Outlook Web Application in an IE11 browser?

---
#### Document

[2021-08-27 20:22] #2838 closed, assigned to alison-mk

[2021-08-27 23:07] ElizabethSamuel-MSFT commented on #2902
@pauljereb Thanks for asking about this.

If you were attempting to configure the shared runtime with an Outlook add-in, I don't believe that option is supported in this way. At first glance through the manifest, it's missing Version Overrides 1.1 (usually nested under Version Overrides 1.0) that's needed to support newer features.

If you would like to try a feature in Outlook that uses the Runti

[2021-08-27 23:11] Rick-Kirkham commented on #2903
I'm sorry, but this cannot be done. There isn't any way for an add-in to add anything to a custom tab that was created with another add-in. Each add-in must have it's own custom tab.

[2021-08-27 23:11] #2903 closed

[2021-08-27 23:14] ElizabethSamuel-MSFT commented on #2904
@gummybuns Thanks for asking about this.

@Rick-Kirkham, @exextoc Any guidance here?

Thanks.

[2021-08-27 23:33] Rick-Kirkham commented on #2904
@exextoc I can reproduce. This is new behavior. Happens with WAC and OWA.
This appears to make it impossible to test add-ins in IE, but it also blocks end users from running Office on the web in IE. And thus there's no need to test the add-in with Office on the web in IE.

@exextoc If this seems right, let me know and I'll remove all references to this kind of testing from the docs.

[2021-08-28 01:00] #2892 closed

[2021-08-29 21:15] exextoc commented on #2891
Just to clarify further, Exchange 2013 has been out of Mainstream Support since April 10th, 2018.
Extended Support will end on April 11th, 2023.
Source : https://docs.microsoft.com/en-us/lifecycle/products/exchange-server-2013

So if you are on Mainstream Support, please upgrade to a newer version of Exchange.
If you are on Extended Support, everything we have mentioned already applies, so you wil

[2021-08-30 13:33] rstoye commented on #2897
My colleagues and I second this. We are currently in the same boat of developing an add-in with header functionality and this information is crucial for the scope of our project.

Furthermore we would be interested to know if the quota can be changed via exchange settings / rules.

Thanks in advance.

[2021-08-30 14:52] keyur32 opened #2909 "Automatically Open Taskpane with Document article needs new entry for Wopi catalog"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/automatically-open-a-task-pane-with-a-document

## Issue
Per the new wopi auto-install feature, we have the ability to install add-ins for approved third party wopi hosts, by setting the storeType="wopicatalog".  This is documented here: https://docs.microsoft.com/en-us/openspecs/office_standards/ms-owexml/d4081e0b-5711-45d

[2021-08-30 19:33] Sohaibx commented on #2297
Well................... I'll be damned. I solved this by setting Excel to be Run as Administrator, even when it is being opened by visual studio is debug mode and the error is gone.

[2021-08-31 00:28] alison-mk commented on #2840
Converted to [internal work item](https://office.visualstudio.com/OC/_workitems/edit/5383233).

[2021-08-31 00:28] #2840 closed

[2021-08-31 11:27] pauljereb commented on #2902
@ElizabethSamuel-MSFT thanks for your hints.

Adding the Version Overrides 1.1 + putting the `<Runtimes>` **within** the `<Host>` made the validation go through.
Maybe adding these two points to step four in "Configure the manifest" would make the description even clearer; could also just be the missing indention before `<Runtimes>` that confused us.

manifest.xml
[code]

[2021-08-31 13:41] gummybuns commented on #2904
While this is true, it is also possible for users to run Add-ins through the embedded browser of the Outlook Desktop client. Specifically, we have clients _still_ on Outlook 2013. In the past, the easiest way of quickly seeing any IE11 compatibility (css / es6) issues was to quickly try running our add-in from the IE11 browser and opening the debugging tools. This made it very convenient for debug

[2021-08-31 17:08] ferrykranenburgcw opened #2912 "Missing information about Windows Server 2012/2016/2019 environments"
We use this page all the time because we need all our clients te migrate to Office 365 and install the WebView2 plugin so our Outlook add-in will be loaded inside the new Edge browser. The add-in is not compatible with IE11.

There are some issues with the documentation.

- It is not clear what Windows OS our clients are running if they run on terminal/Citrix on Windows Server 2012R2/2016/2019.
-

[2021-08-31 18:05] alison-mk commented on #2839
Closing issue as it's partially resolved by #2911. Converted remaining concerns to [internal work item](https://office.visualstudio.com/OC/_workitems/edit/5383233).

[2021-08-31 18:05] #2839 closed

[2021-08-31 20:35] ElizabethSamuel-MSFT commented on #2912
@ferrykranenburgcw Thanks for asking about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2021-08-31 21:17] #2706 closed

[2021-08-31 21:29] ElizabethSamuel-MSFT commented on #2902
@pauljereb Thanks for the update and glad this helped unblock you. Just a small reminder that the instructions in the article you referenced ([Configure your Office Add-in to use a shared JavaScript runtime - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime#give-us-feedback)) do **not** apply to Outlook and so will not includ

[2021-08-31 21:38] ElizabethSamuel-MSFT commented on #2902
Actually, that indentation issue is addressed in PR https://github.com/OfficeDev/office-js-docs-pr/pull/2869. Those changes should be published later today so we'll go ahead and close this issue now.

If you have any further questions, let us know.

Thanks.

[2021-08-31 21:38] #2902 closed

[2021-08-31 21:43] exextoc commented on #2897
Could you describe your scenario in more detail? How many internet headers do you plan on adding to the item? Generally, it is good practice to try to re-use headers that change dynamically.

[2021-09-01 04:20] slabereemsft commented on #2912
Hi @ferrykranenburgcw,

Great questions!

We don't spend a lot of time with Citrix terminal configurations so apologies if I'm not understanding the terminology correctly.  Generally the factor that determines whether the latest browser control is available is if its running on a guest OS that supports it.

Windows Server 2012R2 is very similar to Windows 8.1 and so WebView2 is supported on this o

[2021-09-01 05:57] ferrykranenburgcw commented on #2912
Hi @slabereemsft ,

Thanks for clearing that up! Clients on Server OS 2012R2 and up are supported. Good to know.

We had one example of a client running on guest OS of Windows Server 2019, Office build 2102 (365 subscription) 32 bit. The Webview2 control add-in was installed seperately. No Edge browser inside Office. After removing the seperate WebView2 control, Office was not picking up the Webvi

[2021-09-01 08:54] ferrykranenburgcw commented on #584
We would like to test our add-in in Outlook web using Playwright. But it looks very hard to just activate an e-mail and then activate our add-in inside Outlook. We also tried another way to test our code in Javascript only (using the Jest test framework) but we are missing bits an pieces from the Office.js framework to make it all work.

Any documentation about unit testing and integration testing

[2021-09-01 09:21] rstoye commented on #2897
I'd rather you tell us more about these internet header limitations, so that we have some concrete information that we can leverage in our talks with the customer, but for the sake of argument I can go into a little more detail.

Our customer has a mail gateway that takes incoming mails, reads the required custom headers, validates these information and does some further voodoo we don't know anyth

[2021-09-01 17:44] AlexJerabek commented on #2391
@slabereemsft, can you please take a look?

[2021-09-01 19:28] slabereemsft commented on #2391
Hi Cyril,

Sorry for the delayed response. Is this still an issue for you?

Generally if you are using Server 2016 Microsoft 365 ver. >= 16.0.13530.204241 you will get the new Edge WebView2 runtime.  This was rolling out at the time this was logged so you might have had a different experience then.

[2021-09-01 23:45] AlexJerabek commented on #2909
Hi @keyur32,

Thanks for creating this issue. I'm assuming by "add a row", you're talking about that table for the Open XML values, right? If so, could you please provide the another values? I could only figure out the `storeType` value from the linked thread.

storeType value | id value | store value | version value
-- | -- | -- | --
OMEX (AppSource) | The AppSource asset ID of the add-in (see No

[2021-09-02 14:48] exextoc commented on #2881
Any add-ins which are installed by Admins as Online Meeting add-ins will be shown first to the user. However, once a user selects any other meeting provider, that meeting provider is selected by default for the user for that device.

[2021-09-02 17:15] timothyhoffmann opened #2916 "npm install -g yo generator-office - Deprecated and unsupported packages referenced"
[Enter feedback here]
Looks like the yo generator needs to be updated:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930ce4fc-c8b8-f756-f03f-a716f1ef7883
* Version Independent ID: 753a2e38-9430-25bb-5409-b7eed9c88e47
* Content: [Build your first Outlook add-in - Office Add-ins](https://docs.microsoft.com/en-us/

[2021-09-02 18:12] AlexJerabek commented on #2916
Thanks for reporting this @timothyhoffmann.

@millerds, could you please investigate this issue?

@davidchesnut, could you please transfer this issue to https://github.com/OfficeDev/generator-office?

[2021-09-03 00:28] rocketedaway commented on #2897
Well said @rstoye

[2021-09-03 07:03] jean-wujingyi commented on #2891
After updating latest version of exchange 2013, it is worked now.

[2021-09-03 07:03] #2891 closed

[2021-09-03 14:48] ferrykranenburgcw commented on #2912
What can we exactly check if we have a client that runs guest OS on Windows Server 2012R2 and running Office 365 build 2106?

![image](https://user-images.githubusercontent.com/83816575/132024676-972b0551-ae43-4d35-8a7f-6af9b18ed6bf.png)

![image](https://user-images.githubusercontent.com/83816575/132024709-b964a0e1-c78b-447b-b341-bb4dd8a50fdb.png)

According to the documentation the Edge Webview

[2021-09-03 20:56] #2297 closed

[2021-09-03 21:02] ElizabethSamuel-MSFT commented on #2861
@Gielovic We're actively investigating and hope to have a response for you soon. Thanks for your patience.

[2021-09-03 21:03] ElizabethSamuel-MSFT commented on #2890
@abhishek1234321 We're working on getting this clarified and hope to update the docs soon where appropriate. Thanks for your patience.

[2021-09-03 21:28] exextoc commented on #2897
internet headers are ultimately are mapped to Named Properties and as such there is a limit specified in Exchange as per [this documentation](https://docs.microsoft.com/en-us/previous-versions/office/exchange-server-2007/bb851492(v=exchg.80)#named-properties-limits).

[2021-09-03 21:36] AlexJerabek commented on #584
Hi everyone,

We appreciate all the discussion and feedback requesting testing solutions for Office Add-ins and Office JS. Unfortunately, there are no automated or unit testing solutions that we provide at this time. We're working on a solution, but have no concrete implementation or release details to share at this time. We realize this is an unsatisfying answer, but we feel it’s better to be cle

[2021-09-03 21:36] #584 closed

[2021-09-03 21:36] AlexJerabek commented on #1611
Hi everyone,

We appreciate all the discussion and feedback requesting testing solutions for Office Add-ins and Office JS. Unfortunately, there are no automated or unit testing solutions that we provide at this time. We're working on a solution, but have no concrete implementation or release details to share at this time. We realize this is an unsatisfying answer, but we feel it’s better to be cle

[2021-09-03 21:36] #1611 closed

[2021-09-04 01:00] #2899 closed

[2021-09-06 05:28] rstoye commented on #2897
Thank you for the information.

Is there a way to clear a mailbox of internet headers or named properties for that matter?

[2021-09-06 12:00] lafe commented on #584
@AlexJerabek I think, this is a very unsatisfying approach on how to deal with this issue. It has 42 comments and has been open for almost four years. By creating a new issue on a different platform, the complete history is gone (the new idea does not even reference this GitHub issue) and it appears as a new request. However, it is not a new customer request but an RFC from Microsoft to the commun

[2021-09-06 12:08] giulianozor commented on #584
@lafe I agree with you. IMHO the project is (almost) dead and I see very little chances of it being maintained unless some major security issue is found. Unfortunately there are no alternatives AFAIK

[2021-09-06 13:10] ferrykranenburgcw commented on #2912
The client had PowerBI software installed (64bit) next to a 32bit Office installation. The Webview2 plugin that came with PowerBI was 64bit and not compatible with the 32bit Office installation. This was the root cause of the issue. It is fixed now.

I'm closing this issue for now because it looks like the documentation is correct after all.

[2021-09-06 13:10] #2912 closed

[2021-09-07 14:00] slabereemsft commented on #2912
Hi @ferrykranenburgcw,
That's good news that you were able to determine the root cause. I was about to reply to this case to indicate that we're beyond the support lifecycle for Office Pro Plus on Windows Server 2021 R2 so it would have been difficult to investigate further.  I would advise you/your clients to upgrade to a supported operating system for the best support.

[2021-09-07 17:52] rocketedaway commented on #2897
Thanks @exextoc!

[2021-09-07 20:07] davidchesnut commented on #2535
Hi @lafe

Very sorry for the late reply as I missed this on my radar. Yes you can use localStorage and sessionStorage. Of course, just be aware of potential pitfalls (security, browser version support...) which would apply to any web project. Please let us know if you are running into any issues.

In the meantime I've added a task (internal: 5401728) to update the article and sample so that it is

[2021-09-07 20:33] davidchesnut commented on #2467
Hi @xstos

It looks like the article, [Use the Yeoman generator to create an Office Add-in that uses single sign-on](https://docs.microsoft.com/office/dev/add-ins/quickstarts/sso-quickstart), is up-to-date with what yo office generates.

Also looks like [OfficeDev/generator-office#599](https://github.com/OfficeDev/generator-office/issues/599) was resolved. So there shouldn't be any yo office sso e

[2021-09-07 20:33] #2467 closed

[2021-09-08 07:35] lafe commented on #2535
@davidchesnut Thank you for the response!

[2021-09-08 07:35] #2535 closed

[2021-09-08 14:48] exextoc commented on #2897
There currently isn't a straightforward or an easy way to do this and is something that's not recommended to go after. For an OnPrem server you'll need to move the mailbox to another database and use the DoNotPreserveMailboxSignature switch that'll reset the NamedProperties. If its Office365, you'll need to engage with support and they may be able to help.

[2021-09-08 16:57] ElizabethSamuel-MSFT commented on #2890
@abhishek1234321 We're updating the documentation to note that Gmail is not currently supported with mobile. If/When support is added, we'll update the documentation at that time to note support.

[2021-09-08 22:14] millerds commented on #2916
Hmm . . . I'm not getting these warnings, though I can seen in the package.json 2 of the 3 things mentioned here.

[2021-09-09 03:27] exextoc commented on #2904
"Unfortunately post 17th August 2021 ,support for M365 apps on IE11 is not available"  Please refer https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666 . So we do not have any way to test the add-ins in IE now.

[2021-09-09 05:32] rstoye commented on #2897
Ok thank you. I have no further questions.

[2021-09-09 12:51] timothyhoffmann commented on #2916
yo office
Choose a project type: Office Add-in Task Pane project using React framework
Choose a script type: TypeScript
What do you want to name your add-in? Test1
Which Office client application would you like to support? Outlook

I agree, I'm not getting those warnings today.

[2021-09-09 12:51] #2916 closed

[2021-09-09 16:57] #2890 closed

[2021-09-09 16:57] ElizabethSamuel-MSFT commented on #2890
@abhishek1234321 We've merged the PR and the update should be published soon.

Thanks.

[2021-09-09 18:33] #2897 closed

[2021-09-09 18:55] huynhminhphuc51600067 opened #2930 "How to create add-in for spelling vietnamese"
I'm trying to create a draft for vietnamese spell check. But still having some difficulty, if you can give me this source code, I'd really appreciate it.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4ffe5e1-23f2-c873-84e5-cb045d51f228
* Version Independent ID: b2ce3874-7be1-1007-3a41-6eb7dbeecc

[2021-09-09 20:00] AlexJerabek commented on #2930
Hi @huynhminhphuc51600067,

Thanks for reaching out. I don't believe there is a full sample that uses the code in the article. You'll have to add the code samples to the project created by the [Word quickstart](https://docs.microsoft.com/office/dev/add-ins/quickstarts/word-quickstart?tabs=yeomangenerator). If you have specific questions, we can help, as can the larger community [Stack Overflow](ht

[2021-09-10 22:12] ElizabethSamuel-MSFT commented on #2484
@itishnitsa We have since removed this Centralized Deployment article. From our [Deploy and publish](https://docs.microsoft.com/office/dev/add-ins/publish/publish) overview article, we have included links to the Integrated Apps and Centralized Deployment content for the admin center. If you're still facing deployment issues, let us know by creating an issue from the bottom of the relevant page.

I

[2021-09-10 22:12] #2484 closed

[2021-09-11 01:00] #2391 closed

[2021-09-12 11:39] m2mal opened #2936 "ContosoAddin.Url"
Can you please expleain, why you introduce the "ContosoAddin.Url" element?
Whats it means, what it for?

https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/tutorials/share-data-and-events-between-custom-functions-and-the-task-pane-tutorial.md

[2021-09-12 21:09] devhawk opened #2937 "Add in error attempting to follow this tutorial"
![image](https://user-images.githubusercontent.com/8965/133002884-e0f4a82c-1629-461a-b4cd-df61540794b8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Version Independent ID: d946ffe6-f29f-1563-b679-121090ba60a1
* Content: [Build your first Excel task pane add-in - Office Add-

[2021-09-12 21:19] devhawk commented on #2937
This appears to be the same issue as #1598. I tried deleting the folder `C:\Users\{username}\.office-addin-dev-certs` then running `npx office-addin-dev-certs install` but it did not solve the problem

[2021-09-13 16:41] AlexJerabek commented on #2937
Hi @devhawk,

Thanks for reporting this issue. Let's see if we can help unblock you. I have a couple of questions:

- What platform are you running on (Windows, Mac, Chrome, Edge, etc)?
- What version of yo office are you using (`yo office --version`)?
- When you first ran `npm start`, did a message pop-up asking you to install a certificate?
- Have you tried [clearing the Office cache](https://do

[2021-09-13 16:44] AlexJerabek commented on #2936
Thanks for raising this issue @m2mal.

@davidchesnut, could you please help provide some more clarity here?

[2021-09-13 18:55] devhawk commented on #2937
* Platform: Windows 10 version 20H2 (OS Build 19042.1165)
* yo office version: 4.3.0
* I didn't see a windows style popup, but I recall a certificate install both originally and when I deleted `.office-addin-dev-certs` folder and ran `npx office-addin-dev-certs install`
* I had not tried that, but I just did and it made no difference

[2021-09-13 20:04] AlexJerabek commented on #2937
Thanks @devhawk.

@millerds, could you please help investigate?

[2021-09-13 22:21] millerds commented on #2937
Can you run "npx office-addin-dev-certs uninstall" a few times to make sure old certificates are removed before running install.

[2021-09-14 20:25] devhawk commented on #2937
I ran `npx office-addin-dev-certs uninstall` several times. That command appears to have removed `~/.office-addin-dev-certs` directory the first time I ran it, but I ran it "a few times" as per instruction.

I then followed the [Excel Add-in Quickstart instructions](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator). I didn't get a cert in

[2021-09-14 21:58] #2909 closed

[2021-09-15 17:07] millerds commented on #2937
What version of Office are you running?

[2021-09-15 19:47] devhawk commented on #2937
Whatever is installed with Office 365. From the about box: Microsoft® Excel® for Microsoft 365 MSO (16.0.14326.20164) 64-bit

[2021-09-15 19:48] devhawk commented on #2937
Note, I'm having this issue w/ two separate machines.

[2021-09-16 04:55] devhawk commented on #2937
My second machine is running Microsoft® Excel® for Microsoft 365 MSO (16.0.14326.20324) 64-bit and is having the same issue. I followed the same process I [described above](https://github.com/OfficeDev/office-js-docs-pr/issues/2937#issuecomment-919487518) and got the same result

[2021-09-16 14:06] nrueckmann opened #2940 "GetStarted overrides default content"
It seems like <GetStarted> is only able to override the default content of the callout. I did not find any option to disable this callout completely. Maybe i missed something, but if not we should make it clear that omitting <GetStarted> will not result in the removal of the callout.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-09-16 16:10] AlexJerabek commented on #2940
Hi @nrueckmann,
Thanks for raising this issue. @davidchesnut, could you please investigate?

[2021-09-17 10:19] exextoc commented on #2904
Hope this helps. Kindly feel free to reopen the thread if you have any questions.

[2021-09-17 11:15] IAmTheNewGuy opened #2943 "How Can I Use & Share My Add-In?"
I have been building a taskpane add-in for Word using the Office Yeoman Generator. After following the directions found at <https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-add-in-vs-code>, I can't access my add-in anywhere other than on the device I have used to make it. I don't know what files need to be shared in order to run an add-in. I am making an add-in for a teacher (wh

[2021-09-17 17:28] ElizabethSamuel-MSFT commented on #2904
Reopening so @Rick-Kirkham can update the docs accordingly.

[2021-09-17 19:48] davidchesnut commented on #2940
Hi @nrueckmann, I just submitted PR #2944 to add a note about the behavior when omitting GetStarted. It will just use the description and displayname instead.

Thanks!
David

[2021-09-17 19:55] davidchesnut commented on #2936
Hi @m2mal, Thanks for noticing that, as I need to update it. The docs are more descriptive using **Taskpane.url** and describing how it just refers to your task pane HTML page. You can use any name you want as long as it references the task pane HTML page for your add-in. I'll submit a PR to fix this in the sample so it matches the docs. [Configure your Office Add-in to use a shared JavaScript run

[2021-09-17 19:59] AlexJerabek commented on #2943
Hi @IAmTheNewGuy,

I'm happy you're making an add-in to help an educator. The only file the teacher will need is the manifest. As long as the web service powering your add-in is running and the manifest points to that web service,  anyone with that manifest can run your add-in. In these one-off scenarios without SharePoint or a larger M365 license with admin controls, you can have the person sidel

[2021-09-17 20:46] davidchesnut commented on #2943
Hi @IAmTheNewGuy,

Real quick I want to point out that if you are doing something relatively simple, you may find [Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/) easier to work with. You can share them through OneDrive without the need to configure your own web server.

If you want to try GitHub hosting you can see one of our samples using it: [Excel keyboard shortcuts](http

[2021-09-17 20:53] davidchesnut commented on #2943
Hi @IAmTheNewGuy,

Also wanted to mention regarding the [Publish an add-in developed with Visual Studio Code](https://docs.microsoft.com/office/dev/add-ins/publish/publish-add-in-vs-code) article. I'd try opening the task pane HTML page directly in a browser. All of the files (HTML, JS, etc...) should be available through a browser by using a URL to access them. If this works on one computer, but

[2021-09-17 20:57] #2940 closed

[2021-09-18 03:27] IAmTheNewGuy commented on #2943
Hey, thank you guys so much! I found out how to use network share to get the add-in to work on another device. I also realized that when I read "change any reference to your localhost URL (such as https://localhost:3000) to the URL you've copied," on <https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-add-in-vs-code>, I ended up replacing the app-domain, thinking it also needed to

[2021-09-18 03:27] #2943 closed

[2021-09-20 22:09] millerds commented on #2937
It appears that the cert that is being found is an invalid one and so a new one is being installed, but that doesn't seem to help.  I'm trying to determine where a rogue bad cert might be coming from.  Can you double check that the certs that get added to .office-addin-dev-certs have valid date they can be used from?

[2021-09-21 00:05] AlexJerabek commented on #2645
@NadinMerali, any updates?

[2021-09-21 03:38] gitcnd opened #2947 "No way to sideload/test iPad Outlook add-ins, and sideload instructions missing Outlook information"
The doc ( https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac#see-also ) does not include any instructions for testing Outlook add-ins; only for Excel/Word (iOS) and Macbook (missing iOS).

I can see many add-in's available on my iPad (e.g. Evernote), but there is no "Developer" or other "UI" element like the Excel/Word instructions suggest should

[2021-09-21 17:54] millerds commented on #2937
It is expected that they can't be verified because we are generating and using them locally.  You should only allow certs like this if you trust the person giving them to you (thanks for your trust by the way :-) ).

Next I'd like to have you run some powershell script to see if there is an error happening under the covers of our tool.  Open a powershell prompt and run 'Get-Command -name Import-Ce

[2021-09-21 18:31] ElizabethSamuel-MSFT commented on #2947
@gitcnd We'll work on clarifying the documentation. In the meantime, the way to test your Outlook add-in on mobile should be something like the following.

1. [Sideload on the web, Windows, or Mac](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing). The add-in should then show up in all endpoints declared in the manifest. Right now, I believe we don't

[2021-09-23 11:42] gitcnd commented on #2947
@ ElizabethSamuel-MSFT - thanks for the hint, however, it does not work for iOS.

I did as you suggested, and my add-in shows up and works fine in the Android app, but it does not show up at all on my iPhone.

Other store apps I added do show up and work on both the iPhone and Android (e.g. MojoLaLa), but my side-loaded one does not show at all on my iPhone.

Note also: I am unable to test on iPad

[2021-09-23 16:17] devhawk commented on #2937
running `Import-Certificate` appears to have solved the issue. I get the black circle with "Logo" in it on the task pane and more importantly the task pane opens without error!

[2021-09-23 18:01] ElizabethSamuel-MSFT commented on #2947
@gitcnd Sorry to hear that and thanks for creating the issue in office-js for further investigation. We'll make any further documentation updates if needed.

Thanks.

[2021-09-23 20:22] millerds commented on #2937
Hmm . . . that is what the office-addin-dev-certs command is supposed to be doing.  You didn't encounter any problematic messages when running the powershell?

[2021-09-24 00:21] devhawk commented on #2937
Not that I recall. I was having this issue on two separate machines but I only ran `Import-Certificate` on one of them. I will try on my other machine tomorrow

[2021-09-24 17:44] devhawk commented on #2937
On my second machine, I ran `npx office-addin-dev-certs uninstall`, then regenerated the add in via the instructions at https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator and finally invoked `npm start` from the `My Office Add-in` folder.

Main terminal window output:
[code]

Launched terminal window output:
[code]

On this machine (where I

[2021-09-24 19:16] #2904 closed

[2021-09-24 20:28] Rick-Kirkham commented on #2904
Docs are fixed.

[2021-09-26 03:30] vault79 opened #2955 "Cross platform sample code"
[Enter feedback here]
The document is very clear and provide actionable idea. Thank you very much. If I can add comment, I want to suggest that you can consider to provide cross-platform sample code.

The document guide me [this sample code in GitHub](https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Outlook-Add-in-SSO). It requires Windows and Visual Studio because it utilizes

[2021-09-27 00:23] MitchHamill opened #2956 "Publishing custom functions to azure not working"
[Enter feedback here]
I followed the steps of this page to deploy my `dist` folder for an excel functions add in I built with the `yo-office-generator` tool, I was able to successfully deploy the directory to a static site, but when I try and run the manifest on an excel instance (after changing the urls from `localhost:3000` to the path to my static site, I've confirmed all the paths have matchin

[2021-09-27 16:53] AlexJerabek commented on #2956
Thanks for reporting this issue, @MitchHamill.

@davidchesnut, could you please take a look?

[2021-09-27 16:55] AlexJerabek commented on #2955
Thank you for the suggestion @vault79.

@davidchesnut, could you please capture this request and decide the best course of action for enhancing our sample coverage?

[2021-09-27 18:31] millerds commented on #2937
This looks like correct output, but clearly the cert installing script is silently failing an reporting a success.  Given that you can run it manually via PS it looks like it should work, but something about running the PS via the child_process package using a 'powershell -ExecutionPolicy Bypass -File "${script"}' command (where '${script}' the the path to a .ps1 file) isn't reporting an error.

S

[2021-09-27 23:48] devhawk commented on #2937
Yup, I have a workaround

[2021-09-28 00:07] MitchHamill commented on #2956
Appreciate the help
If it helps, here are the steps to reproduce:

1. Set up the project with `yo office --projectType excel-functions --name custom-fns-test --host excel --ts true`
2. Create a static site with azure storage using the steps in the above document
3. Update the `urlProd` variable in `webpack.config.js` to the url of the deployed static site, run `npm run build`
4. Deploy the `dist`

[2021-09-28 05:06] gksk opened #2957 "Poor Example"
[Enter feedback here]
What is this .For a beginner you have given an Example that runs 10 pages. Its strange that guys like you from a Top firm, doenst provide simple examples to get started. Poor Sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59958d2-f428-9ca2-3440-a5af662386c0
* Version Independent ID: dcaf0b5

[2021-09-28 12:59] sirfragalot opened #2958 "Using Azure to deploy add-in to other users"
So, following this page, I have now deployed my add-in to my university's Azure account. According to the documentation, I can use this to share my add-in with other users (strangely, there is no mention of Azure here: https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish).

However, the documentation stops at deploying the add-in to Azure and does not go onto to then explain how to

[2021-09-28 13:17] juangburgos commented on #2361
Not working

https://user-images.githubusercontent.com/4707341/135094404-7b199e64-abfa-410a-a384-3000e8f82386.mp4

[2021-09-28 16:21] ElizabethSamuel-MSFT commented on #2957
@gksk Thanks for your feedback. We have a quick start that should meet your need.

[Build your first Outlook add-in](https://docs.microsoft.com/office/dev/add-ins/quickstarts/outlook-quickstart)

Can you give this a try?

Thanks.

[2021-09-28 16:49] #2947 closed

[2021-09-29 06:30] mayanagi opened #2962 "When you"
When you create a message by clicking an email address in the profile card like the picture below, add-ins cannot get recipient's DisplayName.

![image](https://user-images.githubusercontent.com/60973869/135213664-82385bc0-2940-4c81-85ec-c65a41a20fa1.png)

I assume that this behavior is by design.
That's because I understand add-in can get recipient's DisplayName from the name-resolved value in a

[2021-09-30 10:16] GeorgHue opened #2966 "Word addin proactively rejects IE 11"
Hi there,

I am running addin tests using Windows 10 21H1 and Microsoft Word 2016 (16.0.5188.1000) MSO (16.0.5215.1000) 32-Bit volume license edition.

The addin cannot be loaded: "ADD-IN ERROR Sorry, we couldn't load the add-in because your browser version is not supported. Click here for a list of supported browser versions".

Does that mean that every office version using IE 11 for addins is no

[2021-10-05 17:46] davidchesnut commented on #2958
Hi @sirfragalot,

Once you deploy to Azure, the next step would be to determine how your users load the add-in into their version of Office. Basically they need to get the manifest file somehow. You can do this by sideloading, which is manual steps for the user (more for dev and testing scenarios). Or you can put the manifest on a network share and the user can configure Office to see the network

[2021-10-05 19:00] #2957 closed

[2021-10-05 19:01] AlexJerabek commented on #2937
Hi @devhawk,
Since you have a workaround for this machine and a fix for the other, can we close this issue?

[2021-10-06 09:14] sirfragalot commented on #2958
Thanks for the response David,

On this page:
https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-add-in-vs-code#publishing-an-add-in-for-other-users-to-access

there are statements such as:
"When you're ready to publish it for other users to access, you'll need to deploy the web application and update the manifest to specify the URL of the deployed application."
"When your add-in

[2021-10-06 17:38] nancy-wang commented on #2955
@davidchesnut - wanted to make sure you were aware of this request. thank you!

[2021-10-06 17:43] nancy-wang commented on #2645
@NadinMerali following up on this - thanks!

[2021-10-07 21:56] tanjoht opened #2978 "Multiple Action Elements within a Control Element"
Within a control element block in an office plugin, trying to associate 2 action elements associated with it results in a schema error.

Code:

`<Control xsi:type="Button" id="msgReadOpenPaneButton">
  <Label resid="TaskpaneButton.Label"/>
  <Supertip>
    <Title resid="TaskpaneButton.Label"/>
    <Description resid="TaskpaneButton.Tooltip"/>
  </Supertip>
  <Icon>
    <bt:Image size="16" resid="I

[2021-10-07 22:23] #2978 closed, assigned to Rick-Kirkham

[2021-10-07 22:33] Rick-Kirkham commented on #2978
That documentation is misleading. Each of those Action elements must be in different Control parents (or different menu Item parents). You can't have 2 different actions in the same button or menu item.

[2021-10-07 23:41] #2936 closed

[2021-10-08 03:15] sarahjmartin27 opened #2980 "Typo?"
In the Microsoft documentation on the following page:

https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows#:~:text=Excel%20on%20Windows%20(version%201904%20or%20later%2C%20connected%20to%20a%20Microsoft%20365%20subscription)%20or%20Excel%20on%20the%20web

"Excel on Windows (version **1904** or later, connected to a Microsoft 365 s

[2021-10-08 03:59] MitchHamill commented on #2956
Thanks a bunch @davidchesnut!!
I figured there'd be some simple step I was missing 😃

[2021-10-08 13:35] jfoclpf opened #2981 "F12 is not showing Add-in to debug"
I sideload the MS Word Addin I am developing and then open F12 to debug this Add-in. According to MS doc. the Add-in should be available for inspection and debug with F12, but it is not. I open the `about:blank` but nothing is there.

![image](https://user-images.githubusercontent.com/3984909/136566494-555c6ec1-35a0-40a3-b8de-89871f1cb86c.png)

---
#### Document Details

⚠ *Do not edit this sectio

[2021-10-08 16:51] #2980 closed

[2021-10-11 16:20] EricForgy opened #2987 "Custom functions require npm 6"
I'm trying to create a custom function following the instructions here:

https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows

My first issue was with `agentkeepalive`. I don't know what that is, but I could not get `yo` to work without it, so I had to

[code]

If this step is really necessary, it should be documented. I think there i

[2021-10-11 16:50] millerds commented on #2987
As far as the npm version requirement . . . it's there because there were changes to npm in v7 (didn't even know that v8 was out) that broke the templates we generated.  We have fixed some of those, but we don't have it working just yet and so the requirement remains at v6 (which is what is installed with the LTS version of node last I knew).

You can remove the requirement by deleting that part o

[2021-10-14 17:33] Rick-Kirkham commented on #2981
See my answer to your Stack Overflow question.

[2021-10-15 09:27] jfoclpf commented on #2981
@Rick-Kirkham just to tell you that that solution of reg key does indeed work :)

[2021-10-15 09:27] #2981 closed

[2021-10-18 08:12] DanilKorotenko opened #2999 "Automatic sideload fo Mac"
Is automatic sideload outlook add-ins for mac supported?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f364ae0-b7dd-edb3-b51b-8f6d0d99afbe
* Version Independent ID: 7dd1ce8f-16e7-88f8-f291-4afbe76baba7
* Content: [Sideload Outlook add-ins for testing - Office Add-ins](https://docs.microsoft.com

[2021-10-19 18:01] elegault opened #3002 "Broken links"
The following links generate 404's:

- [Office Add-ins community call – February 10, 2021](https://developer.microsoft.com/office/blogs/office-add-ins-community-call-february-10-2021/)
- [Office Add-ins community call – January 13, 2021](https://developer.microsoft.com/office/blogs/office-add-ins-community-call-january-13-2021%e2%80%af/)
- [Office Add-ins community call – December 9, 2020](https:/

[2021-10-19 18:06] AlexJerabek commented on #3002
Hi @elegault,

I believe this will be fixed by @davidchesnut's #3001 PR. I'll assign this to him to close when that PR is checked in.

[2021-10-19 18:19] AlexJerabek commented on #2999
Hi @DanilKorotenko,

Thanks for reporting this documentation gap. @ElizabethSamuel-MSFT, can you please investigate?

[2021-10-20 16:47] #3002 closed, assigned to davidchesnut

[2021-10-21 01:32] huynhminhphuc51600067 opened #3004 "I want the source code"
After asking for the source code last time and getting your feedback. I have reviewed the documentation and tried continuously for the past 1 month or so. But I still can't really create the spell checker add-in I want. And I hope to receive the full source code from you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-10-22 19:09] wayneelaf opened #3008 "HTMLInputElement is error."
[I am new to Javascript trying to figure out if I am missing a reference that would recognize HTMLInputElement. The message in Visual Studio shows TS8016 (JS) Type assurtion expressions can only be used in TypeScript file.  Any help would be appreciated. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e04a44-5920-3b

[2021-10-26 02:57] markdon opened #3017 "Missing information about Icon scale attribute"
In [Additional requirements for mobile form factors](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/icon#additional-requirements-for-mobile-form-factors) regarding the Image element:

The example references a different resource for each scale.

Could this document please either link to or explain what the scale attribute means and the differences between the image supplied

[2021-10-26 04:27] markdon opened #3018 "Incorrect meeting provider icon color requirement"
Under the [Restrictions](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting#restrictions) section:

\#919191 does not match the color of the teams logo or the other icons used in the iOS app. They look like they're \#6E6E6E.
Is this doc still accurate?

<img src="https://user-images.githubusercontent.com/9063681/138809309-6a02df57-7c61-48dc-85a2-e8056c6c88ba.png" width="500

[2021-10-27 15:43] jordandev opened #3022 "cannot use these steps if using SharedRuntime?"
[Enter feedback here]
These steps do not work to test our add-in on old versions of Office for IE 11 / Legacy Edge support as our add-in uses SharedRuntime and these versions of Office do not support it. So we cannot install our add-in on these old versions.

Is there any other set of steps to make this easier to test? Otherwise it seems we need to have a perpetual use version of Office 2019 that

[2021-10-27 19:37] LouMM opened #3023 "Topic: Debug add-ins using developer tools in Internet Explorer - Missing office-addin-dev-settings webview switch options"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-tools-ie

## Issue
The section that relates to IE, it talks about installing a version of Office that will work with only IE Trident. However, there is a  feature in latest versions of Office that allow for a debug flag to be provided for Sideloaded Addin's only.
office-addin-dev-settings script has

[2021-10-27 19:42] LouMM opened #3024 "Topic: Debug add-ins using developer tools in Microsoft Edge Legacy - Missing VsCode Debugger Option"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-devtools-edge-legacy

## Issue
The article mentions the Edge dev tools, which require a separation of code from the debugger.
To assist developers in a tighter developer inner loop, we developed a VSCode extension that utilizes the PDM protocol in order to attach the Edge (Spartan) webview that is in deb

[2021-10-27 21:54] #3008 closed, assigned to Rick-Kirkham

[2021-10-28 12:18] lehnerpat opened #3025 "The "--ignore-existing" option for npx has been removed"
As described in the docs [here](https://docs.npmjs.com/cli/v7/commands/npx), the option `--ignore-existing` mentioned on [this page](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest) has been removed, and npx refuses to run the command as stated.

Probably just leaving out the option should fix the issue.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-10-28 21:09] #2987 closed, assigned to alison-mk, millerds

[2021-10-29 19:43] Rick-Kirkham commented on #3017
The scale attribute specifies the UIScreen.scale property for iOS devices. For more information, see [scale](https://developer.apple.com/documentation/uikit/uiscreen/1617836-scale).

I will update the documentation with this information.

[2021-10-29 20:06] Rick-Kirkham commented on #3022
The information I have gotten internally is that AppSource should not be testing your add-in on versions <16.0.11629. I see that you have created a ticket with them. So, I'll close this issue for now, but you can still add comments to it and, if needed, ask that it be reopened.

[2021-10-29 20:06] #3022 closed

[2021-10-29 20:16] #3024 closed

[2021-10-29 20:24] #3025 closed

[2021-10-29 20:55] Rick-Kirkham commented on #3023
@LouMM See the internal email thread "npx command to switch runtime broken" I just sent. I'll hold off on this documentation chagne until the issue is resolved.

[2021-10-29 22:33] #3017 closed

[2021-10-30 08:03] lehnerpat commented on #3025
Thanks @AlexJerabek @Rick-Kirkham 🙏

[2021-10-31 21:07] markdon commented on #3017
Thank you @Rick-Kirkham!

[2021-11-01 14:00] lehnerpat opened #3031 "Incorrect command line example in section "Install and use the debugger""
In the section ["Install and use the debugger"](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-desktop-using-edge-chromium#install-and-use-the-debugger), the "Tip" box suggests running the command `office-add-in-debugging start <your manifest path>`.

1. The command name contains a typo, it should be `office-addin-debugging` (no dash in the word "addin")
2. The command can only

[2021-11-01 20:25] AlexJerabek commented on #3031
Thanks for pointing this out @lehnerpat. I'll get a PR together to fix that.

[2021-11-01 20:43] #3031 closed

[2021-11-01 23:49] akrantz opened #3040 "You could also open the Edge dev tools from the webview2."
This article mentions using VS Code to debug, which is the most useful way for a developer to debug their add-in during development. But it could also mention that you could open the Edge dev tools and debug that way. This can be useful when it might be hard to use VS Code.

I think that Ctrl+Shift+I or F12 should open the dev tools. Also, right-click and choose Inspect should work if available.

[2021-11-02 06:57] gavinliuc opened #3043 "If Tag or CustomProperties are supported for production version"
Hello,

We are working on a web add-in for PowerPoint. We want to add some custom data to the presentation in slide level. But we cannot use custom properties like our VSTO plugin. The Tag is still the beta version. If you have plan to release Tag or support custom properties?

Or is there any workaround to meet this? Our back-end is handling the custom data with custom properties.

Thanks,
Gavin

[2021-11-02 15:16] ruslan-oncoshot opened #3044 "Group date by year and month in pivot table"
Using Excel JavaScript API I can add pivot table and can add columns for each date value

let dateHierarchy = pivotTable.addColumnHierarchy(pivotTable.getHierarchy("Date"));
but it shows as individual dates.

How can I group these dates by year, quarter and month?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf942d54

[2021-11-02 15:52] jeff1haupt opened #3045 "Issues using Azure Static Website with Outlook Add-in"
I was able to deploy my outlook add-in to Azure storage and then set it up as a static website, but outlook is not letting me load the manifest file from the url.  Any specifics on how best to do this would be helpful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b9105a4-a164-1e91-11ad-8ccb4f4d6b2d
* Version Indepen

[2021-11-02 16:14] g-martinse opened #3046 "Webview2 for "non-subscription Office 2013 to Office 2019""
Asking about "non-subscription Office 2013 to Office 2019" of office. When will "Microsoft Edge1 with WebView2 (Chromium-based)" be supported at least for Office 2019 clients?
Which version of these clients need to be installed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Versi

[2021-11-02 16:30] peronald commented on #3045
Hi @jeff1haupt - What is the error you are getting when trying to load the manifest file with the url?

[2021-11-02 17:15] peronald commented on #3044
Thank you for this question. To better assist you, we suggest you go to [Stack Overflow](https://stackoverflow.com/questions/tagged/excel-addins) and see if your question has already been asked or ask a new question. This will allow both the community to help, and allow us to ensure the community can see our answer. When added, please let us know and we will follow up there.  Thanks, Microsoft 365

[2021-11-02 17:21] jeff1haupt commented on #3045
Thanks for the quick response @peronald! Here's the screenshot of what I'm getting:

![image](https://user-images.githubusercontent.com/66330433/139914304-493c26b7-d67c-4b98-9e53-341c666430a6.png)

A lot of stackoverflow boards talk about this being a DNS issue, but since this is coming from my Azure storage account, I wasn't sure that would be an issue.

[2021-11-02 17:39] Rick-Kirkham commented on #3046
Microsoft Edge with WebView2 (Chromium-based) is supported on the non-subscription Office 2021. There are no plans to ever support it on earlier versions of non-subscription Office. Sorry, if this is bad news. I'll close this issue, but you can still make comments.

[2021-11-02 17:39] #3046 closed

[2021-11-02 18:20] #3023 closed

[2021-11-03 00:47] ruslan-oncoshot commented on #3044
I asked it on stack overflow first https://stackoverflow.com/questions/69809107/group-date-by-year-and-month-in-pivot-table

There's no tag for that and no community

Where can i seek help?

[2021-11-03 00:48] ruslan-oncoshot commented on #3044
@peronald please

[2021-11-03 01:00] #2955 closed

[2021-11-03 01:00] #3043 closed

[2021-11-03 01:52] gavinliuc commented on #3043
Thank you for your reply. I will post my question to the community.

[2021-11-03 12:15] DanilKorotenko opened #3051 "npx is not supported on MacOS"
I tried to run the command:
npx office-addin-dev-settings runtime-log --enable
In Terminal app,
But output was:
Error: Platform not supported: darwin.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8a067bb-7974-5742-776c-1d798d9821ad
* Version Independent ID: 9984c542-88a7-b425-0cbd-de8af676bcfd

[2021-11-03 17:04] AlexJerabek commented on #3044
Reopening.
@alison-mk, could we investigate if this functionality is in the Office JS API and, if so, add a sample?

[2021-11-04 01:56] alison-mk commented on #3044
Hi @ruslan-oncoshot,

The [DateFilterCondition](https://docs.microsoft.com/javascript/api/excel/excel.datefiltercondition?view=excel-js-preview) enum allows for filtering by month and quarter, and an `equals` field that could be used for year. The following code sample excerpt shows how to use the [PivotDateFilter](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-pivottables#pivot

[2021-11-04 07:17] moshikonachmias opened #3056 "Difference from ItemSend event type"
Hello,
I wanted to know:
1. Will you allow add-ins that use the OnMessageSend in AppSource?
2. How this is different from the ItemSend event type?
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08db1c81-31cc-68a0-3912-fb625814aa0

[2021-11-04 16:45] AlexJerabek commented on #3051
Hi @DanilKorotenko,

Thanks for reporting this. Just to confirm, are the instructions under [Runtime logging on Mac](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/runtime-logging?view=outlook-js-preview#runtime-logging-on-mac) working for you?

@millerds, is MacOS support expected here?

[2021-11-04 17:05] millerds commented on #3051
To clarify a little here . . . it not 'npx' (which is part of the npm which is installed with node) itself that isn't supported and returning the error.  It's the office-addin-dev-settings package that we provide that is reporting the error.

In looking at our code it appears that that command was only made to support Windows so for and the work still needs to be done to make it work on mac.

[2021-11-04 17:10] ElizabethSamuel-MSFT commented on #3056
@moshikonachmias Thanks for asking about this.

1. The event-based activation feature is currently allowed in AppSource but with some restrictions (for more details, see [AppSource listing options for your event-based Outlook add-in](https://docs.microsoft.com/office/dev/add-ins/outlook/autolaunch-store-options)). The OnMessageSend event is still in preview and not recommended for production add-i

[2021-11-04 17:29] Rick-Kirkham commented on #3051
I will clarify in the article, that Mac is not supported by the tool.

[2021-11-04 18:50] ElizabethSamuel-MSFT commented on #3056
@moshikonachmias We've added this to our backlog (internal item: 5550483), that we should clarify the difference. However, we'll likely work on that around the time the new events GA.

Thanks.

[2021-11-04 23:02] #3051 closed

[2021-11-05 02:05] ruslan-oncoshot commented on #3044
Hi @alison-mk thanks for suggestion.

What I mean is PivotTable Analyze -> Group Field option which is as I understand not available in Web version of Excel.
I was hoping I could use Excel Script to get grouping by years and months
![image](https://user-images.githubusercontent.com/84002608/140446127-0edfb43b-e8ea-494c-9e3f-2ee4a0fe3d64.png)

[2021-11-06 04:00] #2930 closed

[2021-11-08 11:42] Lakshman176 opened #3065 "Excel add-in page is constantly reloading"
####  **Excel Add-in page reloading continuously **

Hi Team,
I have developed **Angular with Excel add-in**.
[Excel add-in page is constantly reloading.zip](https://github.com/OfficeDev/office-js-docs-pr/files/7496609/Excel.add-in.page.is.constantly.reloading.zip)

I always have a problem with the reload issue.

### Reproduce steps:
- Manifest file created.
- Created 3 groups as a custom tab
- Cr

[2021-11-08 13:08] alexuaua opened #3066 "On articles about persisting add-in state and settings"
The article https://docs.microsoft.com/en-us/office/dev/add-ins/develop/persisting-add-in-state-and-settings seems to be updated recently (09/10/2021) but offers either to save settings within a document (Settings, CustomParts) or to _use techniques provided by browser (localStorage)_.

The issue with localStorage, is that with many modern browsers (namely, Safari and latest Edge builds) even if w

[2021-11-08 17:46] AlexJerabek commented on #3066
Hi @alexuaua,
Thank you for reporting this. @davidchesnut, could you please take a look and help clarify the data persistence story?

[2021-11-08 18:06] alexuaua commented on #3066
I've read all latest Storage API specifications and played with Storage API, and found that I got confused by localStorage mention in the article about ITP, while the main phrase points only about cookies:

`requestStorageAccess` grants access to cookies in Safari, but local storage is *ephemeral* (cleaned when browser is closed) - this may be worth to mention, if one needs a local storage or inde

[2021-11-08 20:36] moshikonachmias commented on #3056
Thank you for the information.

[2021-11-09 16:47] ElizabethSamuel-MSFT commented on #3018
@exextoc Can engineers working on mobile confirm this?

Thanks.

[2021-11-09 21:14] #3040 closed

[2021-11-10 11:04] wh1t3cAt1k opened #3072 "Remove the IE11 support requirement"
Please raise this with the leadership team.

I think since Internet Explorer is officially sunset, by this point of time the requirement to support of IE11 in "Predictable behaviour" should be opt-out-able.

I propose to be able to opt out of IE11 support on the product listing page.

IMO the necessity to polyfill like it's 1999 and to downcompile to ES5 is too strict in 2021.

---
#### Document D

[2021-11-10 15:58] AlexJerabek commented on #3072
Hi @wh1t3cAt1k,

Thanks for flagging this as a development concern, We'll pass this along to the appropriate teams.

In the meantime, could you please create an idea asking to remove IE11 support requirements for Office Add-ins over in [Microsoft Tech Community](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform)? We use Tech Community to he

[2021-11-10 15:58] #3072 closed

[2021-11-10 22:41] Rick-Kirkham commented on #3072
@wh1t3cAt1k The requirement that add-ins still support IE can be misleading. It is acceptable for the add-in to gracefully fail when the user agent is IE. See this article: [Support Internet Explorer](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/support-ie-11), especially the section **Determine at runtime if the add-in is running in Internet Explorer**.

[2021-11-11 16:15] derdos-lmi opened #3073 "Discrepancy between documentation and our experience with Exchange server"
Dear Microsoft, Office Developer team,

we're trying to validate how our Outlook integration would work with an Exchange server

In this documentation: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#requirement-sets-supported-by-exchange-servers-and-outlook-clients
in the Important box, you wrote that "If your target Exchange server and

[2021-11-11 18:10] DanilKorotenko opened #3075 "Broken link"
[Create add-in commands in your manifest][create-addin-commands.md]

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06f7f7e8-5b8a-e257-74be-77b47f048503
* Version Independent ID: a2851e98-268b-e65e-05eb-7ac3e21fe1ca
* Content: [Office Add-ins XML manifest - Office Add-ins](https://docs.microsoft.c

[2021-11-11 18:47] AlexJerabek commented on #3075
Thanks for reporting this @DanilKorotenko. I'll get that fixed.

[2021-11-11 18:51] #3075 closed

[2021-11-11 18:57] AlexJerabek commented on #3073
Thanks for reporting this @derdos-lmi.

@exextoc, could you please help provide some clarity here?

[2021-11-12 10:21] Hamish-Atkins-SB opened #3078 "On-send event withdrawn on browser window resize Outlook on the Web"
As far as I can tell, my code is fine and it is something in the backend of Outlook on the web that is causing the problem so I am submitting this issue.

The problem is for Outlook on the web in all browsers I have tested (Chrome, Firefox and Edge).  The on-send feature is used for an Outlook add-in that displays a dialog box when the send button is pressed. The problem is that when it runs onlin

[2021-11-12 23:15] exextoc commented on #3073
Thanks for reporting this issue, we now have a task tracking this for an update. To clear up the confusion, Office.context.requirements.isSetSupported() will only check for the client side for the requirement set supported so returning true is correct here. As for why the APIs you are using actually work, the APIs probably do not require anything recent from the server.
Internal Tracking ID: 55776

[2021-11-15 19:48] sureshjoshi opened #3082 "Explanation of why SSO should not be the only auth mechanism"
I've read through the docs and associated sample code, and I've seen it mentioned and shown (in code), that there should always be a fallback to another auth mechanism (e.g. msal.js).

However, what I don't have a clear idea about is WHY is this necessary? Is the purpose to handle one-off or transient errors (network connectivity?) or is it more focused on permanent problems (ie. this version of W

[2021-11-15 21:44] AlexJerabek commented on #3082
Thanks for flagging this documentation gap @sureshjoshi.

@davidchesnut, could you please investigate?

[2021-11-16 12:27] derdos-lmi commented on #3073
Hi,

thank you!
Just to be sure... We should determine if our integration will function with exchange server 2016. We tested it, and it seemed to work, but there are two features that are require higher versioning then it is supported with 2016:

- The regexp for highlighting and interacting with phone numbers in an email feature (but this might be a client side feature)
- The Office.Recurrence in

[2021-11-16 18:27] Rinzwind opened #3085 "Office on Mac ‘one-time purchase’ versions missing from Office applications table in article on ‘Dialog API requirement sets’"
## Article URL
- Website: https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/dialog-api-requirement-sets
- Source: https://github.com/OfficeDev/office-js-docs-pr/blob/aacbe26fb231c18a38d758382259d794da1dc165/docs/reference/requirement-sets/dialog-api-requirement-sets.md#dialog-api-requirement-sets

## Issue
The table at the top of the article “lists the Dialog API requi

[2021-11-16 18:33] atsopuronen opened #3086 "Instructions for clearing cache in Office for Mac are not accurate"
I have a centrally deployed Outlook add-in, and would need to clear its local cache from New Outlook for Mac. I have updated the add-in's graphic/logo over a year ago, but I'm still seeing the old logo in New Outlook for Mac. Add-in's logo has updated successfully in Outlook for Web, so the issue is related to Outlook for Mac's cache.

However, I have hard time finding successful instructions on c

[2021-11-16 18:37] AlexJerabek commented on #3086
Thanks for reporting this @atsopuronen.

@ElizabethSamuel-MSFT, can you please investigate?

[2021-11-16 18:39] AlexJerabek commented on #3085
Thanks for reporting this @Rinzwind.

@Rick-Kirkham, can you please investigate and add the requirement set information as needed?

[2021-11-16 20:07] Rick-Kirkham commented on #3085
@Rinzwind I found the info for one-time purchase Office on Mac on this page: [Office client application and platform availability for Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability). It appears that DialogApi 1.**2** is _not_ supported in Office 2021 on Mac (one-time purchase), only 1.**1**.

I'm investigating internally why none of our requ

[2021-11-16 21:46] Rinzwind commented on #3085
@Rick-Kirkham note that that page also only lists ‘DialogApi 1.1’ for ‘Office 2021 on Windows (one-time purchase)’ as well ([markdown source link](https://github.com/OfficeDev/office-js-docs-pr/blob/aacbe26fb231c18a38d758382259d794da1dc165/docs/overview/office-add-in-availability.md?plain=1#L24)), while the one on ‘Dialog API requirement sets’ says ‘DialogApi 1.2’ is supported in ‘Office 2021 or l

[2021-11-16 22:19] Rick-Kirkham commented on #3085
Hmmm. It looks like the page that I linked to is not being updated in some cases. I'll research that too.

[2021-11-17 16:35] ElizabethSamuel-MSFT commented on #3086
@macOutlookExtensibility Can you look into this?

Thanks.

[2021-11-17 18:08] Rick-Kirkham commented on #3085
@Rinzwind The experts tell me that, for Mac, the subscription and one-time purchase support for requirement sets and version numbers are always the same. So, you can use the "Office on Mac (subscription)" column for single-purchase too. I will get these column headings corrected and update the out-of-date article too.

[2021-11-18 00:45] davidchesnut commented on #3082
Hi @sureshjoshi, This is timely as I'm working on a refresh to the auth documentation! One example would be if your add-in got loaded on an older version of Office that didn't support SSO. But I'll add some additional details there. Thanks!

[2021-11-18 00:59] davidchesnut commented on #3066
Hi @alexuaua,

To be clear are you asking how to persist data that is associated with the user (not the document or session?) Yes, that's correct that you can save data at the browser level, but it is not really persistent as the user can delete it. You can also use the  Settings data, but that is document specific.

To store data per user you would need to sign in the user and then store their in

[2021-11-18 01:10] sureshjoshi commented on #3082
Thanks @davidchesnut - that was the use case I had imagined, but I didn't know if there were others. I thought maybe if you were at a certain requirement set for the add-in, you could prevent it and use SSO-only or something (which, for my add-in, would be pretty nice).

[2021-11-18 02:34] alexuaua commented on #3066
Hi @davidchesnut,

My only point here (in office-js-docs) was that it's probably worth to mention that the storage techniques mentioned in the [article](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/persisting-add-in-state-and-settings) are not available on Mac (with default browser, Safari), and [another article](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/itp-and-th

[2021-11-18 08:10] TriciaYan opened #3091 "Code in Fluent UI React in Office Add-ins does not work"
[Enter feedback here]

Hello, I found that code in this page does not work. It will prompt below message. Could you please help?

Cannot find module 'office-ui-fabric-react/lib/Button' or its corresponding type declarations.
Cannot find module 'office-ui-fabric-react/lib/Label' or its corresponding type declarations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-11-18 08:10] TriciaYan opened #3097 "Code in Fluent UI React in Office Add-ins does not work"
[Enter feedback here]

Hello, I found that code in this page does not work. It will prompt below message. Could you please help?

Cannot find module 'office-ui-fabric-react/lib/Button' or its corresponding type declarations.
Cannot find module 'office-ui-fabric-react/lib/Label' or its corresponding type declarations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-11-18 08:46] Rinzwind commented on #3085
Ok, thanks for the info!

So, just to make sure I understood correctly: ‘DialogApi 1.2’ *is* supported by the latest build of ‘Office 2021 on Mac (one-time purchase)’?

I assume the requirement set support being the same as for ‘Office on Mac (subscription)’ only applies to the most recent ‘one-time purchase’ release, so Office 2021, but not Office 2019 and earlier? Presumably, ‘DialogApi 1.2’ is

[2021-11-18 16:10] Rick-Kirkham commented on #3085
Yes. I think you've summarized it accurately.

[2021-11-18 16:36] alexuaua commented on #3066
@davidchesnut as I understand you are the main contributor to the [Node.js add-in with SSO example](https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/auth/Office-Add-in-NodeJS-SSO), so here looks like a good place to ask you.
_Every time_ I click the "Get OneDrive Files List" button, I see a "Office Add-in NodeJS SSO wants to display a new window" confirmation dialog inside the taskp

[2021-11-18 17:47] AlexJerabek commented on #3091
Thanks for reporting this @TriciaYan. I'm also seeing the same behavior.

@Rick-Kirkham, could you please investigate?

[2021-11-18 21:07] Rick-Kirkham commented on #3091
@TriciaYan What is the last step you take that results in the error? Where do you see the error? In the console or somewhere else?

[2021-11-19 05:50] TriciaYan commented on #3091
After submitting npm start in cmd window and clicking on Run button in word, the error will occur.
![image](https://user-images.githubusercontent.com/15853797/142572101-df0861b3-63d8-41d9-b699-e5abdd32cc87.png)

[2021-11-19 13:05] derdos-lmi commented on #3073
Dear Microsoft, Office development team,

Could you please give us an ETA when you could answer our latest questions? Some of our development and integration roll-out are blocked by it, so a validation if those APIs are usable with Exchange server 2016 would help us tremendously.

Thank you!

Best Regards,
Daniel

[2021-11-19 19:03] Rick-Kirkham commented on #3091
I can reproduce this. I think that the Yo Office tool is no longer installing the office-ui-fabric-react library.
I'm going to try to transfer this issue to the repo for the Office project generator.

[2021-11-19 19:10] exextoc commented on #3073
These two features are client side only and should work.

[2021-11-19 20:25] Rick-Kirkham commented on #584
@lafe @giulianozor We now have documentation of unit testing and mocking the Office.js.

[Unit testing in Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/unit-testing)

[2021-11-19 20:26] Rick-Kirkham commented on #1611
We now have documentation for unit testing and mocking in Office.js.

[Unit testing in Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/unit-testing)

[2021-11-19 22:33] Rick-Kirkham commented on #3097
@TriciaYan The following change in the Buttton.tsx file should fix it.

Find the lines
[code]

Replace them with these lines:

[code]

Please let us know if that change helps. In the meantime, I will update these lines in the doc.

[2021-11-19 22:51] #3097 closed

[2021-11-22 10:33] derdos-lmi commented on #3073
Thank you so much for your help!

One last question: Do you have any documentation with maybe a list about what are the server side features that are limited by the Exchange server version, so we can be sure for future development what to look out for?

Thanks!

[2021-11-23 05:25] GUAYMI opened #3099 "One Note"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13002e9d-09c4-6ca4-860a-46b3349c4992
* Version Independent ID: 9946bc42-836f-18fb-8899-08ec3158a9f4
* Content: [Work with OneNote page content - Office Add-ins](https://docs.microsoft.com/en-ca/office/dev/add-ins/onenote/onenote-add-ins-page-content)

[2021-11-23 06:06] exextoc commented on #3018
Yes the docs are accurate, we are still continuing with grayscale using hex code #919191. We will be updating the colored icons with the monochrome ones.

[2021-11-23 18:23] AlexJerabek commented on #3099
Hi @GUAYMI,

It's unclear from this issue what the documentation feedback is. If you found a problem or have a question about the linked page, we're happy to look into it. For now, I'm going to close this issue, but please add more detail in the comments and I'll reopen it.

[2021-11-23 18:23] #3099 closed

[2021-11-23 22:30] arnoudcommandeur commented on #2937
Hi @devhawk, actually I'm facing the same problem. I've tried all the steps above, but still have te same problem. I'm trying the example project at https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/outlook-set-signature. I get the error when I press the add-in button to show the taskpane of the add-in when I compose a new Message within Outlook.

I have tried to run the example from

[2021-11-24 10:05] JHJ-MS opened #3104 "There may be a small mistake with the steps to modify the task taskpane.html"
[Enter feedback here]
add `<script src="functions.js"></script>`
before </head> in taskpane.html

should be `<script src="../functions/functions.js"></script> `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 056e0311-c24e-6342-a3f0-36120930107d
* Version Independent ID: dd406dd4-8384-190a-2385-01324cf1ba3a
* Content: [

[2021-11-24 12:08] westconference opened #3105 "Register SSO Add-in Expose API instructions no longer working"
Step 5 of the instructions on registering an add-in for single-sign fails to work when trying to specify an add-in domain that is not registered as a custom domain.

Our add-in service is used by O365 customers but they will not have the service URL added as a custom domain (they don't own it, we do). So attempting to register the add-in API causes the following error;
[code]

Documentation indica

[2021-11-24 13:44] westconference opened #3106 "Office add-ins on mobile reccommends using deprecated (soon to be decomissioned) REST API"
The office add-in mobile documentation directs users to use the Outlook REST APIs with their add-ins. The Outlook REST API was deprecated in 2020 and will be decommissioned in 2022.
* https://devblogs.microsoft.com/microsoft365dev/outlook-rest-api-v2-0-deprecation-notice/

The deprecation notice recommends MS Graph as an altenative however the getAccessToken method provided by OfficeRuntime is par

[2021-11-24 15:22] wh1t3cAt1k commented on #3072
@Rick-Kirkham this is excellent news!

Does this also apply to Edge Legacy?

![image](https://user-images.githubusercontent.com/5159662/143265959-c91f1f49-97e9-49de-9d45-34e891cf16b1.png)

This will allow us to make use of native `await import()` features and finally switch the module system to ES from CommonJS.

[2021-11-24 23:16] markdon commented on #3018
Thanks @exextoc!

[2021-11-24 23:16] #3018 closed

[2021-11-25 02:53] TriciaYan commented on #3097
Thank you for help. It works. But there is something wrong with the picture.

![image](https://user-images.githubusercontent.com/15853797/143371663-8a2071d7-c6c7-4d93-85b5-4e069ec28e8f.png)

[2021-11-25 15:42] sureshjoshi commented on #3082
@davidchesnut If I could add some other points that would be helpful, as I'm re-reading the documentation and trying to design a workflow.

- It would be useful to have a clearer explanation of `allowConsentPrompt` vs `allowSignInPrompt` (perhaps with an image of the UI that shows up when we select one, or the other, or both?).
  - My guess is that signIn prompts the user to sign-in to word (if th

[2021-11-26 23:48] Rick-Kirkham commented on #3097
@TriciaYan This is really a different issue. You should ask this on Stack Overflow. Be sure to tag your question with `office-js`.

[2021-11-29 17:32] AlexJerabek commented on #3106
Thanks for raising this concern @westconference.

@JuaneloJuanelo and @ElizabethSamuel-MSFT, could you please provide guidance around mobile alternatives for REST APIs?

[2021-11-29 17:33] AlexJerabek commented on #3105
Thanks for reporting this issue @westconference.

@davidchesnut, could you please investigate?

[2021-11-29 17:34] AlexJerabek commented on #3104
Thank you for reporting this @JHJ-MS.

@alison-mk, can you please investigate and update the tutorial accordingly?

[2021-11-30 03:38] alison-mk commented on #3104
Hi @JHJ-MS, thanks for submitting this issue! I've submitted PR #3108 to incorporate your suggestion. Once that PR is merged, this issue will be closed.

Cheers,
Alison

[2021-11-30 18:53] #3104 closed

[2021-11-30 22:01] AlexJerabek commented on #2937
Hi @arnoudcommandeur,
Could you plese raise this as a new issue in the [generator-office repo](https://github.com/OfficeDev/generator-office/issues)? That would be a good place to flag general issues related to yo office and the certificates it creates.
Thanks!

[2021-12-01 19:48] AlexJerabek commented on #3072
Hi @wh1t3cAt1k,

I believe the same is true for Edge Legacy: a graceful failure that helps users understand your support story is acceptable. @JuaneloJuanelo can confirm.

[2021-12-02 18:14] ElizabethSamuel-MSFT commented on #3106
Hi @westconference, we are currently reviewing our APIs to determine how they will be impacted by the REST API deprecation planned for 2022. We will communicate recommended guidance broadly in our documentation once we are done with our review.

Thanks.

[2021-12-03 16:11] GUAYMI commented on #3099
Ohh my God please forgive me for this. I have recently decided to learn more about this app.

[2021-12-03 17:16] AlexJerabek commented on #3099
@GUAYMI, no worries! Enjoy your OneNote learnings.

[2021-12-04 12:30] redlab-chris commented on #1710
I was following this example and noticed that this reference is not updated:

loginDialog.addEventHandler(Microsoft.Office.WebExtension.EventType.DialogMessageReceived, processMessage);

https://github.com/OfficeDev/PnP-OfficeAddins/blob/15e3bc864bdce40bc219b4b078fe6331a17adb0c/Samples/auth/Office-Add-in-NodeJS-SSO/Begin/public/javascripts/fallbackAuthTaskpane.js#L9

[2021-12-04 13:30] daniel-ezee opened #3118 "Information missing on porting custom functions to TypeScript"
I'm trying to get an Excel custom function ported from JavaScript to TypeScript. It is not clear in this document (or elsewhere) how to define a custom function in TS. In particular, this code snippet from FunctionFile.ts/js does not work in TypeScript:

  CustomFunctionMappings.ADD = add;
  CustomFunctionMappings.INCREMENT = increment;

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-12-05 05:31] sureshjoshi opened #3119 "Should mention needing the Beta Channel version of Word for CLI"
According to the office-addin-dev-settings documentation (https://www.npmjs.com/package/office-addin-dev-settings#webview), it's required to be in the Beta Channel for the CLI functionality to work.

There is no mention of the Beta Channel on this page. Unfortunately, as I wasn't able to get the CLI version to work regardless, I don't know whether Beta is actually required or not.

![Screen Shot 2

[2021-12-06 17:53] davidchesnut commented on #1710
Hi @redlab-chris,

Thanks for catching this. I'm reopening this issue and will update that sample code.

Thanks!
David

[2021-12-07 01:35] markdon opened #3120 "Broken references to add-in deployment for Exchange server"
The [Exchange server](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish#outlook-add-in-deployment) link in the table of deployment methods leads to a header that does not provide any details for how to deploy with Exchange server but links to [Install or remove add-ins for Outlook for your Exchange Online organization](https://docs.microsoft.com/en-us/exchange/clients-and-mobile-

[2021-12-07 17:05] ElizabethSamuel-MSFT commented on #3119
@sureshjoshi Thanks for asking about this.

@millerds Can you take a look?

Thanks.

[2021-12-07 17:17] ElizabethSamuel-MSFT commented on #3120
@markdon Thanks for raising this issue. We'll take a look.

Thanks.

[2021-12-07 17:30] #3120 closed

[2021-12-08 01:17] alison-mk commented on #3118
Hi @daniel-ezee, thank you for submitting an issue.

Have you tried the [Custom functions tutorial](https://docs.microsoft.com/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions)? This tutorial shows how to use the `yo office` generator to create a custom functions add-in. You can choose TypeScript instead of JavaScript when following the tutorial. The yo office generator will the

[2021-12-08 20:01] alison-mk commented on #3118
Hi @daniel-ezee, I didn't intend for the bot to close this issue. My mistake. If you have any more questions, you are welcome to reopen the issue. I'll be happy to provide further information!

Alison

[2021-12-08 20:59] millerds commented on #3119
The comment here is about the difference in the documentation, but I don't see where in the documentation it says the Beta Channel is required.  I don't believe it is a requirement, but I'm asking some others to try and double check.

[2021-12-09 09:26] matthewfitzmaurice opened #3126 "Documentation needs an update"
The create-addin-commands documentation is out of date. The latest yeoman project contains all the `<VersionOverrides>` required to create an addin command. However the article does NOT explain how to take the yeoman project and modify it to create an addin command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b73778

[2021-12-13 09:04] exextoc commented on #3073
We are working to update our documentation with the information we have provided you so far.
Unfortunately, we don't have any timelines to share at this moment.

[2021-12-13 09:05] #3073 closed

[2021-12-14 01:27] davidchesnut commented on #3126
Hi @matthewfitzmaurice,

Thanks for catching this. I introduced PR #3133 to recommend using the quick starts (yo office of VS) to generate your project. I also updated the samples, and they are now moved to https://github.com/OfficeDev/PnP-OfficeAddins/tree/main/Samples/office-add-in-commands. So you can see how to add a dropdown menu and additional ribbon button.

Let us know if you want a step-b

[2021-12-15 17:23] davidchesnut commented on #3066
Ok, I added PR #3138 to clarify that some browsers may not support localStorage, and also linked to the article on how to test for availability.

Regarding the "Office Add-in NodeJS SSO wants to display a new window" message:
Yes, this is by design. To work around popup blockers the user must be asked for permission. This only happens if:
- The user is not signed into Office.
- The user has not co

[2021-12-17 07:35] JensMadsen commented on #1611
Thank you for the efforts. However, IMHO we still need to test the office API (if possible). All methods are manually mocked in the aforementioned approach so we do not really test much functionality...

[2021-12-17 19:02] silvanet opened #3144 "Taking Microsoft tutorial to make Word add-in fails"
OK, I don't know if this will help. I followed every step in the Visual Studio example. When I ran it in Word to show the Taskpane, I got an error saying the content was blocked because it isn't signed by a valid certificate. I read answers referring to IE settings, but I don't even have that installed anymore. What do I need to do?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-12-18 00:39] ElizabethSamuel-MSFT commented on #3144
@silvanet Sorry to hear you're facing this issue. We'll take a look.

Thanks.

[2021-12-21 04:00] #3126 closed

[2021-12-21 13:52] kreuli opened #3147 "Limitation: getAttachmentsAsync does not work in on-send?"
Is it a known limitation that getAttachmentsAsync does not work in the context of on-send? If yes, this should be added to the list of Limitations on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e12d688-9620-e8f2-871d-922ec98008b5
* Version Independent ID: a8b409f3-44f7-97e5-d722-cbf04edc0653
* Content: [

[2021-12-21 16:49] AlexJerabek commented on #3147
Thank you for reporting this @kreuli.

@ElizabethSamuel-MSFT, could you please investigate and update the documentation as needed?

[2021-12-21 17:53] #3066 closed

[2021-12-21 19:46] ElizabethSamuel-MSFT commented on #3144
@silvanet I tried this using VS 2019 and Word on Windows 10, and it worked successfully. It was also using IIS Express.

Can you share details about your Word version/build, subscription or not, OS, etc.?

Thanks.

[2021-12-21 21:59] ElizabethSamuel-MSFT commented on #3147
@exextoc Can you advise about this? Thanks.

[2021-12-21 22:08] ElizabethSamuel-MSFT commented on #3147
@kreuli Can you share the error message and behavior you're hitting? Also, please share details about your setup, e.g., Outlook version/build, OS, etc. Thanks.

[2021-12-22 21:06] sid1260 opened #3150 "Outlook Plugin Visual Studio Code debugger not working"
This does not seem to be working as mentioned in the article. If we try to do as suggested below is the exception received
![image](https://user-images.githubusercontent.com/38790296/147155121-780f04fe-c73a-4fb8-ac24-ff74898b8b69.png)
This is the debugging config in launch.json
{
      "name": "Outlook Desktop (Edge Legacy)",
      "type": "office-addin",
      "request": "attach",
      "url": "h

[2021-12-22 22:30] AlexJerabek commented on #3150
Hi @sid1260,

Thank you for reporting this. I just reproduced your issue. I'll tag @darrenmart to help find a solution.

[2021-12-22 22:31] AlexJerabek commented on #3150
Also tagging @igor-ribeiiro to help investigate.

[2021-12-22 22:33] AlexJerabek commented on #1710
@davidchesnut, should we transfer this issue to https://github.com/OfficeDev/Office-Add-in-samples?

[2021-12-22 22:46] AlexJerabek commented on #3150
@sid1260, One quick question, do you have the same experience if you select "Outlook Desktop (Edge Chromium)" from the "Run and Debug" menu?

![image](https://user-images.githubusercontent.com/38896772/147163429-261d7be3-b657-4f9d-8174-9cf883e99c86.png)

[2021-12-23 08:23] sid1260 commented on #3150
If I choose edge chromium , I get a warning
![image](https://user-images.githubusercontent.com/38790296/147210879-80d33403-17c8-40ed-9951-d39e65bb63b8.png)

Then once outlook opens and after opening the task pane, below error pops up

![image](https://user-images.githubusercontent.com/38790296/147210963-1c2c0f3a-ecb6-40cb-b7e6-035aef8c3b0d.png)

Let me know if you need more info. Are you able to r

[2021-12-23 12:52] dplauski-sc opened #3152 "get data from another add-on on Excel javascript api"
I saved data on workbook on following code
      `
   export const storeSettingsToWorkbook = async (settingsType: Settings, storeData: WorkbookModel) => {

    return Excel.run(async (context) => {
        const originalXml = createXmlObject(storeData);
        const customXmlPart = context.workbook.customXmlParts.add(originalXml);
        customXmlPart.load("id");
        await context.sync();

[2021-12-23 14:40] romglusker opened #3153 "Documentation for automatically clearing the Office cache"
The documentation here suggests that it is possible to "configure the Office cache to be cleared automatically **every time** Office is reopened." At least based on my testing, it appears this is not really true.

The checkbox for "Next time Office starts, clear all previously-started web add-ins cache" does not get preserved after re-opening Excel, so when I re-open a second time, the cache is no

[2021-12-24 14:30] daniel-ezee commented on #3118
Hi Alison,

Sorry for the delay.

I have indeed found the Yeoman custom functions tutorial and made this work with TypeScript. I have also successfully been able to use Visual Studio to create a custom function in JavaScript. I have also been able to convert an add-in project (without custom functions) from JavaScript to TypeScript using the information in [Convert an Office Add-in project in Visu

[2021-12-27 17:10] AlexJerabek commented on #3153
Hi @romglusker,

Thank you for reporting this. I just checked and am observing the same behavior with the cache-clearing setting. Let me tag @jargil to help investigate.

[2021-12-28 07:59] chenxizhang opened #3155 "Request location permission when user denied in Outlook addin"
[Enter feedback here]

We are developing a outlook add-in, one feature is we need to detect current location information, when we call the API (navigator.geolocation.getCurrentPosition), Outlook will prompt and ask the permission, if user clicked the "allow" button, then everything is ok, but if user clicked the "deny" button, we don't have anyway to request the location in the future.

How to sol

[2021-12-28 09:48] Tomer-Priel opened #3156 "Outlook add-in usage"
Hi,

Is there any way to know the number of installations I had for my add-in?
I couldn't find it in the docs.

Thanks.

[2021-12-28 18:35] AlexJerabek commented on #3156
Hi @Tomer-Priel,

I also couldn't find an answer in our docs or the [admin management docs](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-addins-in-the-admin-center?view=o365-worldwide).  Let me tag @Wenjun-Gong to help out.

Also, how are you deploying your add-in? Is it published to AppSource?

[2021-12-28 18:36] AlexJerabek commented on #3155
Hi @chenxizhang,

Thank you for asking this question. Let me tag @exextoc to help provide the necessary information.

[2021-12-28 22:00] #3144 closed

[2021-12-29 01:00] #3147 closed

[2021-12-29 02:06] Wenjun-Gong commented on #3156
@Tomer-Priel, if your app is published via Microsoft AppSource, you can find the usage report from the Partner Center: https://docs.microsoft.com/en-us/office/dev/store/view-usage-report?tabs=workspaces-view
Note that the report is for the active user who launched your add-in, instead of the number of installations.

Assign to Outlook add-in team to see whether there is other way to check the usag

[2021-12-30 05:47] mtthwborg opened #3160 "Mac advice irrevelant"
None of the suggested options on my MacBook Pro 2021 are available. The personality menu and all the provided links aren't available (Library/Containers is not an available folder).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e273e29-10ac-440e-634e-588b5208e484
* Version Independent ID: a5a6dc8a-b504-686e-80ce-45aa

[2021-12-30 07:12] Wenjun-Gong commented on #3160
Thank you for taking the time to report an issue. Would you mind provide additional information for us to triage your issue? Here is a template for you to start with. Thank you.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the

[2021-12-31 21:30] exextoc commented on #3156
What Wenjun mentioned above is correct, that would be the way to check usage.

[2022-01-03 20:08] AlexJerabek commented on #3118
Reopening, as per @daniel-ezee's request. @alison-mk, can you please take another look?

[2022-01-03 23:37] millerds commented on #3150
I'm a little confused here.  The step linked to here are for running dev server first and attaching to it using the launch config code in the instructions added to the config file . . . but the discussion here is talking about using the existing launch configs in our templates which don't require running dev server first.  What are the specific steps of the repro?

[2022-01-03 23:38] alison-mk commented on #3118
Hi @daniel-ezee,

I have a couple questions and suggestions.

1. Which version of Visual Studio are you using?
2. If you're using a TypeScript compiler, try turning off any minimization to ensure that the names of your functions aren't minified.
3. Are you seeing any errors reported to your console?
4. Are you using runtime logging? Sometimes you can catch custom functions errors with runtime logg

[2022-01-04 06:36] exextoc commented on #3155
Currently there's no solution from our APIs that can help with this, this would have to do with permission settings within the browser itself. Meanwhile, there are threads online mentioning similar issues using geolocation, example: https://stackoverflow.com/questions/20678707/ask-for-geolocation-permission-again-if-it-was-denied

[2022-01-04 09:01] sid1260 commented on #3150
Hi Millerds, if you start the dev server and try to attach you end up with the same issue. Either ways for Outlook, it looks like debugging does not work.

[2022-01-04 18:51] millerds commented on #3150
If I create a new project for an outlook task pane using 'yo office' and use the chromium debugger command provided it doesn't have either of those errors.

I have seen that first error when trying to use the wrong debugger (Legacy when the browser being used is Chromium), but the other one I have not seen.  Can you tell me more about your environment (version of Office, VS Code, Edge, OS, Node, a

[2022-01-06 10:00] #3160 closed

[2022-01-07 08:28] sid1260 commented on #3150
version of Office - Version 2111 Build 14701.20262
VS Code Version 1.6
Edge - Microsoft Edge Version 96.0.1054.62
OS  Windows 10 Enterprise
Node - v.14.18.1
npm - 8.0.0

[2022-01-07 08:58] sid1260 commented on #3150
Here's a video grab. Let me know if something strikes
https://drive.google.com/file/d/1MEi95QSqvaK6A-DOfBiS1GLsU4q8fjSI/view?usp=sharing

[2022-01-07 20:33] millerds commented on #3150
OK, I can get that error when I disable my "Debugger for Microsoft Edge" extension (I noticed some extension error in your video). Looks like the debugging plugins have changed and our templates need to be updated.  In the meantime, if you change your launch.json entries from "type": "edge" to "type": "pwa-msedge" then your chromium entries should work.

[2022-01-07 23:38] sid1260 commented on #3150
It better..but..

If I change to pwa-msedge, the error goes away, however the breakpoint never gets hit.
See here https://drive.google.com/file/d/183VOFt9oUPyfT9NLBe5Jd1ImdYKcQ7R5/view?usp=sharing

Are you able to hit the breakpoint?

[2022-01-07 23:54] millerds commented on #3150
OK . . . looks like the useWebView config setting has changed type.  Change

    "useWebView": "advanced"

in the launch.json file to be

    "useWebView": true

[2022-01-08 01:00] #3156 closed

[2022-01-08 08:49] sid1260 commented on #3150
I did that. Still the same, unable to debug,its not hitting the debug points.

![image](https://user-images.githubusercontent.com/38790296/148638134-61f66be4-84dc-4f4a-952f-015db7b2296a.png)

[2022-01-09 07:49] donlawatch opened #3168 "Is it possible to change the icons on the right side of task pane?"
When I have multiple add-in task panes open, a new icon group appears on the right side of the task pane, as shown in the image below.

![taskpane](https://user-images.githubusercontent.com/80447115/148673075-482a06b6-214b-4c1f-b0be-9ad356475da0.png)

 Is it possible to change the icons on this new tab?

Additional information:
- On the ribbon, an image is assigned to each task pane. The image def

[2022-01-09 12:58] vault79 opened #3169 "Build number reference for "Office 2021 or later on Windows (one-time purchase)""
Hi there,

Would you please provide link about  "Office 2021 or later on Windows(one-time purchase)" build numbers ?

In this document, I can find [link](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date) for  MS365 app build numbers but I could not find for Office 2021 one-time purchase's one.

When I walk around documents, I found [Update history for Office

[2022-01-09 13:58] algo7 commented on #2361
Same problem here

[2022-01-10 16:49] AlexJerabek commented on #3169
Hi @vault79,

Thank you for the feedback.

We provide build numbers instead of release dates because [different channels](https://docs.microsoft.com/en-us/officeupdates/update-history-microsoft365-apps-by-date) of Office release updates at different times. If you're on Insiders, Monthly, Semi-Annual, or a one-time release (such as 2021), you'll receive a requirement set on a different date. This a

[2022-01-10 16:49] #3169 closed

[2022-01-10 17:00] AlexJerabek commented on #3168
Hi @donlawatch,

Thank you for raising this question. @Rick-Kirkham, can you please assist?

[2022-01-10 17:50] millerds commented on #3150
No quotes around the 'true' . . . it needs to be a boolean value not a string.

[2022-01-10 20:18] sid1260 commented on #3150
ahh. Good catch.

![image](https://user-images.githubusercontent.com/38790296/148833243-a9f1c2d3-c973-4018-8063-c910f0532600.png)

Unfortunately no luck :(

[2022-01-10 23:30] millerds commented on #3150
So after making those two modifications I'm able to hit breakpoint in a new project for Outlook.  Can you explain what your current experience is including specific steps on what you are trying to do?

[2022-01-11 04:00] #3118 closed

[2022-01-11 07:59] sid1260 commented on #3150
I have added breakpoints to taskpane.js , then started the debug process, but it does not hit the breakpoint.
Added a video recording.

https://drive.google.com/file/d/1_KxFIbMU7QJMJd9fF7tB62l-sIbrky_W/view?usp=sharing

[2022-01-11 18:55] Rick-Kirkham commented on #3168
Yes. You can change this. It is defined the [IconUrl](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/iconurl) in element in the manifest. Just set the value of that element to the URL of the icon you want. Then re-sideload the add-in. You may have to [Clear the Office cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache) to get Office to use the new icon file.

[2022-01-11 18:55] #3168 closed

[2022-01-11 19:20] millerds commented on #3150
OK . . . let's look at some more environment information.  Can you let me know:

- The type of Office install (32 vs. 64 bit and if it O365/"click-to-run" or a standalone install (like Office 2019)
- The plugins you have installed for VS Code
- The output of running "npx office-addin-dev-settings webview manifest.xml" in your project

[2022-01-11 20:47] sid1260 commented on #3150
The type of Office install (32 vs. 64 bit and if it O365/"click-to-run" or a standalone install (like Office 2019)

The plugins you have installed for VS Code

 code --list-extensions | % { "code --install-extension $_" }
code --install-extension dbaeumer.vscode-eslint
code --install-extension esbenp.prettier-vscode
code --install-extension flowtype.flow-for-vscode
code --install-extension hashico

[2022-01-11 22:00] #3155 closed

[2022-01-11 22:04] millerds commented on #3150
Can you check if WebView2 is install on your machine (using 'Add or remove programs' settings)?

Also run 'npx office-addin-dev-settings webview manifest.xml edge' and try debugging again.

[2022-01-11 22:19] sid1260 commented on #3150
Yes, webview2 seems to be there
![image](https://user-images.githubusercontent.com/38790296/149029943-05937202-a2ac-4652-8f5d-e3d3ab3e3e49.png)

Did the change
![image](https://user-images.githubusercontent.com/38790296/149030242-7f9f0baf-de32-4124-ad70-0c66c1d77b37.png)

Still no luck

[2022-01-12 08:43] donlawatch commented on #3168
Hi @Rick-Kirkham
A URL value for IconUrl has already been set in the manifest file. The icon appears in the installed version of PowerPoint, but it does not appear on the right side of the task pane in the web version.

- Installed version

![image](https://user-images.githubusercontent.com/80447115/149092676-f5fbc002-5888-4ca1-aaee-e68a777c92e9.png)

- Web version

![image](https://user-images.gi

[2022-01-12 11:11] glr0221 opened #3177 "Office.auth.getAccessToken always fails with error code 13007."
Following the steps described in this page results to a display dialog being displayed all the time. After some investigation, I found that the following line of code always yields an error code of 13007.

`let bootstrapToken = await Office.auth.getAccessToken({ allowSignInPrompt: true, allowConsentPrompt: true, forMSGraphAccess: true }); `

When the error code is 13007, it will go thru the dialog

[2022-01-12 18:26] AlexJerabek commented on #3177
Thanks for reporting this issue. @davidchesnut, could you please investigate?

[2022-01-12 20:48] Rick-Kirkham commented on #3168
A difference between in behavior between platforms is usually a bug. I suggest that you create an issue in the [office-js](https://github.com/OfficeDev/office-js/issues/new?assignees=&labels=&template=bug_report.md&title=) repo. Give it a title that indicates the feature is broken in **Office on the web**.

[2022-01-12 21:06] Rick-Kirkham commented on #3177
See this while you're waiting for an answer: [13007](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins#13007)

[2022-01-17 05:16] robertmclaws commented on #1711
Hello! It seems like this UserVoice site is down... is where do we vote for new features now?

[2022-01-18 17:30] atsopuronen opened #3184 "Add-in support for Outlook on the Web on iOS devices is confusingly explained"
I was asked today by a colleague whether Outlook add-ins are generally available for iPad users. While I'd like to say a sounding "yes" there are some conflicting information in MS docs.

1. FACT: Outlook add-ins are available for **iPad** users using **Outlook for iOS**.

2. About **iPads** and Outlook add-ins in **Outlook on the Web**:
Based on  the MS article below (updated 29th September 2021)

[2022-01-18 18:04] AlexJerabek commented on #1711
Hi @robertmclaws,

Microsoft has transitioned from UserVoice to Tech Community as the ideas and suggestions platform. Here is the [Microsoft 365 Developer Platform Tech Community page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform) where you can submit and upvote ideas.

[2022-01-18 18:48] davidchesnut commented on #3177
Hi @glr0221,

Does Ricky's answer help solve the issue?

Thanks,
David

[2022-01-18 21:15] AlexJerabek commented on #3184
Thanks for the detailed issue, @atsopuronen.

@ElizabethSamuel-MSFT, can you please take a look and ensure we're being consistent about Outlook on iPad?

[2022-01-19 18:45] davidchesnut commented on #3105
Hi @westconference,

I apologize for the delay responding on this issue. Taking a look there are several resources that may help here.

- You may need to follow steps for [adding a custom domain](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain).
- There's a similar Q&A thread around Microsoft Teams registration where the workaround is to use `https` instead o

[2022-01-21 23:43] krehl opened #3187 "404"
Signature add-in example URL wrong: https://docs.microsoft.com/en-us/samples/officedev/Office-Add-in-samples/outlook-add-in-set-signature/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56ebcaf3-ab12-f487-7771-402358836379
* Version Independent ID: 0ba17d6d-c2be-134c-f404-44e809fc9e04
* Content: [Office Add-in code sam

[2022-01-21 23:44] AlexJerabek commented on #3187
Thanks for reporting this @krehl. I'll take a look and fix the link.

[2022-01-21 23:53] AlexJerabek commented on #3187
While we fix the links, here's the link to the actual sample: https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/outlook-set-signature

[2022-01-22 00:10] davidchesnut commented on #3187
Thanks for catching this @krehl! The links should all be fixed now.

[2022-01-22 00:10] #3187 closed

[2022-01-24 08:02] SongphonRefinitiv opened #3191 "parameter for ReplaceShortcuts function should be object"
In Shortcut JSON we can create shortcut with specific platform

"action": "SHOWTASKPANE",
"key": {
                "default": "Ctrl+Alt+Up",
                "mac": "Command+Shift+Up",
                "web": "Ctrl+Alt+1",
            }

And for replaceShortcuts method, it has parameter of type {[actionId:string]: string|null}

So, I am not sure if this API should allow developer to replace new shor

[2022-01-24 12:54] davidpomerenke opened #3192 "Naming: Office Add-Ins, Web Add-Ins"
Office Add-Ins using web technologies are commonly referred to just as "Office Add-Ins" across the documentation. At the bottom of this documentation page under the heading `IT administrators' controls`, there is talk of "Web Add-Ins":

Does "Web Add-In" have the same meaning as "Office Add-In using web technologies"?

If so, it would be good to point this out in the explaining sentence. Perhaps,

[2022-01-24 17:05] AlexJerabek commented on #3191
Hi @SongphonRefinitiv,

Thank you for raising this question. @AbidRahman-MSFT, could you please help provide clarity here?

[2022-01-24 19:59] AbidRahman-MSFT commented on #3191
Hey @SongphonRefinitiv - when using the `replaceShortcuts()` API, it will only impact the current platform the user is on. For eg. if the user is using the add-in on a Windows machine and the replaceShortcuts() API is called, the shortcut will only be replaced for Windows. It will remain the same for Mac and Web.

[2022-01-24 19:59] #3191 closed

[2022-01-25 22:00] #3177 closed

[2022-01-26 14:07] Odirb opened #3197 "Is it possible to register a custom cloud provider for mail attachments?"
[Enter feedback here]
Is it possible with Outlook add-ins API to register another cloud provider when an attachment is added in a new message, because it seems that only OneDrive is supported:

![Capture](https://user-images.githubusercontent.com/25641177/151176825-d258a6e5-1201-459a-8d18-e96fda49dd70.PNG)

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-01-26 15:42] sid1260 commented on #3150
hi Millerds,
Any update on the above?

[2022-01-26 23:58] dmitriyyepishin opened #3202 "What is the exact version of Office.js library?"
How can I find the version of Office.js. My company requires us to obtain legal approvals for specific versions, so as we use Office JavaScript API we need to be able to find out how versions change.

[2022-01-27 00:21] AlexJerabek commented on #3202
Hi @dmitriyyepishin,

Office.js doesn't have versions, in this sense. We only support the latest version published to the CDN. Our officially stated policy can be found here: https://github.com/OfficeDev/office-js#support

Is there a specific concern your company has?

[2022-01-27 00:26] dmitriyyepishin commented on #3202
Thank you for your response. Our legal department reviews various product versions that we use to check for security and other issues to ensure that we protect our customers. Most products have version numbers and security and other issues can be tracked by version. Does Office.js have an issue tracker of some sort that we can access and monitor?

[2022-01-27 00:44] AlexJerabek commented on #3202
Issues with Office.js are tracked on the product repo here: https://github.com/OfficeDev/office-js

The NPM package you linked is _usually_ the latest version, though I should call out this line from the Support section:

In practice, that accounts for the lag between publishing a new version to the CDN and that version getting published as an NPM package. Office Add-ins technically run off of the

[2022-01-27 00:59] ElizabethSamuel-MSFT commented on #3184
@atsopuronen We'll clarify this in the docs.

My current understanding is that you can use Outlook add-ins in **Outlook for iOS** on iPad. Other options (like other native apps or Outlook in a mobile browser) are unavailable for running Outlook add-ins.

Thanks.

[2022-01-27 04:00] alison-mk commented on #3192
Hi @davidpomerenke, thanks for submitting this question! You are correct, **Web Add-in** has the same meaning as **Office Add-in** and **Office Add-in using web technologies**. I've submitted a PR to clarify the terms in this article. This issue will be closed when that PR is merged. I'll also look into adjusting the name of the setting, that's a good suggestion.

Thanks again,
Alison

[2022-01-27 05:03] markdon opened #3206 "Guidance for Meeting Provider Add-ins and Automatic Teams Meetings"
I have a meeting provider add-in for Outlook. One issue my customers have is Outlook automatically enabling a Teams meeting when composing appointments, which users are not aware of. It's reportedly common for users to send an event with two sets of meeting details attached (Teams and my add-in).

Are there some already know approaches to managing this problem and other conflicts between the Teams

[2022-01-27 09:20] Sreeram-ms commented on #3197
@Odirb Could you please elaborate more on what usecase/scenario you are trying to solve. It is possible for 3rd party cloud storage providers to use Outlook extensibility and office-js APIs to interact with attachments in different ways. If you could elaborate more on what you are trying to solve, we might be able to help you better.

[2022-01-27 09:50] Odirb commented on #3197
Hello Sreeam,
Our company has developed a plugin for the desktop version Outlook (using VSTO) that automatically upload on our servers instead of sending then as regular attachment. For exemple, when the file is too large or contains some AIP sensitivity labels such as "confidential", theses files are uploaded on our servers with the plugin, and a link is added in the message body for download.
We

[2022-01-27 17:29] AlexJerabek commented on #3206
Thanks for raising this @markdon.

@ElizabethSamuel-MSFT, could you please take a look?

[2022-01-27 18:52] #3192 closed

[2022-01-27 19:22] dmitriyyepishin commented on #3202
Thank you for the feedback. How can one know what version an issue has been fixed in?

[2022-01-27 21:13] AlexJerabek commented on #3202
Well, the answer is probably unfulfilling, but there aren't version notes in that capacity. Fixes are also often implemented through changes to Office itself, so the npm version wouldn't reflect that change anyway. What we can say is that the latest version on the CDN is the most patched version and that we maintain backward compatibility.

I'm going to close this issue, since there's nothing acti

[2022-01-27 21:13] #3202 closed

[2022-01-28 00:09] #3153 closed

[2022-01-28 17:18] ANHPearce commented on #2937
@AlexJerabek

I added this to the generator-office repo as you requested. I had run into the same error.

Solved it by manually installed the certs that had been generated. See my comments on the other repo.

[2022-01-28 21:44] ElizabethSamuel-MSFT commented on #3197
@exextoc Can you take a look? Thx.

[2022-01-28 21:50] millerds commented on #3150
Are you able to provide a zip file of the project (remove the nod_modules folder first)?

[2022-01-28 21:50] ElizabethSamuel-MSFT commented on #3206
@Sreeram-ms Can you provide any guidance with this? Thanks.

[2022-02-01 17:07] ElizabethSamuel-MSFT commented on #3184
@atsopuronen We've verified that add-ins work in the Outlook for iOS app and in Outlook on the web in Safari.

We created a [PR](https://github.com/OfficeDev/office-js-docs-pr/pull/3204) to address this. Let us know if we need to make any further clarifications.

Thanks.

[2022-02-01 20:11] exextoc commented on #3197
Currently the feature to register a custom cloud provider for mail attachments, you requested, is not a part of the product. We track Outlook add-in feature requests on our Tech Community Page. Please submit your request there and choose the appropriate label(s). Feature requests on Tech Community are considered, when we go through our planning process.

Github Label: “Type: product feature reques

[2022-02-01 20:18] jasonchester opened #3214 "Missing error description for error code 9020"
Encountered as a result of https://github.com/OfficeDev/office-js/issues/2398 while developing an outlook add-in and testing in the browser.

see also: https://stackoverflow.com/questions/59562379/osf-dda-error-9020-on-office-context-mailbox-item-body-getasync

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad14a1fc-e89

[2022-02-01 20:56] AlexJerabek commented on #3214
Thanks for reporting this @jasonchester.

@samantharamon, could you please take a look and update the documentation accordingly?