[2022-02-02 01:10] #3184 closed

[2022-02-02 03:37] exextoc commented on #3206
To answer your questions:
1. Can the user disable Teams integration - This is possible to do from the Settings option. User can go to File -> Options -> Add-ins -> Deselect Teams add-in from the list
Here is the post which talks about this: https://answers.microsoft.com/en-us/outlook_com/forum/all/how-to-disable-the-teams-meeting-add-in-feature-in/9820e191-49c1-45b3-ba3b-04a0604d19f9

2. Currently

[2022-02-02 14:42] Nikolay-Uvarov opened #3217 "The element 'Host' in namespace 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1' has invalid child element 'Runtimes' in namespace 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1'"
Hi,

I tried to configure my Outlook add-in for event-based activation. I went step by step and got the following error:

I found Runtimes node only in  [http://schemas.microsoft.com/office/taskpaneappversionoverrides schema](http://schemas.microsoft.com/office/taskpaneappversionoverrides).

Could you help me or this page is not correct?
https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/

[2022-02-02 18:15] AlexJerabek commented on #3217
Thanks for reporting this @Nikolay-Uvarov.

@ElizabethSamuel-MSFT, could you please take a look?

[2022-02-02 22:47] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov Can you share some info about your setup? Thanks.

## Your Environment

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: ______
* Operating System: ______
* Browser (if using Office on the web): ______

[2022-02-02 23:24] Nikolay-Uvarov commented on #3217
@ElizabethSamuel-MSFT
Platform [PC desktop, Mac, iOS, Office on the web]: PC desktop
Host [Excel, Word, PowerPoint, etc.]: Outlook
Office version number: 2016
Operating System: Windows 10
Browser (if using Office on the web): Chrome

[2022-02-02 23:31] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov Thanks for the info. Can you also share the Outlook version and build numbers?

These instructions should help if you're not already familiar with the steps.

Thanks.

[2022-02-03 10:01] Nikolay-Uvarov commented on #3217
@ElizabethSamuel-MSFT
Thanks!
Version: 16.0.4498.1000

I got those errors in Visual Studio 2022. Does the office version affect VS 2022?

Screenshot from VS:
![image](https://user-images.githubusercontent.com/22148553/152320988-94395724-41ae-404c-a64b-b4b71716aa28.png)

[2022-02-04 13:14] Nikolay-Uvarov commented on #3217
Manifest:
[code]

[2022-02-04 18:00] #3197 closed

[2022-02-04 19:50] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov Thanks for providing this information. We're investigating.

Thanks.

[2022-02-04 22:55] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov It seems like the XSD files are out-of-date. The instructions for how to update the ones you need can be found in the [troubleshooting guide](https://docs.microsoft.com/office/dev/add-ins/testing/troubleshoot-development-errors#manifest-schema-validation-errors-in-visual-studio-projects).

Also note that the instructions in the event-based activation walkthrough were meant to be us

[2022-02-07 11:21] Nikolay-Uvarov commented on #3217
@ElizabethSamuel-MSFT I updated MailAppVersionOverridesV1_1 and OfficeAppManifestV1_1 files but it **did not help** me. I
still have the same error. As I said I could not find 'Runtimes' child for 'Host' node in the http://schemas.microsoft.com/office/mailappversionoverrides/1.1 schema [link](https://docs.microsoft.com/en-us/openspecs/office_file_formats/ms-owemxml/8e722c85-eb78-438c-94a4-edac7e9c

[2022-02-07 13:45] Nikolay-Uvarov commented on #3217
I tried to use [Yeoman generator (yo office) version of the quick start](https://docs.microsoft.com/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator) and it seems to be working.

Thanks!

[2022-02-07 22:56] markdon commented on #3206
Thank you @exextoc

[2022-02-07 22:56] #3206 closed

[2022-02-08 19:25] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov Glad to hear that the yo office version worked for you. Office 2016 (one-time purchase) only supports up to 1.4. The supported Outlook clients are noted in [this article](https://docs.microsoft.com/office/dev/add-ins/reference/requirement-sets/outlook-api-requirement-sets#outlook-client-support).

I'll continue investigating the VS situation and let you know.

Thanks.

[2022-02-08 19:54] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov We're working on getting the Mail 1.1 XSD updated to include Runtimes and related elements. Thanks again for letting us know about this issue.

Thanks.

[2022-02-09 00:25] samantharamon commented on #3214
Thanks again for bringing this to our attention, @jasonchester. We've created a [PR](https://github.com/OfficeDev/office-js-docs-pr/pull/3227) to remedy this. Let us know if we can be of further assistance.

[2022-02-09 00:25] #3214 closed

[2022-02-09 12:05] Herz3h opened #3229 "No npm run watch or npm run start:desktop"
Neither

`npm run watch`

nor:

`npm run start:desktop`

Project generated with yo + vue, here is the package.json:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bedd430-d224-565e-c1b1-15f90994aa52
* Version Independent ID: b41539c4-c9ec-c678-e44b-27bd456b9c0b
* Content: [UI-less custom functions debugging - Of

[2022-02-09 13:11] Nikolay-Uvarov commented on #3217
@ElizabethSamuel-MSFT Thanks you!

Do you know when Android and IOS devices will support the newest version of API requirement set? Or where I can find this roadmap?

[2022-02-09 17:35] samantharamon commented on #3229
Thank you for reaching out, @Herz3h. To assist us in our investigation, do you receive a particular error when you attempt to run `npm run watch` and `npm run start: desktop`?

@alison-mk, could you please assist with this? Thanks!

[2022-02-09 20:41] elthombre opened #3230 "Outlook for Mac Add-In Support"
[Enter feedback here]

I wish there was a dedicated community / repo for add-in development for Outlook for Mac. There are clearly some discrepancies in regards to what is available within the object model between Windows OS and Mac OS, etc.

It makes it challenging for those trying to build something for the Mac platform.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-02-09 23:20] ElizabethSamuel-MSFT commented on #3217
@Nikolay-Uvarov We don't currently have a roadmap. As additional requirement sets are supported, we usually update documentation like the [requirement sets page](https://docs.microsoft.com/office/dev/add-ins/reference/objectmodel/preview-requirement-set/outlook-requirement-set-preview) and the [availability page](https://docs.microsoft.com/office/dev/add-ins/overview/office-add-in-availability), a

[2022-02-10 08:20] Herz3h commented on #3229
Here is what I get upon running `npm run watch`
![image](https://user-images.githubusercontent.com/1900696/153366285-70feb327-48c0-4d97-a005-f5e5de74778e.png)

[2022-02-10 18:49] Rick-Kirkham commented on #3229
Your package.json `scripts` section is definitely missing those scripts (and all the Office Add-in scripts). Did you create this with Yo Office _and no other tool_?

[2022-02-10 19:13] Rick-Kirkham opened #3231 "Gaps in article about setting up dev environment"
This page doesn't mention Visual Studio as an option.
It doesn't mention Yo Office.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a18f55e3-bc76-a75f-8e0a-c64e342e91e0
* Version Independent ID: e47dd6b7-f6fa-9c01-91fd-a52febd04fb4
* Content: [Set up your development environment - Office Add-ins](https://docs.microsoft.

[2022-02-10 19:27] Rick-Kirkham commented on #3229
After looking at this article [Use Vue to build an Excel task pane add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-vue), it appears that our guidance for a Vue-based add-in is to take the "manifest only" option in Yo Office. One effect of this is that the Office Add-in related scripts are not installed, nor mentioned in the `scripts` section of the package.

[2022-02-11 03:30] samantharamon commented on #3230
Hi, @elthombre. Thank you for taking the time to leave us feedback.

I'm sorry to hear that you've been experiencing challenges with developing for the Mac platform. We have a great community of developers in [Stack Overflow](https://stackoverflow.com/questions/tagged/office-js) and [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/m365) who are happy to help out. We recommend chec

[2022-02-11 05:07] elthombre commented on #3230
https://techcommunity.microsoft.com/t5/outlook/outlook-for-mac-add-ins-questions-developers/m-p/3139800#M10110

[2022-02-11 18:31] samantharamon commented on #3230
Thank you for posting your questions to the forum, @elthombre. I will now close this issue, but should you come across a potential bug or error in the product or documentation, please don't hesitate to open an issue on GitHub.

[2022-02-11 18:53] elthombre commented on #3230
Hi Sam, I believe the issue with the documentation is that it's not clearly documented the object model differences between Outlook for Mac and Outlook for Windows. Consequently, if one is trying to build an add-in on the Mac platform, this can be troubling.

It's further complicated by the difference in support options between VSTO vs. Office Add-Ins which are consider "Office 365" or Office JS l

[2022-02-11 20:01] jasonclg opened #3235 "Can custom menu item be programmatically toggled?"
The article provides the detailed steps to enable/disable ribbon buttons.
It also mentions menu item's default state can be set to disabled in manifest. I assume it implies that menu item can be toggled programmatically?
The sample code used Office.RibbonUpdaterData to specify the ribbon button command. Is this object applicable to menu item or is there other object for it?

---
#### Document Deta

[2022-02-11 22:01] #3235 closed

[2022-02-11 23:04] samantharamon commented on #3230
Thank you for the additional feedback. Let me look into this further to see how we can better reflect this in our documentation.

[2022-02-12 01:09] SupplyChef opened #3241 "Errors after updating to shared runtime"
## Article URL

## Issue
After updating the runtime of an Excel add-in with custom functions I get the following errors in the taskpane after loading the add-in:

Compiled with problems:X

Error:

[tsl] ERROR in [...]\src\taskpane\taskpane.ts(10,39)
      TS2304: Cannot find name '[function name]'.

[2022-02-12 07:06] samantharamon opened #3242 "ModuleNotFoundError after updating webpack config file"
Prompted with ModuleNotFoundError after adding the following to the webpack.config.js file and running `npm run build` (see [error.txt](https://github.com/OfficeDev/office-js-docs-pr/files/8052936/error.txt) for full error log):
[code]
### Specifications
**Document section**
'Update webpack config settings', steps 3-5.

**Platform**
Windows 11 Version 21H2 (OS Build 22000.493)

**Visual Studio Cod

[2022-02-14 07:37] Herz3h commented on #3229
Thank you, maybe this should be documented on the page ?

[2022-02-14 17:20] AlexJerabek commented on #3241
Hi @SupplyChef,

Thanks for flagging this issue. I have a few questions that'll let us help you better:

1. Are you seeing this complier error in your IDE (VSCode)?
2. So we can make sure we're following the same path you did, can you confirm that you started with a yo office project and then follow the steps in this article: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-yo

[2022-02-14 18:32] Rick-Kirkham commented on #3229
@Herz3h Did it work? If so, I'll update the page with this information.

[2022-02-14 19:02] millerds commented on #3150
I am able to debug your project just fine . . . so it's definitely something about the environment.  I can't see anything wrong with the environment information you've given me, but may just try getting an update version of VS code and Office (if possible).

[2022-02-14 20:18] SupplyChef commented on #3241
Hello,

Thanks for following up:

- Are you seeing this complier error in your IDE (VSCode)?
 I see the errors in the taskpane of the plug in. I also see them in the npm window when compiling.

- So we can make sure we're following the same path you did, can you confirm that you started with a yo office project and then follow the steps in this article: https://docs.microsoft.com/en-us/office/dev/

[2022-02-15 01:21] samantharamon commented on #3242
@ElizabethSamuel-MSFT, when you get a chance, could you go through the Outlook tutorial to see if you can repro the error I'm getting? I was able to replicate it on a VM, but with a similar environment. I'm hoping to get a different set of eyes on this, in case it's related to my setup. Thanks!

[2022-02-15 09:22] Herz3h commented on #3229
Yes thank you

[2022-02-15 11:49] jamaynor opened #3245 "The ExtendedOverrides element is incorrect."
I am following this article, and it tells the user to:

Link the mapping file to the manifest
Immediately below (not inside) the <VersionOverrides> element in the manifest, add an [ExtendedOverrides](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/extendedoverrides) element. Set the Url attribute to the full URL of a JSON file in your project that you will create in a later

[2022-02-15 20:48] Rick-Kirkham commented on #3245
This is a known issue. Visual Studio has not kept the manifest definition files that it uses to validate the manifest up-to-date. You have to manually update them. Please follow the instructions in the following section and let us know if that fixes it.

[Manifese schama validation errors in Visual Studio projects](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-developmen

[2022-02-15 21:06] sid1260 commented on #3150
version of Office - Version 2102 Build 13801.21092
VS Code Version 1.63.2

**upgraded to**
VS Code Version 1.64.2
Office version (16.0.14326.20782) 64-bit

And voila - we have a winner :)

![image](https://user-images.githubusercontent.com/38790296/154148979-b48bf6b9-b186-4bc8-a91a-015abad978bc.png)

Not sure what and how. But glad that is working. Thanks for the patience and help!!

[2022-02-15 21:40] Rick-Kirkham commented on #3229
Before we change the documentation, we're looking into the possibility of changing Yo Office so that it adds the scripts even when the manifest-only option is chosen.

[2022-02-15 22:08] millerds commented on #3150
Glad it worked!

[2022-02-15 22:11] AlexJerabek commented on #3150
Thanks @millerds!

Since the updating to the latest versions of VS Code and Office solved the problem, I'm going to close the issue. If I'm mistaking and there's a documentation issue that needs to be addressed, please let me know and I'll reopen it.

[2022-02-15 22:11] #3150 closed

[2022-02-15 22:47] grippstick opened #3247 "$HOST$ guidance not complete"
It says to replace the word $HOST$ with the name of the Office application. I only found one instance of $HOST$, but 2 more instances of Excel. I am using Outlook. I went ahead and replaced it in all 3 places. I am getting an error that says "Could not find the task 'Debug: Outlook Desktop'. It doesn't mention how the task should be configured. Lastly, I still get an 'Error processing "attach": co

[2022-02-15 22:49] grippstick commented on #2361
Same problem here :(

[2022-02-16 00:16] AlexJerabek commented on #2361
Reopening and assigning to @Rick-Kirkham.

[2022-02-16 00:49] Rick-Kirkham commented on #3247
I'll fix the documentation. For the other issues, I'm assigning to @millerds .

[2022-02-16 00:58] Rick-Kirkham commented on #2361
Assigning to @millerds

[2022-02-16 18:08] mharoot opened #3251 "How do you rewrite the async wait code to do this with ASP.NET Framework 4.6.1 desktop for power point 2019?"
How do you rewrite the async wait code to do this with ASP.NET Framework 4.6.1?
I want to insert power point slides from a base64 encoded string, but can't use async await on desktop for power point 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e04a44-5920-3bc3-0af2-5c2a1de8003a
* Version Independent ID: 0b081e

[2022-02-16 19:43] #3085 closed

[2022-02-16 20:04] ElizabethSamuel-MSFT commented on #3242
@samantharamon Yes, I'm seeing the same error. It seems that the core.js reference in ./src/settings/dialog.html can't be resolved.

[2022-02-16 20:28] Rick-Kirkham commented on #3251
Please provide more detail about what you are trying to do. What part of the article are you asking about? What is the "this" that you want to do with ASP.NET 4.6.1? Why can you not use "async await" on PowerPoint 2019?

[2022-02-16 21:02] mharoot commented on #3251
@Rick-Kirkham -
This snippet here won't run on power point 2019, is there a way to use the sample js code below to target office 365 and power point 2019.

[code]

[2022-02-16 21:29] Rick-Kirkham commented on #3251
What does "won't run" mean? Do you get an error message? What exactly happens. What is Visual Studio's "complaint". What does it say and where do you see it? Thanks.

[2022-02-16 22:10] mharoot commented on #3251
@Rick-Kirkham -

JavaScript critical error at line 96, column 11 in https://localhost:44339/Home.js\n\nSCRIPT1004: Expected ';'
![image](https://user-images.githubusercontent.com/24758613/154365895-e40604ac-9c65-4894-a3bd-77e03b650737.png)

[2022-02-17 21:58] mharoot commented on #3251
Ok I think all that is available to me is Office Common JavaScript API Preview.  I don't see a way to insert slides from base 64 string.
![image](https://user-images.githubusercontent.com/24758613/154577337-4587c906-d54e-4ae5-83f6-79b9d13ecfe2.png)

VS is showing me all the functions available but in debugger, I tried without async await and I get that the sync function is not available for the ob

[2022-02-17 22:22] Rick-Kirkham commented on #3251
Please install the [Script Lab tool](https://docs.microsoft.com/office/dev/add-ins/overview/explore-with-script-lab). Open a PowerPoint document and click **Script Lab** on the ribbon. In the **Script Lab** ribbon, click **Code**.  In the **Code** task pane, click the **Samples** tab and scroll to bottom and click the item for **Insert slides from other presentation**.

![image](https://user-image

[2022-02-17 23:11] mharoot commented on #3251
<html>
<body>

Windows 7, 8.1, 10, 11 | non-subscription Office 2013 to Office 2019 | Doesn't matter | Internet Explorer 11
-- | -- | -- | --

</body>
</html>

**Could not get script lab to run Office 2019 on Desktop:**
Script Lab no longer works with combinations of platform and Office version that use Internet Explorer to host add-ins. This includes one-time purchase Office versions through Offi

[2022-02-18 00:07] Rick-Kirkham commented on #3251
Thanks for the clarification. Your issue is that IE is the browser control that the add-in is running in. That same article that you just linked to gives you the answer in the following note:

![image](https://user-images.githubusercontent.com/9088056/154591468-daa50205-c07c-499c-917c-febbe8d3bde6.png)

Check out the links in that note.

I suggest that you first try the polyfill core.js. If you ar

[2022-02-18 17:20] priyankak9 opened #3257 "iOS Mobile Add-in embedded browser control uses Safari and our client requires to use a more secure Edge browser. How can we achieve this?"
## Article URL
 https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

## Issue

 Outlook Add-in in iOS Mobile uses Safari as the embedded browser (see article) and our client's security policies requires them to use a more secure Edge browser.

Client has Azure Single Sign-on policies so that a user can only use the Edge browser to log in. See image

![i

[2022-02-18 18:11] caredev opened #3258 "Compilation errors while following the "Tutorial: Create a PowerPoint task pane add-in""
I am trying to follow this tutorial:
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/powerpoint-tutorial

After creating the Controller that extends ApiController I get the following errors
<img width="952" alt="image" src="https://user-images.githubusercontent.com/71512870/154738418-751b9398-c44a-43d5-b94f-4bc816983994.png">

It does not find: `System.Web.Http`, `ApiController`, `Gl

[2022-02-18 18:40] mharoot commented on #3251
Hi Rick,

Thank you so much for all your help, I feel closer to resolving the problem.  However, I think I'm missing something in the configurations or core-js version I'm using

[babeljs.io](https://babeljs.io/repl#?browsers=ie%2011&build=&builtIns=usage&corejs=3.6&spec=false&loose=false&code_lz=AQ4QwZwTwOwY2AMwK7wC4EsD2NwBM8BlAGwzwFMAKASmAG8AoUZ8AdzAzWAAUtXyATrwww0AOgGpKkWAhTpsuSnBxpyADzS1GLUCtE

[2022-02-18 18:52] Rick-Kirkham commented on #3251
I'm afraid I don't know details like this about babel. I suggest that you consult the help for babel or ask a question on Stack Overflow about how to use babel and core.js to create code that is compatible with IE.

In the meantime, this issue has moved away from being about the documentation, so I'm going to close it now.

[2022-02-18 18:52] #3251 closed

[2022-02-18 19:27] #3258 closed, assigned to Rick-Kirkham

[2022-02-18 20:53] mharoot opened #3259 "Can you add on to this PowerPoint add-in tutorial how to insert a pptx slide to an already open presentation?"
In an already opened presentation how can we Insert a pptx slide as a base64 encoded string to work on all platforms of powerpoint?  Is it even possible to insert a pptx slide with this project setup from this tutorial via  base64 encoded string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18abb533-5be7-d533-8106-c5

[2022-02-18 21:30] Rick-Kirkham commented on #3259
Yes. Your add-in inserts slides from another PowerPoint presentation into the current presentation with the [Presentation.insertSlidesFromBase64](https://docs.microsoft.com/en-us/javascript/api/powerpoint/powerpoint.presentation#powerpoint-powerpoint-presentation-insertslidesfrombase64-member(1)) method.  This method is supported on any platform that supports the PowerPointApi 1.2 requirement set.

[2022-02-18 21:30] #3259 closed

[2022-02-18 21:53] samantharamon commented on #3242
Thanks, @ElizabethSamuel-MSFT!

Verified the following from Ricky, Darren, and Adam: Projects created by Yo Office used to use core.js as a polyfill. This has been replaced by babel, which is automatically added to the webpack config file. Due to this, we can remove any reference to core.js from the tutorial.

[2022-02-19 02:13] caredev opened #3262 "How do you get the slide dimensions?"
## Issue

When setting the shape's width and height properties, is there an option to set them to the slide's width and/or height ?
Is there any way to get these two sizes?

Also, is there any way to get the information on the Guides of the slide? It would be really useful to place shapes according relative to the guides.

### Example
[code]

Thanks!

## Article URL

https://docs.microsoft.com/en-

[2022-02-21 02:21] markdon opened #3263 "Register the online-meeting template for my add-in"
The meeting provider software I'm working with is deployed per-customer on their infrastructure along with a "custom" add-in for each customer. Will we be able to get this functionality working in this case?

Can I provide further details for this privately? ![image](https://user-images.githubusercontent.com/9063681/154878442-fd0670e5-dbb2-4501-b2be-31f4eddf8e31.png)

---
#### Document Details

⚠

[2022-02-21 15:47] jfoclpf commented on #2981
Hi Rick, can you confirm me now that webview2 is automatically installed through updates in our machines?

![image](https://user-images.githubusercontent.com/3984909/154987592-fd51bc11-e672-4a1d-9462-e49246075585.png)

![image](https://user-images.githubusercontent.com/3984909/154987695-3a2f6f0a-18de-42f2-9995-005a841a9b1a.png)

That is, my colleagues don't need to tweak their computers to have au

[2022-02-21 16:01] jfoclpf commented on #2981
@Rick-Kirkham I can't now that because I had previously [tweaked](https://github.com/OfficeDev/office-js-docs-pr/issues/2981#issuecomment-943717370) my own computer with that registry key to have webview2

[2022-02-21 18:59] Rick-Kirkham commented on #2981
It is my understanding that users who have that build no longer need to manually tweak the registry. To test this, have any user with that build install any (non-Outlook) web add-in. Then use the technique in the following note to see if they are using "Microsoft Edge" (which is WebView2).

![image](https://user-images.githubusercontent.com/9088056/155012935-ff7da36b-43ca-4192-9d75-0126e8584262.pn

[2022-02-23 00:20] AlexJerabek commented on #3262
Hi @caredev,

I don't believe this functionality exists today, but I'll have @Rick-Kirkham confirm. Assuming it's not, please create an idea asking for it on our [Microsoft365 Developer Platform Tech Community page](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). There, other developers can view and upvote the idea. This helps us priori

[2022-02-23 00:22] AlexJerabek commented on #3263
Thanks for creating this issue @markdon.

@exextoc, could you please follow-up?

[2022-02-23 00:46] Rick-Kirkham commented on #3262
Alex is correct. The PowerPoint JavaScript APIs do not provide information about the slide's dimensions or its guides. Please create an idea as Alex suggested. I will close this issue, but if you think it has been closed in error, you can still comment and we will see the comments.

[2022-02-23 00:46] #3262 closed

[2022-02-23 01:25] Mayu945 opened #3266 "The "Description" for the "Description" in GetStarted looks inaccurate."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c09c045-70d5-eb7b-6910-817b0a57f32e
* Version Independent ID: c30c2072-5476-b17b-72d2-ed53bf67a466
* Content: [GetStarted element in the manifest file - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/getstarted

[2022-02-23 01:29] Rick-Kirkham commented on #3266
You are correct. I'll get it fixed.

[2022-02-23 01:39] exextoc commented on #3263
The link [Create an Outlook mobile add-in for an online-meeting provider - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/online-meeting) you included is for mobile. To help us get the right team to follow up, could you tell us which Outlook platform you are looking to enable? (Outlook mobile, Outlook on the web, Outlook on Windows, Outlook on Mac, etc?)

[2022-02-23 01:40] #3266 closed

[2022-02-23 02:34] alison-mk commented on #3241
Hi @SupplyChef, thank you for the information. This is an unusual error. I suspect that it's the result of a copy/paste error, or another very minor syntax mistake. In testing this tutorial, I'm unable to replicate your error. To help resolve, I have a few more questions for you.

1. I see that you created a TypeScript shared runtime project. Our [shared runtime tutorial](https://docs.microsoft.co

[2022-02-23 04:53] markdon commented on #3263
@exextoc I believe this is only documented for mobile. My add-in does support every platform, so I am interested in enabling this kind of functionality on platforms other than mobile if it's available.

[2022-02-23 12:09] exextoc commented on #3086
Please follow [this](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache#:~:text=Clear%20the%20Office%20cache%20on%20Mac,-Add%2Dins%20are&text=You%20can%20clear%20the%20cache,Then%20choose%20Clear%20Web%20Cache.) doc for clearing the cache  .There is a [thread](https://stackoverflow.com/questions/48671008/outlook-add-in-on-outlook-for-mac-clear-cache) as well related to this wh

[2022-02-24 01:00] #3245 closed

[2022-02-24 07:16] Shujee commented on #2066
and where is UserVoice?

[2022-02-24 16:31] AlexJerabek commented on #2066
Hi @Shujee,

Since my last post, Microsoft has moved away from using UserVoice. We now track community feature requests for the M365 Developer Platform on Tech Community: https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform

[2022-02-24 21:52] alison-mk commented on #3044
Hi @ruslan-oncoshot, apologies for the delay. I'm investigating your question internally will provide an update to this issue when I have more information.

Thanks for your patience,
Alison

[2022-02-24 23:41] #3242 closed

[2022-02-25 11:22] exextoc commented on #3086
Is Addin's new logo is visible if we are adding for the first time??

[2022-03-02 15:11] atsopuronen commented on #3086
Even if I remove myself from the button's deployment (Centralized Deployment) and then deploy it back to me, the add-in is still using the old graphic. And the old graphic is definitely not coming from M365 because I can see the updated logo in my Outlook for iOS. The issue must be local to my computer/Outlook for Mac.

[2022-03-02 16:46] j0hnw0rk3r opened #3282 "Outlook Add-in Compose - Dynamic Control Button Text Updating"
## Article URL

N/A

## Issue

 I developed an add-in built with yo generator (Node.js) that works as a configurator which enables the outlook compose to enable/disable sending a copy of the new email to a custom url on-send.

There's a control button added that says 'Toggle Send to cCRM' but  I would prefer a toggle text dynamically from 'Enable send to cCRM' to 'Disable send to cCRM' and vice-ve

[2022-03-02 17:17] j0hnw0rk3r commented on #3282
Thanks you for your quick response @AlexJerabek

[2022-03-02 19:31] Rick-Kirkham commented on #3282
@j0hnw0rk3r We use this repo to track problems with the documentation. Programming questions like this are best asked on [Stack Overflow](https://stackoverflow.com/). In your case, you want to toggle the button label whenever the button is pushed. This is a common web application scenario, so it has no particular connection with Office Add-ins. The standard way to do this is to have the handler fo

[2022-03-02 19:31] #3282 closed

[2022-03-03 01:42] alison-mk commented on #3044
Hi @ruslan-oncoshot, unfortunately the PivotTable feature you're looking for isn't currently available. To request this feature, we recommend submitting via [Microsoft 365 Developer Platform Ideas](https://techcommunity.microsoft.com/t5/microsoft-365-developer-platform/idb-p/Microsoft365DeveloperPlatform). We use Microsoft 365 Developer Platform Ideas to prioritize community requests for additions

[2022-03-03 01:42] #3044 closed

[2022-03-04 12:15] exextoc commented on #3086
We have been able to repro the issue at our end. We will update our documentation and will keep you posted once that is done.

[2022-03-04 20:40] alison-mk commented on #3241
Hi @SupplyChef, thanks for the information! I'm researching your error internally and will update you when I have more information.

Alison

[2022-03-05 04:00] #2598 closed

[2022-03-07 12:00] msobkow commented on #1598
It would seem that this ugly issue has resurfaced today, likely as a result of the recent NVidia certificate theft.  However, deleting the recommended folder and running npx office-addin-dev-certs install did not resolve the issue.  Is the npx command maintained by Microsoft or other parties?  If so, this issue may just be a matter of waiting a day or few for it to resolve itself (not that I or an

[2022-03-07 17:57] millerds commented on #1598
The office-addin-dev-certs module is maintained by Microsoft and the tools used to check and install the necessary certs needed to run local debugging via localhost.  We have been fixing some bugs in it recent months (mostly on mac) so it might be worth checking that you have the most up to date version of that module in package.json.  After updating package.json run 'npm install' and try 'npx off

[2022-03-07 20:41] msobkow commented on #1598
Oddly enough, I can't execute npx office-addin-dev-certs commands of any kind after doing an npm install and update.  But I had been reinstalling them late last night, and after a few hours of down time, those changes seem to have taken effect and the reinstalled certs from 6AM now work.  They didn't at 6AM. Go figure....

Still, this is very useful information that came out of resurfacing this is

[2022-03-07 21:32] millerds commented on #1598
There is a bug in the module for which the fix isn't published yet where comparing the dates of existing cert (in order to check if they need to be updated) isn't accurate to the hour or minute.  It's possible that is what you were encountering.

What's the error you get when trying to run the command after the update?

[2022-03-07 22:53] msobkow commented on #1598
'office-addin-dev-certs' is not recognized as an internal or external command,
operable program or batch file.

[2022-03-08 00:12] millerds commented on #1598
That error sounds like trying to run 'office-addin-dev-certs' directly instead of using 'npx'.  'npx' is supposed to install the package if it isn't already available (unless a non-existent version is specified somewhere).

[2022-03-08 00:55] msobkow commented on #1598
There is no need to insult me by suggesting I don't know how to type a command after being in the industry since the late '80s...

I also tried scrolling back in the command history to commands that HAD run successfully earlier.  It just isn't found any more, though it is in the directory tree for the project.

[2022-03-08 01:07] msobkow commented on #1598
Yes, I'm touchy when it comes to the insultingly obvious, the same as I am when some tier 1 "support person" tells me to reboot it...

[2022-03-08 17:46] millerds commented on #1598
Sorry . . . I didn't mean any insult.  I can see that said npx in your comments.  I was just trying to mak an observation on something I found confusing in hopes that it would give us a lead on where to take the investigation.  I guess I should clarify that since 'npx' is the command you are running I'm not sure why the error would complain about not finding the office-addin-dev-certs command.

If

[2022-03-08 19:11] msobkow commented on #1598
node 16.13.2
npm 8.4.1
"office-addin-cli": "^1.3.6",
"office-addin-dev-certs": "^1.7.8",
"office-addin-lint": "^2.0.1",
"office-addin-manifest": "^1.7.8",
"office-addin-prettier-config": "^1.1.5",

The truly bizarre thing is you can see office-addin-dev-certs in the node_modules directory.

[2022-03-09 01:55] peternor opened #3293 "Tutorial does not work as described"
I'll make it short and to the point. I followed the steps to create the Word Add-in using Visual Studio. Upon testing the project I received an error:

JavaScript critical error at line 24, column 11 in https://localhost:44372/Home.js\n\nSCRIPT1004: Expected ';'

After two days of Googling and not getting anywhere I finally found something that makes sense. Word Add-ins use an instance Internet Ex

[2022-03-09 15:21] AlexJerabek commented on #3293
Hi @peternor,

Thank you for this feedback. I'm sorry this hurt your productivity.

You are correct that some older versions of Word use IE11, as [documented here](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins). You will only be limited to ES5 JavaScript if you plan on having your add-in support those versions. In those cases, you can use a [trans

[2022-03-09 18:47] Rick-Kirkham commented on #3293
@AlexJerabek  This is an unexpected side effect of updating the JavaScript inside the Visual Studio tab of our quick starts, which we did just the other day. VS doesn't include a polyfill or transpiler. (Yo Office projects do.) Can we reverse that change, just for code inside a Visual Studio tab on quick starts and tutorials?

[2022-03-09 22:43] ElizabethSamuel-MSFT commented on #2657
@barclayadam What is your current status for this issue?

We've since updated the walkthrough to handle some configuration updates. Are folks able to access all the GA events and try the preview ones?

Thanks.

[2022-03-09 23:15] markdon commented on #3263
Can I continue the conversation about implementing this for our add-in privately? Via email in the PO?

[2022-03-09 23:42] AlexJerabek commented on #3293
I've created PR #3295 to establish a clearer expectation of the version of Office people should be working with for the quick starts and tutorials. I'll close this issue once that change is published to the live site.

[2022-03-10 16:58] barclayadam commented on #2657
@ElizabethSamuel-MSFT We have successfully deployed an add-in using the events as listed above, albeit with an ongoing issue with regards to the event-based activation not working for a number of users (as per #1861).

This issue could be closed though from my POV

[2022-03-10 17:29] ElizabethSamuel-MSFT commented on #2657
@barclayadam Thanks for that update. I'll go ahead and close this issue now.

If folks are still having trouble with this feature, do let us know with a new GitHub issue.

Thanks.

[2022-03-10 17:29] #2657 closed

[2022-03-10 17:50] barrelhes opened #3296 "Mac cache no com.microsoft folders in ~Library/Containers"
[Enter feedback here]
per the subject - there is no com.microsoft....  folders in ~Library/Containers at all

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e273e29-10ac-440e-634e-588b5208e484
* Version Independent ID: a5a6dc8a-b504-686e-80ce-45aabd6f832b
* Content: [Clear the Office cache - Office Add-ins](https://doc

[2022-03-10 18:26] AlexJerabek commented on #3296
Hi @barrelhes,

Thank you for raising this issue. @alison-mk, could you please investigate?

[2022-03-10 22:29] alison-mk commented on #3296
Hi @barrelhes, thanks for submitting this issue. I'm experiencing the same issue as you, so I will investigate internally to see how we should update this article. I'll let you know when I have more information.

Cheers,
Alison

[2022-03-11 00:16] AlexJerabek commented on #3293
Closing the issue, as previously mentioned.

[2022-03-11 00:16] #3293 closed

[2022-03-12 03:53] Mayu945 opened #3302 "Enabled feature works on Word and PowerPoint as well"
After adding the same control with the "enabled" feature, the manifest works on Word and PowerPoint as well.
Platform: win32

Is the Enabled feature really supported on Excel only?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c20c6831-2f89-5744-f1c3-5283ac6eb12e
* Version Independent ID: 400d9811-d5cc-1783-68a0-06835

[2022-03-12 04:18] alison-mk commented on #3296
Hi @barrelhes,

I've located these folders via terminal and via Finder on MacOS.

To locate via terminal, enter `cd ~/Library/Containers/`, and then enter `ls` to list all the folders in the Containers directory. Use `cd` + folder name to navigate to the correct folder.

To locate via Finder, make sure to look for Library in the user's root folder, not Library in the system's root folder. Library

[2022-03-12 21:19] Rick-Kirkham commented on #3302
It is now supported on Word and PowerPoint. We are just days away from updating the documentation to reflect this fact.

[2022-03-12 22:14] #3302 closed

[2022-03-14 14:00] gauravry opened #3306 ""message": "We were unable to run the script. Please try again.\nOffice JS error: Line 9: Worksheet getRange: The argument is invalid or missing or has an incorrect format.\r\nclientRequestId: 8f7b53d3-8d49-47be-ab38-36475d5ce2c1","
## Article URL

## Issue

[2022-03-14 14:02] gauravry commented on #3306
function main(workbook: ExcelScript.Workbook, lineCSV: string[]) {
	let selectedSheet = workbook.getActiveWorksheet();

const alllines = lineCSV;
let counter = 1;
for (let line of alllines){
			if(line.includes(",")){
			let items = line.split(",");
			selectedSheet.getRange("A"+ counter + "N"+counter).setValues([[items[0], items[1], items[2], items[3], items[4], items[5], items[6], items[7], item

[2022-03-14 14:02] gauravry commented on #3306
Please advise iam trying to convert csv to excel through typescript.

[2022-03-14 18:03] AlexJerabek commented on #3306
Hi @gauravry,

Thanks for reaching out. First, this GitHub repo is for Office Add-ins. I believe your question is about [Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/), the TypeScript-based automation model for Excel on the web. That repo is https://github.com/OfficeDev/office-scripts-docs

As for your question, the error you're getting is because the string for `Worksheet.g

[2022-03-15 08:09] gauravry commented on #3306
Thanks  Alex, for prompt support

[2022-03-15 09:39] TobiDimmel opened #3308 "Inconsistent requirements for Outlook on Android/iOS"
I understand this page that you can use Add-ins with on-prem Exchange Server and Outlook on Android/iOS.
But [here](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/requirements-for-running-office-add-ins#client-requirements-non-windows-smartphone-and-tablet) and [here](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability#outlook) it is suggested that

[2022-03-15 18:02] jewelerm opened #3309 "Getting an error with the correlated objects pattern processing"
When I tried to implement the sample code provided, I am getting an "ItemNotFound" error, on the second context.sync() call.

I have provided full code, data, and log details at [(https://stackoverflow.com/questions/71424151/office-js-api-with-fetch-to-get-data-from-server-replace-fields-in-word-itemn)]

What am I doing wrong, please?

Thank you.

---
#### Document Details

⚠ *Do not edit this sec

[2022-03-15 22:14] jakobpn opened #3312 "Should <Script> element also be modified?"
I am wondering if there is a bug in the instructions step 5 and whether the <SCRIPT> element should also be modified to:

            <Script>
              <SourceLocation resid="Taskpane.Url"/>
            </Script>

(Pointing to Taskpane.Url instead of Functions.Script.Url)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-03-15 23:13] AlexJerabek commented on #3312
Thanks for raising this issue @jakobpn.

@davidchesnut, could you please investigate?

[2022-03-16 01:13] samantharamon commented on #3308
Hi @TobiDimmel,

Thanks for bringing this to our attention. I am following up on this to get clarification, so that we can provide you with the correct information and update our documentation.

[2022-03-16 03:42] yifeiyin opened #3314 "Tutorial works for Mac but is missing in documentation"
1. In the "Prerequisites" section, last bullet point should be
[code]
Staying consistent with [Word add-in tutorial - Office Add-ins | Microsoft Docs](https://docs.microsoft.com/en-ca/office/dev/add-ins/tutorials/word-tutorial) and [PowerPoint add-in tutorial - Office Add-ins | Microsoft Docs](https://docs.microsoft.com/en-ca/office/dev/add-ins/tutorials/powerpoint-tutorial) etc.

2. In the "Creat

[2022-03-16 03:55] yifeiyin commented on #3314
Just notice the line in [Custom functions quick start - Office Add-ins | Microsoft Docs](https://docs.microsoft.com/en-ca/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows) which is the preceding article of this one in the **Office / Add-ins / Excel / Custom Functions / Tutorials** folder.

Hopefully that update will update this article as well

[2022-03-16 04:06] yifeiyin opened #3315 "Manually register Excel add-in should be part of the tutorial"
- Excel on Mac Version 16.58 22021501
- Tested using `yo office` with excel custom function template
- This is really hard to figure out for beginners since the tutorial just doesn't work

Affected articles: (at least these)
- [Custom functions quick start - Office Add-ins | Microsoft Docs](https://docs.microsoft.com/en-ca/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel

[2022-03-16 15:42] AlexJerabek commented on #3314
Hi @yifeiyin,

Thank you for reporting this issue. @alison-mk, could you please investigate?

[2022-03-16 15:45] AlexJerabek commented on #3315
Hi @yifeiyin,

Thanks for reporting this issue. I'm sorry to hear yo office didn't automatically launch the add-in in Excel. @alison-mk, could you please investigate?

[2022-03-16 19:36] jewelerm commented on #3309
I have finally resolved this problem, after much trial/error. Please see the same post mentioned previously for how I resolved it.
Thank you.

[2022-03-16 19:36] #3309 closed

[2022-03-16 20:16] ElizabethSamuel-MSFT commented on #3309
@jewelerm Glad to hear that you got your problem resolved. Thanks for letting us know.

[2022-03-16 22:47] #3296 closed

[2022-03-17 00:17] b-gonzalez commented on #1598
I just got this error recently as well. My case was a bit odd I think. The add-in worked correctly in Excel Online. And the add-in worked correctly in the localhost when I ran `npm start` from my desktop. However, it did not work correctly when I opened Excel desktop using the Excel shortcut on my taskbar. And it did not work correctly when I used the Open In Desktop App button on Excel Online. I

[2022-03-17 08:26] NightGreyMoon opened #3316 "ta"
[Enter feedback here]
Got below message
Unable to download project zip file for "https://github.com/OfficeDev/Office-Addin-TaskPane-JS/archive/yo-office.zip".
Error: read ECONNRESET
after ran the "yo office" with following the guide

Tried on both Windows and Mac, anyone can help?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-03-17 11:20] iwhp opened #3317 "Typing: Excel should be Word"
This
A Word add-in interacts with objects in Excel by using the Office JavaScript API, which includes two JavaScript object models:

should read as
A Word add-in interacts with objects in **Word** by using the Office JavaScript API, which includes two JavaScript object models:

and this
which you can use to check whether a specified requirement set is supported by the Excel application where the a

[2022-03-17 15:57] AlexJerabek commented on #3317
Thanks for pointing that out @iwhp. I'll get those typos corrected soon.

[2022-03-17 16:21] AlexJerabek commented on #3316
Hi @NightGreyMoon,

Thanks for reporting this. I am unable to reproduce your issue. It might be that your local firewall settings are blocking the file download. Let me tag @millerds and @igor-ribeiiro to see if they have any thoughts.

[2022-03-17 16:33] igor-ribeiiro commented on #3316
I also couldn't reproduce the issue. I'm not sure what could be causing this issue other than network-specific configuration that could be blocking the download

[2022-03-17 18:43] AlexJerabek commented on #3317
Thanks again @iwhp. These changes should be live later this afternoon.

[2022-03-17 20:40] AlexJerabek commented on #3316
@NightGreyMoon,
My next two troubleshooting steps would be:
1. Make sure you can download that zip file directly. If you can't navigate to that URL, you definitely have a network configuration that's blocking GitHub or external files.
2. Make sure you're running your command prompt as an administrator.

Since we can't reproduce this issue and it doesn't seem like a problem with yo office, I'm goin

[2022-03-17 20:40] #3316 closed

[2022-03-18 07:35] NightGreyMoon commented on #3316
@AlexJerabek , thank you very much for the reply.

I've tested that I can download this zip on browser, but it is slow (don't know if it affects)

And for point 2, I also tested with running VS Code as Administrator on Windows, same error there

After all, I was wondering if it is network to GitHub unstable (I'm from China)

[2022-03-18 15:35] AlexJerabek commented on #3316
@NightGreyMoon Are you able to try the [Visual Studio version of the quick start](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=visualstudio). If you have Visual Studio (not Visual Studio Code), that might be a good test whether it is your network connectivity or something else.

Otherwise, my theory is that you are hitting a timeout when running yo o

[2022-03-18 21:43] alison-mk commented on #3314
Hi @yifeiyin, thanks for submitting this suggestion! I've tested and confirmed your changes, and incorporated them into a PR. Once that PR is merged, this issue will close automatically.

Cheers,
Alison

[2022-03-21 19:51] #3314 closed

[2022-03-22 16:40] davidchesnut commented on #3312
Hi @jakobpn,

Good catch! Yes you should also change the <Script> tag. I put this on the backlog to fix.

[2022-03-23 16:15] tj-aew opened #3327 "Command doesn't work on Windows in cmd.exe"
The example command for scaffolding a new project doesn't work correctly in `cmd.exe` and lacks a bit of clarity.

## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime

## Issue

The documentation shows this command to scaffold a new project:

[code]

There are a couple of issues with that:

1. It doesn't work in `cmd.exe` with a

[2022-03-23 17:33] AlexJerabek commented on #3327
Thanks for reporting this @tj-aew.

@Rick-Kirkham, could you please take a look?

[2022-03-23 17:59] Rick-Kirkham commented on #3327
I can reproduce these errors. I will correct the doc.

[2022-03-24 01:56] alison-mk commented on #3315
Hi @yifeiyin, thank you for submitting this feedback! I've tested the custom functions tutorial and quick start and confirmed your findings. I've also opened a PR to incorporate the feedback you suggested. This issue will close once that PR is merged.

Cheers,
Alison

[2022-03-24 08:23] PaulBol opened #3331 "Content contradicts API documentation"
From https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in

From https://docs.microsoft.com/en-us/javascript/api/office?view=common-js-preview#office-office-onready-function(1)

I believe the former is wrong and the latter is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbd18eba-b62e-

[2022-03-24 09:17] JesseHeisenberg opened #3332 "[Outlook] API call slowly in outlook for mac"
## Article URL

## Issue

outlook for mac version: 16.59(22031300)

License: Microsoft 365 Subscription

Office-js version: 2.3.0(https://appsforoffice.microsoft.com/lib/1/hosted/Office.js)

In our addin, we add a setInterval to call **window.Office.context.mailbox.item.body.getAsync, window.Office.context.mailbox.item.to.getAsync, window.Office.context.mailbox.item.cc.getAsync, window.Office.cont

[2022-03-24 16:01] AlexJerabek commented on #3331
Thanks for pointing this out @PaulBol.

@davidchesnut, could you please investigate this?

[2022-03-24 19:34] #3315 closed

[2022-03-24 20:06] #3327 closed

[2022-03-28 19:31] SupplyChef opened #3342 "What to do with the secret"
The page mentions: Generate a client secret to act as a password for your add-in when requesting a token.

There is no other mention of the secret. What do we need to do with it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb06c24b-9d11-9cc5-2e98-561601452638
* Version Independent ID: abda21d9-6e80-8319-c56f-0046580

[2022-03-28 19:33] AlexJerabek commented on #3342
Thanks for raising this question @SupplyChef.

@davidchesnut, could you please respond and update the documentation accordingly?

[2022-03-28 21:40] davidchesnut commented on #3342
Hi @SupplyChef,

It gets used on the web server side to send to the Microsoft identity platform as part of the [On-Behalf-Of flow](https://docs.microsoft.com/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow). You can see where in code it gets used by the following walkthroughs:
- [Office Add-in ASP.NET SSO](https://docs.microsoft.com/office/dev/add-ins/develop/create-sso-office-add-ins-a

[2022-03-28 22:08] davidchesnut commented on #3331
Thanks @PaulBol you are correct! I added this to our backlog tracked as 5928688.

Thanks!
David

[2022-03-28 22:32] davidchesnut commented on #3105
Will close this issue for now.

[2022-03-28 22:32] #3105 closed

[2022-03-29 03:42] SupplyChef commented on #3342
Thanks for the pointers.

I was trying to enable SSO for an existing add-in and I was having troubles making it work. Since there are many moving pieces I was unsure what the problem could be. I thought the secret might have been it since it was not immediately clear to me how to use it. In the end it was unrelated: I had the wrong manifest xml.

Maybe a line or two on the purpose of the secret wo

[2022-03-29 07:44] DainisVerdins opened #3344 "The content is blocked because it isn't signed by a valid security certificate"
I have developed an addin for outlook 365 but i can't start then in my desktop outlook, i get the error The content is blocked because it isn't signed by a valid security certificate.
![image](https://user-images.githubusercontent.com/55252915/160558378-0e598af0-0a82-4288-8eae-310fc356c8da.png)

then I am using my add-in in ethernet outlook in chrome it works fine as expected.

i run this command

[2022-03-29 16:53] nkkinariwala commented on #3344
@preethikakiru  - Is it something you can help with?

[2022-03-30 17:01] ElizabethSamuel-MSFT commented on #2615
@dvshkn The docs have since been updated. Please take a look at the guidance for [sideloading an Outlook add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing).

I'll go ahead and close this but if you're still having issues, let us know by creating a new issue or responding on this thread as appropriate.

Thanks.

[2022-03-30 17:01] #2615 closed

[2022-03-30 17:03] ElizabethSamuel-MSFT commented on #2571
@cody-lettau The new Mac UI preview now supports the on-send feature.

As such, I'll go ahead and close this but if you face any further issue, let us know by creating a new issue or replying on this thread as appropriate.

Thanks.

[2022-03-30 17:03] #2571 closed

[2022-03-30 17:04] #2956 closed

[2022-03-30 17:05] davidchesnut commented on #2956
I added instructions to the doc for how to set up CORS for custom functions. BTW: @MitchHamill there is no list for the endpoints that could call you for Mac/Windows etc. There are many and they change from time to time. You could try applying a filter like *.live.com or similar.

[2022-03-31 01:00] #3312 closed

[2022-03-31 13:28] nonstdout opened #3350 "Update Button component example"
Please update the example to reflect the fact that path of exports of fluentui have changed. As per the below post:

https://www.develop1.net/public/post/2022/03/07/fluent-ui-update-breaks-pcf-path-imports

e.g

[code]

not

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ba07460-1e7e-7272-8a36-670a818ef61a
* Ve

[2022-04-01 16:56] #3331 closed

[2022-04-01 16:58] AlexJerabek commented on #3350
Thanks for reporting this @nonstdout.

@Rick-Kirkham, could you please investigate and update the documentation as needed?

[2022-04-01 17:00] AlexJerabek commented on #3331
@PaulBol, Thank you again for reporting this. The update has been checked into the repo. The live documentation site will be updated soon.

[2022-04-01 19:40] alison-mk commented on #3241
Hi @SupplyChef, thanks for your patience. We're unable to replicate the issue that you're encountering. It looks like a TypeScript transpilation error that is specific to your environment; the taskpane.ts file on line 10 is trying to reference something it can’t find.

I'm going to close this issue because we can't take any further action, but if you're still encountering the error then you could

[2022-04-01 19:40] #3241 closed

[2022-04-01 20:45] #3350 closed

[2022-04-02 18:55] PaulBol commented on #3331
Great, glad to see the input was helpful to improve the documentation.

[2022-04-05 09:01] danielpdev opened #3354 "Update powerpoint slide"
Hi,

I have an issue when trying to update a PowerPoint slide, more exactly I want to build on the server the controls that are not available on the frontend version of PowerPoint and then insert them into the slide.

Is there any way of doing this without inserting a new slide which is base64 encoded?

Thank you

[2022-04-05 14:13] tj-aew opened #3355 "Lack of or unclear or out of date debugging instructions in `yo office` template"
# Provide required information needed to triage your issue

Having bootstrapped a new custom functions project via [`yo office`](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/yeoman-generator-overview), there don't seem to be clear debug steps (or the steps there don't work) and sadly I haven't been smart enough to get it working. The `README.md` says:

That [Custom functions debuggi

[2022-04-05 17:45] millerds commented on #3344
The reason the verify command didn't work is because you didn't use 'npx" at the beginning.

Note that the certificate is for running the add-in locally (using webpack) and the host being able to access it from there.  It's not affected by browser settings when using desktop apps.

Can you run this in PowerShell and share the results here:
'Get-ChildItem cert:\\CurrentUser\\Root | Where-Object Iss

[2022-04-05 20:23] AlexJerabek commented on #3355
@grangeryy, could you please also assist here?

[2022-04-06 00:41] exextoc commented on #3263
Apparently this was followed up on privately. Closing the issue.

[2022-04-06 00:41] #3263 closed

[2022-04-08 18:08] Rick-Kirkham opened #3361 "Two small problems in code block"
There are two problems in the code block in this section: https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/outlook-tutorial#update-the-function-file-javascript

1. The `reason` parameter is passed to `Office.initialize` but nothing is done with it because `Office.initialize` has no body. This looks amateurish. If `initialize` doesn't have a body, it shouldn't have any parameters passs

[2022-04-08 20:15] samantharamon commented on #3361
Thanks for catching these, @Rick-Kirkham. I've added this to the backlog for fixing.

[2022-04-09 21:21] NinaM31 opened #3364 "Inconsistent requirement set 1.8 for Outlook method: getAllInternetHeadersAsync:"
## Article URL

https://docs.microsoft.com/en-us/javascript/api/requirement-sets/outlook/requirement-set-1.8/outlook-requirement-set-1.8?view=common-js-preview
## Issue

According to the doc `getAllInternetHeadersAsync` is only supported in 1.8, however the latest iOS outlook version `4.2213.0` supports this method but the latest Android outlook version `4.2211.1` does not.

When using `getAllInte

[2022-04-11 17:06] AlexJerabek commented on #3364
Thanks for reporting this @NinaM31.

@samantharamon, could you please investigate?

[2022-04-11 17:27] samantharamon commented on #3364
Hi @NinaM31,

Thank you for letting us know. I'm sorry to hear it took some further troubleshooting to figure out the issue. We'll definitely look into this, so that we can update our docs accordingly.

[2022-04-12 00:19] samantharamon commented on #3308
Thank you for your patience, @TobiDimmel.

After looking into this further, we've confirmed that add-ins are not supported on Outlook on Android, Outlook on iOS, and modern Outlook on the web for on-prem accounts. An exception to this is add-ins on iOS devices accessed through classic Outlook on the web using an on-prem account (see [Client requirements: Non-Windows smartphone and tablet](https://

[2022-04-12 08:26] suryakiranchikkala opened #3367 "Register the online-meeting template for Moxo"
Can you register the online-meeting template for our Moxo Service

 '<br>' +
 	'Test User is inviting you to a scheduled Moxo meeting.' +
 	'<br><br>' +
 	'Join Moxo Meeting:'+
 	'<br>' +
	'<a href="https://moxo.moxo.com/428427995" target="_blank">https://moxo.moxo.com/428427995</a>' +
	'<br><br>' +
    'Meeting ID: 428427995' +
	'<br><br>' +
	'Passcode: 234w2323' +
	'<br><br>';

---
#### Document

[2022-04-12 15:17] ElizabethSamuel-MSFT commented on #3367
@suryakiranchikkala Thanks for your request. We'll have the product team take a look.

Thanks.

[2022-04-12 16:19] ElizabethSamuel-MSFT commented on #3217
Transferring to product repo for resolution

[2022-04-12 22:51] osmanm786 commented on #3355
anything on this UI-less custom functions debugging?

[2022-04-12 22:51] osmanm786 commented on #3355
anything on this UI-less custom functions debugging?

[2022-04-13 01:25] Rick-Kirkham opened #3370 "Step needs correction"
The following line:
If the local web server is already running, stop it by closing the node command window.

Should say:

If the local web server is already running, stop it by entering `npm stop` in the command prompt. This should close the node command window.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac7d9e2d-b

[2022-04-13 01:27] alison-mk commented on #3355
Hi @tj-aew, thank you for bringing this to our attention and providing so much information. You're correct, we don't currently have an article that describes how to debug the default custom functions add-in installed by Yo Office. I'm researching this particular debugging scenario internally and will leave this GitHub issue open as I do that research.

Is your add-in development blocked in any spe

[2022-04-13 16:25] tj-aew commented on #3355
@alison-mk Thanks Alison. It's not currently getting in the way (though it did cost a lot of time), because I had an old custom functions project that does mostly work for debugging, so I used that instead (which sounds simple but was more complicated than that).

I'm not 100% sure it's only a documentation problem as @Rick-Kirkham said, though I agree it's reasonable to start there. Starting `Dev

[2022-04-13 22:23] #3370 closed

[2022-04-13 22:50] LuciusLaFro commented on #1598
I had this same issue. I tried deleting and reinstalling certificates but that didn't work. What did work was running "npm run start"
Maybe this was just a fluke but I figured that I would share and hopefully it helps someone else figure it out too!

[2022-04-14 11:25] theboyknowsclass opened #3372 "Steps to force office to use internet explorer don't seem to work for me"
[Enter feedback here]

Excel etc. seem to still load up with Webview (based on being able to inspect and get the useragent)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47b7b417-12e6-193f-6b89-37e088b31dbc
* Version Independent ID: df705bd2-5f2f-2c84-0519-fca9a3c45d71
* Content: [Internet Explorer 11 testing - Office

[2022-04-14 19:48] AlexJerabek commented on #3372
Hi @theboyknowsclass,

Could you please verify which version of Excel is installed and being used with your environment?

[2022-04-15 14:10] mendeza opened #3376 "When will the nightmare end?"
Seriously, when will IE11 be gone for good?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browse

[2022-04-15 18:43] AlexJerabek commented on #3376
Hi @mendeza,

The browser control running IE11 is still embedded in older versions of Office (or used with older versions of Windows). To target those Office versions, you'll need to support IE11. As of right now, there are no plans to backport a new Webview controller in those non-subscription Office versions.

That said, you can have your add-in gracefully fail if IE11 is the browser. As shown i

[2022-04-15 18:43] #3376 closed

[2022-04-15 18:55] mendeza commented on #3376
OK. Right. Next order of business: kill off those older versions of Office. Thank you.

[2022-04-15 22:22] #3308 closed

[2022-04-15 23:52] samantharamon commented on #3230
Hi @elthombre,

I wanted to give you an update on this. We raised this topic with the team to see where and how we can improve our Mac documentation and integrate your feedback. Because this requires further discussion and review from our end, I will go ahead and close this GitHub issue. Rest assured that we are tracking this internally via work item 5820971.

In the meantime, if you have specific

[2022-04-20 16:32] ckollipa-adm commented on #3106
Any updates?

[2022-04-20 18:29] exextoc commented on #3367
@suryakiranchikkala Is your addin approved and available in our store?

[2022-04-20 23:50] samantharamon commented on #3106
Hi @ckollipa-adm,

We are still in the process of reviewing and updating our API documentation. I will update this issue as soon as this task has been completed.

In the meantime, please be advised that Outlook add-ins using REST V2 created before November 2022 are eligible for an exemption. If this is something you'd like to opt into, please register your add-in at https://aka.ms/RESTCheck.

[2022-04-20 23:59] #3230 closed

[2022-04-21 07:09] suryakiranchikkala opened #3382 "On-send feature for AppSource"
[Enter feedback here]
Hello,
I wanted to know:

When add-ins that use the ItemSend will be allowed in AppSource? Is there a timeline ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e12d688-9620-e8f2-871d-922ec98008b5
* Version Independent ID: a8b409f3-44f7-97e5-d722-cbf04edc0653
* Content: [On-send feature for Outloo

[2022-04-21 22:00] #3372 closed

[2022-04-22 09:27] glr0221 opened #3384 "OfficeRuntime.Auth.getAccessToken is supported in mobile?"
Hello Microsoft,

I would like to get clarification. Your document talks about SSO working  on top of desktop and mobile using the getAccessToken() function.

Does Mobile (IOS and Android) already support Identity API 1.3?  Or am I missing something or misunderstanding something?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-04-22 15:42] AlexJerabek commented on #3384
Hi @glr0221,

Thank you for the question. @davidchesnut, could you please investigate?

[2022-04-22 15:43] AlexJerabek commented on #3382
Hi @suryakiranchikkala,

I do not believe there is a timeline for ItemSend being supported in AppSource. Let me tag @JuaneloJuanelo to confirm.

[2022-04-25 12:02] theboyknowsclass opened #3385 "Are there alternative ways to deploy the addins to IpadOs?"
Hi,

i thought previously manifests could be deployed via the 365 Admin portal?  This seems to work for Windows, Mac and online, but i cannot seem to get this showing up on ipad?

can someone confirm whether this is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589820d2-9925-dc5e-76a7-83921a569137
* Version

[2022-04-25 16:04] ElizabethSamuel-MSFT commented on #3385
@theboyknowsclass Can you let us know which Office application you're working with?

Thanks.

[2022-04-25 16:07] theboyknowsclass commented on #3385
hi @ElizabethSamuel-MSFT (and @AlexJerabek ) for the quick response... we have 1 manifest for an application that works in Excel, Powerpoint and Word hosts.

manifest.xml ->
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<OfficeApp xmlns="http://schemas.microsoft.com/office/appforoffice/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bt="http://schemas.microsoft.com/offi

[2022-04-25 18:59] emuench opened #3387 "Is this page really still in preview after seven months, or does the title need to be updated? No reply needed, just FYI to you."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a7c8c2-c855-dbcb-8858-4aa616a59a27
* Version Independent ID: c74d3973-0cdc-80b2-c6e1-2542b1be96c3
* Content: [Debug your event-based Outlook add-in (preview) - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/debug-autolau

[2022-04-25 19:50] ElizabethSamuel-MSFT commented on #3387
@emuench Thanks for letting us know. We'll take a look.

Thanks.

[2022-04-26 19:19] ElizabethSamuel-MSFT commented on #3385
@theboyknowsclass Thanks for sharing your manifest. At present, iPad is not a supported platform for users to receive your non-Outlook add-in deployed via the Microsoft 365 admin center as an [integrated app](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/test-and-deploy-microsoft-365-apps?view=o365-worldwide) or through [centralized deployment](https://docs.microsoft.com/en-us/micros

[2022-04-26 19:19] #3385 closed

[2022-04-27 00:13] samantharamon commented on #3387
Hi @emuench,

Thank you for bringing this to our attention. We've verified that debugging event-based Outlook add-in is no longer in preview. We'll update this article accordingly.

[2022-04-28 05:48] suryakiranchikkala commented on #3367
No. It's under development

[2022-04-28 22:33] #3387 closed

[2022-04-28 23:35] Rick-Kirkham opened #3392 "misuse of "JSON""
In several places this article uses "JSON object" or similar termology when what is meant is a JavaScript object. JSON objects and JavaScript objects are not quite the same thing.

THIS IS A LOW PRIORITY.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c223d75-70f3-ccdc-0137-4fc1a2aa885f
* Version Independent ID: c5566

[2022-04-29 00:03] Rick-Kirkham opened #3393 "Inaccurate reference to SAML token in diagram"
The diagram on this page has an object labelled "SAML token". The token is not SAML. It is JWT.

This is about the article: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins

For some reason, GitHub filled in the **Document Details" below from the last article that I created an issue for. Not this one.
---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-04-29 13:19] richstr opened #3395 "Invalid example API referenced in page"
[The following API is referenced in this page, it is no longer valid - https://www.contoso.com/NumberOfPeopleInSpace]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 667d1e98-4a95-318f-0df1-182722370ac8
* Version Independent ID: f8265387-ba9d-a5db-ef44-8409441b2ece
* Content: [Receive and handle data with custom functio

[2022-04-29 15:46] AlexJerabek commented on #3395
Hi @richstr,

The URL used in that sample was intended to be a hypothetical URL. You replace it with a URL that'll be the data source for your scenario.

I'm going to assign this to @alison-mk to either make that more clear or use a real URL.

[2022-05-01 08:17] kinnplh opened #3397 "Get 404 after clicking "Insert Image" button"
Hi, I followed the steps in the "Insert an Image" section and encountered a problem when trying the add-in. When I clicked the Insert Image button,  it showed an error notification. I set a break-point and found that the ajax returned 404 when getting /api/Photo/.

It seems that the tutorial has not discussed how I can configure the routers and I wonder whether the routers are configured automatic

[2022-05-01 16:15] gullbyrd opened #3398 "Debug instructions don't work for office.js on mac"
This simply doesn't work. I installed the non-mac store version from the dev program, entered the word command in terminal, multiple times, and nothing will get the context menu to appear when I right-click in the addin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be179784-5839-3e8f-c131-1f4d89808b03
* Version Indep

[2022-05-02 16:12] AlexJerabek commented on #3397
Hi @kinnplh,

Thanks for reporting this issue. @Rick-Kirkham, could you please investigate?

[2022-05-02 16:15] AlexJerabek commented on #3398
Hi @gullbyrd,

Sorry to hear you're having issues. Could you please clarify what you mean by "non-mac store version"? What version of Office are you using to build and test your add-in? Thanks!

Let me also assign @alison-mk to start investigating.

[2022-05-02 21:40] Rick-Kirkham commented on #3397
If you paste this URL into the browser, does the image open? http://bing.com/th?id=OHR.LeiDay_EN-US2557797109_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp

[2022-05-02 21:53] Rick-Kirkham commented on #3392
tracking internally, so I will close this.

[2022-05-02 21:53] #3392 closed

[2022-05-03 01:53] alison-mk commented on #3395
Hi @richstr, thanks for submitting this issue. I've updated the article in PR #3403 to address your concern. Once that PR is merged, this issue will close. Let us know if you have any additional questions.

Cheers,
Alison

[2022-05-03 04:39] kinnplh commented on #3397
Thank you for your response! Yes, the image opens. Besides, I modified the `Get()` function in the `PhotoController` and returned a hardcode base64 string (similar to the `getImageAsBase64String` function in the [previous article](https://docs.microsoft.com/zh-cn/office/dev/add-ins/quickstarts/powerpoint-quickstart?tabs=visualstudio)), but I still got the same error. I think there may be something

[2022-05-03 07:43] zjmchoi opened #3404 "Register the online-meeting template for Viqueens"
'<br>' +
    '<a href="https://viqueens.com/meeting?id=123456789" target="_blank">Join Viqueens meeting</a>' +
    '<br><br>' +
    'Phone Dial-in: +1(123)456-7890' +
    '<br><br>' +
    'Meeting ID: 123 456 789' +
    '<br><br>' +
    'Want to test your video connection?' +
    '<br><br>' +
    '<a href="https://viqueens.com/testmeeting" target="_blank">Join test meeting</a>' +
    '<br><br>';

[2022-05-03 08:00] ipecsAdmin opened #3405 "Register the online-meeting template for Ipecsone"
'<br>' +
    '<a href="https://ipecsone.com/meeting?id=123456789" target="_blank">Join Ipecsone meeting</a>' +
    '<br><br>' +
    'Phone Dial-in: +1(123)456-7890' +
    '<br><br>' +
    'Meeting ID: 123 456 789' +
    '<br><br>' +
    'Want to test your video connection?' +
    '<br><br>' +
    '<a href="https://ipecsone.com/testmeeting" target="_blank">Join test meeting</a>' +
    '<br><br>';

[2022-05-03 17:21] AlexJerabek commented on #3404
Assigning to @exextoc for registration.

[2022-05-03 17:22] AlexJerabek commented on #3405
Assigning to @exextoc for registration.

[2022-05-03 18:16] GrumpyAL commented on #3106
Hi, @ckollipa-adm!  One note I have for you: you can call an Azure AD login page to get graph access for mobile devices.  However, I will note it is a much degraded user experiences vs using REST tokens or GRAPH SSO tokens.  Especially if you're add-in is meant to do small/quick actions related to the message.  The login page/process becomes the majority of add-in interaction time.

This demo has

[2022-05-04 08:06] kinnplh commented on #3397
Thank you! I will also try to solve the problem ~

[2022-05-04 23:33] samantharamon commented on #3106
Great question, @GrumpyAL . I've verified that the form applies to both private add-ins and add-ins in AppSource.

[2022-05-05 03:29] #3395 closed

[2022-05-05 08:12] kinnplh commented on #3397
I found an archived [repo](https://github.com/OfficeDev/Office-Add-in-JavaScript-WebApiService). I add the code in the tutorial to that project and it works.  I compare the codes and it seems that some important files (such as Global.asax and WebApiConfig.cs) are missing in the tutorial.

[2022-05-05 08:26] richstr commented on #3395
Thanks!

[2022-05-06 02:55] sdbarrington opened #3411 "please add an example returing a dymanic spill array from a streaming function"
please add an example returing a dymanic spill array from a streaming function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa98c9b-159b-fdc6-03e6-283d483e0d3e
* Version Independent ID: 17f6b1ef-ee34-3f1c-2c9d-828c4a3dd950
* Content: [Return multiple results from your custom function - Office Add-ins](https://docs.m

[2022-05-06 04:19] rvab opened #3412 "Missing instruction while testing with Office development tool"
Once the Office Deployment Tool(https://www.microsoft.com/download/details.aspx?id=49117) is downloaded. The downloaded file is `officedeploymenttool_15028-20160.exe`. You need to execute the `officedeploymenttool_15028-20160.exe` file in order to get the `setup.exe` file. This instruction was missing. It took me a while to figure this out. Please do mention this. Thank you.

---
#### Document Det

[2022-05-06 15:45] AlexJerabek commented on #3412
Thanks for reporting this missing step @rvab.

@Rick-Kirkham, could you please verify and update the documentation accordingly?

[2022-05-06 15:46] AlexJerabek commented on #3411
Hi @sdbarrington,

Thank you for the documentation sample request. @alison-mk, can you please investigate and add the request to our backlog as appropriate?

[2022-05-09 07:15] kasturgo opened #3413 "Documentation seems to mention that client's add-in code sends refresh token"
Under [Authorize the backend Web API](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/implement-sso-in-outlook-add-in#authorize-the-backend-web-api) below is what is mentioned
"Once the flow completes, the add-in sends the refresh token to the backend Web API and includes the SSO token (if available) or the Exchange identity token."

As far as I know if we use Implicit flow, we don't g

[2022-05-09 07:19] kasturgo opened #3414 "A note points to a deprecated link in documentation"
Under [Authorize the backend Web API](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/implement-sso-in-outlook-add-in#authorize-the-backend-web-api) it is mentioned

Note

The example add-in at [Outlook Add-in SSO](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Outlook-Add-in-SSO) shows how to use the [Dialog API](https://docs.microsoft.com/en-us/javascript/a

[2022-05-09 17:06] AlexJerabek commented on #3413
Thanks for reporting this @kasturgo.

@davidchesnut, I know you're working on this currently, but you could please provide clarification here.

[2022-05-09 18:58] sanjgupt opened #3415 "Error in web command"
[Enter feedback here]
Hi when following the instructions to sideload the add-in on the web, I get the following error:

![image](https://user-images.githubusercontent.com/42555338/167478732-e8139ee8-4631-46aa-8a67-b8a7bb9bd8b3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Ve

[2022-05-09 19:01] #3398 closed

[2022-05-09 19:18] AlexJerabek commented on #3415
Hi @sanjgupt,

Did you get any errors when running `yo office`? What happens when you run `npm start` (without the web command)?

[2022-05-09 20:32] #3412 closed

[2022-05-09 22:00] #3344 closed

[2022-05-10 06:45] ipecsAdmin commented on #3405
Hi,

I am registered the online-meeting template here (github).

and, I got a mail from you.

but, I still don't see the Join link.

What should I do? (What was the next action?)

[2022-05-11 00:45] Rick-Kirkham commented on #3397
I have reproduced this. I haven't tried to reproduce your workaround yet, but I'm sure you are right. Visual Studio is not creating some of the needed folders and files. I'm not sure when these should be created. It is either when the project is created or when the reader is instructed to add a **Web API 2 Controller - Empty** scaffolding. Probably, the latter. This seems to be a bug in Visual Stu

[2022-05-11 05:53] chentao1006 opened #3419 "Using command line to change web view is not working"
Using command line to change web view to IE is not working. After run the command and saw "The web view type is set to Microsoft Internet Explorer." message, it still runs with Edge runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47b7b417-12e6-193f-6b89-37e088b31dbc
* Version Independent ID: df705bd2-5f2f-2c84-

[2022-05-11 13:27] jkoberg opened #3420 "eslint fails on new `yo office` react project with `TypeError: Error while loading rule 'prettier/prettier': context.getPhysicalFilename is not a function` when opening project in IntelliJ"
Followed the quickstart, and the default configuration fails in my editor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e380a7-6e2e-ada8-d297-3fd5018a1958
* Version Independent ID: f23490e8-6eeb-f2d5-6c94-69e3c9ed83f4
* Content: [Build your first Word task pane add-in - Office Add-ins](https://docs.microsoft.com/en

[2022-05-11 16:03] AlexJerabek commented on #3420
Thanks for reporting this @jkoberg. Just to clarify, is your add-in project working fine, aside from the linter error?

@Rick-Kirkham, could you please investigate?

[2022-05-11 19:57] Rick-Kirkham commented on #3397
I've found the range of VS 2019 version numbers that have the bug. Instead of giving the reader tedious instructions for manually creating the scaffolding, I'll just have the instructions warn readers not to use the buggy versions. VS 2022 is not affected by the bug.

[2022-05-11 22:08] Rick-Kirkham commented on #3420
@jkoberg I just went through the article and did not reproduce this issue. Your issue title mentions "react", but the article has the reader create a non-React project. Is your issue really with the article, or is it with a React project generated by Yo Office? If it is the latter I can move issue to the repo for Yo Office.

[2022-05-11 22:26] #3397 closed

[2022-05-13 20:40] #3393 closed

[2022-05-13 20:50] davidchesnut commented on #3384
Hi @glr0221 you are correct. SSO is not currently supported on mobile. I'll make a pass over the docs to be sure they aren't implying that anywhere. The correct list of support is documented at [Identity API requirement sets](https://docs.microsoft.com/javascript/api/requirement-sets/common/identity-api-requirement-sets). Thanks!

[2022-05-13 23:48] sanjgupt commented on #3415
Hi @AlexJerabek , the documentation did not say, but it only worked when I ran the terminal in admin mode.

[2022-05-16 17:46] AlexJerabek commented on #3415
@Rick-Kirkham, is the requirement to run yo office as an admin new?

[2022-05-16 17:55] sanjgupt commented on #3415
Hi @AlexJerabek , I would like to take back my previous comment about yo office. I updated node and everything is now working correctly.The npm run start:web command now fails as follows:
![image](https://user-images.githubusercontent.com/42555338/168653795-13f41b4c-9e3e-4096-914e-533ac7e4c27d.png)

[2022-05-16 17:57] Rick-Kirkham commented on #3415
I can run Yo Office in non-Admin mode. No problems.

[2022-05-16 19:44] AlexJerabek commented on #3415
Thanks @sanjgupt. I'm glad you're unblocked. Please let us know if you find any other issues.

It looks like there's a mention of needing to run in admin mode in the quickstart, so I'll close this issue. @Rick-Kirkham, if you think that note needs to be changed in any way to help discoverability, please reopen the issue.

![image](https://user-images.githubusercontent.com/38896772/168669807-8009c8

[2022-05-16 19:44] #3415 closed

[2022-05-16 22:07] alison-mk commented on #3411
Hi @sdbarrington, thank you for submitting this request. Here is a GitHub Gist with a code snippet showing a streaming custom function that returns a dynamic spilled array: https://gist.github.com/alison-mk/322b1a3632de8033ead545afbbc8acda.

I will add this code snippet to our documentation in the near future — that task is in my backlog ([internal tracking link](https://office.visualstudio.com/OC

[2022-05-16 22:07] #3411 closed

[2022-05-16 22:52] sdbarrington commented on #3411
thanks!

[2022-05-17 19:02] bhattikashif opened #3425 "How to set Title of Office Dialog"
This page says that "Include a descriptive title that includes your add-in name along with the current task. " but I am unable to find a way to change Dialog's Title. Can you provide a sample of how one can change it?

<br class="Apple-interchange-newline">
</body>
</html>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-05-17 19:13] AlexJerabek commented on #3425
Thanks for this sample request @bhattikashif.

@Rick-Kirkham, could you plese help out here?

[2022-05-17 19:57] Rick-Kirkham commented on #3425
@bhattikashif Good catch. That line in the article is misleading. Currently, you cannot control the title of the dialog. It will always begin with the name of the add-in. It takes this string from the `<DisplayName>` element in the manifest. If the page that is initially opened has a `<title>` element, then the name of the add-in is followed by a dash and then the value of the `<title>` element. W

[2022-05-18 06:23] rootlocus22 commented on #584
Is there a Cypress like solution for Office Add In, we need to prepare an end to end integration testing framework to automate our flows?

[2022-05-18 19:00] igor-ribeiiro commented on #584
Unfortunately, we currently don't have any end-to-end testing framework. So we don't have a Cypress-like solution at the current time.

[2022-05-18 19:01] #3419 closed

[2022-05-20 00:47] #3425 closed

[2022-05-21 00:00] davidchesnut commented on #3414
I updated the references in PR #3429  So this should be fixed now.
Thanks @kasturgo!

[2022-05-21 00:00] #3414 closed

[2022-05-21 00:11] davidchesnut commented on #3413
Hi @kasturgo,

Thanks! You are correct. I marked this as a doc bug and will make some updates to this article. As you point out you do not need to use implicit flow. The text is a bit confusing, but basically you need to call getAccessToken() to get the access token to your web server from Office SSO. When you call any APIs on your web server you pass this access token so that your web server can

[2022-05-23 10:28] georgekeeling opened #3436 "Tutorial: Create an Excel task pane add-in does not work (on my machine)"
Comment modified 24 May 11:20 CET. What I saw or typed on screen is now in **bold**.
I have installed Visual studio 2022 (this may be irrelevant) and am trying to follow this tutorial which is at
https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial
It does not seem to work!

I had to additionally install node.js 16.14-0 LTS Recommended for most users from https://nodejs.org

[2022-05-23 17:49] AlexJerabek commented on #3436
Thanks for reporting this @georgekeeling.

@Rick-Kirkham, could you please take a look?

[2022-05-23 18:09] Rick-Kirkham commented on #3436
@georgekeeling I need some clarification about the issue. You mention Visual Studio 2022 at the beginning, but this tutorial does not use Visual Studio. If you are having difficulty installing node, then you should raise that problem on the node website. Finally, it is hard to tell which lines in your description are your words and which are things you are seeing in a window. Please specify what i

[2022-05-24 09:40] georgekeeling commented on #3436
@Rick-Kirkham Thanks for responding.
1) I mentioned installing Visual Studio because that is why I arrived here. It max not be relevant.
2) I don't know whether I installed node OK or not. There was 15 pages of output during the install! The last like said **ManifestVerifier Result: Success**, but other lines reported errors as described. I will ask on the node website what the 15 pages mean.
3) I

[2022-05-24 11:42] georgekeeling commented on #3436
OOPS! I was running **yo office** in a directory where it couldn't create directories / files without some permission. If it had said
**Unable to download project zip file for "https://github.com/OfficeDev/Office-Addin-TaskPane-JS/archive/yo-office.zip" to C:\Program Files\Microsoft Visual Studio\2022\Community**
We might have got there quicker.
My Office Add-in has now been created successfully!

[2022-05-24 11:42] #3436 closed

[2022-05-26 00:27] markdon opened #3443 "Implementing Outlook's Every Meeting Online (EMO) for third-party online meeting providers"
Recently, a new feature was released that allows customers to choose a third party meeting provider as their every meeting online provider instead of Teams. Some related documentation: https://support.microsoft.com/en-au/office/make-every-meeting-online-70f9bda0-fd29-498b-9757-6709cc1c73f0?preview=true

How do I get this integration with our online meetings solution? We have a fully featured add-i

[2022-05-26 16:28] nancy-wang commented on #3231
@Rick-Kirkham Hey Rick! Did we end up getting around to this issue? Feel free to close it out if so - thanks.

[2022-05-26 16:30] nancy-wang commented on #3367
@exextoc following up here - based on your investigations, is there anything we could do here as part of the product team? thanks for your help!

[2022-05-26 16:31] nancy-wang commented on #3405
@exextoc might you be able to follow up here? thank you @ipecsAdmin for raising this issue with our team!

[2022-05-27 20:02] nancy-wang commented on #3443
thanks for the question @markdon! Tagging @exextoc who may be able to help out here.

[2022-05-27 23:11] #3231 closed

[2022-05-31 21:10] Rick-Kirkham commented on #3229
The change to Yo Office is not going to happen until Fall at the earliest, so I have added a remark in the documentation about this problem.

[2022-06-02 23:31] #3229 closed

[2022-06-03 17:29] samantharamon commented on #3443
Hi @markdon,

Thank you for your post. I understand that you're currently in conversation with the feature crew about this via email. I'm working with them to determine any documentation updates needed.

[2022-06-04 00:12] alison-mk commented on #3355
Hi @tj-aew, thanks again for reporting this issue. You're correct that there was a bug with the Excel Custom Functions project generator resulting in breakpoints not working during debugging.

Our engineering team located the bug with the project generator and deployed a fix. The fix for the TypeScript version of the Custom Functions project generator has been published. The fix for the JavaScript

[2022-06-06 06:00] cfis commented on #3355
@alison-mk - Where was the fix published so we can look at it?

I have the same problem as above. If you follow these instructions:

https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-debugging

Debugging of custom functions does not work. Although the debugger does attach, all breakpoints are grayed out and have a message in the breakpoint window of "Unbound breakpoint"

[2022-06-06 06:00] markdon commented on #3443
@samantharamon That conversation is related to a different feature, which is to show a "Join" button when meetings from my add-in are detected: https://github.com/OfficeDev/office-js-docs-pr/issues/3263

The feature that I'm interested allows an add-in to replace Teams as the default meeting provider in Mac/Windows/Web Outlook clients. It has currently been enabled for Zoom, WebEx, BlueJeans, GoTo

[2022-06-06 10:55] jkscx opened #3462 "Can't figure out JS runtime of addin, docs not clear"
Hello,

I would like to figure out the JS runtime which Excel uses to run the addin we're developing, but the docs on how exactly to do this are very sparse. Namely, it says that it should be available in the "Personality menu" under "Security info", but there is no such info available for us (picture below).

![image](https://user-images.githubusercontent.com/18429283/172145812-4ab6b10c-0806-47f6

[2022-06-06 11:00] JHJ-MS opened #3463 "Two sample codes in the tutorial are missing commas"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/94002141/172148189-9c2753bb-16a6-4d28-9aba-9fd6a1ed50c3.png)
![image](https://user-images.githubusercontent.com/94002141/172148213-b5dce737-94d0-47b5-9bb9-93c757ada307.png)

These two sample codes cause errors because of missing commas. After adding a comma after the circle place, it works fine.
Hope to correct the sample cod

[2022-06-06 16:53] AlexJerabek commented on #3463
Hi @JHJ-MS,

Thanks for reaching out. Could you please show the errors you're getting in those two instances? Neither piece of code should need a comma where highlighted because it's the end of a list. I just tried out the [Create a table](https://github.com/OfficeDev/office-js-snippets/blob/main/samples/excel/46-table/create-table.yaml) snippet in [Script Lab](https://docs.microsoft.com/en-us/off

[2022-06-06 16:55] AlexJerabek commented on #3462
Hi @jkscx,

Thanks for reaching out. @Rick-Kirkham, could you please help provide clarity here?

[2022-06-06 17:34] samantharamon commented on #3443
Thanks for the clarification, @markdon. I've raised this with the feature crew, so that they could also address this.

[2022-06-06 17:52] alison-mk commented on #3355
@igor-ribeiiro Can you take a look at the comment posted yesterday by @cfis?

[2022-06-06 19:01] igor-ribeiiro commented on #3355
Are you trying to debug on the web or desktop? The fix was for Excel Desktop.
You can get the latest version with: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/yeoman-generator-overview in the Custom Functions option.
Could you try a new project? You might have an outdated version.

[2022-06-06 19:09] Rick-Kirkham commented on #3462
@jkscx Thanks for your interest in Office Add-ins.

The main way of determining what runtime is being used is by consulting the table in the article, [Browsers used by Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins). See the sentence immediately above the **Tip** that you quoted. The **Tip** is only meant to point out an alternate,

[2022-06-06 19:09] #3462 closed

[2022-06-06 19:42] ChulakaMK opened #3464 "Pivot Table Refresh Feature Not Available"
Hi,

When we add new data to the database that data not automatically reach to pivot tables if we don't go to data and refresh all or refresh that particular pivot table.

"pivotLayout.preserveFormatting = True; " or " await context.sync(); " don't provide that feature output. please suggest a proper way to refresh all data in excel every time when we add data into database.

Thank you
---
#### Do

[2022-06-06 22:39] AlexJerabek commented on #3464
Hi @ChulakaMK,

Thanks for reaching out. Office JavaScript APIs do not automatically refresh PivotTables. This matches Excel's behavior, as documented here: https://support.microsoft.com/en-us/office/refresh-pivottable-data-6d24cece-a038-468a-8176-8b6568ca9be2. We strive to make the behavior of the JavaScript APIs the same as how Excel behaves when interacting with the UI.

In order to refresh a P

[2022-06-06 23:50] cfis commented on #3355
Yes, Excel Desktop, Windows 11.

I believe I am running the latest version:

[code]

From the link:

https://www.npmjs.com/package/generator-office

Looks like 1.8.7 from 25 days ago is the latest?

[2022-06-07 03:32] JHJ-MS commented on #3463
Thanks, @AlexJerabek. We found it is a warning caused by a prettier config. I'll close this issue. Besides, this is a screenshot in January.Thank you again!

[2022-06-07 03:32] #3463 closed

[2022-06-07 11:48] jkscx commented on #3462
@Rick-Kirkham Thank you very much for the quick and detailed reply.

Sorry if I phrased my question badly, I know about the table which you mentioned and came to the same conclusion as you, but wanted to know if there is a way to get the runtime info at runtime (pun not intended). The reason being that I want to use the WebView2 runtime and followed the guide in footer 4 of the article which you l

[2022-06-07 15:46] peronald commented on #3405
@exextoc can you follow up here?

[2022-06-07 17:59] Rick-Kirkham commented on #3462
The only way that I know of to determine the runtime at runtime the technique described in [Determine at runtime if the add-in is running in Internet Explorer](https://docs.microsoft.com/office/dev/add-ins/develop/support-ie-11#determine-at-runtime-if-the-add-in-is-running-in-internet-explorer). This links to another article that tells you what strings to look for.

[2022-06-07 22:10] Rick-Kirkham opened #3465 "Need to change project title"
The instructions advise the reader to name the add-in "starcount". This name seems to be a legacy of some past version of the project created by Yo Office. That project no longer has any content would have anything to do with counting stars. I think we should change the instructions so that the reader names the project something like "Custom Functions Add-in".

---
#### Document Details

⚠ *Do not

[2022-06-08 12:50] jkscx commented on #3462
Will check out, thank you for the help :)

[2022-06-09 16:33] ianengelbrecht opened #3467 "Better docs for UI-less custom functions for Excel"
The section on UI-less custom functions has three subsections: authentication, debugging, and runtime. We need another subsection that explains how to set up a UI-less custom function from scratch. The only information available is in the dubugging section, which says 'To create a UI-less custom function, follow the steps in the Create custom functions in Excel tutorial, and then remove all of the

[2022-06-10 02:26] alison-mk commented on #3467
Hi @ianengelbrecht, thanks for submitting an issue. We're actually currently in the process of updating the custom functions articles you mention.

The recommended approach for developing custom functions add-ins is to use a [shared runtime](https://docs.microsoft.com/office/dev/add-ins/develop/configure-your-add-in-to-use-a-shared-runtime). A shared runtime allows your add-in to use a task pane o

[2022-06-10 05:53] ChulakaMK commented on #3464
Hi,

I'm working with Scriptlab extension of Excel to automate my excel to work in web. I'm using javascript to develop my code in scriptlab. the issue is there is no any keyword from refresh or refreshall inside of it. I go through your above links but it is not supportive with my case.

Thanks

[2022-06-10 11:26] ianengelbrecht commented on #3467
Thanks @alison-mk , I appreciate the feedback! I originally wrote a custom function for pre-2019 Excel that converts geographic coordinates from a wide range of formats to decimal degrees, which is at https://github.com/ianengelbrecht/geocoordsparserexcel. It was based on a javascript implementation that I wrote for web/node, which I translated to C#. It doesn't work anymore because the signing ce

[2022-06-10 17:01] #3464 closed

[2022-06-10 17:32] ElizabethSamuel-MSFT commented on #2368
@davidchesnut Can you check on this? Thanks.

[2022-06-10 17:43] ElizabethSamuel-MSFT commented on #2645
@NadinMerali Thanks. @Rick-Kirkham will take a look.

[2022-06-10 18:00] AlexJerabek commented on #3257
Hi @priyankak9,

Sorry for the delayed response. Currently, iOS add-ins only run through an embedded Safari browser, as documented here: https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins

To request the feature of Edge support, please go to the [M365 feedback portal](https://feedbackportal.microsoft.com/feedback) and create an issue. Because there's n

[2022-06-10 18:00] #3257 closed

[2022-06-10 18:39] samantharamon commented on #3382
Hi, @suryakiranchikkala. Thank you for your question. Just confirming Alex's response to you. With the OnMessageSend and OnAppointmentSend events being rolled out soon (they're currently in preview), there is no timeline for ItemSend being supported in AppSource. We encourage you to explore and test using these events in your add-in instead. For further guidance, please refer to these links:
- [Us

[2022-06-10 18:39] #3382 closed

[2022-06-10 19:03] Rick-Kirkham commented on #2645
You can call the [Office.auth.getAccessToken](https://docs.microsoft.com/javascript/api/office/office.auth?view=common-js-preview#office-office-auth-getaccesstoken-member(1)). Then open and parse the token that it returns to get the AAD OID of the user and the user's email address.

[2022-06-10 19:03] #2645 closed

[2022-06-10 19:08] alison-mk commented on #3467
Hi @ianengelbrecht,

To create a custom functions add-in that doesn't need to interact with the Excel UI, the recommended process is simply to follow the steps in the [Create custom functions in Excel](https://docs.microsoft.com/office/dev/add-ins/tutorials/excel-tutorial-create-custom-functions?tabs=excel-windows) tutorial. The **Excel Custom Functions Add-in project** in Yo Office creates a ligh

[2022-06-10 19:11] #2842 closed

[2022-06-10 19:24] alison-mk commented on #1802
Update:

- The Custom functions debugging article was updated in #3461 to clarify which step to choose in the debug options.
- The most up-to-date documentation article for the add-in debugger extension in VS Code is: [Microsoft Office Add-in Debugger Extension for Visual Studio Code](https://docs.microsoft.com/office/dev/add-ins/testing/debug-with-vs-extension). VS Code does support client-side d

[2022-06-10 19:24] #1802 closed

[2022-06-10 19:45] samantharamon commented on #3045
Hi @jeff1haupt,

I just wanted to follow up on this issue you opened and whether you are still getting an error when you load the manifest using the URL.

[2022-06-10 20:42] #3342 closed

[2022-06-10 20:42] davidchesnut commented on #3342
Added description for client secret. Will publish live in the next couple of days.

[2022-06-10 22:39] #3384 closed

[2022-06-12 14:24] petera703 opened #3485 "Initial debug instructions reversed and incomplete, not usable"
The first steps include "On the Debug menu, choose Start Debugging." But this fails, owing to the lack of certificate. A certificate is then created in the following step, but the initial debugging is never revisited. If attempted anyway, there is no sign of the add-in, either at the UI or in in My Add-Ins, and there is no information in the article to explain how to show and use the Add-In. This

[2022-06-13 11:36] Aizaz-Rehman opened #3486 "Something went wrong and could not start the add-in. Please try again later or contact your system administrator"
## Article URL

## Issue

[2022-06-13 11:42] Anthony-Breneliere opened #3487 "Please remove any reference to the yo Office"
The "yo Office" for Angular generates a bad Angular application where dependency injection does not even work.

https://github.com/OfficeDev/Office-Addin-TaskPane-Angular/issues/45

Furthermore each component's html requires to be added in the webpack.config file, that is not possible when using Angular libraries.

That is why yo Office should not belong to the documentation as long as the Angular

[2022-06-13 17:22] #3361 closed

[2022-06-14 11:54] shaun-pendrigh commented on #1954
@mscharlock I am facing this issue i.e. using a shared runtime and trying to maintain state while opening different URLs in a task pane. Do you know if this issue was resolved or perhaps I am just doing something wrong still. Thanks

[2022-06-14 16:31] AlexJerabek commented on #3487
Hi @Anthony-Breneliere,

Thanks for raising this concern. @Rick-Kirkham, could you please investigate?

[2022-06-14 16:33] AlexJerabek commented on #3486
Hi @Aizaz-Rehman,

We'd like to help with your issue, but we'll need more information. First, what quick start, tutorial, or sample were you running when you encountered this issue? We'll also need the following system information to help diagnose the problem.

* Platform [PC desktop, Mac, iOS, Office on the web]: ______
* Host [Excel, Word, PowerPoint, etc.]: ______
* Office version number: _____

[2022-06-14 16:36] AlexJerabek commented on #3485
Hi @petera703,

Thanks for reporting this. @Rick-Kirkham, could you please investigate?

[2022-06-14 17:02] AlexJerabek commented on #3464
Hi @ChulakaMK,

Thanks for the reply. I noticed something in your earlier post:

Script Lab is only intended to explore and prototype Add-ins, it's not intended to be a full automation solution. If you're looking for an easy way to automate tasks in Excel for the web, may I recommend [Office Scripts](https://docs.microsoft.com/en-us/office/dev/scripts/overview/excel)? It's similar to the Office Ja

[2022-06-14 18:15] #3465 closed

[2022-06-14 20:47] Rick-Kirkham commented on #3487
@Anthony-Breneliere If the Angular option is in Yo Office, then the documentation has to mention it. So, this is really a request to remove the Angular option from Yo Office. Accordingly, I will transfer this issue to the repo for Yo Office.

Now, a question: Would _all_ Office Add-ins built on Angular require injectable services? If not, then it would probably be best to keep the Angular option i

[2022-06-15 09:16] ChulakaMK commented on #3464
Hi Alex,

Really appreciate your great support to success my project,

but I'm afraid to tell you that code is not working with me.

I'll explain the requirement and hope that will helps you to understand the reason why I'm looking for refresh option.

I have a database and I'm adding data into the database daily basis. My pivot table reads the database and it should be update when I click the ref

[2022-06-15 19:20] AlexJerabek commented on #1954
It looks like your build supports the [SharedRuntime requirement set](https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/shared-runtime-requirement-sets?view=common-js-preview).

@davidchesnut, could you please take a look?

[2022-06-15 20:49] AlexJerabek commented on #3464
Hi @ChulakaMK,

I think I know why the refresh isn't working in your scenario. The PivotTables in the samples are built using a specific range, instead of a table. This means that adding a row to the data isn't detected by the refresh. Please look at this sample that uses a table as the PivotTable source: https://gist.github.com/AlexJerabek/52effd9072fa3ab4c41db11f12cfda81

As for Office Scripts,

[2022-06-17 06:33] nvazhayil opened #3499 "Enable and Disable Add-in Commands : Not working in word"
Referring to https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=yeomangenerator and https://docs.microsoft.com/en-us/office/dev/add-ins/design/disable-add-in-commands, I created a **Word task pane add-in**.

As per the Ribbon API requirement sets, RibbonApi 1.1 should be available in "Office on the Web", But when I tried **Office.context.requirements.isSetSupporte

[2022-06-17 16:21] AlexJerabek commented on #3499
Hi @nvazhayil,

Currently, the RibbonApi requirement sets are only supported in Excel. From the article [Ribbon API requirement sets](https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/ribbon-api-requirement-sets):

You can also find a complete list of supported requirement sets for each application and platform on [Office client application and platform availability for Offic

[2022-06-17 17:09] nvazhayil commented on #3499
Hi Alex,

I am not trying for a production add-in but a sample project with Office on Web. As per [Ribbon API requirement sets](https://docs.microsoft.com/en-us/javascript/api/requirement-sets/common/ribbon-api-requirement-sets), RibbonApi 1.1 is supported from November, 2020 in **Office on Web**. Right?

[2022-06-17 17:19] Rick-Kirkham commented on #3499
RibbonApi 1.1 is only supported on Windows and Mac for Word and PowerPoint, not Office on the Web. Note this sentence from the article "It's available as a preview in PowerPoint and Word, but only in Office on Windows (subscription) and Mac."

I'll close this, but you can still make comments and we'll see them.

[2022-06-17 17:19] #3499 closed

[2022-06-17 18:46] nvazhayil commented on #3499
When can we expect this for Office on Web?

[2022-06-17 20:16] Rick-Kirkham commented on #3499
I'm making inquiries internally.

[2022-06-17 21:16] Rick-Kirkham commented on #3499
@nvazhayil We are not currently working on supporting this feature on Word on the web, but hope to begin work later this year. We can't give you any dates, but it will be many months at best before this feature is supported in Word on the web.

[2022-06-17 23:11] yoonbuck opened #3502 "Improvements for macOS add-in sideloading process"
It'd be nice to pull the instructions for sideloading an add-in on macOS onto a separate page from iPad, since the process is different and it's not super clear that the reader needs to scroll down so far to get to the instructions - the macOS section is in the collapsed part of the navigation on the right. (It seems more likely that someone is trying to sideload on macOS than on an iPad, but mayb

[2022-06-19 11:51] ChulakaMK commented on #3464
Hi Alex,

Code worked and I finished my Project...

Thanks a lot

[2022-06-20 06:27] hengchengfei opened #3503 "Where can I download the source of sample"
[Enter feedback here]

I want to download the source。

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8c93ed-ceb6-a6f1-48b0-12552def10d7
* Version Independent ID: d14ce94d-7807-d695-51d5-fcd087b57a06
* Content: [Authentication design guidelines for Office Add-ins - Office Add-ins](https://docs.microsoft.com/en-us/offi

[2022-06-20 06:57] nvazhayil commented on #3499
Thanks for the update.

[2022-06-20 12:02] shaun-pendrigh commented on #1954
Thanks

@davidchesnut, I have hacked together a small example showing things working with a single task pane and shared runtime. And then a separate branch introducing a second task pane. Here I am not sure how to link the scripts in the html as the example in the documentation only links one of each of the task pane, command and functions scripts. Once there is a second task pane html and script

[2022-06-20 16:18] AlexJerabek commented on #3503
Thank you for the request @hengchengfei. Let me tag @davidchesnut to link to the SSO samples in the article.

[2022-06-20 16:20] AlexJerabek commented on #3502
Thanks for the suggestions @yoonbuck.

@alison-mk, could you please investigate these improvements?

[2022-06-21 19:02] #3486 closed

[2022-06-22 11:19] david-ps opened #3506 "More detailed explanation of Custom Function Limitations"
The [limitations list](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/call-excel-apis-from-custom-function#limitations-of-calling-excel-javascript-apis-through-a-custom-function) says custom functions should not: "Add names to a workbook" or "Set properties or execute most methods"

It would be great to know more detail about the implications of these actions and what methods can safely

[2022-06-22 13:06] CameronDwyer opened #3507 "Update example code of how to call getSharedPropertiesAsync without using the deprecated REST token obtained via getCallbackTokenAsync."
The example code on shared mailbox scenarios uses the deprecated getCallbackTokenAsync approach to obtain a REST token to be able then call getSharedPropertiesAsync. https://devblogs.microsoft.com/microsoft365dev/outlook-rest-api-v2-0-deprecation-notice/

Please show supported example of how to call getSharedPropertiesAsync without using a REST token obtained via getCallbackTokenAsync.

---
#### D

[2022-06-22 19:59] AlexJerabek commented on #3506
Hi @david-ps,

Thanks for raising this documentation request. I'll assign this to @alison-mk.

[2022-06-22 20:01] AlexJerabek commented on #3507
Thanks for the sample request @CameronDwyer. Let me tag @samantharamon to help answer.

[2022-06-23 01:52] samantharamon commented on #3507
Hi @CameronDwyer,

Thanks for bringing this to our attention. We'll be working on updating any documentation that mentions REST. I've added your sample request to our list and will let you know once the sample is available.

[2022-06-23 19:43] davidchesnut commented on #3503
Tracking ADO#6180105

[2022-06-23 19:44] davidchesnut commented on #3485
Hi @petera703, thanks I am looking into this.

[2022-06-23 21:27] davidchesnut commented on #3485
Hi @petera703, the article is correct but the sample had old certificate references in the project files. They aren't needed so I removed them in this PR: https://github.com/OfficeDev/Office-Add-in-samples/pull/341. If you can check that the PR fixes this, that would be great! Thanks!

[2022-06-23 21:48] petera703 commented on #3485
Hi @davidchesnut. Thanks for your reply. I'll try the steps again when I get a chance. By the way,m you say the article is correct but as I mentioned, there is nothing to explain how to show and use the Add-In. We can see that it is a cell analyzer add-in, but does that mean we type a value in a cell and click some button that appears? Or perhaps it will analyze all the cells in the sheet, and mig

[2022-06-24 02:01] hengchengfei commented on #3503
@davidchesnut
Thanks for your response.

Now, I am developing the dialog login function of add-in. The Azure link you provided is only the login function of the web page, and does not involve the Office addin and dialog functions.

[2022-06-24 21:29] davidchesnut commented on #3485
It's in the explanation after the numbered steps in https://docs.microsoft.com/office/dev/add-ins/tutorials/migrate-vsto-to-office-add-in-shared-code-library-tutorial#the-cell-analyzer-vsto-add-in. You can type text in a cell, and then have the add-in show the Unicode of the text characters.

I also just noticed the steps have you create a test certificate for the signing problem but if I can elim

[2022-06-26 23:40] CRayNichols99 opened #3509 "Successful transition to VS 2022"
Installed VS 2022 today. The quick "Office Word Add-in" exercise in 365 Dev went without a hitch, and my other solutions are running. I hadn't expected such a smooth transition in VS-2022. Bravo!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77e380a7-6e2e-ada8-d297-3fd5018a1958
* Version Independent ID: f23490e8-6eeb-

[2022-06-27 17:42] AlexJerabek commented on #3509
That's awesome to hear @CRayNichols99! Please let us know if you have any questions as you continue your add-ins journey.

[2022-06-27 17:42] #3509 closed

[2022-06-29 16:48] davidchesnut commented on #3503
Hi @hengchengfei, sorry I misunderstood and thought you were looking for UX guidance. For Office you need to use the dialog API. There's more information at https://docs.microsoft.com/office/dev/add-ins/develop/auth-with-office-dialog-api. And for a samples showing how to use this API, please see https://github.com/OfficeDev/office-add-in-samples#auth-identity-and-single-sign-on-sso

[2022-06-29 21:42] alison-mk commented on #3467
Hi @ianengelbrecht,

We've completed the planned documentation updates to clarify the distinction between types of custom functions with PRs #3461 and #3496. The primary distinction is whether or not a custom functions add-in uses a shared runtime, not whether a custom functions add-in has a UI. That said, we do recommend that custom functions add-ins with Excel UI elements use a shared runtime.

[2022-06-29 21:42] #3467 closed

[2022-06-29 22:02] alison-mk commented on #3502
Hi @yoonbuck, thank you for submitting these suggestions! I have opened PR #3515 to incorporate your suggestions. Once that PR is complete and merged, this issue will automatically close.

Cheers,
Alison

[2022-06-29 22:11] alison-mk commented on #3506
Hi @david-ps, thank you for submitting this feedback. I will do research internally to determine the answers and then update the article when my research is complete. I'll leave this issue open in the interim.

Cheers,
Alison

[2022-07-03 23:02] rijulaggarwal16 commented on #2279
Is there any update on this? I have a prod server running elsewhere. However, getting the same issue. Is this solved?

[2022-07-04 00:20] david-ps opened #3520 "Add Submit Questions Link for the Community Call"
Can you please add a link to the form where you can submit questions for the next Office Add-ins Community calls.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57f1340-d9ee-6bbc-c4ba-104b77840a6a
* Version Independent ID: 82ff44e8-1cdc-20e9-3ce6-d560de532b14
* Content: [Microsoft Office Add-ins community call - Office Ad

[2022-07-04 03:28] grangeryy commented on #3520
Adding @davidchesnut to see if he can help on this one:)

[2022-07-05 22:56] davidchesnut commented on #3520
Hi @david-ps, The link is at the bottom in the text [Community call topic requests and questions](https://aka.ms/officeaddinsform). This should take you to the form for the July call. I'm curious to know if that is not working for you. I saw on another thread you were ending up at the old form for May. I want to be sure there isn't some old link out there causing issues. Thanks!

[2022-07-06 09:57] gagandeepsubbi opened #3523 "Issue with Redirect URI for Vainity/Custom URL"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins

## Issue
We are trying to use the article for SSO and getting the attached error for Redirect URI. The error is seen when we are using Vanity URL for OWA.
![ERROR](https://user-images.githubusercontent.com/108798773/177524474-1a1b8c01-879c-4221-b4a3-844b14555af6.png)

[2022-07-06 21:35] AlexJerabek commented on #3523
Thanks for reporting this issue @gagandeepsubbi.

@davidchesnut, could you please investigate?

[2022-07-07 03:05] engineerjasonpadre opened #3526 "sO gOOD"
[Ilagay ang feedback dito]

---
#### Mga Detalye ng Dokumento

⚠ *Huwag i-edit ang seksiyong ito. Kinakailangan ito para sa pag-link ng isyu ng docs.microsoft.com ➟ GitHub.*

* ID: aace12cf-0413-a4cf-689e-be11dda24b79
* Version Independent ID: 22421f98-a14e-1e35-d371-a262ae88e435
* Content: [Explore Office JavaScript API using Script Lab - Office Add-ins](https://docs.microsoft.com/fil-ph/office/d

[2022-07-07 12:04] DanilKorotenko opened #3527 "Event Type="ItemSend""
Where exactly should be "Event Type="ItemSend"" ?

Inside "VersionOverrides" ? Or on root level ?

Could you, please, provide complete example?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e12d688-9620-e8f2-871d-922ec98008b5
* Version Independent ID: a8b409f3-44f7-97e5-d722-cbf04edc0653
* Cont

[2022-07-07 16:06] AlexJerabek commented on #3527
Hi @DanilKorotenko,

There is a sample under the [Code examples](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-on-send-addins?tabs=unix#code-examples) section of that article. There, you're find a link to a [full sample showing a working add-in using the On-send feature](https://github.com/OfficeDev/Outlook-Add-in-On-Send).

Please let me know if I misinterpreted your request

[2022-07-08 02:04] david-ps commented on #3520
Great thanks, sorry I missed it.

[2022-07-08 02:04] #3520 closed

[2022-07-08 11:08] DanilKorotenko commented on #3527
Hi @AlexJerabek,
My question relates to this issue:
https://github.com/OfficeDev/Outlook-Add-in-On-Send/issues/32

I am confused.
"office-addin-manifest validate" script says that "ItemSend" should not be inside "VersionOverrides".

[2022-07-08 15:50] AlexJerabek commented on #3527
Thanks for clarifying @DanilKorotenko. @samantharamon, could you please investigate?

[2022-07-08 17:08] BenoitJGirard opened #3529 "Page does not explain how to create a COM Add-In"
The page keep showing in search results to create a COM Add-In for OneNote, but only refers to a javascript+HTML Add-In.

I am not interested in developing in HTML and javascript!

And it definitely looks like the OneNote application on Windows still supports COM Add-Ins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-07-08 19:55] #3502 closed

[2022-07-09 14:33] mdunn416 opened #3531 "What now?"
Okay I followed the publish steps for VS Code and got everything uploaded to Azure. My question is what now? How do I share an addin with other people?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b9105a4-a164-1e91-11ad-8ccb4f4d6b2d
* Version Independent ID: f4e5fae7-ac16-f852-8529-6b0fdd7bdad4
* Content: [Publish an

[2022-07-11 07:31] gagandeepsubbi commented on #3523
Hi @davidchesnut  Did you get a change to take a look at this?

[2022-07-11 18:00] AlexJerabek commented on #3529
Hi @BenoitJGirard,

You're right that the information for how to make OneNote add-ins that don't use the current web-based model is difficult to find. I believe what you're looking for is here: https://docs.microsoft.com/en-us/office/client-developer/onenote/onenote-developer-reference?redirectedfrom=MSDN

I'm going to close this issue, as there's nothing actionable here to do in the web add-in do

[2022-07-11 18:00] #3529 closed

[2022-07-11 23:11] samantharamon commented on #3527
Hi @DanilKorotenko,

Thanks for reaching out. `Event Type="ItemSend"` should be inside the **VersionOverrides** block as shown in [Contoso Message Body Checker](https://github.com/OfficeDev/Outlook-Add-in-On-Send/blob/master/outlook-add-in-on-send/Contoso%20Message%20Body%20Checker.xml) and [Contoso Subject and CC Checker.xml](https://github.com/OfficeDev/Outlook-Add-in-On-Send/blob/master/outlook

[2022-07-12 15:50] davidchesnut commented on #3523
Hi @gagandeepsubbi,

Sorry for late reply.  In the Azure portal, go to your app registration, and go to the **Expose an API** page. There is an **Application ID URI** with a value similar to "api://localhost:44351/{app id}" Make sure in your maniifest for the add-in that this value appears exactly in the Resource tag in the WebApplicationInfo section. Also be sure your web server is using the exac

[2022-07-15 02:25] LeslieWongCV commented on #267
Check if you have saved all the edited script.

[2022-07-15 10:37] Viktor1356 opened #3547 "Not able to use any Ng commands"
[Enter feedback here]
I need to add a new component for the Add-in however if I try adding a new component, it doesn't work as it is "not available outside an angular workspace. Is there a different way to add a new component?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15f43fe5-03e0-579c-165c-57e16b1a53ea
* Version

[2022-07-15 18:13] Rick-Kirkham commented on #3547
This seems to be a problem with the one of the Angular templates in Yo Office, rather than documentation. I can move the issue to the proper repo, but first tell me if you took the TypeScript or JavaScript option.

@igor-ribeiiro Could you take a look at this?

[2022-07-15 18:24] igor-ribeiiro commented on #3547
Yeah, our angular templates are a little outdated. There is a PR already open to fix this issue: https://github.com/OfficeDev/Office-Addin-TaskPane-Angular/pull/93

[2022-07-15 18:34] Rick-Kirkham commented on #3547
@Viktor1356 It might be some time before we can update our Angular templates. In the meantime, you might consider trying to create a Angular Office Add-in with one of the methods described in these two blog posts:

- [Building Office Add-in using Angular 8+](https://ragavanrajan.medium.com/building-office-add-in-using-angular-8-209624ba61ed)
- [Developing Office add-ins using Angular 10+ and Nrwl

[2022-07-15 21:33] jemery27 opened #3549 "Invalid links"
Link to OfficeControls does not contain OfficeControl IDs.

Specifically this link:
https://github.com/OfficeDev/office-control-ids

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 175d0cdb-4314-fdea-be3c-e0a46fe53076
* Version Independent ID: dbec79fd-ff33-dc51-1599-b52a17df66d0
* Content: [Integrate built-in Office but

[2022-07-15 21:38] Rick-Kirkham commented on #3549
@jemery27 It looks like that repo does have an Excel file that contains the control IDs for PowerPoint, which is the only Office application that supports integrating build-in Office buttons into custom groups. If I've misunderstood, could you please provide more details?

[2022-07-15 23:19] jemery27 commented on #3549
Oh yes that is correct, but none of the reference links mention that control IDs are only available in PowerPoint. As an example this page mentions OfficeControl as a child element of the manifest Group element and it specifically says it is not supported in Outlook. The example in that doc is <OfficeControl id="Superscript" /> - I would think many office apps support Superscipts. Why wouldn't it

[2022-07-18 05:47] gagandeepsubbi commented on #3523
Thank you @davidchesnut  for your response. To add more details, we are using Exchange Online and not an On-Prem setup. The redirection URL is not pointing to any server. From the error message, the Redirect URI Mismatch is for the vanity URL on the Microsoft Outlook add-in application with id "bc59ab01-8403-45c6-8796-ac3ef710b3e3" and not the Azure app we created.

[2022-07-18 08:04] ChristianGalla opened #3551 "Outlook 2016 is using WebView (EdgeHTML)"
To reproduce an error on a customer machine, I have set up a new test environment using Windows 10 Pro and Outlook 2016 32 Bit from my Visual Studio Subscription and installed all available updates:

![image](https://user-images.githubusercontent.com/7421161/179466111-25bccc82-51c6-4d11-be73-d33ed57f8be9.png)
![image](https://user-images.githubusercontent.com/7421161/179466417-d996cf99-3bb9-4a72-a

[2022-07-18 10:32] Viktor1356 opened #3552 "event based activation with yeoman generated angular framework."
[Enter feedback here]
Hello I followed the tutorial step for step however nothing is happening. I think the problem is that the launchevent.js isn't linked with the app.component.ts. Is there a quick way to fix this? Thanks a lot in advanced for the help as I have been stuck on this problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-07-18 12:27] ukv001 opened #3553 "license"
[Enter feedback here]
Hej,

I am looking for the license for this, as the first thing always before starting to read about the capabilities. But I can not find where the license is written anywhere ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdac492e-7568-9c6a-4ac4-1b0e48898141
* Version Independent ID: 8d1c8f9e-1

[2022-07-18 17:07] AlexJerabek commented on #3551
Thanks for raising this issue @ChristianGalla. My understanding is that anything in Office 2016 should be using IE11.

@Rick-Kirkham, could you please investigate?

[2022-07-18 18:02] AlexJerabek commented on #3552
Hi @Viktor1356,

Thanks for raising this issue. This appears related to issue #3547, which you recently opened. Would having a modern, more functional Angular template make this issue easier to debug on your end?

[2022-07-18 18:08] Rick-Kirkham commented on #3551
I'm going to consult some internal experts. In the meantime, can you confirm that IE11 is being used on the customer's computer?  If so, what is the Windows version/build and the Office version/build of the customer?

[2022-07-18 18:17] Rick-Kirkham commented on #3551
Also, if you open the personality menu in the task pane and select Security Info, what does it say is the webview being used?

[2022-07-18 18:21] AlexJerabek commented on #3553
Hi @ukv001,

Our license, the Microsoft Developer Agreement, can be found here: https://docs.microsoft.com/en-us/legal/mdsa

Is that what you're looking for?

[2022-07-18 19:02] #3531 closed

[2022-07-18 20:54] Rick-Kirkham commented on #3549
I have reenforced the note near the top of the Readme. The updated manifest docs will be published late tomorrow. I'm closing this issue, but if you have further questions or comments, we will still see them. Thanks for your interest in Office Add-ins.

[2022-07-19 04:02] #3527 closed

[2022-07-19 06:11] shaun-pendrigh commented on #1954
Just checking for an update on this issue please? I need to make a decision and would really like to confirm what is technically possible before I do, thanks @davidchesnut @AlexJerabek

[2022-07-19 07:15] ukv001 commented on #3553
if this is the license agreement for using this component in production environment then yes :-) thanks.

[2022-07-19 07:17] ukv001 commented on #3553
But this specific repo have a different license ?
https://github.com/OfficeDev/office-js-docs-pr/blob/main/LICENSE

[2022-07-19 07:20] Viktor1356 commented on #3552
I used the normal "yo office" command. Would that mean I have to set up the addin without using yeoman?

[2022-07-19 11:15] ChristianGalla commented on #3551
Unfortunately, the personality menu [is not supported in Outlook](https://docs.microsoft.com/en-us/office/dev/add-ins/design/task-pane-add-ins#personality-menu).
But I was able to identify the used rendering engine by trying to connect via developer tools:

On my test machine I am able to connect via [Microsoft Edge DevTools Preview](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debu

[2022-07-19 17:01] #3553 closed

[2022-07-19 17:03] AlexJerabek commented on #1954
@Rick-Kirkham, could you please help answer @shaun-pendrigh's question?

[2022-07-19 18:29] Rick-Kirkham commented on #3551
So, as I understand it, your customer's computer is behaving just as the documentation would lead us to expect. The mystery is why you are getting EdgeHTML on your computer. I'm seeking help internally.

[2022-07-19 19:59] Rick-Kirkham commented on #1954
@shaun-pendrigh It is not possible to share global state across two distinct task pane URLs. I think you should try to implement your use case some other way. Some possibilities:

- Have single task pane page, but design it to have tabs. Your add-in instructions would tell the end-user which tab to open in a given scenario. Since it's really one page, both tabs can access the same data.
- I HAVE N

[2022-07-19 19:59] #1954 closed

[2022-07-20 21:52] AlexJerabek commented on #3523
Hi @gagandeepsubbi,

Thank you for the response. We are investigating this issue internally. I'm assigning @mattgeim to follow-up with you.

[2022-07-21 04:28] samantharamon commented on #3552
Hi @Viktor1356,

I've confirmed that our [event-based activation walkthrough](https://docs.microsoft.com/office/dev/add-ins/outlook/autolaunch) is working. As such, we'll go ahead and close this issue. As Alex mentioned, please raise any Angular questions you may have on Stack Overflow. Thank you.

[2022-07-21 04:28] #3552 closed

[2022-07-21 08:13] shaun-pendrigh commented on #1954
Thanks for the confirmation and the options @Rick-Kirkham

[2022-07-22 04:49] parched commented on #3312
@davidchesnut what does this do now? I got rid of the `functions.js` entry point (it's now part of `taskpane.js`), and my custom functions still work. It appears I can put any URL with the same authority and it works, but if I actually remove the `<Script>` element, the add-in fails to load.

[2022-07-22 18:44] Rick-Kirkham commented on #3312
@parched I'm finding your question hard to understand. Also, instead of commenting on this closed issue, could you please create a new issue on this repo and explain your problem thoroughly? For example, what in the documentation seems wrong to you?

[2022-07-22 22:01] #3547 closed

[2022-07-26 23:05] Rick-Kirkham commented on #3551
We think that the reason you are getting EdgeHTML is that your Office 2016 is the "consumer" version, but your customer has the "commercial" version. The consumer version gets updates that the commercial version doesn't get. That would explain why your build number 15330 is so much more recent than Office 2016. To confirm this, can you get the build number of your customer?

If this turns out to b

[2022-07-27 08:50] ChristianGalla commented on #3551
How can I verify if I am using a consumer or commercial version of Outlook?
If I remember correctly, there is a hint about a forbidden commercial usage in the Home & Student version?

The customer is using Outlook 2016 16.0.5197.1000 MSO 16.0.5278.1000 32Bit and installed all available updates.

Unfortunately, `npx office-addin-dev-settings webview manifest.xml ie` is not working.
I am receiving t

[2022-07-27 18:28] Rick-Kirkham commented on #3551
To get a version of Office that uses IE, I think you need to follow the steps in [Install a version of Office that uses Internet Explorer](https://docs.microsoft.com/office/dev/add-ins/testing/ie-11-testing#install-a-version-of-office-that-uses-internet-explorer). Specify that you want to install version 16.0.10730.20348.

[2022-07-27 21:17] Rick-Kirkham commented on #3551
@ChristianGalla To find out how the user can tell if he/she is on commercial or consumer, let's see if there's a difference in the **Account** page. Have your customer open the **File** tab on the ribbon. On the **File** page, there should be an **Account** or **Office Account** option. Have the customer select that option and take a screen shot of what they see on the page that opens. If there's

[2022-07-28 00:37] Rick-Kirkham commented on #3551
@ChristianGalla I've found out how to tell the difference between consumer and commercial. If the Office 2016 build number has the pattern **16.0.xxxx.xxxx** (with two blocks of 4 digits at the end), then it is commercial. If the build number has the pattern **YYMM (xxxxx.xxxxxx)**, ending with two blocks of 5 digits, e.g., 2206 (Build 15330.20264); then it is consumer.

If you don't have a way of

[2022-07-28 10:15] ChristianGalla commented on #3551
Unfortunately, the [Office Deployment Tool does not support Outlook 2016](https://docs.microsoft.com/en-us/office365/troubleshoot/installation/product-ids-supported-office-deployment-click-to-run).
Because there may be other differences between the Outlook versions beside the browser engine, this cannot be used to develop or test if an Add-In is running in Outlook 2016 in IE mode.

[2022-07-28 10:28] ChristianGalla commented on #3551
The list currently only contains Windows client versions. Can you also add the information, which browser is used when a Windows server version is used?

[2022-07-28 13:05] JanTrichter opened #3565 "outlook add-in: An execute function action was defined, but no function file was specified"
## Article URL
[Tutorial: Build a message compose Outlook add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/outlook-tutorial)

## Issue
I was trying to reinstall the outlook add-in after adding the new markup to the `manifest.xml` ([This step](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/outlook-tutorial#reinstall-the-add-in)). It wouldn't show the update so I

[2022-07-29 20:38] ElizabethSamuel-MSFT commented on #3565
@JanTrichter Thanks for letting us know.

@samantharamon Can you take a look?

Thanks.

[2022-07-30 07:52] JanTrichter commented on #3565
No error there. I will try to replicate this error again soon.

[2022-08-01 14:10] bhattikashif opened #3568 "webpack.config.js is missing in project, how to add it?"
I created a Excel Add in project using Visual Studio 2019 few months back. Its shared runtime is causing problems, so I decided to check documentation again and came across this page. It talks about changing "webpack.config.js" file but it is not present in the project. Can you update this page for older projects to guide about how to add this file.

---
#### Document Details

⚠ *Do not edit this

[2022-08-01 17:29] samantharamon commented on #3565
Thanks, @JanTrichter. If you still get the error when you try it again, if possible, please provide a copy of your manifest here.

[2022-08-01 18:41] Rick-Kirkham commented on #3568
This tutorial creates an add-in project with Yo Office. That kind of project runs in Node.js. WebPack is a tool for bundling multiple JavaScript files into one. WebPack is only relevant to Node.js based projects. Since you created your project in VS 2019, your project uses C# or VB.NET on the server side and runs in an IIS server. WebPack is not used in that environment. That's why there is no web

[2022-08-01 18:41] #3568 closed

[2022-08-01 22:30] davidchesnut commented on #3485
I've updated the sample and steps in the article, so creating a test certificate is no longer needed. Please reopen if you find any additional issues. Thanks!

[2022-08-01 22:30] #3485 closed

[2022-08-02 20:21] #3551 closed

[2022-08-06 13:13] ChristianGalla opened #3579 "Token handling in clients that don't support SSO"
In the current documentation, there are multiple hints, that access tokens should never be cached in client code.
Unfortunately, there are many companies that are still using the still supported Office versions 2016 and 2019 without SSO support.

So, while this is a good approach in modern Office versions, not caching tokens means to show a fallback authentication prompt for each backend request i

[2022-08-08 22:01] #3565 closed

[2022-08-09 15:45] jlara005 opened #3580 "Internet headers quota clarification for Outlook Add-In"
We currently have an Outlook Add-in in development and are looking to set [headers ](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/internet-headers)on outgoing emails. Can we get clarity if the quota is based on headers applied to items, therefore every header on every item count towards the quota or is it each unique header registered to the mailbox counts towards the quota?

If som

[2022-08-09 16:11] AlexJerabek commented on #3579
Thanks for raising this issue @ChristianGalla.

@davidchesnut, could you please help provide clarity here?

[2022-08-09 16:12] AlexJerabek commented on #3580
Thanks for raising this issue @jlara005.

@samantharamon, could you please investigate?

[2022-08-09 21:35] isaacs-nav opened #3581 "Problem with action function in commands.js Excel add-in tutorial"
## Article URL

[Protect a worksheet - Excel add-in tutorial](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial#protect-a-worksheet)

## Issue
I'm fairly confident I followed the instructions exactly (and even directly pasted the provided code later), but I could not invoke the toggleProtection function in commands.js based off the provided instructions. I spent countles

[2022-08-10 02:14] Rick-Kirkham opened #3583 "Missing step and code in custom functions auth article"
This article envisions auth from a custom function with a non-shared runtime as requiring 4 major steps.

1. Check if an access token is in OfficeRuntime.storage.
2. If it is not, open a dialog to the login page.
3. After logging in, code in the dialog sends the token to the parent custom function.
4. The custom function stores the token in OfficeRuntime.storage.

But no details or code for step 3

[2022-08-10 21:40] samantharamon commented on #3580
Hi, @jlara005. That's a great question. I'm confirming this information with our internal team. I will provide you with an update once I hear back. Thanks!

[2022-08-10 23:45] alison-mk commented on #3581
Hi @isaacs-nav, thank you for submitting this issue! I'll look into your concern and post an update when I have more information.

Cheers,
Alison

[2022-08-11 23:01] samantharamon commented on #3106
@westconference @ckollipa-adm @GrumpyAL Thank you for your patience. Documentation on mobile Outlook add-ins using the REST service is still an ongoing task in review, but I wanted to provide an update. To add to my previous post, active add-ins that use the REST service will be granted an exemption to keep using the service until extended support ends for Outlook 2019 on October 14, 2025. This in

[2022-08-12 18:05] davidchesnut commented on #3579
I'm investigating if it is possible to take advantage of MSAL caching to avoid signing in the user repeatedly. Hope to have an answer soon.

[2022-08-12 21:45] davidchesnut commented on #2546
@LiamSolDev The [Office Add-in Node JS SSO sample](https://github.com/OfficeDev/Office-Add-in-samples/tree/main/Samples/auth/Office-Add-in-NodeJS-SSO) was updated to show a pattern for multiple calls. For example, [getFileNamelist](https://github.com/OfficeDev/Office-Add-in-samples/blob/5668fa059457f218570f4347f67d859383b5736e/Samples/auth/Office-Add-in-NodeJS-SSO/Complete/public/javascripts/ssoAu

[2022-08-15 11:40] huabin opened #3590 "This page has not been translated into Chinese"
This page has not been translated into Chinese

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 15f43fe5-03e0-579c-165c-57e16b1a53ea
* Version Independent ID: 15f43fe5-03e0-579c-165c-57e16b1a53ea
* Content: [Create Office Add-in projects using the Yeoman Generator - Office Add-ins](https://docs.microsoft.com/zh-cn/office/dev/add-ins/develop/yeoman-generator-overview)

[2022-08-15 12:34] chenxizhang opened #3591 "args.visibilityMode = "Taskpane""
[Enter feedback here]
The code below should be

args.visibilityMode == "Taskpane"

```args.visibilityMode = "Taskpane" ```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f28cc49b-7eb3-ce5b-eabc-023134ed411b
* Version Independent ID: f953561c-3aab-c8d0-7f0f-0aa008990f94
* Content: [Show or hide the task pane of your Off

[2022-08-15 16:37] AlexJerabek commented on #3590
Thank you for reporting this @huabin.

I will investigate with the localization team.

[2022-08-15 16:50] AlexJerabek commented on #3591
Thanks for catching this @chenxizhang. I'll update the code snippets accordingly.

[2022-08-15 17:01] #3591 closed

[2022-08-15 18:13] #1710 closed

[2022-08-16 00:58] huabin commented on #3590
@AlexJerabek Actually, I found a lot of Chinese documents, are not translated into Chinese, still in English.

[2022-08-16 15:13] AlexJerabek commented on #3590
Thanks @huabin. I've created an internal issue with the localization team. I'll also tag @Soran-M for awareness.

[2022-08-16 22:05] davidchesnut commented on #3579
@ChristianGalla I do have this working in a PR for Excel/Word/PowerPoint. See [PR 370 here](https://github.com/OfficeDev/Office-Add-in-samples/pull/370). And specifically the updates to the [fallbackAuthTaskpane.js file](https://github.com/OfficeDev/Office-Add-in-samples/pull/370/files#diff-5b2a42229e87815854039caf7f904b001348245fa5286365bd03cf47b1ee1e63). MSAL caches the token in local, storage,

[2022-08-16 23:17] huabin commented on #3590
You're welcome.

On Tue, Aug 16, 2022 at 23:14 Alex Jerabek ***@***.***> wrote:

--

Sent from my iPad

[2022-08-18 02:54] alison-mk commented on #3581
Hi @isaacs-nav, I tested the **Protect a worksheet** section of this tutorial and the **Toggle Worksheet Protection** button does work in the add-in I've created, without reordering the methods in commands.js like you suggest. So, I'm not able to reproduce the error that you encountered. I'm sorry to hear that you spent a significant amount of time debugging and researching, though. That sounds fr

[2022-08-18 20:33] samantharamon commented on #3580
Thanks for your patience, @jlara005. I've verified that the quota is based on the total size of headers applied to a message (for more information, see [Message Limits](https://docs.microsoft.com/office365/servicedescriptions/exchange-online-service-description/exchange-online-limits#message-limits)). Per the article, the current message header size limit is 256 KB in Exchange Online. The limit fo

[2022-08-20 01:01] #2546 closed

[2022-08-22 15:44] simplestylesun opened #3601 "安装失败"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 193780ba-aa43-dc5c-fc28-adc96a0fdeda
* Version Independent ID: da41da2b-207e-e976-3491-61672d1e3493
* Content: [Configure your Outlook add-in for event-based activation - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/auto

[2022-08-22 16:11] AlexJerabek commented on #3601
Hi @simplestylesun,

Could you please provide more details about how your installation failed? What step in the article were you on? What event are you trying to use? What version and platform of Outlook do you have?

[2022-08-22 18:38] isaacs-nav commented on #3581
@alison-mk Thanks for checking into the problem. When I was debugging the issue, I made sure to clear the cache, tested on a different computer, and generated a new Excel add-in multiple times using yeoman. I'm not sure if my node/yeoman versions could've had an impact. No worries if the issues can't be replicated, though.

[2022-08-22 22:15] alison-mk commented on #3581
Ok, thanks for reporting back @isaacs-nav! Since I can't replicate the problem, I will close this GitHub issue. However, even after I close it, this GitHub issue will remain visible in this repository and other users will be able to reference it or add comments to it. If additional customers add comments reporting the same problem, we will reopen the issue and do further testing.

Thanks again,
Al

[2022-08-22 22:15] #3581 closed

[2022-08-23 00:39] samantharamon commented on #3507
Thank you for your patience, @CameronDwyer. We're still looking into providing an alternative approach to using a REST token, but I wanted to provide an update on the decommission as a whole. Please be advised that active add-ins that use the REST service will be granted an exemption to keep using the service until extended support ends for Outlook 2019 on October 14, 2025. This includes new add-i

[2022-08-23 11:41] ChrisGrove opened #3602 "Sample fails with 401 errors due to incorrect ida:Audience value"
Hi,
I have been working, through the sample and after considerable troubleshooting including decoding the JWT token. I have found that unless the ida:Audience value in the Web.config file was set to the Application ID URI set up in Azure that the controller Authorize would fail due to the Token validation looking for the incorrect audience value. The sample says that you should only enter the GUID

[2022-08-24 14:56] tj-aew commented on #3355
These instructions are still incorrect or incomplete nearly five months later. (And/or the debugging setup of the `yo office` scaffolded project are not working correctly.)

Also, despite what it says [on the debugging page](https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-debugging) linking to this issue, it's not just JavaScript projects that are affected, TypeScript pr

[2022-08-24 17:40] igor-ribeiiro commented on #3355
Thanks for the context @tj-aew!
I will try to answer your questions to the best of my knowledge.
`Most importantly: What steps can I use to reliably debug custom functions in VS Code? Or should I just give up and debug entirely in Edge?`
There was another issue recently that I was part of that helped some other customers debug which I put some detailed instructions and also a link to a fix we just

[2022-08-24 21:45] Rick-Kirkham commented on #3355
@tj-aew There seem to be 4 different ways of debugging described in the article:

![image](https://user-images.githubusercontent.com/9088056/186529042-c00d8322-86fa-42c4-85a3-00fd4739653b.png)

Can you clarify for me which one(s) are not working? Are any of them working?

[2022-08-25 07:46] tj-aew commented on #3355
@Rick-Kirkham - Sorry for not being explicit about that, although I did quote the steps. The first one: **Use the VS Code debugger for Excel on Windows**

[2022-08-25 10:20] tj-aew commented on #3355
@igor-ribeiiro - Thanks. Unfortunately it still doesn't work even if I comment out the `devtoolModuleFilenameTemplate: "webpack:///[resource-path]?[loaders]",` line in `webpack.config.js` (screenshot (A) at end of comment) and avoid using `Watch`. I still get an error in the Debug Console (which may or may not be related) and, more importantly, breakpoints don't work. (Steps I followed below in ca

[2022-08-25 23:59] JimbobTheSailor opened #3604 "Summer 2022??"
Please do not use Northern Hemisphere references "Summer 2022", just because it is your summer does not make it our summer. We are in winter. Use proper calendar dates, "June 2022"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a18f55e3-bc76-a75f-8e0a-c64e342e91e0
* Version Independent ID: e47dd6b7-f6fa-9c01-91fd-a52fe

[2022-08-26 18:17] YasharHeydari opened #3605 "Conflicts and questions about Shared Runtime ( Browser Runtime Type)"
[Enter feedback here]
Hello,
     In both Javascript only and Browser Runtime types it's mentioned that Local Storage is supported but in a note is specified that Local Storage won't work in JS Only Runtime. I don't have access to Local Storage in JS Only Runtime and the 1st question is:
    1- Is there any way to share data or use some sort of storage like Local Storage in JS Only Runtime?

    2

[2022-08-26 19:37] Rick-Kirkham commented on #3604
I have searched that article for "Summer" and got no hits. Could you tell me exactly where on that page you are seeing "Summer 2022"?

[2022-08-26 22:14] Rick-Kirkham commented on #3605
I am researching your first question, but I suspect that LocalStorage is not supported by the JS-only runtime. Either way, I will clarify the documentation to remove the contradiction.

Regarding your second question, a shared runtime has a single session with the web app server. I'm not clear on what you mean by the UNDO stack. Could you elaborate?

[2022-08-27 23:09] jjaronik opened #3606 "Creating working navigation links for a tab bar in the taskpane"
Summary: I've been digging around for a clear answer to this but haven't found anything explicit and all in one place yet. Does a clear explanation exist for what files (e.g., manifest.xml)/code needs to be changed to create links to other .html files from a nav bar within the taskpane? I've been trying to find sample code, but most samples I've found don't include multiple views.

https://docs.mi

[2022-08-28 00:22] Rick-Kirkham commented on #3606
If you open the add-ins home page in an ordinary browser window, do the links to other html files work?

[2022-08-29 02:10] jjaronik commented on #3606
If I open the taskpane.html file in a browser window running on localhost:3000, that file works but the the link to the new html file doesn't.
If I go straight to the new html file from localhost:3000, the server doesn't recognize that the file exists. (i.e., https://localhost:3000/name.html) I get: "Cannot GET /name.html"
I added it in the <AppDomain> element (as below) and re-uploaded the manife

[2022-08-29 18:34] Rick-Kirkham commented on #3605
Thanks. Your second issue is being tracked on this issue: [Undo unavailable after running custom functions in Excel](https://github.com/OfficeDev/office-js/issues/2543). It had mistakenly been tagged as inactive. I have fixed the tag and sent an email to the engineer who is working on it.

I'm still waiting to hear from the engineers about your first question.

[2022-08-29 18:43] igor-ribeiiro commented on #3355
Hello @tj-aew. I just published a new version of Excel Custom Functions (JavaScript only runtime) for TypeScript. Could you test it to see if it works?
Also, I would recommend running the dev-server manually and not using the automated process that is launched at the start. That behavior came with a VSCode update and it was unintentional, so I would recommend avoid relying on it for now.

 `Why do

[2022-08-29 18:45] Rick-Kirkham commented on #3606
So the pages that don't open are in the same domain as your home page. In that case, you don't need to add anything to the `<AppDomands>`. The add-in's domain is always trusted.

These links that don't work are anchor (`<a> ...</a>`) links, right?

Based on your symptoms, I think that https://localhost:3000/name.html is not the correct URL for the name.html file. could you provide your propects fo

[2022-08-29 19:02] #3601 closed

[2022-08-29 23:50] davidchesnut commented on #3602
Hi @ChrisGrove are you having to specify the full format, like "api://localhost:44355/c6c1f32b-5e55-4997-881a-753cc1d563b7" or do you also have to specify the "access_as_user" scope at the end of that?

I'm checking with the identity folks as I've never seen this behavior. Thanks for lettings us know about this!

[2022-08-30 16:02] YasharHeydari commented on #3605
Thanks for the update,
     regarding this [thread ](https://github.com/OfficeDev/office-js/issues/2543) you mentioned, I've seen that and I have shared my videos on that but generally there is a difference between Shared Runtime and JS only Runtime behavior regarding UNDO stack! The repo mentioned in that thread is JS Only Runtime and I don't see such an issue unless I open the Task Pane, but in

[2022-08-30 21:58] alison-mk commented on #3506
Hi @david-ps, thanks for your patience and for submitting this issue. I've done research internally and have some clarification to offer:

Custom functions shouldn't change cells outside of the cell running the custom function. Custom functions also should not change the Excel environment (such as by changing Excel's language settings, or by adding worksheets). Custom functions can use Excel JavaS

[2022-08-30 21:58] #3506 closed

[2022-08-30 22:20] david-ps commented on #3506
Thankyou 🙂

[2022-08-30 23:48] #3605 closed

[2022-08-31 13:34] moshikonachmias opened #3612 "Should I use onReady or initialize"
You used Office.initialize in your example, but you recommended using Office.onReady() in the following document:
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/initialize-add-in

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a59958d2-f428-9ca2-3440-a5af662386c0
* Version Independent ID: dcaf0b5b-08ea-c437

[2022-08-31 16:56] AlexJerabek commented on #3612
Hi @moshikonachmias,

Thanks for pointing out this discrepancy. @samantharamon, could you please investigate?

[2022-08-31 20:32] #3580 closed

[2022-08-31 23:38] JimbobTheSailor commented on #3604
Hi Rick, thanks for reaching back to me.

The words "Summer 2022" is in the first tab on the page that can be
selected titled "Select the tab for the environment you choose". There are
two tabs "Node.js Environment" and "Visual Studio Environment"

Click the "Visual Studio Environment" and you will see it in the green
highlighted 'Tip", as pasted below

 Tip

As of summer 2022, the XML schemas for

[2022-09-01 20:28] #3604 closed

[2022-09-01 21:03] AlexJerabek commented on #3590
Hi @huabin,

The page in question appears to now be translated for the Chinese language. I will close the issue now. Please let us know if you encounter other issues.

Thanks!

[2022-09-01 21:04] #3590 closed

[2022-09-02 00:29] samantharamon commented on #3612
Thanks for reporting this, @moshikonachmias. Please follow the guidance in the document you linked ([Initialize your Office Add-in](https://docs.microsoft.com/office/dev/add-ins/develop/initialize-add-in)). We'll update the Outlook tutorial for consistency.

[2022-09-02 05:03] huabin commented on #3590
Cool, thank you.

[2022-09-04 10:44] tj-aew commented on #3355
@igor-ribeiiro - Thanks! Sorry for the slow reply, press of work.

Unfortunately, this version doesn't fix the problem. If I follow the steps in your message, the custom functions in the add-in don't load at all:

![image](https://user-images.githubusercontent.com/101200432/188308709-8bddd1d9-3a0e-495b-9c97-53dca1cc1f8e.png)

Here's the error in the `OfficeAddins.log.txt` file:

[code]

As you can

[2022-09-05 09:28] ChrisGrove commented on #3602
Hi David,
              It was just the full format without the scope.

Kind regards
Chris

Mr Chris Grove MCSD (SharePoint), MCP (He/Him) |  Software Developer

+44 (0) 1323 452334<tel:+44%20(0)%201323%20452334>
***@***.******@***.***>
Old Wish Road, Eastbourne, East Sussex, BN21 4JX        [https://webmail.eastbourne-college.co.uk/owa/auth/ECbanner/main-logo.png] <https://youtu.be/J21ASgFnfq4>

[2022-09-05 23:23] jjaronik commented on #3606
Hi! Sorry for the delay in getting back to you on this. I did some more trouble shooting and realized I had to add the new html file to webpack.config.js as a new HtmlWebpackPlugin. You pointed me in the right direction once I realized the issue had to do with the file not running properly on my localhost and when you mentioned Webpack, so thank you!

[2022-09-06 08:01] martibook opened #3624 "The default project type(Office Add-in Task Pane project) doesn't work"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50a89144-ac19-b28e-2842-5e2cbdb1cb00
* Version Independent ID: cb59df19-9c22-de2c-0c46-7a1403312987
* Content: [Build your first PowerPoint task pane add-in - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/powerpoint-q

[2022-09-06 16:38] AlexJerabek commented on #3606
Reopening since the bot closed this issue.

Glad to hear your project is working @jjaronik. Is there anything more you need on this issue?

[2022-09-06 16:48] AlexJerabek commented on #3624
Hi @martibook,

Thanks for reporting this. I believe I encountered the same errors while running yo office that you did. For completeness, could you please share the errors you received?

[code]

That said, I was able to get the project working by running `npm install` in the project folder. Does that step unblock you?

[2022-09-06 16:56] AlexJerabek commented on #3624
Also tagging @igor-ribeiiro for awareness.

[2022-09-07 01:51] jjaronik commented on #3606
That's all for now. Thanks!

[2022-09-07 02:46] martibook commented on #3624
This is what I choose when creating Add-in project
![image](https://user-images.githubusercontent.com/20094820/188776858-1722f544-8c2d-4166-8a37-45b770a95e45.png)

I run "npm start" without running "npm install" first
![image](https://user-images.githubusercontent.com/20094820/188776995-12910717-ae14-4b9e-b1c0-1c6ddc2ce7f7.png)

Then I immediately run "npm install" and then "npm start" again
![ima

[2022-09-07 19:03] alison-mk commented on #3624
Hi @martibook, I encountered the same error as you yesterday while using yo office to set up an add-in (in my case, I was creating an Office Add-in Task Pane with TypeScript, for Excel). Sorry you're having trouble, too!

I was able to resolve the error by updating my node version, which also updated my npm version. I'm now using: node v16.17.0 and npm v8.15.0. Which versions of node and npm are y

[2022-09-07 23:32] davidchesnut commented on #3624
You could also try "npm cache clean --force" in case maybe the npm cache has something corrupted in it.

[2022-09-08 04:55] #3606 closed

[2022-09-08 23:17] microsoft-github-policy-service[bot] opened #3632 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-08 23:20] #3632 closed

[2022-09-09 22:07] davidchesnut commented on #3602
Hi @ChrisGrove, Can you check your app registration for the following?
1. Select the manifest view from the left side when viewing the app registration in the Azure portal.
2. Look for `accessTokenAcceptedVersion`. It must be set to 2. If not, change it to 2.

This can happen if you configured the registration type as "Accounts in any organizational directory (Any Azure AD directory - Multitenant)

[2022-09-09 22:18] igor-ribeiiro commented on #3355
Hello @tj-aew, sorry that your problem wasn't solved yet. Thanks for the detailed information you posted, I found some differences in what I'm doing that I will be sharing.

First, about the WEF cache cleaning, I'm not talking about the registry here. You don't need to open the registry at all. Sorry for this misunderstanding.
You need to delete the following directory from your OS: C:\Users\<user

[2022-09-12 07:42] ChrisGrove commented on #3602
Hi @davidchesnut

I checked my manifest and the values is null. For reference at this point [Register the add-in through an app registration](https://github.com/OfficeDev/office-js-docs-pr/blob/main/docs/develop/create-sso-office-add-ins-aspnet.md#register-the-add-in-through-an-app-registration), I chose 'Accounts only in this organizational directory' and then followed the relevant later steps to

[2022-09-12 09:40] tj-aew commented on #3355
@igor-ribeiiro - Thanks. Sorry if I was unclear, I do understand the `Wef` directory thing. When I said *"I've tried repeatedly, made sure my `Wef` directory was clear, that there were no stray debugging entries in the registry (`HKEY_CURRENT_USER\SOFTWARE\Microsoft\Office\16.0\WEF\Developer`), etc."*, I was giving a *list* of things I've tried:

1. made sure my `Wef` directory was clear
2. that t

[2022-09-13 17:42] igor-ribeiiro commented on #3355
@tj-aew I really not entirely sure how we can proceed.
I recommend upgrading all the global packages version you have, such as node to v16.15.0 (the one I'm testing).
I would recommend double-checking your Office/Excel version on the latest.

The only think I can thing of right now is configuration issues. Let me know if this can help solve the issue.

[2022-09-14 07:23] tj-aew commented on #3355
@igor-ribeiiro - Thanks. Frankly, I **very** much doubt it's a configuration issue. But my Node version is out of date (how time flies). I'll update to the latest LTS (16.17.0) when my IT folks are in the office. Would you do the same? (v16.15.0 is out of date.) If you can't, please let me know ASAP and I'll do v16.15.0 instead, but it's out of date so...

What, other that Node?

Once we're on the

[2022-09-15 04:02] #3624 closed

[2022-09-16 19:23] GrumpyAL commented on #3106
@samantharamon after reading through the August community call, I have a question.  Will this exemption process now just apply automatically or do we still need to opt in for any new or existing add-ins using the above form?  Our concern is that we have rare occasions where the appID may get changed before the add-in is deployed.

[2022-09-17 01:33] samantharamon commented on #3106
@GrumpyAL thanks for raising this question. The team is currently testing automatic add-in traffic identification, so that you won't need to submit the form for your new and existing add-ins to be exempted. During this testing phase, and especially since your add-in has certain conditions, I encourage you to submit a [form](https://aka.ms/RESTCheck) to participate in testing. This will allow the t

[2022-09-22 11:42] wh1t3cAt1k opened #3648 "Is it possible to use SVG icons instead of PNG?"
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 994c840a-5e2b-1ae6-3031-ac1b7ac4f5e4
* Version Independent ID: b25f2f7c-1620-35f1-9fc6-b4c08fe87538
* Content: [Create custom contextual tabs in Office Add-ins - Office Add-ins](https://learn.microsoft.com/en-us/office/dev/add-ins/design/contextual-tabs)
* Content Source:

[2022-09-22 13:50] tj-aew commented on #3355
@igor-ribeiiro  - Checking back on the above. Are you able to update to the latest LTS, or shall I have my IT department install an out-of-date version of Node.js? Also, please note my question above about global packages.

[2022-09-22 23:25] igor-ribeiiro commented on #3355
Hello @tj-aew. I would recommend upgrading to 16.15.0 for now. I did some not successful tests on the LTS 16.17.0, which I still have to investigate if it is working or not.
Please, test on 16.15.0 and let me know the results.

[2022-09-23 10:59] DominikPalo opened #3650 "PowerPoint is not mentioned in the `.run` documentation"
The ***.run function** paragraph mentions only Excel, Word, and OneNote (`Excel.run`, `Word.run,` and `OneNote.run`). I think PowerPoint (`PowerPoint.run`) should also be included there, as PowerPoint supports JS API.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 39717544-9615-86da-c52a-d73a9d295218
* Version Indepen

[2022-09-23 20:04] Rick-Kirkham commented on #3648
I'm sorry but SVG icons are not supported. Icons must be GIF, JPG, PNG, EXIF, BMP, or TIFF. Office requires icons to be be rasters of pixels so that they have a clearly defined height, width, and aspect ratio.

[2022-09-23 20:04] #3648 closed

[2022-09-23 20:18] Rick-Kirkham commented on #3650
You are correct. I will update that article.

[2022-09-23 20:21] #3650 closed

[2022-09-24 08:11] ivose opened #3654 "Please "yo office" version"
## Article URL

https://learn.microsoft.com/en-us/office/dev/add-ins/tutorials/powerpoint-tutorial

## Issue

Maybe you can write how to do the same example with 'yo office' command. Using Visual Studio (instead of vs code), requires too much memory - 7 GB.

[2022-09-24 09:03] ivose opened #3655 "Please update your instructions"
https://learn.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-custom-functions-quickstart?tabs=excel-windows

Here is telling `yo office` And the second step doesn't work:
`Choose a project type: Excel Custom Functions Add-in project` . In my computer it provides no option `Excel Custom Functions Add-in project`. Trying alternatively `Choose a project type="Office Add-in Task Pane project

[2022-09-26 15:46] AlexJerabek commented on #3655
Thanks for reporting this @ivose. I'm sorry to hear you're having issues with the quickstart.

@alison-mk, could you please investigate?

[2022-09-26 15:48] AlexJerabek commented on #3654
Hi @ivose,

That's a valid point that most of the other tutorial have options other than Visual Studio. @Rick-Kirkham, could you please investigate and see what it would take to retool the PowerPoint tutorial?

[2022-09-26 19:23] Rick-Kirkham commented on #3654
@ivose We have a work item to change the PowerPoint tutorial from one that uses the Common APIs to one that uses the PowerPoint-specific APIs. I think we can merge your request into that work item.

[2022-09-26 23:41] davidchesnut commented on #3602
Yep, it needs to be "accessTokenAcceptedVersion": 2, did you try that value? Thanks!

[2022-09-27 04:57] alison-mk commented on #3655
Hi @ivose, thank you for submitting an issue. We recently updated and renamed the custom functions projects in Yo Office. If you are using Excel on Windows, choose the project type `Excel Custom Functions using a Shared Runtime` and then follow the existing directions. Here is a screenshot:

![image](https://user-images.githubusercontent.com/7977793/192435118-d73760e5-1e52-4170-8259-36404124e030.p

[2022-09-28 13:52] tsolman commented on #2114
Why is this issue closed?
Still, the documentation is not complete and i get the same error on Mac.

[2022-09-29 05:45] exextoc commented on #3086
Can you please try to delete the content of the following folder and see if cache is cleared:
 ~/Library/Containers/com.microsoft.Outlook/Data/Library/Application\ Support/Microsoft/Office/16.0/Wef/

Steps to confirm :
1. Launch Outlook and wait for addins to load. All installed addins should be loaded along with icons in toolbar & dropdown.
2. In terminal execute
rm -rf ~/Library/Containers/com.m

[2022-09-29 08:50] sdudnic opened #3663 "how to ADD THE Javascript API to Excel"
## Why on earth any article describe **how to ADD THE Javascript API to Excel**?

Please add a section to new users to understand how to add the Javascript Api to a Excel.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5dbd56fa-cbf0-9965-5bf6-a373e68e2f62
* Version Independent ID: c642aff4-7440-75e0-67a9-3a143c26ea65

[2022-09-29 14:16] #3663 closed, assigned to nobody

[2022-10-01 08:49] kasperkamperman opened #3667 ""Sideload a Yeoman-created add-in to Office on the web" error"
Step 2 and it's examples are wrong.
npm run start:web -- --document {url}

When I run:
```npm run start:web -- --document https://contoso.sharepoint.com/:t:/g/EZGxP7ksiE5DuxvY638G798BpuhwluxCMfF1WZQj3VYhYQ?e=F4QM1R```

It gives an error. ```zsh: no matches found```

I had to add apostrophes around the url to make it run.
```npm run start:web -- --document 'https://contoso.sharepoint.com/:t:/g/EZGx

[2022-10-01 19:31] Rick-Kirkham commented on #3667
I'll see if I can reproduce this.

[2022-10-03 21:01] Rick-Kirkham commented on #3667
I cannot reproduce this on a Windows computer. In fact, adding the quotation marks breaks the sideloading. I'll see if it can reproduced on a Mac,

[2022-10-04 18:25] samantharamon commented on #2114
Hi @tsolman. Thanks for reporting this issue. Are you referring to the [Sideload Outlook add-ins for testing](https://learn.microsoft.com/office/dev/add-ins/outlook/sideload-outlook-add-ins-for-testing?tabs=windows) article by any chance? To help us troubleshoot the issue further, what Office, macOS, Node.js, and npm versions are you using?

[2022-10-04 19:36] Rick-Kirkham commented on #3667
It can be reproduced on the Mac in either the zsh or fish terminals. I'll update the docs.

[2022-10-05 12:56] idr-raas opened #3674 "SendMode is not validated correctly when uploading custom app in MS Admin Center"
## Article URL

https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough#configure-the-manifest

## Issue

 when i try to upload this manifest to MS Admin Center/Integrated Apps/Upload Custom App it gives back the following error in the network tab of dev console. However, same file is validated on desktop and functions correctly when sideloaded

{
    "a

[2022-10-05 16:34] AlexJerabek commented on #3674
Thank you for reporting this @idr-raas.

@samantharamon, could you please investigate?

[2022-10-05 18:30] Rick-Kirkham commented on #3667
The corrected instructions will be published late Thursday afternoon in the Pacific USA time zone.

[2022-10-05 18:52] kasperkamperman commented on #3667
Thanks!

[2022-10-06 08:57] TriciaYan opened #3676 "How to make the Contoso Add-in show in the Ribbon?"
Hi,

I am using sample code to build my first outlook add-in. Unfortunately, Contoso Add-in shows times in the Ribbon. After I remove all of them and then submit 'npm start', it never shows up again.  Could you please help let me know the reason? So strange. Thank you~

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 93

[2022-10-06 10:16] kasperkamperman opened #3677 "Hello World more prominent in Office-Addin documentation."
I think that the Hello World examples should have a more prominent place on the Office-Addin page (Beginners Guide, or Quick starts).

Thanks to this tutorial (https://www.youtube.com/watch?v=tLGs9xChvXY) of David Chesnut and this page, I learned that Office Add-ins are actually just an XML manifest with a webpage.

On the quickstarts the focus lies too much on tooling. Like the Beginners guide me

[2022-10-06 22:08] samantharamon commented on #3674
Hi @idr-raas,

I'm also getting an "Invalid manifest file" error when I attempt to upload the Smart Alerts walkthrough manifest file. I'll look into this further and will let you know what I find.

[2022-10-11 08:54] gullbyrd commented on #3398
This issue has been resolved. As a Windows guy, I didn’t know that you have
to press ctrl-right-click (as opposed to just right-click) to bring up the
context menu in a Mac.
I hate Macs.

On Mon, May 2, 2022 at 11:15 AM Alex Jerabek ***@***.***>
wrote:

[2022-10-11 18:20] alison-mk commented on #3398
Thanks for reporting back about your solution, @gullbyrd!

[2022-10-13 19:02] #3676 closed

[2022-10-16 19:26] davidboss4u opened #3705 "outdated samples"
I need Word or Excel taskpane sample
The video is very nice, but when following it, nothing works
Word samples are very old, almost all are "Public archive"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0ddce0bd-5c66-c2cb-0640-ee4d5bd401c5
* Version Independent ID: b5d4bc26-a43e-4a85-e7d5-fe4fc4ec3d0d
* Content: [Sid

[2022-10-16 20:46] Rick-Kirkham commented on #3705
We need more details than just "nothing works". What goes wrong? What do you expect to see and what do you actually see?
Also, please note that this article is about sideloading. It is not about providing sample add-ins.

[2022-10-18 16:44] samantharamon commented on #2114
Hi @tsolman,

As we haven't heard back from you, I will go ahead and close this issue. Should you require further assistance, please [open a new issue](https://github.com/OfficeDev/office-js-docs-pr/issues/new) so that we can assist you.

Thank you.

[2022-10-18 16:44] #2114 closed

[2022-10-20 22:49] samantharamon commented on #3056
Hi @moshikonachmias,

Thank you for your patience. Now that the Smart Alerts feature has been deployed as part of Mailbox requirement set 1.12, we have updated the [Smart Alerts walkthrough](https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/smart-alerts-onmessagesend-walkthrough?tabs=xmlmanifest#differences-between-smart-alerts-and-the-on-send-feature) to differentiate this from the on-

[2022-10-20 22:49] #3056 closed

[2022-10-24 01:01] #3705 closed

[2022-10-27 16:44] BryantDavis1986 opened #3715 "Auth0 Integration"
The Github Repository example provided for Auth0 seems to have been archived and does not reflect what an app looks like when generated by the yo command. Unable to really understand this flow or how to properly provide support for auth0 integration using the React implementation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking

[2022-10-27 20:27] davidchesnut commented on #3715
Hi @BryantDavis1986,

Unfortunately we don't maintain the auth0 sample anymore (thus archived). The most important part of the sample is that you need to use the Office dialog API to open the authentication dialog. See this [section of code](https://github.com/OfficeDev/Office-Add-in-Auth0/blob/3e8dfc424cb4e424b1862dfe6fab5b5d98eedbf4/Scripts/index.js#L69) Other than that you should be able to rel

[2022-10-27 21:50] BryantDavis1986 commented on #3715
Good Afternoon,
      Thank you for the quick reply @davidchesnut . So in this instance would I be using React routing to render a popup Component instead of pointing it to a raw static html file? Which inside the dialogue component I would then render or use the Auth0 React hooks?

[2022-10-31 09:42] clavx opened #3718 "Outlook for Windows: "Resources" behavior in Calendar view"
Outlook for Windows: "Resources" behavior in Calendar view

I have a question about the return value of the `enhancedLocation.getAsync` method.

I have confirmed the following behavior in Outlook for Windows:
* The "Rooms" box and the "Resources" box are the same.
* (1) When an Equipment or User is specified in the "Resources" box (= "Rooms" box), it will be displayed in the "Required" field.
* (2

[2022-11-02 21:47] samantharamon commented on #3718
Hi @clavx,

Thank you for providing details about your test scenarios. The video of the behavior you're getting is much appreciated. I'll look into this further to determine the expected behavior and get back to you.

[2022-11-03 14:20] bogdanst24 opened #3722 "Missing warning for usage of the Office.Context at root level of launchevent.js"
The documentation for event-based activation in the Outlook add-in is not complete.

## Article URL

https://learn.microsoft.com/en-us/office/dev/add-ins/outlook/autolaunch?tabs=xmlmanifest#implement-event-handling

## Issue

When accessing the Office.Context at the root level in the launchevent.js, running the add-in in Outlook for Desktop will fail at load time. This requirement/limitation is no

[2022-11-03 15:32] AlexJerabek commented on #3722
Thanks for reporting this @bogdanst24.

@samantharamon, could you please investigate?

[2022-11-03 21:20] samantharamon commented on #3722
Hi @bogdanst24,

Thank you for the feedback. Suggestions to improve our documentation are always welcome. :)

Would you mind sharing your scenario and the code you used to access Office.context at the root level? Was it via `Office.onReady()` or `Office.initialize` by any chance?

[2022-11-04 15:50] marindedic opened #3725 "How to create a content add-in using Office.js"
I have read the content add-in docs (https://learn.microsoft.com/en-us/office/dev/add-ins/design/content-add-ins), it has the implementations section. However, the mentioned implementation is 6 years old and doesn't use todays principles. Im looking just for a "hello world" type example or resource that can guide me.

[2022-11-06 13:26] Realman78 commented on #3725
Thanks for the reply. It is still in R&D stage where we don't know EXACTLY what to do with a content add-in, but we need to know if it's possible. For example, select a few cells and create a new sheet using those cells as input.

[2022-11-07 08:16] bogdanst24 commented on #3722
`
void Office.onReady(() => {});

Office.actions.associate('onMessageComposeHandler', ......);
Office.actions.associate(
 'onMessageRecipientsChanged',
  (event: Office.AddinCommands.Event) =>
    void onMessageRecipientsChanged(event, insertionOptions)
);`

[2022-11-07 08:19] bogdanst24 commented on #3722
As a short example, this fails on Outlook desktop.

`
void Office.onReady(() => {});

const support = Office.context.requirements.isSetSupported('Mailbox', '1.11');
console.log(support);

Office.actions.associate('onMessageComposeHandler', ......);
Office.actions.associate('onMessageRecipientsChanged', .....);

`

[2022-11-07 09:52] marindedic commented on #3725
Thanks for the reply. It is still in R&D stage where we don't know EXACTLY what to do with a content add-in, but we need to know if it's possible. For example, select a few cells and create a new sheet using those cells as input.

[2022-11-07 10:15] marindedic commented on #3725
Since creating a Content add-in has the same principle as creating a TaskPane add-in, this issue could be closed by listing the minor differences in the manifest xml file.

- Change `xsi:type="TaskPaneApp"` to `xsi:type="ContentApp"`
- Add width and height: `<DefaultSettings>
    <SourceLocation DefaultValue="https://localhost:3000/taskpane.html"/>
    <RequestedWidth>1000</RequestedWidth>
    <Re

[2022-11-07 18:47] davidchesnut commented on #3715
Hi @BryantDavis1986, For complete details on how the Office dialog API works, see https://learn.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins

As long as the React router is returning the expected URL that you put in (such as `Office.context.ui.displayDialogAsync('https://myDomain/myDialog.html', {height: 30, width: 20});`) then that HTML page will be launched. The pa

[2022-11-09 00:19] samantharamon commented on #3722
Thank for providing a code sample, @bogdanst24. I'll update our documentation to note this. I also verified with the team that event-based add-ins in Outlook on Windows don't run the `Office.onReady` and `Office.initialize` functions. Any code that you would normally run here, such as checking for a supported requirement set, should be called within the event handler instead. If you call these fun

[2022-11-10 08:11] clavx opened #3733 "About the `emailAddress` property of the return value of `enhancedLocation.getAsync`"
The `LocationDetails` interface of the return value of `enhancedLocation.getAsync` contains the `emailAddress` property and the `locationIdentifier` property.
In the sample code, the `emailAddress` property is referenced when the value of the `type` property of the `LocationIdentifier` is of type `Room`.

[code]

I understand each property as follows:

[code]

I'm not sure what the role of the `em

[2022-11-10 15:18] engineerjasonpadre commented on #3526
check for all `CERTIFICATION ATTENDED ONLINE AND F2F`

[2022-11-10 17:58] AlexJerabek commented on #3725
Thanks for the suggestion to make the manifest change clearer. We'll make that update soon.

[2022-11-10 17:59] AlexJerabek commented on #3733
Thanks for the question @clavx.

@samantharamon, could you please help provide some clarity?

[2022-11-11 15:29] taoufiqi opened #3736 "Hosting add-in files (manifest and html pages) on HCL Domino"
## Article URL

## Issue
Hi,
I have delopped an outlook add-in and all is OK when using local server for testing. But, when I tried to move my files to HCL Domino database (application) I found that the first URL sent to the server for my taskpane.html is like this : https://<serverurl>/app/takepane.html?et=
For Domino, ?et is unknown command so it gives me an error.
I'm blocked and can't go futhe

[2022-11-11 21:42] ElizabethSamuel-MSFT commented on #3736
@taoufiqi Sorry to hear that you're blocked. However, it seems like it may be better if you ask for help on Stack Overflow and tag with outlook-web-addins. You should also tag the item with HCL Domino to see if members of that community can help.

[2022-11-11 21:44] #3736 closed

[2022-11-12 00:58] samantharamon commented on #3733
Thank you for reaching out, @clavx. The `emailAddress` property provides a direct option to retrieve the email address if the location's a room instead of retrieving it from the `id` property of the `LocationIdentifier` object. The sample includes a location type check and the `emailAddress` property to highlight that only `Room` type locations have an email address. You correctly pointed out that

[2022-11-12 02:19] samantharamon commented on #3722
@bogdanst24, we made the necessary changes based on the feedback you provided (see #3737). Once the changes are merged, this issue will automatically close. Should you have additional feedback, please don't hesitate to re-open this issue. Thank you.

[2022-11-12 12:19] mohabayman-t opened #3738 "ADD-IN ERROR - The content is blocked because it isn't signed by a valid security certificate"
# ADD-IN ERROR - The content is blocked because it isn't signed by a valid security certificate

Description:  This error shows up when sideloading my React app into desktop Word
![image](https://user-images.githubusercontent.com/103205155/201472720-f06c8177-e28d-44af-ae4c-35e57d56598d.png)

### How to recreate the app?
[code]

### How to start the app?
either:
[code]
or:
[code]

### What fixed we

[2022-11-14 09:38] clavx commented on #3733
Thank you for your answer.

I'm relieved that my interpretation is right.
My question has been answered.

Thank you!

[2022-11-14 17:31] davidchesnut commented on #3677
Thanks @kasperkamperman, I added some more mentions of hello world to the docs in this PR:  #3734

Hope this helps,
David

[2022-11-14 17:32] #3677 closed

[2022-11-14 21:33] davidchesnut commented on #3602
I added how to check the access token version in the docs at:
- [Node.js SSO walkthrough](https://learn.microsoft.com/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs#configure-access-token-version)
- [ASP.NET SSO walkthrough](https://learn.microsoft.com/office/dev/add-ins/develop/create-sso-office-add-ins-aspnet#configure-access-token-version)

[2022-11-14 21:33] #3602 closed

[2022-11-14 22:01] #3715 closed

[2022-11-14 23:38] AlexJerabek commented on #3738
Hi @mohabayman-t,

I'm sorry to hear you're having issues. To better help you, could you please answer the following questions?

1. What version of Node.js are you using?
2. What version of yo office are you using?
3. Are you having the same problems with yo office created add-ins with different frameworks (like [jQuery](https://learn.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickst

[2022-11-15 18:28] #3722 closed

[2022-11-15 18:55] #3725 closed

[2022-11-15 20:15] hlprmnky opened #3744 "Should not be installable on macOS clients"
I understand that the requirements page for the extension says "Windows 10", but the documents for debugging an add-in literally advise the following:
[code]
and that URL tells you to install this extension, which then launches your add-in, attaches to the running Webpack process, and _only then_ suffers a fatal error reporting that it's not supported on other than Windows 10 of at least some rece

[2022-11-15 22:35] Rick-Kirkham commented on #3744
This refers to https://learn.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-overview#debug-on-mac

[2022-11-15 22:43] Rick-Kirkham commented on #3744
This is fixed. Should be published late today.

[2022-11-16 01:35] hlprmnky commented on #3744
Amazing! Thank you; I realize I came in a little heated and snarky after a long day of frustrations, and I am humbly impressed to see this issue already into and out of the ticket pipeline. I look forward to another day of building cool stuff for my users with these tools you've created.

[2022-11-16 19:03] Rick-Kirkham commented on #3744
I missed the publication deadline. It will publish late tomorrow (Thursday) in the Pacific USA time zone.

[2022-11-16 19:03] #3744 closed

[2022-11-16 19:32] Rick-Kirkham commented on #3744
I stand corrected. The fixed document is published now.

[2022-11-17 00:44] ajadavis opened #3747 "cannot access manifest url at https://127.0.0.1:3000/manifest.xml"
Following directions here: https://learn.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-react

Running on Mac, running other webpack projects successfully today.

Upon running "npm run dev-server", server appears up and healthy from terminal. trying to access localhost:3000, 127.0.0.1:3000, localhost:3000/manifest.xml, 127.0.0.1:3000/manifest.xml unsuccessful in browser (404).

[2022-11-17 17:15] bencassie commented on #3355
I am experiencing the same issue as @tj-aew.

Has the solution moved on in the last couple months at all?

[2022-11-17 18:07] tj-aew commented on #3355
FWIW @bencassie I gave up on Microsoft fixing this and just debug using the Edge devtools. It was taking too much of my time to keep going back and forth with no progress. (Obviously it has zero to do with the Node.js version.)

[2022-11-17 20:41] #3655 closed

[2022-11-17 23:48] davidchesnut commented on #2368
I think this is taken care of. Recent updates made to the Office SSO documentation link more prominently to the Microsoft identity documentation (which is the primary source of info on the Azure portal and registration). Also the registration steps in the walkthrough were updated with additional information and images to help add clarity. So I think it's all good, but happy to reopen this if anyon

[2022-11-17 23:48] #2368 closed

[2022-11-18 06:42] samantharamon commented on #3747
Thank you for reaching out, @ajadavis.

I tested the quick start on the Mac client and the browser, but I couldn't replicate the error you're getting. To confirm, when you run `npm run start:web -- --document {url}`, did you enclose your URL in single quotation marks by any chance?

[2022-11-18 15:08] marindedic opened #3750 "How to create a prompt that depends on the current user selection"
I have noticed there is no documented way of creating a prompt which lets you select a cell range, display the selected cells in the input field in it, and return the appropriate binding. The closest thing to it is the **addFromPromptAsync** method. I read the documentation: https://learn.microsoft.com/en-us/javascript/api/office/office.bindings?view=excel-js-1.9#office-office-bindings-addfromprom

[2022-11-18 23:57] samantharamon commented on #3750
Thanks for reaching out, @marindedic.

@alison-mk would you be able to assist with this?

[2022-11-22 04:01] #3738 closed

[2022-11-22 15:40] jkpieterse opened #3755 "Global add-in settings"
I've read the page about storing settings. It appears we can only store settings in the document for which our add-in (a taskpane add-in in this case) is showing.

However, I have created a document-independent add-in, which the user may use on any document. How would I store settings which are specific to the add-in as a whole, not tied to any document?
Regards,
Jan Karel Pieterse
Excel MVP
[Ente

[2022-11-22 19:23] Rick-Kirkham commented on #3755
We use the Issues in this repo are used to track bugs in the documentation. We recommend that you ask programming questions lie this on StackOverflow and tag it `office-js`, so the whole community benefits from the answer.

[2022-11-22 19:23] #3755 closed

[2022-11-22 21:59] jkpieterse commented on #3755
Fair enough, will do that next time!

On November 22, 2022 8:23:44 PM GMT+01:00, Rick Kirkham ***@***.***> wrote:

Regards, Groetjes,
Jan Karel Pieterse

[2022-11-24 13:33] LionyxML opened #3756 "It does now work"
I might be doing something REALLY wrong, because I can`t manage to get a variable shared between functions.js and my taskpane (that is actually a React App).

They really look like two separated window environments.

I followed this tutorial from scratch in a separated project (Under Excel for macOS). And no magic makes it works.

OfficeRuntime.storage works tought.

---
#### Document Details

⚠ *

[2022-11-27 00:00] ajadavis commented on #3747
hello apologies for the late reply, but seems this might already be closed? yes i can confirm that i enclosed my url in single quotation marks, i have the npm run dev-server + npm start working locally with excel, but the npm run start:web -- --document {url} still reads "cannot access manifest url at https://127.0.0.1:3000/manifest.xml".
i can confirm access https://127.0.0.1:3000/manifest.xml in

[2022-11-27 01:48] ajadavis opened #3757 "The certificate for this server is invalid."
## Article URL

## Issue

Hello
I am attempting to use fetch inside my excel taskpane addin for a network request. I have an express server, and originally i was unable to fetch due to lack of https. i have provided a self signed certificate and excel addin appears to reject this (i am on mac and have safari web inspector set up so i can read from the console inside a desktop version of excel with

[2022-11-28 10:25] GitUserSougata opened #3758 ""Insert Image" button click of "Ceate Office Powerpoint Add-in" shows Error"
Hello everyone,
I followed the Office PowerPoint add-in tutorial from the Microsoft Doc. link below still getting error "Something went wrong" like that. I tried only up to the first "Test the add-in" part which insert bing image into the slide.

Documentation Link:  https://learn.microsoft.com/en-us/office/dev/add-ins/tutorials/powerpoint-tutorial
Image attached.
![Untitlederror](https://user-ima

[2022-11-28 16:59] AlexJerabek commented on #3758
Thanks for reporting this @GitUserSougata.

@alison-mk, could you please investigate?

[2022-11-28 18:56] davidchesnut commented on #3756
Hi @LionyxML, thanks for letting us know about this issue. To be clear you followed the shared runtime tutorial and the add-in created by following the steps in the tutorial didn't work? We can retest that article and be sure it doesn't have an error.

Thanks!
David

[2022-11-28 19:04] davidchesnut commented on #3757
Hi @ajadavis, thanks for letting us know about this. You could try the manual self-certification steps in this [hello world readme](https://github.com/OfficeDev/Office-Add-in-samples/blob/main/Samples/hello-world/excel-hello-world/README.md#configure-a-localhost-web-server-and-run-the-sample-from-localhost). Only don't use the http-server part of it since you are using express server.
1. Run `npm

[2022-11-29 15:02] ajadavis commented on #3757
hi @davidchesnut , this worked like a charm. thank you so much for your assistance, it is truly appreciated!

[2022-11-29 15:03] #3757 closed

[2022-11-29 19:02] alison-mk commented on #3750
@JuaneloJuanelo Can you help answer this question about Common API bindings from @marindedic?

[2022-11-29 21:04] alison-mk commented on #3758
Hello @GitUserSougata,

Which version of Visual Studio are you using? Please provide the entire product name and version number, such as:

Visual Studio 2019, version 16.10.3

Thank you,
Alison