[2019-08-21 17:17] aaronjones1 opened #1259 "Publish manifest file to App Service as well"
How can I deploy the manifest file to the App Service so it's accessible by URL?

I want to use this URL for Centralized Deployment to my Office 365 organization so neither a File Share nor SharePoint are required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a6812c3-fbf6-1a89-6305-8da71f83b5a3
* Version Independent

[2019-08-21 22:14] AbidRahman-MSFT opened #1261 "Schema location only shows examples for Outlook add-ins"
The 'xmlns' attribute's description states that the schema location must be:

- 'http://schemas.microsoft.com/office/mailappversionoverrides' or
- 'http://schemas.microsoft.com/office/mailappversionoverrides/1.1'

However, the schema location can be different for task pane add-ins and content add-ins. For eg. for a content add-in:

- 'http://schemas.microsoft.com/office/contentappversionoverrides/

[2019-08-22 20:01] Rick-Kirkham commented on #1261
Thanks for pointing this out. I've created a work item: OC 3572980.
I'll close this issue since we are tracking the work internally.

[2019-08-22 20:01] #1261 closed

[2019-08-22 20:50] #1232 closed

[2019-08-22 20:52] Rick-Kirkham commented on #860
Because this is being tracked internally with OC\OPX\Content 3261514, I'm closing this issue.

[2019-08-22 20:52] #860 closed

[2019-08-24 00:30] davidchesnut commented on #1259
Hi @aaronjones1 thanks for asking this question! I'm not sure if you are just looking for articles about hosting the add-in/manifest, but these two cover this information.
[Host an Office Add-in on Microsoft Azure](https://docs.microsoft.com/office/dev/add-ins/publish/host-an-office-add-in-on-microsoft-azure) (although you don't have to use Azure)
[Publish Office Add-ins using Centralized Deployme

[2019-08-26 06:34] niteshgolchha85 commented on #1233
Thanks @Joel-Intact for the info. As I've mentioned earlier, I do not have a specific date yet but we'll make a public announcement once we plan to go GA

[2019-08-26 06:34] #1233 closed

[2019-08-26 06:35] niteshgolchha85 commented on #1226
Closing as this seems to be a duplicate of https://github.com/OfficeDev/office-js-docs-pr/issues/1233

[2019-08-26 06:35] #1226 closed

[2019-08-27 15:24] Sheikz opened #1265 "Office.context.ui.messageParent does not work on Internet Explorer"
It works fine on Chrome, but it does not work on Internet Explorer.
The dialog opener does not receive any message upon invocation of the method in the dialog box.

It is also not working in Outlook Desktop application, which is based on IE

[2019-08-28 14:48] 4tti commented on #660
There is even this related user-voice:
https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/31752895-js-api-function-to-prevent-user-from-sheet-interac

[2019-08-30 17:15] mclean25 opened #1271 "Application does not run on HTTPS following provided instructions"
I followed all of the instructions to create a an office add-in with vue, but I can't get my server to run on https:

`λ npm run dev`
` Your application is running here: http://localhost:8080`

This is my `scripts in ./package.json`:
[code]

Additionally, if I try going to http://localhost:8080 it says I don't have a certificate, which makes sense I suppose but nothing in the "[solution](https://g

[2019-08-30 17:15] mclean25 opened #1278 "Application does not run on HTTPS following provided instructions"
I followed all of the instructions to create a an [office task bar with vue](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-vue), but I can't get my server to run on https:

`λ npm run dev`
` Your application is running here: http://localhost:8080`

This is my `scripts in ./package.json`:
[code]

Additionally, if I try going to http://localhost:8080 it says I don'

[2019-08-31 14:46] ltanase77 opened #1274 "Updating a sideloaded add-in"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-office-add-ins-for-testing

## Issue
There is no explication about how to make the Office application to show updates for a side-loaded add-in. In practice the Office 365 or IE 11 caching mechanism makes extremely difficult to see the changes made in add-in code. For some reasons the application is stuck in showing

[2019-09-01 05:54] JohnLukeBentley opened #1275 "Word add-in tutorial. Security certificate error."
## Article URL
["Tutorial: Create a Word task pane add-in" ... "Test the add-in"](https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/word-tutorial#test-the-add-in)

## Issue

In short: In Word for Desktop I get a security certificate error when trying to the follow the tut.

In detail:

I've successfully completed the [Build your first Word task pane add-in](https://docs.microsoft.com/e

[2019-09-01 07:32] Djone124 opened #1276 "Create a workbook Example not working"
Could not get the example provided in the section Create a workbook with a Base64 example to function. It is saying the property result does not exist for "event.target". The code is being run in Script Lab.

<img width="703" alt="Screen Shot 2019-09-01 at 12 08 05 AM" src="https://user-images.githubusercontent.com/24239961/64073111-46de4d00-cc4e-11e9-9128-1b54974a92b8.png">

---
#### Document Det

[2019-09-02 12:55] EinmalIM opened #1277 "The closing </EquivalentAddins> is missing the /"
Missing / when closing the EquivalentAddins XML element

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e01562c5-ae22-8345-83f5-c1159bbb7cf0
* Version Independent ID: 70835436-060e-807f-3cee-a8ca0f7b6959
* Content: [Make your Office Add-in compatible with an existing COM add-in - Office Add-ins](https://docs.microsoft.c

[2019-09-02 18:00] #1259 closed

[2019-09-02 19:33] kbrandl commented on #1277
@EinmalIM thank you for reporting this doc bug. I've updated the docs to add the missing `/` and you'll see this change in the live docs the next time that doc updates are published (within the next couple of days). Thanks again!

[2019-09-02 19:33] #1277 closed

[2019-09-02 19:36] kbrandl commented on #1276
@Djone124 sorry to hear that you've run into this problem. @AlexJerabek is this something that you can investigate? Thanks!

[2019-09-02 19:37] kbrandl commented on #1275
@JohnLukeBentley sorry to hear that you've run into this problem. @Rick-Kirkham is this something that you can investigate? Thanks!

[2019-09-02 19:53] JohnLukeBentley commented on #1275
Thanks @kbrandl !

[2019-09-02 20:23] kbrandl commented on #1278
@AlexJerabek FYI, assigning this one to you (since it's related to PR #1243 which updates the Vue quick start). Thanks!

[2019-09-03 05:04] wonderplayer opened #1279 "MessageComposeCommandSurface does not add add-in to reply email"
In Outlook Web, I can see my add-in whether I'm replying to email or creating a new one. But in Outlook Desktop App, I can only see my add-in when creating a new email.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e092f1-aa6a-45b5-50ce-a1afca772776
* Version Independent ID: fa9c31b7-b63a-9867-f298-4d579b899c30
* Co

[2019-09-03 10:39] Dmytrooo opened #1280 ""Upload My Addin" button doesn't exist"
in "Office Add-ins" dialog on "MY ADD-INS" tab I see neither "Manage My Add-ins" or "Upload My Add-in" buttons. please describe why they may not be visible and how to make them so

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab35128-1e97-c6ad-babc-f696f2e7b0fe
* Version Independent ID: cd1bacb1-14d7-a38d-321c-ebc2a5

[2019-09-03 14:12] David-Tennant opened #1281 "Sideloading URL feels like its going to the wrong page, Network Share"
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

![Screen Shot 2019-09-03 at 16 04 42](https://user-images.githubusercontent.com/40059359/64180206-af9f1280-ce64-11e9-9243-7e390fd78d20.png)

| Method        | URL

[2019-09-03 16:24] mclean25 commented on #1278
Thanks for the detail @kbrandl. I've resorted to using the React template which was smooth sailing and was up and running in no time as I'm just exploring at this point in time. Look forward to the PR for Vue though as I believe that's what my team will want to use in the end.

[2019-09-03 16:37] ElizabethSamuel-MSFT commented on #1281
@David-Tennant Thanks for raising this issue. I've recommended a different page in your PR which I believe will help resolve this issue.

Thanks.

[2019-09-03 17:25] AlexJerabek commented on #1278
Hi @mclean25,
The Vue quick start has been updated with PR https://github.com/OfficeDev/office-js-docs-pr/pull/1243. Those changes will be pushed to live soon.
Whenever you are able, could you confirm the updated Vue quick start addresses your concerns? Thanks!

[2019-09-03 17:57] kbrandl commented on #1278
@mclean25 glad to hear that you had a better experience with the React quick start -- thanks for letting us know! Per @AlexJerabek's comment above, the updated [Vue quick start](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-vue) should be published later this week (most likely tomorrow - Tuesday). You'll know when that's happened, because the date that appears di

[2019-09-03 18:05] AlexJerabek commented on #1276
Hi @Djone124 ,

Thanks for reporting this. If you're using Script Lab, there's a [full TypeScript example for this scenario](https://github.com/OfficeDev/office-js-snippets/blob/master/samples/excel/50-workbook/create-workbook.yaml) in Script Lab's samples. You'll see there's some casting to get this to cleanly compile, but the JavaScript should work anyway. Try that out and let me know if there a

[2019-09-03 20:02] Djone124 commented on #1276
Hello Alex,

Thank you! I was able to get the sample to work perfectly. I must have
glanced right over that sample in the Samples pane in Script Lab.

I really appreciate the help,
Danny

On Tue, Sep 3, 2019 at 11:05 AM Alex Jerabek <notifications@github.com>
wrote:

--
*Daniel J. O'Neil III*
Analyst at Probability Management
Phone: (916) 821-0549
Email: Danny.oneil14@gmail.com
Link to Linkedin Pr

[2019-09-03 21:04] AlexJerabek commented on #1276
Hi Danny,
I'm glad everything's working. I'm going to go ahead and close the issue, as the doc changes are in the pipeline. If you encounter any other problems while developing your add-in, please reply to the thread or create a new issue.
Thanks!

[2019-09-03 21:04] #1276 closed

[2019-09-03 21:19] mclean25 commented on #1278
@kbrandl @AlexJerabek  Sounds good, I'll go over it tomorrow (assuming you mean Wednesday ;) ) and will let you know how it goes.

[2019-09-03 21:28] kbrandl commented on #1278
@mclean25 ah yes -- the holiday threw me off -- today is *already* Tuesday, so doc updates will be published later today :)

[2019-09-04 00:24] Radzell opened #1285 "Publishing on Mac"
How do I publish an add-in that was created on a mac?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2677af5b-e9b8-f962-25ce-8aa285977c90
* Version Independent ID: c31c7ed9-0a0a-7a65-0d1b-70d6a8b33994
* Content: [Deploy and publish your Office Add-in - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins

[2019-09-04 01:17] Rick-Kirkham commented on #1285
This article applies regardless of what kind of computer the add-in was created on.

[2019-09-04 01:19] #1285 closed

[2019-09-04 01:46] Radzell commented on #1285
There doesn't seem to be office-js projects on visual studio for mac so how is this true?

[2019-09-04 01:48] Radzell commented on #639
@kbrandl How do you deploy the add-in once you're finished

[2019-09-04 04:24] Rick-Kirkham commented on #1285
Regardless of what kind of computer that you use to develop the add-in, when you have completed the add-in and are ready to publish it, you can host it on a web site and you can distribute the add-in's manifest in any of the ways described in the article.

[2019-09-04 14:10] kbrandl commented on #639
@Radzell the [Deploy and publish your Office Add-in](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish) article contains information about various options for deploying your add-in. As the docs describe, the **Network share** deployment technique is only valid on Windows, the **SharePoint catalog** technique is not supported by Office for Mac, and the **Exchange server** techniqu

[2019-09-04 17:03] mclean25 commented on #1278
New docs work, thank you!

[2019-09-04 17:03] #1278 closed

[2019-09-05 19:40] ElizabethSamuel-MSFT commented on #1281
@David-Tennant, I've merged the PR to master and the changes should be published soon.

Thanks again for raising this issue and taking the time to fix it.

[2019-09-05 19:40] #1281 closed

[2019-09-05 20:15] Rick-Kirkham commented on #1275
I can reproduce this. I'm investigating.

[2019-09-05 20:27] kbrandl commented on #1256
@TCourtneyOwen I was just able to create an Excel add-in (using Yo Office 1.3.0) where the project name (folder path) contains spaces, and was able to start the add-in successfully. Correct to assume that you've fixed the issue described above, and project name (folder path) can now contain spaces? Please let me know; I'll need to update the docs (to remove the note I added about the issue) if the

[2019-09-05 20:42] kbrandl commented on #1275
This cause of this issue may be that there are extraneous/old/untrusted certificates for **localhost** in the certificate store on your machine -- as described in [my last comment](https://github.com/OfficeDev/generator-office/issues/486#issuecomment-528565677) on this issue: https://github.com/OfficeDev/generator-office/issues/486. I was able to resolve the issue described there by manually remov

[2019-09-05 20:54] Rick-Kirkham commented on #1275
I've tried that. But it found the old cert anyway. Still working on it.

[2019-09-05 21:49] TCourtneyOwen commented on #1256
Yes that was fixed in the project repos and not in Yo Office itself

[2019-09-05 21:49] #1256 closed

[2019-09-06 00:41] Rick-Kirkham commented on #1275
I can reproduce this on one of my computers, but everything works fine on another. We expect to be making a change to the tutorial in the next few days that will change the cert handling significantly anyway. I think we're not likely to get a shorter term fix.

[2019-09-06 01:56] JohnLukeBentley commented on #1275
@kbrandl. Thanks for that suggestion. I tried a few variations on that suggestions with no luck. Anyway ....

@Rick-Kirkham. Thanks. I'll wait for the cert handling overhaul.

[2019-09-06 17:36] jspotanski commented on #1237
+1 this was making me crazy.  Luckily I was going crazy enough to check the "Closed" issues. I went to upvote on SO but I don't have 15 reputation so my vote doesn't appear publicly.

[2019-09-06 17:47] Rick-Kirkham commented on #1275
@JohnLukeBentley This fixed it on my machine. Could you see if it fixes it for you?
1. Close all browsers and all Office apps.
2. If the server is running, shut it down by entering Ctrl-C twice. Then close the command prompt window.
3. Open the bconfig.json file in the root of the project.
4. Replace the line `"https": true,` with the following:

[code]

5. Repeat the "Test the add-in" section of

[2019-09-06 21:42] JohnLukeBentley commented on #1275
That fixed it! @Rick-Kirkham, you are a champion!

In addition to acting in conformance with your steps above, I  (re)Installed Start\certs\ca.crt by, as directed in the Tut linked [Installing the self-signed certificate](https://github.com/OfficeDev/generator-office/blob/master/src/docs/ssl.md), by double clicking it and installing it to the certificate store in "Trusted Root Certification Author

[2019-09-06 22:43] Rick-Kirkham commented on #1275
@kbrandl is working on a more drastic improvement. The tutorial won't be based on cloning a repo. Instead, you'll use our Yo Office tool to create a project. There's a point in that process, where the tool will just trust a cert automatically.

[2019-09-06 22:47] Rick-Kirkham commented on #1275
Closing this as fixed because the fix goes to the repo used by the tutorial, not this repo for our docs.

[2019-09-06 22:47] #1275 closed

[2019-09-07 07:45] JohnLukeBentley commented on #1275
Yeah, using the Yeoman tool would make the tut consistent with the immediately prior "Build your first Word task pane add-in". So that overhaul of the tut sounds like the right thing to do.

Your fix allows me to keep progressing through the tut in its current state. So I'm grateful for that.

By the way, since last posting I reset my local changes, fetched from the updated repo, and restarted the

[2019-09-08 17:29] g8up opened #1296 "fetch is undefined"
Excel (1908)
I make a request use fetch() API, and got this issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 667d1e98-4a95-318f-0df1-182722370ac8
* Version Independent ID: f8265387-ba9d-a5db-ef44-8409441b2ece
* Content: [Receive and handle data with custom functions - Office Add-ins](https://docs.microsoft.com/en-

[2019-09-09 03:22] Rick-Kirkham commented on #1296
We use the issues in this repo to track errors in the documentation. Please raise technical issues like this on StackOverflow. Be sure to tag your question `office-js`. Thanks.

[2019-09-09 03:22] #1296 closed

[2019-09-09 22:08] vmellos opened #1297 "Error: Unable to delete registry value "C:\Users\me\fodler\addin\manifest.xml" in key "HKCU\SOFTWARE\Microsoft\Office\16.0\Wef\Developer"."
Hello folks,

I followed the tutorial "Build an Excel task pane add-in", but when execute command ```npm start```,  I get this error:

Error: Unable to delete registry value "C:\Users\me\folder\addin\manifest.xml" in key "HKCU\SOFTWARE\Microsoft\Office\16.0\Wef\Developer".

Can you help me?

## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tab

[2019-09-10 17:14] AlexJerabek commented on #1297
Hi @vmellos,
Thanks for reporting this. I was unable to repro the issue. Could you please provide some information about your environment?

- Office version number:
- Operating System:
- Browser (if using Office Online):

[2019-09-11 00:07] acds opened #1300 "MacOS Excel - After Inspect Element - error that Javascript is not enabled"
Per instruction here, I Inspect Element and get this....

I assume that Excel is running Safari in the IFrame (per docs), and for Safari Javascript is enabled.

I am running version 16.29 (19090802) on MacOS 10.14.6.

Perhaps the solution can also be posed to here https://docs.microsoft.com/en-us/office/dev/add-ins/testing/testing-and-troubleshooting for others.

Here is the error in the inspect w

[2019-09-11 12:48] vmellos commented on #1297
Hey @AlexJerabek ,

Thank you for the quick reply, but I have done addin with another tutorial.

* Office version number: Version 1902 - Build 11328.20392
* Operating System: Windows 10 64 bits
* Browser (if using Office Online): Edge and Chrome

[2019-09-11 12:48] #1297 closed

[2019-09-11 14:21] AlexJerabek commented on #1297
@vmellos Glad to hear you're unblocked. If you encounter any other issues, pleae let us know. In the meantime, I'll keep trying to repro your issue.

[2019-09-11 22:08] AlexJerabek commented on #1300
Hi @acds,
It seems like the embedded version of Safari still has JavaScript disabled. Are you encountering these problems using Excel on the Web in your Safari browser?

[2019-09-12 04:14] tylerjwatson opened #1301 "Excel tutorial yields an ADD-IN ERROR message in Excel"
Following the instructions on this page yields the following error in Excel:

&gt; ADD-IN ERROR
&gt;
&gt; This add-in is no longer available: add-ins inserted during development are only available during debugging from Visual Studio.  Please open your project in Visual Studio and re-run your application, or deploy your add-in into a valid catalog and re-inser _(sic)_

I am confused on how to proce

[2019-09-12 05:35] Rick-Kirkham commented on #1301
Possibly, you worked on another add-in on that machine that also had a button with the same name and icon. Try closing all Office apps and clearing the Office cache as explained at [Clear the Office cache](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/troubleshoot-manifest#clear-the-office-cache). Open Excel and verify that the button is gone. They try the add-in in the tutorial agai

[2019-09-12 05:58] tylerjwatson commented on #1301
This is my first ever office add-in. I’m not sure why it’s mentioning Visual Studio as a requirement out of nowhere.

Sent from my iPhone

On 12 Sep 2019, at 3:35 pm, Rick-Kirkham <notifications@github.com<mailto:notifications@github.com>> wrote:

Possibly, you worked on another add-in on that machine that also had a button with the same name and icon. Try closing all Office apps and clearing the

[2019-09-13 19:24] mattblodgett opened #1302 "How long are add-in manifests cached?"
## Article URL

https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/testing/troubleshoot-manifest.md#clear-the-office-cache

## Issue

In the article above you describe how a user can delete the contents of their "Office cache" so to force re-download of an add-in manifest.

Is this "Office cache" periodically invalidated or purged on any kind of reliable schedule? In other words, how

[2019-09-13 19:42] Rick-Kirkham commented on #1302
The issues for this repo are meant to track problems with the documentation. For technical questions like this, please raise the question on Stack Oveflow where more knowledgeable people will see the question and the whole community can benefit from the answers that you get. Be sure to tag the question `office-js`.

[2019-09-13 19:43] #1302 closed

[2019-09-16 11:50] david-ps opened #1303 "OnChanged Event Undocumented Change in Behavior"
The [OnChanged](https://docs.microsoft.com/en-au/javascript/api/excel/excel.table?view=excel-js-preview#onchanged) event returns a new Change Type "RowInserted" in version API 1.9 Version 1908. This was not included in API 1.8
## Article URL
[OnChanged](https://docs.microsoft.com/en-au/javascript/api/excel/excel.table?view=excel-js-preview#onchanged)
## Issue
This not documented and we do not know

[2019-09-16 17:47] AlexJerabek commented on #1303
Hi @david-ps,

I'm sorry to hear your application is failing as a result of this change. Just to clarify, is the issue that [DataChangeType](https://docs.microsoft.com/en-au/javascript/api/excel/excel.datachangetype?view=excel-js-preview) does not specify the requirement sets in which the change event types were added? Or is it that adding an enum value to the enum caused the issues?

[2019-09-16 17:49] AlexJerabek commented on #1303
Also tagging @lumine2008 for help track down API requirement sets for the [DataChangeType](https://docs.microsoft.com/javascript/api/excel/excel.datachangetype?view=excel-js-preview) values. Let's sync up to properly document this API.

[2019-09-16 23:16] vijaypemmaraju opened #1305 "When will the promise-based APIs be available for Outlook?"
According to the docs, the promise-based API is currently only supported in Word and Excel. Are there any plans to implement this in Outlook? If so, is there a timeline for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c223d75-70f3-ccdc-0137-4fc1a2aa885f
* Version Independent ID: c55660a6-136b-ef66-8be4-f7bf3b2

[2019-09-17 10:14] hemarajuc opened #1306 "Links broken"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd8034d-77a8-c0cf-3d32-50c65494f0c4
* Version Independent ID: da528529-e44e-e386-3300-585b8a455fc5
* Content: [Authorize to Microsoft Graph without SSO - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/authorize-to-microso

[2019-09-17 16:32] AlexJerabek commented on #1305
Hi @vijaypemmaraju,
Thanks for your question. Outlook currently only supports the callback model, not the promise-based model Excel and Word use. We have no concrete plans to switch Outlook to this model, but we will if there is enough interest from the community. To help influence that discussion, please head over to [UserVoice](https://officespdev.uservoice.com/). There, you can ask for promise-

[2019-09-17 16:32] #1305 closed

[2019-09-17 16:34] keyur32 commented on #1306
Hi @hemarajuc - can you clarify the broken link please? I could not see what was not working or what specific link? On test most seemed fine.

[2019-09-17 16:43] davidchesnut commented on #1307
@keyur32 okay transferred. @topkoong thanks for this suggestion!

[2019-09-17 16:51] AlexJerabek commented on #1306
Looks like it's these two links:

- [Office Add-in Microsoft Graph ASP.NET](https://github.com/OfficeDev/office-add-in-microsoft-graph-aspnet)
- [Outlook Add-in Microsoft Graph ASP.NET](https://github.com/OfficeDev/outlook-add-in-microsoft-graph-aspnet)

@davidchesnut, do we know what happened to those repos? Should they be pointing to PnP samples instead?

[2019-09-18 22:42] lindalu-MSFT commented on #1306
Replaced broken link with new content to [Get started with Microsoft Graph and ASP.NET](https://developer.microsoft.com/en-us/graph/get-started/asp.net).

[2019-09-18 22:47] Rick-Kirkham commented on #1306
@AlexJerabek Yes. They were moved to PnP. I've fixed the URLs in Lindalu's PR.

[2019-09-18 22:54] lindalu-MSFT commented on #1306
@Rick-Kirkham Should I add these samples to the Gallery too for visibility? They don't seem to be easy to find.

[2019-09-18 23:46] AlexJerabek commented on #1306
For now, let's take the gallery discussion to email.

@hemarajuc, This issue has been addressed with #1311. The updates should be on the live site soon. Thank you again for reporting the problem.

I'll close this issue. Please let us know if you encounter any other issues.

[2019-09-18 23:46] #1306 closed

[2019-09-19 00:00] #1300 closed

[2019-09-19 03:17] topkoong opened #1312 "Query regarding accessing local resources from Office JS"
Hi there!

I'm trying to access local resources via Excel JavaScript API, Excel task pane add-in or Excel custom function. Would it be possible to do so? I know that Office add-ins are web applications that are displayed using iFrames, and they are using embedded browser controls in Office for desktop and mobile clients.

Could we, developers, change embedded browser controls in Office  for deskto

[2019-09-19 03:21] Rick-Kirkham commented on #1312
We use the issues in this repo to track problems in the documentation. Please raise technical questions like this on Stack Overflow, and be sure to tag the question `office-js`. By putting the issue on Stack, you increase the number of knowledgeable people that see it and the whole community benefits from the answers that you get.

[2019-09-19 03:21] #1312 closed

[2019-09-19 18:00] #1301 closed

[2019-09-19 19:44] Physeos-sys opened #1314 "Visual Studio 2019 is missing the onready command"
## Article URL

## Issue

[2019-09-20 21:50] Dilema-s opened #1321 "Yeoman, npm install errors registry"
Debugging is being started...
App type: desktop
Enabled debugging for add-in c1cdb1cd-e1cf-4386-ba6c-83a4c8888bf6. Debug method: 0
Starting the dev server... (webpack-dev-server --mode development)
The dev server is running on port 3000. Process id: 2768
Sideloading the Office Add-in...
Error: Unable to start debugging.
Error: Unable to sideload the Office Add-in.
Error: Unable to delete registry

[2019-09-21 00:24] AlexJerabek commented on #1321
Hi @Dilema-s,
Thanks for reporting this issue. @akrantz, do you have any insight into this yo office error message?

[2019-09-21 00:46] akrantz commented on #1321
Yes, this issue was fixed. https://github.com/OfficeDev/Office-Addin-Scripts/issues/215

Please get the latest version of office-addin-debugging.

There are a couple of ways to do this.
1. `npm update --dev` can update all packages according to semver. (You can see outdated packages using `npm outdated --long`.)
2. You could update office-addin-debugging package using `npm install -D office-addin-

[2019-09-21 02:42] Dilema-s commented on #1321
Great, thanks!!

[2019-09-22 21:06] kbrandl commented on #1321
Closing this issue as "fixed", per @akrantz's [comment](https://github.com/OfficeDev/office-js-docs-pr/issues/1321#issuecomment-533753343). @Dilema-s please feel free to reach out again if you need further assistance. Thanks!

[2019-09-22 21:06] #1321 closed

[2019-09-23 01:13] wandyezj opened #1322 "Seems strange that getSelectedDataAsync requires write permissions."
Why does an API that is only reading data require Write permissions?

getSelectedDataAsync(coercionType, [options], callback) → {String}

ReadWriteItem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5087f99-2e9c-3074-53dc-8507da1e74a4
* Version Independent ID: b9a838b9-1136-a3f2-14cb-d89d4b8672c1
* Content: [Office.co

[2019-09-23 01:26] david-ps commented on #1303
@AlexJerabek Both. It was not specified in what requirement set the changes to DataChangeType change event types were added, there was no release log or prior notification and, adding an enum value to the enum caused the failure. Coincidently the new functionality seems to be related to a [serious bug](https://github.com/OfficeDev/office-js/issues/728) we have raised and are awaiting advice.

[2019-09-23 14:20] ElizabethSamuel-MSFT commented on #1322
@wandyezj Thanks for your question.

@exextoc Can you confirm the permissions for this API?

Thanks.

[2019-09-23 15:38] AlexJerabek commented on #1303
Thanks @david-ps. I'll work with the product team to get the enum requirement sets properly documented. https://github.com/OfficeDev/office-js/issues/728 will track the underlying product bug.

[2019-09-23 20:13] exextoc commented on #1322
Hi @ElizabethSamuel-MSFT & @wandyezj, this appears to be just a mistake in the documentation. This API appears to work fine with ReadItem permissions. @wandyezj Are you actually seeing an issue?

[2019-09-23 20:58] ElizabethSamuel-MSFT commented on #1322
@exextoc I'll work on updating the docs. Thx.

[2019-09-23 22:22] s-KaiNet opened #1324 "Wrong behavior in Outlook for Edge-hosted add-in"
I have a very strange behavior in an office outlook add-in with Edge as a host. I consider it a bug.

If your backend code sends HTTP 302 status code to redirect a user, Edge-hosted add-in opens a new browser tab, instead of performing the redirect.
Check out how it works in IE11-hosted add-in: https://1drv.ms/v/s!Aga8ybrtcxQHgZojXwUWLFEyctZHxg?e=oZfbYl
The same add-in Edge-hosted: https://1drv.ms

[2019-09-25 06:43] vinaymundada27 opened #1326 "No extension point for the calendar view in Outlook."
I would like to have an add-in visible only when we click on the calendar view in Outlook. But currently I don't see any extension point for that. Or am I missing anything here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e092f1-aa6a-45b5-50ce-a1afca772776
* Version Independent ID: fa9c31b7-b63a-9867-f298-4d579b89

[2019-09-25 16:41] AlexJerabek commented on #1326
Thanks for asking @vinaymundada27.
@exextoc Is this an available Outlook feature?

[2019-09-25 16:48] exextoc commented on #1326
Hi @vinaymundada27, There are 2 extension points for Calendar:

* [AppointmentAttendeeCommandSurface](https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/reference/manifest/extensionpoint.md#appointmentattendeecommandsurface), which shows when a user views a meeting that they are invited to.
* [AppointmentOrganizerCommandSurface](https://github.com/OfficeDev/office-js-docs-pr/blob/mast

[2019-09-25 17:12] vinaymundada27 commented on #1326
Yes these ones I am aware of. But these extension points are when a user/organizer opens the appointment form/window. I am looking for an extension point wherein, the add-in button should appear on the top ribbon as soon as I switch from my mailbox to the calendar view in Outlook.

[2019-09-25 17:55] exextoc commented on #1326
This is not possible today. We track Outlook add-in feature requests on [our UserVoice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). It looks like the feature you want has been requested by others already. Please upvote the [existing request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/35849557-outlook-add-i

[2019-09-25 18:23] AlexJerabek commented on #1326
Thanks @exextoc and @vinaymundada27. I'm going to close this issue, since it's a feature request, not a documentation issue. Please upvote the [UserVoice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins) request.

[2019-09-25 18:23] #1326 closed

[2019-09-25 21:49] ElizabethSamuel-MSFT commented on #1322
@wandyezj The changes have been published. I'll close this now but if you're seeing an issue let us know.

Thanks.

[2019-09-25 21:49] #1322 closed

[2019-09-26 15:00] NT-D opened #1329 "Want to know the range of unique of itemid"
Thank you for making detailed document.
I understand item id is the unique identifier of the `Office.context.mailbox.item`, but I'm not sure about the range of unique from this document. Is this id unique all over the cloud service (Office 365 and Outlook.com) and all existing on-premises Exchange Servers? Or is the id unique only in cloud service (O365 and Outlook.com)?

---
#### Document Details

[2019-09-26 21:45] AlexJerabek commented on #1314
Hi @Physeos-sys,
Sorry for the delay. @akrantz, is the state of the Visual Studio project something you can clarify here?

[2019-09-27 01:25] Physeos-sys commented on #1314
Replaced class with one from an example elsewhere and it was accepted. Unsure why it would'nt work when copied from another example.

[2019-09-27 01:25] #1314 closed

[2019-09-27 16:53] AlexJerabek commented on #1329
Thanks for the question @NT-D.
@exextoc, could provide an answer?

[2019-09-27 16:54] AlexJerabek commented on #1329
Assigning @ElizabethSamuel-MSFT to follow up on any necessary documentation changes.

[2019-09-28 15:58] AmirNorouzpour opened #1336 "Office Online Add ins button not exist"
Hi buddies,
I have a question about add ins on office online server.
My office online server does not have the Add ins button!
Is this a setting problem or a Bug?

![Capture](https://user-images.githubusercontent.com/24652732/65819158-4c678c80-e226-11e9-9375-7897a3c57e70.PNG)

[2019-09-28 18:21] Rick-Kirkham commented on #1336
Thanks for your interest in Office Web Add-ins. We use the Issues of this repo to track problems in the documentation. Please raise technical questions like this one on Stack Overflow. (Be sure to tag the issue `office-js`. By putting the issue on Stack Overflow, more knowledgeable people will see it and the whole community will benefit from the answers that you get.

[2019-09-28 18:21] #1336 closed

[2019-10-01 17:10] hilarudeens opened #1337 "Wanted to enable right-click menu on sideload addin"
Im developing outlook office addin,
I need to allow user to right click and choose past option from context menu.
Everything was working till, I update windows10 and outlook.
Now it is not working.
Please any help would be appreciated

It is not working only in outlook desktop client, which is using edge webview

<img width="172" alt="right-click-menu" src="https://user-images.githubusercontent.co

[2019-10-01 21:12] BSaivamani opened #1338 "Doesnot Show up in Mac"
## Article URL

## Issue

[2019-10-01 21:16] AlexJerabek commented on #1338
Hi @BSaivamani,
Could you please clarify what does not show up on a Mac?

[2019-10-01 22:02] exextoc commented on #1329
@NT-D is there a specific scenario you are referring to?

[2019-10-02 06:57] 4tti opened #1341 "Clearing the Office application's cache does not really help"
We are currently facing an issue with Mac version where we started to test our addin and we realized we don't know how to clear the cache there.
Repro steps:
1) Have one side-loaded manifest with custom functions (it is working fine)
2) Cleaned the cache as described here on this page (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#clearing-the-off

[2019-10-02 06:57] 4tti opened #1448 "Unable to clear Custom Functions from the cache"
We are currently facing an issue with Mac version where we started to test our addin and we realized we don't know how to clear the cache there.
Repro steps:
1) Have one side-loaded manifest with custom functions (it is working fine)
2) Clean the cache as described here on this page (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#clearing-the-offic

[2019-10-02 15:13] BSaivamani commented on #1338
I created a testaddin -I have started the server.

<img width="573" alt="Screen Shot 2019-10-02 at 10 10 27 AM" src="https://user-images.githubusercontent.com/56049952/66056616-0435bc00-e4fd-11e9-8f76-3a6f49845da8.png">

I can't get the admin to show up in word.
<img width="1391" alt="Screen Shot 2019-10-02 at 10 10 46 AM" src="https://user-images.githubusercontent.com/56049952/66056740-36dfb480-e

[2019-10-02 17:05] AlexJerabek commented on #1338
Thank you @BSaivamani.

On Mac, there's an extra step for running your server:
![image](https://user-images.githubusercontent.com/38896772/66065290-ecaa0380-e4fb-11e9-9fee-23ae510d7049.png)

Please check out the [Try it Out](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=yeomangenerator#try-it-out) instructions and let us know if things still aren't working.

[2019-10-03 15:02] BSaivamani commented on #1338
I got it!Thank you

[2019-10-04 07:09] 4tti commented on #1341
Hello @kbrandl, can please someone check, give us hints and updated the docs?
Thanks!

[2019-10-04 21:04] nitingupta910 opened #1343 "Platform not supported: linux"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/onenote-quickstart

## Issue

I'm trying to create a simple addin for OneNote Web on a Linux (Fedora30) host machine. I created sample application with genertor-office,  but `start:web` action is throwing this error: `Platform not supported: linux`.

[code]

Once project is created, run:

[code]

I thought creating addi

[2019-10-04 21:43] kbrandl commented on #1343
@nitingupta910 sorry to hear that you've run into this problem. I'm going to transfer this issue to the [OfficeDev/generator-office](https://github.com/officedev/generator-office) repo so that the folks who maintain the Yeoman generator for Office Add-ins can provide feedback there.

[2019-10-04 21:53] kbrandl commented on #1341
@4tti sorry to hear that you've run into this problem. So, just to confirm -- you've already tried to manually clear the cache as described [here in the docs](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac#clearing-the-office-applications-cache-on-a-mac)? i.e., you've deleted the contents of these three folders (if they exist), but the custom funct

[2019-10-07 03:37] #1338 closed

[2019-10-07 17:15] Rick-Kirkham commented on #1341
@4tti  and @kbrandl
It occurs to me that some Macs have a SSD card as a hardware cache, or use a SSD drive as a cache for a disk drive. A cache in SSD would not be cleared by rebooting. If I search on "clear SSD cache in Mac", I get a number of hits. You might try seeing if there's anything useful in those articles.

[2019-10-07 17:17] kbrandl commented on #1341
@Rick-Kirkham thanks for the input. @4tti can you please investigate as @Rick-Kirkham has described, and report back here as to your findings?

[2019-10-08 13:56] 4tti commented on #1341
@kbrandl, @Rick-Kirkham  we already did and no, it does not help.
Caching in the OS settings is disabled, all folders in both ~/library and /library are cleaned, etc.
Still the same issue.
@keyur32  suggested to reinstall Office as one possibility but that won't simply work (too big overhead).

Thank you for any suggestion.

[2019-10-08 13:58] kbrandl commented on #1341
@4tti thanks for the update. I'll follow up internally with members of the product team and let you know what I find out about this issue.

[2019-10-08 20:55] 4tti commented on #1341
@kbrandl  Thanks a lot!

[2019-10-08 21:42] kbrandl commented on #1341
@4tti some folks on the product team are investigating this problem, but it may take some time to research. In the meantime, I'm going to transfer this issue to the **OfficeDev/office-js** repository since it's a product-related problem; I'll follow the progress of the issue there and will update the docs pending the outcome of the investigation. Thanks for your patience as we investigate.

[2019-10-09 00:26] jrpally opened #1346 "IEChooser.exe tool cannot display the target for debugging / Office 2019"
## Description

I can run IEChooser.exe to debug Addins at Office 2017, worked perfectly but now I am having issues to debug at Office 2019 windows home edition

## Issue

IEChooser can't pick the web browser for embedded addins on office 2019

[2019-10-09 16:19] Rick-Kirkham commented on #1346
Are you using the subscription Office or the perpetual license Office? If it is subscription, then you computer might be using Edge instead of IE to host the add-in. See [Browsers used by Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins). In that case, you can't use IEChooser. You should use [Edge Developer Tools Preview](https://www.

[2019-10-10 10:51] Larryngolog opened #1351 "I do not see the "manage my add-ins" option"
I want to remove an add-in that I have added. Instead of the "Manage my add-ins" menu with "My account" and "Upload my add-in" I just see an option "Upload my add-in".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab35128-1e97-c6ad-babc-f696f2e7b0fe
* Version Independent ID: cd1bacb1-14d7-a38d-321c-ebc2a526e03b
* Con

[2019-10-10 16:11] Rick-Kirkham commented on #1351
Sorry that you're having troubles removing the add-in. It will help our engineers if you can tell us whether you are using Office on the Web, Desktop Office (subscription), or Desktop Office (non-subscription). Also, what the OS and its build number. Thanks.

[2019-10-11 03:09] nyn3x opened #1353 "The reply url specified in the request does not match the reply urls configured for the application"
I just created a simple POC using Excel. I used side-loading to upload my addin to excel on the web.

However: when the `getAccessTokenAsync` is invoked I get an error like this:

&gt; AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: '57fb890c-0dab-4253-a5e0-7188c88b2bb4'.

I followed the steps at [Create a Node.js Office Add-in that

[2019-10-11 04:49] AADeLucia opened #1354 "OneNote sideload for Mac?"
Is there a way to test a OneNote add-in for Mac locally? I only see documentation for Word, Excel, PowerPoint, and Outlook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589820d2-9925-dc5e-76a7-83921a569137
* Version Independent ID: ab8bde36-096f-81f3-f4d1-9b25fc69e6ee
* Content: [Sideload Office Add-ins on iPad and M

[2019-10-11 04:55] AADeLucia commented on #1354
Never mind, I just read https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac and learned the add-ins for OneNote are only available on the web (pity).

The "testing for OneNote" link should have a note before redirecting to the sideloading pages, it's misleading. I'm referring to the link on this page https://docs.microsoft.com/en-us/office/dev/add-

[2019-10-11 17:05] tong-1324 opened #1356 "We should put a link or statement on this page to let developers know that onSelectionChanged is unstable"
We should put a link or statement on this page to let developers know that onSelectionChanged is unstable. Discussion about the issue is here: https://github.com/OfficeDev/office-js/issues/533. The event is not trigger in Excel win32 as expected. The even worse thing is that the issue can't be repro in any debug mode (sideload manifest or attach F12 developer). It means that there's no way for dev

[2019-10-11 17:26] Rick-Kirkham commented on #1354
This page does not say anything about where OneNote add-ins are available. I think you probably saw that on the following page: https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability

The page https://docs.microsoft.com/en-us/office/dev/add-ins/onenote/ is a kind of landing page, with very high level information. It would not be appropriate to have a note about ava

[2019-10-11 17:26] #1354 closed

[2019-10-11 17:36] Rick-Kirkham commented on #1356
As I understand it, the request is to add a note telling people that if they use `onSelectionChanged`, they should add `<script> MutationObserver=null; </script> ` to the `<head>` section of the home page. Let us know if that's not what you are asking.

[2019-10-11 18:01] AlexJerabek commented on #1356
@Rick-Kirkham That sounds like a good solution to me. I'll draft up a PR.

[2019-10-11 18:53] AlexJerabek commented on #1356
Fixed with #1358. @tong-1324 Please let us know when the note can be removed.

[2019-10-11 19:02] #1356 closed

[2019-10-14 12:20] suoko opened #1360 "Publishing this office add-in to sharepoint app catalog"
I succesfully published a sharepoint webapp (the new modern script editor webpart) and now I'd like to publish an office add-in to my tenant too.
If I upload the manifest of this add-in, the local nodejs must run on the pc for this webap to run.
How can I put this on sharepoint app catalog ? Can I package it somehow ? Or, is there a nodejs session  running in sharepoint online ?
If I manage to cre

[2019-10-14 19:09] AlexJerabek opened #1365 "Worksheet.copy() does not work with "Before" or "After""
## Expected Behavior
I expect the specified worksheet will be copied before or after itself.

## Current Behavior
I get an InvalidArgument Error.

## Steps to Reproduce, or Live Example
https://gist.github.com/AlexJerabek/05bc3be21d6a0d9986b2bdd7538675d7

## Context

## Your Environment

* Platform [PC desktop, Mac, iOS, Office Online]: PC Desktop
* Host [Excel, Word, PowerPoint, etc.]: Excel
* Of

[2019-10-14 19:50] Rick-Kirkham commented on #1346
Original poster marked my answer thumbs up, so I'm closing this.

[2019-10-14 19:50] #1346 closed

[2019-10-16 04:01] deeagar opened #1368 "Async APIs not 'awaitable'"
I'm assuming `state.file.getSliceAsync()` being an asynchronous function, it should be awaitable like await state.file.getSliceAsync() (Trying to use office.js in Angular 7). However this intermittently works. Sometimes it waits for the function to complete (as expected) but sometimes it just runs asynchronously.

Thoughts?

[2019-10-16 04:01] deeagar opened #1404 "Async APIs not 'awaitable'"
I'm assuming `state.file.getSliceAsync()` being an asynchronous function, it should be awaitable like await state.file.getSliceAsync() (Trying to use office.js in Angular 7). However this intermittently works. Sometimes it waits for the function to complete (as expected) but sometimes it just runs asynchronously.

Thoughts?

[2019-10-16 15:14] nickjgentile opened #1369 "Debugging an Addin in IE That Uses the OfficeAPI"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10

## Issue
The article above described well how to get debugging setup for your addin on IE if your addin can just run correctly in the browser. The problem with our addin however is that we take advantage of the office API's dialog feature https://docs.microsoft.com/en-u

[2019-10-16 20:59] AlexJerabek commented on #1368
Hi @deeagar,
Thanks for reporting this issue. This seems like a product issue. I'm going to transfer this to the https://github.com/OfficeDev/office-js repo so it can be properly triaged..

[2019-10-16 21:02] AlexJerabek commented on #1365
The conceptual documentation has been addressed with #1371. The reference documentation will be addressed with DefinitelyTyped/DefinitelyTyped#39189. I'll close this issue now.

[2019-10-16 21:02] #1365 closed

[2019-10-16 21:05] AlexJerabek commented on #1369
Hi @nickjgentile,
Thanks for sharing your debugging issues. I'm assigning @TCourtneyOwen to help investigate and report potential doc updates.

[2019-10-16 21:08] AlexJerabek commented on #1369
Also, @nickjgentile, have you posted any on Stack Overflow using the office-js tag? While it does seem like there is a documentation gap, the SO community may also have a solution for you.

[2019-10-17 17:00] #1351 closed

[2019-10-17 18:46] mscharlock commented on #1360
Hi @suoko - Sorry to hear you've run into issues publishing to the SharePoint app catalog. I'm going to tag @niteshgolchha85 who may have some info for you. @niteshgolchha85 any thoughts?

[2019-10-17 23:58] Larryngolog commented on #1351
Hi! The issue is in Office on the Web.

[2019-10-17 23:59] Larryngolog commented on #1351
I'm using Edge on Chromium Dev on Windows 10. Version of the Word on the Web is 16.0.12214.32654.

[2019-10-19 04:14] wandyezj opened #1376 "getSelectedDataAsync returns string null when no text is selected on Outlook on the web"
on Outlook on the web when no text is selected getSelectedDataAsync result.value.data value is string null.

I was surprised!

It might be reasonable to make a note of the unexpected behavior in the documentation or if possible fix the issue.

Actual:
"null"

Expected:
""

Code to reproduce and work around the issue:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-10-21 07:23] niteshgolchha85 commented on #1360
@suoko Can you share your Office manifest?

[2019-10-21 23:37] jesyxue opened #1380 "Outlook web add-in load error "This add-in could not be started ...""
It shows one error message when the user click my outlook web add-in.

ADDIN-ERROR :

This add-in could not be started. Close this dialog to ignore the problem or click "Restart" to try again.

It is not responding even if I click the "Restart" button.

This issue is only happening on Outlook 2016 for Windows.
Outlook 2016 1908

Note:
It works on browser IE, Chrome and Edge. So it was not blocked

[2019-10-22 01:30] NT-D commented on #1329
@exextoc  Sorry for my late reply. Let me describe scenario.
In our app backend, we need unique id for db record, and need to have relation with each event in Office 365. Because our end-users exists across tenants, I want to know the uniqueness.

[2019-10-22 20:50] BSaivamani opened #1382 "Hello ,"
## Article URL

## Issue

[2019-10-22 20:51] BSaivamani commented on #1382
Is there any way i could inset an other document ?

In VSTO-there is an option to insert document with InsertFile.Looking for something similar here.

Thank you!

[2019-10-23 09:55] NT-D commented on #1329
FYI: This document written by Identity team is useful example. It describe oid is GUID and range of uniqueness well.
https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens

-- | -- | --
oid | String, a GUID | The immutable identifier for an object in the Microsoft identity system, in this case, a user account. This ID uniquely identifies the user across applications - two differ

[2019-10-23 22:36] exextoc commented on #1329
The item id returned by the API is the EWS item id of the item. This is the primary documentation for the EWS item id: https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/ews-identifiers-in-exchange

Global uniqueness of the id isn't guaranteed. The documentation says only this about how the ID is constructed:

Since it's not guaranteed to be globally unique, it's not

[2019-10-24 05:35] Harshagracy opened #1384 "Need Debugger option for the outlook add-in development for desktop app"
## Article URL

https://docs.microsoft.com/en-us/outlook/add-ins/quick-start

## Issue
There is no debugger for the outlook add-in development for outlook desktop application like we have in word/powerpoint. Somethings which works in browser will not work in outlook desktop client. it would be really great if you could add this in your next release.

**Please add the visual studio debugger option,

[2019-10-24 08:59] abdulkareemnalband opened #1385 "Inspect elemnt is not appearing when Outlook is installed using Mac app store"
I have installed outlook using Mac app store https://apps.apple.com/us/app-bundle/microsoft-office-365/id1450038993

I followed steps listed here https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-office-add-ins-on-ipad-and-mac

I'm still not able to debug addin

|**Application**   | Outlook for mac|
|--|--|
|**Type of Addin** | Task pane|
|**OS**            | macOS Catalina Version

[2019-10-24 09:11] GvcZhang opened #1386 "Does Add-in support interact with network and disk file system by using C#?"
Does Add-in support interact with network and disk file system by using .Net?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1eb88c1-06fc-dfb1-67ee-da88fa7e985a
* Version Independent ID: 8ed13e25-a7bd-25ef-5525-eb1000148578
* Content: [Excel add-ins overview - Office Add-ins](https://docs.microsoft.com/en-us/office/de

[2019-10-24 16:46] kbrandl commented on #1382
Thanks for your interest in Office Add-ins development. Issues in this GitHub repository (**OfficeDev/office-js-docs-pr**) are intended for reporting problems with the API *documentation*.  Therefore I'm closing this GitHub issue, but please feel free to post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag. By posting how-to questions

[2019-10-24 16:46] #1382 closed

[2019-10-24 16:54] kbrandl commented on #1384
@Harshagracy thanks for reaching out about this. @ElizabethSamuel-MSFT FYI, assigning to you for investigation / follow-up. (The information that @abdulkareemnalband provided earlier in this thread applies to debugging on the web, but @Harshagracy is looking for information about debugging Outlook desktop.) Thanks!

[2019-10-24 16:57] kbrandl commented on #1385
@abdulkareemnalband sorry to hear that you've run into this problem. Please see the following issue in **OfficeDev/office-js** (the repo where product issues are tracked) for explanation of root cause and a proposed workaround.

https://github.com/OfficeDev/office-js/issues/506

[2019-10-24 16:57] #1385 closed

[2019-10-24 16:58] kbrandl commented on #1386
Thanks for your interest in Office Add-ins development. Issues in this GitHub repository (**OfficeDev/office-js-docs-pr**) are intended for reporting problems with the API *documentation*.  Therefore I'm closing this GitHub issue, but please feel free to post your question to Stack Overflow with the [office-js](https://stackoverflow.com/questions/tagged/office-js) tag. By posting how-to questions

[2019-10-24 16:58] #1386 closed

[2019-10-24 20:32] LevDev1 opened #1389 "Namespaces Changed?"
I have been going through this tutorial but was hitting errors. When compared to the sample code generated by Visual Studio for a PowerPoint add-in I noticed that the namespace for some of the markup elements seems to have changed since the release of the article - removing the "Ms-" prefix seems to fix the problem and make the code work as intended.

---
#### Document Details

⚠ *Do not edit this

[2019-10-24 21:04] kbrandl commented on #1389
@LevDev1 thanks for reporting this issue. Can you please tell me what version of Visual Studio you used to create your add-in?  Thanks!

[2019-10-25 05:39] Harshagracy commented on #1384
Thanks, @kbrandl  for clarifying that. Yes, I am looking for debugger option like we have in word/excel/powerpoint. To be exact, as mentioned in this article.
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/attach-debugger-from-task-pane

It is easy for word add-in. Just click the arrow from top right corner of the task pane and select attach debugger. It gives the option to use visual

[2019-10-25 08:11] LevDev1 commented on #1389
Yes, of course – I should have included that in the original submission…  I am using VS 2019 Community Edition (16.3.5) The version for the Office Dev Tools in there is 16.0.29217.00

The change in question was on the Button object in the Home.html file.

The sample has:

<button class="ms-Button ms-Button--primary" id="insert-image">
    <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plu

[2019-10-25 13:23] makzr commented on #195
It doesn't work for me either. May it be related to macOS Catalina?

[2019-10-25 17:10] kbrandl commented on #1389
@LevDev1 thanks for the additional information; I'll look into this today. In the meantime, someone else has submitted a pull request that updates the tutorial to fix these issues: https://github.com/OfficeDev/office-js-docs-pr/pull/1391. I haven't had a chance to verify those updates yet, but if you're entirely blocked right now, it might be worth having a look at the changes that PR is recommend

[2019-10-25 18:15] exextoc commented on #1329
Glad to help, and thanks for the feedback.

@ElizabethSamuel-MSFT for feedback on adding a link to [EWS Identifiers](https://docs.microsoft.com/en-us/exchange/client-developer/exchange-web-services/ews-identifiers-in-exchange) from the [itemId](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/objectmodel/requirement-set-1.7/office.context.mailbox.item#nullable-itemid-string) documenta

[2019-10-26 17:31] LevDev1 opened #1393 "Add tags to disable caching of Home.html"
While going through the tutorial I had problems with the new HTML elements not appearing across builds and then magically appearing the next day without any changes. Having researched this I find that with recent versions of Office (1910 - 12130.20238) and Windows (1909 - 18363.418) the Office clients when running add-ins will use the Edge WebViewHost to display the HTML that has a different cachi

[2019-10-26 17:55] LevDev1 commented on #1393
This needs to be done for the home.js file too - still looking for the best way to do that. The command line cache deletion keeps me going until I find that.

[2019-10-26 18:23] yernenip opened #1394 "Change in full code snippet posted"
Change this from
 if (!Office.context.requirements.isSetSupported('ExcelApi', '1.1')) {

to

 if (!Office.context.requirements.isSetSupported('ExcelApi', 1.1)) {

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b888399c-fe96-0934-00ce-86db8fa8cf5b
* Version Independent ID: 2c5d24e8-5639-42b1-4d12-119f89591550
* Content:

[2019-10-28 09:00] #1360 closed

[2019-10-28 17:06] ElizabethSamuel-MSFT commented on #1303
@AlexJerabek Any update on this? Thanks.

[2019-10-28 17:07] ElizabethSamuel-MSFT commented on #788
@davidchesnut Any update on this? Thanks.

[2019-10-28 18:02] hectorAmaral opened #1395 "Office.context.mailbox.item.getEntitiesByType(Office.MailboxEnums.EntityType.Contact) returns empty array"
I'm trying to retrieve the email item contacts but the method returns an empty array.
I've tried bot methods:

`Office.context.mailbox.item.getEntitiesByType(Office.MailboxEnums.EntityType.Contact)`

and

`Office.context.mailbox.item.getEntities().contacts`

none of them seems to work.

I'm using an Office 365 account and I can see the contact exists on the Outlook desktop app and the web version.

[2019-10-28 18:18] AlexJerabek commented on #1394
Hi @yernenip,
Thanks for reporting this. Our current guidance is to use strings for the requirement set version parameter. So, it should be '1.1' through the entire snippet. That step to change it from a string to a number is incorrect. I'll make a PR to address this.

[2019-10-28 18:26] AlexJerabek commented on #1303
@ElizabethSamuel-MSFT Not yet. I've pinged the product team for an update on their end.

[2019-10-28 18:28] AlexJerabek commented on #1394
The documentation updates have been merged into the master branch. We should see those updates on the live site in the next couple days.

I'm going to close this issue. Please reply to the thread if there are further concerns.

[2019-10-28 21:57] kbrandl commented on #1389
@LevDev1 thanks for your patience as I've investigated this problem. Turns out that the old instructions (valid for Visual Studio 2017) did not work properly in projects created with Visual Studio 2019 -- because Office Add-ins projects created with Visual Studio 2019 no longer use Fabric _components_.

I've just submitted PR #1397 to update the PowerPoint tutorial such that the instructions work

[2019-10-29 16:48] kbrandl commented on #1393
@LevDev1 thanks for the feedback about this. I've reassigned this issue to @Rick-Kirkham, since he was the person who engaged on the Stack Overflow thread you've linked to, and therefore has more context about this topic. @Rick-Kirkham -- FWIW, IMO, seems like this type of information belongs with the [other caching-related info in the docs](https://docs.microsoft.com/en-us/office/dev/add-ins/test

[2019-10-29 18:03] kbrandl commented on #1394
@AlexJerabek I'm going to re-open this issue, as the Visual Studio (TypeScript) project that's described in this article won't currently compile successfully when the requirement set parameter is set to a string value. i.e., this code:

- ![image](https://user-images.githubusercontent.com/3019529/67795161-14c54d80-fa3b-11e9-85de-05527924dfab.png)

Results in this compile error:

- ![image](https:/

[2019-10-29 18:38] mscharlock commented on #1395
Hi @hectorAmaral - Thanks for using our docs. @ElizabethSamuel-MSFT can you have a look at this issue or pass to someone else on the Outlook team? Thanks!

[2019-10-29 18:39] ElizabethSamuel-MSFT commented on #1395
@hectorAmaral Looks like this is the same issue as the one reported on the office-js repo: https://github.com/OfficeDev/office-js/issues/807. I'll close this and make any updates to the docs based on the outcome of the investigation of the related issue.

[2019-10-29 18:39] #1395 closed

[2019-10-29 19:44] redcirkle opened #1398 "messageBanner Issues"
The file throws an exception when I try to use messageBanner.
![image](https://user-images.githubusercontent.com/19576266/67802931-4e9d5080-fa49-11e9-96eb-330e7fcc5714.png)

I copied over Home.ts exactly as provided at the bottom of the article; the only change I made was to change the '1.1' string parameter in the `Office.context.requirements.isSetSupported(string, string)` method call to a numbe

[2019-10-29 20:07] kbrandl commented on #1398
@redcirkle sorry to hear that you've run into this problem. I've been working on some updates to this article and just submitted a PR that should fix the problem you've described: #1399.

Essentially, you should make sure that the first few lines after `$(document).ready(function () {` are as shown here:

[code]

The live docs should be updated later today (after PR #1399 is merged). I'll go ahead

[2019-10-29 20:07] #1398 closed

[2019-10-29 20:38] kbrandl commented on #1394
PR #1399 addresses the problem that @yernenip reported in this issue. Let's leave this issue open for now, to track the need to update the **office-js.TypeScript.DefinitelyTyped** NuGet package and then:

- update this article to change the requirement set parameter back to a string value (`if (!Office.context.requirements.isSetSupported('ExcelApi', '1.1')) {`)
- update this article to remove the

[2019-10-29 20:41] kbrandl commented on #1389
Closing this issue now, as the live docs have been updated such that the instructions work with Visual Studio 2019. Please feel free to comment again here if you need further assistance with this. Thanks!

https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/powerpoint-tutorial

[2019-10-29 20:41] #1389 closed

[2019-10-29 22:09] redcirkle commented on #1398
This also causes compiler issues, where the file can't find "components".
![image](https://user-images.githubusercontent.com/19576266/67813133-076d8a80-fa5e-11e9-9b1e-6f1e77b22062.png)

Do we need to declare this at the top of the file?

[2019-10-29 22:16] redcirkle opened #1401 "messageBanner Issues (cont'd)"
_Note: This is a continuation of the ["messageBanner Issues" issue](https://github.com/OfficeDev/office-js-docs-pr/issues/1398) (I don't think I have access to re-open it)._

I was running into an issue where an exception was being thrown on the "messageBanner" variable within `Home.ts`. The recommendation was to include these lines after `$(document).ready(function () {`, as shown here:

`$(docum

[2019-10-29 22:28] kbrandl commented on #1398
Please ensure you've completed all of the steps in the (just updated this afternoon) article: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/convert-javascript-to-typescript.

I'm guessing you probably haven't renamed the **./Scripts/MessageBanner.js** file to **MessageBanner.ts** yet (doing so should resolve the "cannot find name components" error), and there's likely another step or

[2019-10-29 22:29] kbrandl commented on #1401
Please ensure you've completed all of the steps in the (just updated a little while ago) article: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/convert-javascript-to-typescript.

I'm guessing you probably haven't renamed the **./Scripts/MessageBanner.js** file to **MessageBanner.ts** yet (doing so should resolve the "cannot find name components" error), and there's likely another ste

[2019-10-29 23:04] redcirkle commented on #1401
Yes, following the updated article worked great. Thank you so much for all your help!! :D

[2019-10-29 23:04] #1401 closed

[2019-10-29 23:06] kbrandl commented on #1401
Awesome, thanks for confirming!

[2019-10-30 00:09] mscharlock commented on #1307
Just to follow up on this image request, it has been added to the list of items prepared in our image audit and will be going to design soon.

[2019-10-30 11:23] nitro-marky opened #1403 "On Send Event Dialog Box"
How do you attach a dialog box to a send event? I want the user to choose if they want to use my Outlook add-in via a dialog box but there seems to be no documentation about adding to an Event in Outlook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a714626a-058a-789e-6add-5e9dfb21fd1f
* Version Independent ID: 1b88a

[2019-10-30 16:49] kbrandl commented on #1404
@AlexJerabek can we document this non-intuitive behavior in the new 'coding issues' article, as well as to the [API reference docs](https://docs.microsoft.com/en-us/javascript/api/office/office.file?view=powerpoint-js-1.1#getsliceasync-sliceindex--callback-), and to the two articles in the conceptual doc set that mention `getSliceAsync`?

[2019-10-30 17:16] AlexJerabek commented on #1404
Thanks @kbrandl.

I've created an [internal issue](https://office.visualstudio.com/OC/_workitems/edit/3748356) to track this documentation work. I also have the feeling this non-promise async model exists elsewhere in the CommonAPI. We'll be sure to document that in the coding issues article.

[2019-10-30 18:16] AlexJerabek commented on #1404
@deeagar, I like the Promise code you've written. Would you allow us to include it as an example in the documentation? If so, can you link me to a gist (since the earlier example is a .png)? If not, that's totally fine.

[2019-10-31 04:02] deeagar commented on #1404
Thank you all for considering this.
@AlexJerabek Absolutely! You can find the code at below link -

https://github.com/deeagar/angular-officejs-read-document/blob/master/src/app/services/office.service.ts

[2019-10-31 17:20] michaelsaul opened #1407 "iOS Side Loading Directions Out of Date"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac

## Issue
Directions for side loading Add-ins on Excel of iOS are no longer current in either iTunes on Windows or macOS Catalina.

iTunes on Windows (installed from the Microsoft Store) does not have Apps under settings. Transferring a manifest.xml file via the File Sharing option

[2019-10-31 22:16] ElizabethSamuel-MSFT commented on #1403
@nitro-marky Thanks for your question.

@exextoc Can you provide guidance for this?

Thanks.

[2019-10-31 22:18] ElizabethSamuel-MSFT commented on #1407
@michaelsaul Thanks for raising this issue.

@davidchesnut Can you take a look?

Thanks.

[2019-11-01 08:39] nitro-marky commented on #1403
Just for a bit of context I have the ItemSend event hooked up to the FunctionFile which gets, that all works fine. I just want the user to essentially say yes log my email or no and then the rest of the function can either log or not.

[2019-11-01 16:40] AlexJerabek commented on #1303
Hi @david-ps,

The product team dug into the build history regarding these changes. It appears all of the [DataChangeTypes](https://docs.microsoft.com/en-au/javascript/api/excel/excel.datachangetype?view=excel-js-preview) were added as part of ExcelApi 1.7 except for "Unknown". "Unknown" was added in 1.8 and replaced "Others", which only existed for 1.7. Documenting this change is tracked as [this

[2019-11-01 16:40] #1303 closed

[2019-11-01 17:46] AlexJerabek commented on #1404
This information is now live in the documentation: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/common-coding-issues#common-apis-and-outlook-apis-are-not-promise-based

There's also a sample in the master branch of the reference docs that will be live soon.

Thank you @deeagar for reporting this and letting us share your code sample. Other developers will benefit from your contribut

[2019-11-01 17:46] #1404 closed

[2019-11-02 08:02] coolcfxp opened #1411 "How to support custom functions in older Excel versions?"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/custom-functions-overview

## Issue

I'm confused by the documentation, it says other than office 365, the "custom functions" is not supported. However as a solution vendor, my customers are using older and offline versions of Office, the documentation does not provide an alternative so that I can support other versions (I kn

[2019-11-03 00:38] adem opened #1412 "Link to further explanation regarding the term "entity highlighting""
When reading an auto-generated manifest from top to bottom in order to understand their meaning, one will encounter the `DisableEntityHighlighting` property that is set to `false` as of today. The documentation page doesn't really clarify what's behind the term _entity highlighting_.

After doing a bit of googling, I suspect it has something to do with contextual add-ins and whether to highlight t

[2019-11-04 08:36] nitro-marky commented on #1403
Hi all, I thought I would give an update (just to note this is just a test class it doesn't have ant logging capabilities. So I am now able to get a dialog box showing with a callback to handle the response. And by setting the ItemSend event to a global variable I thought I could close it anywhere, which I can do to an extent. The problem is that as the page doesn't technically reload when a new m

[2019-11-04 09:40] nitro-marky commented on #1403
![ezgif com-optimize](https://user-images.githubusercontent.com/35331926/68111463-171a2280-fee7-11e9-9e1a-969b00df5a9f.gif)

[2019-11-04 12:11] nitro-marky commented on #1403
Further updates, the code works fine when sideloaded on the desktop version. So it must be the online React style version that is causing the problems. When new message is clicked is there any triggers fired I can hook onto? That might help me set up the sending part of the message.

[2019-11-04 18:10] AlexJerabek commented on #1411
Hi @coolcfxp,
Custom Functions are only supported for ExcelApi 1.9 and higher. Any legacy support would be through User-Defined Functions (UDFs). Assigning @davidchesnut for further guidance.

[2019-11-04 18:29] davidchesnut commented on #1411
Hi @coolcfxp,
Yes, as @AlexJerabek says, If you need to run custom functions on older and offline versions of Office, you will need to use UDFs in an Excel XLL. You can build both an Excel XLL and custom function with the same functionality. This way you can provide a solution to older versions of Office, while also running cross-platform with custom functions. You can also specify the XLL to be u

[2019-11-04 20:20] exextoc commented on #1403
Hi, I'm summarizing the thread so far to check my understanding and to ask a couple of questions.

Problem: Just before an email is sent, you would like to show a dialog to the user and run code before the email is sent.

Solution: As you noted, this can be accomplished with the ItemSend event and the display dialog APIs.

Please note the limitations of the item send event, and the additional info

[2019-11-04 21:24] timothyhoffmann opened #1416 "How many DesktopFormFactor elements are allowed in a single Manifest file?"
How many DesktopFormFactor elements are allowed in a single Manifest file?  Possibly it's limited by each host type (e.g. Outlook vs. Excel?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb3c39f4-bf7f-a54b-1671-a3a3a5a4ce92
* Version Independent ID: fa858a5c-a2a7-5cad-c312-f62bcfcd5115
* Content: [DesktopFormFactor

[2019-11-05 02:33] coolcfxp commented on #1411
Thanks for your reply, I think I know where to start.

[2019-11-05 02:33] #1411 closed

[2019-11-05 08:50] nitro-marky commented on #1403
Thanks for getting back to me. So when the user decides to log the message (or not) the first time it sends fine. But when I go to send another message the Send button on-click does nothing, as in it won't even fire my code (which works fine first time around). So essentially I can send one message and then that functionality becomes broken.

The only way to fix it is to reload the web app to send

[2019-11-05 08:54] nitro-marky commented on #1403
So I'm assuming that when a new message is created Office.Initialize is only called the first time?

[2019-11-05 11:20] Harshagracy commented on #1384
Hi,

Is there any update on this?

[2019-11-05 16:39] ElizabethSamuel-MSFT commented on #1412
@adem Thanks for your query. Yes, that property is related to Outlook contextual add-ins. Can you share how the manifest was generated? That will help us to determine next steps.

Thanks.

[2019-11-05 16:47] ElizabethSamuel-MSFT commented on #1416
@timothyhoffmann Thanks for asking about this. I would say one per host you've defined for your add-in.

@Rick-Kirkham Can you take a look?

Thanks.

[2019-11-05 17:11] ElizabethSamuel-MSFT commented on #1384
@exextoc Can you provide any guidance on this?

Thanks.

[2019-11-05 23:50] Rick-Kirkham commented on #1416
There can be a maximum of per host. See https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/overview/schemas/taskpane/TaskPaneAppVersionOverridesV1_0.xsd

[2019-11-05 23:50] #1416 closed

[2019-11-06 08:38] exextoc commented on #1403
@nitro-marky, thanks for reporting the info. We need below further info to reproduce and debug the issue:

1. add-in manifest
2. steps to reproduce the issue.

[2019-11-06 13:21] suoko commented on #1360
Hi,
sorry for late reply.
I could share my manifest but that's not the issue.
My question is whethere an office add-in can be packaged in an sppkg file and uploaded to the sharepoint app catalog in order to make it available to all tenant users.
My goal would be that all tenant users have a task pane (like the one well documented here https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts

[2019-11-06 22:45] davidchesnut commented on #788
Thanks @mscharlock !

[2019-11-06 22:45] #788 closed

[2019-11-08 08:27] nitro-marky commented on #1403
`
<?xml version="1.0" encoding="UTF-8"?>

<OfficeApp
          xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0"
          xmlns:mailappor="http://schemas.microsoft.com/office/mailappversionoverrides/1.0"
          xsi:type="MailApp">

  <Id>60

[2019-11-08 08:55] nitro-marky commented on #1403
It can be cloned here as a full project so should just run.

To Recreate the send steps, start debugging, enter you O356 credentials to allow the Outlook window to open. Send a message. Then try to send another and the problem should recreate.

Clone from here:
https://areteresearch.visualstudio.com/OutlookWebAddIn4/_git/OutlookWebAddIn4

[2019-11-08 09:28] nitro-marky commented on #1403
This is extremely frustrating, the web app and the desktop version are using code which has been changed and committed. I've tried flushing the cache for the webapp but it's still running code which is also now non-existent.

Also, why is this now closed?

[2019-11-08 10:55] hello-chenchen opened #1427 "why Office.context.mailbox.item.start.getAsync is async, can i get the start time for sync method?"
I think sometimes, i do not need to get the start time by call async method, the sync will be a better way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb2ef5c-e278-6aba-6fe8-7a4cc0e357d5
* Version Independent ID: ebc95637-b567-86b8-4f6d-ee9c6afee19e
* Content: [Office.context.mailbox.item - requirement set 1.5 - O

[2019-11-08 16:21] ElizabethSamuel-MSFT commented on #1403
@nitro-marky For some reason, it says you closed it. I'll reopen now. Thanks.

[2019-11-08 16:33] exextoc commented on #1403
@nitro-marky i can understand your problem and thanks for your patience, if you will provide a link of manifest that will be helpful as it will be really difficult to install your add-in using above manifest part. after installing only we can debug your add-in.
Thanks

[2019-11-08 21:23] timothyhoffmann opened #1428 "Links to "AuthOptions" is 404"
https://docs.microsoft.com/en-us/javascript/api/office/officeruntime.authoptions is not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb06c24b-9d11-9cc5-2e98-561601452638
* Version Independent ID: abda21d9-6e80-8319-c56f-004658014e3c
* Content: [Enable single sign-on for Office Add-ins - Office Add-ins](https:/

[2019-11-08 22:10] Rick-Kirkham commented on #1428
We're working on this. The topic that is being linked to is temporarily here: [officeruntime.authoptions](https://docs.microsoft.com/javascript/api/office-runtime/officeruntime.authoptions?view=excel-js-preview). In a few days it should move to the URL in the article.

[2019-11-08 22:47] ElizabethSamuel-MSFT commented on #1427
@hello-chenchen Thanks for your question. Could you share a few situations where you think sync will be a better way?

Do note that in Read/Attendee mode, you can do something like `var start = Office.context.mailbox.item.start;` without calling getAsync.

Thanks.

[2019-11-09 01:28] d4rth-v4d3r opened #1429 "Office 365 Alert Interval"
In my case, I have to add the AlertInterval key in path: HKEY_CURRENT_USER\Software\Microsoft\Office\16.0\WEF\AlertInterval

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins - Off

[2019-11-09 02:56] exextoc commented on #1384
Thanks for your question.

For the two main debugging options, the information provided by @abdulkareemnalband is correct. You would use either Edge DevTools (for recent versions of Office and Windows where the task pane is rendered in Edge WebView) or the F12 Chooser, if either Office or Windows is an older version, where the task pane is rendered in IE.

Please check [this article](https://devel

[2019-11-09 10:15] adem commented on #1412
@ElizabethSamuel-MSFT Hi, the manifest was generated via `yo office` with the options `Office Add-in Task Pane project using React framework`, `TypeScript`, and `Outlook`.

[code]

Here are the versions:
[code]
Thanks!

[2019-11-11 11:24] hello-chenchen commented on #1427
Hi @ElizabethSamuel-MSFT , thank you for your reply.
Yeah, i think when i just want to get the start time propriety, the sync style like your demo `var start = Office.context.mailbox.item.start;` will be better than like this one: `Office.context.mailbox.item.start.getAsync( (result) => { return new Promise(result); }).then((data) => {})`(simple and intuitive).
Yeah, i notice the read mode, but wh

[2019-11-11 12:31] BuggMaker opened #1430 "VS and sharepoint should be installed before debugging office addin on windows"
In this document, we should have a clear description about how to debug office addins on Windows. There are four key points:

1. Visual Studio, version >= 2015
2. Office, version >= 2016
3. SharePoint Project installed in VS
4. Attach to process in VS

If we don't install SharePoint Project like key point 3, we couldn't see the source code in  VS and add break point when we attach to process.

So

[2019-11-11 15:24] nitro-marky commented on #1403
<?xml version="1.0" encoding="UTF-8"?>

<OfficeApp
          xmlns="http://schemas.microsoft.com/office/appforoffice/1.1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:bt="http://schemas.microsoft.com/office/officeappbasictypes/1.0"
          xmlns:mailappor="http://schemas.microsoft.com/office/mailappversionoverrides/1.0"
          xsi:type="MailApp">

  <Id>60c9

[2019-11-12 15:21] exextoc commented on #1403
We are still not able to reproduce the issue and we cannot access your repository.  https://areteresearch.visualstudio.com/OutlookWebAddIn4/_git/OutlookWebAddIn4
Will it be possible to share the repo with us?

[2019-11-13 06:41] Harshagracy commented on #1384
@exextoc Thank you. I feel it is the same comment as @abdulkareemnalband . Still, I did not get my answer to the query. I am looking for information about debugging in Outlook desktop for outlook add-in.

[2019-11-13 18:18] AbidRahman-MSFT commented on #1430
Hey @BuggMaker, thanks for your suggestion.

Could you provide more information regarding the platform and application of your add-in, as well as what error you were running into when attempting to debug without installing a SharePoint Project?

[2019-11-14 14:45] nitro-marky commented on #1403
I've managed to figure out the issue and have it working. The fix was simply to close the dialog before closing the event. It might be an idea to make this clear on the dialog page when using with send events.

[2019-11-14 14:45] #1403 closed

[2019-11-14 17:59] mscharlock commented on #1429
Hi @d4rth-v4d3r, thanks for reading the docs and writing in. I'll make a note for our team to look into this. Would you be able to provide more specifics about what kind of system you are using (i.e. Office version, OS, etc)? Thanks!

[2019-11-14 20:31] Rick-Kirkham commented on #1428
Fixed.

[2019-11-14 20:31] #1428 closed

[2019-11-14 20:32] Rick-Kirkham commented on #1393
Fixed by PR 1421.

[2019-11-14 20:32] #1393 closed

[2019-11-15 01:10] exextoc commented on #1384
Outlook desktop does not have a debugger that can attach from the taskpane. The only options are the ones stated in our answer above:
1. Edge DevTools or F12 Chooser (depending on your build)
2. Attaching the Visual Studio debugger

Both of these debuggers allow you to attach to your add-in for debugging. The articles linked in our last answer provide steps for attaching and debugging tips (such a

[2019-11-17 12:48] Pher0ah opened #1438 "Breakpoints are not hit; there are no details on how to enable this"
Problem URL: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-and-debug-office-add-ins-in-visual-studio#debug-the-code-for-an-excel-powerpoint-or-word-add-in

Issue: Following the steps to enable the add-in in word and having a breakpoint in VisualStudio; the breakpoint does not trigger and there is a message in VisualStudio saying:

"The breakpoint will not currently be hit. No

[2019-11-20 01:15] tanjb-msft opened #1441 "bizarre"
my users will need to run a web server to view my worksheets?  They will need to import xml files to their machines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bac6469-78a6-dae9-e6c4-497c953a1576
* Version Independent ID: d860aff2-60ad-c008-2d10-b046f3198f44
* Content: [Custom functions quick start - Office Add-in

[2019-11-20 17:02] AlRosenthal opened #1443 "Add in won't stay in the ribbon"
I've recently created a small Word add in for a client and this was the best method for publishing the app. But once a user has added the app to their Word for desktop and closes the application, they have to re add the add in. Is this supposed to be how that works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94198c

[2019-11-20 19:40] AlexJerabek commented on #1394
Tagging https://github.com/OfficeDev/office-js/issues/855, as the engineering-side of this issue.

[2019-11-21 10:53] hello-chenchen opened #1445 "Office.context.mailbox.item.addHandlerAsync api not work after the iframe redirect or reload on MacOS chrome browser Office365 Outlook"
[Enter feedback here]

For example:
Open "My Templates" add-on which every office365 outlook have this add-on. And open the developer tools in chrome. then select the "My templates" execute context. like the screen shot.
![image](https://user-images.githubusercontent.com/1878089/69331027-06133480-0c8f-11ea-9a04-41479015a114.png)
![image](https://user-images.githubusercontent.com/1878089/69331050-1

[2019-11-21 10:55] #1427 closed

[2019-11-21 10:56] hello-chenchen commented on #1445
This api works well on the outlook mac client

[2019-11-24 21:03] slabereemsft commented on #1445
Appears to be a duplicate of https://github.com/OfficeDev/office-js/issues/865.  Given this is the doc repo and the other is in the product repo, we will look at the other one.

[2019-11-24 21:10] slabereemsft commented on #1443
Hi AlRosenthal,

The note in the linked article "App catalogs on SharePoint do not support add-in features that are implemented in the VersionOverrides node of the add-in manifest, such as add-in commands." explains the behaviour that you are seeing sadly.

The recommended way to deploy add-ins within an enterprise is to use Centralized Deployment. https://docs.microsoft.com/en-us/office/dev/add-i

[2019-11-24 21:13] slabereemsft commented on #1441
Hi Tanj,

Per our offline discussion, the model for Web Add-ins/Custom Functions today is optimized around IT Admin deployed or Store deployed add-ins.  The recommended way to enable this within a tenant is Centralized Deployment (https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment).  We're definitely looking to lower the barrier to entry here.

Thanks!
-Sean

[2019-11-24 21:19] awoerl opened #1447 "Loading an enterprise Add-In for a closed user group"
We created an Add-In that should be only accessible for a closed list of customers. Also, the Add-In needs to load the content from the customer's application website, that we provide. This means the manifest will be different per customer. When I use the side loading here, the Add-In installation is a little bit cumbersome and what is a bigger problem, the Add-In disappears after each application

[2019-11-25 05:47] BuggMaker commented on #1430
project: create by `yo office` script
platform: windows 10
addin type: excel
debugger: [Attach a debugger from the task pane](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/attach-debugger-from-task-pane)
error: no error, but i can't see any source code in visual studio, so i can't add breakpoint and debug the code.
----------------- split line --------------------
 Later, I installed

[2019-11-25 20:45] redcirkle opened #1451 "Set default URL"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/develop/add-in-manifests?tabs=tabid-1

## Issue

Looking at the Resources section of the manifest file, I see that "https://commandsimple.azurewebsites.net/" is used as the start of many URLs. Is there a way to set this at one place in the manifest (or, even better, outside of the manifest) so that other URLs can reference this beg

[2019-11-25 21:04] slabereemsft commented on #1445
Closing as duplicate per comment above.

[2019-11-25 21:04] #1445 closed

[2019-11-25 21:04] slabereemsft commented on #1443
Closing per comment above.

[2019-11-25 21:04] #1443 closed

[2019-11-26 16:39] ElizabethSamuel-MSFT commented on #1438
@Pher0ah Thanks for raising this issue. We'll work on getting this sorted out.

@davidchesnut Is this something you can look into or help with? Thanks.

[2019-11-26 16:44] ElizabethSamuel-MSFT commented on #1447
@awoerl Sorry to hear that you're facing these issues.

@Rick-Kirkham Is this something you can help with or take a look at?

Thanks.

[2019-11-26 16:46] ElizabethSamuel-MSFT commented on #1451
@redcirkle Thanks for your question.

@Rick-Kirkham Can you help with this?

Thanks.

[2019-11-26 17:18] ElizabethSamuel-MSFT commented on #1384
@Harshagracy Please take a few minutes to request Outlook desktop debugging for the task pane in [User Voice](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). The product team considers these requested features as they plan.

I'll go ahead and close this issue. If you have any further questions about this, do let us know and we'll reopen this issue.

Thanks

[2019-11-26 17:18] #1384 closed

[2019-11-26 17:22] ElizabethSamuel-MSFT commented on #1412
@adem Thanks for your response. We'll look into this.

@akrantz @TCourtneyOwen Can you take a look at this issue?

Thanks.

[2019-11-26 17:47] zakhan4 opened #1452 "Older Production Library URL version"
Isn't the latest cdn link for office js library have version 1.1? https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c7080b5-9791-e1ca-ff77-ae3dbe5f10cc
* Version Independent ID: 1207aec0-6183-53bb-2768-ebb39d09ed99
* Content: [Excel JavaScript API requirement

[2019-11-26 18:19] Rick-Kirkham commented on #1447
The only way to have different manifests for different customers is to ship each customer their own manifest. They will then need to publish the manifest using [Centralized Deployment](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/centralized-deployment) or using a [network share](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-t

[2019-11-26 18:23] #1447 closed

[2019-11-26 18:34] Rick-Kirkham commented on #1451
The manifest is XML and XML is not dynamic in the way that you want. You can't have a constant set in one place and then reference that constant in other places in the XML doc. Likewise, an XML file is not an executable. It can't call out to a setting somewhere outside itself. At least not in the way that you require. The closest you could come to what you want to do is create a script (perhaps us

[2019-11-26 18:34] #1451 closed

[2019-11-26 18:44] AlexJerabek commented on #1452
Hi @zakhan4,
Thanks for the question. I'll look into the difference between the /1/ and /1.1/ CDN endpoints. Both are regularly updated and should have the libraries you need.

[2019-11-26 18:52] slabereemsft commented on #1441
Closing now that I have access to close issues in this repo.

[2019-11-26 18:52] #1441 closed

[2019-11-26 18:54] slabereemsft commented on #1438
@nokafor - Is this the same as the Edge debugging issue?

[2019-11-26 19:25] redcirkle commented on #1451
Thank your for getting back to us, this helps us immensely!

[2019-11-26 20:02] #1448 closed

[2019-11-26 22:28] TCourtneyOwen commented on #1412
@adem @ElizabethSamuel-MSFT I will take a look at the Outlook manifest that yo-office uses

[2019-11-26 22:32] TCourtneyOwen commented on #1412
I think we can probably safely remove the DisableEntityHighlighting element from the Outlook manifest

[2019-11-26 22:34] ElizabethSamuel-MSFT commented on #1412
@TCourtneyOwen Thanks for investigating. Can you update this issue once it is fixed?

Thanks.

[2019-11-27 21:52] ahofman opened #1458 "sessionStorage is not accessible from web add-ins"
When javascript in an add-in tries to read sessionStorage, I see the following console error:

Uncaught DOMException: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document.

This looks like it was a recent change in the add-in infrastructure, as it was working up until now - are add-ins still allowed to access sessionStorage or does the 2nd bullet point at

[2019-11-27 22:33] mscharlock commented on #1458
Hi @ahofman - thanks for checking out Office Add-ins and our docs. Just checking: you aren't using custom functions in this add-in that is trying to access sessionStorage? If you happen to be using custom functions, this is expected because they don't allow access to global objects such as Window.
If you're not using custom functions, I don't know of any changes off-hand, but I will go ahead and t

[2019-11-27 22:42] mscharlock commented on #1407
Hi @michaelsaul - Apologies for the delay. I believe our [iOS side loading instructions](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/sideload-an-office-add-in-on-ipad-and-mac) were recently updated, which might help solve this issue. Let us know if these instructions aren't helpful for you and we can continue to troubleshoot.

[2019-11-28 12:52] stukey opened #1460 "Which requirements set is supported in the different channels of Office 365 ProPlus?"
Which requirements set is supported in the different channels of Office 365 ProPlus clients linked to an Office 365 subscription? Please update the documentation to make this clear. The comment “latest builds” in the above table isn’t helpful. For example if we’re on the latest version of the Semi-Annual Channel build (Nov 2019), which API requirements set does this build support? Is it 1.8 or sti

[2019-12-02 05:38] d4rth-v4d3r commented on #1429
@mscharlock
![image](https://user-images.githubusercontent.com/5044302/69933237-9de4ff80-1493-11ea-9f96-b1a2e888a6a6.png)

![image](https://user-images.githubusercontent.com/5044302/69933258-bc4afb00-1493-11ea-9d88-3cf3326e1322.png)

[2019-12-02 06:08] aafvstam opened #1461 "Control section should have a reference to the Control documentation page"
There is no reference to the Control reference page on this page. As a result from this the developer is in the dark on what to use for Controls. There is just the little example, but that doesn't show what Control options are available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 540ad65e-a396-ce57-34fa-00e490028f0

[2019-12-02 06:38] aafvstam opened #1462 "Icon Child element is required"
Omitting the Icon Child Element will result in an error not loading the Add-in. Therefor the Icon element is a required element (i.e the Icon node with the three required Image child elements):

&lt;Icon&gt;
   &lt;bt:Image size="16" resid="Icon.16x16"/&gt;
   &lt;bt:Image size="32" resid="Icon.32x32"/&gt;
   &lt;bt:Image size="80" resid="Icon.80x80"/&gt;
&lt;/Icon&gt;

---
#### Document Details

[2019-12-02 17:25] AlexJerabek commented on #1460
Thanks for your feedback @stukey. Assigning @ElizabethSamuel-MSFT to investigate.

[2019-12-02 19:41] kbrandl commented on #1462
@aafvstam thanks for the feedback! Do I understand correctly that you're referring to [Icon](https://docs.microsoft.com/office/dev/add-ins/reference/manifest/icon) element that's specified within a Button control or Menu control?  If so, it seems like the documentation already specifies that this element is required -- i.e., the value of the **Required** column is **Yes** for the `Icon` element in

[2019-12-02 19:53] kbrandl commented on #1461
@aafvstam thanks for the feedback! I've submitted a PR to add this info to the docs (#1463).

This issue will automatically be closed when that PR gets merged, and the update will subsequently appear in the live docs with the next batch of doc updates that's published.

[2019-12-02 20:54] aafvstam commented on #1462
The information is missing on the Group object, not the Button. That object currently only mentions two required items, Label and Control from the top of my head. Leaving out the Icon on Group makes it crash.

If you want to see how you can check the video from this morning on https://twitch.tv/maartenvanstam

Hope it helps,

Maarten

Sent using a smalle device, so ignore the typos 😎

____________

[2019-12-02 21:17] kbrandl commented on #1462
@aafvstam thanks for the clarification; I now understand the problem (and have confirmed via the manifest schema that the `Icon` element is indeed a required child element of the `Group` element). I'll submit a PR later today to update the docs accordingly. Thanks for bringing this to our attention!

[2019-12-02 23:39] #1461 closed

[2019-12-03 00:08] kbrandl commented on #1462
@aafvstam thanks again for the feedback! I've submitted a PR to add this info to the docs (#1467).

This issue will automatically be closed when that PR gets merged, and the update will subsequently appear in the live docs with the next batch of doc updates that's published.

[2019-12-03 17:50] #1462 closed

[2019-12-03 17:56] ElizabethSamuel-MSFT commented on #1460
@stukey I'm working with the product team to pull this information together.

For now, consider the subscription details to relate to monthly channel builds.

Thanks.

[2019-12-03 20:04] andrewkittredge opened #1468 "The add example does not work"
You have to pass a value for invocation, I think you need to specify the type of invocation in the meta-data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17035fc0-ca69-03f2-fe37-8189ff870cc7
* Version Independent ID: 2d43e719-043b-7a62-04bb-66b2cce7bf1d
* Content: [Options for Excel custom functions - Office Add-ins

[2019-12-03 20:31] stukey commented on #1460
@ElizabethSamuel-MSFT Thanks for the update. Any idea if/when API 1.8 will be available in SAC release?

[2019-12-04 18:40] mscharlock commented on #1468
Hi Andrew - thanks for writing in. I believe the type {CustomFunctions.Invocation} is specified in the sample? You are right that you have to pass a value (i.e. cell A1) to get a value back. It is a bit of a weird example taken out of a larger context (because why would you ask the cell to get the context of itself)- although I've included it here so folks can get an understanding of how it can be

[2019-12-04 18:45] mscharlock commented on #1407
I'm going to close this issue for now as I believe we have updated the instructions to address - but @michaelsaul let me know if you still encounter issues by commenting on this thread. I can then reopen it. Thanks!

[2019-12-04 18:45] #1407 closed

[2019-12-04 18:46] mscharlock commented on #1430
Hi @BuggMaker I will go ahead and see if I can repro this issue and get back to you. :) Thanks!

[2019-12-04 21:46] andrewkittredge commented on #1468
I was referring to this example-

/**
 * Add two numbers.
 * @customfunction
 * @param {number} first First number.
 * @param {number} second Second number.
 * @returns {number} The sum of the two (or optionally three) numbers.
 */
function add(first, second, invocation) {
  return first + second;
}

[2019-12-05 00:00] #1458 closed

[2019-12-05 08:54] fowl2 opened #1472 "Edge or Edgium?"
For versions of Office that use Edge as the browser engine, is this EdgeHTML (aka Edge Legacy) or the new Chromium based Edge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID: 0a069a0d-4d35-71ee-53af-8c55fe8548a0
* Content: [Browsers used by Office Add-ins -

[2019-12-05 17:40] Rick-Kirkham commented on #1472
It's whatever Edge is installed on the user's computer.

[2019-12-05 17:40] #1472 closed

[2019-12-05 19:42] davidchesnut commented on #1438
Hi @Pher0ah

Can you provide which version of Visual Studio and which version of Office desktop you are using? This will help us look into this a bit more.

I have seen this problem once and it turned out to be a caching issue that caused the debugger to not be able to connect properly. You can clear the cache by following steps in this [article](https://docs.microsoft.com/en-us/office/dev/add-ins

[2019-12-05 22:53] Pher0ah commented on #1438
Hi @davidchesnut

No, it is not a caching issue, as creating a new project has the exact same issue. If I run a virgin project and add a bookmark to the task pane that is there by default, the breakpoint works. Any new code I add will give the above-mentioned warning and doesn't break at it. Also, all my code goes into the function.js file as they are button commands and not task pane related.

[2019-12-06 18:34] mscharlock commented on #1468
Ah ok! Yes if you were to use invocation in this example for something you would have to specify a type. However, it's indicated in this sample just so you know it always silently exists at the end of the parameters, even if not explicitly stated. I think we say somewhere on the page it is explicitly stated in the sample just for show. But, good to hear feedback that the language here could be imp

[2019-12-06 18:43] #1452 closed

[2019-12-09 10:22] OfficeGlobal opened #1481 "[LOC] Invalid link in an article"
There is an invalid link in an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/add-ins/develop/common-coding-issues
2. Search for "TypeScript definitions"
3. Click on the link

**Actual results**:
Link is not working
**Expected results**:
Link works or is removed from the topic

**GH article**:
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/

[2019-12-09 10:26] OfficeGlobal opened #1482 "[LOC] Invalid link in an article"
There is an invalid link in an article.

**Repro steps**:
1. Go to https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/privacy-and-security
2. Search for "Use WIP and Intune to protect enterprise data in documents running Office Add-ins"
3. Click on the link

**Actual results**:
Link is not working
**Expected results**:
Link works or is removed from the topic

**GH article**:
https://gith

[2019-12-09 17:26] ElizabethSamuel-MSFT commented on #1460
@stukey No idea yet. We'll update this issue as soon as we can with that info.

[2019-12-09 18:52] #1481 closed

[2019-12-09 18:52] #1482 closed

[2019-12-09 21:11] Rick-Kirkham opened #1486 "What Office Add-in "Learning Paths" would you like to see?"
### We Have a Request

We'd really like to have the opinions of Office Add-in developers about what **Learning Paths** we should add to our developer documentation.

Some subjects in add-in development cannot be contained in a single article. A **Learning Path** is a sequence of related articles and other media, (or in some cases a tutorial) that is intended to provide developers with guidance abo

[2019-12-12 08:19] clavx opened #1492 "Error code 9043 is undocumented"
The Outlook add-in fails with code 9043 that is not documented here.
This occurs with the `getAttachmentContentAsync()` method implemented in Mailbox 1.8.

Could you please correct the document?
Also, would it be possible to tell me that what types of attachments will show error code 9043?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-12 16:52] ElizabethSamuel-MSFT commented on #1492
@clavx Sorry that you've hit an error and thanks for letting us know.

@exextoc Can you provide this info? We can update the docs after that.

Thanks.

[2019-12-15 12:22] DennisGaida opened #1494 "What are the settings that are valid here?"
Same goes for TabletSettings and PhoneSettings.
Is any XML valid here? What are the source location and control settings referenced in the description? Please link to or create additional documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7590a7b5-a498-d258-3258-0283df814ad4
* Version Independent ID: 1dd3170

[2019-12-15 12:42] DennisGaida opened #1495 "In the Outlook roaming section a lot of jQuery is used - is that best practice?"
In the section *How to save settings in the user's mailbox for Outlook add-ins as roaming settings* most of the code examples start with `$(document).ready(function () ` and also with the comment `// After the DOM is loaded, add-in-specific code can run.`.

* Are roaming settings really only available after the DOM is loaded? This isn't documented anywhere on this page besides the code examples.
*

[2019-12-16 18:04] AlexJerabek commented on #1495
Thanks @DennisGaida  for the request to clarify this documentation. @ElizabethSamuel-MSFT, can you investigate?

[2019-12-16 19:43] mscharlock commented on #1430
Hi @BuggMaker, you are right on this one - we will go ahead and get this item on our backlog to update the documentation here. I will go ahead and close this issue for now, but if you'd like to continue this conversation, just comment in this thread and I will re-open.

[2019-12-16 19:43] #1430 closed

[2019-12-16 19:46] mscharlock commented on #1468
Hi @andrewkittredge, I'm going to close this thread and put this up to our team for discussion about making a change to make this clearer. If you need anything else, let me know by commenting on this thread and I will re-open it. Thanks!

[2019-12-16 19:46] #1468 closed

[2019-12-17 11:51] stukey commented on #1460
I see the page has been updated to state “latest build **(monthly channel)**”, which is great. Could you also document the API versions supported by the latest Semi-Annual Channel and Semi-Annual Channel Targeted releases too? This info is really useful for organistions like mine that only use SAC releases. We have two add-ins that are dependant on the version 1.8 release of the API and we really

[2019-12-18 10:12] Vrushi007 opened #1500 "The addin is not working when it is built to production mode."
I have created a addin for outlook. When I publish the project. The addin is not working.
Is there any problem with build process?

[2019-12-19 12:16] ArriaGitHub commented on #1164
Do you have an updated timeline for the GA?

[2019-12-19 14:57] MortenSoerensen opened #1504 "Missing documentation for error with code 9022"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes
## Issue

 There is no documentation for the error with error code 9022.
I get the error in Outlook when trying to save a mail item in compose mode using saveAsync.
The error name is: MessageInDifferentStoreError and the error description (translated from Danish) is: The EWS-id can n

[2019-12-19 17:24] Reezaali commented on #1504
@MortenSoerensen thank you for reporting this issue to us.

@exextoc Can you review & provide the following information please:

Error.code 9022
Error.name MessageInDifferentStoreError
Error.message The EWS-id cannot be fetched, because the message is saved in another store.
Condition: ?

Thanks.

[2019-12-19 17:34] Reezaali commented on #1494
@exextoc Can you provide the missing element information please?

[2019-12-19 17:34] Reezaali commented on #1494
@DennisGaida thank you for reporting this issue.

[2019-12-19 19:31] tuyoyexcel commented on #1486
1.- Transitioning from VBA to web add-ins
2.- Deploy web add-ins in a local and remote server
3.- Connection between content pane and and Excel Data
4.- Mastering Excel custom functions

[2019-12-19 23:48] exextoc commented on #1494
The `Form` element supports three elements in the following order. Each of those elements can have a `SourceLocation` element which must be a valid, fully qualified HTTPS address and `TabletSettings` and `DesktopSettings` also support a `RequestedHeight` element that can have a minimum height of 240px and a maximum height of 800px. These three extension points will appear in older versions of OWA

[2019-12-20 22:02] ElizabethSamuel-MSFT commented on #1495
@DennisGaida Thanks for making this request. I've added this to our internal backlog.

Thanks.

[2019-12-22 14:11] quantrpeter opened #1511 "calling Office.context.ui.displayDialogAsync from outlook"
Hi, i am calling "Office.context.ui.displayDialogAsync", how can i get current domain programatically?
thanks
Peter

[2019-12-23 06:07] manimara commented on #1028
Is there any next versions planned for this features in near future?
Where i can get the planned features ?

[2019-12-23 06:45] xieofxie opened #1512 "Excel: How to access this in context.sync.then?"
For example, create a react excel sample and modify it to

![image](https://user-images.githubusercontent.com/2876650/71340794-e2475500-2592-11ea-8c14-e188df3a5ca1.png)

where `this.color` is a variable inside App and it throws `this is null`

Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 819bf53b-d792-85b3-e6

[2019-12-23 19:19] mscharlock commented on #1511
Hi @quantrpeter - Thanks for reading the docs and writing in. I will check into this for you. Just an FYI, this is a slow time for our team (especially in engineering), so there is likely to be a delay getting back to you.

[2019-12-23 19:21] mscharlock commented on #1512
Hi @xieofxie - Thanks for reading our docs and writing in. I'm happy to check into this for you, but wanted to let you know that this is a slow time for our team as many people are out for US holidays, so there may be a delay getting back to you. Thanks!

[2019-12-23 19:24] mscharlock commented on #1429
Hi @d4rth-v4d3r - Thank you for the updated information and sorry for my delayed response. I'm going to put this item into our backlog to investigate, although so far I have not been able to reproduce this issue. I'm going to close this issue for now but if you need anything else, please go ahead and reply on this thread and I will reopen the issue. Thanks and happy holidays!

[2019-12-23 19:25] #1429 closed

[2019-12-24 19:23] lindalu-MSFT commented on #1512
@mscharlock Thanks so much for grabbing the issues in this repo and self-assigning! I missed FPC duties yesterday and was delighted to see you attended to them. Merry Christmas! ll

[2019-12-30 16:50] ToddBoothroyd opened #1518 "Outlook add-in side-load link 404"
The link to side-loading an Outlook add-in is resulting in a 404 error.

[2019-12-30 17:28] kbrandl commented on #1518
@ToddBoothroyd thanks for reporting this issue. Can you please add a comment here to indicate the page (URL) where this broken link exists? Thank you!

[2019-12-30 21:34] ToddBoothroyd commented on #1518
The link exists on this page:
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins.md
"Sideload Outlook add-ins for testing"
404: https://github.com/OfficeDev/office-js-docs-pr/blob/master/outlook/add-ins/sideload-outlook-add-ins-for-testing

[2019-12-30 21:47] kbrandl commented on #1518
@ToddBoothroyd thanks for the additional info!

Apologies for the confusion that this may have caused, but this behavior is actually expected / by design. i.e., the GitHub files here in the **OfficeDev/office-js-docs-pr** repository represent the source files that are used to produce the actual doc set here:  https://docs.microsoft.com/en-us/office/dev/add-ins. Any links in the GitHub source files

[2019-12-30 21:47] #1518 closed

[2020-01-02 21:36] Rick-Kirkham opened #1522 "misusing "JSON struct""
What this article calls "JSON structs" is just Object Literal Notation. It is **not** JSON.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4e5272-512f-7216-0632-e4ebffeb8f2f
* Version Independent ID: c0d3984c-f961-7055-6ef2-e99fa39d5fd9
* Content: [Common coding issues and unexpected platform behaviors - Office Add-i

[2020-01-02 21:43] AlexJerabek commented on #1522
Thanks @Rick-Kirkham. I'll correct the article.

[2020-01-03 03:38] ruei-yu-yang opened #1526 "excel add comments not work"
My local execution environment: excel pro plus 2019.
I try to using this page add comments sample in my local machine,
no error occurred during execution, but no show comments.

var comments = context.workbook.comments;
comments.add("Sheet1!A1", "comments...");
return context.sync();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-01-05 06:43] Scheel opened #1528 "How can I delete snippets in the browser cache"
Just where is the "browser cache" and can it be interrogated/manipulated independently of Script Lab?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aace12cf-0413-a4cf-689e-be11dda24b79
* Version Independent ID: 22421f98-a14e-1e35-d371-a262ae88e435
* Content: [Explore Office JavaScript API using Script Lab - Office Add

[2020-01-06 07:36] MicleMing opened #1529 "[outlook]: can I access to microphone in office add-in ?"
I can't access to microphone on desktop app(outlook), I haven't found any useful informations on docs.  how can I access to microphone on desktop ?
Platform: MacOS
Thanks

[2020-01-06 18:47] #1522 closed

[2020-01-06 21:36] lindalu-MSFT commented on #1528
Hi @ElizabethSamuel-MSFT and @Zlatkovsky, this customer has a question about the browser cache. Can you answer this question or should I direct the customer to Stack Overflow? Thanks in advance!

[2020-01-06 21:40] lindalu-MSFT commented on #1512
@mscharlock Do you need more information from the customer to investigate this? Or should we send the customer to Stack Overflow to get help from the Excel developer community? Thanks, ll

[2020-01-07 14:59] andrewkittredge commented on #1137
This is not a technical puzzle, there is no documented way to uninstall sideloaded add-in.

[2020-01-07 20:04] BSaivamani commented on #421
Hello @salingun , I have Office 365 (Version 16.0.12228) and I am unable to see the add ins in shared folder.Updating is the only change you made for your add in to show up? Thank you!

[2020-01-07 20:26] BSaivamani opened #1532 "Unable to see the Add in in Shared Folder."
Hi,

I have Word web Add-in created.I am able to debug via Visual Studio and it works well.When I try to side load it ,I can't.I followed all the steps.I am using Office 365(The version of office is the latest Version 16.0.12228).

[2020-01-07 21:21] mscharlock commented on #1511
Hi @quantrpeter Have you looked into this: Office.context.ui.displayDialogAsync('https://myAddinDomain/myDialog.html'); as described in [this article? ](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/dialog-api-in-office-add-ins#dialog-api-scenarios) Otherwise, you should also be able to use window.location.hostname as in this [Stack Overflow article](https://stackoverflow.com/questio

[2020-01-07 21:24] mscharlock commented on #1512
I think this might be one for Stack Overflow. @xieofxie I think your best bet to answer this would be to repost on Stack Overflow with the tag office-js, as this is checked by our engineers. Thanks!

[2020-01-07 21:26] mscharlock commented on #1486
@tuyoyexcel Thanks for this input, this really helps us decide which direction to move in as a docs team. We definitely realize there is a large gap between modern web add-ins and VBA. Quick question for you as someone who writes on the custom functions documentation - did you find that you used our "See Also" sections or utilized any of the patterns and practices samples while you were learning?

[2020-01-07 21:43] #1532 closed

[2020-01-07 22:27] lindalu-MSFT commented on #1512
Yes, please check with the Excel developer community on Stack Overflow. Here's what I found when I searched tags ["office-js" AND "excel"](https://stackoverflow.com/questions/tagged/office-js+excel). I didn't find any questions about "context.sync.then" so you should ask a new question. Closing this issue.

[2020-01-07 22:27] #1512 closed

[2020-01-07 23:34] ArriaGitHub commented on #634
Any update on the GA time lines?

[2020-01-08 01:52] Zlatkovsky commented on #1528
@lindalu-MSFT , the user can either just delete snippets one-by-one in the UI (the recommended approach), or they can clear their localstorage for "scriptlab.azureedge.net" in the browser F12 tools.

[2020-01-08 02:06] lindalu-MSFT commented on #1528
@Zlatkovsky Thanks for the answer!

@Scheel Issues in this repo are for actual product or documentation bugs. For help with your doce, we suggest that you go to Stack Overflow and reach out to the [Office-js developer community](https://stackoverflow.com/questions/tagged/office-js) using the tag [office-js]. There's also a new tag [[scriptlab]](https://stackoverflow.com/questions/tagged/scriptlab)

[2020-01-08 02:06] Scheel commented on #1528
Thanks for your help.

[2020-01-08 02:07] #1528 closed

[2020-01-08 12:22] tuyoyexcel commented on #1486
@mscharlock,
I will detail my process of learning the Office JavaScript API.
I started to learn the OJA because I am an Excel & VBA user for the last 20 years and I realized that JavaScript could add many new things to Excel.
First, I started playing with Script Lab, very useful for the beginning.
Then, I learnt some basic JavaScript code
Then, I installed Visual Studio and played with some Web Ad

[2020-01-10 09:12] glr0221 opened #1535 "Previously Working AddIn Is Not Starting Up."
We have developed an addin which had been working really well with your standalone outlook clients. It is a script based taskpane-type addin. Recently,  some of our end users have started experiencing problems during the loading of the addin. I cannot reproduce the same issue on my machine (Windows 10 B1909 and  Office MSO 16.0.12325.20280). I was thinking that this was an issue related to Outlook

[2020-01-12 13:24] jrpally opened #1537 "ImageCoercion not available on Word 2013 and documentation says it is available."
If i run the script on Word 2013:
var sets = Office.context.requirements._setMap._sets;
for (var set in sets){
	console.log("Set type: " + set + " value " +sets[set]  );
}
Shows:
Set type: bindingevents value 1.1
Set type: compressedfile value 1.1
Set type: customxmlparts value 1.1
Set type: documentevents value 1.1
Set type: file value 1.1
Set type: htmlcoercion value 1.1
Set type: matrixbindings

[2020-01-13 20:48] John-Hart opened #1539 "JS_Debug environment variable no longer needed"
If you have installed Visual Studio 2019 Update 4, the command setx JS_DEBUG &lt;PackageFullName&gt; is no longer needed.  The issue was fixed.   See https://developercommunity.visualstudio.com/content/problem/740413/office-development-inconsistent-script-debugging-b.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-14 18:15] #1504 closed

[2020-01-14 19:17] #1494 closed

[2020-01-14 20:20] lindalu-MSFT commented on #1539
@John-Hart Thanks for finding this! I've created a PR to update the document. It will be merged shortly.

[2020-01-14 20:20] #1539 closed

[2020-01-14 20:25] lindalu-MSFT commented on #1537
Hi @jrpally, thanks for your question! However, this repo is for reporting actual documentation bugs. For programming questions, we suggest you reach out to the Word developer community on Stack Overflow. Tag your question with [[office-js] and [word]](https://stackoverflow.com/questions/tagged/office-js+ms-word).

If you found an error in the documentation, please provide the link to the topic wi

[2020-01-14 20:33] jrpally commented on #1537
Hi @lindalu-MSFT That was the question, looks like https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability is not accurate. ImageCoercion in Word is not supported. The question: Is this supported? or this is a bug in the library?

[2020-01-14 20:40] AlexJerabek commented on #1537
@sumurthy @lumine2008, can either of you confirm ImageCoercion support for Word 2013?

[2020-01-14 20:57] lindalu-MSFT commented on #1537
@jrpally Thanks for providing the link to the doc that is not accurate. Alex has pinged our SMEs to confirm.

[2020-01-14 21:25] mscharlock commented on #1511
Hi Peter - I'm hoping this answered your question. I'm going to close this issue for now, but go ahead and comment on this thread if you want me to reopen it - I am happy to help!

[2020-01-15 06:17] quantrpeter commented on #1511
thanks gentlemen

[2020-01-15 19:25] mscharlock commented on #1511
Just checking if you need anything? I can reopen if you'd like!

[2020-01-15 23:40] jrpally commented on #1537
Thanks @AlexJerabek please let me know this is an urgent issue

[2020-01-16 07:57] topkoong commented on #1307
I was wondering if you guys could let me know when the documentation will be released.

Thank you!

[2020-01-16 15:51] AlexJerabek commented on #1537
@jrpally,
While I find out the availability of ImageCoercion, I would recommend following @lindalu-MSFT's advice and post on Stack Overflow. Someone might have a solution for you already.

[2020-01-17 13:47] saberone commented on #1164
But this is quite important functionality, right? No SSO really degrades the user experience. Making the user login twice doesn't help with people adapting the new functionality.

[2020-01-17 20:42] Rick-Kirkham commented on #1164
@ArriaGitHub @saberone It is still in preview. The last estimate I heard for when it will release was the 2nd quarter of 2020.

[2020-01-21 17:16] ElizabethSamuel-MSFT commented on #1492
@exextoc Any update on this? Thx.

[2020-01-22 11:11] seifeldeen92 commented on #584
@kb339 Have you reached any progress in that? i am stuck in the same spot

[2020-01-22 13:57] erharvey opened #1551 "SSO preview"
Hi,

The SSO feature works without any issues for us but still seems to be in preview. Last year, we had to download the "dev" javascript version to enable sso correctly and decided not to use it internally within the organization due to this. However, it doesn't seem to be the case anymore since keeping the default javascript api file now enable us to use sso directly. Therefore,  we assumed that

[2020-01-22 18:04] Rick-Kirkham commented on #1551
SSO is still in preview. As a matter of policy, we don't recommend using preview features in production add-ins, even internal. Also, as a matter of policy, we're not allowed to give firm release dates in advance. The last estimate that I heard is that we hope to release it in the second quarter of this year (April - June); but SSO has had to be postponed in the past and that could happen again.

[2020-01-22 18:05] #1551 closed

[2020-01-22 20:39] mscharlock commented on #1307
Hi there,
Custom functions will be undergoing some changes in the January monthly fork, which will result in some new preview documentation (which should include any changes to debugging) at the end of Jan/early Feb! Hope that helps so you have an estimation on timeline :)

[2020-01-22 22:59] exextoc commented on #1492
Thanks for your question. This error is currently returned by `getAttachmentContentAsync` when the attachment is an **item attachment** other than an email or calendar item. For example: Contact and task attachments.

@ElizabethSamuel-MSFT This error could be documented in the [list of error codes](https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes)

[2020-01-23 07:57] binhnguyen1984 opened #1554 "Open a website in Chrome or Mozilla"
Hello,
I have an Excel Addin application. In my app, I have a link to a razor website. I use Office.context.ui.displayDialogAsync to open that website in a new window. However, I have an issue. Since the Excel Addin runs Internet Explorer 11 embedded in it, Office.context.ui.displayDialogAsync seems to use this browser to open the razor page. This leads to an error because Internet Explorer does n

[2020-01-23 09:08] MortenSoerensen opened #1555 "Error code 9021 is undocumented"
## Article URL
In the article https://docs.microsoft.com/en-us/office/dev/add-ins/reference/javascript-api-for-office-error-codes the is no description of the error with code 9021.

## Issue

I have experienced the error in Outlook on Windows in cached mode.
The error came in message compose mode, when saving a mail item as a draft.

The error is also mentioned in https://github.com/OfficeDev/offi

[2020-01-23 10:38] clavx commented on #1492
Thank you for the answers.
Just to clarify, is the following description to explain the case of an [Exchange item type](https://docs.microsoft.com/en-us/javascript/api/outlook/office.mailboxenums.attachmenttype)?

And we found that the error occurs when embedding an image in Rich Text format.

![Embedding an image in Rich Text Format](https://user-images.githubusercontent.com/58804032/72976378-d95

[2020-01-23 16:33] ElizabethSamuel-MSFT commented on #1555
@MortenSoerensen Thanks for raising this issue. We'll document this error.

@exextoc This may be a bug since in cached mode, it seems that the message should save to the cache and not be trying to save to the server. Can you investigate?

I'll resolve the documentation issue then transfer to office-js if need be.

Thanks.

[2020-01-23 20:29] Rick-Kirkham commented on #1554
I'm sorry but there is no way to choose the browser that is used. This is controlled by Office and the OS. For details see [Browsers used by Office Web Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins). If you are not going to distribute the add-in through AppSource (aka the Microsoft app store) and you know that none of your add-in's end us

[2020-01-23 20:29] #1554 closed

[2020-01-23 20:36] AlexJerabek commented on #1537
Hi @jrpally,
In discussion with the product team, you should be able to use ImageCoercion with Word 2013. This just seems to be an omission from the set list. Have you been successful using the ImageCoercion API in Word 2013?

[2020-01-23 22:02] jrpally commented on #1537
![bug2013](https://user-images.githubusercontent.com/8353590/73027805-074a1480-3e2c-11ea-93e7-04622336836d.jpg)

Attached a picture of the issue. @AlexJerabek

[2020-01-23 22:22] AlexJerabek commented on #1537
Tagging @LouMM for awareness.

[2020-01-24 00:53] markdon opened #1558 "Add information about how CustomTabs appear in different application versions"
Based on these issues
https://stackoverflow.com/a/53699108/4853706
https://github.com/OfficeDev/office-js/issues/369
and my testing, the CustomTab element gives different results when used with Outlook for Mac, Outlook for Windows and Outlook on the web.

Custom Tabs work as expected on Windows. Custom Tabs to not appear on Mac and any buttons included in the CustomTab do not appear anywhere in th

[2020-01-24 01:32] jasonsue53 opened #1559 "Unhandled exception after following "Insert Image" steps"
I've followed all the steps of "Insert Image".  Then when I show the Task Pane it slides out and I see my "Insert Image" button briefly but then I immediately get the unhandled exception below.

I thought I perhaps missed a step or screwed something up so I tried it a second time from scratch.  As soon as the solution is created I found I can run it with no problems.  In other words, the default s

[2020-01-24 01:42] jasonsue53 commented on #1559
Just confirmed that if in the first step I leave all of the existing code for "content-main" and instead just add the Insert Image button within that existing DIV it works fine.  In other words, there's something else being run in the project that is looking for DOM elements in the existing code that is getting deleted in step 1.

[2020-01-24 17:58] kbrandl commented on #1559
@jasonsue53 thanks for reporting this issue; we'll investigate and report back here with the outcome.

[2020-01-24 19:37] Rick-Kirkham opened #1560 "Circular links"
The link in the **See also** section just links to this same article. Same point applies to the Runtime article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a8cf67b-951d-7bae-5584-565ae9ec45c1
* Version Independent ID: b7b60c57-bcb0-679e-5163-97b62fced5d3
* Content: [Runtimes in the manifest file - Office Add-ins](

[2020-01-24 22:31] #1558 closed

[2020-01-24 22:37] #1560 closed

[2020-01-24 23:47] exextoc commented on #1555
Thanks for reporting this. We looked at the place where the error is returned in Outlook, but it doesn't represent a singular error condition. If the user is also unable to save the item, Outlook may display a more specific reason to the user for why the item can't be saved.

If you are able to reproduce this yourself, we can try the same steps to reproduce the issue and investigate why the error

[2020-01-25 00:46] exextoc commented on #1492
Thanks for providing another example. You are right, the same error is returned in this case as well. For RTF specifically, the content of the image may not be returned by getAttachmentContentAsync.

[2020-01-25 13:45] janseba opened #1566 "ADD-IN ERROR We can't open this add-in from localhost."
I've followed all steps in this tutorial. When I click the Show Taskpane button in the ribbon in Excel, I get the following error: ADD-IN ERROR We can't open this add-in from localhost.

I've done exactly the same yesterday and then it worked. Something is broken now, but I've no clue how to debug it. I can not attach F12 development tools to it.

---
#### Documentdetails

⚠ *Dit gedeelte niet bew

[2020-01-26 00:37] Rick-Kirkham commented on #1566
Please clarify "I've done exactly the same yesterday and then it worked": Did you go through the entire quickstart twice (so you now have two different projects)? Or do you mean that the very same project that you created yesterday stopped working today?

Verify that your localhost server is running: Paste the URL of the add-in into the address bar of a browser and see if the page opens.

[2020-01-26 17:16] janseba commented on #1566
I did go through the entire quick start 2, so indeed I have two projects now, both are not working.
The localhost server is running. If I paste the URL of my add-in into my browser the page will open.

To give a bit more context:
I was working on my own add-in on Friday and everything was working normally. Saturday I got the add-in error (without changing anything in the code). I always have a sam

[2020-01-26 22:16] Rick-Kirkham commented on #1566
I wonder if Office was updated to a bad build overnight Friday-Saturday.
1. Are you developing on a Mac or a Windows computer?
2. What is the full version and build number of Office? If you are on Windows it will have the form YYMM nnnnn.nnnnn. E.g., 2001 12330.20000
3. What is the full version of Windows? E.g. Windows 10 1903.
4. Try [sideloading one of the add-ins on Office on the web](https://d

[2020-01-27 09:23] janseba commented on #1566
Thanks for your reply!

I'm working on Windows on a Mac in a virtual machine (via Parallels).
I'm working with Microsoft Excel for Office 365 MSO (16.0.119292.20436) 32-bit
I'm working with Windows 10 Pro, Version 1903, Build 18362.592

I will try to side load the add-in to the web this evening and also run the Fiddler tool.

[2020-01-27 20:05] janseba commented on #1566
I just sideloaded the add-in to Excel online and everything is functioning normally.

In the desktop application, still the same error message.

[2020-01-27 20:09] Rick-Kirkham commented on #1566
OK. Let me know what Fiddler says when you launch the add-in in desktop.

[2020-01-27 21:11] janseba commented on #1566
Good news: add-ins are working again!
Bad news: I do not understand why :-(

I've never used Fiddler before. Downloaded, installed and ran it. Started localhost server with npm start and got these results in Fiddler:
<img width="732" alt="image" src="https://user-images.githubusercontent.com/6369573/73213566-b2bad800-4150-11ea-87d4-5793dc851ee4.png">

Found this article on the web: https://docs.mi

[2020-01-27 23:41] Rick-Kirkham commented on #1566
Glad it's working for you again. The only thing I can think of that might explain it is that on Friday your VM was using a version of Office pre 16.0.11629, which meant you were using IE in your task pane and didn't need the loopback check. Then your VM got upgraded to Office 16.0.119292 overnight and your task pane started using Edge, which requires the loopback check. See here for more info: [Br

[2020-01-27 23:41] #1566 closed

[2020-01-28 21:47] markdon commented on #1558
Thanks for the quick update!

[2020-01-29 17:42] redcirkle opened #1570 "Excel Add-in works online, but not on desktop"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator

## Issue
I tried following the steps for this tutorial to create a new Excel add-in (`npm install -g yo generator-office`, `yo office`, and stepping through the Office Add-in Generator). However, when I run `npm start` for the project, the add-in only loads to an error scree

[2020-01-29 17:46] AlexJerabek commented on #1570
Hi @redcirkle,
Thanks for reporting this. It is a known issue with Office.js that's being investigated.

@kbrandl, who is on point for this investigation?

[2020-01-29 17:58] kbrandl commented on #1570
@redcirkle @AlexJerabek I observed this issue yesterday afternoon (Jan 28) but it has since been fixed and I'm no longer able to repro.

@redcirkle I'd suggest you try the following:

1. Stop the local server (localhost), if it's running -- i.e., close the Node.js window.
2. [Clear the Office cache](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache).
3. Run `npm start` (which will

[2020-01-29 18:37] DmytryEmery commented on #1570
^--- @kbrandl I had the same issue, but it was only resolved by the ['Outlook'](https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache#outlook-windows-10) steps in the article you linked.  Just clearing the add-ins was not enough.

It leads me to suspect it was a edge/web browser caching issue going on.

[2020-01-29 18:39] kbrandl commented on #1559
@jasonsue53 I've been looking into this, but so far have been unable to reproduce the problem you've described. I am able to complete the tutorial from beginning to end (using Visual Studio Enterprise 2019) and everything works for me.

Given the error message you're reporting, I wonder if perhaps you inadvertently removed the **div** `<div class="MessageBanner" id="notification-popup">` from the

[2020-01-29 18:42] kbrandl commented on #1570
@DmytryEmery good to know -- thanks for chiming in here. I'll update the article you linked to, to indicate that the procedure for clearing the (Edge) cache on Windows 10 applies to all hosts -- not just Outlook.

[2020-01-29 18:44] kbrandl commented on #1570
@DmytryEmery please try the steps described in the following article, to clear the Edge cache using Edge DevTools, and let us know whether your add-in is working properly after doing so. Thanks!

https://docs.microsoft.com/en-us/office/dev/add-ins/testing/clear-cache#outlook-windows-10

[2020-01-29 18:55] redcirkle commented on #1570
Yeah, that did the trick! We were able to get it working again once we followed the Outlook steps. 😃

Thank you @kbrandl for the quick response! And thank you @DmytryEmery for calling that out as well!

[2020-01-29 18:58] kbrandl commented on #1570
Awesome -- thanks for the confirmation @redcirkle!  And thanks again @DmytryEmery for providing the solution here!  I'll update the docs today to indicate that the procedure for clearing the (Edge) cache on Windows 10 applies to all hosts -- not just Outlook.

[2020-01-29 18:58] #1570 closed

[2020-01-29 19:15] redcirkle commented on #1570
@kbrandl Do you think this issue is mostly related to add-in development? Or do you think this issue could arise for our end-customers if released our add-in? We won't be able to ask our customers to download Microsoft Edge Devtools and clear their caches (our add-in shouldn't require any expertise outside of Excel itself).

[2020-01-29 19:31] kbrandl commented on #1570
@redcirkle good question. Based on my understanding of the **office-js** bug behind this issue, and how/when it has been fixed, I don't believe this problem will affect end-users of your add-in. I'm am curious to know the following, however, if you wouldn't mind sharing:

- Are you using an **Office Insider** build of Office? And, if yes, what level (e.g., "Monthly Channel (Targeted)" or something

[2020-01-29 20:14] redcirkle commented on #1570
Yeah, no problem!

- Are you using an Office Insider build of Office? And, if yes, what level (e.g., "Monthly Channel (Targeted)" or something else)? _//We aren't using an Office Insider build of Office_
- What's the version and build number of Excel where you observed this problem? _// Version 20001 Build 12430.20170 Click-to-Run_
- Are you by chance a Microsoft employee (running your add-in with

[2020-01-29 20:20] kbrandl commented on #1570
@redcirkle thanks for the info! It's my understanding that this issue shouldn't affect anyone running add-ins outside of Microsoft corpnet. My MSFT alias is kibrandl -- please reach out to me via email if you'd like additional information about the potential impact of this issue within Microsoft corpnet, and I can connect you with internal folks who can provide this type of info. (Not sharing here

[2020-01-30 12:01] sagarpilkhwal commented on #854
@kbrandl what is the caching policy of the XML manifest and the icon-url present in the xml file. How often will Outlook client (Desktop/Mobile) try to download the XML mainfest file ?

[2020-01-30 20:13] jasonsue53 commented on #1559
I’m sorry Kim to have wasted your time.  You’re absolutely right, I didn’t pay close enough attention to the nesting of the DIVs.  I just ran through the sample again making sure not to delete the footer and message banner and it worked fine!

From: Kim Brandl - MSFT <notifications@github.com>
Sent: Wednesday, January 29, 2020 10:39 AM
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.git

[2020-01-30 21:40] kbrandl commented on #1559
No worries, @jasonsue53 -- happy to hear that it's working for you now! Please feel free to reach out again in the future, should you run into any new issues.

[2020-01-30 21:40] #1559 closed

[2020-01-30 22:35] #1492 closed

[2020-02-04 14:54] MortenSoerensen commented on #1555
Hi @exextoc  and @ElizabethSamuel-MSFT
One of the scenarios i get the error is when I try to call saveAsync on a draft that has already been sent using the REST API.
The reason i want to do that, is because I made changes to the mail item on the server using the REST API before sending it, and I want to prevent Outlook from displaying an unsaved changes to the draft alert when I close the mail win

[2020-02-04 14:54] #1555 closed

[2020-02-05 00:27] Rick-Kirkham commented on #1261
This is fixed and the fixed page will be public tonight in Pacific Time Zone.

[2020-02-06 18:09] dwittenberg commented on #1472
I use Windows 1903 build 18362.628. Have upgraded Edge to Version 79.0.309.71, uninstall Internet Explorer in optional Features and made some reboots.
weiterhinn
But Outlook (Desktop) still renders my Plugin with Edge/18.18362.

My Plugin is for productive use - but needs modern rendering.
Please, what is my fault?

[2020-02-06 18:44] Rick-Kirkham commented on #1472
@dwittenberg This is more of a technical question (and possibly a bug) than an issue with documentation. Please create an issue on the [office-js repo](https://github.com/OfficeDev/office-js/issues).

[2020-02-06 22:23] Rick-Kirkham commented on #1472
@dwittenberg @fowl2
I've got updated information. Merely installing the new Chromium-based Edge does NOT cause Office to use the Chromium renderer in Office Add-ins. The old pre-Chromium render is still installed on the computer and Office will continue to use it for Office Add-ins until we ship a build of Office that works with Chromium. That will likely happen to subscribers in the Insiders chan

[2020-02-07 15:42] nguruprasanna commented on #860
Hi,
I have a flask server application and I am receiving the slices like below(only small part). How do I write it as docx file . Can you please provide some help or example on creating docx file once the office word addin sends to the server.

80,75,3,4,20,0,6,0,8,0,0,0,33,0,90,122,252,135,158,1,0,0,216,8,0,0,19,0,8,2,91,67,111,110,116,101,110,116,95,84,121,112,101,115,93,46,120,109,108,32,162,4,

[2020-02-07 16:54] Rick-Kirkham commented on #860
@nguruprasanna Thanks for your interest in Office Add-ins. We use the issues in this repo to track problems with the documentation. Please raise technical questions like this one on Stack Overflow. Be sure to tag the question `office-js`.

[2020-02-15 21:33] nilswloewen commented on #1137
I cannot find any answers to this on stackoverflow either. @andrewkittredge has a legit concern here.

[2020-02-18 15:30] Ssereno opened #1598 "the content is blocked because it isn't signed by a valid security certificate"
I have developed an addin for excel but i can't start then in my desktop excel, i get the error **The content is blocked because it isn't signed by a valid security certificate**.

I have my package.json with the following configuration because i have multiple development environments

`{
  "name": "rose-excel-addin",
  "version": "4.0.3",
  "scripts": {
    "ng": "ng",
    "startProd": "ng serve

[2020-02-18 16:41] ElizabethSamuel-MSFT commented on #1598
@AlexJerabek , @TCourtneyOwen Can you take a look at this?

Thanks.

[2020-02-18 17:07] TCourtneyOwen commented on #1598
Is this issue occurring on Mac? If so I think I know what the issue is and should be able to provide guidance to fix the problem.

[2020-02-18 17:10] Ssereno commented on #1598
@TCourtneyOwen no, is on windows 10. Excel 365 MSO(16.0.11929.20436) 32 bit

[2020-02-18 17:48] TCourtneyOwen commented on #1598
@Ssereno Can you please run the following command:
"npx office-addin-dev-certs verify"

If you see a message that 'You need to install certificates for trusted access to https://localhost.', then please run 'npx office-addin-dev-certs install'.  After running this command, you will be presented with a dialog asking if you want to install the dev-certs. Please note that this dialog can get hidden b

[2020-02-18 20:24] ybrodsky opened #1599 "Deployment. Self hosting the source (?)"
## Article URL
https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish

Greetings.
I have built a add-in for Outlook following the tutorials. When the time came to deploy, I made a build and uploaded the dist files to a personal server. Its accessible through the web without restricting, the files are all being served correctly.
Then I edited my manifest.xml file changing the file sour

[2020-02-18 22:48] AlexJerabek commented on #1137
Hi @andrewkittredge and @nilswloewen,

To remove sideloaded add-ins, you'll need to clear the Office cache. The instructions on how to do this are in [this article](https://docs.microsoft.com/office/dev/add-ins/testing/clear-cache). Please let me know if that solves your ribbon overcrowding.

I'm going reorganize and rename some articles to make this solution more clear. I'll reopen this issue to

[2020-02-18 23:31] #1137 closed

[2020-02-19 00:19] nilswloewen commented on #1137
That solves it, thank you for the help.

[2020-02-19 09:43] ivgenibr opened #1603 "Can't debug Outlook adding for latest office version"
For office versions &gt;= 16.0.11629 (according to this doc: https://docs.microsoft.com/nl-nl/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins), one should use the Microsoft Edge debugging approach.
However the "Microsoft Edge DevTools" application does not show any targets related to Outlook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-02-19 10:38] Ssereno commented on #1598
@TCourtneyOwen thanks for the tip. I run the command and got the message "You have trusted access to https://localhost. -- Certificate: C:\Users\Sergio.Sereno\.office-addin-dev-certs\localhost.crt -- Key: C:\Users\Sergio.Sereno\.office-addin-dev-certs\localhost.key.", but i still get the message.

If i run the application on chrome i get the security warning message but it runs....in the excel tas

[2020-02-19 17:44] TCourtneyOwen commented on #1598
@Ssereno just to clarify, when you browse to https://localhost:3000/taskpane.html, you receive the warning in Chrome that the certs aren't installed?  It seems to me that the certs may in fact be installed under %\users\<user>\.office-addin-dev-certs but were not registered or are expired.

Can you please try completely deleting the %\users\<user>\.office-addin-dev-cert folder, and then running 'n

[2020-02-19 18:11] exextoc commented on #1599
Bug 1388259<https://o365exchange.visualstudio.com/959adb23-f323-4d52-8203-ff34e5cbeefa/_workitems/edit/1388259>: [OfficeDev/office-js-docs-pr] Deployment. Self hosting the source (?) (#1599)

Created using VSTS Outlook add-in<https://www.owiki.ms/wiki/VSTS_Add-In_for_Outlook>

________________________________
From: Alex Jerabek <notifications@github.com>
Sent: Wednesday, February 19, 2020 9:26 AM

[2020-02-19 22:19] Ssereno commented on #1598
@TCourtneyOwen After do that the localhost in the browser works fine, open without the warning message, but a still get the same message in the excel.
PS: This can be caused by any security policy from our internal IT team?

[2020-02-20 02:24] erharvey opened #1612 "Excel API : losing event after click on a "select" dropdown of taskpane"
Hi,

I have a simple plugin that registers an onChange and onSelectionChanged event on a table as follow:

[code]

**The code work as expected**. However, as soon as click a "select" html control. (without any onChange event), all excel events stop working.  I don't even have to change the selected value. The problem can be reproduced with the following select ( Or any select for that matter)

[co

[2020-02-20 10:00] ivgenibr opened #1613 "Unable to debug for newer office versions"
For office versions &gt;= 16.0.11629 (according to this doc), one should use the Microsoft Edge debugging approach.
However the "Microsoft Edge DevTools" application does not show any targets related to Outlook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00c430f1-bbf5-53b8-a225-4fbe8fc39c3b
* Version Independent ID

[2020-02-20 17:01] AlexJerabek commented on #1612
Hi @erharvey,

There is a known issue with `onSelectChanged`. We have documented in the [Work with Events using the Excel JavaScript API](https://docs.microsoft.com/office/dev/add-ins/excel/excel-add-ins-events) article. The full discussion of the issue can be found on the [OfficeDev/office-js](https://github.com/OfficeDev/office-js/issues/533) repo.

Please add the following code to the <head> se

[2020-02-20 17:22] Rick-Kirkham commented on #1613
The task pane of the add-in has to be open in order for the add-in to appear in the tools. You should see something like the following. (In this case, "VSTS" is the name of the add-in.)

![MEDTimage](https://user-images.githubusercontent.com/9088056/74961194-86e2e900-53c2-11ea-8ee3-1b383a555ddc.PNG)

[2020-02-20 20:29] RohilaDasari commented on #584
Is there any update on this?

[2020-02-20 20:34] AlexJerabek commented on #1603
Closing as a duplicate of #1613. Please comment on the thread if that is not the case and I'll reopen it.

[2020-02-20 20:34] #1603 closed

[2020-02-21 16:50] sanzoghenzo commented on #1598
I had the same problem and the cert reinstall solved this.

In the process I also updated everything (I was using Node.js 10 and installed yeowman and office-generator package two weeks ago).

[2020-02-24 09:26] HinaMS opened #1615 "Do we support Office-addin on OWA/browser on Iphone or we only support Office-addin on Outlook client (Outlook for IOs) ? After update -https://techcommunity.microsoft.com/t5/outlook-blog/outlook-on-your-mobile-browser-is-being-upgraded/ba-p/1125816# customers are unable to use Office-addin on OWA on Iphone"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 564bc140-d31e-f042-bd30-b8140b7db416
* Version Independent ID: 9953764b-39ca-d5c0-c1f8-5ca44ec2f472
* Content: [Outlook add-ins for Outlook Mobile - Office Add-ins](https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-mobile-addins?sour

[2020-02-24 15:43] JSSut opened #1616 "Is Windows Outlook 2016 list of Requirement Sets correct?"
The Outlook client support table lists Outlook 2016 for Windows supporting up to 1.4. For Mac it's up to 1.6.
This page suggests that Outlook 2016 build 7628.1000 or later supports SupportsPinning, which is one of the main additions in requirement set 1.5:
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/action#supportspinning
This page suggests that pinnable task panes are o

[2020-02-24 17:31] AlexJerabek commented on #1616
Thank you for reporting this discrepancy @JSSut.  @ElizabethSamuel-MSFT, can you please investigate?

[2020-02-24 19:00] Dingenis opened #1617 "Centralized Deployment only for Office ProPlus on Windows"
Why is Centralized Deployment only possible for Office ProPlus on Windows? This disables smaller companies that use products like "Microsoft 365 Business" to deploy solutions using Centralized Deployment.  Maybe something can be written about this on this page, because it is a real bummer to find out after development.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-02-25 15:04] Dingenis commented on #1617
Just found out that SharePoint App Catalogs don't support Add-in commands, therefore it seems impossible to publish and deploy an Office Add-in (with this functionality) internally in an company which doesn't have Office ProPlus.

[2020-02-25 17:25] ElizabethSamuel-MSFT commented on #1616
@JSSut Sorry about the confusion. We'll dig into this and get back to you.

Thanks.

[2020-02-25 17:25] ElizabethSamuel-MSFT commented on #1616
@JSSut Sorry about the confusion. We'll dig into this and get back to you.

Thanks.

[2020-02-25 17:27] ElizabethSamuel-MSFT commented on #1615
@HinaMS We'll dig into this and let you know.

@exextoc Can you take a look?

Thanks.

[2020-02-25 17:29] ElizabethSamuel-MSFT commented on #1616
@exextoc Can you help clarify this? I'll then update the docs if need be. Thanks.

[2020-02-25 22:34] ElizabethSamuel-MSFT commented on #1620
@exextoc Can you take a look? Thanks.

[2020-02-26 03:40] exextoc commented on #1615
Can you please share the screenshot of OWA on Iphone. One the new OWA add-ins are not supported.

[2020-02-27 01:35] exextoc commented on #1620
No, amurl and msexchuid will not be the same between Office365 and on-premise after migration.  If you are considering using the amurl+msexchuid as the mapping for  your addin's backend id, you will need to re-create the mapping after the user migrates.

[2020-02-27 05:34] comingzero commented on #1620
hi @exextoc team

thanks for your response.

[2020-02-27 08:18] JensMadsen commented on #584
Any updates? We just deployed our add-in with a huge bug in it ... We need automated tests

[2020-02-27 09:19] mrkiffie opened #1624 "Is support for Windows 7 still a requirement for Office Add-ins?"
With Windows 7 having reached end of life last month, is supporting Windows 7 still a requirement for developing, running and publishing the add-in to AppSource?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc3fde38-9149-0403-bd89-e2bf0269749a
* Version Independent ID: 1063c9be-57a5-2d53-a9f1-6b43dc0a8a81
* Content:

[2020-02-27 10:19] sanzoghenzo commented on #1429
Same here, HKLM didn't work, HKCU did.
Excel 2016 MSO (16.0.11929.20436) 32 bit
Windows 10 Pro 1909 OS Build 18363.592
IIRC, and if it can help, office was installed when my login was a restricted user, but it was promoted later to admin.

[2020-02-27 12:03] HinaMS commented on #1615
Hello Team,

Please find screen shot from IOs device.  Could you please explicitly document on article - https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-mobile-addins that “On the new OWA experience Office-add-ins are not supported.” and is there a roadmap for future to support this or it will never be supported and recommended way to use Office addin is only via Outlook for An

[2020-02-27 12:10] HinaMS commented on #1615
Hello Team,

Please find screen shot from IOs device.  Could you please explicitly document on article - https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/outlook-mobile-addins that “On the new OWA experience Office-add-ins are not supported.” and is there a roadmap for future to support this or it will never be supported and recommended way to use Office addin is only via Outlook for An

[2020-02-27 18:04] ElizabethSamuel-MSFT commented on #1616
@JSSut The pinnable task panes feature was introduced in Mailbox requirement set 1.5. As such, the clients/servers (except mobile) that support that requirement set support this feature.

We'll update the docs to clarify this.

Thanks.

[2020-02-27 19:21] mscharlock commented on #1624
Hi @mrkiffie - thanks for reading the Office Add-in docs and writing in with a question! I personally do not know the answer to this one, but I will be tagging my colleague @smaremanda who will likely have more information on this. Thanks!

[2020-02-27 20:30] tytech3 opened #1627 "No details on websocket possible errors and security"
I've been trying to connect to a websocket server with a react excel addin and have had no luck. The docs do not cover security, usage of WSS over WS. The error i get is ambiguous and not very helpful. It just says Error: SecurityError.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db285f50-5770-

[2020-02-27 21:01] kbrandl commented on #1627
Closing as duplicate of https://github.com/OfficeDev/office-js/issues/1018.

@tytech3 sorry to hear you're having trouble. FYI, the Office JS team monitors all related repos, so you just need to open an issue once, in a single repo. For product-related questions/issues like this, **OfficeDev/office-js** is the best place to open the issue, so I'll leave your issue open there (and close duplicate i

[2020-02-27 21:01] #1627 closed

[2020-02-27 23:05] amiram opened #1631 "Bug in outlook web - custom property not saved in onsend script"
when you set properties in onsend script, the last property you set is not being saved. I have an onsend script that saves some custom data in the mail item metadata. After each property change I save the custom property and wait until the save callback called with success. All data is saved except from the last one. If I repeat the last property set twice, it works. The bug doesn't exist in windo

[2020-02-28 02:47] exextoc commented on #1615
Currently this feature of add-ins in new OWA is not a part of the product. we track Outlook add-in feature requests on our [user-voice page](https://officespdev.uservoice.com/forums/224641-general/category/131778-outlook-add-ins). Please add your request there. Feature requests on user-voice are considered, when we go through our planning process.

[2020-02-29 18:58] safwatalikhan opened #1636 "Using Word APIs in Powerpoint add-in"
Is there any way to use Word APIs for a Powerpoint add-in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445e0856-5979-1c2d-8bab-c6294675be79
* Version Independent ID: aa56948e-b70e-43af-8a62-4c6cbfd14335
* Content: [Office JavaScript API support for content and task pane add-ins in Office 2013 - Office Add-ins](https

[2020-03-02 10:39] MhooTanapatAT opened #1637 "[Excel Addin] Custom ribbon is not working at first click and it is requiring to click twice."
After upload custom ribbon manifest to excel, the ribbon won't work at first click. Is there any solution for this issue?
## Article URL
https://github.com/OfficeDev/office-js-docs-pr/blob/master/docs/develop/add-in-manifests.md

## Issue
Excel custom ribbon have to click twice to make it work. I have investigated and, found that on the first click, the ribbon will load function file that provided

[2020-03-02 16:08] #1620 closed

[2020-03-02 16:43] #1616 closed

[2020-03-02 18:18] AlexJerabek commented on #1636
(Duplicate of https://github.com/OfficeDev/office-js-docs-reference/issues/644 - reposting the answer given there.)

Hi @safwatalikhan,

Thank you for your question. The Word APIs are specific to Word and cannot be used in any other host. You can read about the differences between the Host-specific APIs and the Common APIs [here](https://docs.microsoft.com/office/dev/add-ins/develop/understanding-

[2020-03-02 18:18] #1636 closed

[2020-03-02 21:44] #1617 closed

[2020-03-04 20:35] mscharlock commented on #1624
Hello @mrkiffie - I've checked with @smaremanda on this and yes, currently you will still need to support Windows 7. I'm going to close this issue for the moment but if you have any follow up questions, please let me know by commenting on this thread and I will reopen. Thanks!

[2020-03-04 20:35] #1624 closed

[2020-03-05 06:34] adrianmirek commented on #1403
working for me too :)

[2020-03-05 16:14] #1615 closed

[2020-03-07 22:35] bdentino opened #1650 "RibbonApi Examples"
Can you please add examples of how to use this API? According to this page, it should be available in Office on the web as of Feb 2020. I am able to get a ribbon handle using

`const ribbon = await OfficeRuntime.ui.getRibbon()`

But when I call

[code]

nothing seems to happen. I can't tell if I'm doing something wrong or if this API is not quite ready yet. Clarification would be appreciated.

---

[2020-03-08 22:01] vbabeast opened #1656 "getAttachmentsAsync method does not return contentType"
When using getAttachmentsAsync method the contentType property is missing.

## Expected Behavior
The resulting Office.AttachmentDetails would include the contentType property

## Current Behavior
The resulting Office.AttachmentDetails does not include the contentType property

## Steps to Reproduce, or Live Example
1. Create a new email.
2. Add an attachment to that email e.g. a .docx file
3. In y

[2020-03-10 09:25] shumach5 commented on #1598
I'm having the same issue. Even though I ran `npx office-addin-dev-certs install`, still the warning appears...

[2020-03-10 18:09] ElizabethSamuel-MSFT commented on #1656
Related PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43048

[2020-03-11 07:36] benj-spectory opened #1658 "Property 'Error' does not exist on type 'typeof CustomFunctions'."
i'm using version 1.5 and i'm getting the error: Property 'Error' does not exist on type 'typeof CustomFunctions'. when i try to do this: new CustomFunctions.Error(...)
i created a project using yo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9129db27-b5f6-244b-cf8f-26e5053fb7a9
* Version Independent ID: 8146bce5-31

[2020-03-11 13:47] mohammedshoib opened #1659 "Add-In Icon not visible on macbook pro retina, 13inch early2015"
Hello,

I followed this document and intalled the outlook add-in successfully on my macbook pro, i can also see the add-in on ribbon but for some reason i am not able to see icon on the ribbon only label I can see but same procedure I followed on my windows machine ribbon icon shows.

MAC outlook info
Version: 16.35 (20030802)

Do I need to format the icon specifically for mac book?

---
#### Docu

[2020-03-11 14:45] AlexJerabek commented on #1659
Thanks for reporting this issue.

@exextoc, Could you please investigate?

[2020-03-11 14:54] AlexJerabek commented on #1658
Hi @benj-spectory,
Errors for custom functions are currently in public preview. You'll need to join [Office Insider](https://insider.office.com/join) to have access to this feature. What version of Excel are you running and for what platform?

[2020-03-11 15:04] exextoc commented on #1659
@mohammedshoib Can you please screenshot from Macbook retina pro to understand this better?

[2020-03-11 15:08] benj-spectory commented on #1658
i'm running version 2002 on windows or on the web using chrome browser (on windows)

[2020-03-11 18:55] AlexJerabek commented on #1658
@benj-spectory, and just to be clear, you're in the Office Insider program?

Tagging @mscharlock to also follow up.

[2020-03-12 05:57] mohammedshoib commented on #1659
<img width="646" alt="Screenshot 2020-03-12 at 11 25 35 AM" src="https://user-images.githubusercontent.com/797999/76491749-71f2f600-6454-11ea-8452-c845263c25ff.png">

@exextoc , you can find the screen shot, you can refer for "Show Task pane" add-in on ribbon.

[2020-03-12 06:00] mohammedshoib commented on #1659
<img width="646" alt="Screenshot 2020-03-12 at 11 25 35 AM" src="https://user-images.githubusercontent.com/797999/76491902-d9a94100-6454-11ea-867f-59f763451a5c.png">

@exextoc  you can check for "show taskpane" in ribbon. It has label but no icon

[2020-03-12 06:06] exextoc commented on #1659
Thanks @mohammedshoib for sharing the screenshot. We are looking into this.

[2020-03-12 07:14] benj-spectory commented on #1658
@AlexJerabek I don't know what it is...
what is it? and why do i need it to use custom function errors

[2020-03-12 16:41] AlexJerabek commented on #1658
Hi @benj-spectory,

The Custom Function error feature is in public preview, meaning the feature is not available in standard builds of Office. You'll need to have a preview version of Office. [Office Insider](https://insider.office.com/en-us/join) is a program that allows developers to test out upcoming features and provide feedback before they are generally available. This also means that preview

[2020-03-12 21:55] ElizabethSamuel-MSFT commented on #1656
The docs have been updated and should be published soon.

Thanks.

[2020-03-12 21:55] #1656 closed

[2020-03-13 21:51] mrbfrank opened #1665 "Does changing Add-in manifest.xml <Version> auto-update Custom Add-in's installed via URL?"
Regarding the section on Version here: https://docs.microsoft.com/en-us/office/dev/add-ins/outlook/manifests#version

Does changing Add-in manifest.xml &lt;Version&gt; auto-update Custom Add-in's that were manually installed via URL? This would be great for keeping QA engineers up to date during development & testing. The documentation could use some clarity on that as it's specifically what I'm t

[2020-03-16 21:34] mscharlock commented on #1658
Hi @benj-spectory,
Just wanted to check if @AlexJerabek's description helped you and if you need anything else from us on this issue. If so, let us know, otherwise we will go ahead and close the issue. Thanks :)

[2020-03-17 05:19] benj-spectory commented on #1658
@mscharlock he answered my question...
@AlexJerabek do you know when this feature will be available for use not as part of Office Insider?
thanks

[2020-03-17 16:43] AlexJerabek commented on #1658
@benj-spectory, We don't have a set release date at this time. I'll loop in the feature's PM, @RuoyingLiang to verify.

[2020-03-17 17:13] peteshub opened #1676 "console.log workaround for Visual Studio for 2019"
As I understand the JavaScript Console was removed in VS 2019.
How can one still use it for Web Add-ins? Is there a work-around?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c4ddde7-f1fd-44ba-fba1-0ae9d0131df7
* Version Independent ID: d946ffe6-f29f-1563-b679-121090ba60a1
* Content: [Build your first Excel task pane

[2020-03-17 17:22] Rick-Kirkham commented on #1676
@AlexJerabek The poster is correct. There's no JS console in Visual Studio 2019, so we should not have the lines calling `console.log` in the VS tab of this quickstart. Probably, the least bad option here is to create a textbox or some other UI on the page and do the logging as text for the box.

[2020-03-17 17:54] AlexJerabek commented on #1676
Thanks @Rick-Kirkham. I've created an [internal work item](https://office.visualstudio.com/OC/_workitems/edit/4029290) to track reworking this quick start.

@peteshub, does @Rick-Kirkham's suggestion of a textbox unblock you for now? Alternatively,  it might be easier to use the Yeoman generator/VS Code version of the quick start. Please let me know which path you choose.

[2020-03-17 18:46] peteshub commented on #1676
Thanks @Rick-Kirkham and @AlexJerabek for the quick reply!
okay, I could live with a text box for a little while ;)
I actually tried to do it with Yeoman and VS Code, which I would prefer now, but since I don't have Office Web, I am afraid I would have to debug the Add-In on my "local" Excel. Do you have a quick explanation where/how I can see the console.log there? It does not seem to go into the

[2020-03-17 19:10] Rick-Kirkham commented on #1676
@peteshub Have you seen our debugging docs, such as https://docs.microsoft.com/en-us/office/dev/add-ins/testing/debug-add-ins-using-f12-developer-tools-on-windows-10 ?

[2020-03-17 19:36] peteshub commented on #1676
Thanks @Rick-Kirkham ! I got what I want now with F12 Developer Tools. Thought it was somehow built into VS. But that's okay, it also resolves my first question then actually and I believe you only need to update the docs to include a hint hint to take a look at F12 or Edge DevTools. In general it's great to have JS now in Excel and I am looking forward to experimenting with it!

[2020-03-17 20:25] Rick-Kirkham commented on #1676
@AlexJerabek, @peteshub  has a good idea. Instead of changing the code, maybe add a note to that step pointing out that people using VS 19 can get a console with the standalone F12 tools.

[2020-03-17 22:03] ElizabethSamuel-MSFT commented on #1460
@stukey We're working on pulling this info together. Thanks.

Related PR: https://github.com/OfficeDev/office-js-docs-pr/pull/1639

[2020-03-19 16:50] exextoc commented on #1659
We were not able to repro this issue with Outlook 16.35. Can you please mention MacOS and Macbook model, so we can repro this issue. I have attached the screenshot of my MacBook.
<img width="1920" alt="Screenshot 2020-03-19 at 10 16 18 PM" src="https://user-images.githubusercontent.com/28549921/77092244-99872700-6a2f-11ea-8f2b-90a985e3301c.png">

[2020-03-19 17:57] jjtfsalgado opened #1683 "Office 2013"
Is the custom functions API supported on Office 2013 (connected to an Office 365 subscription)? Is not clear in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5456f6c2-991d-a35c-a39e-1613fc0ddbb8
* Version Independent ID: 63b393c1-66d5-4dc5-8010-c8c65d92bd52
* Content: [Custom Functions requirement se

[2020-03-19 18:30] #1676 closed

[2020-03-19 18:31] AlexJerabek commented on #1676
@peteshub The links to the debugging tools are now in the quickstarts. Thanks for reporting this issue.

If you have any other concerns or questions, please respond to this thread or raise a new issue.

[2020-03-19 19:39] AlexJerabek commented on #1683
Hi @jjtfsalgado,

Thanks for the question. Office 2013 refers the perpetual version of Office released at that time. Office 365 refers to the subscription model. If you have an Office 365 subscription, then you have Office 365, not Office 2013/2016/2019.

As such, any Office 365 build at version 1904 or higher (as per the article) supports custom functions. Office 2013 does not.

Since the documen

[2020-03-19 19:39] #1683 closed

[2020-03-19 20:22] jjtfsalgado commented on #1683
Hi @AlexJerabek thanks for your reply.

Just to contextualize my initial question, we have an excel add-in using the custom functions API and recently a customer reported that couldn't find it on the office store. It's typically because their Excel version don't comply with the minimum API requirements but this customer was using an Office 365 subscription (ProPlus) with an Excel 2013 version (15.

[2020-03-19 20:24] ElizabethSamuel-MSFT commented on #1460
The page has been updated to include the minimum version and build. You should be able to tell when your channel support this or a newer version.

Thanks.

[2020-03-19 20:24] #1460 closed

[2020-03-19 20:46] AlexJerabek commented on #1683
@jjtfsalgado
That's an interesting state the customer is in. If they're connected to an Office 365 subscription, they should be able to download and use Excel for Office 365. I don't think you can upgrade Excel 2013 like that in the client. You can only upgrade to the latest 15.x version with 2013, which will never have custom functions.

[2020-03-19 21:22] timothyhoffmann opened #1688 "Root page of addin not reloaded"
Clicking the Clear Cache button does not force Outlook 365 64-bit to reload the taskpane.html file from the IIS server.  This results in out of date code running.  OWA properly reloads the taskpane.html file when it changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e273e29-10ac-440e-634e-588b5208e484
* Version I

[2020-03-20 02:42] keyur32 commented on #1658
Added "status: in backlog".   @benj-spectory  - I suggest you stayed tuned to our blog and Office Add-in monthly community call, for when this feature will roll out.  @RuoyingLiang - please update when rolled out. Thanks!

[2020-03-20 02:47] keyur32 commented on #1612
@erharvey  - I don't think we heardback on the workaround but closing this. Please reactivate if this continues to be na issue. thanks.

[2020-03-20 02:47] #1612 closed

[2020-03-20 05:06] Rick-Kirkham opened #1690 "Code example has bad practice with for...in loop"
The first code block in the article has a **for ... in** loop over the **items** property of a **WorksheetCollection** object. But **WorksheetCollection.items** is an array. It is considered a bad practice to use a **for ... in** loop over an array. (See [for...in](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...in).) The loop should be replaced with a **for** lo

[2020-03-20 09:32] RuoyingLiang commented on #1658
Sure. The feature to return/throw CustomFunctions.Error hasn't released to production. I will update here once it's public.

[2020-03-20 13:20] Herz3h commented on #195
I'm running Mojave with Outlook 19.33 (Office Subscription) and it doesn't show up in the contextual menu.

I've typed ```defaults write com.microsoft.Outlook OfficeWebAddinDeveloperExtras -bool true````
 and no difference. Restarted outlook, nothing........

[2020-03-20 18:39] schostac opened #1692 "Publishing Word add-in"
Can I publish add-ins in AppStore if I create a developer account as an individual? I've created one but there is not such option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2677af5b-e9b8-f962-25ce-8aa285977c90
* Version Independent ID: c31c7ed9-0a0a-7a65-0d1b-70d6a8b33994
* Content: [Deploy and publish Office Add-

[2020-03-24 06:00] exextoc commented on #1659
We are not able to repro this. Can you share the icon dimension and size or the icon Url?

[2020-03-25 11:17] ivgenibr commented on #1613
Hello,

I've tried the suggested solution - opened a taskpane, however there is nothing in the edge dev tool.

[2020-03-25 18:13] Rick-Kirkham commented on #1613
Does your machine have the new chromium version of Edge? The Edge icon would look like this:
![image](https://user-images.githubusercontent.com/9088056/77570880-ae2d4a00-6e89-11ea-836d-c3536bc57c39.png)

[2020-03-25 19:35] ivgenibr commented on #1613
No, I’m using the old one. Does it matter which Edge version I’m using?
If I will upgrade to the newer version, will Outlook use it as well?

From: Rick-Kirkham <notifications@github.com>
Sent: Wednesday, 25 March 2020 20:14
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: Ivgeni Broitman <Ivgeni@dcoya.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/offic

[2020-03-25 20:21] #1690 closed

[2020-03-25 20:35] Rick-Kirkham commented on #1613
The reason that I asked is that I believe Edge (chromium) instances do not show up in the old Edge DevTools, so that would account for why you're not seeing it. The dev tools story for Edge (chromium) is different. See [Microsoft Edge (Chromium) Developer Tools](https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium). But if your Edge icon is not the one for chromium, then that's

[2020-03-26 01:28] bwong199 opened #1696 "Deployment Steps"
Hi,

It would be very nice to see some deployment steps to Azure.

https://github.com/OfficeDev/generator-office/issues/490

Because I just tried to deploy it and got  the following errors:

Error: Unable to start debugging.
Error: Unable to sideload the Office Add-in.
Error: Platform not supported: linux.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-03-26 01:32] bwong199 opened #1697 "Internal Org Deployment"
It's also nice to have this supported by Centralized Deployment for internal use because when I go Office365 &gt; Admin &gt; Settings &gt; Add-ins &gt; Deploy Add-In, it says "The Centralized Deployment service lets you deploy ‎Office‎ Web add-ins to users of ‎Excel‎, ‎Outlook‎, ‎PowerPoint‎ and ‎Word‎." so unless it's for public usage, you really can't deploy this as an internal usage.

---
####

[2020-03-26 01:47] smrtRock opened #1698 "What to do when things go wrong"
So loaded this up just for some quick demo and sadly got a certificate error.

"Content was blocked because it was not signed by a valid security certificate"

Now imaging this is probably solved by placing the self signed certificate into a trusted store or some other workaround, this would be nice if we could point to what happens when things don't just work

---
#### Document Details

⚠ *Do not

[2020-03-26 10:39] PramodKumarYadav opened #1699 "Using variables in range"
Its a common requirement to use variables in selected range. Is it possible and if yes, can you give an example for
- rows only (say var range = sheet.getRange(rowFirst:rowLast); [ Dont know if this works though)
-  columns only (say var range = sheet.getRange(colFirst:colLast);
-  cells only (say var range = sheet.getRange("A"+firstRow +":" + "D" + :rowLast);
All these are wrong examples but you

[2020-03-26 16:12] ElizabethSamuel-MSFT commented on #1613
The debugging story for Outlook is basically the [Office Add-ins story](https://docs.microsoft.com/office/dev/add-ins/testing/test-debug-office-add-ins). There are also Outlook testing and tips articles ([overview page](https://docs.microsoft.com/office/dev/add-ins/outlook/testing-and-tips)).

@exextoc Any thoughts on debugging Outlook add-ins with Microsoft Edge dev tools or other options?

Thank

[2020-03-26 16:30] AlexJerabek commented on #1698
Hi @smrtRock

Thanks for reporting this. I just went through the OneNote quickstart and did not see a certificate error. Could you confirm a few things for me?
- Are you using the latest version of yo office? Make sure to run `npm install -g yo generator-office` before starting the quickstart.
- Which browser are you using?
- When in the quickstart are you encountering the certificate error? Is it

[2020-03-26 16:56] bwong199 commented on #1697
https://www.advaiya.com/blog/create-deploy-word-add-sharepoint/

The workaround is to deploy to a sharepoint site.

[2020-03-26 17:00] #1613 closed

[2020-03-26 20:36] AlexJerabek commented on #1699
Hi @PramodKumarYadav,

The `getRange` method takes in a string representing a cell range in the worksheet, such as "A1:D4", "A:D" for just the columns, or "1:4" for just the rows. As long as your variables map to Excel rows or columns, you can use string concatenation to build the argument. You may need to use `range.columnIndex`, `range.rowIndex`, and `range.getCell` to translate to and from zero

[2020-03-26 20:36] #1699 closed

[2020-03-26 21:46] PramodKumarYadav commented on #1699
This helped Alex. I tried again with your explanation and it worked like a charm. Thank you!

[2020-03-26 21:52] PramodKumarYadav commented on #1699
Just to add an example, if someone else stumbles on this page:
    const sheet = context.workbook.worksheets.getActiveWorksheet();
    var firstrow = 1
    var lastRow = 6
    var range = sheet.getRange(firstrow + ":" + lastRow)

[2020-03-27 02:46] exextoc commented on #1688
What Outlook build number are you on? Could you also share your windows version

[2020-03-27 20:47] ElizabethSamuel-MSFT commented on #1697
@bwong199 Seems like you have a resolution so I'll go ahead and close this issue.

This article also discusses [deployment options for Office Add-ins](https://docs.microsoft.com/office/dev/add-ins/publish/publish).

Thanks.

[2020-03-27 20:47] #1697 closed

[2020-03-27 20:53] ElizabethSamuel-MSFT commented on #1696
@bwong199 Thanks for asking about this. Please see if this article about [hosting an Office Add-in on Microsoft Azure](https://docs.microsoft.com/office/dev/add-ins/publish/host-an-office-add-in-on-microsoft-azure) helps.

I'll close this issue for now but if you hit further issues or have other feedback, let us know.

Thanks.

[2020-03-27 20:53] #1696 closed

[2020-03-27 23:10] exextoc commented on #1688
Newer versions of Outlook should be using Edge WebView and to refresh you could try using ctrl + F5

[2020-03-28 04:09] quantrpeter opened #1706 "npm run dev-server not working"
npm run dev-server not working, if i create a project with project type "Office Add-in Task Pane project supporting single sign-on"

/Users/peter/workspace/outlook-upload-attachment-to-sharepoint&gt;npm run dev-server
npm ERR! missing script: dev-server

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/peter/.npm/_logs/2020-03-28T04_07_24_982Z-debug.log

Thanks

---
#### Do

[2020-03-28 09:47] NT-D opened #1707 "Developers need `Contained in` information"
Because this document doesn't have `Contained in` information, it's hard for developers to understand expected parent element.

Would you please consider to add `Contained in` information as like RequestedHeight element page ?
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/manifest/requestedheight

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-03-28 13:15] quantrpeter opened #1708 "not working"
C:\Users\Peter\Desktop\My Office Add-in&gt;npm run configure-sso

&gt; office-addin-taskpane-sso@0.0.0 configure-sso C:\Users\Peter\Desktop\My Office Add-in
&gt; office-addin-sso configure manifest.xml

(node:14720) UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token  in JSON at position 980
    at JSON.parse (&lt;anonymous&gt;)
    at C:\Users\Peter\Desktop\My Office Add-in\node_modu

[2020-03-28 13:53] quantrpeter opened #1709 "in outlook, it popup a new browser"
in outlook, it popup a new browser rather than the dialog inside the original browser, it is normal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a714626a-058a-789e-6add-5e9dfb21fd1f
* Version Independent ID: 1b88a28c-fc36-4518-2808-7246f08d9753
* Content: [Use the Office dialog API in your Office Add-ins - Office Ad

[2020-03-29 12:44] rougean opened #1710 "Can't resolve Microsoft.Office.WebExtension.EventType.DialogMessageReceived"
Following the Add-in Tutorial [https://docs.microsoft.com/en-us/office/dev/add-ins/tutorials/excel-tutorial](url)

The call to Microsoft.Office is not working correctly. Can't find the Microsoft object.

Is this correct?

dialog.addEventHandler(Microsoft.Office.WebExtension.EventType.DialogMessageReceived, processMessage);

[2020-03-29 17:19] bilalchraibi opened #1711 "Support for Blazor"
Are you planning to add support for Blazor client-side when it will be released in May?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1eb88c1-06fc-dfb1-67ee-da88fa7e985a
* Version Independent ID: 8ed13e25-a7bd-25ef-5525-eb1000148578
* Content: [Excel add-ins overview - Office Add-ins](https://docs.microsoft.com/en-us

[2020-03-30 03:00] Rick-Kirkham commented on #1710
The full name has been shortened to [Office.EventType.DialogMessageReceived](https://docs.microsoft.com/en-us/javascript/api/office/office.eventtype?view=common-js). I'm closing this, but feel free to ask that it be reopened if you continue to have trouble with the API.

[2020-03-30 12:22] timothyhoffmann commented on #1688
A reboot seemed to fix the problem.  I've put up new versions of the AddIn and Outlook is properly fetching the updated JS files.

[2020-03-30 12:22] #1688 closed

[2020-03-31 00:26] smrtRock commented on #1698
Yes before running the quickstart I did the npm install -g yo generator-office and npm update

Browser does not matter either Edge or Chrome same results

The error happens when you select Show Taskpane in OneNote

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Alex Jerabek<mailto:notifications@github.com>
Sent: Thursday, March 26, 2020 12:30 PM
To: OfficeDev/

[2020-03-31 10:05] ivgenibr commented on #1613
Thank you, I’ll proceed with Stack Overflow.

From: msftbot[bot] <notifications@github.com>
Sent: Thursday, 26 March 2020 19:01
To: OfficeDev/office-js-docs-pr <office-js-docs-pr@noreply.github.com>
Cc: Ivgeni Broitman <Ivgeni@dcoya.com>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/office-js-docs-pr] Unable to debug for newer office versions (#1613)

Thanks for your interest in Offi

[2020-03-31 17:07] AlexJerabek commented on #1698
Thanks for the information @smrtRock.

@TCourtneyOwen, can you please help investigate this issue?

[2020-03-31 17:39] AlexJerabek commented on #1698
Also, the information in this article may help unblock you: https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins

It contains information on sideloading add-ins for testing and handling the certificates. Please let me know if that helps you.

[2020-03-31 22:41] ElizabethSamuel-MSFT commented on #1706
@quantrpeter Sorry you're facing this issue and thanks for letting us know.

@TCourtneyOwen Can you take a look?

Thanks.

[2020-03-31 22:43] ElizabethSamuel-MSFT commented on #1707
@NT-D Thanks for raising this issue.

@Rick-Kirkham Can you take a look?

Thanks.

[2020-03-31 22:45] ElizabethSamuel-MSFT commented on #1708
@quantrpeter Sorry that you're hitting this issue and thanks for letting us know.

@TCourtneyOwen Can you take a look?

Thanks.

[2020-03-31 22:54] TCourtneyOwen commented on #1706
@quantrpeter There isn't a "dev-server" script in the SSO project.  To start the server you need to run "npm run start:server"

[2020-03-31 22:56] ElizabethSamuel-MSFT commented on #1711
@bilalchraibi Thanks for asking about support for Blazor.

@sumurthy / @nokafor Can you answer this question?

Thanks.

[2020-04-01 13:08] Magnielcz opened #1716 "No iTunes on macOS Catalina for add-in sideload on iPad"
Hi,

on the last version of macOS (Catalina), there is no iTunes available and there won't be in future versions. A new way is to select an iPad in Finder, choose tab Files and drag&drop manifest in Word.

![image](https://user-images.githubusercontent.com/5764186/78140361-2cf62a00-742a-11ea-9582-dd0f52e5c7e4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-04-01 20:50] davvit opened #1717 "unable to see my app in shared folder"
I built my project from scratch using VS Excel office template.
I did not make any change to the manifest file the project created.
I created new folder under c:\ and followed the instructions on this page.
Once i restarted Excel i dont see app under Shared Folder section.

![image](https://user-images.githubusercontent.com/4433698/78185225-57e37c80-7430-11ea-8183-acd5dbf0cb55.png)

[Enter feedbac

[2020-04-02 07:00] #1659 closed

[2020-04-02 22:19] exextoc commented on #1709
@quantrpeter Can you provide us with the version of Outlook that you are using? Also, are you using Outlook on Windows or MacOS?

[2020-04-02 23:44] smrtRock commented on #1698
So I figured it out though it could be better.

When Webpack creates the cert it did not get registered so Saved it and loaded it to the trusted providers and all was well.

[2020-04-03 12:58] smrtRock commented on #1698
So one other thing:  while attempting to sideload on the desktop version I cannot seem to see the local share.

Any suggestions?

[2020-04-03 15:44] ElizabethSamuel-MSFT commented on #1716
@Magnielcz Thanks for letting us know about this.

@Rick-Kirkham Can you take a look?

Thanks.

[2020-04-03 15:45] ElizabethSamuel-MSFT commented on #1717
@davvit Sorry you're hitting this issue and thanks for letting us know.

@AlexJerabek Can you take a look?

Thanks.

[2020-04-03 16:15] davvit commented on #1717
i have looked at this a little more since this question and the guide says  at the bottom to
"Be sure to specify the URL in the SourceLocation element of the manifest file."

I believe currently the SourceLocation in the manifest is looking at the VS project path and when i move it to the shared location it is no longer valid. maybe the template should use absolute path instead of relative path fo

[2020-04-03 21:07] Rick-Kirkham commented on #1716
@keyur32
I don't know a thing about iPads or Macs and I don't even fully understand the question. Can you assign to someone who would know how to respond?

[2020-04-03 22:42] Rick-Kirkham opened #1720 "Visio also has host-specific API"
In the section **API models**, the bullet for **host-specific** should have a 4th subbullet for Visio.
https://docs.microsoft.com/en-us/office/dev/add-ins/reference/overview/visio-javascript-reference-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5dc847-5ea4-9ec9-e855-224639ed6861
* Version Independent ID:

[2020-04-06 18:00] AlexJerabek commented on #1717
Hi @davvit,
I'm adding @nokafor and @TCourtneyOwen to help investigate. A similar issue was reported in #1698 as well.

[2020-04-06 18:02] AlexJerabek commented on #1698
Thanks @smrtRock. That last point might be related to #1717.

[2020-04-07 22:24] ElizabethSamuel-MSFT commented on #1706
@quantrpeter Can you try [this quick start](https://docs.microsoft.com/office/dev/add-ins/quickstarts/sso-quickstart) instead? This should provide the guidance you need to work with yo office and the SSO template.

Thanks.

[2020-04-08 11:16] StuartKeeble opened #1727 "Possible documentation error with VersionOverrides flagged as optional?"
We had an Add-in submission rejected for having no Extension points defined.  Extension points are a required element of VersionOverrides by those themselves are flagged as optional based on the content of this page.
I tried to get clarification on the Stackoverflow forum but my query was closed for being off-topic - see https://stackoverflow.com/questions/61078237/outlook-office-add-in-rejected-p

[2020-04-09 09:27] Rednas83 commented on #720
There is a new fix. The old one is based on then npm package browser-sync.
https://github.com/OfficeDev/generator-office/blob/master/src/docs/ssl.md

Unfortunately it only works in IE and introduces a DOM7011 warning. Resulting in a page with INET_E_RESOURCE_NOT_FOUND (DNS error).
Note: In chrome/edge there is still the HTTP401 error. Also after following the previous fix.

Please re-open the issu

[2020-04-09 15:15] Jeshal2013 opened #1730 "Date not properly showing as per example"
Hi

i  have used sample demo like below code
 var Table = sheet.tables.add("A1:D1", true);
                                                        Table.getHeaderRowRange().values = [["Date", "Merchant", "Category", "Amount"]];

                                                        Table.rows.add(null /*add rows to the end of the table*/, [

[2020-04-09 16:11] Rick-Kirkham commented on #1730
@Jeshal2013  Thanks for your interest in Office Add-ins. We use the issues in this repo to track problems with the documentation. Please raise this technical question on Stack Overflow and be sure to tag it `office-js`. That way the whole community will benefit from the answers that you get.

[2020-04-09 16:11] #1730 closed

[2020-04-09 17:43] AlexJerabek commented on #720
Hi @Rednas83,

I just went through the vue quickstart. If you're using Chrome, you'll have to copy the certificate to a file (see picture), then use the [Management Console to install the certificate](https://github.com/OfficeDev/generator-office/blob/fd600bbe00747e64aa5efb9846295a3f66d428aa/src/docs/ssl.md#add-certification-file-through-management-console). It'll have an ".cer" extension instead

[2020-04-09 18:31] Rednas83 commented on #720
Thanx @AlexJerabek.  I am now unblocked too. Also don't forget to restart the dev server after importing the copied certifcate (.cer) into the management console (mmc).

[2020-04-09 20:54] AlexJerabek commented on #1698
@smrtRock, the desktop client for OneNote doesn't support add-ins (here's the [availability page](https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-in-availability#onenote)). Are you referring to an add-in for a different host?

[2020-04-10 01:00] #1709 closed

[2020-04-10 16:13] AlexJerabek commented on #1394
Updated the conversion steps to account for the updated office-js NuGet package. You can now use the string version of the requirement set, as per the current recommended guidance.

Closing this issue.

[2020-04-10 16:13] #1394 closed

[2020-04-10 21:51] sulwa74 opened #1741 "How to deploy to azure?"
## Article URL

https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/excel-quickstart-jquery?tabs=yeomangenerator

## Issue

 I am struggling with deployment of this example code to azure (webapp) or any other server than localhost. The project runs on localhost like a charm but I can't deploy it on any other platform. Could you provide detailed description how to deploy this example to

[2020-04-11 00:10] Rick-Kirkham commented on #1741
We have this article: [Host an Office add-in on Microsoft Azure](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/host-an-office-add-in-on-microsoft-azure), but it assumes that you are working in Visual Studio. We don't generally provide information about how to host on a web server or cloud account because add-in's are hosted in all the same ways as any other web application, and there

[2020-04-11 00:10] #1741 closed

[2020-04-13 14:09] quantrpeter commented on #1708
@TCourtneyOwen  no space in my tenant name, thx

[2020-04-13 16:19] TCourtneyOwen commented on #1708
@quantrpeter Did you make any modifications to the base template after creating it and before running "configure-sso"?  Also, could you please check the version of the office-addin-sso and see if it's running the latest version of the package - 1.0.12.  If it's not, please update the version of the package to the latest

[2020-04-13 16:29] TCourtneyOwen commented on #1708
One more thing, can you please provide all the output of the configure-sso process so I can determine at what stage it's failing for you? For example, here's my output that I just generated:

Opening browser for authentication to Azure. Enter valid Azure credentials
Login was successful!
Registering new application in Azure
Application was successfully registered with Azure
Setting identifierUri
S

[2020-04-13 23:21] sumurthy commented on #1537
According to our logs, the ImageCoercion is supported in 2013. It was back-ported at some point.
@jrpally, can you please provide Excel client ver#?

[2020-04-15 01:00] #1706 closed

[2020-04-16 06:34] naterush opened #1751 "Examples for given actions would be very illuminating"
Specifically the phrase "It also enables you to run code when the document opens, or to run code while the task pane is closed."

I've been trying to get my add-in to run code upon opening of an Excel document for a while now, so this feature is awesome for me! Are there any examples you could add to the documentation to explain how to do this?

Thanks so much - this documentation has generally be

[2020-04-16 18:42] turchinc commented on #1028
This seems like powerpoint automation 101, why else do I want to automate powerpoint if not to quickly add new slides (e.g. from an existing deck or other library).  I am kind of shocked that there is not something like

`var slide = presenation.add("new slide");`

or similar? This was trivial in VBA: https://docs.microsoft.com/en-us/office/vba/api/powerpoint.slides.addslide

[2020-04-16 20:44] AlexJerabek commented on #1751
Hi @naterush,

Have you looked at the [Shared Runtime PnP sample](https://github.com/OfficeDev/PnP-OfficeAddins/tree/master/Samples/excel-shared-runtime-scenario)? I believe this should help explain how to use the new runtime APIs.

I'll look into highlighting this better from the documentation page this issue is associated with.

[2020-04-16 21:04] Alex-Mann opened #1754 "Auto-update functions"
Is there a way to auto-update functions without having to run `npm run build` and then go the Insert&gt;My Addins&gt;MY_ADDIN_NAME each time? This would be really useful when developing custom functions in realtime..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30fb645-c853-a93a-4137-1e2bf7398a11
* Version Independe

[2020-04-16 22:11] #1751 closed

[2020-04-16 22:12] AlexJerabek commented on #1751
Hi @naterush,

I added better visibility to the PnP sample in the documentation, so the issue was closed. Please let me know if there's anything you need.

Thanks!

[2020-04-16 22:13] Alex-Mann commented on #1754
Additionally, using Script Lab online, it would be good to somehow have a smart refresh and not have to update / reload the plugin eachtime you change the underlying code for a function.

[2020-04-16 22:34] AlexJerabek commented on #1754
Hi @Alex-Mann,

Thanks for submitting an issue. I'm tagging @mscharlock to address your first question.

As for Script Lab, I'd recommend creating an issue on the [Script Lab GitHub repo](https://github.com/OfficeDev/script-lab/issues). That's the best way to suggest new features for the add-in.

[2020-04-16 22:42] Alex-Mann commented on #1754
I guess it should be noted that I'm using MacOS at the moment, and by reading the Debugging section it seems like you can do this, but I wasn't able to get it working.

[2020-04-17 07:04] LokiMidgard opened #1758 "How to prevent an AddIn showing up in Outlook on Windows, only Web version should use it."
I have an Add-In that uses the SendTo Function.

This is supported by Exchange 2016 CU6 and works great in OWA. However the AddIn is also loaded in the Windows Version of Outlook. There it does not work and prevent the sending of mails.

The feature was added in API set 1.8. But is supported on older Exchange servers as mentioned. So setting the API set to 1.8 will prevent us from roling it out to

[2020-04-17 16:29] Bradrajkumar opened #1759 "how to publish microsoft word add-ins on my local system"
hi all,

i have created an add-ins to add in my word desktop application and i want it to be published locally.
is there any way which i can achieve the same. whenever i open my word document my add-ins will be abailable.
is it mandatory to publish my application on O365 add-ins section ??

please provide me the detailed information regarding this.

[2020-04-17 17:30] naterush commented on #1751
@AlexJerabek This is very helpful. Thank you for the quick response and updating - it is greatly appreciated!

[2020-04-17 19:20] mscharlock commented on #1754
Nope - unfortunately dynamic debugging and loading of functions aren't possible at this time. Something we can definitely tell our PMs that folks are requesting though. I agree, it would be helpful. :) let me know if you have other questions.

[2020-04-17 19:25] mscharlock commented on #1758
Hi @LokiMidgard, thanks for writing in and reading our docs! @ElizabethSamuel-MSFT do you happen to know on this one? I am less familiar with Outlook, but you might also know the right person to route this issue to.

[2020-04-17 19:38] Alex-Mann commented on #1754
Sounds good!

[2020-04-17 19:54] mscharlock commented on #1754
Great! I will close this issue :) If you need anything else related to this, feel free to comment and I can reopen. Thanks!

[2020-04-17 19:54] #1754 closed

[2020-04-17 21:08] ElizabethSamuel-MSFT commented on #1758
@exextoc Can you take a look? Thanks.

[2020-04-17 22:46] exextoc commented on #1758
This is not possible today. We track Outlook add-in feature requests on our user-voice page.
It looks like the feature you want has been requested by others already. Please upvote the [existing request](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback/suggestions/5129669-allow-mail-apps-to-be-owa-only). Feature requests on user-voice are considered when we go through o

[2020-04-18 06:44] naterush opened #1762 "Suspend calculation doesn't suspend all calculation?"
I'm attempting to do the following operation: I have a Sheet1, Sheet2, and Sheet3. On Sheet2, there is a reference to a cell on Sheet1 (e.g. A1 on Sheet2 is defined as =Sheet1!A1, for example). I'd like to be able to 1) suspend calculation, 2) delete Sheet1, and then 3) rename Sheet3 to Sheet1, and finally 4) context.sync (or re-enable calculation). The goal of suspending calculation is so that th